ttt-feedback {
    // margin: 0 auto;
    width: 100%;
    .cardPaddings {
        padding: 0px !important;
        box-shadow: none !important;
        // border: 1px solid #eee;
    }
    .back {
        width: 40px;
        height: 40px;
        border: 2px solid #507BFC;
        color: #507BFC;
        background: transparent;
        font-size: 26px;
        border-radius: 50%;
    }
    .page_top_grid {
        display: grid;
        grid-template-columns: 70px 6fr;
        margin: 0;
        height: 60px;
        font-size: 20px;
        background: transparent;
        border-radius: 10px;
        width: 100%;
        padding: 0;
        align-items: center;
        height: 100%;
        margin-bottom: 50px;
        .downloadbtn {
            background: #507BFC;
            border: none;
            font-size: 22px;
            color: #fff;
            // border: 2px solid;
            height: 50px;
            width: 53px;
            text-align: center;
            // line-height: 50px;
            padding: 0;
            margin: auto;
            border-radius: 25px;
            cursor: pointer;
            outline: none;
            box-shadow: 4px 7px 16px 0 #0796d685;
        }
    }
    .tableHeading {
        border-top: 1px solid #e9e9e9;
        background: #f5f6f8;
        font-weight: 500;
        td {
            text-align: center !important;
        }
        &:last-child {
            border-top: none;
        }
    }
    .tableRow {
        font-size: 15px;
        display: grid;
        grid-template-columns: 1fr 7fr 1.5fr;
        border-bottom: 1px solid #e9e9e9;
        padding: 6px 0;
        td {
            // padding-left: 20px;
            text-align: left;
        }
    }
    .tableRow:nth-child(even) {
        // background: #eee;
    }
    .tableData {
        margin: auto 0;
    }
    .titlePara {
        margin: auto;
        // line-height: 18px;
    }
    .lastCellPara {
        margin: auto;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        // padding: 0 40px;
    }
    .star.medium,
    .rating.medium .star {
        // width: 70px !important;
        // height: 30px !important;
    }
    .lastCellPadding {
        margin: auto 0;
    }
    .quesNo {
        // width: 80px;
        // height: 80px;
        // line-height: 80px;
        margin: auto;
        // text-align: center;
    }
    .full-width {
        width: 100%;
    }
    .courseWrapper {
        width: 100%;
    }
    star-rating {
        outline: none;
    }
    .rating {
        justify-content: left !important;
        outline: none;
    }
    .rating.color-goldenyellow .star-container .star {
        width: 35px;
        height: 25px;
        margin: 4px;
        // margin-top: -10px;
        svg {
            // fill: #3880ff;
            fill: var(--colorIcons) !important;
        }
        i {
            // color: #3880ff;
            color: var(--colorIcons) !important;
        }
    }
}