<!-- <div *ngIf="currentstepdata.stepId == 2">
  <p *ngIf = "currentstepdata.status == 1">
      Your appoval has been succeded.
  </p>
  <p *ngIf = "currentstepdata.status == 2">
      Your appovalis pending.
  </p>
  <p *ngIf = "currentstepdata.status == 0">
      Your appoval has been rejected.
  </p>
  <p *ngIf = "currentstepdata.status == 3">
      Please fill the nomination first.
  </p>
</div>
<div *ngIf="currentstepdata.stepId == 3">
  <mat-card class="cardPaddings" *ngIf="currentstepdata.status == 1">
    <table style="width: 100%">
      <tr *ngFor="let item of feedback" class="tableRow">
        <td class="quesNo">{{ item.id }}</td>
        <td class="tableData">
          <p class="titlePara">{{ item.fName }}</p>
        </td>
        <td class="lastCellPadding">
          <star-rating
            [starType]="'svg'"
            [rating]="item.value"
            aria-disabled="item.value"
            *ngIf="item.questionTypeId == '4'"
          ></star-rating>

          <p
            class="lastCellPara"
            *ngIf="
              item.questionTypeId == '1' ||
              item.questionTypeId == '2' ||
              item.questionTypeId == '3'
            "
          >
            {{ item.value }}
          </p>
        </td>
      </tr>
    </table>
  </mat-card>
  <div>
    <p *ngIf = "currentstepdata.status == 2">
        Your Evalution Call is pending.
    </p>
    <p *ngIf = "currentstepdata.status == 3">
       Please fill the nomination first.
    </p>
  </div>
</div> -->
<!-- <div class="page_top_grid">
  <div>
      <button class="back" (click)="back()"><i class="fas fa-angle-left"></i></button>
  </div>
</div> -->
<div class="courseWrapper">
    <!-- <p class="courseTITLE">{{currentstepdata.displayName}}</p> -->
    <!-- <p class="courseDescription">Course Description</p> -->
</div>
<div class="ttt-feedback">
    <mat-card class="cardPaddings">
      <table style="width: 100%">
          <tr class="tableRow tableHeading">
              <td class="quesNo">Sr No.</td>
              <td class="tableData">
                <p class="titlePara text-center">Question</p>
              </td>
              <td class="tableData">
                  <p class="titlePara">Answer</p>
                </td>
          </tr>
        <tr *ngFor="let item of feedback" class="tableRow">
          <td class="quesNo">{{ item.id }}</td>
          <td class="tableData">
            <p class="titlePara" [innerHTML]="item.fName"></p>
          </td>
          <td class="lastCellPadding" >
            <star-rating
              [starType]="'svg'"
              staticColor="goldenyellow"
              [rating]="item.value" [numOfStars]="4"
              aria-disabled="item.value"
              space="around"
              *ngIf="item.questionTypeId == '4'"
              disabled = "true"
            ></star-rating>

            <p
              class="lastCellPara"
              *ngIf="
                item.questionTypeId == '1' ||
                item.questionTypeId == '2' ||
                item.questionTypeId == '3'
              "
            >
              {{ item.value }}
            </p>
          </td>
        </tr>

        <tr class="tableRow tableHeading" *ngIf="average">
          <td class="quesNo"></td>
          <td class="tableData">
            <p class="titlePara text-left">
              {{average.label}}
            </p>
          </td>
          <td class="lastCellPadding" >
          <p class="lastCellPara">
            {{average.cnt}}
            </p>
          </td>
        </tr>
      </table>
    </mat-card>
<div>
