.main-content{
    padding: 0 !important;
}

.chatContainer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.chatList{
    padding: 0;
    margin: auto;
    background: #fff;
    height: 100%;
    box-shadow: 2px 0 6px 0 rgba(47,83,151,0.1);
}

.chatListHeader{
    margin: auto;
    padding: 15px;
    height: auto;
    border-bottom: 1px solid #ccc;
    position: sticky;
}

.searchBox{
    height: 50px;
    color: #ccc;
    font-size: 30px;
    border: none;
    width: 100%;
    outline: none;
}

.searchBox::placeholder{
    color: #949393;
}


.searchbtn{
    background: #fff;
    border: none;
    font-size: 30px;
    font-weight: 100;
    color: #949393;
    outline: none;
    cursor: pointer;
}

.chatScreen{
    background: transparent;
    padding: 0;
    margin: 0;
    height: 690px;
}

.chatListUl{
    margin: auto;
    overflow-y: scroll;
    height: 610px;
    padding: 0;
    display: block;
    list-style-type: none;
}

.chatArray{
    margin: 0;
    width: 100%;
    padding: 15px;
    //height: auto;
    height:fit-content;
    border-bottom: 1px solid #ccc;
    position: -webkit-sticky;
    position: sticky;
    list-style: none;
    cursor: pointer;
    color: #333232;
}

.chatArray.activeChat{
    background-color: #507bfc;
    color: #fff !important;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
}

.chatRow{
    margin: 20px auto;
    width: 100%;
}

.alignItmcenter{
    padding: 0;
    text-align: center;
}

.profileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chatName{
    font-size: 1em;
    font-weight: 600;
    line-height: 33px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /* color: red; */
    white-space: normal;
}

.msgPreview{
    // color: #6d6d6d;
    margin: 0;
    line-height: 24px;
}

.lastmsgTime{
    text-align: center;
}

.pendingMsg{
    width: 35px;
    height: 35px;
    text-align: center;
    margin: auto;
    line-height: 35px;
    border-radius: 50%;
    background: #FEA08F;
    color: #fff;
}

.User{
    float: right;
}



.message{
    padding: 15px;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    border-radius: 13px;
    // background: #fff;
    box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
    color: #5b5b5b;
    text-align: justify;
}
.sender{
    background: #ff9868e6;
    color: #fff;
}
.receiver{
    background: #fff;
}
.message2{
    padding: 15px;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    border-radius: 13px;
    background: #ff9868e6;
    box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
    color: #fff;
    text-align: justify;
}
.p16{
    padding:16px;
}
.timeOfMsg{
    line-height: 30px;
    padding: 0 10px;
    color: #807f7f;
}

.timeOfMsg2{
    line-height: 30px;
    padding: 0 10px;
    color: #807f7f;
    text-align: right;
}

.chatScreenFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    background: #fff;
    box-shadow: 0 -2px 6px 0 rgba(47,83,151,0.1);
}

.rowheight{
    margin: auto;
    height: 80px;
    padding: 10px;
}

.typeHere{
    width: 100%;
    font-size: 18px;
    height: 50px;
    border: none;
    line-height: 24px;
    outline: none;
    background: transparent;
    resize: none;
    margin: auto;
    padding: 10px;
}

.typeHere::placeholder{
    line-height: 30px;
}

.sendbtn{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #507bfc;
    outline: none;
}

/*Sample*/

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.rounded-circle {
    border-radius: 50%!important;
}
.user_img_msg {
    height: 60px;
    width: 60px;
}
.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 18px;
    color: #333232;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 16px 16px;
    word-break: break-word;
    position: relative;
}
.msg_time {
    position: absolute;
    left: 10px;
    bottom: -22px;
    color: #868686;
    font-size: 14px;
    font-family: "open sans";
}
/*send*/
.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #FEA08F;
    padding: 16px 16px;
    color: #fff;
    font-size: 18px;
    word-break: break-word;
    position: relative;
}
.msg_time_send {
    position: absolute;
    right: 3px;
    bottom: -22px;
    color: #868686;
    font-size: 14px;
    font-family: "open sans";
    
}
.img_cont_msg {
    height: 60px;
    width: 60px;
}

.chat{
    //height: 610px;
    height: 100%;
    padding-bottom: 80px;
    overflow-y: scroll;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .ng-autocomplete {
    width: 400px;
}
.Eg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top:50%;
    transform: translateY(-50%);
}
.iconsize8em{
    font-size: 8em;
}
.title{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.mR16{
    margin-right: 16px;
}
.soT5xd {
    margin: 8px 14px;
    text-align: center;
}
.kgp9rc {
    margin-left: auto;
    margin-right: auto;
}
.ebeE0d {
    background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7….png) -1197px -133px;
    height: 82px;
    width: 68px;
}
.qJS6W {
    position: relative;
    margin: auto;
    top: 22px;
    left: -1px;
}
.W4rVif {
    background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7….png) -128px -95px;
    height: 24px;
    width: 24px;
}
.Ziild {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mopgBe {
    font-size: 16px;
    color: #37474f;
    line-height: 1.5em;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    width: 100%;
    word-wrap: break-word;
}