<div class="chatContainer">
	<!-- [style.height.px]="myInnerHeight"-->
	<div class="col-md-6 chatList" [style.height.px]="myInnerHeight">
		<div class="col-md-12 text-secondary title">
			Welcome {{userdetail.username}}
		</div>
		<div class="row chatListHeader">
			<!-- <input type="text" placeholder="Search" class="searchBox col-md-11" [(ngModel)]="person"> -->
			<mat-form-field class="col-md-12">
				<input matInput [matAutocomplete]="auto" [formControl]="searchCtrl">
				<mat-placeholder class="placeholder">Search</mat-placeholder>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let user of filteredUsers | async" [value]="user.name"
						(onSelectionChange)="addUserInChatList(user)">
						<span>{{ user.name }}</span> - <span>{{ user.email }}</span>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<!-- <button class="searchbtn col-md-1"><i class="fas fa-search"></i></button> -->
		</div>

		<div class="row chatListUl" [style.height.px]="clientHeight">
			<div *ngFor="let chatItem of data.chatlist | filter:person; let i = index; " class="row chatArray"
				(click)="activeUser(i,prevIndex);selectFriendToChat(chatItem.userid)"
				[ngClass]="{'activeChat': chatItem.active}">
				<div class="col-md-2 alignItmcenter">
					<!-- <img src="{{chatItem.profilePic}}" class="profileImg"> -->
					<img src="./assets/images/jack.png" class="profileImg">
				</div>
				<div class="col-md-8">
					<p class="chatName"> {{ chatItem.username }} </p>
					<p class="msgPreview"> {{ chatItem.messagePeview || 'NA' }} </p>
				</div>
				<div class="col-md-2">
					<p class="lastmsgTime">{{ chatItem.lastMsgTime | date:"hh:mma"}}</p>
					<div class="pendingMsg bg-danger" [hidden]="chatItem.pendingMsgs == 0 && chatItem.pendingMsgs">
						{{ chatItem.pendingMsgs || '0' }}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 chatScreen" [style.height.px]="myInnerHeight">
		<!-- <div class="" *ngFor="let item of chatboxlist" >
        <div *ngIf="item.userid != currentuserid"  class="row col-md-12 justify-content-start">
          <div class="col-md-2 alignItmcenter " >
              <img [src]="item.profilePic" class="profileImg">
          </div>
          <div class="col-md-8">
            <div class="message receiver">{{item.message}}</div>
            <div class="timeOfMsg">{{item.datetime | date:'HH:mm'}}</div>
          </div>
          </div>
          <div *ngIf="item.userid == currentuserid" class="row col-md-12 justify-content-end">
              <div class="col-md-8">
                  <div class="message sender">{{item.message}}</div>
                  <div class="timeOfMsg2">{{item.datetime | date:'HH:mm'}}</div>
                </div>
                <div class="col-md-2 alignItmcenter">
                    <img [src]="item.profilePic" class="profileImg">
                </div>
          </div>
        </div> -->
		<div class="chat" #scrollMe>
			<div *ngIf="chatInit">
				<div *ngFor="let item of data.messages" class="p16">
					<div class="d-flex justify-content-start mb-4" *ngIf="item.fromUserId != userdetail.userId">
						<div class="img_cont_msg">
							<img [src]="item.friendProfilePic" class="rounded-circle user_img_msg">
						</div>
						<div class="msg_cotainer">
							{{item.message}}
							<span class="msg_time">{{item.datetime | date:"hh:mma"}}</span>
						</div>
					</div>
					<div class="d-flex justify-content-end mb-4" *ngIf="item.fromUserId == userdetail.userId">
						<div class="msg_cotainer_send">
							{{item.message}}
							<span class="msg_time_send">{{item.datetime | date:"HH:mm"}}</span>
						</div>
						<div class="img_cont_msg">
							<img [src]="item.userProfilePic" class="rounded-circle user_img_msg">
						</div>
					</div>
				</div>
				<div *ngIf="!data.invite && data.messages.length == 0">
					<div class="a-E Eg">
						<div class="hN soT5xd">
							<!-- <div class="kgp9rc ebeE0d">
                  <div class="qJS6W W4rVif"></div>
                </div> -->
							<i class="fa fa-comment text-secondary iconsize8em" aria-hidden="true"></i>
							<div class="Ziild">
								<div class="Cb5AFb mopgBe">Start a conversation with
									<strong>{{data.selectedFriendName}}</strong>!</div>
								<!-- <div class="GM4qDf">Enter invite message</div> -->
							</div>
							<div class="ZrxcBe Y6eeve" role="alert"></div>
							<!-- <button class="btn btn-warning" (click)="inviteuser(UserId,data.selectedFriendId)">Send Invite</button> -->
						</div>
					</div>
				</div>
				<!--Send Invitation to new user-->
				<div *ngIf="data.invite && !chatUser.online" class="p16">
					<div class="a-E Eg">
						<div class="hN soT5xd">
							<!-- <div class="kgp9rc ebeE0d">
              <div class="qJS6W W4rVif"></div>
            </div> -->
							<i class="fa fa-user text-secondary iconsize8em" aria-hidden="true"></i>
							<div class="Ziild">
								<div class="Cb5AFb mopgBe">Start a conversation with
									<strong>{{data.selectedFriendName}}</strong>!</div>
								<!-- <div class="GM4qDf">Enter invite message</div> -->
							</div>
							<div class="ZrxcBe Y6eeve" role="alert"></div>
							<button class="btn btn-warning" (click)="inviteuser(UserId,data.selectedFriendId)">Send
								Invite</button>
						</div>
					</div>
				</div>
				<!--Accpet and Reject Invitation from user-->
				<div *ngIf="chatUser.accepted === 0 && chatUser.invited === 0 && chatUser.rejected === 0" class="p16">
					<div class="a-E Eg">
						<div class="hN soT5xd">
							<!-- <div class="kgp9rc ebeE0d">
                  <div class="qJS6W W4rVif"></div>
                </div> -->
							<i class="fa fa-comments text-secondary iconsize8em" aria-hidden="true"></i>
							<div class="Ziild">
								<div class="Cb5AFb mopgBe">Invitation!</div>
								<div class="GM4qDf">You'll be able to chat with
									<strong>{{data.selectedFriendName}}</strong> once your invitation has been accepted.
								</div>
							</div>
							<div class="ZrxcBe Y6eeve" role="alert"></div>
							<button id="accepted" class="btn btn-success mR16"
								(click)="inviteresponse(chatUser.userid,1,0)">Accept</button>
							<button id="rejected" class="btn btn-danger"
								(click)="inviteresponse(chatUser.userid,0,1)">Reject</button>
						</div>
					</div>


				</div>

				<div *ngIf="chatUser.invited === 1 && chatUser.accepted === 0 && chatUser.rejected === 0" class="p16">
					<div class="a-E Eg">
						<div class="hN soT5xd">
							<!-- <div class="kgp9rc ebeE0d">
                  <div class="qJS6W W4rVif"></div>
                </div> -->
							<i class="fa fa-envelope text-secondary iconsize8em" aria-hidden="true"></i>
							<div class="Ziild">
								<div class="Cb5AFb mopgBe">Invite Pending!</div>
								<div class="GM4qDf">You'll be able to chat with
									<strong>{{data.selectedFriendName}}</strong> once your invitation has been accepted.
								</div>
							</div>
							<div class="ZrxcBe Y6eeve" role="alert"></div>
							<!-- <button class="btn btn-warning" (click)="inviteuser(UserId,data.selectedFriendId)">Send Invite</button> -->
						</div>
					</div>
					<div>
						<!-- <br>
          You'll able to chat with {{data.selectedFriendName}} -->
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row chatRow justify-content-start">
      <div class="col-md-2 alignItmcenter ">
          <img src="./assets/images/eva.png" class="profileImg">
      </div>
      <div class="col-md-8">
        <div class="message receiver">Hi, Did you confirm the course for “Fly and Catch Program”</div>
        <div class="timeOfMsg">08:52 AM </div>
      </div>
    </div>

      <div class="row chatRow justify-content-end">
          <div class="col-md-8">
            <div class="message sender">Hi, Did you confirm the course for “Fly and Catch Program”</div>
            <div class="timeOfMsg2">08:52 AM </div>
          </div>
          <div class="col-md-2 alignItmcenter">
              <img src="./assets/images/eva.png" class="profileImg">
          </div>
    </div> -->


		<div class="chatScreenFooter" *ngIf="!data.invite && chatInit">
			<div class="row rowheight">
				<textarea rows="1" cols="5" class="typeHere col-md-11" placeholder="Type your message here"
					[(ngModel)]="message" (keyup.enter)="sendChatMessage($event,message)"></textarea>
				<button class="sendbtn col-md-1" (click)="sendChatMessage($event,message)"><i
						class="fas fa-paper-plane"></i></button>
			</div>
		</div>

	</div>