@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@include nb-install-component() {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .socials {
        font-size: 2rem;
        a {
            padding: 0.4rem;
            color: nb-theme(color-fg);
            transition: color ease-out 0.1s;
            &:hover {
                color: nb-theme(color-fg-heading);
            }
        }
    }
    @include media-breakpoint-down(is) {
        .socials {
            font-size: 1.5rem;
        }
    }
}

.custom-footer {
    width: 100%;
    // padding: 0px !important;
    background: #ebeff5;
    // position: absolute;
    // bottom: 0;
    // width: calc(100% - 5rem);
    color: #707070;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    .logo {
        .imgftwid {
            width: 100px;
        }
        label {
            font-size: 13px;
            vertical-align: middle;
        }
    }
    .nav {
        width: 25%;
        span {
            font-size: 13px;
            color: #1282CE;
            cursor: pointer;
        }
    }
}
