<!-- <span class="created-by">Created with ♥ by <b><a href="https://akveo.com" target="_blank">Akveo</a></b> 2017</span>
<div class="socials">
    <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
</div> -->

<div class="px-4 py-3 text-center custom-footer">
    <div class="inner-footer d-flex justify-content-between align-items-center">
        <div class="logo">
            <img class="imgftwid" src="../../../assets/edge-logo/edge-blue-full.png" width="100" alt="edge-logo">
            <label class="m-0 pl-2">Copyright © 2020 Edge, Inc.</label>
        </div>
        <div class="nav d-flex justify-content-around">
            <span class="curspoint" (click)="goToTerms()">Terms</span>
            <span class="curspoint" (click)="goToPolicy()">Privacy Policy</span>
            <span class="curspoint" (click)="goToHelp()">Help and Support</span>
        </div>
    </div>
</div>
