<div class="welcomeContainer">  
    <div class="row resetdivCol12" [hidden]="welcomepagevar">
        <div class="col-md-5 resetdivCol5">
            <p class="mytext">Reset your Password</p>
            <p>Your new password should be different from previous one.</p>
        </div>

        <div class="col-md-7 resetdivCol7"  >
            <form [formGroup]="resetPwdForm" class="resetPwdForm" >

                <div class="col-md-12 form-group">
                    <mat-hint class="pageno">3/3</mat-hint>
                    <div class="please-fill-the-deta col-md-12">
                        <h4>Set your password</h4>
                    </div>
                    <mat-form-field class="width100">
                        <input type="password" matInput placeholder="Password" [(ngModel)]="password" formControlName="password" passwordToggle [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  />
                        <mat-error *ngIf="submitted && f.password.errors">
                            <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                            <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- (input)="onInput($event.target.value)" -->
                <div class="col-md-12 form-group">
                    <mat-form-field class="width100">
                        <input type ="password" matInput placeholder="Confirm Password" [(ngModel)]="confirm_pass"  passwordToggle formControlName="confirm_pass" [ngClass]="{ 'is-invalid': submitted && f.confirm_pass.errors }" >
                        <mat-error *ngIf="submitted && f.confirm_pass.errors">
                            <mat-error *ngIf="f.confirm_pass.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                            <mat-error *ngIf="f.confirm_pass.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                        </mat-error>
                        <mat-error [hidden]="!passWrong">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password does not match
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="btns">
                    <button class="nxtbtn resendbtn" (click)='goBack()'>Cancel</button>
                    <button class="nxt nxtbtn" (click)='onSubmit()'>Set</button>
                </div>			
            </form> 
        </div>
    </div>

 
  <div class="row resetdivCol12" [hidden]="!welcomepagevar">
  
      <div class="col-md-5 resetdivCol5">
          <p class="check "><i class="fa fa-check" aria-hidden="true"></i></p>
      </div>
  
  
      <div class="col-md-7 resetdivCol7"  >
        <div class="verifyingtxt">
          <p class="heading">Welcome back!</p>
          <p class="sub-heading">You're password has been successfully changed.</p>
        
          <div class="btns2">
              <button class="nxt nxtbtn" (click)='gotoLogin()'>Go</button>
         </div>	
        </div>  
         		
      </div>
  
  </div> 
</div>
