.welcomeContainer{
	min-height: 100vh;
	box-sizing: border-box;
}

.resetdivCol12{
	min-height: 100%;
    box-sizing: border-box;
	width: 100%;
	margin: 0 !important;

}

.resetdivCol5{
    // background-color: #507bfc;
    background-color: var(--colorBgbtn);
    min-height: 100%;
    padding: 15% 8% !important;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.resetdivCol7{
	box-sizing: border-box;
	background-image: Url('../assets/pageBackground/Group7.png');
	background-origin: border-box;
	background-repeat: no-repeat;
	min-height: 100%;
	padding: 0 !important;
	background-size: cover;
}

.mytext {
    // color: #FFFFFF;
    color: var(--colorBtnTxt);
	// font-family: 'Open Sans', sans-serif;
    font-size: 50px !important;
    font-weight: 100;
    text-align: center;
    margin: 0;
}


.check {
    // color: #FFFFFF;
    color: var(--colorBgbtn);
    // font-family: "Roboto";
    font-size: 155px !important;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.please-fill-the-deta {
	height: 33px !important;
    width: 100%;
	color: #464646;
	font-family: 'Open Sans', sans-serif;
	line-height: 33px;
}

.pageno{
  color: #464646;
	padding-left: 12px;
}

.resetPwdForm{
	/* // padding: 40vh; */
	width: 100%;
	padding: 15% 20%;
	box-sizing: border-box;
}

.width100{
	width: 100%;
}

.btns{
	padding-left:25px;
	padding-top: 25px;
	font-family: "Open Sans";
}

.nxt {
	font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 19px;
	text-align: center;
	padding: 30px 10px;
}

.nxtbtn{
    border: none;
    // background-color: #507BFC;
    // color: #fff;
    // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    background-color: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBgbtn);
	border-radius: 100px;
	width: 120px !important;
    cursor: pointer;
}

.resendbtn{
    // border: 1px solid #b5acac !important;
    // background-color: #fbfcff !important;
    // color: #928888 !important;
    background-color: var(--colorBtnTxt);
  color: var(--colorBgbtn);
  border: 1px solid var(--colorBgbtn);
	margin-right: 30px
}

.marginTop46{
	margin-top: 46px;
}

.marginTop40{
	margin-top: 40px;
}

.marginBottom30{
	margin-bottom: 30px;
}


.verifyingtxt{
	width: 100%;
	padding: 29% 20%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.heading{
    font-size: 55px;
    color: #507bfc;
    font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.sub-heading{
    font-size: 20px;
	color: #00000070;
	font-family: 'Open Sans', sans-serif;
}

.btns2{
	padding-top: 55px;
	font-family: "Open Sans";
}

@media (min-width: 320px){
	.welcomeContainer{
		height: 50vh;
	}
	.resetPwdForm{
		padding: 0px !important;
	}

	.width100{
		padding: 10px 16px;
	}



	.marginTop46{
		margin-top: 35;
	}

	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
}

  @media (min-width: 420px){
	.welcomeContainer{
		height: 50vh;
	}


	.please-fill-the-deta {
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}

	.resetPwdForm{
		/* // padding: 40vh; */
		padding: 0px !important;
	}

	.width100{
		padding: 10px 16px;
	}


	.nxtbtn{
		/* // border: none; */
		padding: 10px 35px;
		width: 150px;
	}

	.marginTop46{
		margin-top: 35px;
	}

	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}

  }

  @media (min-width: 520px){
	.welcomeContainer{
		height: 50vh;
	}

	.please-fill-the-deta {
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}

	.resetPwdForm{
		/* // padding: 40vh; */
		padding: 0px !important;
	}

	.width100{
		padding: 10px 16px;
	}


	.nxtbtn{
		padding: 10px 35px;
	}

	.marginTop46{
		margin-top: 35;
	}

	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}

  }


  @media (min-width: 768px){
	.welcomeContainer{
		height: 100vh;
	}

	.please-fill-the-deta {
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}

	.resetPwdForm{
		padding: 16px !important;
		margin-top: 30%;
	}

	.width100{
		padding: 10px 16px;
	}


	.nxtbtn{
		/* // background: transparent;
		// border: none; */
		padding: 10px 35px;
	}

	.marginTop46{
		margin-top: 35;
	}

	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}

  }

  @media (min-width: 842px){
	.welcomeContainer{
		height: 100vh;
	}

	.please-fill-the-deta {
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}

	.resetPwdForm{
		padding: 16px !important;
		margin-top: 30%;
	}

	.width100{
		padding: 10px 16px;
	}


	.nxtbtn{
		/* // background: transparent; */
		/* // border: none; */
		padding: 10px 35px;
	}

	.marginTop46{
		margin-top: 35;
	}

	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}

  }

  @media (min-width: 1024px){
	.welcomeContainer{
		height: 100vh;
	}


	.please-fill-the-deta {
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}

	.resetPwdForm{
		padding: 100px !important;
		margin-top: 10%;
	}

	.width100{
		padding: 10px 16px;
	}


	.nxtbtn{
		/* // background: transparent;
		// border: none; */
		padding: 10px 35px;
	}

	.marginTop46{
		margin-top: 35;
	}

	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}

  }

  @media (min-width: 1440px){


}
