<div class="flexline">
      <div class="arrow">
          <i class="fas fa-chevron-left"></i>
      </div>
      <div class="slider">
        <div class="slide" *ngFor="let day of days; let first = first" [ngClass]="{'selectedSlide': first }">
          {{ day }}
        </div>
      </div>
      <div class="arrow">
          <i class="fas fa-chevron-right"></i>
      </div>
  
  
      <!-- <div
      ng2-carouselamos
      [width]="500"
      [items]="day"
      [$item]="itemTemplate"
      [$prev]="prevTemplate"
      [$next]="nextTemplate"
      (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"
    ></div>
     
    <div>
      Current item selected
    </div>
     
    <ng-template #prevTemplate>
      <img src="prev.png" />
    </ng-template>
     
    <ng-template #nextTemplate>
      <img src="next.png" />
    </ng-template>
     
    <ng-template let-item let-i="index" #itemTemplate>
      <div style="min-width: 200px">
        <b *ngIf="i === selectedIndex">{{ item }}</b>
        <span *ngIf="i !== selectedIndex">{{item}}</span>
      </div>
    </ng-template> -->
  
  </div>
  <div class="mainbody">  
    <div class="row m-auto">
      <div class="col-md-4 colpad1" *ngFor="let cards of toDoList; let t = index">
        <div class=" card todoCard">
          <div class="card-head">
            {{ cards.title }}
          </div>
          <div class="card-body todoCardBody">
            <ul class="padding0">
              <li class="listItem"  *ngFor = "let items of cards.thingsToDo; let i = index" (click)="cutFromTheList(t, items, i)">
                <div class="col-1 bullet" *ngIf="items.completedStatus == false">
                  <i class="fas" [ngClass]="{'fa-heart': cards.id==1 ,'fa-star': cards.id== 2 , 'fa-thumbs-up': cards.id==3 }"></i>                                      
                </div>
                <div class="col-1 tick" *ngIf="items.completedStatus == true">
                  <i class="fas" [ngClass]="{'fa-heart pinkcolr': cards.id==1 ,'fa-star yellowclr': cards.id== 2 , 'fa-thumbs-up blueclr': cards.id==3 }"></i>  
                </div>
                <div class="m-0 col-8" [ngClass]="{'strikeItem': items.completedStatus == true}">
                  <div class="listitm">{{ items.work }}</div>
                </div>
                <div class="status col-3" *ngIf="items.completedStatus == false">
                  <button class="progrsbtn">In Progress</button>
                </div>
                <div class="status col-3" *ngIf="items.completedStatus == true">
                  <button class="completebtn">Completed</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>