.borderNone {
    border: none !important;
}

.m-auto{
    margin: auto;
}

.mainbody{
    margin-top: 70px;
}

.listitm{
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin: auto;
}

.card-head{
    height: 50px;
    width: 100%;
    background: transparent;
    color: #7d7d7d;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.todoCard{
    min-height: 100px;
    border: none;
    background: transparent;
    border-radius: 5px;
}

.padding0{
    padding: 0 !important;
    margin: 0;
    list-style: none;
}

.listItem{
    padding: 15px;
    height: 70px;
    // text-align: justify;
    // line-height: 70px;
    display: -webkit-box;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 10px 0 #ccc;
    box-shadow: 1px 2px 10px 0 #ccc;
}

.bullet{
    width: 22px;
    height: 20px;
    text-align: center;
    margin: auto 0;
    font-size: 20px;
    line-height: 20px;
    border-bottom-left-radius: 20px;
    /* margin-right: 15px; */
    border-top-right-radius: 20px;
    padding: 0;
}

.todoCardBody{
    padding: 0px;
}

.fa-heart{
    color: #f94377;
}

.pinkcolr{
    color: #ffa9c2;
}

.fa-star{
    color: #ffc53f;
}

.yellowclr{
    color: #fdedc8;
}

.fa-thumbs-up{
    color: #17d9ee;
}

.blueclr{
    color: #a9f7ff;
}

.status{
    margin: auto;
    padding: 0;
}

.progrsbtn{
    height: 35px;
    min-width: 105px;
    margin: auto;
    background: transparent;
    border: 1px solid #7b7677;
    border-radius: 25px;
    color: #7b7677;
}

.completebtn{
    height: 35px;
    min-width: 105px;
    margin: auto;
    background: transparent;
    border: 1px solid #2bb900;
    border-radius: 25px;
    color: #2bb900;
}


.tick{
    width: 22px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: auto;
    padding: 0;
}

.strikeItem{
    text-decoration: line-through;
}

.disp-flex{
    display: flex;
}

.arrow{
    width: 50px;
    text-align: center;
    margin: auto 0;
    font-size: 18px;
}

.flexline{
    display: flex;
}

.slider{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.colpad1{
    padding: 0 5px;
}

.slide{
    min-width: 150px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    border-left: 1px solid #ccc;
    border-right: 0px solid #ccc;
}

.selectedSlide{
    color: #fff;
    background: #2795d0d4;
}