.cardSingle{
  border-radius: 10px;
  position: relative;
  background: #FFF;
  // border-top-right-radius: 10px;
  cursor: pointer;
.content_align{

  height: 100%;
  display: grid;

}
  .upcoming-container {
      position: absolute;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      z-index: 2;
      color: #fff;
      text-align: center;
      // top: 5;
      display: grid;
      align-items: center;
      border-radius: 8px;
      .inside-content{
        i {
          font-size: 20px;
        }
        p {
          font-size: 15px;
          margin: 6px 0;
        }
    }
  }

  .card_image{
      // background-image: url(assets/images/open-book-leaf.jpg);
      height: 160px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center !important;
      display: grid;
      border-top-left-radius: 7px;
      border-top-right-radius: 10px;
      // border-left: 5px solid #f0a24f;
      .card_label{
          // width: 35px;
          // /* padding: 5px 0; */
          // border-top-right-radius: 10px;
          // border-bottom-left-radius: 10px;
          // margin-left: auto;
          // height: 25px;
          // text-align: center;
          // display: flex;
          // justify-content: center;
          // align-items: center;
      }

      .progressDiv-card{
      //    align-self: flex-end;
      //    margin: 10px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         .badge_container_cap{
              // background: #507BFC;
              color: #fff;
              height: 25px;
              width: 120px;
              display: flex;
              margin-left: auto;
              justify-content: center;
              // border-bottom-right-radius: 10px;
              align-items: center;
              // border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              border-top-right-radius: 10px;
              font-size: 13px;
          }
          .badge_container_cap_mandtory{
              background-color: #f0a24f;
          }
          .badge_container_cap_recommended{
              // background: #DAA0FE;;
              background-color: #DAA0FE;
              // color: #fff;
          }
          .badge_container_cap_aspirational{
              background-color: #5ACEF7;
              // background: #5ACEF7;
              // color: #fff;
          }
          .badge_container_cap_enrolled{
              background-color: #e6beff;
              // background: #e6beff;
              // color: #fff;
          }
          .badge_container_cap_OPEN{
              background-color: #99B1FC;
              // background: #99B1FC;
              // color: #fff;
          }
          .badge_container_percent{
              font-size: 14px;
              background: #1a1a1a94;
              color: #fff;
              width: 60px;
              border-top-right-radius: 10px;
              align-items: center;
              height: 25px;
              display: flex;
              justify-content: center;
          }
          .badge_container_bundle{
              background: #507BFC;
              color: #fff;
              height: 25px;
              width: 40px;
              // margin-left: auto;
          }
      }
      .progressDiv-card:last-child{
          align-self: flex-end;
      }
  }
  .card_content{
      padding: 10px 10px 0;
      background: #FFF;
      .title_Card{
          font-size: medium;
          color: #646464;
          font-family: roboto;
      }
      .card_content_grid{
          display: grid;
          grid-template-columns: 1fr 1.25fr 1.5fr;
          align-items: end;
          // height: 25px;
          padding: 7px 0 5px 0;

          .card_subtitles{
              font-size: smaller;
              margin: 0;
              color: #4e4e4e;
              // margin-bottom: 7px;
              text-align: center;
              &:first-child{
                  text-align: left;
              }
              &:last-child{
                  text-align: right;
              }
              span{
                  display: inline-block;
                  margin-left: 5px;
              }
          }
      }

  }


  .card_footer{
      display: flex;
      // display: grid;
      padding-top: 7px;
      padding-bottom: 4px;
      grid-template-columns: 1fr 1fr 1fr;
      // border-top: 1px solid #eee;
      background: #FFF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .card_content_footer{
          width: 100%;
          text-align: center;
          align-self: center;
          border-right: 1px solid #eee;
          color: #aea4a4;
          font-size: 13px;
          padding-top: 7px;
          border-top: 1px solid #eee;
          padding-bottom: 4px;
      }
      .card_content_footer:last-child{
          border-right: 0px;
      }
  }
  .self-enrol-buttonO {
      align-self: center;
      background: #FFF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      .self-enrol-button-text {
          display: inline-block;
          text-align: center;
          /* height: 20px; */
          /* line-height: 20px; */
          color: #000;
          background: #ffff;
          margin-left: auto;
          font-size: 13px;
          border: 1px solid #507BFC;
          padding: 4px 50px;
          /* width: 100px; */
          border-radius: 30px;
          margin: 0 auto;
          margin: 20pxx;
          text-align: center;
      }
      .pending-for-approval{
          font-size: 13px;
          color: #FFA045;
      }
  }
}
.card_label_mandtory{
      border-left: 5px solid #f0a24f;
  }
  .card_label_recommended{
      // background: #DAA0FE;;
      border-left: 5px solid #DAA0FE;
      // color: #fff;
  }
  .card_label_aspirational{
      border-left: 5px solid #5ACEF7;
      // background: #5ACEF7;
      // color: #fff;
  }
  .card_label_enrolled{
      border-left: 5px solid #e6beff;
      // background: #e6beff;
      // color: #fff;
  }
  .card_label_OPEN{
      border-left: 5px solid #99B1FC;
      // background: #99B1FC;
      // color: #fff;
  }

  .online_icon{
    height: 15px;
    width: 15px;
}
.active {
  color: #507bfc !important;
}
