<!-- <div style="width: 33%; margin: 0 auto;"> -->
  <div class="cardSingle" [ngClass]="{ 'card_label_mandtory' : data?.courseType=='MANDATORY','card_label_recommended' : data?.courseType=='RECOMMENDED' || data?.courseType=='ASPIRATIONAL'  ,'card_label_enrolled' : data?.courseType == 'SELF', 'card_label_OPEN' : data?.courseType=='OPEN'}" >
    <div class="upcoming-container" *ngIf="data?.compStatus == 'UPCOMING' && data.workflowid == null">
      <div class="inside-content">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          <p>The Course will start from {{data?.startDate }}</p>
      </div>
      <div class="card_image" [style.background-image]="bindBackgroundImage(data?.typeImage)" (click)="fireEvent('goToCourse', data, 'NA')" >
      </div>
  </div>
  <div class="upcoming-container" *ngIf="data.wait && data.workflowid !== null">
    <div class="inside-content">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <p *ngIf="data.cascade_course_flag == 1">Complete the ' {{data.dependentCourseName}} ' course to access this.</p>
        <p *ngIf="data.cascade_course_flag == 0">This course will start from ' {{data.cascade_start_date }} '.</p>
    </div>
</div>
    <div class="content_align">

            <div class="card_image" [style.background-image]="bindBackgroundImage(data?.typeImage)"  (click)="fireEvent('goToCourse', data, 'NA')" >

                <!-- [ngClass]="{ 'legenddiv-mandatory' : data?.courseType=='MANDATORY','legenddiv-recommended' : data?.courseType=='RECOMMENDED','legenddiv-aspirational' : data?.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : data?.courseType=='SELF'}" -->
                <div class="progressDiv-card">
                        <div class="card_label " >
                                <!-- <span> {{data?.courseType | slice:0:1}}</span>  -->
                         </div>
                        <div class="badge_container_cap" [ngClass]="{ 'badge_container_cap_mandtory' : data?.courseType=='MANDATORY','badge_container_cap_recommended' : data?.courseType=='RECOMMENDED','badge_container_cap_aspirational' : data?.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : data?.courseType == 'SELF', 'badge_container_cap_OPEN' : data?.courseType=='OPEN'}">
                                <!-- <i class="fa fa-graduation-cap"></i> -->
                                {{  data?.courseType === 'OPEN' ? 'CATALOGUE' : data?.courseType  | uppercase}}
                        </div>


                </div>

                    <div class="progressDiv-card">
                            <div class="badge_container_percent badge_container" *ngIf="data?.compStatus!='OPEN'">{{ ProgressInWhole(data?.percComplete) }} %</div>
                            <!-- <div class='self-enrol-buttonO' *ngIf="card.compStatus=='OPEN'" (click)='enrolInCourse(data)' >
                                    <span class='self-enrol-button-text'>Enrol</span>
                                </div> -->
                   </div>
                </div>
                <!-- [ngClass]="{ 'card_label_mandtory' : data?.courseType=='MANDATORY','card_label_recommended' : data?.courseType=='RECOMMENDED','card_label_recommended' : data?.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : data?.courseType == 'SELF', 'card_label_enrolled' : data?.courseType=='OPEN'}" -->
            <div class="card_content"  (click)="fireEvent('goToCourse', data, 'NA')" >
                        <div class="title_Card">{{ data?.courseTitle }}</div>
                        <!-- {{ data?.earnpoints }} /  -->
                        <div class="card_content_grid">
                                <div class="card_subtitles">Pts: {{ data?.cpoints }}</div>
                                <div class="card_subtitles"><img [src]="data?.type2Image" class="online_icon"/>  {{ data?.courseType2 }}</div>
                                <p class="card_subtitles"><i class="far fa-calendar-alt"></i>   <span *ngIf="!data?.endDate"> NA </span>
                                    <span *ngIf="data?.endDate"> {{ data?.endDate  }} </span></p>
                        </div>

            </div>
            <!-- [ngClass]="{ 'card_label_mandtory' : data?.courseType=='MANDATORY','card_label_recommended' : data?.courseType=='RECOMMENDED','card_label_recommended' : data?.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : data?.courseType == 'SELF', 'card_label_enrolled' : data?.courseType=='OPEN'}" -->
            <div class="card_footer" *ngIf="data?.compStatus!='OPEN' && data?.approvalStatus !='Enroled'">
                        <div class="card_content_footer">
                            <i class="fa fa-thumbs-up" [ngClass]="{'active' : data?.isLike === 1}"
                            (click)="fireEvent('likeDislike',data, 1)"></i>
                        </div>
                        <div class="card_content_footer">
                            <i class="fa fa-thumbs-down" [ngClass]="{'active' : data?.isDislike === 1}"
                            (click)="fireEvent('likeDislike',data, 2)"></i>
                        </div>
                        <!-- <div class="card_content_footer">
                            <i class="fa fa-download"></i>
                        </div> -->
            </div>
            <div class='self-enrol-buttonO' *ngIf="data?.compStatus=='OPEN'  && data?.approvalStatus == 'Enroled'" (click)="fireEvent('enrolSelf', data,'NA')" >
              <span class='self-enrol-button-text' *ngIf="data?.approvalStatus !='Pending'">Enrol</span>
              <span class='pending-for-approval' *ngIf="data?.approvalStatus =='Pending'">Pending For Approval</span>
        </div>
    </div>
  </div>
<!-- </div> -->

