<div class="mainPadding">

    <!-- <mat-horizontal-stepper>
    <mat-step *ngFor="let step of stepsData; let i = index;" (click)="stetdetail(step)">
      <div>{{step.displayName}}</div>
            <ng-template matStepLabel>
                <p>{{step.displayName}}</p>
              </ng-template>
    </mat-step>

    [completed]="step.completedStatus"
    <ng-template matStepperIcon="edit">
        <mat-icon><i class="fas fa-pencil-alt"></i></mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
        <mat-icon><i class="fas fa-check"></i></mat-icon>
      </ng-template>
  </mat-horizontal-stepper> -->
    <!-- [ngClass]="{'activeStep': stepIndex == stepSelected - 1 && selectedRow == rowIndex, 'completedStep': step.status == '1', 'rejectedStat': step.status == '0', 'pendingStat': step.status == '2'}" [disabled]="!step.clickableType" -->

    <!-- <h1> {{ selectedstep }} </h1> -->
    <!-- <h1>{{ temp.displayName }}</h1> -->
    <!-- <div class="stepColumn">
    <button
      class="stepno"
      [ngClass]="{
        completedStep: step.status == '1',
        rejectedStat: step.status == '0',
        pendingStat: step.status == '2',
        incompletestep: step.status == '3'
      }"
      (click)="stetdetail(stepIndex, step)"
      *ngFor="let step of stepsData; let stepIndex = index"
    >
      <p class="stepLabel">
        {{ step.stepOrder }}
      </p>
      <p class="stepname">{{ step.displayName }}</p>
    </button>
  </div> -->
    <!-- <div class="content_full_width text-right">


  </div> -->




    <div class="parent_ttt_nomination">

        <div class="stepper-container">
            <div class="bs-vertical-wizard">
                <div class="recert_container mb-2 color_primary" *ngIf="workflowdetail?.recertWf === 1">
                    <i class="fa fa-registered" style="margin-right: 5px;"></i> : {{workflowdetail?.recertWfMsg}}
                </div>
                <div class='wfContainer'>
                    <div class='wfName'>
                        {{workflowdetail.instanceName}}
                    </div>
                    <div title="Refresh" class="refresh_icon" (click)="refreshSteps()">
                        <i class="fas fa-sync-alt"></i>
                    </div>

                </div>
                <ul>
                    <!-- ,          current: selectedstep == step.stepId -->
                    <li *ngFor="let step of stepsData; let stepIndex = index" (click)="goToNextStep(stepIndex, step)" [ngClass]="{
            complete: step.status == '1' ,
            locked: step.status == '0' && !selectedstep == step.stepId,
            locked: step.status == '2' && !selectedstep == step.stepId,
            locked: step.status == '3' && !selectedstep == step.stepId,
            current: stepIndex == selectedstepindex
            }">
                        <div class="container_name">
                            {{ step.displayName }}
                            <i *ngIf="step?.isRecert === 1 && workflowdetail?.recertWf === 1" class="fa fa-registered color_primary"></i>
                            <!-- -- {{step.stepId}} -- {{selectedstep}} --{{selectedstep == step.stepId}} -->

                            <i class="ico fa fa-check ico-green" *ngIf="step.status == '1'  "></i>
                            <i class="ico-pending fa fa-exclamation-circle ico-muted" *ngIf="(step.status == '2' || step.status == '3')"></i>
                            <i class="ico fa fa-lock ico-lock" aria-hidden="true" *ngIf="step.status == '0'"></i>
                            <!-- <i class="ico fa fa-lock ico-muted" *ngIf="step.status == '0' && !(step.stepId == selectedstep)"></i> -->
                            <!-- <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span> -->
                        </div>
                    </li>
                    <!-- <li class="current">
              <div> Hello
                <i class="ico-pending fa fa-exclamation-circle ico-muted" aria-hidden="true" ></i>
              </div>
          </li> -->
                </ul>
            </div>
        </div>
        <div class="stepper_data_conatiner">
            <!-- <mat-horizontal-stepper [completed]="false" [editable]="false" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepperIcon="number" let-index="index">
        1
        </ng-template>
        <ng-template matStepLabel>Instructions</ng-template>
   asdasdsadsadsadsadsadsa
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepperIcon="number" let-index="index">
       2
          </ng-template>
        <ng-template matStepLabel>Content</ng-template>
        123423432233123
      </mat-step>
    </mat-horizontal-stepper> -->
            <div *ngIf="!stepRejected">
                <div class="information_container" *ngIf="temp?.defaultMsg?.length !=0">
                    <!-- <h5>Instructions :</h5> -->

                    <div class="instruction_container" [innerHTML]="temp?.defaultMsg"></div>
                </div>
                <div class="mattabs content_center" *ngIf="selectedstep == 1">
                    <mat-tab-group [(selectedIndex)]="selectedIndex">
                        <mat-tab label="Terms and Conditions" class="tab_center">
                            <code-of-conduct [response_data]="this.stepsData[0]" (passData)="componentDataPassedd($event)"></code-of-conduct>
                        </mat-tab>

                        <mat-tab label="Profile" class="tab_center" [disabled]="disabledTab">
                            <profile-form [response_data]="this.stepsData[0]" [tab_changed]="disabledTab" (passData1)="componentDataPass($event)"></profile-form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="mattabs content_center" *ngIf="selectedstep == 2">
                    <div class="pending_status">
                        <div class="accepted statusDiv" *ngIf="temp.status == 1">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <p>BH approval is Accepted.</p>
                        </div>

                        <div class="pending statusDiv" *ngIf="temp.status == 2">
                            <i class="fas fa-hourglass-half"></i>
                            <p>BH approval is pending</p>
                        </div>

                        <div class="approval statusDiv" *ngIf="temp.status == 3" style='top:65%'>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <p>Please complete first step and wait for the approval</p>
                        </div>

                        <div class="rejected statusDiv" *ngIf="temp.status == 0">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            <p>Your approval has been rejected.</p>
                        </div>
                    </div>
                </div>
                <div class="mattabs " *ngIf="selectedstep == 3">
                    <div class="pending_status">
                        <!-- <p *ngIf="this.stepsData[2].status == 2"
        <p *ngIf="this.stepsData[2].status == 2">Your Evalution Call is pending.</p>
        <p *ngIf="this.stepsData[2].status==1">Your appoval has been succeded.</p>
      </div> -->
                        <!-- <p *ngIf="temp.status == 3 || (temp.status == 2 && temp.bookstatus == 'N')" [innerHTML]="temp.defaultMsg">
       </p> -->

                        <div class="pending statusDiv" *ngIf="temp.status == 3" style="top:72%">
                            <i class="fas fa-hourglass-half"></i>
                            <p>Evalution call is pending.</p>
                        </div>
                        <div class="accepted statusDiv" *ngIf="temp.status == 1 && temp.isPublished == 0">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <p>Your Evalution call is approved but not published.</p>
                        </div>
                        <div class="approval statusDiv" *ngIf="temp.status == 2 && temp.bookstatus == 'Y'" style="top:72%">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <p>Your Evaluation call is booked.</p>
                        </div>
                        <a class="atag" *ngIf="temp.status == 2  && (temp.bookstatus == 'N')" (click)="gotoCalender('book')">Click here to book a call </a>
                    </div>
                    <ttt-feedback [stepId]="selectedstep" *ngIf="temp.status == 1 &&  (temp.isPublished == 1)" [step]="temp"></ttt-feedback>

                </div>
                <div class="mattabs content_center" [ngClass]="{content_center: temp.status  == '3' }" *ngIf="selectedstep == 4">
                    <div class="pending_status" *ngIf="temp.status == 3 || !showWebinarActivity">
                        <p *ngIf="temp.status == 3">BH Approval is pending.</p>
                        <!-- <p *ngIf="temp.status != 3 && !showWebinarActivity">Webinar call slot not available</p> -->
                    </div>
                    <div *ngIf="temp.status == 2 || temp.status == 1">
                        <div class="pending statusDiv" *ngIf="temp.bookstatus == 'N'">
                            <i class="fas fa-hourglass-half"></i>
                            <!-- <p>Evalution call is pending.</p> -->
                            <p *ngIf="temp.bookstatus == 'N'">Webinar call slot not available</p>
                            <!-- <p *ngIf="!showWebinarActivity">Users are not available.</p> -->
                        </div>

                        <div *ngIf="temp?.webStatus == 0 && temp.bookstatus == 'Y'">
                            <ngx-ttt-webinar [step]="temp"></ngx-ttt-webinar>

                        </div>
                        <div class="pending statusDiv" *ngIf="temp?.webStatus == 1">
                            <i class="fas fa-hourglass-half"></i>
                            <p>{{temp?.webStatMsg}}</p>
                        </div>

                    </div>
                </div>
                <div class="mattabs content_center" *ngIf="selectedstep == 5">
                    <div class="pending_status" *ngIf="(temp.status == 2 && temp.bookstatus == 'N') || temp.status == 3 ">
                        <div class="pending statusDiv" *ngIf="temp.status == 3" style="top:76%;">
                            <i class="fas fa-hourglass-half"></i>
                            <p>BH Approval is pending.</p>
                        </div>

                        <div class="statusDiv response" *ngIf="temp.status == 2 && temp.bookstatus == 'N'" style="top: 72%;">
                            <i class="far fa-calendar-alt"></i>
                            <p>Navigate to calendar to select an observer batch</p>
                            <a class="atag" (click)="gotoCalender('confirm batch')">( Click here to navigate to calender )</a>
                        </div>
                    </div>
                    <ttt-content [stepId]="selectedstep" [stepId]="selectedstep" *ngIf="(temp.status == 1 || temp.status == 2 ) && temp.bookstatus == 'Y'" [step]="temp"></ttt-content>
                </div>
                <div class="mattabs_3 " [ngClass]="{content_center: temp.status  == '3' }" *ngIf="selectedstep == 13">
                    <div class="pending_status" *ngIf="temp.status == 3">
                        <div class="pending statusDiv" style="top:68%;">
                            <i class="fas fa-hourglass-half"></i>
                            <p>BH Approval is pending.</p>
                        </div>
                    </div>

                    <ttt-content [stepId]="selectedstep" *ngIf="temp.status == 2 || temp.status == 1" [step]="temp"></ttt-content>
                </div>
                <div class="mattabs_3 content_center" [ngClass]="{content_center: temp.status  == '3' }" *ngIf="selectedstep == 6 ">
                    <div class="pending_status " *ngIf="temp.status == 3 ">
                        <div class="pending statusDiv" style="top:76%">
                            <i class="fas fa-hourglass-half"></i>
                            <p>BH Approval is pending.</p>
                        </div>
                    </div>
                    <ttt-content [stepId]="selectedstep" *ngIf="temp.status == 2 || temp.status == 1" [step]="temp"></ttt-content>
                </div>
                <div class="mattabs content_center" [ngClass]="{content_center: temp.status  !== '1' }" *ngIf="selectedstep == 7">
                    <div class="pending_status" *ngIf="temp.status !== 1">
                        <div class="statusDiv response" *ngIf="temp.status == 3 || temp.status == 2">
                            <i class="fab fa-accusoft"></i>
                            <p>Please wait for the trainer response</p>
                        </div>
                    </div>
                    <ttt-feedback [stepId]="selectedstep" *ngIf="temp.status == 1" [step]="temp"></ttt-feedback>
                </div>
                <div class="mattabs content_center" [ngClass]="{content_center: temp.status  !== '1' }" *ngIf="selectedstep == 8">
                    <div class="pending_status" *ngIf="temp.status !== 1">
                        <div class="statusDiv response" *ngIf="temp.status == 3 || temp.status == 2">
                            <i class="fab fa-accusoft"></i>
                            <p>Please wait for the trainer response</p>
                        </div>
                    </div>
                    <ttt-feedback [stepId]="selectedstep" *ngIf="temp.status == 1" [step]="temp"></ttt-feedback>
                </div>
                <div class="mattabs content_center" *ngIf="selectedstep == 9">
                    <div class="pending_status" *ngIf="temp?.status == 2">
                        <p>{{batchdetail?.msg}}</p>
                        <p *ngIf="batchdetail?.self == 1">
                            <a class="atag" (click)="goToSelfLearn()">Click here to navigate</a>
                        </p>
                    </div>
                    <div class="pending_status" *ngIf="temp?.status == 3">
                        <div class="statusDiv">
                            <i class="fas fa-user-check"></i>
                            <p>Please wait till you get enrolled for the batch</p>
                        </div>
                    </div>
                    <div class="pending_status" *ngIf="temp.status == 1">
                        <!-- <p>You are enrolled to {{batchdetail.fullname}}</p>
        <p>Batch Start Date: {{batchdetail.startdate}}</p> -->
                        <!-- <p>Batch End Date: {{batchdetail.enddate}}</p> -->
                        <div class="pending statusDiv">
                            <i class="far fa-calendar-alt" aria-hidden="true"></i>
                            <p>( You have enrolled for {{batchdetail.fullname}} batch and it will start from {{batchdetail.startdate}} at {{batchdetail.venueName}} location )</p>
                        </div>
                    </div>
                </div>
                <div class="mattabs content_center" *ngIf="(selectedstep == 10 || selectedstep == 14 || selectedstep == 11 || selectedstep == 15)">
                    <div class="pending_status" *ngIf="!(temp.status == 1 && temp.isFeedPublish == 1)">
                        <div class="response statusDiv" *ngIf="temp.status == 3 || temp.status == 2">
                            <i class="fab fa-accusoft"></i>
                            <p>Please wait for the trainer response</p>
                        </div>

                        <div class="response statusDiv" *ngIf="temp.status == 1 && temp.isFeedPublish == 0">
                            <i class="fas fa-upload"></i>
                            <p>Please wait till your trainer publish feedback</p>
                        </div>
                    </div>
                    <ttt-feedback [stepId]="selectedstep" *ngIf="temp.status == 1 && temp.isFeedPublish == 1" [step]="temp"></ttt-feedback>
                    <!-- <div class="pending_status" >


      </div> -->
                </div>
                <div class="mattabs content_center" *ngIf="selectedstep == 12">
                    <ngx-ttt-certificate [currentStepData]="temp"></ngx-ttt-certificate>
                </div>
            </div>
            <div *ngIf="stepRejected" class="rejectedMessageContainer">
                {{stepRejectedMessage}}
            </div>
            <!-- <div class="mattabs content_center"  *ngIf="selectedstep == 14">
    <div class="pending_status" *ngIf="temp.status == 3 || temp.status == 2">
      <p>Please wait for the trainer response</p>

    </div>
    <ttt-feedback *ngIf="temp.status == 1" [step]="temp"></ttt-feedback>
  </div> -->
            <!-- <div class="mattabs content_center"  *ngIf="selectedstep == 11">
      <div class="pending_status" *ngIf="temp.status == 3 || temp.status == 2">
        <p>Please wait for the trainer response</p>

      </div>
      <ttt-feedback *ngIf="temp.status == 1" [step]="temp"></ttt-feedback>

    </div> -->
            <!-- <div class="mattabs content_center"  *ngIf="selectedstep == 15">
      <div class="pending_status" *ngIf="temp.status == 3 || temp.status == 2">
        <p>Please wait for the trainer response</p>

      </div>
      <ttt-feedback *ngIf="temp.status == 1" [step]="temp"></ttt-feedback>

    </div> -->

        </div>
    </div>

</div>

<!-- <div class="steps_popup_container">
  <div class="steps_popup_container_modal_wrapper" [ngClass]="{ open : tttShowInstructionPopup}">
    <div class="modal">
      <div class="head">

        <i class="fas fa-times close_button" (click)="popupShowHide(false)"></i>
      </div>
      <div class="content">
      </div>
      <div class="footer">
        <div class="button_accept" (click)="acceptedGoToNext()">
          Accept
        </div>
      </div>
    </div>
  </div>
</div> -->
