//@import '../mixins';
ttt-content {
    width: 100%;
}

ttt-nomination {
    .statusDiv {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        p {
            font-size: 16px;
            font-weight: 600;
        }
        i {
            font-size: 115px;
            padding-bottom: 12px;
        }
    }
    .accepted {
        i {
            color: #66bb6a;
        }
    }
    .pending {
        i {
            color: #facb46;
        }
    }
    .approval {
        i {
            color: #607D8B;
        }
    }
    .rejected {
        i {
            color: #f8382a;
        }
    }
    .response {
        i {
            color: #195c7c;
        }
    }
    .container_name {
        display: grid;
        grid-template-columns: 2fr 1fr;
        .fa-registered {
            align-items: center;
            text-align: right;
            padding-right: 10px;
        }
    }
    // .mainPadding {
    // padding: 2.25rem 2.25rem 0.75rem !important;
    // }
    .wfContainer {
        display: grid;
        grid-template-columns: 3fr 50px;
        margin: 0 0px 15px 0px;
        align-items: center;
        .wfName {
            font-size: large;
            color: black;
            // margin: 0 0px 15px 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
        .refresh_icon {
            font-size: large;
            text-align: center;
            // color: #000;
            color: var(--colorIcons);
            cursor: pointer;
        }
    }
    .color_primary {
        // color: #507bfc;
        color: var(--colorCommon);
    }
    .content_full_width {
        width: 100%;
    }
    .button-refresh {
        // float: right;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: end;
        display: flex;
        width: 40px;
        background: #507bfc;
        border-radius: 50%;
        -webkit-box-shadow: 0px 6px 12px #91bde9;
        box-shadow: 0px 6px 12px #507bfc;
        border: 2px solid #507bfc;
        color: #fff;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        // margin-bottom: 20px;
    }
    .mat-tab-label-active {
        // background: #008eff !important;
        // color: #fff !important;
        background: var(--colorCommon) !important;
        color: #fff !important;
    }
    .mat-tab-labels {
        justify-content: center;
    }
    // .mat-tab-body.mat-tab-body-active {
    //     position: relative;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //     z-index: 1;
    //     // background: #fff !important;
    //     flex-grow: 1;
    //     margin-top: 10px !important;
    //     border-radius: 8px !important;
    //     padding: 10px !important;
    // }
    // .mat-tab-header {
    //     display: flex;
    //     overflow: hidden;
    //     position: relative;
    //     flex-shrink: 0;
    //     width: 90% !important;
    //     margin: auto !important;
    //     border-radius: 25px !important;
    // }
    .mat-tab-body {
        margin-top: 18px !important;
    }
    .mat-tab-header {
        width: 60% !important;
        margin: 0 auto !important;
    }
    .mat-tab-label {
        width: 100%;
        background: #fff;
        // border: 1px solid #507bfc;
        border: 1px solid var(--colorCommon);
        font-size: 16px;
        height: 40px;
        width: 40%;
        // color: #507bfc;
        color: var(--colorCommon);
        opacity: 1 !important;
        .mat-tab-label-content {
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    .mat-tab-label:first-child {
        border-bottom-left-radius: 15px !important;
        border-top-left-radius: 15px !important;
    }
    .mat-tab-label:last-child {
        border-bottom-right-radius: 15px !important;
        border-top-right-radius: 15px !important;
    }
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none;
    }
    .mat-tab-group {
        width: 100% !important;
        // margin: auto;
    }
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        visibility: hidden !important;
    }
    .mat-tab-header,
    .mat-tab-nav-bar {
        border: none !important;
    }
    .mat-step-header .mat-step-icon {
        background-color: rgb(167, 151, 151) !important;
        color: #fff;
    }
    .mat-step-icon {
        height: 30px !important;
        width: 30px !important;
    }
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: transparent;
    }
    .mat-horizontal-content-container {
        background: transparent;
    }
    .mat-step-header .mat-step-icon-state-done {
        background-color: #8bc34a !important;
    }
    .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-edit {
        background-color: #a79797 !important;
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
        pointer-events: none !important;
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
    [dir="rtl"] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after,
    [dir="rtl"] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
        height: 3px !important;
    }
    .mat-stepper-horizontal-line {
        height: 3px !important;
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
        min-width: 100px;
    }
    .stepColumn {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .stepno {
        background: none;
        // width: 120px;
        border: none;
        text-align: -webkit-center;
        .stepLabel {
            border-radius: 55px;
            border: 1px solid;
            width: 30px;
            height: 30px;
        }
        .stepname {
            text-overflow: ellipsis;
            // width: 80px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .rejectedStat {
        .stepLabel {
            color: #ffffff;
            background: #fb250c;
            padding: 5px;
        }
        .stepname {
            color: #fb250c;
        }
    }
    .completedStep {
        .stepLabel {
            color: #ffffff;
            background: #4cc7a2;
            padding: 5px;
        }
        .stepname {
            color: #4cc7a2;
        }
    }
    .pendingStat {
        .stepLabel {
            color: #ffffff;
            background: #2196f3;
            padding: 5px;
        }
        .stepname {
            color: #2196f3;
        }
    }
    .incompletestep {
        .stepLabel {
            color: #2196f3;
            background: #ffffff;
            padding: 5px;
        }
        .stepname {
            color: #008eff;
        }
    }
    .content_center {
        display: flex;
        height: 100%;
        // align-items: center;
        // .pending_status {
        // width: 100%;
        // margin-top: 30px;
        // justify-content: center;
        // text-align: initial;
        // font-size: 15px;
        // color: #000;
        // font-weight: bold;
        // }
    }
    .information_container {
        padding: 16px;
        margin: 16px;
        border: 1px solid #e9e6e6;
        border-radius: 7px;
        background: whitesmoke;
        p {
            font-size: 12px;
            color: #7a7a7a;
            line-height: 1.4;
            margin: 0;
        }
        ul {
            font-size: 12px;
            color: #7a7a7a;
            line-height: 1.4;
            margin: 0;
            ul {
                list-style: decimal;
            }
        }
    }
    // .instruction_container{
    //   margin: 0px 0 20px 30px;
    //   font-size: 16px;
    // }
    // .information_container{
    //   margin: 20px 30px 10PX 30px;
    //   font-size: 17px;
    //   color: #000;
    // }
    .recert_container {
        font-size: 16px;
    }
    .mattabs {
        text-align: center;
        margin: 0 16px;
        // width: 80%;
        // padding: 0px 0 20px 0;
        .tab_content {
            width: 10%;
        }
    }
    .mattabs_3 {
        // text-align: center;
        margin: 0 auto;
        padding: 16px;
        padding-top: 0;
    }
    .parent_ttt_nomination {
        display: grid;
        grid-template-columns: 1fr 4fr;
        height: 81vh;
        .stepper-container {
            .bs-vertical-wizard {
                border-right: 1px solid #eaecf1;
                padding-bottom: 50px;
            }
            .bs-vertical-wizard ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .bs-vertical-wizard ul>li {
                display: block;
                position: relative;
                cursor: pointer;
            }
            .bs-vertical-wizard ul>li>div {
                // display: block;
                padding: 10px 10px 10px 40px;
                color: #0d3587;
                font-size: 16px;
                font-weight: 400;
                // letter-spacing: .8px;
            }
            .bs-vertical-wizard ul>li>div:before {
                content: "";
                position: absolute;
                width: 1px;
                height: calc(100% - 25px);
                background-color: #bdc2ce;
                left: 13px;
                bottom: -9px;
                z-index: 3;
            }
            .bs-vertical-wizard ul>li>div .ico {
                pointer-events: none;
                font-size: 12px;
                position: absolute;
                left: 12px;
                top: 16px;
                z-index: 2;
            }
            .bs-vertical-wizard ul>li>div .ico-lock {
                pointer-events: none;
                font-size: 12px;
                position: absolute;
                left: 9px;
                top: 16px;
                z-index: 2;
                color: #ff9090;
            }
            .bs-vertical-wizard ul>li>div .ico-pending {
                pointer-events: none;
                font-size: 14px;
                position: absolute;
                left: 7px;
                top: 15px;
                z-index: 2;
                color: #507bfc;
            }
            .bs-vertical-wizard ul>li>div:after {
                content: "";
                position: absolute;
                // border: 2px solid #bdc2ce;
                border-radius: 50%;
                top: 12px;
                left: 4px;
                width: 20px;
                height: 20px;
                z-index: 3;
            }
            .bs-vertical-wizard ul>li>div .desc {
                display: block;
                color: #bdc2ce;
                font-size: 11px;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: 0.8px;
            }
            .bs-vertical-wizard ul>li.complete>div:before {
                background-color: #5cb85c;
                opacity: 1;
                height: calc(100% - 25px);
                bottom: -9px;
            }
            .bs-vertical-wizard ul>li.complete>div:after {
                display: none;
            }
            .bs-vertical-wizard ul>li.locked>div:after {
                display: none;
            }
            .bs-vertical-wizard ul>li:last-child>div:before {
                display: none;
            }
            .bs-vertical-wizard ul>li.complete>div .ico {
                left: 8px;
            }
            .bs-vertical-wizard ul>li>div .ico.ico-green {
                color: #5cb85c;
            }
            .bs-vertical-wizard ul>li>div .ico.ico-muted {
                color: #bdc2ce;
            }
            .bs-vertical-wizard ul>li.current {
                background-color: #fff;
                border: 1px solid #e7e4e4;
                border-right: 0;
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
            }
            // .bs-vertical-wizard ul>li.current>div:before {
            // background-color: #ffe357;
            // opacity: 1;
            // }
            // .bs-vertical-wizard ul>li.current>div:after {
            //   border-color: #ffe357;
            //   background-color: #ffe357;
            //   opacity: 1;
            // }
            .bs-vertical-wizard ul>li.current:after,
            .bs-vertical-wizard ul>li.current:before {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            .bs-vertical-wizard ul>li.current:after {
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #ebedf2;
                border-width: 10px;
                margin-top: -10px;
                z-index: 1;
            }
            .bs-vertical-wizard ul>li.current:before {
                border-color: rgba(234, 236, 241, 0);
                border-left-color: #ececec;
                border-width: 12px;
                margin-top: -12px;
            }
        }
        // .stepper-container{
        //   .StepProgress {
        //     position: relative;
        //     padding-left: 45px;
        //     list-style: none;
        //     counter-reset: progress;
        //   }
        //   .StepProgress::before {
        //     display: inline-block;
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 15px;
        //     width: 10px;
        //     height: 100%;
        //     border-left: 2px solid #CCC;
        //   }
        //   .StepProgress-item {
        //     position: relative;
        //     counter-increment: progress;
        //   }
        //   .StepProgress-item:not(:last-child) {
        //     padding-bottom: 20px;
        //   }
        //   .StepProgress-item::before {
        //     display: inline-block;
        //     content: '';
        //     position: absolute;
        //     left: -30px;
        //     height: 100%;
        //     width: 10px;
        //   }
        //   .StepProgress-item::after {
        //     content: '';
        //     display: inline-block;
        //     position: absolute;
        //     top: 0;
        //     left: -45px;
        //     width: 25px;
        //     height: 25px;
        //     border: 2px solid #CCC;
        //     border-radius: 50%;
        //     background-color: #FFF;
        //     content: counters(progress,".") " ";
        //     color:#777;
        //   }
        //   .StepProgress strong {
        //     display: block;
        //   }
        // }
        .stepper_data_conatiner {
            background: #fff;
            border: 1px solid #ececec;
            border-radius: 6px;
            position: relative;
        }
    }
}

.atag {
    color: #507bfc !important;
    font-size: 13px;
    cursor: pointer;
}

.rejectedMessageContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000;
}

// .steps_popup_background_blur{
//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   -ms-filter: blur(5px);
//   filter: blur(5px);
// }
.steps_popup_container {
    .close_button {
        padding: 10px;
        cursor: pointer;
    }
    .steps_popup_container_modal_wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        z-index: 10000;
    }
    & .open {
        opacity: 1;
        visibility: visible;
    }
    & .modal {
        width: 600px;
        height: 400px;
        display: block;
        margin: 50% 0 0 -300px;
        position: relative;
        top: 50%;
        left: 50%;
        background: #fff;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        border-radius: 10px;
    }
    & .open .modal {
        margin-top: -200px;
        opacity: 1;
    }
    & .head {
        width: 100%;
        height: 10%;
        padding: 0 3%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        background: #507bfc;
        text-align: right;
        color: #fff;
        font-size: 16px;
    }
    // .btn-close{
    //   width:32px;
    //   height:32px;
    //   display:block;
    //   float:right;
    // }
    // .btn-close::before, .btn-close::after{
    //   content:'';
    //   width:32px;
    //   height:6px;
    //   display:block;
    //   background:#fff;
    // }
    // .btn-close::before{
    //   margin-top:12px;
    //   -webkit-transform:rotate(45deg);
    //   -moz-transform:rotate(45deg);
    //   -o-transform:rotate(45deg);
    //   transform:rotate(45deg);
    // }
    // .btn-close::after{
    //   margin-top:-6px;
    //   -webkit-transform:rotate(-45deg);
    //   -moz-transform:rotate(-45deg);
    //   -o-transform:rotate(-45deg);
    //   transform:rotate(-45deg);
    // }
    // .button_accept {
    // @include common_button;
    // }
    .content {
        padding: 5%;
        height: 75%;
    }
    .footer {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}