<div class="course-skeleton" *ngIf="loading">
    <ngx-course-card-skeleton [count]="dataLimit"></ngx-course-card-skeleton>
</div>

<div class="search-results-catalogue" id="search-res-cat" *ngIf="!loading && searchedCatalogueList.length > 0" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDownCatalogue($event)" (scrolledUp)="onScrollUpCatalogue($event)" [scrollWindow]="false">
    <div class="parent-categoary pt-2">
        <div *ngFor="let cats of searchedCatalogueList;let i = index">
            <h2 class="category-name pt-2 px-3 text-capitalize">{{ cats?.categoryName }} <span class="float-right cursPoint" (click)="goToCategory(cats, null)">See All</span></h2>

            <div class="slide-section" *ngIf="cats?.subCats?.length > 0">
                <div class="sub-category">
                    <div ng2-carouselamos class="slides-wrapper" [items]="cats?.subCats" [width]="1161" [$prev]="prev1" [$next]="next1" [$item]="inner">
                    </div>

                    <ng-template #prev1>
                        <button class="arrow-btn-box" *ngIf="cats?.subCats?.length > 5">
                          <i class="fas fa-chevron-left"></i>
                        </button>
                    </ng-template>

                    <ng-template #next1>
                        <button class="arrow-btn-box" *ngIf="cats?.subCats?.length > 5">
                          <i class="fas fa-chevron-right"></i>
                        </button>
                    </ng-template>

                    <ng-template #inner let-item let-i="index">
                        <div class="slide-items" (click)="goToCategory(cats, item)">
                            <button class="sub-btn" [ngClass]="{'no-courses': cats?.courses?.length == 0}">{{item.categoryName}}</button>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="slide-section">
                <div ng2-carouselamos class="slides-wrapper" [items]="cats?.courses | slice:0:7" [width]="1184" [$prev]="prev" [$next]="next" [$item]="item">
                </div>
                <ng-template #prev>
                    <button class="arrow-btn" *ngIf="cats?.courses?.length > 5">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                </ng-template>
                <ng-template #next>
                    <button class="arrow-btn" *ngIf="cats?.courses?.length > 5">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                </ng-template>

                <ng-template #item let-item let-i="index">
                    <div class="slide-items">
                        <ngx-course-card-v2 [cardsData]="item" [config]="catalogConfig" (getEvent)="performAction($event, i, 'tab')"></ngx-course-card-v2>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <ngx-course-card-skeleton [count]="dataLimit" [hidden]="!working"></ngx-course-card-skeleton>
    <!-- <ngx-footer></ngx-footer> -->
</div>

<div class="course-skeleton" *ngIf="!loading && searchedCatalogueList.length == 0">
    <ngx-no-data-found [image]="noDataFoundContainer?.image" [title]="noDataFoundContainer?.title" [discription]="noDataFoundContainer?.discription"></ngx-no-data-found>
</div>

<!-- <ngx-footer></ngx-footer> -->
