.parent-categoary {
    margin: auto;
    width: 1180px;
}

.category-name {
    font-weight: 700;
    font-size: 18px;
    color: #363535;
    span {
        font-size: 12px;
        font-weight: 500;
        padding-right: 7px;
    }
}

.sub-category {
    .slide-items {
        margin-right: 20px !important;
        margin-left: 0 !important;
    }
    .sub-btn {
        // margin: 1%;
        // min-width: 100%;
        height: 50px;
        font-size: 14px;
        min-width: 215px;
        padding: 4px 10px;
        background: #ffffff;
        text-transform: capitalize;
        border: 0.1px solid #dee3eb;
        box-shadow: 0 0.5rem 1.25rem 0 rgba(218, 224, 235, 0.6);
        cursor: pointer;
        // min-width: 213px;
        &:hover {
            opacity: 0.78;
        }
    }
    // .no-courses {
    //   height: 60px;
    //   min-width: 213px;
    // }
}

.slide-section {
    padding: 0;
    width: 100%;
    margin: 12px auto;
    &:hover {
        .arrow-btn,
        .arrow-btn-box {
            display: block;
            cursor: pointer;
        }
    }
    .slide-items {
        margin: 0 11px;
    }
    .arrow-btn,
    .arrow-btn-box {
        border: none;
        display: none;
        outline: none;
        opacity: 0.9;
        background: #ffffff;
        box-shadow: 0px 0px 6px #80808091;
        i {
            opacity: 0.9;
        }
        &:hover {
            opacity: 1;
        }
    }
    .arrow-btn {
        width: 38px;
        height: 38px;
        border-radius: 25px;
    }
    .arrow-btn-box {
        width: 30px;
        height: 30px;
    }
}

.search-results-catalogue {
    // height: 100%;
    // overflow-y: scroll;
    // height: 50rem;
    // height: 90vh;
}

.cursPoint {
    cursor: pointer;
}

footer {
    color: #707070;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    .logo {
        .imgftwid {
            width: 100px;
        }
        label {
            font-size: 13px;
            vertical-align: middle;
        }
    }
    .nav {
        width: 25%;
        span {
            font-size: 13px;
            color: #1282CE;
        }
    }
}
