.container{
    margin-top: 20px;
}

.roundDiv{
    border: 2px solid #2196F3;
    font-size: 34px;
    color: #2196f3;
    padding: 5px;
    height: 55px;
    border-radius: 50%;
    float: right;
    width: 55px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.titleName{
    font-family: "Open sans" !important;
    margin: 0;
    line-height: 30px;
}

.arrowColor{
    position: relative;
    /* top: 5px; */
    right: 2px;
}

.descp{
    font-family: "Open sans";
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    color: #000;
}

.roundicon{
    float: right;
    border: 2px solid #fff;
    height: 55px;
    text-align: center;
    width: 55px;
    color: #fff;
    padding: 13px;
    font-size: 20px;
    border-radius: 50%;
    background: #9c9b9b;
    margin-left: 20px;
    cursor: pointer;
}

.divider{
    margin: 30px 40px;
}

.roundInput{
    height: 48px;
    width: 100%;
    background: #afadad3d;
    border: 1px solid #00000024;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Open sans";
}

.inputLegend input::placeholder{
    font-size: 20px;
    text-align: center;
}

.padding0{
    padding: 0;
}

.horizontalLine{
    margin: 23px 0;
    border: 1.5px solid #dddfe3;
    width: 100%;
}


.items{
    margin: 0 3s0px;
}

.mandatoryLabel{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    text-align: center;
    width: 200px;
    padding: 7px 0;
    background: #f9bc7c;
    color: #fff;
    border-bottom-left-radius: 15px;
}

.mat{
    min-height: 100%;
}

.col4{
    margin: 15px 0px;
}


.save.active{
	color: #507bfc;
}

.avatar1{
    width: calc(100% + 32px) !important;
    margin: -16px -16px 16px -16px !important;
}

.description{
    padding: 0 15px;
}


.save{
    text-align: center;
    padding-top: 6px;
}

// .stickydiv{
//     position: sticky;
//     bottom: 0;
//     margin: 0;
//     background-color: #fff;
//     padding: 20px;
//     font-family: "open sans";
//     color: #525151;
//     width: 100%;
//     z-index: 99999;
// }

// .selected{
//     margin: 0 15px;
//     font-size: 20px;
//     padding: 8px 16px;
//     border-radius: 50%;
//     color: #9e7272;
//     background: #f9d18b;
// }

// .header3{
//     margin: 0;
//     font-size: 22px;
//     line-height: 40px;
//     font-family: "open sans";
//     color: #823012;
// }

// .div123{
//     margin: 0 20px;
// }

// .roundedbtn{
//     border: none;
//     color: #fff;
//     background: #507bfc;
//     padding: 10px 40px;
//     font-size: 20px;
//     font-family: "open sans";
//     border-radius: 25px;
//     float: right;
// }