<div class="container">
  <div class="row">
    <div class="col-md-1">
      <button class="roundDiv" (click)='goBack()'>
        <i class="fas fa-chevron-left arrowColor"></i>
      </button>
    </div>
    <div class="col-md-9">
      <h3 class="titleName">Pathway Name</h3>
      <p class="descp">Description</p>
    </div>
    <div class="col-md-2">
      <div class="row">
        <button class="roundicon">
          <i class="far fa-trash-alt"></i>
        </button>
        <button class="roundicon">
          <i class="fas fa-pen"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="divider">
    <div class="row">
      <div class="col-sm-4 inputLegend">
        <input type="text" class="roundInput" placeholder="Click here to add a section">
      </div>
      <div class="col-sm-8">
          <hr class="horizontalLine">
      </div>
    </div>
  </div>

  <div class="items">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 col4" *ngFor="let post of addpathway" >
                <mat-card class="mat">
    
                    <div class="imgblock">
                        <div class="mandatoryLabel" *ngIf="post.isMandatory!=''">{{ post.isMandatory }}</div>
                        <img mat-card-image src="{{ post.cardImg }}" class="avatar1">
                    </div>
                    <mat-card-title>
                        <div class="row description">
                            <p class="col-sm-11 padding0">{{ post.content }}</p>
                            <i class="fas fa-bookmark col-sm-1 padding0 save"  [ngClass]="{'active' : post.save}" (click)="togglesave(post)"></i>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        {{ post.stages }}
                    </mat-card-content>
                    <mat-card-subtitle>{{post.description}}</mat-card-subtitle>
                   
                </mat-card>
            </div>
          </div>

    </div>
  </div>


  <div class="divider">
      <div class="row">
        <div class="col-sm-4 inputLegend">
          <input type="text" class="roundInput" placeholder="Click here to add a section">
        </div>
        <div class="col-sm-8">
            <hr class="horizontalLine">
        </div>
      </div>
    </div>
  
    <div class="items">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4 col4" *ngFor="let post of addpathway" >
                  <mat-card class="mat">
      
                      <div class="imgblock">
                          <div class="mandatoryLabel" *ngIf="post.isMandatory!=''">{{ post.isMandatory }}</div>
                          <img mat-card-image src="{{ post.cardImg }}" class="avatar1">
                      </div>
                      <mat-card-title>
                          <div class="row description">
                              <p class="col-sm-11 padding0">{{ post.content }}</p>
                              <i class="fas fa-bookmark col-sm-1 padding0 save"  [ngClass]="{'active' : post.save}" (click)="togglesave(post)"></i>
                          </div>
                      </mat-card-title>
                      <mat-card-content>
                          {{ post.stages }}
                      </mat-card-content>
                      <mat-card-subtitle>{{post.description}}</mat-card-subtitle>
                     
                  </mat-card>
              </div>
            </div>
  
      </div>
    </div>
</div>
