@mixin common_button {
  text-align: center;
  background: #507BFC;
  padding: 0;
  border: none;
  height: 40px;
 max-width: 200px;
 width: 100%;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  align-items: center;
}

