@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

@import '~css-star-rating/scss/star-rating';

$nb-themes: nb-register-theme((
  // sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  sidebar-padding: 0px 0px,
  layout-content-width: 1400px,
  font-main: Roboto,
  color-success: #507BFC,
), default, default);

.nb-theme-default nb-layout .layout nb-layout-header.fixed ~ .layout-container {
  margin-top: 0rem !important;
  min-height: 100vh !important;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #507BFC !important;
}

.nb-theme-default [_nghost-c19] nb-sidebar.menu-sidebar[_ngcontent-c19] {
  margin-top: 0rem !important;
  background: transparent !important;
}

.nb-theme-default nb-layout .layout nb-layout-header.fixed ~ .layout-container > nb-sidebar > .main-container {
  height: calc(100vh - 4.75rem) !important;
  width: 106px !important;
}

.nb-theme-default nb-sidebar .scrollable {
  padding: 35px;
  position: relative;
  width: 106px !important;
}

.nb-theme-default nb-menu .menu-items > .menu-item {
  border-bottom: 1px solid #ebeef2;
  height: 90px !important;
  width: 106px !important;
}

.nb-theme-default nb-menu .menu-item a {
  /* padding: 0.675rem 0.75rem; */
  height: 90px !important;
  width: 106px !important;
  border-radius: 0.375rem;
  margin: auto;
}

// .rating.color-goldenyellow .star-container .star {
//   width: 45px;
//   height: 45px;
//   margin: 4px;
//   margin-top: -10px;
//   svg {
//       fill: #ffc004;
//   }
//   i {
//       color: #3880FF;
//   }
// }
star-rating:focus{
  outline: none;
  .star-svg:focus{
    outline: none;
  }
}
