<!-- <mat-card class="employee-detail">

        <div class="gridWidth">
        <div class="grid-container">
            <div class="grid-content">

              <label class="labelWeight">ECN Number :</label>
              <p class="fieldWeight">{{ employeeDetail.employeeId }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Employee Name :</label>
                <p class="fieldWeight">{{ employeeDetail.employeeName }}</p>

            </div>
        </div>

        <div class="grid-container">
            <div class="grid-content">
                <label class="labelWeight">Contact :</label>
                <p class="fieldWeight">{{ employeeDetail.contact }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Email :</label>
                <p class="fieldWeight">{{ employeeDetail.email }}</p>

            </div>
        </div>

        <div class="grid-container">
            <div class="grid-content">
                <label class="labelWeight">Band :</label>
                <p class="fieldWeight">{{ employeeDetail.band }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Business :</label>
                <p class="fieldWeight">{{ employeeDetail.business }}</p>

            </div>
        </div>

        <div class="grid-container">
            <div class="grid-content">
                <label class="labelWeight">Sub Department :</label>
                <p class="fieldWeight">{{ employeeDetail.subDepartment }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Reporting Manager :</label>
                <p class="fieldWeight">{{ employeeDetail.reportingManager }}</p>

            </div>
        </div>
        </div>
  </mat-card> -->


<div class="card_container">
    <table class="profileTable">
        <tr class="profileTableRow">
            <th class="profileTableHeader">ECN Number <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.ecn }}</td>
            <th class="profileTableHeader">Employee Name <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.employeeName }}</td>
        </tr>

        <tr class="profileTableRow">
            <th class="profileTableHeader">Contact <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.contact }}</td>
            <th class="profileTableHeader">Email <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.email }}</td>
        </tr>

        <tr class="profileTableRow">
            <th class="profileTableHeader">Band <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.band }}</td>
            <th class="profileTableHeader">Business <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.business }}</td>
        </tr>

        <tr class="profileTableRow">
            <th class="profileTableHeader">Sub Department <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.subDepartment }}</td>
            <th class="profileTableHeader">Reporting Manager <span>:</span></th>
            <td class="profileTableData">{{ employeeDetail.reportingManager }}</td>
        </tr>
    </table>
</div>

<div class="card_container">
    <div class="grid-content">
        <!-- <div class="image-picker">
          <img src="assets/images/no-user-image.jpg" class="uploadImage"/>

          <div class="">
            <input type="file" #imageUpload  accept="image/*"/>

            <button mat-fab class="matbtn" (change)="imageUpload.uploadImage($event)"><i class="fas fa-pen"></i></button>
            <button mat-fab class="matbtn"><i class="fas fa-trash"></i></button>
            <div class="m0 courseIcon-upload">
              <div class="courseIcon-preview">
                <img [src]="profileForm.picRef">
              </div>
              <div class="actionbtns">
                  <div class="courseIcon-edit">
                      <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" [(ngModel)]="profileForm.picRef" (change)="changeProfile($event)" />
                      <label for="imageUpload" title="Change Thumbnail"></label>
                    </div>
                    <div class="courseIcon-delete" (click)="deleteCourseThumb()">
                      <label title="Restore to default"></label>
                    </div>
              </div>
            </div>
          </div>

        </div> -->

        <div class="profile-image">
            <div *ngIf="!intialImage">

                <img *ngIf="profileForm.picRef" src={{profileForm.picRef}}>
                <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="fileChangeEvent($event)" style="display:none" accept="image/*">
                <div class="coinbtn roundbtn" (click)="fileUpload.click()"><i class="fa fa-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div *ngIf="intialImage">
                <img [src]="croppedImage">
                <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="fileChangeEvent($event)" style="display:none" accept="image/*">
                <div class="coinbtn roundbtn" (click)="fileUpload.click()"><i class="fa fa-camera" aria-hidden="true"></i></div>
            </div>
            <p class="uploadText">Upload Formal Photo<span class="mandatoryQues">&nbsp;*</span></p>
            <p class="font_size_ratio">Resolution Should be (160px * 160px)</p>
        </div>

        <div class="column2">
            <p class="statement1">Enter Whatsapp Number<span class="mandatoryQues">&nbsp;*</span></p>
            <!-- <mat-form-field class="example-full-width">
              <input type="tel" maxlength="10" matInput placeholder="Whatsapp Number" [(ngModel)]="profileForm.contact" >
          </mat-form-field> -->
            <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel" class="example-full-width">
                <input type="tel" maxlength="10" matInput [(ngModel)]="profileForm.contact" [formControl]="phone" required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                <!-- <mat-error *ngIf="phone.hasError('required')"> -->
            </mat-form-field>
            <div *ngIf="phone.errors" class="errphn">
                <mat-error *ngIf="submitted && phone.errors.required">
                    Whatsapp number is required
                </mat-error>
                <mat-error *ngIf="submitted && phone.errors.pattern">
                    Whatsapp number is invalid
                </mat-error>
            </div>

            <!-- <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Leave a comment" [(ngModel)]="profileForm.comment"></textarea>
          </mat-form-field> -->
            <!-- <div class="form-group">
            <input type="tel" maxlength="10" class="form-control" [(ngModel)]="profileForm.contact" required>
            <label class="form-control-placeholder" for="name">Whatsapp Number <sup class="mendatory">*</sup></label>
          </div> -->
            <div class="trainerOrNot">
                <p class="statement">Have you delivered any training before ? <span class="mandatoryQues">&nbsp;*</span></p>
                <!-- <mat-radio-group aria-label="Select an option" #radioGroup="matRadioGroup">
                  <mat-radio-button value = 1 [checked]="profileForm.isTrained == 1" name="profileForm.isTrained" class="radiobtn">Yes</mat-radio-button>
                  <mat-radio-button value = 0 [checked]="profileForm.isTrained == 0" name="profileForm.isTrained" class="radiobtn">No</mat-radio-button>
                </mat-radio-group> -->
                <div class="radio_buttons_div">
                    <!-- <div *ngFor="let item of itemsList">
                      <input type="radio" id={{item.id}} [(ngModel)]="profileForm.isTrained" name="isTrained" value="{{item.value}}"
                      (change)="onItemChange(item)" checked> {{item.name}}<br>
                  </div> -->
                    <!-- <div>
                      <input type="radio" [(ngModel)]="profileForm.isTrained" name="isTrained" value="1"> Yes<br>
                  </div>
                  <div>
                      <input type="radio" [(ngModel)]="profileForm.isTrained" name="isTrained" value="0"> No<br>
                  </div> -->
                    <mat-radio-group name="opList" [(ngModel)]="chosenItem">
                        <mat-radio-button *ngFor="let item of itemsList" [value]="item.value" name="opList" (change)="onItemChange(item)">{{ item.name}}</mat-radio-button>
                    </mat-radio-group>
                </div>

            </div>
            <button mat-button class="submitbtn" *ngIf="response_data?.status !== 1" (click)="updateProfile(profileForm)">Nominate</button>
        </div>
    </div>
</div>



<div class="image-crop-popup" [hidden]="!selectImage">
    <div class="image-crop-popup-content">
        <div class="wrap-content">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [resizeToWidth]="500" [cropperMinWidth]="500" [onlyScaleDown]="true" [roundCropper]="true" format="png" outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                [style.display]="showCropper ? null : 'none'">
            </image-cropper>
            <!-- (loadImageFailed)="loadImageFailed()" -->
        </div>
        <button class="qrbtn margin20" (click)="dissmissImageCropPopModal(1)">Upload</button>
        <!-- <button class="qrbtn margin20" (click)="dissmissImageCropPopModal(2)">Delete</button> -->
        <button class="qrbtn margin20" (click)="dissmissImageCropPopModal(3)">Cancel</button>
    </div>


</div>
