.content-img {
    height: 100% !important;
    border-radius: 14px 0px 0px 14px;
}

.content_container{

    .header{
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-column-gap: 20px;
        margin-bottom: 10px;
        align-items: center;
        background: #ffffff;
        padding: 12px;
        border-radius: 10px;
        .back{
            font-size: 18px;
            background: #ffffff;
            border: 1px solid var(--colorIcons);
            color: var(--colorIcons);
            height: 40px;
            width: 40px;
            text-align: center;
            border-radius: 6px;
            cursor: pointer;
        }
        .headtitle{
            font-size: 24px;
            margin: 0;
        }
    }
    .main_container{
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-column-gap: 30px;
        .content_card{
            display: grid;
            grid-template-columns: minmax(208px, 3fr) 9fr;
            background: white;
            border-radius: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            height: 170px;
         .body-img{
          background-size: cover;
          overflow: hidden;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
         }
            .card_contents{
                padding: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                    .content_title{
                        // vertical-align: super;
                        .title{
                            color: #1B2437;
                            // font-family: "Open Sans";
                            font-size: 24px;
                            // line-height: 36px;
                            text-align: center;

                        }
                    }

                .content_desc{
                    margin-top:12px;
                }
                .button-container{
                    text-align: right;
                }
               .bodyMidButton-2{
                height: 40px;
                width: 228px;
                border-radius: 10px;
                // background-color: #507BFC;
                // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
                // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
                /* margin-right: 30px; */
                cursor: pointer;
                // color: white;
                font-size: 15px;
                border: none;
                // margin-top: 30px;
                // margin-bottom: 20px;
                background-color: var(--colorBgbtn);
                color: var(--colorBtnTxt);
                border: 1px solid var(--colorBtnTxt);
                }

            }

        }
    }
}

.noFound {
    background: white;
    height: 70vh;
    position: relative;
    border-radius: 10px;
    p {
        position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    }
}