<div class="content_container">
  <div class="header">
    <button class="back" (click)="back()"><i class="fas fa-chevron-left"></i></button>
    <h3 class="headtitle">Content</h3>
  </div>

<div *ngIf='!noDataFound'>
  <div *ngFor="let item of content; let i = index" class="main_container">

    <div class="content_card">

            <!-- <div class="card_img"  >
                <img class="content-img" src="assets/images/videoNew.png" />
            </div> -->
            <div class="body-img" [ngStyle]="bindBackgroundImage(item)">

            </div>
            <!-- <div class="card_img" *ngIf="item.contentType == 2" >
                <img class="content-img" src="assets/images/audioNew.png" />
            </div>
            <div class="card_img" *ngIf="item.contentType == 3" >
                <img class="content-img" src="assets/images/pdfNew.png" />
            </div>
            <div class="card_img" *ngIf="item.contentType == 6" >
                <img class="content-img" src="assets/images/videoNew.png" />
            </div>
            <div class="card_img" *ngIf="item.contentType == 7" >
              <img class="content-img" src="assets/images/imageNew.png" />
            </div> -->
      <div class="card_contents">
        <div>
          <div class="content_title">
            <span class="title">0{{i+1}}&nbsp;{{ item.contentName }}</span>
          </div>
          
          <div class="content_desc">
            {{item.contentDesc}}
          </div>
        </div>
        <div class="button-container">
          <button class="bodyMidButton-2" (click)="content_details(item)">View</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div *ngIf='noDataFound' class="noFound">
  <p>No content found</p>
</div>

</div>
