<div class="BHcontainer">
    <mat-card class="bhCard">
        <div class="search_field_container">
            <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="text" placeholder="Search by keyword" aria-label="Search" [(ngModel)]="searchString" (keyup)="searchlist(searchString)" name="searchString">
                <span class="clearbtn"><i class="fa fa-times" aria-hidden="true" (click)="clearstring()"></i></span>
            </form>
        </div>
        <div class="table-scroll">
            <table>
                <tr class="tableRow">
                    <th>ECN.</th>
                    <th>Name</th>
                    <th>Workflow</th>
                    <th>Band</th>
                    <th>Business</th>
                    <th>Sub Dept</th>
                    <th>Mobile number</th>
                    <th>Email id</th>
                    <th>Aptitude Score</th>
                    <th>Performance rating</th>
                    <th>Tenure</th>
                    <th>Comment</th>
                    <th>Status</th>
                </tr>
                <tr class="tableRow" *ngFor="let item of nomineelist; let i = index">
                    <td class="srno">{{ item.userName }}</td>
                    <td class="name">{{ item.fullname }}</td>
                    <td class="name">{{ item.workflowName }}</td>
                    <td class="name">{{ item.Band }}</td>
                    <td class="name">{{ item.Business }}</td>
                    <td class="name">{{ item.SubDepartment }}</td>
                    <td class="name">{{ item.phone }}</td>
                    <td class="name">{{ item.email }}</td>
                    <td class="name">{{ item.score }}</td>
                    <td class="name">{{ item.pmr }}</td>
                    <td class="name">{{ item.tenure }}</td>
                    <td class="name">
                        <div> <input class="form-control mr-sm-2" type="text" placeholder="Enter comment" aria-label="Search" [(ngModel)]="item.comment" name="cmt"></div>
                        <!-- <div class ="alert alert-danger"*ngIf = "item.comment?.length == 0 ">Comment is required</div> -->
                    </td>
                    <td class="status">
                        <div *ngIf="item.status == null">
                            <button class="accept" (click)="updateStatus(item, 1)">
              <i class="fas fa-check"></i>
            </button>
                            <button class="reject" (click)="updateStatus(item, 0)">
              <i class="fas fa-times"></i>
            </button>
                        </div>

                        <div *ngIf="item.status === 1">
                            <p class="acceptTxt">Accepted</p>
                        </div>

                        <div *ngIf="item.status === 0">
                            <p class="rejectTxt">Rejected</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card>
</div>