ngx-eep-gbh-approval {
    .BHcontainer {
        .bhCard {
            padding: 0;
        }
        table {
            width: 100%;
        }
        .tableRow {
            height: 60px;
            text-align: center !important;
            font-size: 16px !important;
        }
        .tableRow:nth-child(even) {
            background: #f3f2f2;
        }
        .accept {
            background: #4bda8e;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            color: #fff;
            margin-right: 10px;
            cursor: pointer;
        }
        .reject {
            background: #fd5c5c;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 50%;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
        }
        .srno {
            width: 50px;
            padding-left: 25px;
        }
        .name {
            min-width: 200px;
        }
        .status {
            min-width: 100px;
        }
        .acceptTxt {
            margin: auto;
            color: #4bda8e;
            width: 100px;
        }
        .rejectTxt {
            margin: auto;
            color: #ff4a4a;
            width: 100px;
        }
    }
    .search_field_container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding: 10px 0px 0px;
        .mr-sm-2 {
            width: 100%;
        }
        .clearbtn {
            // margin-left: 96%;
            right: 15px;
            font-size: 2.5vh;
            position: absolute;
        }
    }
    .table-scroll {
        // height:150px;
        // overflow:auto;  
        // margin-top:20px;
        overflow-x: auto;
    }
}