.course-detail-component-div {
  .headContainer {
    display: inline-flex;
    width: 100%;
  }

  .headImg {
    float: right;
  }
  .disabled_div {
    margin: 50px 0;
    background: #fff;
    color: #000;
    padding: 120px 0;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .tabs-new-updated {
    display: flex;
    // margin-top: 10px;
    // cursor: pointer;
    flex-wrap: wrap;
    .tabs_single {
      cursor: pointer;
      background-color: #fff;
      // color: #507bfc;
      color: var(--colorCommon);
      // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
      margin-right: 10px;
      min-width: 100px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 4px;
      font-weight: 100 !important;
      border-radius: 10px;
      overflow-x: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
        // color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        color: inherit;
      }
    }
    .tabs_single_active {
      // background-color: #507bfc;
      background-color: var(--colorCommon);
      color: #fff;
      cursor: default;
    }
  }
  .headContent {
    height: 86px;
    width: 1036px;
  }

  .headTitle {
    color: #464646;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 0rem !important;
  }

  .headDesc {
    opacity: 0.6;
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .headDetails {
    color: #464646;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;
  }

  .shareContent {
    margin: auto;
    text-align: center;
  }

  .headShareImg {
    height: 30px;
    width: 30px;
    float: right;
  }

  .noPad {
    padding: 0px !important;
  }

  .bodyContent {
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .bodyImg {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card-overlay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 12px;
    width: 35%;
  }

  .card-not-overlay {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    padding-left: 0;
  }

  .bodyMid {
    margin: 30px 0;
    width: 100%;
  }
  .grid-col {
    width: 65%;
  }

  .bodyMidHead {
    display: inline-flex;
    width: 100%;
  }

  .bNo {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .bNa {
    color: #1b2437;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .bMHP1 {
    margin: 0;
  }

  .alignCenter {
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
  }

  .bMHP2 {
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin: auto 20px;
  }

  .bodyMidCoins {
    margin-top: 15px;
    height: 24px;
    width: 92px;
    border-radius: 12px;
    background-color: #ffae74;
  }

  .bodyMidCoinsText {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    padding-top: 4px;
  }

  .cardImg {
    height: 20px;
    margin: auto 0;
  }

  .cardImg2 {
    cursor: pointer;
    width: 18px;
    float: right;
  }

  .bodydesc {
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 15px;
    font-family: "open sans";
    line-height: 24px;
  }

  .bodyMidButton {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
  }

  .bodyMidButton1 {
    height: 40px;
    width: 228px;
    border: 1px solid #aaaaaa;
    border-radius: 100px;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    float: right;
    cursor: pointer;
    margin-right: 25px;
  }

  .bodyMidButton2 {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #aaaaaa;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: not-allowed;
  }

  .bodyMidButtonText {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }

  .bodyMidButtonText1 {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }

  .bodyMidButtonText2 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }

  .Tabs {
    display: flex;
    // grid-template-columns: repeat(5,1fr);
    margin: 10px 0 10px 0;
    // grid-column-gap: 10px;
    .Tab-content {
      font-weight: 100 !important;
    }
  }

  .Tab-container {
    // height: 35px;
    width: auto;
    min-width: 150px;
    border-radius: 17px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
  }

  .Tab-content {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 100;
    // line-height: 32.5px;
    text-align: center;
  }

  .Tab-container-active {
    // height: 35px;
    width: auto;
    min-width: 150px;
    border-radius: 17px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-right: 10px;
    padding: 10px;
  }

  .Tab-content-active {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 100;
    // line-height: 32.5px;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 70px 9fr 2fr;
    // align-items: center;
    padding-bottom: 6px;
    background: white;
    padding: 16px;
    border-radius: 10px;
    .item1 {
      text-align: left;
      align-self: baseline;
      .course-detail-icon {
        width: 54px;
      }
    }
    .item2 {
      .header {
        h2 {
          font-size: 24px;
        }
      }
      .course-completion {
        p {
          margin: 0;
        }
        .discri {
          padding-top: 4px;
        }
      }
    }
    .item3 {
      align-self: center;
      margin-right: 6%;
      .cancelBtn {
        text-align: right;
        margin-left: auto;
        .cancelIcon {
          background: #ffffff;
          font-size: 18px;
          // border: 1px solid #507BFC;
          border: 1px solid var(--colorIcons);
          // color: #507BFC;
          color: var(--colorIcons);
          text-align: center;
          border-radius: 6px;
          cursor: pointer;
          padding: 10px 12px;
        }
      }
    }
  }
  .course-details-component-grid-1 {
    display: grid;
    // grid-template-columns: minmax(400px, 3fr) 9fr;
    grid-template-columns: minmax(208px, 3fr) 9fr;
    background: white;
    border-radius: 10px;
    height: 200px;
    .body-img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 100%;
      position: relative;
      background-repeat: no-repeat;
      // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      // background-position: center ;
      display: grid;
      align-items: center;
      .icons-container {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 19px;
        background: #fff;
        align-self: center;
        display: grid;
        text-align: center;
        align-items: center;
        color: #507bfc;
      }
      .single-icon {
        margin: 0 auto;
      }
      .tick-icon {
        margin-left: auto;
      }

      .congrats-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        .icon-text {
          margin-left: 10px;
          align-self: center;
          font-size: 17px;
          color: #fff;
        }
      }
    }
    .body-main {
      // padding-top: 20px;
      // padding-left: 15px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title-course-icon-text-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .course-title {
          // vertical-align: super;
          .title {
            color: #1b2437;
            font-size: 22px;
            text-align: center;
            // font-family: "Open Sans";
            // line-height: 36px;
          }
          .number {
            color: #507bfc;
            font-family: "Open Sans";
            font-size: 26px;
            line-height: 36px;
            padding-right: 5px;
            display: inline-block;
          }
        }
        .course-icon {
          font-size: 12px;
          text-align: right;
          vertical-align: super;
          margin-left: auto;
          .cardImg {
            padding-right: 7px;
            width: 35px;
          }
          .course-icon-text {
            display: inline-block;
            padding-top: 0px;
            vertical-align: middle;
          }
        }
      }

      .main-content {
        margin-top: 12px;
      }
      .button-container {
        text-align: right;
      }
      .bodyMidButton-1 {
        min-height: 40px;
        word-break: break-word;
        width: 228px;
        border-radius: 10px;
        background-color: #507bfc;
        // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        margin-top: 70px;
        margin-bottom: 20px;
      }
      .bodyMidButton-2 {
        min-height: 40px;
        word-break: break-word;
        width: 228px;
        border-radius: 10px;
        background-color: #507bfc;
        // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        // margin-right: 30px;
        // margin-top: 60px;
        // margin-bottom: 20px;
      }
      .bodyMidButton-1CompDis {
        min-height: 40px;
        word-break: break-word;
        width: 228px;
        border-radius: 10px;
        background-color: #aaaaaa;
        // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        // margin-right: 30px;
        // margin-top: 70px;
        // margin-bottom: 12px;
      }
      .bodyMidButton-2CompDis {
        min-height: 40px;
        word-break: break-word;
        width: 228px;
        border-radius: 100px;
        background-color: #aaaaaa;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        // margin-top: 60px;
        // margin-bottom: 20px;
      }
      .bodyMidButton-1Dis {
        min-height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: white;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        word-break: break-word;
        cursor: not-allowed;
        color: #aaaaaa;
        font-size: 15px;
        border: 1px solid #aaaaaa;
        margin-top: 70px;
        margin-bottom: 20px;
      }
      .bodyMidButton-2Dis {
        min-height: 40px;
        width: 228px;
        border-radius: 100px;
        word-break: break-word;
        background-color: white;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: not-allowed;
        color: #aaaaaa;
        font-size: 15px;
        border: 1px solid #aaaaaa;
        margin-top: 70px;
        margin-bottom: 20px;
      }
    }
  }
  // =============================================================
  @media only screen and (max-width: 1100px) {
    .innerCard {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 940px) {
    .bodyMidButton-1 {
      margin-top: 20px !important;
    }
    .body-main .bodyMidButton-1CompDis {
      margin-top: 20px !important;
    }
    .bodyMidButton-2CompDis {
      margin-top: 20px !important;
    }
    .Tabs {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-width: 670px) {
    .course-title {
      // display: inline-block;
      // width: 50%;
      .title {
        font-size: 15px !important;
        line-height: 20px !important;
      }
      .number {
        font-size: 15px !important;
        line-height: 20px !important;
      }
    }
    .course-icon {
      // width: 65% !important;
      .cardImg {
        height: 15px;
      }
      .course-icon-text {
        font-size: 13px !important;
        line-height: 18px !important;
      }
    }
    .bodyMidButton-1 {
      margin-top: 0px !important;
    }
    .Tabs {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
    }
  }

  @media only screen and (max-width: 520px) {
    .course-details-component-grid-1 {
      grid-template-columns: 1fr;
    }
    .course-details-component-grid-1 .body-img {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 10px;
    }
    .course-details-component-grid-1 .body-main .bodyMidButton-2 {
      margin-top: 10px;
    }
    .course-details-component-grid-1 .body-main .bodyMidButton-2Dis {
      margin-top: 0px;
    }
    .course-details-component-grid-1 {
      grid-template-columns: 12fr;
      width: 100%;
      .body-img {
        height: 250px;
      }
    }
    .button-container {
      display: block;
      text-align: center !important;
    }
    .course-details-component-grid-1 .body-main .title-course-icon-text-div {
      display: grid;
      grid-template-columns: 100px 1fr;
    }

    .course-details-component-grid-1 .body-main .bodyMidButton-2 {
      height: 32px;
      width: 150px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .course-details-component-grid-1 .body-main .bodyMidButton-2Dis {
      height: 32px;
      margin-bottom: 20px !important;
      margin-top: 10px;
    }

    .Tabs {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 10px;
      margin: 20px 0 0 0;
    }
  }
  // ===============================================

  .formR {
    /* // padding: 40vh; */
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .matblock {
    width: 100%;
    padding: 15px 0;
  }

  .addSelfBackdrop2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #40404075;
    .addSelfDemoModal2 {
      width: 40%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      position: fixed;
    }
  }
  .modalheader {
    font-family: "Open sans";
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 12px;
  }
  .butns {
    text-align: right;
  }
  .change {
    padding: 8px 16px;
    font-size: 14px;
    background: var(--colorBgbtn);
    border: 1px solid var(--colorBtnTxt);
    color: var(--colorBtnTxt);
    border: none;
    border-radius: 10px;
    margin-left: 6px;
    outline: none !important;
    cursor: pointer;
  }
  .closeBtn {
    background: var(--colorBtnTxt);
    border: 1px solid var(--colorBgbtn);
    color: var(--colorBgbtn);
  }
}
