<div class="course-detail-component-div">
    <div class="grid">
        <div class="item1">
            <img class="course-detail-icon" src='assets/images/orangeLearn.svg' />
        </div>
        <div class="item2">
            <div class="header">
                <h2>{{ courseDetailSummary?.courseTitle }}</h2>
            </div>
            <div class="course-completion">
                <p>Course Completion: {{ courseDetailSummary?.endDate }}</p>
                <p class="discri">{{ courseDetailSummary?.courseDesc }}</p>
            </div>
        </div>
        <div class="item3">
            <div class="cancelBtn" (click)='goBack()'>
                <i class="fa fa-times cancelIcon" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="tabs-new-updated">
        <div class="tabs_single" [ngClass]="{'tabs_single_active': ActiveTab.id == i }"
            *ngFor='let tabs of courseDetailTabArray;let i=index;' (click)='tabChanged(tabs)'>
            <p>{{ tabs.moduleName}}</p>
        </div>
    </div>
    <div class='bodyContainer'>
        <div class="innerCard" *ngIf="ActiveTab?.isDisable == 'N'">
            <!-- <div class='bodyContent' *ngFor='let detail of courseDetailArray;let i=index;'> -->

                <!-- <div class="course-details-component-grid-1">
                    <div class="body-img" [ngStyle]="bindBackgroundImage(detail)">
                        <div *ngIf="detail.activity_type == 'Webinar' && !(detail.wCompleted)">
                            <div class="icons-container single-icon">
                                <i class="fas fa-video" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="congrats-div" *ngIf='detail.wCompleted'>
                            <div class="icons-container tick-icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <div class="icon-text">
                                <span>Congrats!</span>
                            </div>
                        </div>
                    </div>
                    <div class="body-main">
                        <div class="title-course-icon-text-div">
                            <div class="course-title">
                                <span class="title">{{ detail.activityName }}</span>
                            </div>
                            <div class="course-icon">
                                <img class='cardImg' src="assets/images/online.svg" />
                                <span class="course-icon-text">ONLINE</span>
                                <span class="course-icon-text">| {{detail.activityDuration}}</span>

                            </div>
                        </div>
                        <div class="main-content">
                            <div [innerHTML]="detail?.summary"></div>
                        </div>
                        <div *ngIf='finddependetactivity(detail) == 1 ' class="button-container">
                            <button *ngIf="detail.summary" class="bodyMidButton-2" [disabled]="disabledGoToCourse"
                                (click)='goToCourse(detail)'>Begin</button>
                            <button *ngIf="!detail.summary" class="bodyMidButton-2" [disabled]="disabledGoToCourse"
                                (click)='goToCourse(detail)'>Begin</button>
                        </div>
                        <div *ngIf='finddependetactivity(detail) == 2' class="button-container">
                            <button *ngIf="detail.summary" class="bodyMidButton-2CompDis">Attendance will be marked by
                                trainer</button>
                            <button *ngIf="!detail.summary" class="bodyMidButton-1CompDis">Attendance will be marked by
                                trainer</button>
                        </div>
                        <div *ngIf='finddependetactivity(detail) == 3' class="button-container">
                            <button *ngIf="detail.summary" class="bodyMidButton-2CompDis"
                                [disabled]="disabledGoToCourse" (click)='goToCourse(detail)'>Completed on
                                {{ detail.completedDate | date:"dd-MMM-yyyy" }}</button>
                            <button *ngIf="!detail.summary" class="bodyMidButton-1CompDis"
                                [disabled]="disabledGoToCourse" (click)='goToCourse(detail)'>Completed on
                                {{ detail.completedDate | date:"dd-MMM-yyyy" }}</button>
                        </div>
                        <div *ngIf='finddependetactivity(detail) == 4' class="button-container">
                            <button *ngIf="detail.summary" class="bodyMidButton-2Dis">Complete activity
                                "{{detail.dependentActName}}" from module "{{detail.dependentModName}}" to
                                unlock</button>
                            <button *ngIf="!detail.summary" class="bodyMidButton-1Dis">Complete activity
                                "{{detail.dependentActName}}" from module "{{detail.dependentModName}}" to
                                unlock</button>
                        </div>
                    </div>
                </div> -->
                <div class="pt-2 pb-2" *ngFor="let activity of courseDetailArray" >
                  <ngx-activity-card  [data]="activity" [disabledAction]="disabledGoToCourse" (getEvent)="preformActionOnAcitivty($event)"></ngx-activity-card>
                </div>

             <!-- </div> -->
        </div>

        <div *ngIf="ActiveTab?.isDisable == 'Y'" class="disabled_div">
            Session will start from {{ActiveTab.mStartDate ? ActiveTab.mStartDate : 'Not available' }}
        </div>
    </div>

    <div class="addSelfBackdrop2" *ngIf="passCheck">
        <div class="addSelfDemoModal2">
            <h1 class="modalheader"> Enter password to access quiz</h1>

            <form [formGroup]="resetPwdForm" class="formR">
                <mat-form-field class="matblock">
                    <input type="password" matInput placeholder="Password" formControlName="password"
                        [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        passwordToggle />
                    <mat-error *ngIf="submitted && f.password.errors">
                        <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle"
                                aria-hidden="true"></i> Password is required</mat-error>
                        <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle"
                                aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                    </mat-error>
                </mat-form-field>
                <div *ngIf="submitted">
                    <div *ngIf="passWrong" class='passWrong'><i class="fa fa-exclamation-circle"
                            aria-hidden="true"></i>Password is wrong
                    </div>
                </div>
            </form>
            <div class="butns">
                <button class="change closeBtn" (click)="close()">Cancel</button>
                <button type="submit" class="change" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>

    <div class="addSelfBackdrop2" *ngIf="displayInstructions">
        <div class="addSelfDemoModal2">
            <h1 class="modalheader"> Instructions </h1>
            <p *ngIf='checkResponse'> {{ checkResponse.instructions }} </p>
            <div class="butns">
                <button class="change closeBtn" (click)="closeInstrction()">Cancel</button>
                <button type="submit" class="change" (click)="onSubmit1()">Submit</button>
            </div>
        </div>
    </div>
</div>
