ngx-my-activity{

.matC{
    padding: 0 !important;
    border-radius: 10px !important;
}

.inner-html{
    .highlight{
        margin:  0px;
        color: #507BFC;
    }
}

.title12{
    color: #5b5b5b;
    padding: 20px;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    font-weight: 600;
    width: 60%;
    text-align: left;
}

.floatRight{
    width: 40%;
    padding: 20px;
    text-align: right;
    font-size: 18px; 
    line-height: 30px;
    margin: 0;
    color: #507bfc;
}

.arrow{
    margin: auto 10px;
}

.ro{
    width: auto;
    margin: 0;
}

.rowArray{
    width: 100%;
    margin: auto;
    min-height: 40px;
    padding: 10px 0;
    box-sizing: border-box;
}

.rowArray:nth-child(odd){
    background: #dadada2b;
}

.imgIcon{
    width: auto !important;
    padding: 5px !important;
    height: auto !important;
    line-height: 30px;
    font-size: 16px !important;
    text-align: center;
    color: #507bfc;
    margin: auto 0 !important;
}

.block12{
    padding: 0 !important;
    width: auto;
}

.statement{
    font-size: 18px;
    width: auto;
    line-height: 25px;
    margin: 0;
}

.time{
    margin: 0;
    line-height: 34px;
}

.postBlock{
    margin: auto;
    width: 50px !important;
    padding: 0 !important;
}

.img{
    width: 50px;
    height: 50px;
}

}