<mat-card class="matC">
    <div class="row ro">
      <p class="title12">My Activity</p>
      <p class="floatRight"> View all <img src="./assets/images/White.svg"  class="arrow"></p>
    </div>

    <mat-card-content>
      <div class="row rowArray" *ngFor="let activity of activities">
        <div class="imgIcon col-sm-1">
        <i class="{{ activity.icon }}"></i>
        </div>
        <div class="block12 col-sm-9">
          <p class="statement inner-html" [innerHTML]='activity.statement'></p>
          <p class="time">{{ activity.time | date: 'hh:mm' }}</p>
        </div>
        <div class="postBlock col-sm-1">
          <img src="{{ activity.post }}" class="img">
        </div>
      </div>

    </mat-card-content>
</mat-card>