
    <mat-card class="mat2">
      <mat-card-title class="title">
          Skill Meter
      </mat-card-title>
      
      <mat-card-content class="flexBlock">
        <div class="column" *ngFor="let skill of skills">
          <div class="verticalDiv">
              <div class="verticalTxt">{{ skill.skillName }}</div>
              
              <div class="row rowHeight">
              <mat-progress-bar mode="determinate" value="{{ skill.percentage }}"  class="progress"></mat-progress-bar>
              <div class="percent">{{ skill.percentage }} %</div>
              </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  