

.mat2{
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}

.title{
    box-sizing: border-box;
    width: 100%;
    margin: 0 ;
    color: #6d6b6b;
    text-align: center;
    line-height: 35px;
}

.verticalDiv{
    // width: max-content;
    // margin: 0 auto;
    // height: 60px;
    // padding: 0;
    // -webkit-transform: rotate(-90deg);
    // transform: rotate(-90deg);
}

.card-title{
  
}

.column{
    margin: 10px 0;
}

.percent{
    padding: 0;
    text-align: center;
    width: auto;
    margin: auto;
}

.flexBlock{
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // width: 100%;
    // margin: 25px 0;
    // min-height: auto;
    // box-sizing: border-box;
    margin: auto;
    width: 100%;
    box-sizing: content-box;
    height: auto;
    // display: flex;
}

.rowHeight{
    width: auto;
    margin: auto;
    line-height: 9px;
}

.verticalTxt{
    // width: 100%;
    text-align: left;
    // margin: 0;
    line-height: 30px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0;
}

.progress{
    // width: 100%;
    // background: #00BCD4;
    height: 9px;
    width: 92%
    // margin: 0;
}
