<div class='contain'>
	<div class='header-container'>
		<div class='head1'>COMPANY NAME</div>
	</div>
	
	<div class='body-container'>

		<div class='buttonAlign'>
			<button class='skipButton skip' (click)='skipPage()'> Skip </button>
		</div>

		<div class='alignSearch'>
			<form class="form-inline md-form form-sm">
				<!-- <i class="fa fa-search" aria-hidden="true"></i> -->
				<input class="form-control form-control-sm ml-3 w-75 search" name='tag' [(ngModel)]='tag' type="text" placeholder="&#xf002; What skills are you looking for?" aria-label="Search"
					mdbInputDirective>
			</form>
		</div>

		<div class='alignChip'>
			<div class='matChipList' *ngFor='let items of interestArr; let i = index'>
				<mat-chip-list>
					<div class='totalMatChip'>
						<div class='matChip' *ngFor='let groups of items.group; let j = index'>
							<mat-chip *ngIf='groups.isSelected == 0' class='chip' (click)='interested(i,j,0)'>{{ groups.tag }}</mat-chip>
							<mat-chip *ngIf='groups.isSelected == 1' class='selChip' (click)='interested(i,j,1)'><img src='assets/images/Tick.svg'>{{ groups.tag }}</mat-chip>
						</div>
						<br/>
					</div>
				</mat-chip-list>
			</div>
		</div>

		<!-- <div class='overlay'></div> -->

		<div>
			<button *ngIf='displayButton == true' class='done' (click)='addInterests()'>Done</button>
		</div>

	</div>
</div>
