.header-container{
    background-color: #ffffff;
    height: 72px;
    width: 100%;
}

.body-container{
    background-color: #507BFC;
    background-image: url("assets/images/Group10.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: -webkit-fill-available;
}

.head1{
    height: 27px;	
    width: 94px;	
    color: #5B6378;	
    font-family: Avenir;	
    font-size: 20px;	
    font-weight: 900;	
    line-height: 27px;
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
}

.contain{
    height: 100%;
    width: 100%;
}

.backImg{
    width: 100%;
}

.buttonAlign{
    float: right !important;
    padding-top: 40px !important;
    padding-right: 40px !important;
}

.skipButton{
    box-sizing: border-box;
    background-color: transparent;	
    height: 41px;	
    width: 123px;	
    border: 1px solid #FFFFFF;	
    border-radius: 100px;	
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    cursor: pointer;
}


.skip{
    // height: 18px !important;	
    // width: 27px !important;	
    color: #FFFFFF;	
    font-family: "Sarabun SemiBold";	
    font-size: 18px;	
    line-height: 18px;	
    text-align: center;
}

.search{
    background-color: transparent;
    height: 41px;
    width: 512px !important;
    color: #FFFFFF;
    font-family: "Open Sans", FontAwesome;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px #ffffff solid;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 33px;
}

.alignSearch{
    padding-top: 126px;
    margin: auto;
    width: 600px;
}

input:focus, select:focus, textarea:focus, button:focus { 
    outline: none; 
}

::placeholder{
    color: #ffffff;
    font-family: FontAwesome;
    font-style: normal;
}

.fa-placholder {
    font-family: FontAwesome, "Open Sans"; 
}

.alignChip{
    padding-top: 80px;
}

.matChipList:nth-child(n){
    margin-left: 30%;
    padding-bottom: 18px;
    padding-right: 18px;
}

.matChipList:nth-child(2n){
    margin-left: 25%;
    padding-bottom: 18px;
    padding-right: 18px;
}

.matChipList:nth-child(3n){
    margin-left: 35%;
    padding-bottom: 18px;
    padding-right: 18px;
}

.totalMatChip{
    display: inline-flex;
}

.chip{
    height: 38px;	
    width: 252px;	
    border: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;	
    font-family: "Open Sans";	
    font-size: 16px;	
    line-height: 22px;
}

.selChip{
    height: 38px;	
    width: 252px;	
    border: 1px solid #507BFC;
    background: #FFFFFF;
    color: #507BFC;	
    font-family: "Open Sans";	
    font-size: 16px;	
    line-height: 22px;
}

.done{
    height: 40px;	
    width: 122px;	
    border-radius: 100px;	
    background-color: #FFFFFF;	
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    margin-left: 45%;
}

.overlay{
    margin-top: -200px;
    opacity: 0.5;
}