<div class="ttt-trainer-content-main-container">
  <div *ngIf="courseDetailTabArray">
    <!-- <div class="trainer-course-content-header">
      <div class="trainer-detail-content-header-item">
        <img class="course-detail-icon" src="assets/images/orangeLearn.svg" />
      </div>
      <div class="trainerwrap">
        <p class="trainerwraptitle">{{ trainerworkflow.instanceName }}</p>
        <p class="trainerwrapdesc">{{ trainerworkflow.description }}</p>
      </div>
    </div> -->
    <div class="trainer-participant-tabs">
      <div
        class="Tab-container"
        *ngFor="let tabs of courseDetailTabArray; let i = index"
        [ngClass]="ActiveTab == i ? 'Tab-container-active' : 'Tab-container'"
        title="{{ tabs.moduleName | titlecase }}"
        (click)="tabChanged(tabs)" >
        <div
          class="Tab-content"
          [ngClass]="ActiveTab == i ? 'Tab-content-active' : 'Tab-content'"
        >
          <span *ngIf="tabs.moduleName.length >= 13"
            >{{ tabs.moduleName | slice: 0:13 | titlecase }} ...</span
          >
          <span *ngIf="tabs.moduleName.length < 13"
            >{{ tabs.moduleName | titlecase }}
          </span>
        </div>
      </div>
    </div>

    <!-- <div class="bodyContent"
      *ngFor="let content of courseDetailArray; let i = index">
      <div class="participant-trainer-courses-content-grid-1">
        <div
          class="participant-body-participant-img" [ngStyle]="bindBackgroundImage(content)"

        ></div>

        <div class="participant-body-main">
          <div class="title-course-icon-text-div">
            <div class="course-title">
              <span class="number">{{ i + 1 }}</span>
              <span class="title">{{ content.activityName }}</span>
              <div class="course-icon"></div>
            </div>
          </div>
          <div class="main-content">
            <div [innerHTML]="content?.cDescription"></div>
          </div>

          <div class="button-container" [ngClass]="{'setheight': activeRole != 'Learner'}">
            <button class="bodyMidButton-2" *ngIf = "activeRole == 'Learner'" (click)="goToCourse(content)">
              Begin
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="pt-2 pb-2" *ngFor="let activity of courseDetailArray" >
      <ngx-activity-card  [data]="activity" [disabledAction]="disabledGoToCourse" (getEvent)="preformActionOnAcitivty($event)"></ngx-activity-card>
    </div>
  </div>
  <div class="nodata" *ngIf="!courseDetailTabArray.length">
    No content available
  </div>
  <div class="addSelfBackdrop2" [hidden]="!displayInstructions">
      <div class="addSelfDemoModal2">
        <h1 class="modalheader"> Instructions </h1>

        <p *ngIf='checkResponse'> {{ checkResponse.instructions }} </p>

        <div class="butns">
          <button class="cancel" (click)="closeInstrction()">Cancel</button>
          <button type="submit" class="change" (click)="onSubmit1()">Submit</button>
        </div>

      </div>
    </div>
    <div class="addSelfBackdrop2" *ngIf="passCheck">
      <div class="addSelfDemoModal2">
          <h1 class="modalheader"> Enter password to access quiz</h1>

          <form [formGroup]="resetPwdForm" class="formR">
              <mat-form-field class="matblock">
                  <input type="password" matInput placeholder="Password" formControlName="password"
                      [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                      passwordToggle />
                  <mat-error *ngIf="submitted && f.password.errors">
                      <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle"
                              aria-hidden="true"></i> Password is required</mat-error>
                      <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle"
                              aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                  </mat-error>
              </mat-form-field>
              <div *ngIf="submitted">
                  <div *ngIf="passWrong" class='passWrong'><i class="fa fa-exclamation-circle"
                          aria-hidden="true"></i>Password is wrong
                  </div>
              </div>
          </form>
          <div class="butns">
              <button class="change closeBtn" (click)="close()">Cancel</button>
              <button type="submit" class="change" (click)="onSubmit()">Submit</button>
          </div>
      </div>
  </div>
</div>
