<div class="course-main">

  <div *ngIf="currentSelectedMenu != 0 && currentSelectedMenu != 3 && currentSelectedMenu != 4">
      <ngx-tabset class="tabset" customNavClass="sub-tabs" [customTabsClass]="customClass" customPaneClass="inner-pane" (onSelect)="subTabSelected($event)">
          <ngx-tab *ngFor="let tab of selectedTabsArray; let i = index" class="tabinner" [active]="tab.status" [tabTitle]="tab.preparedTabName" [bypassDOM]="true">
              <ng-template>

                  <div class="course-skeleton" *ngIf="loading">
                      <ngx-course-card-skeleton [count]="dataLimit"></ngx-course-card-skeleton>
                  </div>

                  <div class="search-results course-cards" id="search-res" *ngIf="!loading && searchedCourseList.length > 0" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)"
                      (scrolledUp)="onScrollUp($event)" [scrollWindow]="false">
                      <div class="d-inline" *ngFor="let item of searchedCourseList; let j = index">
                          <h3 class="month-seprator text-capitalize font-weight-bold px-3 pt-2" *ngIf="j == 0">
                              <!-- {{item?.monthname}} -->
                              {{ getMonthText(item) }}
                          </h3>
                          <h3 class="month-seprator text-capitalize font-weight-bold px-3 pt-2" *ngIf="j > 0 && item?.month !== searchedCourseList[j-1].month">
                              <!-- {{item?.monthname}} -->
                              {{ getMonthText(item) }}
                          </h3>
                          <ngx-course-card-v2 [cardsData]="item" [config]="mainTabsData[currentSelectedMenu]?.courseConfig" (getEvent)="performAction($event, j, tab)"></ngx-course-card-v2>
                      </div>
                      <ngx-course-card-skeleton [count]="dataLimit" [hidden]="!working"></ngx-course-card-skeleton>
                  </div>

                  <div class="course-skeleton" *ngIf="!loading && searchedCourseList.length == 0">
                      <ngx-no-data-found [image]="mainTabsData[currentSelectedMenu]?.noDataFoundContainer?.image" [title]="mainTabsData[currentSelectedMenu]?.noDataFoundContainer?.title" [discription]="mainTabsData[currentSelectedMenu]?.noDataFoundContainer?.discription"></ngx-no-data-found>
                  </div>

              </ng-template>
          </ngx-tab>
      </ngx-tabset>

      <!-- <div class="course-filter" *ngIf="currentSelectedMenu == 0">
          <ngx-course-filter></ngx-course-filter>
      </div> -->
  </div>

  <div class="self-section" *ngIf="currentSelectedMenu == 0 || currentSelectedMenu == 3 || currentSelectedMenu == 4">
      <div class="self-filter course-filter" *ngIf="currentSelectedMenu == 0">
          <ngx-course-filter [categoryId]="categoryId" [filtersData]="filtersData" (getEvent)="applyFilter($event)"></ngx-course-filter>
      </div>

      <div [ngClass]="{'self-course': currentSelectedMenu == 0 }">
          <h1 class="breadcrumbs py-2 px-2 m-0" *ngIf="currentSelectedMenu == 0">
              <label class="m-0" *ngFor="let item of breadcrumbsList; let i = index" (click)="i !== breadcrumbsList.length-1 ? goToPath(item) : false">
                <span class="arrow" *ngIf="i > 0"> / </span> <span [ngClass]="{'secondBcm' : i < breadcrumbsList.length - 1}">{{ item?.categoryName }}</span>
              </label>
          </h1>
          <div class="course-skeleton" *ngIf="loading">
              <ngx-course-card-skeleton [count]="dataLimit"></ngx-course-card-skeleton>
          </div>

          <div class="search-results course-cards" id="search-res" *ngIf="!loading && searchedCourseList.length > 0" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)"
              (scrolledUp)="onScrollUp($event)" [scrollWindow]="false">

              <!-- <div [hidden]="currentSelectedMenu !== 0">
                  <ngx-course-card-v2 *ngFor="let item of searchedCourseList; let j = index" [cardsData]="item" [config]="mainTabsData[currentSelectedMenu].courseConfig" (getEvent)="performAction($event, j, {})"></ngx-course-card-v2>
                  <ngx-course-card-skeleton [count]="dataLimit" [hidden]="!working"></ngx-course-card-skeleton>
              </div> -->

              <div *ngIf="currentSelectedMenu == 0">
                  <ngx-course-card-v2 *ngFor="let item of searchedCourseList; let j = index" [cardsData]="item" [config]="mainTabsData[currentSelectedMenu].courseConfig" (getEvent)="performAction($event, j, {})"></ngx-course-card-v2>
              </div>

              <div *ngIf="currentSelectedMenu == 3 || currentSelectedMenu == 4">
                  <div class="d-inline" *ngFor="let item of searchedCourseList; let j = index">
                      <ng-container *ngIf="item?.monthname">
                          <h3 class="month-seprator text-capitalize font-weight-bold px-3 pt-2" *ngIf="j == 0">
                              <!-- {{item?.monthname}} -->
                              {{ getMonthText(item) }}
                          </h3>
                          <h3 class="month-seprator text-capitalize font-weight-bold px-3 pt-2" *ngIf="j > 0 && item?.month !== searchedCourseList[j-1].month">
                              <!-- {{item?.monthname}} -->
                              {{ getMonthText(item) }}
                          </h3>
                      </ng-container>
                      <ngx-course-card-v2 [cardsData]="item" [config]="mainTabsData[currentSelectedMenu].courseConfig" (getEvent)="performAction($event, j, {})"></ngx-course-card-v2>
                  </div>
              </div>

              <ngx-course-card-skeleton [count]="dataLimit" [hidden]="!working"></ngx-course-card-skeleton>

          </div>

          <div class="course-skeleton" *ngIf="!loading && searchedCourseList.length == 0">
              <ngx-no-data-found [image]="mainTabsData[currentSelectedMenu].noDataFoundContainer?.image" [title]="mainTabsData[currentSelectedMenu].noDataFoundContainer?.title" [discription]="mainTabsData[currentSelectedMenu].noDataFoundContainer?.discription"></ngx-no-data-found>
          </div>
      </div>
  </div>

</div>
