// .course-main {
// display: grid;
// grid-template-columns: 18% 82%;
// height: calc(100vh - 4rem - 24px);
// }
:host /deep/ {
    .sub-tabs {
        // top: 0;
        margin: 0;
        padding: 0;
        z-index: 2;
        width: 100%;
        display: flex;
        position: fixed;
        background: #ffffff;
        list-style-type: none;
        li {
            cursor: pointer;
            font-size: 14px;
            color: #323232;
            font-weight: 700;
            padding: 8px 18px;
        }
        li.active {
            color: #000000;
            border-bottom: 4px solid #ff0202;
        }
    }
    .sub-inner {
        width: 79%;
        float: right;
        padding-top: 41px;
    }
    .learn-section {
        padding-top: 41px;
    }
}

.breadcrumbs {
    top: 40px;
    z-index: 2;
    font-size: 12px;
    position: sticky;
    background: var(--colorBgPage);
    label {
        text-transform: capitalize;
        &:last-child {
            span:last-child {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .arrow {
        padding: 0 4px;
        font-size: 12px;
    }
}

.course-filter {
    width: 18%;
    // top: 120px;
    top: 80px;
    float: left;
    margin: 0 1%;
    overflow: auto;
    position: absolute;
    background: #ffffff;
    height: calc(100vh - 8rem);
}

.search-results {
    // height: 83vh;
    // overflow-y: scroll;
    // overflow-x: hidden;
}

.userCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 1rem;
    .card {
        border: 2px solid #e7e7e7;
        border-radius: 4px;
        padding: 0.5rem;
    }
    // .card {
    //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    //   max-width: 300px;
    //   margin: auto;
    //   text-align: center;
    // }
    // .title {
    //   color: grey;
    //   font-size: 18px;
    // }
    // button {
    //   border: none;
    //   outline: 0;
    //   display: inline-block;
    //   padding: 8px;
    //   color: white;
    //   background-color: #000;
    //   text-align: center;
    //   cursor: pointer;
    //   width: 100%;
    //   font-size: 18px;
    // }
    // a {
    //   text-decoration: none;
    //   font-size: 22px;
    //   color: black;
    // }
    // button:hover, a:hover {
    //   opacity: 0.7;
    // }
}

.self-section {
    // display: grid;
    // grid-template-columns: 18% 1fr;
    //   .self-section-breadcrumbs {
    //     top: 40px;
    //     z-index: 2;
    //     font-size: 12px;
    //     position: sticky;
    //     background: var(--colorBgPage);
    //     span {
    //       font-size: 12px;
    //       text-transform: capitalize;
    //       &:last-child {
    //         font-size: 14px;
    //       }
    //     }
    //     .arrow {
    //       padding: 0 4px;
    //       font-size: 12px;
    //     }
    //   }
    .self-filter {
        top: 70px;
        height: calc(100vh - 6rem);
    }
    .self-course {
        width: 79%;
        float: right;
        padding-top: 6px;
    }
}

.month-seprator {
    font-size: 1rem;
    color: #000000;
    text-decoration: underline;
    &:first-child {
        padding-top: 14px !important;
    }
}

.display-inline {
    display: inline;
}

.secondBcm {
    cursor: pointer;
    &:hover {
        color: var(--colorCommon);
    }
}

@media only screen and (min-width: 1281px) {
    .course-filter {
        width: 16%;
    }
    .self-section .self-course {
        width: 82%;
    }
}
