
@mixin box-scroll {
  ::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 10px !important;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding: 100px 0 0;
    border: solid #f1f3f5;
    background-clip: padding-box;
    border-width: 2px 1px 1px 2px;
    background: #babcc0 !important;
    // background: #b7babe !important;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  }
  ::-webkit-scrollbar-track {
    border-width: 0 0 0 4px;
    border: solid transparent;
    background-clip: padding-box;
    border: 0.5px solid #e6e6e6;
    background: #ebeef0b0 !important;
    &:hover {
      background: #5f6368 !important;
      background: #ffffff !important;
      ::-webkit-scrollbar-thumb {
        background: #999ca0 !important;
      }
    }
  }
}

header {
  height: 65px;
  background: #dedede;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
}

// main {
//   display: grid;
//   padding-top: 65px;
//   grid-template-columns: 71px 1fr;
//   .sidebar {
//     background: #dedede;
//   }

:host/deep/ {
  @include box-scroll;
}
.main-content {
  .course-header {
    top: 56px;
    z-index: 3;
    display: grid;
    position: sticky;
    padding: 0 12px;
    background: #ffffff;
    border-right: 1px solid #e1e1e1;
    box-shadow: 0 1px 1px 0 #dfe3eb;
    grid-template-columns: 24px 1fr 16%;
    .back-button {
      font-size: 16px;
      align-self: center;
      color: var(--colorIcons);
      &-arrow {
        cursor: pointer;
      }
    }
    .course-content {
      padding: 6px 0;
      border-right: 1px solid #f0efef;
      .complet-date {
        top: 0;
        right: 0;
        font-size: 10px;
        color: #707070;
        padding: 3px 6px;
        border-bottom-left-radius: 4px;
        border-left: 1px solid #f0efef;
        border-bottom: 1px solid #f0efef;
      }
      h2 {
        cursor: default;
        font-size: 16px;
        font-weight: 600;
      }
      p {
        font-size: 12px;
        color: #707070;
        // word-break: break-all;
        padding-right: 10px;
        .show-more {
          font-size: 10px;
          color: #000000;
          i {
            font-size: 8px;
          }
        }
      }
    }
    .action-btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        font-size: 12px;
        padding: 6px 6px;
        font-weight: 400;
        margin-left: 8px;
        border-radius: 4px;
        color: var(--colorBgbtn);
        background: var(--colorBtnTxt);
        border: .8px solid var(--colorBgbtn);
      }
      //     .fullIcon {
      //         margin-right: 0;
      //     }
    }
  }

  //  activity & module list & sign in
  .activity-module {
    display: grid;
    grid-template-columns: 75% 25%;
    // grid-template-columns: 70% 30%;
    // register
    .register {
      width: 50%;
      margin: auto;
      background: white;
      border-radius: 6px;
      a {
        font-size: 12px;
        // text-decoration: underline;
      }
    }
    // activity
    .activity {
      .inner-activity {
        height: 72vh;
        overflow: hidden;
        position: relative;
        &:hover {
          .next,
          .right {
            display: block;
            transition: all 0.5s ease-in-out;
          }
        }
        .next,
        .right {
          z-index: 2;
          display: none;
          font-size: 18px;
          color: #ffffff;
          padding: 10px 6px;
          position: absolute;
          top: calc(100% - 50%);
          background: #00000075;
          transition: all 0.5s ease-in-out;
        }
        .next {
          right: 0;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        .right {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        img,
        video,
        iframe {
          width: 100%;
          height: 71vh;
        }
        img {
          object-fit: cover;
        }
        video {
          background: #000000;
        }
      }
      .begin-section {
        height: 68vh;
        margin: 12px;
        align-items: center;
        background: #ffffff;
        justify-content: center;
        // .lock-act {
        //   font-size: 44px;
        //   color: #a4abb3;
        //   padding-bottom: 10px;
        // }
        .begin-icon{
          width: 55px;
          height: 55px;
          object-fit: contain;
        }
        p {
          color: #7b7b7b;
        }
        .complet-msg {
          font-size: 13px;
          p {
            color: #000000;
          }
        }
        .start-btn {
          margin: 6px 0;
          min-width: 180px;
          i {
            font-size: 11px;
          }
        }
        .begin-language {
          p {
            color: #000000;
          }
          button {
            margin: 4px;
            font-size: 12px;
            padding: 4px 8px;
            color: #000000;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid  #000000;
            &:hover {
              color: #ffffff;
              background: #000000;
            }
          }
        }
      }
      .begin-section-fullscreen{
        height: 100vh;
        margin: 0px;
      }
      .activity-box {
        .full-screen {
          top: 1px;
          right: 0px;
          z-index: 1;
          padding: 6px;
          border-top: none;
          color: #607D8B;
          background: #ffffff;
          border: 1px solid #dfe3eb;
          border-bottom-left-radius: 2px;
        }
      }
      .discription {
        background: #ffffff;
        border-top: 1px solid #f0efef;
        // .language {
        //     button {
        //         font-size: 12px;
        //         padding: 4px 8px;
        //         color: #29303b;
        //         border-radius: 4px;
        //         margin-right: 12px;
        //         letter-spacing: .3px;
        //         background: #ffffff;
        //         border: .5px solid #080808;
        //     }
        //     .active-lang {
        //         color: #ffffff;
        //         background: #000000;
        //     }
        // }
        h4 {
          font-size: 14px;
          font-weight: 600;
          color: #000000;
        }
        .act-duration {
          font-size: 12px;
          padding: 4px 6px;
          border-radius: 2px;
          background: #f0efef;
          // border: 1px solid #f0efef;
        }
        p {
          font-size: 14px;
          line-height: 1.4;
          color: #29303b;
        }
        .language-bttons-container {
          button {
            padding: 2px 6px;
            border-radius: 4px;
            text-transform: capitalize;
          }
          .btn-outline-primary {
            // border-top: var(--colorBgbtn) !important;
            border-color: var(--colorBgbtn) !important;
            color: var(--colorBgbtn) !important;
            text-transform: capitalize;
          }
          .btn-outline-primary:disabled {
            cursor: not-allowed;
          }
          .btn-outline-primary:hover {
            background-color: transparent;
            color: var(--colorCommon) !important;
          }
          .btn-primary {
            background-color: var(--colorBgbtn) !important;
            color: var(--colorBtnTxt) !important;
          }
        }
      }
    }
    // module
    .module {
      top: 56px;
      position: sticky;
      overflow-y: auto;
      background: #ffffff;
      height: calc(100vh - 56px);
      box-shadow: 6px 13px 12px 5px #2b2a2a40;
      .module-inner {
        border-bottom: 1px solid #e2e2e2;
        .module-name {
          padding: 10px;
          .check-icon {
            color: #4caf50;
          }
          &:hover {
            background: #ededed;
          }
          h3 {
            display: grid;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.3;
            padding-bottom: 3px;
            grid-template-columns: 90% 26px;
            .arrow {
              justify-self: center;
              color: #585858;
            }
          }
          label {
            font-size: 12px;
          }
        }
        .module-active {
          background: #ededed;
          border-bottom: .5px solid #d7d4d4;
        }
        .activity-list {
          ul {
            list-style-type: none;
            li {
              padding: 8px 9px;
              &:not(:last-child) {
                border-bottom: 0.5px solid #c7c2c287;
              }
              &:hover {
                background: #f0f8fd;
              }
              .act-icon-text {
                flex: 2;
              }
              .activity-lock {
                width: 24px;
                font-size: 13px;
                color: #464646;
              }
              .act-icon {
                width: 16px;
              }
              .act-nameMsg {
                color: #707070;
                width: calc(100% - 30px);
                .act-name {
                  font-size: 14px;
                  color: #353434;
                  padding-bottom: 2px;
                  vertical-align: text-top;
                }
                .message {
                  font-size: 11px;
                }
              }
              .check-icon {
                font-size: 12px;
                color: #43a047;
              }
            }
            .selected-activity {
              // background: #e7f3ff;
              background: #e9f0f8;
            }
          }
        }
      }
    }
  }
  .fullscreen {
    grid-template-columns: 1fr;
  }
}

// ================================
// pop-up modal
// ================================
.modal {
  display: block !important;
}

.show-modal {
  left: 0;
  top: 15%;
  width: 50%;
  z-index: 20;
  display: block;
  position: absolute;
  transform: translateX(50%);
  .modal-dialog {
    margin: auto !important;
  }
}

.pop-back {
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #1b191966;
}

.modal-body {
  p {
    font-size: 14px;
  }
}

.pop-btn {
  outline: none;
  // color: white;
  font-size: 16px;
  padding: 4px 21px;
  border-radius: 4px;
  letter-spacing: 1px;
  // background: #000000;
  background: var(--colorBgbtn);
  color: var(--colorBtnTxt);
  border: 0.8px solid #ffffff;
  &:hover {
    opacity: 0.8;
  }
}

.shareIcon {
  i {
    width: 29px;
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
  }
}

.rating-modal {
  textarea {
    width: 96%;
    padding: 12px;
    border-radius: 4px;
    border: 0.5px solid #b9b7b7;
  }
}

// }
// Loader Code
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
  }
  .loader {
    // margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.8em solid rgba(255, 255, 255, 0.2);
    border-right: 0.8em solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.8em solid rgba(255, 255, 255, 0.2);
    border-left: 0.8em solid var(--colorIcons);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

// =========================================
// animation
// =========================================
#checkmark-ani {
  width: 80px;
  .circle {
    opacity: 0;
    transform: scale(0.9);
    transform-origin: center;
    animation: circle-animation 0.5s ease-out forwards;
  }
  .checkmark {
    stroke: #cfd8dc;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transform-origin: center;
    animation: checkmark-animation 1s ease-out forwards;
  }
}

@keyframes circle-animation {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes checkmark-animation {
  40% {
    transform: scale(1);
  }
  55% {
    stroke: #cfd8dc;
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 0;
    transform: scale(1);
    stroke: #43a047;
  }
}
