<section class="main-content">
  <!-- activity & module -->
  <div class="activity-module">
    <div class="course-activity">
      <div class="course-header align-items-center">
        <div class="back-button align-self-center">
          <i class="fa fa-arrow-left back-button-arrow" (click)="goBack()" aria-hidden="true"></i>
        </div>
        <div class="course-content position-relative">
          <span class="complet-date position-absolute">Completion Date: {{ courseDetailSummary?.endDate }}</span>
          <h2 class="m-0 align-self-center">
            {{ courseDetailSummary?.courseTitle }}
          </h2>
          <p class="m-0 pt-1" *ngIf="!showDescri">
            {{ courseDetailSummary?.courseDesc | truncate: 80:"..." }}
            <span *ngIf="courseDetailSummary?.courseDesc?.length > 80" class="show-more cursor-p"
              (click)="showMore()">Show more<i class="fas fa-chevron-down pl-1"></i></span>
          </p>
          <p class="m-0 pt-1" *ngIf="showDescri">
            {{ courseDetailSummary?.courseDesc }}
            <span class="show-more cursor-p" (click)="showMore()">Show less<i class="fas fa-chevron-up pl-1"></i></span>
          </p>
        </div>
        <div class="action-btns">
          <circle-progress [percent]="courseDetailSummary?.percComplete" [radius]="15" [outerStrokeWidth]="4"
            [innerStrokeWidth]="4" [outerStrokeColor]="outerStroke" [innerStrokeColor]="innerColor" [animation]="true"
            [animationDuration]="300" [outerStrokeLinecap]="round" [showBackground]="false" [showSubtitle]="false"
            [space]="-5" [titleFontSize]="11" [unitsFontSize]="10" [titleFontWeight]="900" [unitsFontWeight]="400">
          </circle-progress>
          <!-- <button (click)="openPop('share')">Share <i class="far fa-share-square"></i></button>
                  <button>Bookmark <i class="far fa-bookmark"></i></button>
                  <button (click)="openPop('rating')">Rating <i class="far fa-star"></i></button> -->
          <button (click)="fullScreen()" class="cursor-p">
            Fullscreen<i class="fas fa-expand pl-2"></i>
          </button>
        </div>
      </div>
      <div class="register p-4" *ngIf="!register">
        <form>
          <img class="d-inline" width="30" height="30" src="../../assets/edge-blue.png" alt="logo" />
          <h3 class="d-inline pl-2 align-bottom">Edge</h3>
          <h5 class="pb-2 pt-3 font-weight-normal">Sign into your account</h5>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Submit
          </button>
          <a class="forgot cursor-p">Forgot Password</a>
        </form>
      </div>
      <div class="activity" *ngIf="register">
        <div class="inner-activity" id="fullDiv">
          <!-- arrow -->

          <span class="next cursor-p" [hidden]="
              currentActIndex ===
                moduleList[currentModuleIndex]?.list.length - 1 &&
              currentModuleIndex === moduleList?.length - 1
            " *ngIf="showArrow" (click)="goToAutoNext()">
            <i class="fas fa-chevron-right"></i>
          </span>
          <span class="right cursor-p" *ngIf="showArrow" [hidden]="currentActIndex === 0 && currentModuleIndex === 0"
            (click)="goToPrevious()">
            <i class="fas fa-chevron-left"></i>
          </span>
          <!-- no-data found -->
          <div *ngIf="showComponent == 'noDataFound'" [ngClass]="{ 'show-content-center': !noDataFound?.showImage }">
            <div [ngClass]="{ 'course-content-div ': !noDataFound?.showImage }">
              <app-no-data-found [title]="noDataFound?.title" [showImage]="noDataFound?.showImage"
                [ngClass]="{'mb-5': !noDataFound?.showImage, 'w-100': !noDataFound?.showImage}"
                [discription]="noDataFound?.description"></app-no-data-found>
            </div>
          </div>

          <div class="h-100" *ngIf="showComponent != 'noDataFound'">
            <div class="loader-container d-flex justify-content-center align-items-center h-100"
              *ngIf="showConatinerSpinner">
              <div class="spinner-container">
                <div class="loader">Loading...</div>
              </div>
            </div>

            <!-- Begin Container -->
            <div class="begin-section d-flex text-center p-4"
            [ngClass]="{'begin-section-fullscreen': windowFullScreen}"
             *ngIf="showBeginContainer">
              <div class="begin-inner">
                <span>
                  <img class="begin-icon mb-2" src="assets/icon-svg/{{ beginContainer?.icon }}.svg" alt="" srcset="" />
                </span>
                <!-- <span *ngIf="beginContainer?.completedState">
                      <svg id="checkmark-ani" aria-labelledby="svg-my-icon-title" focusable="false" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 290 290">
                          <circle class="circle" cx="145" cy="145" r="124.67"
                              style="fill:none;stroke:#43a047;stroke-miterlimit:10;stroke-width:10px" />
                          <polyline class="checkmark" points="88.75 148.26 124.09 183.6 201.37 106.32"
                              style="fill:none;stroke:#43a047;stroke-linecap:round;stroke-linejoin:round;stroke-width:16px" />
                      </svg>
                  </span> -->
                <h3 class="m-0 pb-3">{{ beginContainer?.name }}</h3>
                <!-- <p *ngIf="beginContainer?.descrition">{{beginContainer?.descrition}} </p> -->
                <div class="complet-msg font-weight-bold mb-2">
                  <p class="m-0" *ngIf="beginContainer?.message">
                    {{ beginContainer?.message }}
                  </p>
                </div>
                <button class="commonBtn start-btn cursor-p" *ngIf="
                    beginContainer?.beginButton &&
                    currentActivityData?.multiLanguageList?.length == 0
                  " (click)="startActivity()">
                  Begin
                </button>
                <button class="commonBtn start-btn cursor-p" *ngIf="beginContainer?.goToButton"
                  (click)="perfornContainerAction('dependant')">
                  Go to <i class="fas fa-external-link-alt"></i>
                </button>
                <div class="begin-language" *ngIf="
                    !beginContainer?.goToButton &&
                    currentActivityData?.multiLanguageList?.length != 0
                  ">

                  <!-- <div *ngIf = "currentActivityData.isDeleted == 1">
                  <pclass="pb-1 m-0">
                  {{currentActivityData.isDeletedMsg}}
                  </p>
                </div> -->

                  <div *ngIf="beginContainer?.icon != 'lock'">
                    <p *ngIf="currentActivityData?.multiLanguageList?.length > 1 ">
                      Content available in multiple language, Select language to begin :
                    </p>
                    <p *ngIf="currentActivityData?.multiLanguageList?.length === 1 ">
                      Content available in
                      {{(currentActivityData?.multiLanguageList)[0]?.languageName}}
                      language, Select language to begin :
                    </p>
                    <button (click)="
                      changeActivityLanguage(item, false); startActivity()
                    " class="cursor-p" *ngFor="
                      let item of currentActivityData?.multiLanguageList;
                      let last = last
                    ">
                      {{ item?.languageName }}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Activity Container -->
            <div class="activity-box position-relative h-100" [style.display]="!showConatinerSpinner ? 'block' : 'none'"
              *ngIf="!showBeginContainer">
              <ngx-quiz-container [courseDataContentInput]="currentActivityData"
                [courseDataSummaryInput]="courseDetailSummary" (componentDataToParent)="
                  performActionOnChildComponentData($event)
                " *ngIf="showComponent === 'quiz'"></ngx-quiz-container>
              <ngx-feedback [courseDataContentInput]="currentActivityData"
                (componentData)="performActionOnChildComponentData($event)" *ngIf="showComponent === 'feedback'">
              </ngx-feedback>
              <ngx-mark-attendance [courseDataContentInput]="currentActivityData"
                *ngIf="showComponent === 'mark-attendance'" (componentData)="performActionOnChildComponentData($event)">
              </ngx-mark-attendance>
              <ngx-activity-container [courseDataContentInput]="currentActivityData"
                [courseDataSummaryInput]="courseDetailSummary"
                (componentData)="performActionOnChildComponentData($event)" *ngIf="showComponent === 'course'">
              </ngx-activity-container>
            </div>
          </div>
        </div>
        <div class="discription p-3">
          <ng-container *ngIf="
              currentActivityData?.multiLanguageList?.length > 1 &&
              !showBeginContainer
            ">
            <h4>Content available in multiple language</h4>
            <!-- <h4 *ngIf="">Content available in {{currentActivityData?.multiLanguageList[0]?.languageName}} language, Select language to begin:</h4> -->
            <div class="language-bttons-container d-inline-flex">
              <button type="button" class="btn btn-sm mb-2" [disabled]="item?.selected"
                (click)="changeActivityLanguage(item, true)" [ngClass]="{
                  'btn-primary': item?.selected,
                  'mr-2': !last,
                  'btn-outline-primary': !item?.selected
                }" *ngFor="
                  let item of currentActivityData?.multiLanguageList;
                  let last = last
                ">
                {{ item?.languageName }}
              </button>
            </div>
          </ng-container>
          <h5 class="font-weight-bold d-flex justify-content-between align-items-center">
            {{
              currentActivityData?.activityName
                ? currentActivityData?.activityName
                : "NA"
            }}
            <span class="act-duration font-weight-normal">{{ currentActivityData?.activityDuration }}</span>
          </h5>
          <div class="about-course pt-2" *ngIf="currentActivityData?.description">
            <h4 class="font-weight-bold">About this Activity -</h4>
            <p [innerHTML]="currentActivityData?.description | safe:'html'">

            </p>
            <!-- {{
                currentActivityData?.description
                  ? currentActivityData?.description
                  : "NA"
              }} -->
          </div>
        </div>
      </div>
    </div>

    <!-- module-activity lists -->
    <div class="module">
      <div class="module-inner" *ngFor="let item of moduleList;let moduleIndex = index">
        <div class="module-name cursor-p" [ngClass]="{'module-active': moduleIndex === currentModuleIndex}"
          (click)="showdiv(moduleIndex)">
          <h3 class="m-0">
            <span>
              <i class="fas fa-check-circle pr-2 check-icon" *ngIf="item?.isModuleCompFlag == 1"> </i>
              {{item.moduleName}}
            </span>
            <span class="arrow" *ngIf="item?.isDisable == 'N' && !item?.show">
              <i class="fas fa-chevron-down"></i></span>
            <span class="arrow" *ngIf="item?.isDisable == 'N'  && item?.show">
              <i class="fas fa-chevron-up"></i></span>
            <span class="arrow" *ngIf="item?.isDisable == 'Y'"><i class="fas fa-lock"></i></span>
          </h3>
          <a class="d-flex">
            <label *ngIf="item.isDisable == 'Y'" class="m-0">Start Date {{item?.mStartDate}}</label>
          </a>
        </div>
        <div class="activity-list" *ngIf="item?.isDisable == 'N'">
          <ul class="p-0 m-0" *ngIf="item.show">
            <li class="cursor-p d-flex" [ngClass]="{'selected-activity':
                          (currentActIndex === activityIndex && moduleIndex === currentModuleIndex)}"
              *ngFor="let activity of item?.list; let activityIndex = index"
              (click)="showBeginBox(activity, moduleIndex, activityIndex)">
              <div class="d-flex justify-content-between align-items-center w-100">
                <span class="act-icon-text d-flex justify-content-between align-items-center">
                  <img class="act-icon" src="assets/icon-svg/outline/{{activity?.actIcon}}.svg" alt="" srcset="">
                  <div class="act-nameMsg">
                    <label class="act-name m-0 cursor-p">{{activity?.activityName}}</label>
                    <!-- <span class="message d-block"
                                          *ngIf="!activity?.completed && !activity?.wait">Video</span> -->
                    <span class="message d-block" *ngIf="activity?.completed">Completed on
                      {{ activity?.completedDate | date: "dd-MMM-yyyy" }}</span>
                    <span class="message d-block" *ngIf="activity?.wait">Complete activity
                      "{{ activity?.dependentActName }}" from
                      module "{{ activity?.dependentModName }}" to unlock</span>
                    <span class="message d-block" *ngIf="
                        activity?.begin &&
                        activity?.byTrainer == 1 && !activity?.completed
                      ">
                      Attendance will be marked by trainer</span>
                    <span class="message d-block" *ngIf="
                        activity?.begin &&
                        activity?.byTrainer == 1 && activity?.completed
                      ">
                      Attendance is marked by trainer</span>
                    <span class="message d-block" *ngIf="
                        activity?.begin &&
                        activity?.byTrainer == 0
                      ">
                      {{activity?.actFormatName}}</span>
                  </div>
                </span>
                <span>
                  <i *ngIf="activity?.completed" class="fas fa-check-circle check-icon"></i>
                  <i *ngIf="
                      activity?.wait ||
                      (activity?.byTrainer == 1 && !activity?.completed)
                    " class="fas fa-lock"></i>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal pop-up -->
<div class="pop-back" *ngIf="showPopup" (click)="closePopup()"></div>
<div class="fade" *ngIf="showPopup" [ngClass]="{ 'show show-modal': showPopup }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="share">Share this course</h4>
        <h4 class="modal-title" *ngIf="rating">Rating</h4>
        <h4 class="modal-title" *ngIf="quizPass">Quiz password</h4>
        <h4 class="modal-title" *ngIf="quizIntro">Instruction</h4>
        <button type="button" class="close" (click)="closePopup()">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="share-modal" *ngIf="share">
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                Copy
              </button>
            </div>
          </div>
          <div class="shareIcon d-flex justify-content-around">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fas fa-envelope"></i>
          </div>
        </div>
        <div class="rating-modal text-center" *ngIf="rating">
          <!-- <star-rating value="0" totalstars="5" checkedcolor="#256DDA" uncheckedcolor="gray" size="50px"
                        readonly="false" (rate)="onRate($event)"></star-rating> -->
          <textarea *ngIf="ratingText" name="feedback" cols="30" rows="5"></textarea>
          <button class="pop-btn mt-2" *ngIf="ratingText">Save</button>
        </div>
        <div class="quiz-pass-modal text-right" *ngIf="quizPass">
          <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" />
          <p *ngIf="passWrong">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Password
            is wrong
          </p>
          <button class="pop-btn mt-2" (click)="onSubmitPassword()">
            Save
          </button>
        </div>
        <div class="quiz-intro-modal text-right" *ngIf="quizIntro">
          <!-- <h5 class="text-left">Title</h5> -->
          <!-- <p class="text-left">Lorem Ipsum is simply dummy text of the printin</p> -->
          <p class="text-left">
            {{
              checkResponse?.instructions ? checkResponse?.instructions : "NA"
            }}
          </p>
          <button class="pop-btn" (click)="onSubmitInstruction()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
