.feedback_container{
    padding: 15px;
    height: 360px;
    overflow-y: auto;
    form{
        color: #000;
    }
    .button_container{
        text-align: center;
        .bodyMidButton{
            height: 40px;
            width: 228px;
            border-radius: 10px;
            background-color: var(--colorCommon);
            border: 1px solid var(--colorCommon);
            cursor: pointer;
            color: var(--colorBtnTxt);
            font-size: 15px;
            border:none;
            margin: 10px 0 20px 0;
        }
    }
    
.img{
    width: 250px;
    height: auto;
    margin: 15px 0;
    border: 1px solid #eee;
}

.margin-top{
    margin-top: 10px;
}

.commntbx{
    outline: none !important;
    box-shadow: none;
    resize: none;
    &:focus {
        border-color: var(--colorCommon);
    }
}

}