<div class="feedback_container">
  <form name="form" #f="ngForm" novalidate>
    <div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <!-- formControlName="description" -->
            <textarea rows="4" cols="50" matInput placeholder="message" class="form-control commntbx"  name="message" [(ngModel)]="message"  minlength="2" maxlength="500" required></textarea>
            <!-- <div class="required_msg_text" *ngIf="comment.errors && (comment.dirty || comment.touched)">
              <small class="form-text text-muted" [hidden]="!comment.required">Comment is required</small>
              <small class="form-text text-muted" [hidden]="!comment.minlength">Minimum 2 characters required</small>
            </div> -->
        </div>
        <nb-checkbox status="primary" value="showImage" (change)="toggle($event)" >Include screenshot</nb-checkbox>
    </div>
    
    <div class="text-center" *ngIf="showImage">
        <img [src]="imgSrc" class="img-responsive img">
    </div>
    <div class="button_container">
        <button class="bodyMidButton" (click)="sendFeedback(f)">
            Send
        </button>
    </div>
   
  </form>
</div>