<div class="trainer_dashboard_details">
  <div class="dashCardContainer">
    <div class="dashCard card1" (click)="gotoBatchDetail()">
      <div class="icon-container">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
      <div class="icon-content">
        <p class="point">4.6</p>
        <p class="point-text">Assessment scrore</p>
      </div>
    </div>

    <div class="dashCard card2">
      <div class="icon-container">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
      <div class="icon-content">
        <p class="point">4.6</p>
        <p class="point-text">Average scrore</p>
      </div>
    </div>
  </div>

  <div class="table_container">
    <table>
      <tr class="t-head">
        <th>Program Name</th>
        <th>Batch Code</th>
        <th>Objective feedback</th>
        <th>Avg. Content feedback</th>
        <th>Avg. Trainer feedback</th>
        <th>Avg. Overall feedback</th>
        <th>Avg. Assessment</th>
      </tr>

      <tr *ngFor="let item of trainerData" class="t-row"> 
        <td>{{ item.progName }}</td>
        <td>{{ item.batchcode }}</td>
        <td>{{ item.objFeedback }}</td>
        <td>{{ item.avgContent }}</td>
        <td>{{ item.avgTrainer }}</td>
        <td>{{ item.avgOverall }}</td>
        <td>{{ item.avgAssess }}</td>
      </tr>
    </table>
  </div>
</div>