.trainer_dashboard_details{
    display: grid;
    /* grid-template-rows: auto; */
    grid-row-gap: 30px;

    .dashCardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;

        .dashCard{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 10px;
            color: white;
            border-radius: 10px;
            padding: 15px 10px;
            border: none;
            // background: #5ACEF7;

            .icon-container{
                align-self: start;
                margin-top: 5px;
                text-align: center;
                i{
                    font-size: 40px;
                    display: block;
                }
            }
            .icon-content{
                align-self: center;
                .point{
                    margin: 0;
                    font-size: 25px;
                }
                .point-text{
                    margin: 0;
                    font-size: 15px;
                }
            }
        }

        .card1{
            background: #A3E698;
        }

        .card2{
            background: #5ACEF7;
        }

        .card3{
            background: #FBD35F;
        }
    }

    .table_container{
        background: #fff;
        // padding: 15px;
        border-radius: 5px;
        box-shadow: 1px 6px 10px #eee;

        table{
            width: 100%;
            color: #000;
            th{
                font-weight: 100;
                color: #000;
            }
        }
        .t-head{
            height: 60px;
            line-height: 50px;
            text-align: center;
            font-size: 16px; 
        }
        .t-row{
            height: 60px;
            line-height: 50px;
            font-size: 16px;
            text-align: center;
        }

        .t-row:nth-child(even){
            background: #f4f4f4;
        }
    }
}