<div class="wrapBOth-container">
    <div class="buttonInCenter">
        <button class="downloadbtn" (click)="back()"><i class="fas fa-chevron-left"></i></button>
      </div>
    <div class="participantContainer" *ngIf = "list">
      <div>
        <mat-card class="participantCard">
          <table>
            <tr class="tablerow">
              <th>Profile</th>
              <th>Employee name</th>
              <th>Nominee Date</th>
              <th>Business</th>
              <th>Department</th>
              <!-- <th>Location</th> -->
              <th>Upcoming Call</th>
              <th></th>
            </tr>
            <tr class="tablerow" *ngFor="let nominee of nomineelist; let i = index">
              <td>
                <img class="table_img" src="{{ nominee.picRef == null ? 'assets/images/user.png' : nominee.picRef }}" alt="" srcset="">
              </td>
              <td>{{ nominee.empName }}</td>
              <td>{{ nominee.date }}</td>
              <td>{{ nominee.business }}</td>
              <td>{{ nominee.department }}</td>
              <!-- <td>{{ nominee.location }}</td> -->
              <td>{{ nominee.latUpCall }}</td>
              <td>
                <button
                  class="viewFeedBtn"
                  (click)="viewFeedback(nominee)">
                  view
                </button>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
    </div>
    <div class="participantContainer nodata" *ngIf = "!list">
      <div>No data found.</div>
    </div>
  </div>