ngx-cc-trainer-nominationlist {
  .wrapBOth-container {
    .participantCard {
      margin-top: 20px;
      padding: 0 !important;
    }

    table {
      width: 100%;
    }
  }

  .downloadbtn{
    // background: #507bfc;
    border: none;
    font-size: 22px;
    // color: #fff;
    // border: 2px solid;
    height: 50px;
    width: 53px;
    text-align: center;
    // line-height: 50px;
    padding: 0;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    // box-shadow: 4px 7px 16px 0 #0796d685;
    color: var(--colorIcons);
    background: #fff;
    border: 1px solid var(--colorIcons);
}
.table_img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
  .viewFeedBtn {
    width: auto;
    padding: 10px 20px;
    // background: #507bfc;
    border: none;
    border-radius: 25px;
    // color: #fff;
    font-size: 16px;
    // box-shadow: 1px 5px 4px #507bfc;
    cursor: pointer;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
  }

  .tablerow {
    height: 60px !important;
    text-align: center !important;
    font-size: 16px !important;
  }

  .tablerow:nth-child(even) {
    background: #f3f2f2;
  }
  .nodata{
    width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }
}
