<div style="display: flex">
  <div style="width: 100%; display: flex">
    <!--(click)="openInFullScreen()"  -->
    <i class="fa fa-external-link"  aria-hidden="true" (click)="openInFullScreen()"></i>
    <!--  ngClass="{'fade-in': 'toggleClassChange', 'fade-out': 'toggleClassChange'}" -->
    <!-- *ngIf="showContainer" -->
    <ngx-image-viewer class="popup" *ngIf="showContainer"  [src]="images"
                      [(config)]="config"
                      [(index)]="imageIndexOne"
                      (customEvent)="handleEvent($event)">
    </ngx-image-viewer>

</div>
