ngx-workflow-learn {
  .learn-grid-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    margin-top: 27px;
    .cardSingle {
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      .upcoming-container {
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        z-index: 2;
        color: #fff;
        text-align: center;
        // top: 5;
        display: grid;
        align-items: center;
        border-radius: 8px;
        .inside-content {
          ion-icon {
            font-size: 30px;
          }
          p {
            margin: 0;
          }
        }
      }
      .card_label_mandtory {
        border-left: 5px solid #f0a24f;
      }
      .card_label_recommended {
        border-left: 5px solid #daa0fe;
      }
      .card_label_aspirational {
        border-left: 5px solid #5acef7;
      }
      .card_label_enrolled {
        border-left: 5px solid #e6beff;
      }
      .card_label_OPEN {
        border-left: 5px solid #99b1fc;
      }
      .online_icon {
        height: 15px;
        width: 15px;
      }
      .card_image {
        height: 160px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center !important;
        display: grid;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .self-enrol-buttonO {
          align-self: center;
          .self-enrol-button-text {
            display: block;
            text-align: center;
            width: 60%;
            height: 20px;
            line-height: 20px;
            color: #000;
            background: #ffff;
            margin-left: auto;
            font-size: 13px;
          }
        }
        .progressDiv-card {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .badge_container_cap {
            color: #fff;
            height: 25px;
            width: 120px;
            display: flex;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 13px;
          }
          .badge_container_cap_mandtory {
            background-color: #f0a24f;
          }
          .badge_container_cap_recommended {
            background-color: #daa0fe;
          }
          .badge_container_cap_aspirational {
            background-color: #5acef7;
          }
          .badge_container_cap_enrolled {
            background-color: #e6beff;
          }
          .badge_container_cap_OPEN {
            background-color: #99b1fc;
          }
          .badge_container_percent {
            font-size: 14px;
            background: #1a1a1a94;
            color: #fff;
            width: 60px;
            border-top-right-radius: 10px;
            align-items: center;
            height: 25px;
            display: flex;
            justify-content: center;
          }
          .badge_container_bundle {
            background: #507bfc;
            color: #fff;
            height: 25px;
            width: 40px;
          }
        }
        .progressDiv-card:last-child {
          align-self: flex-end;
        }
      }
      .card_content {
        padding: 10px 10px 0;
        background: #fff;
        .title_Card {
          font-size: medium;
          color: #646464;
          font-family: roboto;
        }
        .card_content_grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1.25fr;
          align-items: end;
          padding: 7px 0 5px 0;
          .card_subtitles {
            font-size: smaller;
            margin: 0;
            color: #4e4e4e;
            margin-bottom: 7px;
            text-align: center;
            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      .card_content_workflow {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
      }

      .card_footer {
        display: grid;
        padding-top: 7px;
        padding-bottom: 4px;
        grid-template-columns: 1fr 1fr;
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .card_content_footer {
          width: 100%;
          text-align: center;
          align-self: center;
          border-right: 1px solid #eee;
          color: #aea4a4;
          font-size: 13px;
          padding-top: 7px;
          border-top: 1px solid #eee;
          padding-bottom: 4px;
        }
        .card_content_footer:last-child {
          border-right: 0px;
        }
      }
    }
  }
  .upcoming-container {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    // top: 5;
    display: grid;
    align-items: center;
    border-radius: 8px;
    .inside-content {
      ion-icon {
        font-size: 30px;
      }
      p {
        margin: 0;
      }
    }
  }
  .mat-progress-bar {
    display: block;
    height: 5px !important;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity 250ms linear !important;
    transition: opacity 250ms linear !important;
    width: 100% !important;
    margin-left: 0;
    margin: 5px 0 5px 0px !important;
    background-color: #eeeeee !important;
    border-radius: 15px !important;
  }
  .green-progress .mat-progress-bar-fill::after {
    background-color: #24e4e1 !important;
  }
  .active {
    color: #507bfc !important;
  }
  .yellow-progress .mat-progress-bar-fill::after {
    background-color: #ffee19 !important;
  }
  .mat-progress-bar-buffer {
    background: #eeeeee;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    .boxes {
      background-color: white;
      border-radius: 8px;
      margin-right: 15px;
      .inside_content {
        padding-left: 10px;
      }
      // padding-left: 10px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      position: relative;
      .boxes:last-child {
        margin-right: 0px;
      }
      .tag-mandatory {
        width: 40%;
        background: #ffae74;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-recommended {
        width: 40%;
        background: #daa0fe;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-open {
        width: 40%;
        background: #ddb0fc;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-aspirational {
        width: 40%;
        background: #5acef7;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-self-enrolled {
        width: 40%;
        background: #e6beff;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-text {
        text-align: center;
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 5px;
        padding-right: 5px;
        text-transform: uppercase;
        font-size: 13px;
        min-width: 50px;
        cursor: pointer;
      }
      .cource-title {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 8fr;
        align-items: center;
        .course-icon {
          display: inline-block;
          cursor: pointer;
        }
        .course-icon img {
          width: 20px;
          cursor: pointer;
          width: 40px;
          vertical-align: baseline;
        }
        .cource-name {
          display: inline-block;
          margin-left: 15px;
          .course-icon-name {
            display: block;
            color: black;
            cursor: pointer;
          }
          .course-icon-below-text {
            color: #a4abb3;
            padding-top: 10px;
            cursor: pointer;
            font-size: 13px;
          }
        }
      }
      .stages {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 10px;
        align-items: center;
        cursor: pointer;
        .number-of-stages {
          font-size: 13px;
          display: inline-block;
          color: #a4abb3;
          cursor: pointer;
          width: 50%;
        }
        .percComplete-of-course {
          font-size: 13px;
          display: inline-block;
          color: #a4abb3;
          cursor: pointer;
          text-align: right;
          width: 50%;
        }
        .progress-bar-color {
          background-color: #ffc107 !important;
          cursor: pointer;
        }
        .self-enrol-buttonO {
          align-self: center;
          .self-enrol-button-text {
            display: inline-block;
            border-color: #5acef7;
            text-align: center;
            width: 60%;
            height: 20px;
            line-height: 20px;
            border-style: solid;
            border-width: 1px;
          }
        }
        .self-enrol-buttonNO {
          align-self: center;
          .self-enrol-button-text {
            display: inline-block;
            border-color: #5acef7;
            text-align: center;
            width: 90%;
            height: 20px;
            line-height: 20px;
            border-style: solid;
            border-width: 1px;
          }
        }
      }
      .stages-icons {
        display: flex;
        text-align: center;
        padding-right: 10px;
        color: #a4abb3;
        justify-content: space-evenly;
        align-items: flex-end;
        vertical-align: super;
        i {
          color: #a4abb3;
          cursor: pointer;
        }
        .stages-icons-like {
          display: inline-block;
        }
        .number-of-likes {
          padding-left: 7px;
          display: inline-block;
        }
        .stages-icons-dislike {
          padding-left: 10px;
          display: inline-block;
        }
      }
      .course-mode {
          font-size: 14px;
          padding-top: 10px;
          height: 35px;
        cursor: pointer;
        .course-type-icon {
          display: inline-flex;
          text-align: center;
          padding-right: 10px;
          cursor: pointer;
        }
        .course-mode-icon {
          display: inline-flex;
          width: auto;
          color: #464646;
          cursor: pointer;
          .course-type {
            display: inline-flex;
            cursor: pointer;
            text-align: center;
            font-size: 12px;
          }
          .course-type-icon img {
            width: 20px;
            cursor: pointer;
          }
        }
        .course-mode-text {
          display: inline-flex;
          text-align: right;
          width: auto;
          font-size: 12px;
          padding-left: 10px;
          color: #464646;
          i {
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
    }
    .boxes:nth-child(3n) {
      margin-right: 0px;
    }
  }
  .page_top_grid {
    display: grid;
    grid-template-columns: 60px 6fr;
    margin: 0;
    height: 60px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
    .downloadbtn {
      background: #ffffff;
      border: none;
      font-size: 18px;
      border: 1px solid var(--colorIcons);
      // color: #507BFC;
      color: var(--colorIcons);
      height: 40px;
      width: 40px;
      text-align: center;
      padding: 0;
      margin: auto;
      border-radius: 6px;
      cursor: pointer;
    }
    .titlePara {
      margin: 0;
      line-height: 40px;
      color: #000000;
      font-weight: 600;
      width: 100%;
    }
    .description {
      margin: 0;
      font-size: 16px;
      color: #000000;
      font-weight: 400;
    }
  }
}