<div class="page_top_grid">
    <div class="back_button">
        <button class="downloadbtn" (click)="back()"><i class="fas fa-chevron-left"></i></button>
    </div>
    <div class="title">
        <p class="titlePara">{{workflowData?.wname}} | {{workflowData?.courseCount}} courses.</p>
    </div>
</div>

<div class="learn-grid-card-container">
    <div class="cardSingle" *ngFor='let cardItem of arrayDataList;let i = index;'>
        <div class="upcoming-container" *ngIf="cardItem.wait">
            <div class="inside-content">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <p *ngIf="cardItem.cascade_course_flag == 1">Complete the ' {{cardItem?.dependentCourseName}} ' course to
                    access this.</p>
                <p *ngIf="cardItem.cascade_course_flag == 0">This course will start from '
                    {{cardItem?.cascade_start_date }} '.</p>
            </div>
        </div>
        <div>
            <div class="card_image" [style.background-image]="bindBackgroundImage(cardItem?.typeImage)"
                (click)='goToCourseDetails(cardItem,i)'
                [ngClass]="{ 'card_label_mandtory' : cardItem?.courseType=='MANDATORY','card_label_recommended' : cardItem?.courseType=='RECOMMENDED','card_label_recommended' : cardItem?.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem?.courseType == 'SELF', 'card_label_enrolled' : cardItem?.courseType=='OPEN'}">

                <div class="progressDiv-card">
                    <div class="card_label ">
                        <!-- <span> {{cardItem.courseType | slice:0:1}}</span>  -->
                    </div>
                    <div class="badge_container_cap"
                        [ngClass]="{ 'badge_container_cap_mandtory' : cardItem.courseType=='MANDATORY','badge_container_cap_recommended' : cardItem.courseType=='RECOMMENDED','badge_container_cap_aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : cardItem.courseType == 'SELF', 'badge_container_cap_OPEN' : cardItem.courseType=='OPEN'}">
                        {{  cardItem?.courseType === 'SELF' ? 'OPEN' : cardItem?.courseType  | titlecase}}
                    </div>

                </div>

                <div class="progressDiv-card">

                    <div class="badge_container_percent"> <span *ngIf='cardItem?.percComplete == 2'
                            class='percComplete-of-course'>0%</span>
                        <span *ngIf='cardItem.percComplete != 2'
                            class='percComplete-of-course'>{{ ProgressInWhole(cardItem?.percComplete) }}%</span></div>
                </div>
            </div>
            <div class="card_content" (click)='goToCourseDetails(cardItem,i)'
                [ngClass]="{ 'card_label_mandtory' : cardItem?.courseType=='MANDATORY','card_label_recommended' : cardItem?.courseType=='RECOMMENDED','card_label_recommended' : cardItem?.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem?.courseType == 'SELF', 'card_label_enrolled' : cardItem?.courseType=='OPEN'}">
                <div class="title_Card">{{ cardItem?.courseTitle }}</div>
                <div class="card_content_grid">
                    <div class="card_subtitles">Pts: {{ cardItem?.cpoints }}</div>
                    <div class="card_subtitles"><img [src]="cardItem.type2Image" class="online_icon" />
                        {{ cardItem?.courseType2 }}</div>
                    <p class="card_subtitles"><i class="far fa-calendar-alt"></i> <span *ngIf="!cardItem.endDate"> NA
                        </span>
                        <span *ngIf="cardItem.endDate"> {{ cardItem?.endDate|date: 'dd-MMM-yyyy' }} </span></p>
                </div>

            </div>
            <div class="card_footer"
                [ngClass]="{ 'card_label_mandtory' : cardItem?.courseType=='MANDATORY','card_label_recommended' : cardItem?.courseType=='RECOMMENDED','card_label_recommended' : cardItem?.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem?.courseType == 'SELF', 'card_label_enrolled' : cardItem?.courseType=='OPEN'}">
                <div class="card_content_footer">
                    <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem?.isLike == 1}"
                        (click)="submitCourseFeedback(cardItem, 1)"></i>
                </div>
                <div class="card_content_footer">
                    <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem?.isDislike}"
                        (click)="submitCourseFeedback(cardItem, 2)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
