<!-- <ion-button (click)="downloadScorm(scormInfo)" [disabled]="downloading">Download</ion-button> -->
<!-- <ion-progress-bar type="indeterminate" *ngIf="downloading"></ion-progress-bar> -->

<mat-spinner *ngIf="isWorking" class="m-auto"></mat-spinner>
<!-- <button class='btn btn-default' (click)="refreshScorm()">Refresh</button> -->
<!-- <div *ngIf="manifesturl != null || manifesturl != undefined" width="100%" [ngStyle]="{'height':manifesturl != null || manifesturl != undefined ? '100vh' : '100vh' }">
    <iframe [src]="manifesturl | safePipePipe" *ngIf="isWorking == false" width="100%" [ngStyle]="{'height':manifesturl != null || manifesturl != undefined ? '100vh' : '100vh' }"></iframe>

</div> -->
<div *ngIf="errormsg != null || errormsg != undefined">
{{errormsg}}
</div>
