

<div class='mainDiv'>
	<!-- <div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        
      	<div class="example-container">
		  <mat-form-field>
		    <input matInput placeholder="Input">
		  </mat-form-field>

		  <mat-form-field>
		    <textarea matInput placeholder="Textarea"></textarea>
		  </mat-form-field>

		  <mat-form-field>
		    <mat-select placeholder="Select">
		      <mat-option value="option">Option</mat-option>
		    </mat-select>
		  </mat-form-field>
		</div>

		<mat-form-field>
		  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

      </nb-card-body>
    </nb-card>
  </div>
</div> -->

	<div class='container'>

		<div class="maincontent" [hidden]="onClick">
			<div class='addComment'>
				<div class="col-md-12 colFlex">
					<i class="fas fa-pen icons123 hide-mobile"></i>
					<div class="user-icon">
						<img src="./assets/images/Group_16.png">
					</div>
					<textarea placeholder="Post something you would like to share…"
						class="textArea1 md-textarea form-control" [(ngModel)]="content.pNa" ></textarea>
					
				</div>	
				<div class="col-md-12 colFlex hide-mobile">
					<i class="fas fa-hashtag icons123"></i>
					<!-- <input type="text" placeholder="Add hashtags separated by commas" class="form-control hashtaginput"> -->
					<tag-input class="inputHashTag" [(ngModel)]="content.tags" 
					placeholder="Add hashtags"
					secondaryPlaceholder="Add hashtags"
					[onAdding]="transform">
					</tag-input>
				</div>
				<div class="col-md-12 cHeight hide-mobile">
					<!-- <input type="file" name="userPhoto" file-model="content.fileUpload" class="labelinput"> -->
					<!-- <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
						<div><i class="fas fa-paperclip"></i></div>
						<h1>Drag &amp; Drop</h1>
					</div> -->
					<label class="upload-button">
						<!-- <input type="file" id='inputPost' ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"  -->
						<input type="file" #file id='inputPost' ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"
						(change)="onUploadOutput($event);removeLimitExceed($event);" />
					</label>
					<button for='inputPost' (click)="file.click()" class="btn12"><i class="fas fa-paperclip"></i></button>
					<button class="btn123-post" (click)='submit(content)'>Post</button>
				</div>
			</div>
			<div class="all-post">
				<!-- <div class="hr-col">
					<hr>
				</div> -->
				<div class="all-post-button">
					<button class="btn123">All Posts</button>
				</div>
			</div>
			<ul class="padding0">
				<li *ngFor="let posts of MyPosts" class="post-list">
					<div class='addComment'>
						<div class="col-md-12 colFlex colpadding">
							<img src="./assets/images/Group_16.png" class="ico123 col-md-1" />
							<div class="inblock">
								<h1 class="title">{{posts.title}}</h1>
								<p class="para">{{posts.timePassed}}</p>
							</div>
							<i class="fas fa-share-alt fontawesomebtn" (click)="openPopupWindow()"></i>
							<i class="fas fa-bookmark fontawesomebtn" [ngClass]="{'active' : posts.isBookmark}"
								(click)="togglesave(posts)"></i>
						</div>
						<div class="col-md-12 colFlex padding0">
							<img src={{posts.attachment}} class="coverpic" />
						</div>
						<div class="col-md-12 colFlex vertical-center">
							<p class="footer1">{{posts.tags}}</p>
							<i class="fas fa-thumbs-up ico" [ngClass]="{'active' : posts.isLike}"
								(click)="togglelike(posts)"></i>
							<span class='pIco'>{{posts.noLikes}}</span>
							<i class="fas fa-thumbs-down ico" [ngClass]="{'active' : posts.isDislike}"
								(click)="toggledislike(posts)"></i>
							<span class='pIco'>{{posts.noDislikes}}</span>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="maincontent" [hidden]="!onClick">

			<ul class="padding0">
				<li *ngFor="let posts of similarPosts; let isFirst = first;" class="post-list">
					<div class="headings1" *ngIf="isFirst">
						<button class="roundarrow" (click)="backToPrevious()"><i
								class="fas fa-chevron-left"></i></button>
						<div class="columnsize">
							<h1 class="tagName"> #{{posts.rawname}} </h1>
							<p class="totalPosts">{{posts.trending}} posts</p>
						</div>
					</div>

					<div class='addComment'>
						<div class="col-md-12 colFlex colpadding">
							<img src="./assets/images/Group_16.png" class="ico123 col-md-1" />
							<div class="inblock">
								<h1 class="title">{{posts.title}}</h1>
								<p class="para">{{posts.timePassed}}</p>
							</div>
							<i class="fas fa-share-alt fontawesomebtn"></i>
							<i class="fas fa-bookmark fontawesomebtn" [ngClass]="{'active' : posts.isBookmark}"
								(click)="togglesave(posts)"></i>
						</div>
						<div class="col-md-12 colFlex padding0">
							<img src={{posts.attachment}} class="coverpic" />
						</div>
						<div class="col-md-12 colFlex">
							<p class="footer1">{{posts.tags}}</p>
							<i class="fas fa-thumbs-up ico" [ngClass]="{'liked' : posts.like}"
								(click)="togglelike(posts)"></i>
							<i class="fas fa-thumbs-down ico" [ngClass]="{'liked' : posts.dislike}"
								(click)="toggledislike(posts)"></i>
						</div>
					</div>
				</li>
			</ul>

		</div>


		<div class="trendHash">
			<h1 class="trend-title">Trending Hashtags</h1>
			<div class="hashtaglist">
				<ul class="padding0">
					<li *ngFor="let hashlist of hashtagArray" class="listOfHashTag">
						<a class="squaretag"><i class="fas fa-hashtag"></i></a>
						<div class="blockhashname">
							<h4 class="name">#{{hashlist.rawname}}</h4>
							<p class="noOfPosts">{{hashlist.trending}} posts</p>
						</div>
						<button class="roundarrow2" (click)="similarItems(hashlist)"><i
								class="fas fa-chevron-right"></i></button>

					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



<div class="addSelfBackdrop2" [hidden]="!modal">
	<div class="addSelfDemoModal2">
		<h1 class="modalheader"> Share</h1>

		<div class="row shadowbox">
			<div class="col-md-3">
				<img src="./assets/images/open-book-leaf.jpg" class="img">
			</div>
			<div class="block123 col-md-9">
				<h3 class="postname">User Experience Design Tools</h3>
				<p class="postdetail">Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec.
					Donec viverra eleifend lacus, vitae ullamcorper metus.</p>
			</div>
		</div>

		<div class="row roMarg">
			<mat-radio-group class="radiogrp">
				<mat-radio-button value="onPulse" color="primary" class="mat-primary radiospace2"
					(click)="hidechipset()">Share on Pulse</mat-radio-button>
				<mat-radio-button value="onRecomendation" color="primary" class="mat-primary radiospace2"
					(click)="showchipset()">Share as a recommendation</mat-radio-button>
			</mat-radio-group>
		</div>

		<div class="row chipsblock" [hidden]="!chipset">
			<tag-input class="chipsInput" [ngModel]="[]"
				placeholder="Enter the name of the person you want to share with... "
				secondaryPlaceholder="Enter the name of the person you want to share with..."
				[onlyFromAutocomplete]="true">

				<tag-input-dropdown [autocompleteItems]="autocomplete" zIndex="9999">
				</tag-input-dropdown>

			</tag-input>
		</div>

		<div class="row modalbtns">
			<button class="outlinebtn" (click)="close()">Cancel</button>
			<button class="filledbtn">Share</button>
		</div>


	</div>
</div>