ngx-pulse{
	.mainDiv{
		padding: 2.25rem 2.25rem 0.75rem !important;
	}
	
	.container{
		display: inline-flex;
	}
	.maincontent{
		box-sizing: border-box;
		width: 70%;
	}
	
	.inputHashTag{
		padding: 0 20px;
		// font-size: 16px;
	}
	
	.inputHashTag:placeholder{
		font-size: 30px !important;
	}
	
	
	.inputHashTag > div {
		display: block;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		-webkit-transition: all .25s;
		transition: all .25s;
		padding: .25rem 0;
		min-height: 58px;
		cursor: text;
		border-bottom: 0px !important;
	}
	
	.cHeight{
		height: 65px;
		text-align: left;
		padding-left: 25px;
	}
	
	.roMarg{
		padding: 0 15px;
		margin: auto;
	}
	
	.icons123{
			box-sizing: border-box;
			height: 21px;
			width: 21px;
			margin: auto  15px;
			font-size: 22px;
	}
	
	input,
	select,
	textarea,
	button {
		outline: none;
	}
	
	.textArea1{
		width: 100%;
		border: none;
		margin: 15px 15px;
		padding: 0 4px;
		resize: none;
		border:none !important;
	}
	
	
	
	.ng2-tag-input{
		height: 100% !important;
		border: none !important;
		padding: 15px 0 !important;	
	}
	
	.textArea1:focus, .hashtaginput:focus{
		border-color: #fff;
	}
	
	
	.upload-button{
		display: none;
	}
	
	.horizline{
		margin: 0;
		height: 0px;	
		width: 100%;	
		opacity: 0.65;	
		background-color: #D8D8D8;
	}
	
	.hashtaginput{
		width: 100%;
		border: none;
		margin: 15px 15px;
		padding: 0 4px;
	}
	
	
	.colFlex{
		display: inline-flex;
		border-bottom: 0.5px solid #cecccc
	}
	.btn123-post{
		height: 40px;
		width: 122px;
		border-radius: 100px;
		background-color: #507BFC;
		color: #FFFFFF;
		border: none;
		-webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.4) !important;
		box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.4);
		float: right;
		margin: 15px 0;
		cursor: pointer;
	}
	.btn123{
		height: 40px;
		width: 122px;
		border-radius: 100px;
		background-color: #507BFC;
		color: #FFFFFF;
		border: none;
		-webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.4) !important;
		box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.4);
		float: right;
		margin: 15px 0;
		cursor: pointer;
	}
	
	.btn12{
		margin: 15px 0;
		font-size: 22px;
		color: blue;
		background: #fff;
		border: none;
		box-shadow: 0.1px 0.1px 2.1px rgba(148, 136, 136, 0.37);
		padding: 0;
		border-radius: 5px;
		height: 40px;
		width: 40px;
		cursor: pointer;
	}
	
	.ico123{
		min-width: 80px;
		height: 40px;
		margin-top: 0px;
	}
	
	.ico{
		padding: 15px 10px;
		font-size: 16px;
	}
	
	.pIco{
		padding: 15px 10px;
	}
	
	.inblock{
		display: block;
		width: 100%;
		.para{
			font-size: 12px;
			line-height: 20px;
			font-family: "Open Sans";
		}
	}
	
	.padding0{
		padding: 0 !important;
	}
	
	.post-list{
		list-style: none;
	}
	
	.title{
		font-size: 22px;
		margin: 0;
		font-family: "Open Sans";
	}
	
	
	
	tag-input-form{
		width: 100%;
	}
	
	.ng2-tag-input__text-input{
		width: 100%;
	}
	
	.fontawesomebtn{
		padding: 6px;
		margin-right: 20px;
		font-size: 20px;
	}
	
	.addComment{
		height: auto;	
		width: 100%;	
		border-radius: 10px;	
		background-color: #FFFFFF;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-bottom: 15px;
	}
	
	.header{
		padding: 15px 0;
		display: flex;
	}
	
	.ovalimg{
		width: auto;
		height: auto;
	}
	
	.preview{
		height: 150px;
		width: 200px;
		margin:	0;
	}
	.videodiv{
		box-sizing: border-box;
		height: 184px;
	}
	
	.footer1{
		margin: 0;
		font-size: 15px;
		padding: 11px 0;
		font-weight: 100;
		color: #494a4acf;
		font-family: "Open Sans";
		width: 100%;
	}
	
	.cover{
		height: 150px;
		width: 100%;
		margin: 0;
		opacity: 0.8;
		background-color: #46464630;
		-webkit-box-shadow: inset 0 0 0 1px #FFFFFF;
		box-shadow: inset 0 0 0 1px #FFFFFF;
	}
	
	.colpadding{
		padding: 15px 0;
		height: 75px;
	}
	
	.trend-title{
		font-family: "Open Sans";
		color: #464646;
		font-size: 25px;
		margin-top: 0;
	}
	
	.trendHash{
		height: auto;	
		width: 30%;	
		margin-left: 40px;
	}
	
	.listOfHashTag{
		list-style: none;
		padding: 10px 15px;
		display: flex;
	}
	
	
	.listOfHashTag:nth-child(even){
		background-color: #F8F8F8;
	}
	
	
	.blockhashname{
		margin: 0px 15px;
		width: 100%;
	}
	
	.name{
		font-size: 17px;
		width: 100%;
		color: #464646;
		font-family: "Open Sans";
	}
	
	.noOfPosts{
		font-size: 14px;
		margin: 0;
	}
	
	.arrow-circle{
		padding: 3px;
		font-size: 20px;
		line-height: 30px;
		color: #507bfc;
	}
	
	.hashtaglist{
		background-color: #FFFFFF;	
		width: 100%;	
		border-radius: 10px 10px 0 0;
	}
	
	.squaretag{
		padding: 6px;
		font-size: 20px;
		width: 35px;
		background: #DCE1F3;
		height: 35px;
		text-align: center;
		color: #fff !important;
		border-radius: 4px;
	}
	
	.coverpic{
		width: 100%;
		height: 183px;
	}
	
	.playbtn{
		position: absolute;
		left: 50%;
		top: 12%;
		z-index: 999;
	}
	.fa-thumbs-up.liked{
		color:#507bfc;
	}
	
	.fa-thumbs-down.liked{
		color:#507bfc;
	}
	
	.fa-bookmark.liked{
		color: #507bfc;
	}
	
	//similar posts div //
	
	.headings1{
		display: flex;
		margin-bottom: 10px;
	}
	
	.roundarrow{
		margin: 9px 0;
		width: 35px;
		height: 35px;
		padding: 3px 9px;
		font-size: 20px;
		border-radius: 25px;
		border: 2px solid;
		color: #507BFC;
		background-color: transparent;
		cursor: pointer;
		display: flex;
	}
	
	.roundarrow2{
		display: flex;
		align-items: center;
		margin: 4px 0;
		width: 30px;
		height: 30px;
		font-size: 20px;
		padding: 3px 9px;
		border-radius: 25px;
		border: 2px solid;
		color: #507BFC;
		background-color: transparent;
		cursor: pointer;
	}
	.roundarrow2 .fas{
		font-size:14px !important;
	}
	.columnsize{
		margin-left: 40px;
	}
	
	.tagName{
		font-family: "Open Sans";
		margin: 0;
		font-size: 25px;
		color: #464646;
	}
	
	.totalPosts{
		line-height: 28px;
		font-size: 15px;
		color: #000;
		font-family: "Open Sans";
	}
	
	.addSelfBackdrop2{		
		position: fixed;		
		 width: 100%;		
		 height: 100%;		
		 top: 0px;		
		 left: 0px;		
		 z-index: 1503;		
		 background-color: #40404075;		
		 overflow: scroll; 
		.addSelfDemoModal2{		
			width: 40%;		
			margin: auto;		
			background-color: #fff;		
			border-radius: 5px;		
			margin-top: 5%;		
			padding: 20px;		
		}		
	}		
	.modalheader{		
		font-family: "Open sans";		
		text-align: center;		
		width: 100%;		
	}		
			
	.shadowbox{		
		margin: 10px;		
		border-radius: 10px;		
		padding: 15px;		
		box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);		
	}		
			
	.img{		
		width: 100%;		
		height: 110px;		
		border-radius: 10px;		
	}		
			
	.block123{		
		padding: 15px;		
	}		
			
	.postname{		
		font-family: "open sans";		
		line-height: 36px;		
	}		
			
	.postdetail{		
		margin: 0;		
		line-height: 23px;		
	}		
			
	.radiospace2{		
		margin: auto;
		font-size: 20px;
		margin-top: 20px;
		min-width: 200px;		
			}	
			
	.radiogrp{		
		margin: 0 auto;
		display: flex;
		width: 100%;		
	}		
			
	.outlinebtn{		
			height: 40px;		
			width: 122px;		
			border: 1px solid #507BFC;		
			border-radius: 100px;		
			box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);		
	}		
			
	.filledbtn {		
		height: 40px;		
		width: 122px;		
		border-radius: 100px;		
		background-color: #507BFC;		
		box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);		
	}		
			
			
			
	.modalbtns{		
		width: 280px;		
		margin: 25px auto;		
	}		
			
	.outlinebtn{		
		height: 40px;		
		width: 122px;		
		border: 1px solid #507bfc;		
		border-radius: 100px;		
		font-size: 18px;		
		color: #507bfc;		
		cursor: pointer;		
		background: transparent;		
		-webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);		
		box-shadow: 7px 9px 20px -5px rgba(80, 123, 252, 0.5);		
	}		
			
	.filledbtn{		
		height: 40px;		
		width: 122px;		
		border: none;		
		border-radius: 100px;		
		background-color: #507BFC;		
		color: #fff;		
		margin-left: 30px;		
		cursor: pointer;		
		font-size: 18px;		
		-webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);		
		box-shadow: 7px 9px 20px -5px rgba(80, 123, 252, 0.5);		
	}		
			
	tag-input{		
		width: 100%;		
	}		
			
	tag-input div .ng-tns-c29-0{		
		width: 100% !important;		
	}		
			
	.chipsblock{		
		margin: 0 auto;		
	}		
			
	.chipsInput{		
		width: 100%;		
		margin: 30px;		
		font-size: 20px;		
	}		
			
	.ng2-tag-input::placeholder{		
	width: 100%;		
	}
	
	textarea::placeholder {
		font-size: 23px !important;
	}
	
	.all-post{
		display: none;
	}
	.user-icon{
		display:none;
	}
	@media only screen and (max-width: 1024px) {
		.mainDiv{
			padding: 0 !important;
			text-align: center;
		}
		.btn123{
				height: 35px;
				width: 100px;
				border-radius: 100px;
				background-color: transparent;
				border:1px solid #507BFC;
				color: #507BFC;
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
				
		}
		.all-post-button{
			.btn123{

				float: unset;
			}
		}
		.ico123{
			width: 60px;
		
		}
		.trendHash{
			display: none;
		}
		.maincontent{
			width: 100%;
			
		}
		.inblock{
			text-align: left;
		}
		.colFlex{
			text-align: left;
		}
		.container{
			max-width: 1024px;
		}
		.all-post{
			display: grid;
			// grid-template-columns: 10fr 2fr;
			grid-gap:10px;
			
		}
		.hr-col{
			vertical-align: middle;
			align-self: center;
		}
				
		
		
	  }
	
	  @media only screen and (max-width: 1200px) {
	
	
		.addSelfBackdrop2 .addSelfDemoModal2{
			width: 80% !important;
		}
		.radiogrp{		
			// margin: 0 auto;
			display: block;
			// width: 100%;		
		}		
		.modalheader{
			margin: 0px !important;
		}
	  }
	
	
	  @media only screen and (max-width: 667px) {
	
		.hide-mobile{
			display: none;
		}
		.user-icon{
			display:block;
			margin: 0 5px 0 0 ;
		}
		.nb-theme-default .input-group-addon, .nb-theme-default .form-control{
			padding: 0 !important; 
			line-height: 1; 
		}
		textarea::placeholder {
			font-size: 13px !important;
			
		}
		.colFlex{
			border:none !important;
			padding: 0 0 0 8px !important;
		}
		.textArea1{
			margin: 5px 5px !important;
			height:18px;
			padding: 0 4px;
			resize: none;
			border:none !important;
			padding: 0 !important;
		}
		.addComment{
			margin-bottom: 0px;
			padding-top: 5px;
			padding-bottom: 5px;
			border-radius:5px;
		}
		.all-post{
			grid-template-columns: 12fr;
		}
		.all-post-button{
			margin:0 auto;
		}
		.hr-col{
			display: none;
		}
		.all-post-button{
			text-align: center;
		}
		.title{
			font-size: 16px !important;
		}
		.ico123 {
			min-width: 37px;
			width: 40px;
			height:35px;
			padding: 0;
			margin-right: 10px;
			
		}
		.para{
			line-height: 15px;
		}
		.colpadding{
			height: 45px !important;
			margin-top: 5px;
		}
		.coverpic{
			width: 100%;
			height: 100px;
		}
		.padding0{
			padding:0 !important;
		}
		.footer1{
			padding-top: 0px;
			padding-bottom: 0px;
			align-self: center;
		}
		.vertical-center{
			padding:10px 5px 10px 10px !important;
		}
		.ico {
			padding: 0 10px;
			align-self: center;
		}
		.pIco{
			padding: 0 10px;
			align-self: center;
		}
		.mat-radio-label-content{
			font-size: 16px;
		}
		.shadowbox{
			padding: 0px !important;
		}
	  }
	  
	
	
	  @media only screen and (max-width: 360px) {
		textarea::placeholder {
			font-size: 11px !important;
			
		}
	
	  }

}
