ngx-calendar {
  // .mainDiv {
    // padding: 2.25rem 2.25rem 0.75rem !important;
    // background: #fff
  // }
  .event-header {
    background: #507bfc;
    // color: #fff;

    height: 50px;
    text-align: center;
    align-items: center;
    display: grid;
    h3 {
      margin: 0;
      color: #fff;
    }
    margin-bottom: 15px;
  }
  .btn_group_calender {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 350px;
    margin: 0 auto;
  }
  .eventDiv {
    width:100%;
    overflow-y: auto;
    height: 400px;
  }
  .head-row {
    height: 70px;
  }
  .event-grid-row-container-1 {
    .event-calender-grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 20px;
      background: #fff;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      margin: 0 10px 20px 10px;
      border-left: 5px solid var(--colorCommon);
      padding: 10px 7px;
      // border: 1px solid #507bfc;
      border-radius: 10px;
      cursor: pointer;
      border-left: 5px solid var(--colorCommon);
      // cursor: pointer;

        .date-content {
        text-align: center;
        border-right: 1px solid var(--colorCommon);
        .event-date {
          display: block;
          font-size: 22px;
          color: #000;
        }
        .event-day {
          display: block;
          font-size: 17px;
          color: #060606;
        }
      }
      .event-content {
        align-self: center;
        .event-description {
          display: block;
          font-size: 17px;
          color: #8e908f;
          text-transform: capitalize;
        }
        div{
          cursor: pointer;
        }
        .disaButton
        {
         // pointer-events:none;
           cursor: not-allowed ;
        }
      }
      .event-action-type {
        font-size: 14px;
        margin-top: 5px;
        color: #8e908f;
        background: transparent;
        // border: 1px solid #507bfc;
        border: 1px solid var(--colorCommon);
        height: 27px;
        border-radius: 4px;
        // width: 100px;
        max-width: 200px;
        text-transform: capitalize;
        text-align: center;
        align-items: center;
        display: grid;
      }
    }
  }
  // .event-grid-row-container{
  //     .event-calender-grid{
  //         display: grid;
  //         grid-template-columns: 1fr 4fr 2fr;
  //         grid-column-gap: 20px;
  //         background: #fff;
  //         box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  //         margin: 0 0 20px 0;
  //         border-left: 3px solid #507bfc;
  //         border-right: 3px solid #507bfc;
  //         padding: 10px 7px;
  //         cursor: pointer;
  //         .date-content{
  //             text-align: center;
  //             border-right: 1px solid #eeeeee ;
  //             .event-date{
  //                 display: block;
  //                 font-size: 22px;
  //                 color: #000;
  //             }
  //             .event-day{
  //                 display: block;
  //                 font-size: 17px;
  //                 color:#507bfc;
  //             }
  //         }
  //         .event-content{
  //             align-self: center;
  //             .event-description{
  //                 display: block;
  //                 font-size: 17px;
  //                 color:#8E908f;
  //                 text-transform: capitalize;
  //             }

  //         }
  //         .event-action-type{
  //             font-size: 14px;
  //             color: #FFF;
  //             background: #507bfc;
  //             // margin-top: 4px;
  //             height: 30px;
  //             align-self: center;
  //             width: 100px;
  //             // display: block;
  //             text-transform: capitalize;
  //             text-align: center;
  //             align-items: center;
  //             display: grid;
  //             margin-left: auto;
  //         }
  //     }
  // }
  h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .cal-month-view .cal-header {
    text-align: center;
    font-weight: bolder;
    height: 50px !important;
    line-height: 40px !important;
    color: #8a8888 !important;
  }

  .cal-month-view .cal-day-badge {
    // background-color: #2196f3 !important;
    background-color: var(--colorCommon) !important;
    color: #fff;
    width: 24px !important;
    line-height: 19px !important;
    height: 24px !important;
    font-size: 13px !important;
    border-radius: 5px !important;
    margin-top: 36px !important;
  }

  .cal-month-view .cal-day-number {
    opacity: 1;
    color: #5c5b5b !important;
    font-size: 20px;
    display: block;
    margin-top: 36px !important;
  }
  .cal-month-view .cal-cell-top{
    span:only-child{
       margin-top: 36px !important;
      }
  }
  .cal-month-view .cal-day-cell {
    min-height: 75px !important;
  }
  // .cal-month-view .cal-day-cell.cal-today .cal-day-number{
  //   margin-top: 55px;
  // }
  .cal-month-view .cal-open-day-events {
    display: none;
  }
  .cal-month-view .cal-events {
    display: none;
  }
  .prevNxtbtn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: #8ca7fb;
    cursor: pointer;
    text-align: right;
  }
  .prevNxtbtn_next {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: #8ca7fb;
    cursor: pointer;
    text-align: left;
  }

  .secondtab {
    width: 250px;
    // margin: 0px 10px;
    height: 50px;
    background: transparent;
    border-radius: 7px;
    // color: #507bfc;
    color: var(--colorCommon);
    line-height: 50px;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
  }

  .cal-event-actions {
    color: #fff !important;
  }

  .lbl {
    width: 100%;
    color: #000;
    font-size: 16px;
  }

  .rightsection {
    padding: 20px;
    border-radius: 10px;
  }

  .evntcrd {
    // background: #fff;
    // padding: 10px;
    border-radius: 5px;
    // margin: 10px 0;
    //  margin-bottom: 20px;
    height: 100px;
    display: grid;
    align-items: center;
  }

  .inputboxs {
    background: transparent !important;
    border-radius: 8px !important;
    border: 1px solid #e6e4e4 !important;
    color: #000 !important;
  }

  // .rowmarg{
  //     margin: auto;
  // }

  .headmarg {
    text-align: center !important;
    margin-bottom: 30px;
  }

  .addhead {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
    display: flex;
  }

  .evntnote {
    width: 100%;
    margin: auto;
    font-family: "open sans";
    color: #a09d9b;
    font-weight: 600;
    padding: 0 10px;
  }

  .addcal {
    padding: 0;
    width: 35px;
    height: 35px;
    font-size: 23px;
    border-radius: 18%;
    background: #507bfc;
    border: none;
    cursor: pointer;
    color: #fff;
  }

  .marginAu {
    margin: auto;
  }

  .deletebtn {
    width: 35px;
    height: 35px;
    margin: auto;
    background: #f96b6b;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
  }

  .dateBlk {
    margin: 0;
    font-size: 25px;
    color: white;
    font-weight: 100;
  }

  .monthblk {
    margin: 0;
    font-size: 14px;
    // line-height: 32px;
    color: white;
  }

  .titlemarg {
    margin: auto 0;
    padding: 0;
  }

  .eventTitle {
    // margin: auto;
    font-size: 20px;
    font-weight: 100 !important;
    color: #696969;
    text-align: center;
  }

  .blueCard {
    background: #5acef7;
  }

  .orangeCard {
    background: #ffae74;
  }

  .purpleCard {
    background: #c15cff;
  }

  /*************************Task List***************************/
  .margtop {
    margin: auto;
    margin-top: 50px;
  }

  .taskCard {
    background: #fff;
    padding: 15px;
    border-radius: 7px;
  }

  .viewmore {
    width: 100%;
    font-size: 17px;
    color: #2196f3 !important;
    margin: 0;
    line-height: 30px;
    height: 30px;
    font-weight: 600 !important;
    text-align: center;
    cursor: pointer;
  }

  .mat-progress-bar-fill::after(:nth-child(n)) {
    background-color: #5acef7 !important;
  }

  .mat-progress-bar-fill::after(:nth-child(n)) {
    background-color: #4caf50 !important;
  }

  .mat-progress-bar-fill::after(:nth-child(n)) {
    background-color: #f75a5a !important;
  }

  .divider {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    color: #a7abb3;
  }

  .view {
    float: right;
    color: #bbb9b9 !important;
    margin: auto;
    margin-top: 0;
    font-size: 30px;
    cursor: pointer;
  }

  .headr {
    width: 100%;
    display: inline-flex;
    height: 55px;
  }

  .bullet {
    width: auto;
    font-size: 32px;
    border-radius: 100%;
    margin: auto;
    background: transparent;
    line-height: 40px;
    height: 40px;
    color: #ffae74;
    padding: 0;
    text-align: center;
  }

  .bullet2 {
    color: #bcdd11 !important;
    width: auto;
    font-size: 32px;
    border-radius: 100%;
    margin: auto;
    line-height: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
  }

  .taskName {
    width: auto;
    margin: 0;
    line-height: 34px;
    font-size: 20px;
    color: #8e8a8a;
  }

  .titleblk {
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }

  .activity {
    width: 100%;
    margin: 0;
    line-height: 28px;
    font-size: 15px;
    color: #8e8a8a;
  }

  .alignRigth2 {
    border: 2px solid #bcdd11;
    color: #bcdd11;
    width: 100%;
    height: 35px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    background: transparent;
  }

  .alignRigth {
    width: 100%;
    height: 35px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid #ffae74;
    border-radius: 25px;
    background: #ffae74;
  }

  .marAuto {
    margin: auto;
  }

  .taskList {
    list-style: none;
    padding: 10px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 10px;
  }

  // .taskList:nth-child(n){
  //     background: #2be0f3;
  // }

  // .taskList:nth-child(2n){
  //     background: #bcdd11;
  // }

  // .taskList:nth-child(3n){
  //     background: #ff82ab;
  // }

  .titleblk {
    width: 100%;
    display: flex;
  }

  .tasks {
    padding: 0 !important;
    list-style: none;
  }

  .mat-tab-body {
    margin-top: 25px !important;
  }

  .mat-tab-header {
    width: 100% !important;
    margin: auto !important;
  }

  .mat-tab-label {
    width: 100%;
    background: #fff;
    border: 1px solid #507bfc;
    font-size: 16px;
    height: 35px;
    color: #507bfc;
    opacity: 1 !important;
    margin-top: 6px;
  }

  .mat-tab-label:first-child {
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
  }

  .mat-tab-label:last-child {
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
  }

  .mat-tab-group {
    width: 100% !important;
    margin: auto;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    visibility: hidden !important;
  }

  .mat-tab-header,
  .mat-tab-nav-bar {
    border: none !important;
  }
  .mat-tab-label-active {
    background: #008eff !important;
    color: #fff !important;
  }
}
.calender-event {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  // grid-row-gap:15px;
  background-color: #fff;
  // margin: 0 0 15px 0;
  .date-container {
    background: #008eff;
    text-align: center;
    padding: 5px;
  }
  .content {
    padding-left: 10px;
    align-self: center;
  }
  .calender-event-button-div {
    align-self: center;
    padding-right: 10px;
    .calender-event-button {
      background: #008eff;
      color: #fff;
      border: none;
      height: 30px;
      width: 90%;
      margin: 0 auto;
      text-transform: capitalize;
      letter-spacing: 1px;
    }
  }
}

