<div class='mainDiv'>

	<div class="row">
		<div [ngSwitch]="view" class="col-md-7 mycalendar">
			<div class="btn_group_calender">
				<div class="prevNxtbtn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
					(viewDateChange)="closeOpenMonthViewDay()">
					<i class="fas fa-angle-double-left"></i>
				</div>
				<div class="secondtab" mwlCalendarToday [(viewDate)]="viewDate">
					{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
				</div>
				<div class="prevNxtbtn_next" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
					(viewDateChange)="closeOpenMonthViewDay()">
					<i class="fas fa-angle-double-right"></i>
				</div>

			</div>
			<br />

			<mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
				[refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
				(eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
			</mwl-calendar-month-view>

		</div>


		<br /><br /><br />
		<div class="col-md-5">
			<div>
				<!-- <mat-tab-group style="width:100%" (selectedTabChange)="tabChanged($event)">
					<mat-tab label="Events">
					
					</mat-tab>
					<mat-tab label="Tasks">

						<div class="tasks">
							<div class="evntcrd row rowmarg">
								<div class="col-md-2"></div>
								<div class="col-md-10 titlemarg eventTitle">
									No tasks available for this date.
								</div>
							</div>
							<li *ngFor="let task of myTasks; let i = index" (click)="cutFromList(i)" class="taskList">
								<div class="bullet col-1" *ngIf=" task.completedStatus == false">
									<i class="far fa-clock"></i>
								</div>
								<div class="bullet2 col-1" *ngIf="task.completedStatus == true">
									<i class="far fa-check-circle"></i>
								</div>
								<div class="col-8">
									<p class="taskName">{{ task.taskName }}</p>
									<p class="activity">{{ task.activityName }}</p>
								</div>
								<div class="col-3 marAuto">
									<div class="alignRigth2" *ngIf=" task.completedStatus == true ">Completed</div>
									<div class="alignRigth" *ngIf="task.completedStatus == false">In Progress</div>
								</div>
							</li>

						</div>
						
					</mat-tab>
				</mat-tab-group> -->
				<!-- <div class="event-header">
					<h3>Events</h3>
				</div> -->
				<div class="head-row">

				</div>
				<div class="eventDiv">
						<div *ngIf="eventlist.length == 0" class="evntcrd">
							<p class="titlemarg eventTitle">
								No events available for this date.
							</p>
						</div>

						<!-- <div class="evntcrd" *ngFor="let event of eventlist">
							
							<div *ngIf="eventlist.length > 0" class="">
								<div class="evntcrd">
									<div class="calender-event">
										<div class="date-container">
											<p class="dateBlk">{{ event.start | date: 'dd' }}</p>
											<p class="monthblk">
												{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>
										
										</div>
										<div class="content">
										
											<p class="eventTitle" name='eventDesc'>
												{{ event.eventDesc }}</p>
										</div>
										<div class="calender-event-button-div" *ngIf="event.actionType">
											<button class="calender-event-button"
												(click)="enrolToCourseTA(event)">{{event.actionType}}</button>
										</div>
									</div>
								</div>
							</div>
						</div> -->
						<div class="event-grid-row-container-1" *ngFor="let event of eventlist; let i = index">
							<div class="event-calender-grid">
									<div class="date-content">
										<span class="event-date">{{ event.start | date: 'dd' }}</span>
										<span class="event-day">{{ event.start | date: 'EEE' }}</span>
										<!-- <p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p> -->
									</div>
									<div class="event-content">
										<span class="event-description">{{ event.eventDesc }}</span>
										<div *ngIf="event.actionType" [ngClass] ="{'disaButton':event.actionType == 'booked'}" class="event-action-type"  (click)="enrolToCourseTA(event, i)">
											<span  >{{event.actionType}}</span>
										</div>
										<!-- <div>
											<span class="evenytype" [ngClass] ="{'disaButton':event.actionType == 'booked'}">{{event.actionType}}</span>
										</div> -->
										
									</div>
									<!-- [ngClass] ="{'disaButton':event.actionType == 'booked'}" -->
							</div>
						</div>
							<!-- <div class="event-grid-row-container" *ngFor="let event of eventlist">
								<div class="event-calender-grid">
										<div class="date-content">
											<span class="event-date">{{ event.start | date: 'dd' }}</span>
											<span class="event-day">{{ event.start | date: 'EEE' }}</span>
											<p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>
										</div>
										<div class="event-content">
											<span class="event-description">{{ event.eventDesc }}</span>
											
										</div>
										<div class="event-action-type"  (click)="enrolToCourseTA(event)">
											<span  >{{event.actionType}}</span>
									</div>
								</div>
							</div> -->
				</div>
			</div>


		</div>

		<!-- <ng-template #modalContent let-close="close">
			<div class="modal-header">
				<h5 class="modal-title">Event action occurred</h5>
				<button type="button" class="close" (click)="close()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div>
					Action:
					<pre>{{ modalData?.action }}</pre>
				</div>
				<div>
					Event:
					<pre>{{ modalData?.event | json }}</pre>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" (click)="close()">
					OK
				</button>
			</div>
		</ng-template> -->

	</div>

</div>