.grid {
  display: grid;
  grid-template-columns: 70px 9fr 2fr;
  padding-bottom: 6px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  // margin-bottom: 12px;
  .item1 {
    text-align: left;
    align-self: baseline;
    .course-detail-icon {
      width: 54px;
    }
  }
  .item2 {
    .header {
      h2 {
        font-size: 24px;
      }
    }
    .course-completion {
      p {
        margin: 0;
      }
    }
  }
  .item3 {
    align-self: center;
    margin-right: 6%;
    .cancelBtn {
      text-align: right;
      margin-left: auto;
      .cancelIcon {
        background: #ffffff;
        font-size: 18px;
        border: 1px solid var(--colorIcons);
        color: var(--colorIcons);
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        padding: 10px 12px;
      }
    }
  }
}
.another{
  color: #2a2a2a !important;
  font-size: 24px !important;
  text-transform: capitalize;
}
.course-details-course {
  background: #fff;
  padding: 20px;
  border-radius: 6px;

  .msdownload {
    text-align: center;
    padding: 10%;
    .link {
      text-align: center;
      color: #4d77ff;
      cursor: pointer;
    }
  }
  .language-bttons-container-course{
    .btn-outline-primary{
      // border-top: var(--colorBgbtn) !important;
      border-color: var(--colorBgbtn) !important;
      color: var(--colorBgbtn) !important;

      /* line-height: 1; */
      text-transform: capitalize;
    }
    .btn-outline-primary:disabled{
      cursor: not-allowed;
    }
    .btn-outline-primary:hover{
      // border-top: var(--colorBgbtn) !important;
      background-color: transparent;
      color: var(--colorCommon) !important;
    }
    .btn-primary{
      // border-top: var(--colorBgbtn) !important;
      // border-color: var(--colorBgbtn) !important;
      background-color: var(--colorBgbtn) !important;
      color: var(--colorBtnTxt) !important;
    }
  }
  .num02 {
    height: 60px;
    width: 51px;
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
  }
  .user-experience-begi {
    height: 24px;
    width: 281px;
    opacity: 0.6;
    color: #464646;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
  }

  .user-experience-desi {
    height: 60px;
    // max-width: 840px;
    width: 100%;
    color: #464646;
    font-family: "Open Sans";
    font-size: 44px;
    line-height: 60px;
  }
  .proImg {
    height: 46px;
    width: 46px;
    border-radius: 50%;
  }
  .amberlee-pozar {
    height: 22px;
    width: 119px;
    color: #464646;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
  }
  .para {
    font-size: 18px;
    color: #464646;
    margin: 0;
    line-height: 30px;
    font-family: "open sans";
    text-transform: capitalize;
  }

  .block {
    width: 100%;
    padding: 0 10px;
  }

  .flexLine {
    display: flex;
    width: 100%;
    margin: 10px 0;
  }

  .nov-27 {
    width: 100%;
    color: #7e7d7d;
    font-family: "Open Sans";
    font-size: 11px;
    line-height: 15px;
    margin: 0;
  }

  .colImg {
    max-width: 4% !important;
  }
  .yong-chuan-645079-unsplash {
    height: 100%;
    width: 100%;
  }
  .icon-bookmark {
    height: 24px;
    width: 18px;
    font-size: xx-large;
  }
  .fill-1 {
    height: 23px;
    width: 20px;
    font-size: xx-large;
    padding-top: 25%;
  }

  .course-content-div {
    // padding-top: 2%;
    // max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  .icons {
    left: 2%;
  }
  .mask-copy-2 {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    outline: none;
    float: right;
    border: none;
    color: #fff;
  }
  .mask-copy-3 {
    box-sizing: border-box;
    // height: 41px;
    // width: 229px;
    border: 1px solid #4d77ff;
    border-radius: 100px;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    outline: none;
    float: left;
    background-color: #fff;
    color: #4d77ff;
  }
  .thirty-years-after-d {
    // height: 99px;
    width: 100%;
    opacity: 0.8;
    color: #464646;
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 33px;
    // padding: 3%;
    padding: 5px 15px;
    // max-width:76.3333333%
  }
  .in-hac-habitasse-pla {
    height: 165px;
    width: 100%;
    opacity: 0.8;
    color: #464646;
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 33px;
    padding: 3%;
    // max-width:76.3333333%
  }
  .btncenter {
    text-align: center;
    padding-top: 10%;
  }

  @media only screen and (max-width: 650px) {
    .cancel {
      height: 45px;
      width: 45px;
      .cancelIcon {
        margin-top: 27%;
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: 650px) {
    padding: 0 !important;
    .course-content {
      padding: 10px 10px 0;
      align-items: baseline;
    }
    .cancel {
      height: 20px;
      width: 20px;
      background-color: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0%;
      text-align: center;
      cursor: pointer;
      margin-left: auto;
      .cancelIcon {
        font-size: 21px;
        // color: #507bfc;
      }
    }
  }
}

.msdownload {
  text-align: center;
  padding: 10%;
  p {
    text-align: center;
    color: #4d77ff;
  }
}
.begin-section-course {
  height: 50vh;
  margin: 12px;
  align-items: center;
  background: #ffffff;
  justify-content: center;
  // .lock-act {
  //   font-size: 44px;
  //   color: #a4abb3;
  //   padding-bottom: 10px;
  // }
  .begin-icon{
    width: 55px;
    height: 55px;
    object-fit: contain;
  }
  p {
    color: #7b7b7b;
  }
  .complet-msg {
    font-size: 13px;
    p {
      color: #000000;
    }
  }
  .start-btn {
    margin: 6px 0;
    min-width: 180px;
    i {
      font-size: 11px;
    }
  }
  .begin-language {
    p {
      color: #000000;
    }
    button {
      margin: 4px;
      font-size: 12px;
      padding: 4px 8px;
      color: #000000;
      border-radius: 4px;
      background: #ffffff;
      border: 1px solid  #000000;
      &:hover {
        color: #ffffff;
        background: #000000;
      }
    }
  }
}
