<!-- <div class="course-content">
	<div class="text-content">
		<h4>{{ courseTitle }}</h4>
	</div>
	<div class="cancelDiv">
		<div class='cancel' (click)='goBack()'>
			<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
		</div>
	</div>
</div>

<div class="row">
	<div id='courseDescription' class="col-md-12 thirty-years-after-d">
		<p class="activityNameSize">{{courseDataContent.activityName}}</p>
	</div>
</div> -->

<div class="grid">
	<div class="item1">
		<img class="course-detail-icon" src='assets/images/orangeLearn.svg' />
	</div>
	<div class="item2">
		<div class="header">
			<h2>{{ courseTitle }}</h2>
		</div>
		<div class="course-completion">

			<p [ngClass]="{'another' : !courseTitle}">{{courseDataContent?.activityName}}</p>
		</div>
	</div>
	<div class="item3">
		<div class="cancelBtn" (click)='goBack()'>
			<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
		</div>
	</div>
</div>

<div class='course-details-course mt-2'>
	<div class="course-content-div">
    <div *ngIf="showdiv && courseDetail?.isDeleted != 1
    && !dependencyConatiner.displayFlag">
			<div *ngIf="courseDetail?.fileinfo?.documenttype === 'audio'">
				<ngx-audioplayer></ngx-audioplayer>
			</div>
			<div *ngIf="courseDetail?.fileinfo?.documenttype === 'video'">
				<ngx-videoplayer [vid]="courseDetail.reference"></ngx-videoplayer>
			</div>
			<div *ngIf="courseDetail?.fileinfo?.documenttype === 'image'">
				<img class="yong-chuan-645079-unsplash" (error)="errorHandler($event)" (load)="imageLoaded($event)" [src]="courseDetail.reference">
      </div>
			<div
				*ngIf="courseDetail?.fileinfo?.documenttype == 'application' && courseDetail?.fileinfo?.mimetype == 'application/pdf'">
				<ngx-documentviewer  (loadError)="sendContentLoadErrorMessage('pdf', $event)"  [currentActivityData]="courseDetail" 	(callActivityCompletion)="saveActivityCompletionData($event)" [documentref]="courseDetail.reference"></ngx-documentviewer>
			</div>
			<div *ngIf="courseDetail?.fileinfo?.documenttype == 'kpoint'">
				<app-k-point [ikPoint]="courseDetail"></app-k-point>
			</div>
			<div *ngIf="courseDetail?.fileinfo?.documenttype == 'application' && courseDetail?.fileinfo?.mimetype == 'application/zip'"
        class="docViewer">
        <app-no-data-found [title]="'Scrom Activity'" [showImage]="false" [discription]="'Activity will open in new open window'"></app-no-data-found>
				<app-scorm-player (scromInteraction)= "getScormStatus($event)" [scorm]="courseDetail" ></app-scorm-player>
				<div *ngIf="scormStatus && false">
					<p>Status : {{scormStatus?.lesson_status || 'Incomplete'}}</p>
					<p *ngIf="scormStatus?.score_raw">Score : {{scormStatus?.score_raw}}</p>
					<p *ngIf="scormStatus?.score_max">Max Score : {{scormStatus?.score_max}}</p>
					<p *ngIf="scormStatus?.score_min">Min Score : {{scormStatus?.score_min}}</p>
					<p *ngIf="scormStatus?.session_time">Session Time : {{scormStatus?.session_time}}</p>
				</div>
				<!-- <app-scorm-player [scorm]="courseDetail" (saveEvent)="onDocumentLoad($event)"></app-scorm-player> -->
			</div>
			<div *ngIf="courseDetail?.formatId ===  9 ">
				<div>
					<a class="link" (click)="downloadContent()" download [href]="courseDetail?.reference">
						Click here to open URL
					</a>
				</div>
			</div>

			<div *ngIf="courseDetail?.formatId ===  10 ">
				<div>
					<a class="link" (click)="downloadContent()" download [href]="courseDetail?.reference">
						Click here to open URL
					</a>
				</div>
			</div>

			<div *ngIf="courseDetail?.formatId ===  11 ">
				<div>
					<a class="link" (click)="downloadContent()" download [href]="courseDetail?.reference">
						Click here to open URL
					</a>
				</div>
			</div>

			<div *ngIf="courseDetail?.formatId ===  12 ">
				<div>
					<a class="link" (click)="downloadContent()" download [href]="courseDetail?.reference">
						Click here to open URL
					</a>
				</div>
			</div>

			<div
				*ngIf="courseDetail?.referenceType === 'application' && courseDetail?.mimeType == 'application/x-msdownload'">
				<div class="msdownload" *ngIf="!isYoutube">
					<div (click)="open_browser(courseDetail)">
						<p class="link">
							Click here to open URL
						</p>
					</div>
				</div>

      </div>

      <div class="youtubeplayer" *ngIf="courseDetail?.formatId ===  6 && isYoutube">
        <youtube-player [videoId]="youtubeId" [height]="500" [width]="500" (ready)="savePlayer($event)"
          (change)="onStateChange($event)"></youtube-player>
      </div>
			<div *ngIf="courseDataContent?.activityTypeId === 11 && courseReadyFlag == true">
				<app-webinar-multi *ngIf="featureConfig?.webinar?.openvidu" [course]="courseDataContent" [userList]="usersData" [voiceCall]="voiceCall"
					[videoCall]="videoCall" (callConnecting)="webinarActivityCompletion($event)"
					(callEnd)="webinarActivityCompletion($event)" [areaId]="5" [tenantId]="tenantId" [config]="config">
        </app-webinar-multi>

        <!--   -->
        <ngx-webinar-multi-jitsi *ngIf="featureConfig?.webinar?.jisti" [course]="courseDataContent" [userList]="usersData" [voiceCall]="voiceCall"
        [videoCall]="videoCall" (callConnecting)="webinarActivityCompletion($event)"
        [areaId]="5" (callEnd)="webinarActivityCompletion($event)" [tenantId]="tenantId" [config]="config"></ngx-webinar-multi-jitsi>
			</div>
		</div>
		<!-- new change -->
		<div class = "begin-section-course d-flex text-center justify-content-center" *ngIf = "courseDetail?.isDeleted == 1 || dependencyConatiner?.displayFlag">
			<div class="begin-inner">
				<span>
				   <!-- <i class="fa fa-lock lock-act"></i> -->
				   <img
					 class="begin-icon mt-2"
					 src="assets/icon-svg/{{ courseDetail?.actIcon }}.svg"
					 alt=""
					 srcset=""
				   />
				 </span>

				 <h3 class="m-0 pb-3">{{ courseDetail?.activityName }}</h3>
				 <!-- <p *ngIf="beginContainer?.descrition">{{beginContainer?.descrition}} </p> -->
				 <div class="complet-msg font-weight-bold mb-2">
				   <p class="m-0" *ngIf="courseDetail?.isDeleted == 1">
				   {{courseDetail?.isDeletedMsg}}
           </p>
           <p class="m-0" *ngIf="dependencyConatiner?.displayFlag">
            {{dependencyConatiner?.message}}
          </p>
				 </div>
			   <!-- </div> -->
		   </div>
	   </div>
		<!-- end new change  -->
	</div>
</div>

<div class='course-details-course mt-2' *ngIf="courseDetail?.multiLanguageList?.length > 1">
  <div class="course-content-div">
    <h4>Content available in multiple language :</h4>
  <!-- {{ currentActivityData?.multiLanguageList | json}} -->
  <div class="language-bttons-container-course d-inline-flex ">
    <button type="button" class="btn btn-sm mb-2"
      (click)="changeActivityLanguage(item, true)"
      [disabled]= "item?.selected"
      [ngClass] = "{'btn-primary': item?.selected,
      'mr-2': !last,
      'btn-outline-primary': !item?.selected}"
      *ngFor="let item of courseDetail?.multiLanguageList;let last = last">
        {{item?.languageName}}
    </button>
  </div>


  </div>

</div>
