<!-- <div class="course-content">
	<div class="text-content">
		<h4>{{ courseTitle }}</h4>
	</div>
	<div class="cancelDiv">
		<div class='cancel' (click)='goBack()'>
			<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
		</div>
	</div>
</div>

<div class="row">
	<div id='courseDescription' class="col-md-12 thirty-years-after-d">
		<p class="activityNameSize">{{courseDataContent.activityName}}</p>
	</div>
</div> -->
<!--
<div class="grid">
	<div class="item1">
		<img class="course-detail-icon" src='assets/images/orangeLearn.svg' />
	</div>
	<div class="item2">
		<div class="header">
			<h2>{{ courseTitle }}</h2>
		</div>
		<div class="course-completion">

			<p [ngClass]="{'another' : !courseTitle}">{{courseDataContent?.activityName}}</p>
		</div>
	</div>
	<div class="item3">
		<div class="cancelBtn" (click)='goBack()'>
			<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
		</div>
	</div>
</div> -->

<div class='course-details-course' [ngClass]="{'show-content-center': courseDetail?.formatId ===  9 ||
courseDetail?.formatId ===  10 ||
courseDetail?.formatId ===  11||
courseDetail?.formatId ===  8 ||
courseDetail?.formatId ===  12 ||
courseDetail?.formatId ==  5,
'show-fullscreen' : (courseDataContent?.activityTypeId === 11 && windowFullScreen) ||
courseDetail?.formatId ==  2
|| (courseDetail?.formatId ==  1) ||
(courseDetail?.formatId ==  3)
 || courseDetail?.formatId ==  4
 || courseDetail?.formatId ===  6
 || courseDetail?.formatId ==  7
 ||courseDetail?.activityTypeId ==  11,
 'p-0': (courseDetail?.formatId ==  4 && windowFullScreen)
}">
	<div class="w-100 h-100 mx-auto">
		<div *ngIf="showdiv  && courseDetail?.isDeleted != 1 && !dependencyConatiner.displayFlag" class="w-100 h-100">
			<div *ngIf="courseDetail?.formatId ==  2 "  class="w-100 h-100">
				<ngx-audioplayer [currentActivityData]="courseDetail"
					(callActivityCompletion)="saveActivityCompletionData($event)"></ngx-audioplayer>
			</div>
			<div *ngIf="courseDetail?.formatId ==  1"  class="w-100 h-100"
				[ngClass]="{'video-container-small-screen': !windowFullScreen}">
				<!-- [vid]="courseDetail.reference" -->
				<ngx-videoplayer [currentActivityData]="courseDetail"
					(callActivityCompletion)="saveActivityCompletionData($event)"></ngx-videoplayer>
			</div>
			<div *ngIf="courseDetail?.formatId ==  7"  class=" text-center w-100 h-100">
				<img [ngClass]="{'make-image-fullscreen': windowFullScreen}"  (error)="errorHandler($event)" (load)="imageLoaded($event)" [src]="courseDetail.reference">

      </div>
			<div
				*ngIf="courseDetail?.formatId ==  3" class="h-100"  class="w-100 h-100">
				<ngx-documentviewer [currentActivityData]="courseDetail" (loadError)="sendContentLoadErrorMessage('pdf', $event)" 	(callActivityCompletion)="saveActivityCompletionData($event)" [windowFullScreen]="windowFullScreen" [documentref]="courseDetail.reference">
				</ngx-documentviewer>
			</div>
			<div *ngIf="courseDetail?.formatId ==  4"  class="w-100 h-100"
				[ngClass]="{'video-container-small-screen': !windowFullScreen}">
				<app-k-point [currentActivityData]="courseDetail"
					(callActivityCompletion)="saveActivityCompletionData($event)"></app-k-point>
			</div>
      <div *ngIf="courseDetail?.formatId ==  5"
      [ngClass]="{'another-act-full-screen': windowFullScreen}"
				class="another-act d-flex justify-content-center align-items-center">
				<!-- (saveEvent)="onDocumentLoad($event)" -->
				<app-no-data-found class="w-100" [title]="'Scrom Activity'" [showImage]="false"
					[discription]="'Activity will open in new open window'"></app-no-data-found>
				<app-scorm-player (scromActivityCompletion)="getUpdatedActivity()"
					(scromInteraction)="getScormStatus($event)" [scorm]="courseDetail"></app-scorm-player>
				<div *ngIf="scormStatus && false">
					<p>Status : {{scormStatus?.lesson_status || 'Incomplete'}}</p>
					<p *ngIf="scormStatus?.score_raw">Score : {{scormStatus?.score_raw}}</p>
					<p *ngIf="scormStatus?.score_max">Max Score : {{scormStatus?.score_max}}</p>
					<p *ngIf="scormStatus?.score_min">Min Score : {{scormStatus?.score_min}}</p>
					<p *ngIf="scormStatus?.session_time">Session Time : {{scormStatus?.session_time}}</p>
				</div>
			</div>
			<div *ngIf="courseDetail.formatId ===  9">
				<div class="another-act d-flex justify-content-center align-items-center"   [ngClass]="{'another-act-full-screen': windowFullScreen}">
					<a class="link" (click)="downloadContent()" download [href]="courseDetail.reference">
						<button class="bodyMidButton" (click)="downloadContent()">
							<i class="fa fa-download"></i> Download
						</button>
					</a>
				</div>
			</div>

			<div *ngIf="courseDetail.formatId ===  10">
				<div class="another-act d-flex justify-content-center align-items-center"   [ngClass]="{'another-act-full-screen': windowFullScreen}">
					<a class="link" (click)="downloadContent()" download [href]="courseDetail.reference">
						<button class="bodyMidButton" (click)="downloadContent()">
							<i class="fa fa-download"></i> Download
						</button>
					</a>
				</div>
			</div>

			<div *ngIf="courseDetail.formatId ===  11">
				<div class="another-act d-flex justify-content-center align-items-center"   [ngClass]="{'another-act-full-screen': windowFullScreen}">
					<a class="link" (click)="downloadContent()" download [href]="courseDetail.reference">
						<button class="bodyMidButton" (click)="downloadContent()">
							<i class="fa fa-download"></i> Download
						</button>
					</a>
				</div>
			</div>

			<div *ngIf="courseDetail.formatId ===  12">
				<div class="another-act d-flex justify-content-center align-items-center"   [ngClass]="{'another-act-full-screen': windowFullScreen}">
					<a class="link" (click)="downloadContent()" download [href]="courseDetail.reference">
						<button class="bodyMidButton" (click)="downloadContent()">
							<i class="fa fa-download"></i> Download
						</button>
					</a>
				</div>
			</div>

			<div
      *ngIf="courseDetail?.formatId ==  8">
				<div class="another-act d-flex justify-content-center align-items-center"   [ngClass]="{'another-act-full-screen': windowFullScreen}">
					<!-- <div (click)="open_browser(courseDetail)">
						<p class="link">
							Click here to open URL
						</p>
					</div> -->
					<button class="bodyMidButton" (click)="open_browser(courseDetail)">
						Open In New Window &nbsp; <i class="fas fa-external-link-alt" aria-hidden="true"></i>
					</button>
				</div>
			</div>

      <div class="another-act d-flex justify-content-center align-items-center"
      [ngClass]="{'another-act-full-screen': windowFullScreen}"
       *ngIf="courseDetail?.activityTypeId === 11 && courseReadyFlag == true">
				<app-webinar-multi *ngIf="featureConfig?.webinar?.openvidu" [course]="courseDataContent"
					[userList]="usersData" [voiceCall]="voiceCall" [videoCall]="videoCall"
					(trainerCutsCalls)="getUpdatedActivity()" (callConnecting)="webinarActivityCompletion($event)"
					(callEnd)="webinarActivityCompletion($event)" [areaId]="5" [tenantId]="tenantId" [config]="config">
				</app-webinar-multi>
				<ngx-webinar-multi-jitsi *ngIf="featureConfig?.webinar?.jisti" [course]="courseDataContent"
					[userList]="usersData" [voiceCall]="voiceCall" [videoCall]="videoCall"
					(trainerCutsCalls)="getUpdatedActivity()" (callConnecting)="webinarActivityCompletion($event)"
					(callEnd)="webinarActivityCompletion($event)" [areaId]="5" [tenantId]="tenantId" [config]="config">
				</ngx-webinar-multi-jitsi>
			</div>

			<div class="youtubeplayer" [hidden]="!playerReady" *ngIf="courseDetail.formatId ===  6 && isYoutube">
				<youtube-player [videoId]="youtubeId" (ready)="savePlayer($event)" (change)="onStateChange($event)">
				</youtube-player>
			</div>
		</div>
      <div class = "begin-section d-flex text-center"
      [ngClass]="{'begin-section-fullscreen': windowFullScreen}"
       *ngIf = "courseDetail?.isDeleted == 1 || dependencyConatiner.displayFlag">
			 <div class="begin-inner">
				 <span>
					<!-- <i class="fa fa-lock lock-act"></i> -->
					<img
					  class="begin-icon mt-2"
					  src="assets/icon-svg/{{ courseDetail?.actIcon }}.svg"
					  alt=""
					  srcset=""
					/>
				  </span>

				  <h3 class="m-0 pb-3">{{ courseDetail?.activityName }}</h3>
				  <!-- <p *ngIf="beginContainer?.descrition">{{beginContainer?.descrition}} </p> -->
				  <div class="complet-msg font-weight-bold mb-2">
					<p class="m-0" *ngIf="courseDetail?.isDeleted == 1">
					{{courseDetail?.isDeletedMsg}}
          </p>
          <p class="m-0" *ngIf="dependencyConatiner.displayFlag">
            {{dependencyConatiner?.message}}
          </p>
				  </div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>
