<div class="course-details">
    <div class="banner p-4">
        <div class="inner-banner px-md-4 px-lg-0 mx-auto">
            <div class="inner-banner--left">
                <h1 class="course-header w-100 font-weight-bold mt-0"> {{ workflowData?.wname }}</h1>
                <div *ngIf="selectedMenuForPathway != 0">
                    <div class="workflow-data py-1">
                        <span class="font-weight-bold">Points :</span>
                        <span class="pl-1">{{ workflowData?.workflowTotalPoints }}</span>
                    </div>
                    <div class="workflow-data py-1">
                        <span class="font-weight-bold">Completion Date :</span>
                        <span class="pl-1">{{ workflowData?.wf_enddate }}</span>
                    </div>
                    <!-- <div class="workflow-data py-1">
                        <span class="font-weight-bold">Type :</span>
                        <span class="pl-1">Classroom</span>
                    </div> -->
                    <div class="workflow-data progress-work py-1">
                        <span class="font-weight-bold">Progress :</span>
                        <label class="d-flex m-0 mt-1">
                            <div class="progress mt-2">
                                <div class="progress-bar inprogress" role="progressbar" [style.width]="workflowData?.perComplete + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="ml-2 font-weight-bold">{{ workflowData?.perComplete }}%</span>
                        </label>
                    </div>
                </div>

                <div class="author d-inline  py-1" *ngIf="selectedMenuForPathway == 0">
                    <i class="far fa-user pr-1"></i>
                    <span>{{ workflowData?.cAuthorName }}</span>
                </div>

                <div class="whishlist cursor-p d-inline pl-3 py-1" *ngIf="selectedMenuForPathway == 0" (click)="wishlistCourse(workflowData, workflowData.wishList)">
                    <i class="far fa-heart" [ngClass]="{'fillwhish fas' : workflowData?.wishList === 1}"></i> {{workflowData?.wishList === 1 ? 'Wishlisted' : 'Add to wishlist'}}
                </div>

                <div class="levels d-flex align-items-center pt-1 pb-2" *ngIf="selectedMenuForPathway == 0">
                    <svg class="levels" width="19" height="26" viewBox="0 0 24 24" fill="none">
                        <path d="M12 20V10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18 20V4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M6 20V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                    <span class="pl-2">{{ workflowData?.cLevleLabel }}</span>
                </div>

                <div *ngIf="selectedMenuForPathway == 0" class="pt-2">
                    <div class="price pb-2" *ngIf="workflowData?.cCourseDiscount != 0">
                        <label class="m-0">
                            <span class="og-price font-weight-bold">
                                &#8377;{{ workflowData?.cDiscountPrice }}
                            </span>
                            <span class="price-slash px-1">
                                &#8377;{{ workflowData?.cOriginalPrice }}
                            </span>
                        </label>
                        <label class="discount pl-2 m-0"> {{ workflowData?.cCourseDiscount }}&#37; off</label>
                    </div>

                    <div class="day" *ngIf="workflowData?.cCourseDiscount != 0">
                        <label>
                            <i class="far fa-clock"></i> Offer valid till {{ workflowData?.discountEndDate }}!
                        </label>
                    </div>

                    <div class="price pb-1" *ngIf="workflowData?.cCourseDiscount == 0">
                        <label class="m-0">
                            <span class="og-price" *ngIf="workflowData?.isFree == 0">
                                &#8377;{{ workflowData?.cDiscountPrice }}
                            </span>
                            <span class="og-price" *ngIf="workflowData?.isFree == 1">
                                Free
                            </span>
                        </label>
                    </div>

                    <div class="course-btn d-inline">
                        <!-- <button>Enroll</button> -->
                        <button class="cursor-p font-weight-bold" (click)="buyCourse(workflowData)">{{workflowData?.cDiscountPrice !== 'Free' ? 'Buy now' : 'Enrol for Free'}}</button>
                    </div>

                    <!-- <div class="apply col-md-6 d-inline-block">
                      <label class="" *ngIf="coupon" (click)="showCoupon()">Apply Coupon</label>
                      <div *ngIf="!coupon" class="input-group">
                          <input type="text" class="form-control paddinp" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                          <div class="input-group-prepend">
                              <button class="aplbtn">Apply</button>
                          </div>
                      </div>
                  </div> -->

                </div>
            </div>

            <div class="inner-banner--right">
                <div class="preview-section">
                    <div class="inner-image">
                        <img [src]="bindBackgroundImage(workflowData?.workflowPicRef)">
                    </div>
                    <!-- <div class="inner-preview">
                        <video controls>
                            <source src="../../../assets/SampleVideo_1mb.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="preview-list">
                        <ul class="m-0">
                            <li *ngFor="let item of preview;let i = index">
                                {{i+1}}. {{item?.name}}
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="content-section p-4 mx-auto">
        <div class="content-inner">
            <h5 class="font-weight-bold pb-3">Content -</h5>
            <div class="course-list pb-4">
                <app-stepper [stepper]="workflowData?.courseData" [orientation]="'vertical stepper'"></app-stepper>
                <div class="course-inner">
                    <div class="inner-list position-relative cursor-p" *ngFor="let item of workflowData?.courseData; let i = index" [ngClass]="{ 'no-events': selectedMenuForPathway == 0}">
                        <span class="course-percent position-absolute font-weight-bold">{{item?.percComplete}}%</span>
                        <div class="row">
                            <div class="inner-list--left col-md-3 pr-1" (click)="item.wait == false ? performActionOnCourse('goToCourse', 'NA', item, i) : false">
                                <div class="course-image position-relative">
                                    <span class="layer position-absolute" *ngIf="item?.wait">
                                        <i class="fa fa-lock position-absolute"></i>
                                    </span>
                                    <img [ngClass]="{'lock': item?.wait}" [src]="bindBackgroundImage(item?.typeImage)" alt="Course Image">
                                </div>
                            </div>
                            <div class="inner-list--right col-md-9 pr-4 pl-0 py-3">
                                <label class="d-block m-0 workflow " (click)="item.wait == false ? performActionOnCourse('goToCourse', 'NA', item, i) : false">
                                    <img _ngcontent-jpy-c8="" class="pr-2" src="../../../assets/icon-svg/classroom.svg">
                                    <span>{{ item?.courseType2 }}</span>
                                </label>
                                <h2 class="m-0 pt-2" (click)="item.wait == false ? performActionOnCourse('goToCourse', 'NA', item, i) : false">
                                    {{ item?.courseTitle }}
                                </h2>
                                <div *ngIf="item?.cAuthorName" class="author pt-2 " (click)="item.wait == false ? performActionOnCourse('goToCourse', 'NA', item, i) : false">
                                    By : <span>{{item?.cAuthorName}}</span>
                                </div>
                                <div class="points-date pt-2 pb-2 " (click)="item.wait == false ? performActionOnCourse('goToCourse', 'NA', item, i) : false">
                                    <span *ngIf="item?.cpoints" class="pr-2">Points :
                                        <span>{{ item?.cpoints }}</span></span>
                                    <span *ngIf="item?.endDate">Date : <span>{{ item?.endDate }}</span></span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="like">
                                        <span class="pr-1 cursor-p" [ngClass]="{ 'liked': item?.isLike == 1}" (click)="item.wait == false ? performActionOnCourse('likeDislike', 1, item, i) : false">
                                            <i class="far fa-thumbs-up"></i> Like</span>
                                        <span class="pl-1 cursor-p" [ngClass]="{ 'liked': item?.isDislike == 1}" (click)="item.wait == false ? performActionOnCourse('likeDislike', 2, item, i) : false">
                                            <i class="far fa-thumbs-down"></i> Dislike</span>
                                    </div>
                                    <div class="prog-message text-right">
                                        <span class="disable" *ngIf="selectedMenuForPathway != 0 && item?.wait">
                                          <span *ngIf="item?.cascade_course_flag == 1">
                                            <i class="fas fa-info-circle"></i>
                                            Complete the ' {{item?.dependentCourseName}} ' course to access this.
                                          </span>
                                        <span *ngIf="item?.cascade_course_flag == 0">
                                            <i class="fas fa-info-circle"></i>
                                            This course will start from ' {{item?.startDate}} '
                                          </span>
                                        </span>
                                        <span class="completed" *ngIf="selectedMenuForPathway != 0 && item?.completed">
                                            <i class="far fa-check-circle"></i>
                                            Completed
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="inner-list" *ngFor="let item of courseList; let i = index">
                        <ngx-course-card-workflow [cardsData]="item"
                    (getEvent)="performActionOnCourse($event, j, tab)"></ngx-course-card-workflow>
                    </div> -->
                </div>
            </div>
        </div>

        <h5 class="font-weight-bold py-3">About this course -</h5>
        <h3>Description :</h3>
        <p class="descri">
            {{workflowData?.wdescription}}
        </p>

        <h3>Features :</h3>
        <p class="descri">{{workflowData?.Features}}</p>

        <!-- <h3>Certificates :</h3>
        <p class="descri m-0">{{workflowData?.Certificates}}</p> -->
    </div>
</div>

<!-- <footer class="py-4 px-3 text-center footset">
    <div class="inner-footer d-flex justify-content-between align-items-center">
        <div class="logo">
            <img class="imgftwid" width="100" src="../../../assets/edge-logo/edge-blue-full.png" alt="edge-logo">
            <label class="m-0 pl-2">Copyright © 2020 Edge, Inc.</label>
        </div>
        <div class="nav d-flex justify-content-around">
            <span>Terms</span>
            <span>Privacy Policy</span>
            <span>Help and Support</span>
        </div>
    </div>
</footer> -->
