@import "../course-details/course-details.component.scss";
.course-details {
  .banner {
    // min-height: 36vh;
    min-height: 215px;
    .inner-banner {
      &--right {
        top: 0;
        width: 22%;
        .preview-section {
          top: 0;
          .inner-image {
            height: 155px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .content-section {
    .content-inner {
      width: 65%;
      .course-list {
        display: -webkit-box;
        border-bottom: 0.5px solid #f2ecec;
        .course-inner {
          border-radius: 4px;
          background: #ededed29;
          border: 1px solid #d7d7d7;
          .inner-list {
            &:not(:last-child) {
              border-bottom: 1px solid #d7d7d7;
            }
            .course-percent {
              top: 0;
              right: 0;
              padding: 2px 6px;
              font-size: 0.8rem;
              color: #000000;
              background: #ffffff;
              border-bottom-left-radius: 4px;
              border-left: 1px solid #d7d7d7;
              border-bottom: 1px solid #d7d7d7;
            }
            &--left {
              .course-image {
                margin: 12px;
                .layer {
                  top: 0;
                  left: 0;
                  z-index: 1;
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                  background: rgba(0, 0, 0, 0.2);
                  i {
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    color: #ffffff;
                    font-size: 18px;
                    transform: translate(-50%, -50%);
                  }
                }
                img {
                  z-index: 1;
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                  border: 1px solid #d7d7d7;
                }
                .lock {
                  filter: blur(1px);
                }
              }
            }
            &--right {
              padding: 12px 0;
              color: #707070;
              img {
                width: inherit;
              }
              h2 {
                font-size: 18px;
              }
              .workflow,
              .author,
              .points-date,
              .like {
                font-size: 12px;
              }
              .like {
                color: #9d9d9d;
                span:hover {
                  color: var(--colorCommon);
                }
              }
              .liked {
                color: var(--colorCommon);
              }
              .prog-message {
                width: 70%;
                font-weight: 600;
                font-size: 0.88rem;
                .progress {
                  width: 32%;
                  height: 6px;
                }
                .disable {
                  color: #d78307;
                }
                .completed {
                  color: #258726;
                }
              }
            }
          }
        }
      }
    }
  }
}

:host /deep/ {
  .stepper {
    padding: 66px 0;
    .joinner {
      height: 112px !important;
    }
    @media only screen and (min-width: 1281px) {
      .joinner {
        height: 118px !important;
      }
    }
  }
}

.no-events {
  pointer-events: none;
  cursor: not-allowed;
}

.imgftwid {
  width: 100px;
}

.footset {
  background: #ebeff5;
  position: absolute;
  bottom: 0;
  width: calc(100% - 5rem);
}
