<div class="no-data text-center mt-5">
    <img src="assets/images/no-data.svg" [hidden]="!showImage" alt="no-data">
    <h1 *ngIf="title">{{title}}</h1>
    <p *ngIf="discription"> {{discription}}</p>
</div>
