<!-- <div class="contentHeading">
  <div class="courseIcon">
      <i class="fas fa-chalkboard-teacher"></i>
  </div>
  <div class="courseWrapper">
      <p class="courseTITLE">{{nomineeContent.courseName}}</p>
      <p class="courseDescription">Course Description</p>
  </div>

</div> -->
<div class="ttt_content_component">
    <div class='contentTabs' *ngIf="nomineeModules">

        <div class='content-Tab-container' *ngFor='let tabs of nomineeModules;let i=index;' [ngClass]="ActiveTab==i ? 'content-Tab-container-active' : 'content-Tab-container'" (click)='tabChanged(tabs)'>
            <div class='Tab-content-body' [ngClass]="ActiveTab==i ? 'Tab-content-body-active' : 'Tab-content-body'">
                {{ tabs.moduleName }}
            </div>
        </div>

    </div>
    <!--
    <div class='contentBODY' *ngFor='let content of nomineeContent;let i=index;'>
        <div class="cardOVerLay">
          <img class='contentImg' [src]="content.img" />
        </div>
        <div class='contentBlock col-9'>
          <div class='contentTitle row'>
            <p class='activityTitle col-5'>

              <span class='activityName'>{{ content.activityName }}</span>
            </p>
            <div class="col-5 row">
              <img class='onlineIMG' src="assets/images/online.svg"/>
              <p class='bMHP2'>ONLINE </p>
            </div>
            <div class="col-md-2 centerALign">
              <img *ngIf='content.bookmarked==true' class='save' src='assets/images/bookmarked.svg' />
              <img *ngIf='content.bookmarked==false' class='unsaved' src='assets/images/notBookmarked.svg' />
            </div>
          </div>
          <div class='description'>
            <p>{{ content.summary }}</p>
          </div>
          <div class='contentbtns'>
            <div class='beginbtn' *ngIf="content.wCompleted == 0" (click)='goToCourse(content)'>Begin</div>
            <div class='beginbtn' *ngIf="content.wCompleted == 1">Completed</div>
          </div>
        </div>
    </div>  -->
    <!-- <div class="course-details-component-grid-1" *ngFor='let content of nomineeContent;let i=index;'>
              <div class="body-img" [ngStyle]="bindBackgroundImage(content)">

        </div>
        <div class="body-main">
            <div class="title-course-icon-text-div">
                <div class="course-title">

                    <span class="title">{{ content.activityName }}</span>
                </div>
            </div>
            <div class="main-content">
                <div>
                    <p [innerHTML]="content?.summary?.substring(0, 10)">{{ content.summary }}</p>

                </div>
            </div>
            <div *ngIf="content?.byTrainer == 0">
                <div class="button-container" *ngIf="content?.wCompleted == 0">
                    <button *ngIf="content?.summary" (click)='goToCourse(content)' class="bodyMidButton-1">Begin</button>
                    <button *ngIf="!content?.summary" class="bodyMidButton-2" (click)='goToCourse(content)'>Begin</button>
                </div>
                <div *ngIf="content?.wCompleted == 1" class="button-container">
                    <button *ngIf="content?.summary" class="bodyMidButton-2CompDis" (click)='goToCourse(content)'>Completed on {{ content.completedDate | date:"dd-MMM-yyyy" }}</button>
                    <button *ngIf="!content?.summary" class="bodyMidButton-1CompDis" (click)='goToCourse(content)'>Completed on {{ content.completedDate | date:"dd-MMM-yyyy" }}</button>
                </div>
            </div>
            <div *ngIf="content?.byTrainer == 1">
                <div class="button-container" *ngIf="content?.wCompleted == 0">
                    <button *ngIf="content.summary" class="bodyMidButton-2CompDis">Attendance will be marked by trainer</button>
                    <button *ngIf="!content.summary" class="bodyMidButton-1CompDis">Attendance will be marked by trainer</button>
                </div>

                <div *ngIf="content?.wCompleted == 1" class="button-container">
                    <button *ngIf="content?.summary" class="bodyMidButton-2CompDis" (click)='goToCourse(content)'>Completed on {{ content.completedDate | date:"dd-MMM-yyyy" }}</button>
                    <button *ngIf="!content?.summary" class="bodyMidButton-1CompDis" (click)='goToCourse(content)'>Completed on {{ content.completedDate | date:"dd-MMM-yyyy" }}</button>
                </div>
            </div>

        </div>
    </div> -->
    <div *ngIf="nomineeModules[ActiveTab]?.isDisable == 'N'">
      <div class="pb-2 pt-2" *ngFor="let activity of nomineeContent">
        <ngx-activity-card  [data]="activity" [disabledAction]="disabledActivityFlag" (getEvent)="preformActionOnAcitivty($event)"></ngx-activity-card>
     </div>
    </div>

     <div *ngIf="nomineeModules[ActiveTab]?.isDisable == 'Y'" class="disabled_div mt-5">
      Session will start from {{nomineeModules[ActiveTab].mStartDate ? nomineeModules[ActiveTab].mStartDate : 'Not available' }}
  </div>
    <div class="addSelfBackdrop2" [hidden]="!passCheck">
        <div class="addSelfDemoModal2">
            <h1 class="modalheader"> Enter password to access quiz</h1>

            <form [formGroup]="resetPwdForm" class="formR">
                <mat-form-field class="matblock">
                    <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" passwordToggle />
                    <mat-error *ngIf="submitted && f.password.errors">
                        <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                        <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                    </mat-error>
                </mat-form-field>
                <div *ngIf="submitted">
                    <div *ngIf="passWrong" class='passWrong'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Incorrect Password
                    </div>
                </div>
            </form>

            <div class="butns">
                <button class="change closeBtn" (click)="close()">Cancel</button>
                <button type="submit" class="change" (click)="onSubmit()">Submit</button>
            </div>

        </div>
    </div>


    <div class="addSelfBackdrop2" [hidden]="!displayInstructions">
        <div class="addSelfDemoModal2">
            <h1 class="modalheader"> Instructions </h1>

            <p *ngIf='checkResponse'> {{ checkResponse.instructions }} </p>

            <div class="butns">
                <button class="change closeBtn" (click)="closedisplayInstructions()">Cancel</button>
                <button type="submit" class="change" (click)="onSubmit1()">Submit</button>
            </div>

        </div>
    </div>



</div>
