.ttt_content_component {
  //   height: 75vh;
  // //   width: 90%;
  //   overflow-x: auto;
  .courseIcon {
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: #f7a076;
    font-size: 20px;
    margin: auto 0;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
  }

  .courseWrapper {
    width: 100%;
    text-align: left;
  }

  .contentHeading {
    display: flex;
  }
  .courseDescription {
    opacity: 0.6;
    color: #464646;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .courseTITLE {
    color: #464646;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0rem !important;
    text-align: left;
  }

  .contentTabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 16px;
  }

  .content-Tab-container {
    height: 35px;
    // width: 150px;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--colorCommon);
    border: 1px solid var(--colorCommon);
    // box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    margin-right: 10px;
    cursor: pointer;
  }

  .Tab-content-body {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
  }

  .content-Tab-container-active {
    height: 35px;
    // width: 150px;
    padding: 0px 10px;
    border-radius: 10px;
    // background-color: #507bfc;
    background-color: var(--colorCommon);
    color: #fff;
    // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    margin-right: 10px;
  }

  .Tab-content-body-active {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
  }

  .contentBODY {
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 20px;
  }

  .contentImg {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .cardOVerLay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 12px;
    width: 35%;
  }

  .contentBlock {
    margin: 30px 0;
    width: 100%;
  }

  .contentTitle {
    display: inline-flex;
    width: 100%;
  }

  .activityId {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .activityName {
    color: #1b2437;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .activityTitle {
    margin: 0;
  }

  .centerALign {
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
  }

  .bMHP2 {
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin: auto 20px;
  }

  .onlineIMG {
    height: 20px;
    margin: auto 0;
  }

  .unsaved {
    cursor: pointer;
    width: 15px;
    float: right;
  }
  .save {
    cursor: pointer;
    width: 18px;
    float: right;
  }

  .description {
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 15px;
    font-family: "open sans";
    line-height: 24px;
  }

  .contentbtns {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
  }

  .mar-auto {
    margin: auto;
  }

  .beginbtn {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }

  .addSelfBackdrop2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #40404075;
    .addSelfDemoModal2 {
      width: 40%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      position: fixed;
      p {
        text-align: left;
      }
    }
  }
  .modalheader {
    font-family: "Open sans";
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 12px;
  }
  .butns {
    text-align: right;
  }
  .change {
    padding: 8px 16px;
    font-size: 14px;
    background: var(--colorBgbtn);
    border: 1px solid var(--colorBtnTxt);
    color: var(--colorBtnTxt);
    border: none;
    border-radius: 10px;
    margin-left: 6px;
    outline: none !important;
    cursor: pointer;
  }
  .closeBtn {
    background: var(--colorBtnTxt);
    border: 1px solid var(--colorBgbtn);
    color: var(--colorBgbtn);
  }
  .matblock {
    width: 80%;
  }
  // .change {
  //   width: 120px;
  //   line-height: 40px;
  //   font-size: 14px;
  //   padding: 0;
  //   background: #2196f3;
  //   border: none;
  //   color: #fff;
  //   border-radius: 25px;
  //   // box-shadow:0px 5px 14px 0px rgba(80,123,252,0.5);
  //   outline: none !important;
  //   cursor: pointer;
  // }
  // .course-details-component-grid-1 {
  //   display: grid;
  //   grid-template-columns: minmax(250px, 1fr) 10fr;
  //   background: white;
  //   border-radius: 10px;
  //   box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
  //   text-align: left;
  //   margin: 0 2px 20px 2px;
  //   // margin-bottom: 20px;
  //   // grid-row-gap: 20px;
  //   // grid-template-rows: 50% 50%;
  //   &:last-child {
  //     margin: 0 2px 0px 2px;
  //   }
  //   .body-img {
  //     border-top-left-radius: 10px;
  //     border-bottom-left-radius: 10px;
  //     width: 100%;
  //     height: 100%;
  //     background-repeat: no-repeat;
  //     // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
  //     -webkit-background-size: cover !important;
  //     -moz-background-size: cover !important;
  //     -o-background-size: cover !important;
  //     background-size: cover !important;
  //     background-position: center !important;
  //     display: grid;
  //   }
  //   .body-main {
  //     padding-top: 20px;
  //     padding-left: 15px;
  //     .title-course-icon-text-div {
  //       display: grid;
  //       grid-template-columns: 1fr 1fr;
  //       .course-title {
  //         // vertical-align: super;
  //         .title {
  //           color: #1b2437;
  //           font-family: "Open Sans";
  //           font-size: 26px;
  //           line-height: 36px;
  //           text-align: center;
  //         }
  //         .number {
  //           color: #507bfc;
  //           font-family: "Open Sans";
  //           font-size: 26px;
  //           line-height: 36px;
  //           padding-right: 5px;
  //           display: inline-block;
  //         }
  //       }
  //       .course-icon {
  //         // display: inline-block;
  //         // width: 66%;
  //         text-align: right;
  //         margin-right: 20px;
  //         vertical-align: super;
  //         align-self: center;
  //         margin-left: auto;
  //         .cardImg {
  //           padding-right: 7px;
  //           width: 35px;
  //         }
  //         .course-icon-text {
  //           display: inline-block;
  //           padding-top: 0px;
  //           vertical-align: middle;
  //         }
  //       }
  //     }

  //     .main-content {
  //       margin-top: 20px;
  //     }
  //     .button-container {
  //       text-align: right;
  //     }
  //     .bodyMidButton-1 {
  //       height: 40px;
  //       width: 228px;
  //       border-radius: 100px;
  //       background-color: #507bfc;
  //       -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       margin-right: 30px;
  //       cursor: pointer;
  //       color: white;
  //       font-size: 15px;
  //       border: none;
  //       margin-top: 40px;
  //       margin-bottom: 20px;
  //     }
  //     .bodyMidButton-2 {
  //       height: 40px;
  //       width: 228px;
  //       border-radius: 100px;
  //       background-color: #507bfc;
  //       -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       margin-right: 30px;
  //       cursor: pointer;
  //       color: white;
  //       font-size: 15px;
  //       border: none;
  //       margin-top: 30px;
  //       margin-bottom: 20px;
  //     }
  //     .bodyMidButton-1CompDis {
  //       height: 40px;
  //       width: 228px;
  //       border-radius: 100px;
  //       background-color: #aaaaaa;
  //       -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       margin-right: 30px;
  //       cursor: pointer;
  //       color: white;
  //       font-size: 15px;
  //       border: none;
  //       margin-top: 40px;
  //       // margin-top: 70px;
  //       margin-bottom: 20px;
  //     }
  //     .bodyMidButton-2CompDis {
  //       height: 40px;
  //       width: 228px;
  //       border-radius: 100px;
  //       background-color: #aaaaaa;
  //       -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       margin-right: 30px;
  //       cursor: pointer;
  //       color: white;
  //       font-size: 15px;
  //       border: none;
  //       margin-top: 30px;
  //       margin-bottom: 20px;
  //     }
  //     .bodyMidButton-1Dis {
  //       height: 40px;
  //       width: 228px;
  //       border-radius: 100px;
  //       background-color: white;
  //       -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       margin-right: 30px;
  //       cursor: not-allowed;
  //       color: #aaaaaa;
  //       font-size: 15px;
  //       border: 1px solid #aaaaaa;
  //       margin-top: 40px;
  //       // margin-top: 70px;
  //       margin-bottom: 20px;
  //     }
  //     .bodyMidButton-2Dis {
  //       height: 40px;
  //       width: 228px;
  //       border-radius: 100px;
  //       background-color: white;
  //       -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  //       margin-right: 30px;
  //       cursor: not-allowed;
  //       color: #aaaaaa;
  //       font-size: 15px;
  //       border: 1px solid #aaaaaa;
  //       margin-top: 40px;
  //       margin-bottom: 20px;
  //     }
  //   }
  // }
  // .course-details-component-grid-1:last-child {
  //   margin: 0 2px 0px 2px;
  // }
}
