<!-- <mat-card class="mycrd3">
    <div class="row header167">
        <div class="col-12">
            <input type="text" class="searchin" placeholder="&#xf002;   Search" [(ngModel)]="person">
        </div>
    </div>
    <table mat-table [dataSource]="feedback" style="width:100%">

      <ng-container matColumnDef="participants">
        <th mat-header-cell *matHeaderCellDef> Participant </th>
        <td mat-cell *matCellDef="let element"> {{element.participants}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Objective">
        <th mat-header-cell *matHeaderCellDef> Objective </th>
        <td mat-cell *matCellDef="let element"> {{element.Objective}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Content">
        <th mat-header-cell *matHeaderCellDef> Content </th>
        <td mat-cell *matCellDef="let element"> {{element.Content}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Trainer">
        <th mat-header-cell *matHeaderCellDef> Trainer </th>
        <td mat-cell *matCellDef="let element"> {{element.Trainer}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Overall">
          <th mat-header-cell *matHeaderCellDef> Overall </th>
          <td mat-cell *matCellDef="let element"> {{element.Overall}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
  
</mat-card> -->

<div class="stickyrow">
  <div class="trainerheader">
    <div class="col-12" style="margin: auto;float: left;">
      <div class="backIcon" (click)="goBack()">
        <i class="fas fa-chevron-left"></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!noFeedbackData">
  <div class="scrollable-table">
    <table class="assesstable">
      <thead>
        <tr>
          <th *ngFor="let datakeys of objKeys" [title]="datakeys">{{ makefeedback(datakeys) }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datavalues of participants" class="rowData">
          <td *ngFor="let item of Object.values(datavalues)">
            {{item}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="noFeedbackData">
  <div class="NoDataDiv">
      No Feedbacks Found.
  </div>
</div>
