
feedback-data {
     // .mat-tab-label {
    //     height: 48px;
    //     padding: 0 24px;
    //     cursor: pointer;
    //     box-sizing: border-box;
    //     opacity: .6;
    //     width: 100%;
    //     text-align: center;
    //     border: 1px solid #008eff !important;
    //     color: #008eff !important;
    //     margin: 0px !important;
    //     font-size: 18px !important;
    //     display: inline-flex;
    //     justify-content: center;
    //     align-items: center;
    //     white-space: nowrap;
    //     position: relative;
    //     border-radius: 0 !important;
    // }
    
    // .mat-tab-label-active{
    //     background: #008eff !important;
    //     color: #fff !important;
    // }
    
    // .mat-tab-body.mat-tab-body-active {
    //     position: relative;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //     z-index: 1;
    //     // background: #fff !important;
    //     flex-grow: 1;
    //     margin-top: 10px !important;
    //     border-radius: 8px !important;
    //     padding: 10px !important;
    // }
    
    // .mat-tab-header {
    //     display: flex;
    //     overflow: hidden;
    //     position: relative;
    //     flex-shrink: 0;
    //     width: 90% !important;
    //     margin: auto !important;
    //     border-radius: 25px !important;
    // }
    .NoDataDiv{
        position:fixed;
        top: 50%;
        left: 52%;
      }
    
  .mycrd3{
    padding: 0;
}
  .rowsss:nth-child(even){
  background: #4646460f;
  }
  

  .scrollable-table{
      width: 100% !important;
      overflow-x: scroll;
      height: 100%;
  }

  .scrollable-table::-webkit-scrollbar {
      width: 20px;
      height: 10px;
      scroll-margin-left: 10px;
  }
  .scrollable-table::-webkit-scrollbar-thumb {
      background: rgb(219, 219, 219); 
      border-radius: 35px;
    }
  
  .scrollable-table::-webkit-scrollbar-track {
      display: none;
  }
  
  .assesstable{
      width: 2000px !important;
      background: #fff;
      font-family: "open sans" !important;
  }

  th{
      text-align: center;
      height: 50px;
      font-weight: 100;
      min-width: 170px;
      color: #4a4848;
      // border-left: 0.5px solid #e8e8e89c;
      }
      
      thead{
          text-transform: uppercase !important;
      }
  
      .rowData{
          text-align: center;
          font-size: 16px;
      }
      
      .rowData:nth-child(odd){
          text-align: center;
          font-size: 16px;
          background: #e8e8e89c;
      }
      
      tr{
          height: 80px !important;
          font-weight: 100;
          color: #4a4848 !important;
          font-size: 16px;
      
      }
  
  .rowsss{
      width: 100%;
      margin: auto;
      height: 80px;
      display: inline-flex;
      cursor: pointer;
  }

  .stickyrow{
      position: sticky !important;
  }
  
  .trainerheader{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      height: 60px;
      font-size: 20px;
      background: transparent;
      border-radius: 10px;
      width: 100%;
      padding: 0;
  }

  .backIcon{
      width: 40px;
      height: 40px;
      margin: auto;
      border-radius: 50%;
      color: #008eff;
      background: transparent;
      border: 2px solid #008eff;
      text-align: center;
      font-size: 20px;
      line-height: 36px;
      float: left;
    }
}
   
    
    
    
    