<div class="course-skeleton" *ngIf="loading">
  <ngx-course-card-skeleton [count]="dataLimit"></ngx-course-card-skeleton>
</div>
<div class="search-results course-cards" id="search-res" *ngIf="!loading && searchedCourseList.length > 0" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)"
  (scrolledUp)="onScrollUp($event)" [scrollWindow]="false">
  <div class="d-inline" *ngFor="let item of searchedCourseList; let j = index">
      <!-- <h3 class="month-seprator text-capitalize font-weight-bold px-3 pt-2" *ngIf="j == 0">
          {{item?.monthname}}
          {{ getMonthText(item) }}
      </h3>
      <h3 class="month-seprator text-capitalize font-weight-bold px-3 pt-2" *ngIf="j > 0 && item?.month !== searchedCourseList[j-1].month">
          {{item?.monthname}}
          {{ getMonthText(item) }}
      </h3> -->
      <ngx-course-card-v2 [cardsData]="item" *ngIf="item?.isWorkFlow == 0 && item?.compStatus === 'OPEN'"  [config]="openConfig" (getEvent)="performAction($event)"></ngx-course-card-v2>
      <ngx-course-card-v2 [cardsData]="item" *ngIf="item?.isWorkFlow == 0 && item?.compStatus !== 'OPEN'"  [config]="courseConfig" (getEvent)="performAction($event)"></ngx-course-card-v2>
      <ngx-course-card-v2 [cardsData]="item" *ngIf="item?.isWorkFlow == 1" [config]="pathwayConfig" (getEvent)="performAction($event)"></ngx-course-card-v2>
  </div>
      <ngx-course-card-skeleton [count]="dataLimit" [hidden]="!working"></ngx-course-card-skeleton>
</div>

<div class="course-skeleton" *ngIf="!loading && searchedCourseList.length == 0">
  <ngx-no-data-found [image]="noDataFoundContainer?.image" [title]="noDataFoundContainer?.title" [discription]="noDataFoundContainer?.discription"></ngx-no-data-found>
</div>
