.table-button{
  font-size: 12px;
  padding:  8px;
  width: 100px;
  height: max-content;
  color: #fff;
  line-height: 1;
  border-radius: 4px;
  background: var(--colorCommon);
  border: none;
  cursor: pointer;
  // border: 1px solid #000000;
}
