<div>
  <div class="mytable">
    <table class="">
      <thead>
        <tr>
          <th class="tHeadSize">Spectr</th>
          <th class="tHeadSize">Competencies</th>
          <th class="tHeadSize">Assess</th>
          <th class="tHeadSize">Score</th>
          <th class="tHeadSize">Remarks</th>
        </tr>
      </thead>
      <tbody *ngFor="let template of assessmentTemplate; let mainI = index">
        <tr class="subheading">
          <td></td>
          <td></td>
          <td>{{template.areaName}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let templateInner of template.areaSubAssess; let i = index" class="evenoddRows">
          <td class="justifyContent">{{templateInner.spectrName}}</td>
          <td class="justifyContent">{{templateInner.compName}}</td>
          <td class="justifyContent">{{templateInner.assessName}}</td>
          <td class="scoreTd">
            <!-- <input class="scoreInp" type="number" [(ngModel)]="templateInner.score"> -->
            <!-- <bar-rating [(rate)]="rate" [max]="5"></bar-rating> -->

            <star-rating [starType]="'svg'" [showHalfStars]="true" [getHalfStarClass]="getHalfStarClass" [numOfStars]="4"
            staticColor="goldenyellow" [rating]="templateInner.score" (ratingChange)="onRateChange($event, i, mainI)"></star-rating> 
            <!-- <ng5-slider [(value)]="value" [options]="options"></ng5-slider> -->
          </td>
          <td class="textBlock">
            <textarea placeholder="Write your remarks here.." [(ngModel)]="templateInner.remarks" min="20" max="250" class="txtArea"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button_container">
    <button type="button" class="submitbtn" (click)="submit(assessmentTemplate)">Submit</button>
  </div>
</div>