ngx-cc-assessment {
    .mytable {
        margin: 16px 0px;
        background: #fff;
        // padding: 15px;
        border-radius: 7px;
        table {
            color: #555454;
            width: 100%;
            thead {
                tr {
                    font-size: 1.1vw;
                    text-transform: uppercase;
                }
            }
            tr {
                height: 35px;
                font-size: 1vw;
            }
        }
    }
    .evenoddRows:nth-child(odd) {
        // background: #ecf2f8;
        border-top: 1px solid #eee;
    }
    .assessSubmit {
        width: auto !important;
        border: none;
        padding: 6px 14px !important;
        background-color: #048ad2 !important;
        color: #fff !important;
        text-transform: uppercase !important;
        min-width: 90px !important;
        max-height: 29px !important;
    }
    .tHeadSize {
        width: 150px !important;
        text-align: left;
        padding-left: 15px;
        font-weight: 500;
    }
    .justifyContent {
        padding: 10px 20px;
    }
    .txtArea {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        resize: none;
        /* padding: 10px 0; */
        text-align: left;
        border: 1px solid #eee;
        border-radius: 6px;
        padding: 8px;
    }
    .scoreInp {
        width: 50px;
        height: 50px;
    }
    .scoreTd {
        text-align: center;
    }
    .colPad {
        padding: 15px;
    }
    .subheading {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        text-align: center;
        background: #e5e5e5;
        td {
            font-size: 15px;
            color: #575757;
        }
    }
    star-rating {
        outline: none;
    }
    .rating {
        justify-content: left !important;
        outline: none;
    }
    .rating.color-goldenyellow .star-container .star {
        width: 24px;
        height: 24px;
        margin: 0 2px;
        svg {
            fill: #ffc004;
        }
    }
    .progressBar {
        width: 1000px !important;
    }
    .button_container {
        text-align: center;
        // padding-right: 25px;
    }
    .rating {
        outline: none;
    }
    .textBlock {
        padding: 10px;
        display: block;
        height: 6vw;
        align-items: center;
    }
    .submitbtn {
        padding: 8px 40px;
        border: none;
        border-radius: 30px;
        background: #507BFC;
        color: #fff;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
    }
}