<!-- <div class="wrapBOth-container">
  <div class="participantContainer" *ngIf="!giveFeedback">
    <div>
      <mat-card class="participantCard">
        <table>
          <tr class="tablerow">
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            <th>Email Id</th>
            <th>Designation</th>
            <th></th>
          </tr>
          <tr class="tablerow" *ngFor="let item of list; let i = index">
            <td>{{ item.ecn }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.mobile }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.designation }}</td>
            <td>
              <button
                class="viewFeedBtn"
                *ngIf="!item.compId"
                (click)="viewFeedback(item)"
              >
                view
              </button>
            </td>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="">
  <div class="buttonInCenter">
    <button class="downloadbtn" (click)="back()"><i class="fas fa-chevron-left"></i></button>
    <!-- <div class="header">
          <p [hidden]="frompage == 'trainer'"><B [innerHTML]="trainerName"></B></p>
          <p [hidden]="frompage == 'learner'"><B [innerHTML]="employeeName"></B></p>
          <p [hidden]="frompage == 'manager'"><B [innerHTML]="managerName"></B></p>
        </div> -->
  </div>
  <!-- <div class="row headername">
    <div class="col-6" [hidden]="frompage == 'trainer'">
      <h2>Trainer name: <B [innerHTML]="trainerName"></B></h2>
    </div>
    <div class="col-6" [hidden]="frompage == 'learner'">
        <h2>Employee name: <B [innerHTML]="employeeName"></B></h2>
      </div>
    <div class="col-6" [hidden]="frompage == 'manager'">
      <h2>Manager name: <B [innerHTML]="managerName"></B>
      </h2>
    </div>
  </div> -->
  <div class="coursdetail">
    <div class="callList">
      <div  class="nameDiv" [ngClass]="selectedId ? 'bg' : 'bg1'">
        <!-- <p [hidden]="frompage == 'trainer'"><B [innerHTML]="trainerName"></B></p>
        <p [hidden]="frompage == 'learner'"><B [innerHTML]="employeeName"></B></p>
        <p [hidden]="frompage == 'manager'"><B [innerHTML]="managerName"></B></p> -->
        <div *ngIf="selectedId">
          <p [hidden]="currentRole == 'Learner'"><i class="fab fa-leanpub"></i><span class="lerner" [innerHTML]="employeeName"></span></p>
          <p [hidden]="currentRole == 'Manager'"><i class="fas fa-user-graduate"></i><span [innerHTML]="managerName"></span></p>
          <p [hidden]="currentRole == 'Trainer'"><i class="fas fa-user-tie"></i><span [innerHTML]="trainerName"></span></p>
        </div>
      </div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
            [expandedHeight]="customCollapsedHeight">
            <mat-panel-title>
              <div class="badge_container">
                Ongoing Calls
                <span>({{onGoingCalls.length >= 99 ? '99+' : onGoingCalls.length}})</span>
              </div>
            </mat-panel-title>
            <!-- <mat-panel-description>
                    Type your name and age
                  </mat-panel-description> -->
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="callList" *ngIf="isonGoingCalls">
              <div class="vertical-menu">
                <div class="call_list" [ngClass]="{ active: selectedId == call.callId }"
                  *ngFor="let call of onGoingCalls; let i = index" (click)="contenttdetail(call, true)">
                  <div class="caller_content">
                    <div class="left_content">
                      <!-- <p class="title">Call{{ call.callId }}</p>
                      <p class="date">Start : {{call.callStartDate}} </p>
                      <p class="date">End : {{call.callEndDate}}</p>
                      <p class="date">Call: {{call.callDateTimeF}}</p> -->
                      <p class="date">Start : <span>{{call.callStartDate}}</span>  </p>
                      <p class="date">End : <span>{{call.callEndDate}}</span></p>
                      <p class="date">Call : <span>{{call.callDateTimeF}}</span></p>
                    </div>
                    <!-- <div class="datetime">
                                <p>{{call.callStartDate | date}}</p>
                                <p>{{call.callStartDate | date:'h:mm a'}}</p>
                              </div> -->
                  </div>

                  <!-- <a *ngIf="!calllist">
                            No calls found</a> -->
                </div>

              </div>
            </div>
            <div class="no_calls_available" *ngIf="!isonGoingCalls">
              No Calls Available
            </div>
          </ng-template>
          <!-- <mat-form-field>
                  <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field> -->
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
            [expandedHeight]="customCollapsedHeight">
            <mat-panel-title>
              <div class="badge_container">
                Upcoming Calls
                <span>({{upcomingCalls.length >= 99 ? '99+' : upcomingCalls.length}})</span>
              </div>

            </mat-panel-title>
            <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="callList" *ngIf="isUpcomingCalls">
              <div class="vertical-menu">
                <div class="call_list" [ngClass]="{ active: selectedId == call.callId }"
                  *ngFor="let call of upcomingCalls; let i = index" (click)="contenttdetail(call, true)">
                  <div class="caller_content">
                    <div class="left_content">
                      <!-- <p class="title">Call{{ call.callId }}</p>
                      <p class="date">Start : {{call.callStartDate}} </p>
                      <p class="date">End : {{call.callEndDate}}</p>
                      <p class="date">Call: {{call.callDateTimeF}}</p> -->
                      <p class="date">Start : <span>{{call.callStartDate}}</span>  </p>
                      <p class="date">End : <span>{{call.callEndDate}}</span></p>
                      <p class="date">Call : <span>{{call.callDateTimeF}}</span></p>
                    </div>
                    <!-- <div class="datetime">
                                <p>{{call.callStartDate | date}}</p>
                                <p>{{call.callStartDate | date:'h:mm a'}}</p>
                              </div> -->
                  </div>


                </div>

              </div>
            </div>
            <div class="no_calls_available" *ngIf="!isUpcomingCalls">
              No Calls Available
            </div>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
          <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
            [expandedHeight]="customCollapsedHeight">
            <mat-panel-title>
              <div class="badge_container">
                Past Calls
                <span>({{pastCalls.length >= 99 ? '99+' : pastCalls.length}})</span>
              </div>
            </mat-panel-title>
            <!-- <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="callList" *ngIf="isPastCalls">
              <div class="vertical-menu">
                <div class="call_list" [ngClass]="{ active: selectedId == call.callId }"
                  *ngFor="let call of pastCalls; let i = index" (click)="contenttdetail(call, true)">
                  <div class="caller_content">
                    <div class="left_content">
                      <!-- <p class="title">Call : {{ call.callId }}</p> -->
                      <p class="date">Start : <span>{{call.callStartDate}}</span>  </p>
                      <p class="date">End : <span>{{call.callEndDate}}</span></p>
                      <p class="date">Call : <span>{{call.callDateTimeF}}</span></p>
                    </div>
                    <!-- <div class="datetime">
                                  <p>{{call.callStartDate | date}}</p>
                                  <p>{{call.callStartDate | date:'h:mm a'}}</p>
                                </div> -->
                  </div>


                </div>

              </div>
            </div>
            <div class="no_calls_available" *ngIf="!isPastCalls">
              No Calls Available
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="" *ngIf="!intialNocallsFound">
      <div class="ttt-mattabs">
        <mat-tab-group  #tab1 (selectedTabChange)="onTabChanged($event);">
          <mat-tab label="Pre-Assessment" *ngIf="currentRole == 'Manager'">
            <div *ngIf="obs">
              <ngx-cc-observation [obsdata]="obsdata" [calldetail]="calls"></ngx-cc-observation>
            </div>
            <!-- <div class="data_not_available" *ngIf="!showContent">
              {{callValidationMessage}}

            </div> -->
          </mat-tab>
          <mat-tab label="Course Content">
            <div *ngIf="isCallContent">
              <ngx-cc-content [callcontent]="contentdata"></ngx-cc-content>
            </div>
          </mat-tab>
          <!-- *ngIf = "frompage != 'manager'" -->
          <!-- *ngIf="courseReadyFlag" -->
          <mat-tab label="Contact">
            <div *ngIf="courseReadyFlag && showContent" class="pt-4">
              <!-- <H4>This is a Webinar</H4> -->
              <!-- <app-webinar [course]="activityData" [userData]="userList"
                [voiceCall]="voiceCall" [videoCall]="videoCall"
                 [areaId]="21" [instanceId]='calls.callId' [config]="config">
              </app-webinar> -->
              <app-webinar-multi *ngIf="featureConfig?.webinar?.openvidu" [course]="activityData" [userList]="userList" [voiceCall]="voiceCall"
                [videoCall]="videoCall" (callEnd)="changeCount($event)" [areaId]="21" [tenantId]="tenantId"
                [config]="config">
              </app-webinar-multi>
              <ngx-webinar-multi-jitsi *ngIf="featureConfig?.webinar?.jisti" [course]="activityData" [userList]="userList" [voiceCall]="voiceCall"
              [videoCall]="videoCall" (callEnd)="changeCount($event)" [areaId]="21" [tenantId]="tenantId"
              [config]="config"></ngx-webinar-multi-jitsi>
            </div>
            <div class="data_not_available" *ngIf="!showContent">
              {{callValidationMessage}}
              <!-- {{calls?.msg}} -->
              <!-- The content will be available after {{courseStartData }} - {{courseEndData }}. -->
            </div>
          </mat-tab>
          <mat-tab label="Feedback">
            <div *ngIf="isdata && showContent">
              <ngx-cc-feedback [fdata]="fdata" [calldetail]="calls"></ngx-cc-feedback>
            </div>
            <div class="data_not_available" *ngIf="!showContent">
              <!-- {{calls?.msg}} -->
              {{callValidationMessage}}
            </div>
          </mat-tab>
          <mat-tab label="Assessment" *ngIf="currentRole == 'Trainer'">
            <div *ngIf="assess && showContent ">
              <ngx-cc-assessment [assessmentdata]="assessmentdata" [calldetail]="calls"></ngx-cc-assessment>
            </div>
            <div class="data_not_available" *ngIf="!showContent">
              <!-- {{calls?.msg}} -->
              {{callValidationMessage}}
            </div>
          </mat-tab>
          <mat-tab label="Notepad" >
            <div *ngIf="showContent">
              <mat-card class="editorCard">
                <form #editorForm="ngForm">
                  <quill-editor id="editor" [(ngModel)]="notes" name="editor" [disabled]="currentRole !== 'Trainer' "
                  [options]="editorOptions" [minlength]="5"
                    [maxlength]="4000" #editor="ngModel" required></quill-editor>
                  <div *ngIf="editor.errors && (editor.dirty || editor.touched)" class="alert alert-danger">
                    <div>Minimum 5 characters required</div>
                    <!-- <div [hidden]="!editorMod.errors.maxlength">Maximum 4000 characters allowed</div> -->
                  </div>

                  <div class="button_left" *ngIf="currentRole == 'Trainer'">
                    <button class="submit_notes" [disabled]="!editorForm.valid" (click)="submit(notes)">Submit</button>
                  </div>
                </form>
              </mat-card>
            </div>
            <div class="data_not_available" *ngIf="!showContent">
              <!-- {{calls?.msg}} -->
              {{callValidationMessage}}
            </div>
          </mat-tab>
        </mat-tab-group>


      </div>
    </div>
    <div class="no_data_available" *ngIf="intialNocallsFound">
      No Data Available
    </div>
  </div>


</div>
