ngx-cc-calls-list {
  //  change
  .nameDiv {
    background: white;
    margin-bottom: 16px;
    padding: 12px;
    border-radius: 6px;
    color: #282424;
    font-size: 13px;
    font-weight: 600;
    p {
      margin: 0;
      text-transform: uppercase;
      display: flex;
      padding-bottom: 6px;
      &:last-child {
        padding-bottom: 0;
      }
      span {
        padding-left: 16px;
      }
      i {
        // color: #507bfc;
        color: var(--colorIcons);
      }
    }
    .lerner {
      padding-left: 13px;
    }
  }
  .bg1{
    background: transparent;
  }
  // ===============================
  .mat-tab-body {
     display: contents !important;
  }
  .data_not_available{
    background: #FFF;
    color: #000;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 6px;
  }
  .mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    margin-right: 10px;
  }
  .badge_container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    color: #7c7575;
    span{
      // position: absolute;
      right: 0;
      // background: #507bfc;
      // color: #FFF;
      height: 25px;
      width: 25px;
      z-index: 10;
      border-radius: 50%;
      font-size: 11px;
      text-align: center;
      line-height: 25px;
    }
  }
  .mat-tab-body-wrapper{
    display: block !important;
  }
  .mat-content{
    height: 100%;
  }
//       .viewFeedBtn{
//           width: auto;
//           padding: 10px 20px;
//           background: #5680FC;
//           border: none;
//           border-radius: 25px;
//           color: #fff;
//           font-size: 16px;
//           box-shadow: 1px 5px 4px #c5c9f8;
//           cursor: pointer;
//       }

//       .tablerow{
//           height: 60px !important;
//           text-align: center !important;
//           font-size: 16px !important;
//       }

//       .tablerow:nth-child(even){
//           background: #f3f2f2;
//       }



.buttonInCenter{
  display: flex;
}

.mat_field{
  width: 100%;
  font-size: 1vw;
}

.downloadbtn{
  // background: #507bfc;
  border: none;
  font-size: 20px;
  // color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 0;
  /* margin: auto; */
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  // -webkit-box-shadow: 4px 7px 16px 0 #0796d685;
  // box-shadow: 4px 7px 16px 0 #0796d685;
  background-color: #fff;
  color: var(--colorIcons);
  border: 1px solid var(--colorIcons);
}
  // .header {
  //   text-align: left;
  //   display: grid;
  //   width: 100%;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   align-items: center;
  //   margin-left: 25px;

  //   p{
  //     margin: 0;
  //     font-size: 18px;
  //     line-height: 25px;
  //     color: #595959;
  //   }
  // }
  .coursdetail {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 30px;

    .callList{
      // background: #fff;
      // // border-radius: 6px;
      // box-shadow: 8px 5px 12px -9px #888;
    }
    .vertical-menu{
      margin-top: 5px;
    }
      .vertical-menu .call_list {
        color: black;
        display: block;
        background: #fff;
        border-radius: 5px;
        padding: 8px 12px;
        // border-left: 4px solid #507bfc;
        border-left: 4px solid var(--colorBgbtn);
        margin-bottom: 6px;
        text-decoration: none;
        text-align: left;
        min-height: 50px;
        border-bottom: 0.1px solid #eee;
        cursor: pointer;
        .caller_content{
          display: grid;
          // grid-template-columns: 2fr 1fr;
          align-items: center;
          .left_content .title{
            margin: 0;
            line-height: 24px;
          }
          .left_content .date{
            font-size: 13px;
            margin: 0;
            line-height: 18px;
            font-weight: 500;
            span {
              font-size: 11px;
              font-weight: 400;
            }
          }
          .datetime{
            font-size: 12px;
            text-align: right;
            p{
              margin: 0;
              line-height: 20px;
            }
          }

      }

      .vertical-menu .call_list:hover {
        // background-color: #ccc; /* Dark grey background on mouse-over */
        color: black;
        }
      }

      .vertical-menu .call_list.active {
        // background-color: #507bfc;
        // background-color: #507bfc;
        // color: white;
        background: var(--colorBgbtn);
        color: var(--colorBtnTxt);
        // -webkit-box-shadow: 1px 2px 6px #b4abab;
        // box-shadow: 1px 2px 6px #b4abab;
        border: none;
        }

    .mat-tab-label-active {
      // background: #507bfc !important;
      // color: #fff !important;
      background: var(--colorCommon) !important;
      color: #fff !important;
    }

    .mat-tab-body {
    //   margin-top: 35px !important;
      margin-bottom: 35px !important;
    }

    .mat-tab-header {
      // width: 40% !important;
      // margin: auto !important;
    }

    .mat-tab-header-pagination {
      display: none !important;
    }

    .mat-tab-label {
      width: 100%;
      // background: #fff;
      // border: 1px solid #507bfc;
      font-size: 15px;
      height: 40px;
      // color: #507bfc;
      opacity: 1 !important;
      text-transform: uppercase;
      background: #fff;
      color: var(--colorCommon);
      border: 1px solid var(--colorCommon);
    }

    .mat-tab-label:first-child {
      border-bottom-left-radius: 25px !important;
      border-top-left-radius: 25px !important;
    }

    .mat-tab-label:last-child {
      border-bottom-right-radius: 25px !important;
      border-top-right-radius: 25px !important;
    }

    .mat-tab-group {
      width: 100% !important;
      margin: auto;
    }

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      visibility: hidden !important;
    }

    .mat-tab-header,
    .mat-tab-nav-bar {
      border: none !important;
    }

    .ttt-backIcon {
      width: 40px;
      height: 40px;
      margin: 0;
      border-radius: 50%;
      color: #507bfc;
      background: transparent;
      border: 2px solid #507bfc;
      text-align: center;
      font-size: 20px;
      line-height: 36px;
    }

    .ttt-mattabs {
      width: 100%;
      margin: auto;
      // margin-top: 30px;
    }
  }

  .editorCard{
    margin-top: 15px;
  }

  .ql-container {
    font-family: "Open sans";
    height: 300px;
  }

  .submit_notes{
    padding: 8px 40px;
    border: none;
    border-radius: 30px;
    background: #507BFC;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
  }

  .button_left{
    text-align: center;
    margin-top: 10px;
  }

  .mat-expansion-panel{
    box-shadow: unset;
    background: transparent;
  }
  .mat-expansion-panel-header{
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #EEE;
    padding: 0 12px !important;
    font-size: 14px;
  }
  .mat-expansion-panel-body{
      padding: unset;
  }
  .mat-expansion-panel{
    padding: unset;
    background: transparent;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: unset;
  }
  .mat-expansion-panel-header.mat-expanded:hover{
    background: rgb(255, 255, 255);
  }
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background: rgb(255, 255, 255);
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background: rgb(255, 255, 255);
  }
  .mat-expansion-panel-spacing{
    margin: 0;
  }
  .no_calls_available{
    background: #FFF;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  .no_data_available{
    align-items: center;
    /* text-align: center; */
    height: 200px;
    background: #FFF;
    display: flex;
    justify-content: center;
    color: #000;
    border-radius: 10px;
  }
}
