<!-- <script src='./HelloWidget.js' type='text/javascript'></script> -->

<!-- specify the custom widget in the embed code copied from kPoint web page -->
<!-- <div data-video-host='showcase.kpoint.com'
      data-kvideo-id='gcc-1b568768-ad89-4d6c-b1aa-ecb0958617b4'
      data-video-src='https://showcase.kpoint.com/kapsule/gcc-1b568768-ad89-4d6c-b1aa-ecb0958617b4/v3/embedded'
      data-host-url='https://showcase.kpoint.com'
      data-player="kPlayer"
      data-params='{ add-widgets: ["hello"],
                    add-config: {"hello": {enabled: 1}}}'
></div> -->
<!-- <div data-video-host='{{kPointObj?.host}}'
      data-kvideo-id='{{kPointObj?.id}}'
      data-video-src='{{kPointObj?.src}}'
      data-host-url='{{kPointObj?.url}}'
      data-player="kPlayer"
      data-params='{{kPointObj?.params}}'

></div> -->
<div class="kpointcss" *ngIf="kpplayerflag">
      <div #kpplayer></div>
</div>
