.stepper-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: #8f9bb3;
  .steps {
    .step-index {
      width: 20px;
      height: 20px;
      display: flex;
      border-width: 2px;
      border-radius: 50%;
      border-style: solid;
      border-color: #e4e9f2;
      align-items: center;
      justify-content: center;
      .number {
        font-size: 11px;
      }
      .circle {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background: #c8c7c7;
        border: 4px solid #ffffff;
      }
    }
  }
  .joinner {
    height: 2px;
    margin: 1rem;
    flex: auto;
    background-color: #edf1f7;
  }
  .inner-step:last-child {
    .joinner {
      display: none;
    }
  }
}
.vertical {
  margin-right: 10px;
  flex-direction: column;
  .joinner {
    width: 2px;
    height: 100%;
    margin: 0 9px;
  }
}
.horizontal {
  margin-bottom: 10px;
  .inner-step {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.select-step {
  .steps {
    .step-index {
      border-color: #429af6;
      .circle {
        background: #429af6;
      }
    }
  }
  .joinner {
    background-color: #429af6;
  }
}
