<div class="chatContainer">
    <!-- [style.height.px]="myInnerHeight"-->  
    <div class="chatContent" [style.height.px]="myInnerHeight" [ngClass]="{'chatScreen':_videoworking == false, 'col-md-6 chatScreen':_videoworking == true}">
      <div class="chatHeadr212">
        <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button>
        <button class="callbtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking"><i class="fas fa-phone"></i></button>
        <button class="callbtn marg0" (click)="OpenInviationPopup()" *ngIf="!_videoworking"><i class="fas fa-video"></i></button>
      </div>
      <!-- <div class="" *ngFor="let item of chatboxlist" >
          <div *ngIf="item.userid != currentuserid"  class="row col-md-12 justify-content-start">
            <div class="col-md-2 alignItmcenter " >
                <img [src]="item.profilePic" class="profileImg">
            </div>
            <div class="col-md-8">
              <div class="message receiver">{{item.message}}</div>
              <div class="timeOfMsg">{{item.datetime | date:'HH:mm'}}</div>
            </div>
            </div>
            <div *ngIf="item.userid == currentuserid" class="row col-md-12 justify-content-end">
                <div class="col-md-8">
                    <div class="message sender">{{item.message}}</div>
                    <div class="timeOfMsg2">{{item.datetime | date:'HH:mm'}}</div>
                  </div>
                  <div class="col-md-2 alignItmcenter">
                      <img [src]="item.profilePic" class="profileImg">
                  </div>
            </div>
          </div> -->
      <div class="chat" #scrollMe [style.height.px]="chatboxHeight">
        <div *ngIf="chatInit">
          <div *ngFor="let chat of data.messages" class="p16">
            <div class="d-flex justify-content-start mb-4" *ngIf="chat?.fromUserId != UserId">
              <div class="img_cont_msg">
                <img [src]="chat?.friendProfilePic" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer">
                {{chat?.message}}
                <span class="msg_time">{{chat?.datetime | date:"hh:mma"}}</span>
              </div>
            </div>
            <div class="d-flex justify-content-end mb-4" *ngIf="chat?.fromUserId == UserId">
              <div class="msg_cotainer_send">
                {{chat?.message}}
                <span class="msg_time_send">{{chat?.datetime | date:"HH:mm"}}</span>
              </div>
              <div class="img_cont_msg">
                <img [src]="chat?.userProfilePic" class="rounded-circle user_img_msg">
              </div>
            </div>
          </div>
          <div *ngIf="data.messages.length == 0">
            <div class="a-E Eg">
              <div class="hN soT5xd">
                <!-- <div class="kgp9rc ebeE0d">
                    <div class="qJS6W W4rVif"></div>
                  </div> -->
                <i class="fa fa-comment text-secondary iconsize8em" aria-hidden="true"></i>
                <div class="Ziild">
                  <div class="Cb5AFb mopgBe">Start a conversation with
                    <strong>{{data.selectedFriendName}}</strong>!</div>
                  <!-- <div class="GM4qDf">Enter invite message</div> -->
                </div>
                <div class="ZrxcBe Y6eeve" role="alert"></div>
                <!-- <button class="btn btn-warning" (click)="inviteuser(UserId,data.selectedFriendId)">Send Invite</button> -->
              </div>
            </div>
          </div>
          <!--Send Invitation to new user-->
          <!-- <div *ngIf="data.invite && !chatUser.online" class="p16">
            <div class="a-E Eg">
              <div class="hN soT5xd">
                <i class="fa fa-user text-secondary iconsize8em" aria-hidden="true"></i>
                <div class="Ziild">
                  <div class="Cb5AFb mopgBe">Start a conversation with
                    <strong>{{data.selectedFriendName}}</strong>!</div>
                </div>
                <div class="ZrxcBe Y6eeve" role="alert"></div>
                <button class="btn btn-warning" (click)="inviteuser(UserId,data.selectedFriendId)">Send
                  Invite</button>
              </div>
            </div>
          </div> -->
          <!--Accpet and Reject Invitation from user-->
          <!-- <div *ngIf="chatUser.accepted === 0 && chatUser.invited === 0 && chatUser.rejected === 0" class="p16">
            <div class="a-E Eg">
              <div class="hN soT5xd">
                <i class="fa fa-comments text-secondary iconsize8em" aria-hidden="true"></i>
                <div class="Ziild">
                  <div class="Cb5AFb mopgBe">Invitation!</div>
                  <div class="GM4qDf">You'll be able to chat with
                    <strong>{{data.selectedFriendName}}</strong> once your invitation has been accepted.
                  </div>
                </div>
                <div class="ZrxcBe Y6eeve" role="alert"></div>
                <button id="accepted" class="btn btn-success mR16"
                  (click)="inviteresponse(chatUser.userid,1,0)">Accept</button>
                <button id="rejected" class="btn btn-danger"
                  (click)="inviteresponse(chatUser.userid,0,1)">Reject</button>
              </div>
            </div>
  
  
          </div> -->
  
          <!-- <div *ngIf="chatUser.invited === 1 && chatUser.accepted === 0 && chatUser.rejected === 0" class="p16">
            <div class="a-E Eg">
              <div class="hN soT5xd">
                <i class="fa fa-envelope text-secondary iconsize8em" aria-hidden="true"></i>
                <div class="Ziild">
                  <div class="Cb5AFb mopgBe">Invite Pending!</div>
                  <div class="GM4qDf">You'll be able to chat with
                    <strong>{{data.selectedFriendName}}</strong> once your invitation has been accepted.
                  </div>
                </div>
                <div class="ZrxcBe Y6eeve" role="alert"></div>
              </div>
            </div>
            <div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="row chatRow justify-content-start">
        <div class="col-md-2 alignItmcenter ">
            <img src="./assets/images/eva.png" class="profileImg">
        </div>
        <div class="col-md-8">
          <div class="message receiver">Hi, Did you confirm the course for “Fly and Catch Program”</div>
          <div class="timeOfMsg">08:52 AM </div>
        </div>
      </div>
  
        <div class="row chatRow justify-content-end">
            <div class="col-md-8">
              <div class="message sender">Hi, Did you confirm the course for “Fly and Catch Program”</div>
              <div class="timeOfMsg2">08:52 AM </div>
            </div>
            <div class="col-md-2 alignItmcenter">
                <img src="./assets/images/eva.png" class="profileImg">
            </div>
      </div> -->
  
  
      <div class="chat-Screen-Footer">
        <div class="row-height-Footer">
          <textarea rows="1" cols="5" class="typeHereInput" placeholder="Type your message here"
            [(ngModel)]="message" (keyup.enter)="sendChatMessage($event,message)"></textarea>
          <button class="btn-chat-send" (click)="sendChatMessage($event,message)"><i
              class="fas fa-paper-plane"></i></button>
        </div>
      </div>
  
    </div>
    <div class="col-md-6 chatList" [style.height.px]="myInnerHeight" *ngIf="_videoworking">
      <iframe style="width:100%;display: block;" [style.height.px]="myInnerHeight" [src]="bbburl" *ngIf="bbburl" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div *ngIf="visibleSendModal">
      <ngx-modal-viewer [modalInfo]='modalSendInvitation' (acceptEvent)="SendInviation($event)" (rejectEvent)="CloseModal($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
    </div>
    <div *ngIf="visibleReceiveModal">
        <ngx-modal-viewer [modalInfo]='modalReceiveInvitation' (acceptEvent)="AcceptInvitation($event)" (rejectEvent)="AcceptInvitation($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
      </div>
      <div *ngIf="visibleConnectingModal">
          <ngx-modal-viewer [modalInfo]='modalConnecting' (rejectEvent)="CloseModal($event)"></ngx-modal-viewer>
        </div>
        <div *ngIf="visibleRejectModal">
            <ngx-modal-viewer [modalInfo]='modalRejectMessage' (acceptEvent)="CloseModal($event)"></ngx-modal-viewer>
          </div>
          <div *ngIf="visibleEndedModal">
              <ngx-modal-viewer [modalInfo]='modalEndedMessage' (acceptEvent)="EndedMeeting()" (rejectEvent)="CloseModal($event)"></ngx-modal-viewer>
            </div>
            <div *ngIf="visibleEndModal">
                <ngx-modal-viewer [modalInfo]='modalEndMessage' (acceptEvent)="CloseModal($event)" ></ngx-modal-viewer>
              </div>