<!-- <p>
  cc-observation works!
</p> -->
<div class="observationtable">
  <div class="mytable">
    <table>
      <thead>
        <tr>
          <th class="tHeadSize">Spectr</th>
          <th class="tHeadSize">Competencies</th>
          <th class="tHeadSize">Evaluation Areas</th>
          <th class="tHeadSize">Score</th>
          <!-- <th scope="col" class="tHeadSize">Remarks</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obs of obsquestion; let i = index" class="evenoddRows">
          <td class="justifyContent">{{obs.spectrNames}}</td>
          <td class="justifyContent">{{obs.compNames}}</td>
          <td class="justifyContent">{{obs.evalAreaNames}}</td>
          <td class="scoreTd">
              <star-rating [starType]="'svg'" [showHalfStars]="true" [getHalfStarClass]="getHalfStarClass" [numOfStars]="4"
              staticColor="goldenyellow" [rating]="obs.score" (ratingChange)="onRateChange($event, i)"></star-rating> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button_container">
      <button type="button" class="submitbtn" (click)="submit(obsquestion)">Submit</button>
    </div>
</div>
