.observationtable {
    .rating.color-goldenyellow .star-container .star {
        width: 30px;
        height: 30px;
        margin: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .rating {
        outline: none;
    }
    .mytable {
        margin: 25px;
        background: #fff;
        // padding: 15px;
        border-radius: 7px;
        table {
            color: #555454;
            width: 100%;
            tr {
                height: 80px;
                font-size: 1vw;
            }
        }
    }
    .button_container {
        text-align: right;
        padding-right: 25px;
    }
    .submitbtn {
        padding: 0 70px;
        height: 35px;
        border: none;
        border-radius: 30px;
        background: #2196f3;
        color: #fff;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
    .tHeadSize {
        padding-left: 10px;
        text-align: left;
        &:last-child {
            text-align: center;
        }
    }
    .rating {
        justify-content: center !important;
        outline: none;
    }
    .justifyContent {
        padding-left: 10px;
        padding-right: 10px;
    }
    .evenoddRows:nth-child(odd) {
        background: #eeeff0;
        // border-top: 1px solid #eee;
    }
}