<table class="table">
  <thead>
    <tr>

      <th *ngFor="let item of label" [ngSwitch]="item['componentType']">
        <ngx-table-html [text]="item['labelname']" *ngSwitchCase="'htmlString'"></ngx-table-html>
        <ng-container *ngSwitchCase="'checkbox'">
          <ngx-table-checkbox id="select_All" [isChecked]="checkAllFlag" *ngIf="allCheck" (clickToCheck)="selectAll($event)"></ngx-table-checkbox>
          <ngx-table-text [text]="item['labelname']" *ngIf="!allCheck"></ngx-table-text>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">

           </ng-container>
        <ng-container *ngSwitchDefault>
          {{ item['labelname'] }}
        </ng-container>

      </th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let item of tableData; let i = index">
      <td *ngFor="let thd of label"  [ngSwitch]="thd?.componentType">
        <ngx-table-html [text]="item[thd.bindingProperty]" *ngSwitchCase="'htmlString'"></ngx-table-html>
        <ngx-table-text [text]="item[thd.bindingProperty]" *ngSwitchCase="'text'"></ngx-table-text>
        <ngx-table-checkbox (clickToCheck)="checkChange($event,item, thd.bindingProperty)" [isChecked]="item[thd.bindingProperty]"
           *ngSwitchCase="'checkbox'"></ngx-table-checkbox>
          <ngx-table-image [imgSrc]="item[thd.bindingProperty]" *ngSwitchCase="'image'" ></ngx-table-image>
          <ng-container *ngSwitchCase="'button'">
            <ngx-table-button (buttonClicked)="passEventToParent('buttonClicked', item)" [labelText]="thd?.buttonText" *ngIf="item?.actionButton" ></ngx-table-button>
          </ng-container>

          <ngx-table-slide-toggle (clickToCheck)="toggelChange($event,item)" [isChecked]="item[thd.bindingProperty]" *ngSwitchCase="'slide-toggle'" ></ngx-table-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>
