<!-- <div class="signUpContainer">
  <div class="row divCol12">
	<div class="col-md-5 divCol5">
		<div class="oval ovalDiv">
			<p class="hello ovalContent">Hello!</p>
		</div>
	</div>
	<div class="col-md-7 divCol7">
		<form [formGroup]="signUpForm" class="signUpForm" (ngSubmit)="onSubmit()" >
			<div class="please-fill-the-deta marginBottom30">
				<h4>Please fill the details</h4>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
						<input type="text" [(ngModel)]="formData.firstName" formControlName="firstName" matInput placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}" />

						<mat-error *ngIf= "submitted && f.firstName.errors">
              <mat-error *ngIf="f.firstName.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> First Name is required</mat-error>
              <mat-error *ngIf="f.firstName.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> First Name must be at least 3 characters</mat-error>
              <mat-error *ngIf="f.firstName.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Only alphabets allowed</mat-error>
						</mat-error>
						</mat-form-field>
				</div>


				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
						<input type="text" [(ngModel)]="formData.lastName" formControlName="lastName" matInput placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}" />

						<mat-error *ngIf= "submitted && f.lastName.errors">
              <mat-error *ngIf="f.lastName.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Last Name is required</mat-error>
              <mat-error *ngIf="f.lastName.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Last Name must be at least 3 characters</mat-error>
              <mat-error *ngIf="f.lastName.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Only alphabets allowed</mat-error>
            </mat-error>
						</mat-form-field>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
					    <input type="tel" matInput [(ngModel)]="formData.phone_no"  placeholder="Phone Number" maxlength="10" formControlName="phone_no"  [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }" >
						<mat-error *ngIf="submitted && f.phone_no.errors">
							<mat-error *ngIf="f.phone_no.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Phone number is required</mat-error>
              <mat-error *ngIf="f.phone_no.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please put valid contact number</mat-error>

						</mat-error>
					</mat-form-field>
				</div>

        <div class="col-md-6 form-group">
					<mat-form-field class="width100">
              <input matInput placeholder="Email"   [email]="true"
              [(ngModel)]="formData.email"  formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
						<mat-error *ngIf="submitted && f.email.errors">
							<mat-error *ngIf="f.email.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email is required</mat-error>
              <mat-error *ngIf="f.email.errors.email"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email must be a valid email address</mat-error>
              <mat-error *ngIf="f.email.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Email format should be
                <b>joe@abc.com</b></mat-error>
						</mat-error>
					</mat-form-field>
				</div>
      </div>

			<div class="row">
				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
            <input [type]="hide1 ? 'password' : 'text'" type="password" matInput placeholder="Password"
            formControlName="password" [(ngModel)]="formData.password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
             <mat-icon matSuffix class="matToggelIcon" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
						<mat-error *ngIf="submitted && f.password.errors">
                            <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                            <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                        </mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Confirm Password"
             (input)="onInput($event.target.value)" formControlName="confirm_pass" [(ngModel)]="formData.confirm_pass" [ngClass]="{ 'is-invalid': submitted && f.confirm_pass.errors }" [errorStateMatcher]="matcher">
             <mat-icon matSuffix class="matToggelIcon" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             <mat-error *ngIf="submitted && f.confirm_pass.errors">
							<mat-error *ngIf="f.confirm_pass.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>

                            <mat-error *ngIf="f.confirm_pass.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
						</mat-error>
						<mat-error *ngIf="passWrong">
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password does not match
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class=" ">
				<p>Already have an account ?<span class="already-have-an-acco" (click)="goToLogin()"> Sign In</span></p>
			</div>

			<div class=" mt-5">
  				<button class="sign-up signUpBtn">Sign Up</button>
  			</div>

		</form>
	</div>
  </div>
</div> -->
<div class="signUpContainerNew">
  <div class="left-container">
    <div class="circle_shape">
			<p class="circle_shape_text">Hello!</p>
		</div>
  </div>
  <div class="right-container">
    		<form [formGroup]="signUpForm" class="signUpForm" (ngSubmit)="onSubmit()" >
			<div class="please-fill-the-deta marginBottom30">
				<h4>Please fill the details</h4>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
						<input type="text" [(ngModel)]="formData.firstName" formControlName="firstName" matInput placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}" />

						<mat-error *ngIf= "submitted && f.firstName.errors">
              <mat-error *ngIf="f.firstName.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> First Name is required</mat-error>
              <mat-error *ngIf="f.firstName.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> First Name must be at least 3 characters</mat-error>
              <mat-error *ngIf="f.firstName.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Only alphabets allowed</mat-error>
						</mat-error>
						</mat-form-field>
				</div>


				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
						<input type="text" [(ngModel)]="formData.lastName" formControlName="lastName" matInput placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}" />

						<mat-error *ngIf= "submitted && f.lastName.errors">
              <mat-error *ngIf="f.lastName.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Last Name is required</mat-error>
              <mat-error *ngIf="f.lastName.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Last Name must be at least 3 characters</mat-error>
              <mat-error *ngIf="f.lastName.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Only alphabets allowed</mat-error>
            </mat-error>
						</mat-form-field>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
					    <input type="tel" matInput [(ngModel)]="formData.phone_no"  placeholder="Phone Number" maxlength="10" formControlName="phone_no"  [ngClass]="{ 'is-invalid': submitted && f.phone_no.errors }" >
						<mat-error *ngIf="submitted && f.phone_no.errors">
							<mat-error *ngIf="f.phone_no.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Phone number is required</mat-error>
              <mat-error *ngIf="f.phone_no.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please put valid contact number</mat-error>
              <!-- <mat-error *ngIf="f.phone_no.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please put valid contact number</mat-error> -->
						</mat-error>
					</mat-form-field>
				</div>
				<!-- <div class="col-md-6 form-group">
					<mat-form-field class="width100">
						<input type="tel" matInput placeholder="Alternate Phone Number" maxlength="10" formControlName="alternate_no" [ngClass]= "{ 'is-invalid': submitted && f.alternate_no.errors }" >
						<mat-error *ngIf="submitted && f.alternate_no.errors">
							<mat-error *ngIf="f.alternate_no.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please put valid contact number</mat-error>
						</mat-error>
					</mat-form-field>
				</div> -->
        <div class="col-md-6 form-group">
					<mat-form-field class="width100">
              <input matInput placeholder="Email"   [email]="true"
              [(ngModel)]="formData.email"  formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
						<mat-error *ngIf="submitted && f.email.errors">
							<mat-error *ngIf="f.email.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email is required</mat-error>
              <mat-error *ngIf="f.email.errors.email"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email must be a valid email address</mat-error>
              <mat-error *ngIf="f.email.errors.pattern"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Email format should be
                <b>joe@abc.com</b></mat-error>
						</mat-error>
					</mat-form-field>
				</div>
      </div>

			<div class="row">
				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
            <input [type]="hide1 ? 'password' : 'text'" type="password" matInput placeholder="Password"
            formControlName="password" [(ngModel)]="formData.password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
             <mat-icon matSuffix class="matToggelIcon" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
						<mat-error *ngIf="submitted && f.password.errors">
                            <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                            <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                        </mat-error>
					</mat-form-field>
				</div>
				<div class="col-md-6 form-group">
					<mat-form-field class="width100">
            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Confirm Password"
             (input)="onInput($event.target.value)" formControlName="confirm_pass" [(ngModel)]="formData.confirm_pass" [ngClass]="{ 'is-invalid': submitted && f.confirm_pass.errors }" [errorStateMatcher]="matcher">
             <mat-icon matSuffix class="matToggelIcon" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             <mat-error *ngIf="submitted && f.confirm_pass.errors">
							<mat-error *ngIf="f.confirm_pass.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                            <!-- <mat-error *ngIf="passWrong">Password does not match</mat-error> -->
                            <mat-error *ngIf="f.confirm_pass.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
						</mat-error>
						<mat-error *ngIf="passWrong">
								<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password does not match
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class=" ">
				<p>Already have an account ?<span class="already-have-an-acco" (click)="goToLogin()"> Sign In</span></p>
			</div>

			<div class=" mt-5">
  				<button class="sign-up signUpBtn">Sign Up</button>
  			</div>

		</form>
  </div>
</div>
