// .signUpContainer {
//   min-height: 100vh;
//   box-sizing: border-box;
//   overflow: auto;
//   .divCol12 {
//     min-height: 100%;
//     box-sizing: border-box;
//     width: 100%;
//     margin: 0 !important;
//   }

//   .divCol5 {
//     background-color: #f0f4ff;
//     min-height: 100%;
//     padding: 25px !important;
//     box-sizing: border-box;
//   }

//   .divCol7 {
//     box-sizing: border-box;
//     background-image: Url("../assets/pageBackground/Group7.png");
//     background-origin: border-box;
//     background-repeat: no-repeat;
//     min-height: 100%;
//     padding: 0 !important;
//     background-size: cover;
//   }

//   .oval {
//     /*height: 276px;
//     width: 276px;
//     background-color: #507BFC;
//     box-shadow: 0 10px 25px 0 rgba(80,123,252,0.5);
//     border-radius: 50%;
//     margin: 0 auto;
//     padding: 90px 50px;*/
//     height: 276px;
//     width: 276px;
//     // background-color: #507bfc;
//     background-color: var(--colorBgbtn);
//     color: var(--colorBtnTxt);
//     box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//     border-radius: 50%;
//     margin: 0 auto;
//     /*padding: 90px 50px;*/
//     position: relative;
//     top: 50%;
//     /* width: 100%; */
//     transform: translateY(-50%);
//     /* left: 2%; */
//     line-height: 6;
//   }

//   /*.ovalDiv{
//     position: relative;
//       margin: auto;
//       top: 28%;
//   }*/

//   .hello {
//     /*height: 72px;
//     width: 184px;
//     color: #FFFFFF;
//     font-family: "Roboto";
//     font-size: 60px;
//     font-weight: 300;
//     line-height: 94px;
//     text-align: center;
//     margin: 0;*/

//     /* height: 72px; */
//     /* width: 184px; */
//     // color: #ffffff;
//     font-family: "Open Sans", sans-serif;
//     font-size: 60px;
//     font-weight: 300;
//     /* line-height: 94px; */
//     text-align: center;
//     margin: 0;
//   }

//   .please-fill-the-deta {
//     height: 33px !important;
//     width: 100%;
//     color: #464646;
//     font-family: "Roboto" !important;
//     line-height: 33px;
//   }

//   .signUpForm {
//     // padding: 40vh;
//     padding: 15% 20%;
//     box-sizing: border-box;
//   }

//   .width100 {
//     width: 100%;
//   }

//   .already-have-an-acco {
//     height: 19px;
//     width: 215px;
//     // color: #507bfc;
//     color: var(--colorBgbtn);
//     font-family: "Roboto";
//     font-size: 14px;
//     font-weight: 600;
//     line-height: 19px;
//     cursor: pointer;
//   }

//   .sign-up {
//     // font-family: "Roboto", sans-serif;
//     font-size: 17px;
//     line-height: 19px;
//     text-align: center;
//   }

//   .signUpBtn {
//     width: 100%;
//     border: none;
//     height: 45px;
//     // background-color: #507bfc;
//     // color: #fff;
//     background-color: var(--colorBgbtn);
//     color: var(--colorBtnTxt);
//     border: 1px solid var(--colorBgbtn);
//     box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
//     border-radius: 100px;
//     cursor: pointer;
//   }
//   .matToggelIcon {
//     font-size: 1.2rem;
//     // color: #507bfc;
//     color: var(--colorIcons);
//   }
//   // .marginTop46 {
//   //   margin-top: 46px;
//   // }

//   // .marginTop40 {
//   //   margin-top: 40px;
//   // }

//   .marginBottom30 {
//     margin-bottom: 30px;
//   }

//   // @media (min-width: 320px) {
//   //   .signUpContainer {
//   //     height: 50vh;
//   //   }

//   //   /*.oval {
//   //     height: 180px;
//   //     width: 180px;
//   //     background-color: #507BFC;
//   //     -webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     border-radius: 50%;
//   //     margin: auto;
//   //     padding: 45px 5px;
//   //     // margin-top: 10%;
//   //   }*/

//   //   .hello {
//   //     font-size: 45px;
//   //   }

//   //   .signUpForm {
//   //     // padding: 40vh;
//   //     padding: 0px !important;
//   //   }

//   //   // .marginTop46 {
//   //   //   margin-top: 35;
//   //   // }

//   //   // .marginTop40 {
//   //   //   margin-top: 0px;
//   //   //   padding: 0px 16px;
//   //   // }
//   // }

//   // @media (min-width: 420px) {
//   //   .signUpContainer {
//   //     height: 50vh;
//   //   }

//   //   /*.oval {
//   //     height: 180px;
//   //     width: 180px;
//   //     margin-top: 20%;
//   //   }*/

//   //   .please-fill-the-deta {
//   //     width: 100%;
//   //     margin-top: 10px;
//   //   }

//   //   .signUpForm {
//   //     // padding: 40vh;
//   //     padding: 0px !important;
//   //   }

//   //   .signUpBtn {
//   //     // border: none;
//   //     padding: 10px 35px;
//   //     width: 150px;
//   //   }

//   //   // .marginTop46 {
//   //   //   margin-top: 35px;
//   //   // }

//   //   // .marginTop40 {
//   //   //   margin-top: 0px;
//   //   //   padding: 0px 16px;
//   //   // }
//   // }

//   // @media (min-width: 520px) {
//   //   .signUpContainer {
//   //     height: 50vh;
//   //   }

//   //   /*.oval {
//   //     height: 180px;
//   //     width: 180px;
//   //     background-color: #507BFC;
//   //     -webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     border-radius: 50%;
//   //     margin: auto;
//   //     padding: 45px 5px;
//   //     // margin-top: 10%;
//   //   }*/

//   //   .hello {
//   //     font-size: 45px;
//   //   }

//   //   .please-fill-the-deta {
//   //     width: 100%;
//   //     margin-top: 10px;
//   //   }

//   //   .signUpForm {
//   //     // padding: 40vh;
//   //     padding: 0px !important;
//   //   }

//   //   .signUpBtn {
//   //     padding: 10px 35px;
//   //   }

//   //   // .marginTop46 {
//   //   //   margin-top: 35;
//   //   // }

//   //   // .marginTop40 {
//   //   //   margin-top: 0px;
//   //   //   padding: 0px 16px;
//   //   // }
//   // }

//   // @media (min-width: 768px) {
//   //   .signUpContainer {
//   //     height: 100vh;
//   //   }

//   //   /*.oval {
//   //     height: 180px;
//   //     width: 180px;
//   //     background-color: #507BFC;
//   //     -webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     border-radius: 50%;
//   //     margin: auto;
//   //     padding: 45px 5px;
//   //     // margin-top: 10%;
//   //   }*/

//   //   .hello {
//   //     font-size: 45px;
//   //   }

//   //   .please-fill-the-deta {
//   //     width: 100%;
//   //     margin-top: 10px;
//   //   }

//   //   .signUpForm {
//   //     padding: 16px !important;
//   //     margin-top: 30%;
//   //   }

//   //   .signUpBtn {
//   //     // background: transparent;
//   //     // border: none;
//   //     padding: 10px 35px;
//   //   }

//   //   // .marginTop46 {
//   //   //   margin-top: 35;
//   //   // }

//   //   // .marginTop40 {
//   //   //   margin-top: 0px;
//   //   //   padding: 0px 16px;
//   //   // }
//   // }

//   // @media (min-width: 842px) {
//   //   .signUpContainer {
//   //     height: 100vh;
//   //   }

//   //   /*.oval {
//   //     height: 180px;
//   //     width: 180px;
//   //     background-color: #507BFC;
//   //     -webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     border-radius: 50%;
//   //     margin: auto;
//   //     padding: 45px 5px;
//   //     // margin-top: 10%;
//   //   }*/

//   //   .hello {
//   //     font-size: 45px;
//   //   }

//   //   .please-fill-the-deta {
//   //     width: 100%;
//   //     margin-top: 10px;
//   //   }

//   //   .signUpForm {
//   //     padding: 16px !important;
//   //     margin-top: 30%;
//   //   }

//   //   .signUpBtn {
//   //     // background: transparent;
//   //     // border: none;
//   //     padding: 10px 35px;
//   //   }

//   //   // .marginTop46 {
//   //   //   margin-top: 35;
//   //   // }

//   //   // .marginTop40 {
//   //   //   margin-top: 0px;
//   //   //   padding: 0px 16px;
//   //   // }
//   // }

//   // @media (min-width: 1024px) {
//   //   .signUpContainer {
//   //     height: 100vh;
//   //   }

//   //   /*.oval {
//   //     height: 276px;
//   //     width: 276px;
//   //     background-color: #507BFC;
//   //     -webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
//   //     border-radius: 50%;
//   //     margin: auto;
//   //     padding: 90px 45px;
//   //     // margin-top: 30%;
//   //   }*/

//   //   .hello {
//   //     font-size: 45px;
//   //   }

//   //   .please-fill-the-deta {
//   //     width: 100%;
//   //     margin-top: 10px;
//   //   }

//   //   .signUpForm {
//   //     padding: 100px !important;
//   //     margin-top: 5%;
//   //   }

//   //   .signUpBtn {
//   //     // background: transparent;
//   //     // border: none;
//   //     padding: 10px 35px;
//   //   }

//   //   // .marginTop46 {
//   //   //   margin-top: 35;
//   //   // }

//   //   // .marginTop40 {
//   //   //   margin-top: 0px;
//   //   //   padding: 0px 16px;
//   //   // }
//   // }
// }
.signUpContainerNew{
  height: 100%;
  display: flex;
  min-height: 100vh;
  .left-container{
    display: flex;
    // height: 100%;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    background-color: #F0F4FF;
    .circle_shape{
      display: flex;
    // height: 100%;
    align-items: center;
    justify-content: center;
      height: 276px;
      width: 276px;
      background-color: var(--colorBgbtn);
      color: var(--colorBtnTxt);
      box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
      border-radius: 50%;
      &_text {
       font-size: 60px;
        font-weight: 300;
      }
    }
  }
  .right-container{
    display: flex;
    // height: 100%;
    align-items: center;
    justify-content: center;
    flex-basis: 60%;
    background-image: Url("../assets/pageBackground/Group7.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    .please-fill-the-deta {
      height: 33px !important;
      width: 100%;
      color: #464646;
      font-family: "Roboto" !important;
      line-height: 33px;
    }

    .signUpForm {
      // padding: 40vh;
      // padding: 15% 20%;
      width: 70%;
      margin: 0 auto;
      box-sizing: border-box;
    }

    .width100 {
      width: 100%;
    }

    .already-have-an-acco {
      height: 19px;
      width: 215px;
      // color: #507bfc;
      color: var(--colorBgbtn);
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      cursor: pointer;
    }

    .signUpBtn {
      width: 40%;
      border: none;
      height: 45px;
      background-color: var(--colorBgbtn);
      color: var(--colorBtnTxt);
      border: 1px solid var(--colorBgbtn);
      box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
      border-radius: 100px;
      cursor: pointer;
    }
    .matToggelIcon {
      font-size: 1.2rem;
      cursor: pointer;
      // color: #507bfc;
      color: var(--colorIcons);
    }
  }
}
