<div class="welcomeContainer">
    <div class="row forgotdivCol12" [hidden]="">

      <div class="col-md-5 forgotdivCol5">
          <p class="mytext">Forgot your Password?</p>
          <!-- <p>We have emailed you a link to reset your password.</p> -->
      </div>


      <div class="col-md-7 forgotdivCol7"  >
          <div class="text-right logoDiv">
                <img [src] = "currentBrandData?.logo" class="companyLogo">
          </div>
        <form [formGroup]="forgotPwdForm" class="forgotPwdForm">

              <div class="col-md-12 form-group">
                <mat-hint class="pageno">1/3</mat-hint>
                  <div class="please-fill-the-deta col-md-12">
                      <h4>Enter your {{currentBrandData?.userNameTerm}}</h4>
                  </div>
                  <mat-form-field class="width100 col-md-12">
                      <input matInput placeholder=" {{currentBrandData?.userNameTerm}}" [(ngModel)]="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <mat-error *ngIf="submitted && f.email.errors">
                          <mat-error *ngIf="f.email.errors.required">
                              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                              {{currentBrandData?.userNameTerm}} is required
                          </mat-error>
                      </mat-error>
                  </mat-form-field>
              </div>



            <div class="btns">
                    <button class="nxtbtn resendbtn" (click)='goBack()'>Cancel</button>
                    <button class="nxt nxtbtn" (click)="onSubmit()">Next</button>
            </div>

      </form>
      </div>

  </div>


  </div>
