assessment-data{

    .NoDataDiv{
        position:fixed;
        top: 50%;
        left: 52%;
      }



      .backIcon{
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 50%;
        color: #008eff;
        background: transparent;
        border: 2px solid #008eff;
        text-align: center;
        font-size: 20px;
        line-height: 36px;
      }

    .titlePara{
        margin: 0;
        line-height: 40px;
        color: #615f5f;
        font-weight: 600;
        width: 100%;
    }

    .icoab{
        width: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        background: #f7a076;
        font-size: 20px;
        margin: auto 0;
        color: #fff;
        border-radius: 5px;
        margin-right: 20px;
    }


    .scrollable-table{
        width: 100% !important;
        overflow-x: scroll;
        height: 100%;
    }


    .scrollable-table::-webkit-scrollbar {
        width: 20px;
        height: 10px;
        scroll-margin-left: 10px;
    }
    .scrollable-table::-webkit-scrollbar-thumb {
        background: rgb(219, 219, 219);
        border-radius: 35px !important;
      }

    .scrollable-table::-webkit-scrollbar-track {
        display: none;
    }

    .assesstable{
      width: 200%;
        // width: 1200px !important;
        background: #fff;
        font-family: "open sans" !important;
        thead>tr>th:first-child{
            padding-left: 8px;
            // padding-bottom: 17px;
        }
    }
    // th.mat-header-cell {
    //     text-align: center !important;
    //     font-size: 16px !important;
    // }

    // .mat-cell {
    //     font-size: 16px !important;
    //     text-align: center !important;
    // }

    // .mat-paginator-navigation-previous {
    //     padding: 0;
    //     min-width: 0;
    //     width: 40px;
    //     border: 1px solid #507bfc !important;
    //     font-size: 0px;
    //     height: 40px;
    //     color: #507bfc !important;
    //     flex-shrink: 0;
    //     margin-left: -3px !important;
    //     line-height: 40px;
    //     border-bottom-left-radius: 8px !important;
    //     border-top-left-radius: 8px !important;
    //     border-bottom-right-radius: 0 !important;
    //     border-top-right-radius: 0 !important;
    //     outline: none !important;
    // }

    // .mat-paginator-navigation-next{
    //     padding: 0;
    //     min-width: 0;
    //     width: 40px;
    //     border: 1px solid #507bfc !important;
    //     font-size: 0px;
    //     height: 40px;
    //     color: #507bfc !important;
    //     flex-shrink: 0;
    //     margin-left: -1px !important;
    //     line-height: 40px;
    //     border-bottom-left-radius: 0px !important;
    //     border-top-left-radius: 0px !important;
    //     border-bottom-right-radius: 8px !important;
    //     border-top-right-radius: 8px !important;
    //     outline: none !important;
    // }

    // tr.mat-header-row {
    //     height: 80px;
    //     text-transform: uppercase;
    // }

    // .mat-tab-header-pagination-before, .mat-tab-header-rtl .mat-tab-header-pagination-after{
    //     visibility: hidden;
    // }

    // tr.mat-footer-row, tr.mat-row {
    //     height: 80px !important;
    // }

    // td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    //     padding: 0;
    //     border: none !important;
    // }

    // .mat-row:nth-child(odd) {
    //     background-color: #f3f2f2 !important;
    // }

    // .mat-paginator-container{
    //     padding: 0 45px !important;
    // }

    // .mat-paginator-range-label {
    //     font-size: 14px !important;
    //     color: #4b4a4a !important;
    // }

    // .icon1{
    //     width: 40px;
    //     height: 40px;
    //     font-size: 20px;
    //     border-radius: 50%;
    //     border: 1px solid #8c8888;
    //     line-height: 40px;
    //     color: #8c8888;
    //     text-align: center;
    //     margin: auto;
    // }

    // .present {
    //     border: 1px solid #57a81e;
    //     color: #57a81e;
    // }

    // .crd{
    //     background: #fff;
    //     padding: 0;
    //     border-radius: 10px;
    // }

    // .iBlk{
    //     text-align: center;
    //     margin: auto;
    //     padding: 0;
    // }

    // .rowsss:nth-child(even){
    // background: #4646460f;
    // }

    th{
        text-align: center;
        height: 50px;
        font-weight: 100;
        color: #4a4848;
        // border-left: 0.5px solid #e8e8e89c;
        }

        thead{
            text-transform: uppercase !important;
        }

        .rowData{
            text-align: center;
            font-size: 16px;
        }

        .rowData:nth-child(odd){
            text-align: center;
            font-size: 16px;
            background: #e8e8e89c;
        }

        tr{
            height: 80px !important;
            font-weight: 100;
            color: #4a4848 !important;
            font-size: 16px;

        }

    .rowsss{
        width: 100%;
        margin: auto;
        height: 80px;
        display: inline-flex;
        cursor: pointer;
    }

    .stickyrow{
        position: sticky !important;
    }

    .trainerheader{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        height: 60px;
        font-size: 20px;
        background: transparent;
        border-radius: 10px;
        width: 100%;
        padding: 0;
    }

    .backIcon{
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 50%;
        color: #008eff;
        background: transparent;
        border: 2px solid #008eff;
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        float: left;
      }



    }
