// .mainDiv{
//     padding: 2.25rem 2.25rem 0.75rem !important;
// }

.row-container{
    display: grid;
    grid-template-columns: 0fr 11fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    // grid-column-gap: 50px;
    grid-column-gap: 16px;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
}

.noDataTitle {
    margin: 0;
    font-size: 24px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_button{
    // background: transparent;
    background: #fff;
    // border: 1.5px solid #507BFC;
    border: 1px solid var(--colorIcons);
    width: 40px;
    // color: #507BFC;
    color: var(--colorIcons);
    height: 40px;
    // border-radius: 50%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.poll-headding{
    display: flex;
    align-items: center;
}

.pollrocket{
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 20px;
    // background: #507bfc;
    background: #fff;
    // color: #fff;\
    color: var(--colorIcons);
    border: 1px solid var(--colorIcons);
    border-radius: 6px;
    // cursor: pointer;
    // box-shadow: 2px 7px 18px 0 rgba(80, 123, 252, 0.5);
}

.polltitle{
    font-family: "open sans";
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 24px;
}

.polmarginbottom{
    margin-bottom: 30px;
}

.questions{
    font-family: "open sans";
    font-size: 32px;
    margin: 0 0 20px 0;
    line-height: 40px;
    text-align: justify;
}

.answers{
    text-align: center;
    padding: 20px;
    width: 50%;
}

.margBotm{
    margin-bottom: 10px;
}

.options123{
    width: 100%;
    border: none;
    height: 40px;
    // padding: 20px 0;
    margin: auto;
    font-size: 22px;
    border-radius: 15px;
    background-color: #ecf0fd;
    // color: #2196F3;
    color: var(--colorCommon);
}
.pollRow{
    width: 100%;
    margin: auto;
    margin-top: 12px;
}

.polMat{
    width: 100%;
    padding: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.12) !important;
    box-shadow: none;
    border-radius: 10px;
}
.active{
    width: 100%;
    border: none;
    height: 40px;
    font-size: 22px;
    border-radius: 15px;
    color: #ecf0fd;
    // background-color: #2196F3;
    background-color: var(--colorCommon);
}
button:focus {outline:0;}

.nextbtn{
    width: 400px;
    display: inline-flex;
    margin: auto;
}
.button-container{
    display: grid;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.nxt{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    // background: #2196F3;
    // color: #fff;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
}
.poll_ans_container{
    width: 40%;
    margin: 0 auto;
}
.poll-answer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    row-gap: 20px;
    align-content: flex-start;
}
// Inside Content Of progress bar
// .progress {
//     // width: 200px;
//     // height: 50px;
//     // border: 1px solid black;
//     border: 1px solid #3880ff;
//     border-radius: 5px;
//     position: relative;
//     width: 100%;
//     height: 30px;
//     margin: 20px 0;
//     color: #fff;
//     font-weight: 500;
//     font-size: 14px;
//     text-transform: capitalize;
//     .optionLabel {
//         // content: '\A';
//         position: absolute;
//         background: #3880ff;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         // width: 70%;
//         -webkit-animation: filler 2s ease-in-out;
//         -moz-animation: filler 2s ease-in-out;
//         animation: filler 2s ease-in-out;
//         // margin: 10px;
        
//         .option_text_label_left{
//             position: absolute;
//             left: 20px;
//             // text-transform: capitalize;
//             // color: #fff;
//             // font-weight: 500;
//             line-height: 30px;
//             // font-size: 14px;
//             opacity: 0;
      
//         }
//         .option_text_label_right{
//             position: absolute;
//             left: calc(100% + 10px);
//             color: red;
//             // font-weight: 500;
//             line-height: 30px;
//             opacity: 0;
//             // font-size: 14px;
          
//         }
//     }
//     .optionLabel_full{
//         position: absolute;
//         background: #3880ff;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         // opacity: 0;
//         display: flex;
//         // margin: 10px;
//         align-items: center;
//         justify-content: center;
//         width: 70%;
//         -webkit-animation: filler 2s ease-in-out;
//         animation: filler 2s ease-in-out;
       
//        .option_text_label{
//            opacity: 0;
//        }
//     }
//     // .option_text_label{
//     //     position: absolute;
//     //     left: 48%;
//     //     color: #fff;
//     //     line-height: 30px;
//     // }
//     .zero_label{
//         width: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         // margin: 10px 0;
//         // text-transform: capitalize;
//         color: red;
//         .option_text_zero{
//             opacity: 0;
//         }
//     }
 
    
//     .fade_in{
//         opacity:  1!important;
//         -webkit-transition: opacity 3s ease-in-out;
//         transition: opacity 3s ease-in-out;
//         transition-delay: 4s;
//     }
  
// }
// .progress:first-child{
//     margin: 0;
// }
// .progress:nth-child(2n){
//     border: 1px solid #09d509;

//     .optionLabel{
//         background:#09d509;
//     }
// }
// @-webkit-keyframes filler {
//     0% {
//         width: 0;
//     }
// }
// @-moz-keyframes filler {
//     0% {
//         width: 0;
//     }
// }
// @keyframes filler {
//     0% {
//         width: 0;
//     }
// }

// New Progress Container
.progress_container{
    margin: 10px 0 0 0;
    .show_percent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 15px;
        color: #09d509;
        text-transform: capitalize;
        margin: 0 0 5px 0;
        .option_percent{
            text-align: right;
        }
    }
    .progress {
        border: 1px solid #09d509;
        border-radius: 5px;
        position: relative;
        width: 100%;
        height: 30px;
        // margin: 20px 0;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        .optionLabel {
            // content: '\A';
            position: absolute;
            background: #09d509;
            top: 0;
            bottom: 0;
            left: 0;
            // width: 70%;
            -webkit-animation: filler 2s ease-in-out;
            -moz-animation: filler 2s ease-in-out;
            animation: filler 2s ease-in-out;
            // margin: 10px;
        }    
    }
}
.progress_container:first-child{
   margin: 0;
  
}
// .progress_container:nth-child(2n){
//     .show_percent{
//         color: #3880ff;
//     }
//     .progress {
//         border: 1px solid #3880ff;
//         .optionLabel {
           
//             background: #3880ff;
          
//         }    
//     }
// }
$colors: #09d509, orange, yellow, green, blue, purple;

@for $i from 1 through length($colors) {
    .progress_container:nth-child(#{$i + 1}n) {
        .show_percent{
            color: nth($colors, $i);
        }
        .progress {
            border: 1px solid nth($colors, $i);
            .optionLabel {
                background: nth($colors, $i);
            }    
        }
    }
}

@-webkit-keyframes filler {
    0% {
        width: 0;
    }
}
@-moz-keyframes filler {
    0% {
        width: 0;
    }
}
@keyframes filler {
    0% {
        width: 0;
    }
}
.footer{
    margin-left:15px;
    width: 100%;
    text-align: left ;
    margin-right:15px;
    margin-top:20px;
  }
@media only screen and (max-width: 860px) {

    .poll-answer{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media only screen and (max-width: 660px) {

    .poll-answer{
        grid-template-columns: 1fr ;
    }
    .button-container{
        grid-template-columns:  1fr ;
    }
    .polltitle{
        font-size: 20px;
    }
    .questions{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .pollRow{
        margin-top:20px;
    }
    .footer{
        text-align: center;
     }
}
@media only screen and (max-width: 380px) {

    .polMat{
        padding: 20px;
    }
    .mainDiv{
        padding: 1rem !important;
    }
}