
<div class='mainDiv'  *ngIf="!showResult">
	<!-- <div class="row">
		<div class="col-sm-1">
			<div class="pollrocket">
				<i class="fas fa-rocket"></i>
			</div>
		</div>
		<div class="col-sm-11 pollheading">
			<h3 class="polltitle">{{ pollTitle }}</h3>
		</div>
	</div> -->
	<div class="row-container">
		<div class="poll-icon">
			<button class="back_button" (click)="back()"><i class="fas fa-chevron-left"></i></button>
		</div>
		<div class="poll-headding">
			<div class="pollrocket">
				<i class="fas fa-rocket"></i>
			</div>
			<h3 class="polltitle">{{ pollTitle }}</h3>
		</div>
	</div>
	<div class="row pollRow">
		<mat-card class="polMat">
			<div *ngIf="questions.length !== 0">
					<div class="" *ngFor="let question of questions">
							<h3 class="questions">{{ question.qName }}</h3>
							<!-- <div class="answers">
								<div class="polmarginbottom">
									<div class="row">
										<button class="options123 col-5" *ngFor="let option of question.optionList; let i=index" 
										[ngClass]="{'active': option.sFlag}" (click)='selectOption(question,i)'>{{ option.optionText }}</button>
									</div>
								</div> -->
							<div class="poll-answer">
									<button class="options123" *ngFor="let option of question.optionList; let i=index" 
									[ngClass]="{'active': option.sFlag}" (click)='selectOption(question,i)'>{{ option.optionText }}</button>
							</div>
						</div>
			</div>

			<div *ngIf="questions.length === 0">
				<mat-card-subtitle class="noDataTitle">No Data Available</mat-card-subtitle>
			</div>
	
		</mat-card>
		<!-- <div class="row">
			<div class="footer">
				<div class="nextbtn">
					<button class="nxt" (click)="submitPoll()">Submit 
						
					</button>
				</div>
			</div>
		</div> -->
		<div class="button-container">
			<div></div>
			<div><button class="nxt" *ngIf="questions.length !== 0" (click)="submitPoll()" >Submit</button></div>
			<div></div>
		</div>
		
	</div>

</div>

<div class="poll_ans_container" *ngIf="showResult">
	<!-- <div class="row-container">
		<div class="poll-icon">
			<div class="pollrocket">
				<i class="fas fa-rocket"></i>
			</div>
		</div>
		<div class="poll-headding">
			<h3 class="polltitle">{{ pollTitle }}</h3>
		</div>
	</div> -->

	<mat-card class="polMat" >
		<div>
			Thank you For Submitting Poll.
		</div>
		<div>
			<div class="" *ngFor="let question of questions" >
			<h3 class="questions">{{ question.qName }}</h3>
			
			<!-- <div class="answers">
				<div class="polmarginbottom">
					<div class="row">
						<button class="options123 col-5" *ngFor="let option of question.optionList; let i=index" 
						[ngClass]="{'active': option.sFlag}" (click)='selectOption(question,i)'>{{ option.optionText }}</button>
					</div>
				</div> -->
			<!-- <div class="poll-answer">
					<button class="options123" *ngFor="let option of question.optionList; let i=index" 
					[ngClass]="{'active': option.sFlag}" (click)='selectOption(question,i)'>{{ option.optionText }}</button>
			</div> -->
			<!-- <div>
				<div  [ngClass]="{'progress': showResult}" *ngFor="let option of question.optionList; let i=index">
					<div class="optionLabel_full"  [style.width.%]="option.percent" *ngIf="option.percent > 95">
						
						<span class="option_text_label" [ngClass]="{'fade_in': showResult}">{{option.optionText}} - {{option.percent}}%</span>
					</div>
					<div class="zero_label" *ngIf="option.percent <= 4 ">
					
						<span class="option_text_zero" [ngClass]="{'fade_in': showResult}">{{option.optionText}} - {{option.percent}}%</span>
					</div>
					<div class="optionLabel" [style.width.%]="option.percent" *ngIf="option.percent < 95 && option.percent > 4">
						<span class="option_text_label_left" [ngClass]="{'fade_in': showResult}">{{option.optionText}}</span>
						<span class="option_text_label_right" [ngClass]="{'fade_in': showResult}">{{option.percent}}%</span>
					</div>
				</div>
			</div> -->
			  <div class="progress_container"  *ngFor="let option of question.optionList; let i=index">
                                <div class="show_percent">
                                        <div class="option_text">{{option.optionText}}</div>
                                        <div class="option_percent">{{option.percent}}%</div>
                                </div>
                                <div  [ngClass]="{'progress': showResult}" >
                                        <!-- <div class="optionLabel_full"  [style.width.%]="option.percent" >
                                          
                                            <span class="option_text_label" [ngClass]="{'fade_in': showResult}">{{option.optionText}} - {{option.percent}}%</span>
                                        </div> -->
                                        <!-- <div class="zero_label" *ngIf="option.percent <= 4 ">
                                        
                                            <span class="option_text_zero" [ngClass]="{'fade_in': showResult}">{{option.optionText}} - {{option.percent}}%</span>
                                        </div>-->
                                        <!--  *ngIf="option.percent < 95 && option.percent > 4" -->
                                        <div class="optionLabel" [style.width.%]="option.percent">
                                            <!-- <span class="option_text_label_right" [ngClass]="{'fade_in': showResult}"></span> -->
                                        </div> 
                                 </div>
            	</div>
			</div>
		</div>
	</mat-card>

	<div class="button-container">
		<div></div>
		<div><button class="nxt" (click)="goToDashboard()">Go Back</button></div>
		<div></div>
	</div>

</div>

