code-of-conduct {
    .question {
        font-size: 22px;
        color: #646566;
        margin-bottom: 5px;
        border-bottom: 1px solid #f4f4f4;
        text-transform: capitalize;
        text-align: left;
        padding-bottom: 6px;
    }
    .qn-Ans-container {
        padding-bottom: 30px;
    }
    .qno {
        margin-right: 15px;
    }
    .selectedbtn {
        background: #2196F3;
        color: white;
    }
    .subpara {
        font-size: 16px;
        line-height: 35px;
        color: #1d2f3e;
        margin-bottom: 0;
        text-align: justify;
        width: 98%;
        font-weight: 300;
    }
    .cardPadding {
        padding: 0px;
    }
    .cardfooter {
        // width: auto;
        position: -webkit-sticky;
        position: sticky;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        .pointerDisabled {
            cursor: not-allowed;
        }
    }
    .selectbox {
        font-size: 24px;
        width: 100%;
        margin: auto;
        text-align: left;
        // color: #03A9F4;
        color: var(--colorCommon);
    }
    .contents0 {
        height: 400px;
        overflow-y: scroll;
    }
    .contents0::-webkit-scrollbar {
        width: 5px;
        scroll-margin-left: 10px;
    }
    .contents0::-webkit-scrollbar-thumb {
        background: #008EFF;
        border-radius: 10px;
    }
    .contents0::-webkit-scrollbar-track {
        display: none;
    }
    .view_image {
        width: 200px;
        height: 200px;
        // background-image: url(https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/9.jpg);
        background-size: cover;
        background-position: center;
        margin: 20px auto 20px auto;
    }
    .threeColGrid {
        width: auto;
        margin: auto;
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    .twoColgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        // grid-column-gap: 20px;
    }
    .agreebtn {
        height: 40px;
        background: #fff;
        // color: #2196F3;
        // border: 1px solid #2196F3;
        color: var(--colorCommon);
        border: 1px solid var(--colorCommon);
        border-radius: 100px;
        font-size: 16px;
        margin: auto;
        width: 140px;
        cursor: pointer;
    }
    .agreebtnActive {
        height: 40px;
        color: #fff;
        // background: #2196F3;
        // border: 1px solid #2196F3;
        background: var(--colorCommon);
        border-radius: 100px;
        font-size: 16px;
        margin: auto;
        // width: 200px;
        cursor: pointer;
    }
}