<mat-card class="cardPadding width_restriction">
    <div class="contents0">
        <div class="qn-Ans-container" *ngFor="let content of trainerCodeOfConduct; let i = index">
            <p class="question">{{content.secName}}</p>
            <p class="subpara" [innerHTML]="content.secDesc| safePipePipe : 'html'"></p>
            <span *ngIf="content?.contentRef"  >
             <div [style.backgroundImage]="'url('+ content.contentRef +')'" *ngIf="content?.mimeType == 'image'" class="view_image">

             </div>
            <!-- <img src="{{content?.contentRef}}"  alt="" srcset=""> -->
          <a *ngIf="content?.mimeType == 'image'" href="{{content?.contentRef}}" download>Click here to download.</a>
          <a *ngIf="content?.mimeType == 'application'" href="{{content?.contentRef}}" download>Click here to download.</a>
      </span>
            <!-- <p class="subpara" *ngIf ="content.contentRef" (click)="downloadcoc(content,i)">download</p> -->
            <!-- <p class="subpara">{{content.option2}}</p>
        <p class="subpara">{{content.option3}}</p> -->
        </div>
    </div>

    <div class="cardfooter">
            <p class="selectbox">{{selectedProgram}}</p>
            <!-- <mat-form-field class="selectbox">
                    <mat-label>Select program</mat-label>
                    <mat-select [(ngModel)]="selectedProgram">
                        <mat-option [value]="" disabled>Select program</mat-option>
                        <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
                    </mat-select>
                </mat-form-field> -->
        <div class="twoColgrid">
            <!-- [disabled]="!agreeAndDisAgreeButtonStatus" -->
            <!-- [disabled]="!agreeAndDisAgreeButtonStatus" -->
            <!-- || !isdisabled
            || isdisabled
          , pointerDisabled:flagData == 2 || !isdisabled
        , pointerDisabled:flagData == 0 || isdisabled -->
            <button class="agreebtn"  [disabled] = "flagData == 2  || flagData == 0" [ngClass]= "{agreebtnActive: flagData == 0, pointerDisabled: flagData == 2  || flagData == 0}" (click)="agreeDisagreeCOC(selectedProgramId,0)" >Disagree</button>
            <button class="agreebtn"  [disabled] = "flagData == 0 || flagData == 2 " [ngClass]= "{agreebtnActive: flagData == 2, pointerDisabled: flagData == 2  || flagData == 0 }" (click)="agreeDisagreeCOC(selectedProgramId,1)" >Agree</button>

        </div>
    </div>

    <!-- <div class="cardfooter" *ngIf="stepsData[0].status == 1">
    <div class="threeColGrid">
      <mat-form-field class="selectbox">
          <mat-label>Select Program</mat-label>
          <mat-select [disabled]="true" [(ngModel)]="selectedProgram">
              <mat-option [value]="" disabled>Select program</mat-option>
              <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
          </mat-select>
      </mat-form-field>
      <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,true)">Agree</button>
      <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,false)">Disagree</button>
    </div>

    <p>You have Already Selected the program</p>
  </div>
  <div class="cardfooter" *ngIf="stepsData[0].status == 2">
      <div class="threeColGrid">
        <mat-form-field class="selectbox">
            <mat-label>Select Program</mat-label>
            <mat-select [(ngModel)]="selectedProgram">
                <mat-option [value]="" disabled>Select program</mat-option>
                <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,true)">Agree</button>
        <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,false)">Disagree</button>
      </div>
      <p>Please update your profile to proceed further</p>
    </div>
    <div class="cardfooter" *ngIf="stepsData[0].status == 3">
        <div class="threeColGrid">
          <mat-form-field class="selectbox">
              <mat-label>Select Program</mat-label>
              <mat-select [(ngModel)]="selectedProgram">
                  <mat-option [value]="" disabled>Select program</mat-option>
                  <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,true)">Agree</button>
          <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,false)">Disagree</button>
        </div>
        <p>You have rejected this program. so, you are not allowed to select the program</p>
      </div> -->

</mat-card>
