<div class='favourites-component-container'>
	<div class="containerdiv">
		<div class="row ro100">
			<div class="btngroup">
				<button class="navbtns firstbtn" [ngClass]="{'active' : btngrp.firstbtn}"
					(click)="activatefirst(btngrp)">Bookmarks</button>
				<button class="navbtns second" [ngClass]="{'active' : btngrp.secondbtn}"
					(click)="activatesecond(btngrp)">Tags</button>
				<button class="navbtns lastbtn" [ngClass]="{'active' : btngrp.thirdbtn}"
					(click)="activatethird(btngrp)">Resources</button>
			</div>
		</div>

		<!--                  bookmark tab               -->



		<div class="row marginTOp" [hidden]="btngrp.secondbtn || btngrp.thirdbtn">
			<div class="col-xl-8">
				<div class="row">
					<div class="col-md-6" *ngFor="let post of bookmarkitems">

						<mat-card class="matCardSize">

							<div
								[ngClass]="{'imgblockSize': !post.isMandatory , 'imgblockSizeSmall' :post.isMandatory }">
								<div class="mandatoryLabel" *ngIf="post.isMandatory">Mandatory</div>
								<img mat-card-image src="{{ post.cardImg }}" class="avatar1" *ngIf="!post.isMandatory">
								<img mat-card-image src="{{ post.cardImg }}" class="avatar2" *ngIf="post.isMandatory">
							</div>
							<mat-card-title>
								<div class="row description">
									<p class="col-10">{{ post.content }}</p>
									<i class="fas fa-bookmark col-2  save" [ngClass]="{'active' : post.save}"
										(click)="togglesave(post)"></i>
								</div>
							</mat-card-title>
							<mat-card-content>
								{{ post.stages }}
							</mat-card-content>
							<mat-card-subtitle>{{post.description}}</mat-card-subtitle>

						</mat-card>

					</div>
				</div>
			</div>




			<div class="col-xl-4 colPad">
				<div class="row ">
					<h1 class="sectionRightTitle">Bookmark Folder</h1>
				</div>

				<div class="row" *ngIf="bookmarkFolder.length == 0">
					<mat-card class="sectionRightCard padding0">
						<div class="row alignMiddle ">

							<button mat-fab color="primary" class="matbtnicon" (click)="createBOOKMARK()">+</button>
							<h4 class="mattitle">Create a new folder</h4>
							<p>You haven't created any folders yet.</p>
						</div>
					</mat-card>
				</div>


				<div class="row">
					<mat-card class="sectionRightCard padding0">
						<div class="row alignMiddle2">

							<button mat-fab color="primary" class="matbtnicon" (click)="createBOOKMARK()">+</button>
							<h4 class="mattitle">Create a new folder</h4>
						</div>
						<div class="col-sm-12 padding0">
							<p>Your Folders</p>
							<ul class="folderUl">
								<li class="listOfHashTag" *ngFor="let folder of bookmarkFolder">
									<div class="row listrow">
										<div class="folderICon col-2">
											<i class="fas fa-folder"></i>
										</div>

										<div class="col-8">
											<h6 class="foldername">{{ folder.folderName }}</h6>
											<p class="items">{{ folder.noOfItems }} items</p>
										</div>
										<div class="col-2">
											<button class="favourite-component-roundarrow" (click)="viewbookmark()"><i
													class="fas fa-chevron-right"></i></button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</mat-card>
				</div>

				<div class="row ">
					<h1 class="sectionRightTitle ">Recently Viewed Bookmarks</h1>
				</div>
				<div class="row">
					<mat-card class="mat">
						<ul class="padding0">
							<li *ngFor="let recents of recentBookmarks" class="listOfHashTag">
									<div class="row listrow">
											<div class="col-2">
													<img src="./assets/images/Group_16.png" class="squareimg">
											</div>
											<div class="col-8">
													<h4 class="name">#{{recents.name}}</h4>
													<p class="noOfPosts">{{recents.timeB}} ago</p>
											</div>
											<div class="col-2">
												<button class="favourite-component-roundarrow" ><i
														class="fas fa-chevron-right"></i></button>
											</div>
									</div>
							</li>
						</ul>
					</mat-card>
				</div>
			</div>
		</div>





		<!-- bookmark tab ends -->


		<!-- Tags tab start  -->


		<div class="marginTOp" [hidden]="btngrp.firstbtn || btngrp.thirdbtn">
			<!-- <mat-card class="matForm">
				<div class="row">
					<h3 class="centerHeader">Step 1: Select/search a tag from which you want to choose</h3>
				</div>
				<div class="row ">
					<div class="txtbx">
						<i class="fas fa-search searchICO"></i>
						<input type="text" placeholder=" Search" class="inputbx">
					</div>
				</div>
				<div class='marginTOp'>
					<div class='matChipList' *ngFor='let tagItem of  chips; let i = index'>
						<mat-chip-list>
						
								<div class='matChip' *ngFor='let grp of tagItem.group; let j = index'>
								
									<mat-chip [ngClass]="{ 'selChip': grp.checked==true , 'chip': grp.checked==false}"
										(click)='selectTag(i,j)'>
										<div class="centerAlign">
											<i class="far fa-check-circle chipTicks"></i> {{ grp.tagname }}
										</div>
									</mat-chip>

								</div>
								<br />
						
						</mat-chip-list>
					</div>
				
				</div>

			</mat-card> -->

			<div class="favourites-tags-searchform-div ">
				<div class="background-container">
					<h3 class="text-center">Step 1: Select/search a tag from which you want to choose</h3>
					<div class="content-spacing">
						<div class="txtbx">
							<i class="fas fa-search searchICO"></i>
							<input type="text" placeholder=" Search" class="inputbx">
						</div>
					</div>
					<div>
						<div [ngClass]="{ 'even-row': even , 'odd-row' : odd}"  *ngFor='let tagItem of  chips; let i = index ; let odd=odd; let even=even' style="width:100%">
								<div class="totalMatChip">
									<div class="chip-row" style="width: 100%" *ngFor='let grp of tagItem.group; let j = index'>
										<div class="chip" (click)='selectTag(i,j)' [ngClass]="{ 'selChip': grp.checked==true }">
											<div class="centerAlign">
												<i class="far fa-check-circle chipTicks"></i> {{ grp.tagname }}
											</div>
										</div>
										<!-- <div class="chip selChip">
											<div class="centerAlign">
												<i class="far fa-check-circle chipTicks"></i> Tag 2
											</div>
										</div>
										<div class="chip">
											<div class="centerAlign">
												<i class="far fa-check-circle chipTicks"></i> Tag 2
											</div>
										</div> -->
									</div>
								</div>
						</div>	
					</div>
				</div>
			</div> 

			
			<div class="row marginTOp-tags">
				<div class="col-xl-9 col-lg-12">
					<!-- <div class="row"> -->
					<div class="row marginBefore">
						<h1 class="tagTitle">Tag 1</h1>
					</div>

					<div class="row">
						<mat-card *ngFor="let posts of MyTags" class="tagMatCard">
							<div class="row topTag">
								<div class="col-2 padding0">
									<img src="./assets/images/Group_16.png" class="ico123 " />
								</div>
								<div class="col-7">
									<h1 class="title">{{posts.title}}</h1>
									<p class="para">{{posts.timePassed}}</p>
								</div>
								<div class="col-3 icons">
									<i class="fas fa-share-alt fontawesomebtn"></i>
									<i class="fas fa-bookmark fontawesomebtn" [ngClass]="{'active' : posts.save}"
										(click)="togglesave(posts)"></i>
								</div>
							</div>
							<img mat-card-image src={{posts.attachment}} class="matimg">
							<div class="footerrow">
								<div>
								<p class="footer1">{{posts.tags}}</p>
								</div>	
								<div class="icons">
									<i class="fas fa-thumbs-up thumbs" [ngClass]="{'active' : posts.like}"
										(click)="togglelike(posts)"></i>
									<i class="fas fa-thumbs-down thumbs" [ngClass]="{'active' : posts.dislike}"
										(click)="toggledislike(posts)"></i>
								</div>
							</div>

						</mat-card>
						<!-- </div> -->

					</div>
				</div>
				<div class="col-xl-3 col-lg-12 desktop-padding-zero">
					<div class="">
						<h1 class="sectionRightTitle ">Recently Viewed Tags</h1>
					</div>
					<div class="margin-issue-extra">
						<mat-card class="mat">
							<ul class="padding0">
								<li *ngFor="let recents of recentTags" class="listOfHashTag">
									<div class="row listrow">
											<div class="folderICon col-2">
													<img src="./assets/images/Group_16.png" class="squareimg">
											</div>
											<div class="col-8">
													<h4 class="name">#{{recents.name}}</h4>
													<p class="noOfPosts">{{recents.timeT}} ago</p>
											</div>
											<div class="col-2 ">
												<button class="favourite-component-roundarrow"  style="margin-left:auto"><i
														class="fas fa-chevron-right" (click)="similarItems()"></i></button>
											</div>
									</div>

								</li>
							</ul>
						</mat-card>
					</div>
				</div>
			</div>
		</div>
		<!-- Tags tab end  -->




		<!-- Resource tab start  -->

		<div class="row marginTOp" [hidden]="btngrp.firstbtn || btngrp.secondbtn">
			<div class="col-xl-8">
				<div class="row">
					<div class="col-sm-12" *ngFor="let post of bookmarkitems">

						<mat-card class="resourceBlock">
							<div class="row">
								<div class="col-2 padding0 text-center">
									<img src="./assets/images/Group_16.png" class="squareimg">
								</div>
								<div class="block1 col-9 padding0">
									<p class="heading">User Interface Design.</p>
									<p class="subheding">Description</p>
								</div>
								<div class="shareblock col-1">
									<i class="fas fa-share-alt"></i>
								</div>
							</div>
						</mat-card>

					</div>
				</div>
			</div>




			<div class="col-xl-4 colPad">
				<div class="row ">
					<h1 class="sectionRightTitle ">Recently Viewed Resources</h1>
				</div>
				<div class="row">
					<mat-card class="mat">
						<ul class="padding0">
							<li *ngFor="let recentsR of recentResources" class="listOfHashTag">
										<div class="row listrow">
												<div class="folderICon col-2">
														<img src="./assets/images/Group_16.png" class="squareimg">
												</div>
												<div class="col-8">
														<h4 class="name">#{{recentsR.name}}</h4>
														<p class="noOfPosts">{{recentsR.timeR}} ago</p>
												</div>
												<div class="col-2">
													<button class="favourite-component-roundarrow" ><i
															class="fas fa-chevron-right" (click)="similarItems()"></i></button>
												</div>
										</div>
							</li>
						</ul>
					</mat-card>
				</div>
			</div>
		</div>



		<!-- Resource tab start  -->

	</div>
</div>