.favourites-component-container{
    padding: 2.25rem 2.25rem 0.75rem !important;
    .containerdiv{
        padding: 0;
        margin: auto;
    }
    
    
    .ro100{
        width: 100%;
        margin: 0 !important;
    }
    
    
    .btngroup{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 600px;


    }
    
    .navbtns{
        // padding: 10px 30px;
        background-color: #fff;
        border: 1px solid #507bfc;
        color: #507bfc;
        width: 100%;
        outline: none;
        height: 45px;
        cursor: pointer;
        font-weight: 500;   
    }
    
    .firstbtn{
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
       
        border-right: none;
        outline: none;
        // margin: -2px;
    }
    
    .firstbtn.active{
        background: #507bfc;
        color: #fff;
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        transition: 0.5s ease-in;
    }
    
    .lastbtn{
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        outline: none;
        // border: 1px solid #507bfc;
        border-left: none;
        // margin: -2px;
    }
    
    .lastbtn.active{
        background: #507bfc;
        color: #fff;
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        transition: 0.5s ease-in;
    }
    
    .second.active{
        background: #507bfc;
        color: #fff;
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        outline: none;
        transition: 0.5s ease-in;
    }
    
    .marginTOp{
        margin-top: 50px;
    }
    
    .colPad{
        padding: 0 30px;
    }
    
    .chipTicks{
        margin-right: 10px;
        font-size: 18px;
    }
    
    .sectionRightTitle{
        width: 100%;
        font-family: "open sans";
        margin-top: 0;
        // margin-bottom: 30px;
        text-align: center;
    }
    
    .avatar2{
        width: 100px;
        margin: 50px 0;
    }
    
    .mandatoryLabel{
        position: absolute;
        float: right;
        top: 0;
        right: 0;
        text-align: center;
        width: 200px;
        padding: 7px 0;
        background: #f9bc7c;
        color: #fff;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 15px;
    }
    
    .imgblockSize{
        width: 100%;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .imgblockSizeSmall{
        width: 100%;
        height: 200px;
        text-align: center;
    }
    
    .matCardSize{
        min-height: 450px;
        margin-bottom: 30px;
        border-radius: 10px
    }
    
    
    .sectionRightCard{
        width: 100%;
        border-radius: 10px;
        text-align: center;
        height: 450px;
        margin-bottom: 20px;;
    }
    
    .alignMiddle {    
        margin: auto !important;
        height: auto;
        display: block;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .matbtnicon{
        font-size: 42px;
        outline: none;
        background: #507bfc;
    }
    
    .mattitle{
        font-family: "open sans";
        margin: 10px 0;
    }
    
    
    .listOfHashTag{
        list-style: none;
        padding: 10px 20px;
        display: flex;
    }
    
    
    .listOfHashTag:nth-child(even){
        background-color: #F8F8F8;
    }
    
    .padding0{
        padding: 0 !important;
    }
    
    .favourite-component-roundarrow{
        width: 30px;
        height: 30px;
        font-size: 17px;
        border-radius: 50%;
        display: grid;
        border: 2px solid;
        color: #507BFC;
        background-color: transparent;
        cursor: pointer;
    }
    
    .blockhashname{
        margin: 0px 15px;
        width: 100%;
    }
    
    .name{
        font-size: 17px;
        width: 100%;
        color: #464646;
        font-family: "Open Sans";
    }
    
    .noOfPosts{
        font-size: 14px;
        margin: 0;
    }
    
    
    .mat{
        width: 100%;
        padding: 0;
        // margin-right: 25px;
        border-radius: 10px;
    }
    
    .topTag{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    
    .squareimg{
        width: 45px;
        height: 45px;
    }
    
    .alignMiddle2{
        margin: 20px 0 0 0 !important;
        transition: 1s ease-in-out;
        display: block;
    }
    
    .save{
        margin: auto;
        color: #847f7f;
        text-align: center;
        cursor: pointer;
    }
    
    .save.active{
        color: #507bfc;
    }
    
    .folderUl{
        height: 260px;
        overflow-y: scroll;
        padding: 0 !important;
        margin: 0;
    }
    
    .marginauto{
        width: 100%;
        margin: auto;
    }
    
    .marginTOp30{
        margin-top: 25px;
    }
    
    .marginTOp50{
        margin-top: 50px;
    }
    
    .margintop{
        margin-top: 30px;
    }
    
    .listrow{
        width: 100%;
        text-align: left;
        align-items: center;
    }
    
    .folderICon{
        padding: 0 !important;
        font-size: 34px;
        text-align: center;
        margin: 0;
        color: #aec1f7fa;
    }
    
    .foldername{
        margin: 0;
        line-height: 30px;
        font-size: 17px;
        font-family: "open sans";
    }
    
    .items{
        font-size: 15px;
        line-height: 20px;
        margin: 0;
        font-family: "open sans";
    }
    
    .roundbtn{
        height: 60px;
        width: 60px;
        background: transparent;
        border: 2px solid #507bfc;
        color: #507bfc;
        font-size: 36px;
        outline: none;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
    }
    
    .col1{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    
    
    .inputText{
        width: 100%;
        font-size: 20px;
    }
    
    
    .matForm{
        width: 100%;
        padding: 30px;
        margin: auto 25px;
        border-radius: 10px;
    }
    
    .centerHeader{
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        font-family: "open sans";
    }
    .content-spacing{
        margin: 20px 0 50px 0;
    }
    .txtbx{
        border-bottom: 1px solid #d0cbc9;
        max-width: 532px;
        width: 100%;
        margin: auto;
        padding: 10px 20px;
    }
    
    .inputbx{
        margin: auto;
        height: 45px;
        max-width: 300px;
        width: 85%;
        padding: 0 10px;
        font-size: 20px;
        font-family: "open sans";
        border: none;
        outline: none;
    }
    
    .searchICO{
        color: #968e8b;
        font-size: 18px;
        width: 10%;
    }
    
    .tagTitle{
        width: 100%;
        margin-bottom: 30px;
        margin: 0;
        font-family: "open sans";
    
    }
    
    .tagMatCard{
    width: 100%;
    height: auto;
    margin:20px 25px;
    border-radius: 10px;
    padding-bottom: 0;
    }
    
    .matimg{
        height: 250px;
        margin-bottom: 0;
    }
    
    .footerrow{
        width: 100%;
        margin: auto;
        padding: 0 10px;
        // display: flex;
        min-height: 50px;
        align-items: center;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    .ico123{
        width: 47px;
        height: 47px;
        margin-top: 0px;
    }
    
    .icons{
        display: flex;
        padding: 0 !important;
        color: #8f8f8f;
        justify-content: flex-end;
    }
    
    .thumbs{
        padding: 0 15px;
        // margin-right: 20px;
        font-size: 16px;
    }
    
    .thumbs.active{
        color:#507bfc;
    }
    
    .marginBefore{
        width: 100%;
        margin: auto;
        padding: 0 20px;
    }
    
    .fontawesomebtn.active{
        color:#507bfc;    
    }
    
    .title{
        font-size: 22px;
        margin: 0;
        font-family: "Open Sans";
    }
    
    
    .para{
        font-size: 12px;
        line-height: 20px;
        font-family: "Open Sans";
    }
    
    .fontawesomebtn{
        padding: 6px;
        margin-right: 20px;
        font-size: 20px;
        color: #8f8f8f;
    }
    
    .resourceBlock{
        min-height: auto;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    
    .img123{
        padding: 0;
        margin: auto;
        text-align: center;
    }
    
    .block1{
        padding: 0;
        font-family: "open sans";
        line-height: 20px;
    }
    
    .shareblock{
        padding: 0;
        margin: auto;
        text-align: center;
        font-size: 20px;
        color: #828080;
    }
    
    .imgIcon{
        width: 50px;
        border-radius: 5PX;
    }
    
    .heading{
        margin: 0;
        font-size: 16px;
        line-height: 28px;
    }
    
    .subheding{
        margin: 0;
        line-height: 26px;
        font-size: 12px;
    }
    
    .footer1{
        margin: 0;
        font-size: 15px;
        padding: 11px 0;
        font-weight: 100;
        color: #494a4acf;
        font-family: "Open Sans";
        width: 100%;
    }
    
    
    
    .alignChip{
        margin-top: 30px;
    }
    
    // .matChipList:nth-child(n){
    //     margin-left: 25%;
    //     padding-bottom: 22px;
    //     padding-right: 18px;
    // }
    
    // .matChipList:nth-child(2n){
    //     margin-left: 20%;
    //     padding-bottom: 22px;
    //     padding-right: 18px;
    // }
    
    // .matChipList:nth-child(3n){
    //     margin-left: 29%;
    //     padding-bottom: 22px;
    //     padding-right: 18px;
    // }
    .favourites-tags-searchform-div{
       
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        
       .background-container{
            -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
            background: #fff;  
            padding: 30px; 
            border-radius: 10px;
        }
    }
    .desktop-padding-zero{
        padding: 0;
    }
    .totalMatChip{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        margin-bottom: 20px;
    }
    .even-row{
        padding-left: 15%;
        padding-right: 10%;
    }
    .odd-row{
        padding-right: 15%;
        padding-left: 10%;
    }
    .chip{
        height: 38px;
        max-width: 300px;
        width: 100%;
        grid-column-gap: 18px;
        border: 1px solid #507BFC;
        background: transparent;
        color: #507BFC;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
        border-radius: 25px;
        text-align: center;
        margin-right: 25px !important;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
   
    .selChip{
       
        background: #507BFC;
        color: #fff;
       
    }
    
    .centerAlign{
        margin: auto;
    }
    .marginTOp-tags{
        margin: 50px 0 0 0;
    }
    @media only screen and (max-width: 1200px) {
         .matCardSize{
            min-height: 400px;
        }
        .margin-issue-extra{
            margin: 0 10px;
        }
        .desktop-padding-zero{
            padding: 12px;
        }
        .favourites-tags-searchform-div{
            padding: 25px;
        }
        .marginTOp-tags{
            margin: 0px;
        }
      }
      @media only screen and (max-width: 750px) {

        .even-row{
            padding-left: 0;
            padding-right: 0;
        }
        .odd-row{
            padding-left: 0;
            padding-right: 0;
        }
        .tagMatCard{
            // width: 100%;
            // height: auto;
            margin:10px 15px;
            // border-radius: 10px;
            // padding-bottom: 0;
        }
        .margin-issue-extra{
            margin: 0;
        }
        .marginTOp-tags{
            margin: 0px;
        }
        .favourites-tags-searchform-div{
            padding: 0 15px 15px 15px;
        }
       
      }
      @media only screen and (max-width: 550px) {
        padding: 1rem 1rem 0.75rem !important;
        .marginTOp{
            margin-top: 20px;
        }
       
           
        .tagMatCard{
            margin: 10px 10px;
        }
        .content-spacing{
            margin: 20px 0 30px 0;
        }
      }
      @media only screen and (max-width: 400px) {
        .navbtns{
            height: 35px;
            font-size: 13px;  
        }
        padding: 0 !important;
        .totalMatChip{
            grid-template-columns: 1fr;
            margin-bottom: 10px;
        }   
    }
  
}
