.wrapBOth-container {
    .participantCard {
        padding: 0 !important;
    }
    table {
        width: 100%;
    }
    .feedback_question_container {
        display: grid;
        grid-template-columns: 40px auto;
    }
    .viewFeedBtn {
        width: auto;
        padding: 10px 20px;
        background: #5680FC;
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        box-shadow: 1px 5px 4px #c5c9f8;
        cursor: pointer;
    }
    .tablerow {
        height: 60px !important;
        text-align: center !important;
        font-size: 16px !important;
        //
        td {
            text-align: left;
            padding: 15px;
        }
        th {
            color: #000;
            padding: 15px;
            text-align: left;
        }
    }
    .tablerow:nth-child(even) {
        background: #f3f2f2;
    }
    .feedback-activity-container {
        .mandatoryQues {
            color: red
        }
        // display: grid;
        // grid-row-gap: 20px;
        // .feedbackCard{
        //     padding: 25px;
        // }
        // .participant-list{
        //     display: grid;
        //     grid-template-columns: 0.5fr 5fr 5fr;
        //     padding: 0;
        //     margin: auto;
        //     text-align: center;
        //     height: 60px;
        // }
        // .participant-list:nth-child(even){
        //     background-color: #f3f2f2;
        // }
        // .serialno{
        //     margin-right: 20px;
        //     font-weight: 400 !important;
        // }
        // .question{
        //     font-size: 22px;
        //     width: 100%;
        //     margin-bottom: 10px;
        //     font-weight: 400;
        //     /* color: #507BFC; */
        // }
        // .submitbtn{
        //     width: 400px;
        //     padding: 10px 0;
        //     background: #5680FC;
        //     border: none;
        //     border-radius: 25px;
        //     color: #fff;
        //     font-size: 16px;
        //     box-shadow: 1px 5px 4px #c5c9f8;
        //     cursor: pointer;
        // }
        // .rating{
        //     margin-bottom: 0;
        //     outline: none;
        //     justify-content: left !important;
        //     margin: 25px 0 0px 30px;
        // }
        // .textBox{
        //     margin-left: 30px;
        //     margin-top: 20px;
        //     width: 90%;
        //     border: 1px solid #507bfc;
        //     resize: none;
        //     border-radius: 5px;
        // }
        // .star.medium, .rating.medium .star {
        //     width: 70px;
        //     height: 40px;
        // }
        // .marginAuto{
        //     margin: auto;
        // }
        .feedbackRow {
            width: 100%;
            margin: auto;
            margin-top: 20px;
        }
        .feedbackmat {
            width: 100%;
            padding: 30px;
            margin-bottom: 30px;
            min-height: 150px;
        }
        .txtArea {
            width: 100%;
            max-width: 700px;
            font-size: 20px;
            outline: none;
            // margin-left:20px;
            // resize: none;
            border: 2px solid #7d9af3;
            padding: 10px;
            border-radius: 10px;
        }
        .question64 {
            font-family: "open sans";
            font-size: 21px;
            margin-bottom: 20px;
            line-height: 20px;
            text-align: justify;
            word-break: break-all;
        }
        .questions-answer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 10px;
            row-gap: 20px;
            align-content: flex-start;
            .optionBt {
                width: 100%;
                border: none;
                height: 40px;
                // padding: 20px 0;
                margin: auto;
                font-size: 22px;
                border-radius: 15px;
                background-color: #ecf0fd;
                color: #2196F3;
            }
            .activeOption {
                width: 100%;
                border: none;
                height: 40px;
                font-size: 22px;
                border-radius: 15px;
                color: #ecf0fd;
                background-color: #2196F3;
            }
        }
        // .active{
        //     width: 100%;
        //     border: none;
        //     height: 40px;
        //     font-size: 22px;
        //     border-radius: 15px;
        //     color: #ecf0fd;
        //     background-color: #2196F3;
        // }
        button:focus {
            outline: 0;
        }
        .nextbtn {
            width: 400px;
            display: inline-flex;
            margin: auto;
        }
        .nxt {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 30px;
            background: #2196F3;
            color: #fff;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        }
        .button-container {
            display: grid;
            width: 100%;
            row-gap: 15px;
            column-gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .shift_content_right {
            width: 60%;
        }
        .row-container {
            display: grid;
            grid-template-columns: 80px auto;
            align-items: center;
        }
        @media only screen and (max-width: 860px) {
            .questions-answer {
                grid-template-columns: 1fr 1fr;
            }
            .feedbacktitle {
                padding-left: 20px
            }
            .question64 {
                font-size: 25px;
            }
        }
        @media only screen and (max-width: 660px) {
            .questions-answer {
                grid-template-columns: 1fr;
                row-gap: 10px;
            }
            .button-container {
                grid-template-columns: 1fr;
            }
            .question64 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            .surveyMat {
                padding: 20px;
                margin-bottom: 20px;
            }
            .feedbacktitle {
                font-size: 20px;
            }
            .feedbackRow {
                margin-top: 20px;
            }
            .footer {
                text-align: center;
            }
            .nextbtn {
                width: 100%;
                max-width: 400px;
            }
        }
        @media only screen and (max-width: 380px) {
            .mainDiv {
                padding: 1rem !important;
            }
        }

        .rating {
            justify-content: left !important;
            outline: none;
        }

        .float-left {
            float: left;
        }
    }
}
:host{
  star-rating {
    outline: none;

}
.rating{
  outline: none;
}
.rating.color-goldenyellow .star-container .star {
  width: 45px;
  height: 45px;
  margin: 4px;
  outline: none;
  margin-top: -10px;
  svg {
      fill: #3880ff;
  }
  i {
      color: #3880ff;
  }
}
}
