.skeleton {
  margin: 1%;
  width: 212px;
  height: 268px;
  background: #ffffff;
  border: 0.1px solid #aaaaaa33;
  .img {
    height: 140px;
  }
  .w-50 {
    width: 50%;
  }
  h3 {
    margin-bottom: 8px;
  }
}
.loader {
  height: 8px;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  will-change: transform;
  background: no-repeat #eff1f6;
}
.inprogress {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
  animation: 2s ease-in-out infinite progress;
  background-size: 200px 100%;
}
@keyframes progress {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
