<div class="skeleton d-inline-block" *ngFor="let item of skeletons(count)">
    <div class="img loader inprogress"></div>
    <div class="content py-3 px-2">
        <h3 class="loader inprogress"></h3>
        <h3 class="loader inprogress w-50"></h3>
        <h3 class="loader inprogress mt-4"></h3>
        <h3 class="loader inprogress"></h3>
        <h3 class="loader inprogress"></h3>
    </div>
</div>
