// .ngx-quiz-review {
ngx-quiz-review {
  .quizContainer {
    height: 100%;
    background: #e8effa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: Url("../assets/images/background.png");
    .asses-head {
      display: grid;
      border-radius: 6px;
      align-items: center;
      background: #ffffff;
      grid-template-columns: 1fr 60px;
      border: 0.5px solid rgba(0, 0, 0, 0.28);
      h3 {
        font-size: 16px;
        color: #414141;
      }
      .question_number {
        align-self: stretch;
        background: #dde1eb;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.28);
        .question_No {
          font-size: 15px;
          padding-top: 8px;
          font-weight: 600;
          color: #000000;
          text-align: center;
        }
      }
    }
    .result-question {
      overflow-y: auto;
      height: calc(100% - 50px);
    }
    .review-question {
        height: calc(100% - 84px);
        overflow-y: auto;
    }
  }
  .heading123 {
    padding: 7px 0;
  }
  .title123 {
    margin: 0;
    font-weight: 600;
    font-family: "open sans";
  }
  .link {
    color: #00bcd4;
    text-decoration: underline;
  }
  .width100 {
    width: 100%;
  }
  .multiple_choice_question_container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: self-start;
  }
  .timeoutdiv {
    display: inline-flex;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    line-height: 31px;
    font-family: "open sans";
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(174, 175, 177, 0.5);
    color: #00bcd4;
  }
  .watch {
    margin: 6px 10px;
  }
  .time {
    color: #00bcd4;
    margin: 0 20px;
    line-height: 38px;
    font-size: 25px;
    font-family: "open sans";
  }
  .matcard {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    // padding: 45px;
  }
  .autoMarg {
    margin: auto;
    margin-bottom: 5px;
  }
  .inline {
    display: inline-flex;
    width: 100%;
  }
  // .floatRightContent {
  //     // float: right;
  //     padding: 23px;
  //     width: 50%;
  // }
  .question_No {
    width: 100%;
    // font-family: "open sans" !important;
    text-align: right;
    font-weight: 600;
    font-size: 30px;
    // color: #2196f3;
    color: var(--colorCommon);
    margin: 0;
  }
  .questionSName {
    font-family: "open sans";
    font-size: 20px;
    // margin: 15px 0;
    // line-height: 40px;
    text-align: justify;
    color: lightslategrey;
  }
  .question {
    // font-family: "open sans";
    // font-size: 14px;
    // margin: 8px 0;
    // line-height: 50px;
    // text-align: justify;
    font-size: 18px;
    margin-bottom: 16px;
  }
  .button_option_container {
    display: flex;
    // grid-template-columns: 30px 1fr;
    // align-items: center;
    align-items: center;
    // display: grid !important;
    // grid-template-columns: 40px 1fr;
  }
  .answer {
    padding-bottom: 6px;
  }
  .inline_div {
    width: 100%;
  }
  .sequence_list {
    width: 40%;
    // margin-bottom: 20px;
    .sequence_list_option {
      margin-bottom: 20px;
    }
    .sequence_list_option::last-child {
      margin-bottom: 0px;
    }
  }
  .sequence_list::last-child {
    margin-bottom: 0px;
  }
  .marginbottom {
    margin-bottom: 30px;
  }
  .select_drop_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    // grid-row-gap: 20px;
    margin-bottom: 30px;
  }
  .options {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #ecf0fd;
    // color: #2196f3;
    color: var(--colorCommon);
    cursor: pointer;
    // display: flex;
    // display: grid;
    // grid-template-columns: 40px 1fr;
  }
  .dropped_content {
    .options {
      height: unset !important;
    }
  }
  .footerDiv {
    background: #ebebeb;
  }
  .footer {
    width: 100%;
    display: inline-flex;
    height: 50px;
    padding: 6px 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
  }
  .back {
    padding: 0;
  }
  .round {
    border: none;
    height: 40px;
    width: 40px;
    background: #d0e3f1;
    font-size: 18px;
    cursor: pointer;
    color: #2196f3;
    border-radius: 50%;
  }
  .stepper {
    margin: 0 30px;
    width: 100%;
  }
  .slider {
    width: 100%;
  }
  .nextbtn {
    width: 230px;
    display: inline-flex;
  }
  .nxt {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    // background: #2196f3;
    // color: #fff;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  }
  .completedstatus {
    font-size: 18px;
    text-align: center;
    font-family: "open sans";
    // color: #2196f3;
    color: var(--colorCommon);
  }
  .block1 {
    background: #ebf4f5;
    width: 28%;
    padding: 12px;
    border-radius: 6px;
    margin: 0 auto;
  }
  .total {
    font-size: 20px;
    font-weight: 600;
    color: #5a5959;
    font-family: "open sans";
    margin: 0;
    line-height: 33px;
  }
  .points {
    font-size: 50px;
    text-align: center;
    font-family: "open sans";
    font-weight: 600;
    // color: #2196f3;
    color: var(--colorCommon);
    margin: 6px 0;
  }
  .lastLine {
    font-family: "open sans";
    text-align: center;
  }
  .floatRight {
    width: 100%;
  }
  .gotocourse {
    float: right;
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 30px;
    // background: #2196f3;
    background: var(--colorBgbtn);
    // color: #fff;
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    margin-left: 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    // box-shadow: 5px 3px 13px 0px rgba(33, 150, 243, 0.3);
  }
  .review {
    float: right;
    width: 160px;
    height: 100%;
    // border: 1px solid #2196f3;
    border: 1px solid var(--colorCommon);
    border-radius: 6px;
    background: #fff;
    // color: #2196f3;
    color: var(--colorCommon);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    // box-shadow: 5px 3px 13px 0px rgba(158, 158, 158, 0.45);
  }
  .rightans {
    color: #4caf50 !important;
  }
  .score {
    color: #4caf50 !important;
  }
  .dropable {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px dashed #aaaaaa;
    border-radius: 10px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.15),
      0 2px 6px 0 rgba(47, 83, 151, 0.1);
    background-color: #fff;
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    padding: 0px !important;
  }
  .margBot {
    margin-bottom: 10px;
  }
  .option_img_button {
    display: flex;
    .optionsImg {
      width: auto;
      height: 50px;
    }
  }
  .image_center {
    display: flex;
    justify-content: center;
    .contentImg {
      // height: auto;
      // width: 200px;
      // /* padding: 10px; */
      // /* padding-left: 15px; */
      // margin: 0 auto;
      // text-align: center;
      height: auto;
      width: 200px;
    }
  }
  .active {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 15px;
    color: #ecf0fd;
    background-color: #2196f3;
    display: flex;
    // display: grid;
    // grid-template-columns: 40px 1fr;
    // word-break: break-all;
    word-break: break-word;
  }
  .activeCorrect {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 15px;
    color: #ecf0fd;
    background-color: #4cc7a2;
    display: flex;
    // display: grid;
    // grid-template-columns: 40px 1fr;
    // position: relative;
    // word-break: break-all;
    word-break: break-word;
  }
  .number_container {
    flex: 9% 0 0;
  }
  .number_parent_container {
    display: flex;
    // display: grid !important;
    // grid-template-columns: 40px auto;
    text-align: left;
  }
  .activeWrong {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 15px;
    color: #ecf0fd;
    background-color: #c74c67;
    cursor: pointer;
    display: flex;
    // display: grid;
    // grid-template-columns: 40px 1fr;
    // position: relative;
    // word-break: break-all;
    word-break: break-word;
  }
  button:focus {
    outline: 0;
  }
  .questionInstructions {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 0;
  }
  .feedback_popup_container {
    display: grid;
    grid-template-columns: 2fr 30px;
    align-items: center;
    .closeicon {
      margin: 0;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
  .questionFeedback {
    font-size: 13px;
  }
  .questionInstructionsLabel,
  .questionFeedbackLabel {
    color: #29334e;
    font-size: 13px;
  }
  .questionInstructionsData,
  .questionFeedbackData {
    color: #9e9fa1;
    font-size: 13px;
  }
  .disableQuestion {
    pointer-events: none;
  }
  .selectedMatchedOption {
    height: 100%;
    border: none;
    padding: 20px 0 !important;
    font-size: 20px;
    border-radius: 15px;
    background-color: #2196f3;
    color: #ecf0fe;
    width: 100%;
    /* text-align: center; */
    line-height: 1.15;
    cursor: pointer;
    margin: 0;
  }
  .mandatoryQues {
    color: #e43232;
  }
  // }
  //   .quizContainer {
  //     position: fixed;
  //     width: 100%;
  //     height: 100%;
  //     top: 0px;
  //     left: 0px;
  //     z-index: 1503;
  //     background-color: #40404075;
  //   }
  .addSelfBackdrop2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #40404075;
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
    .addSelfDemoModal2 {
      width: 40%;
      margin: auto;
      background-color: #fff;
      border-radius: 5px;
      margin-top: 15%;
      padding: 20px;
      opacity: 0;
      transition: all 0.2s ease;
      .closeicon {
        text-align: end;
      }
    }
  }
  .show_popup {
    opacity: 1 !important;
    display: block;
    transition: all 0.5s ease;
  }
  .read_more_feedback {
    color: red;
    cursor: pointer;
    padding-left: 5px;
  }
  .highlightText1,
  .highlightText2 {
    // color: #3880ff;
    color: var(--colorCommon);
    font-size: 15px;
  }
  .highlightText2 {
    text-decoration: underline;
    cursor: pointer;
  }
  .attemptsDiv {
    text-align: center;
  }
}

// =======================================================
@media only screen and (min-width: 900px) {
  .result-question {
    padding-top: 50px !important;
  }
  .completedstatus {
    font-size: 21px;
  }
  .block1 {
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .open_image_full_icon{
    color: var(--colorCommon);
    font-size: 11px;
    cursor: pointer;
  }
  .image_popup{
    z-index: 1059;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    // background: #000000;
    background: #00000091;
    position: fixed;
  }

}
