<div class="login_container">
  <div class="left_container" [style.background-image]="currentBrandData?.loginImage ">
          <p class="left_container__text" *ngIf="currentBrandData?.showLoginText">Sign In</p>
  </div>
  <div class="right_container text-center">
      <div class="logo_container">
              <img [src] = "currentBrandData?.logo" class="companyLogo">
      </div>

      <div class="list_container"  >
              <div class="content_text form_container">
                      {{ currentBrandData?.tagLine }}
              </div>
            <div class="tabs-new-updated" *ngIf="tenantList?.length > 0">
                      <button class="tabs_button" *ngFor="let item of tenantList; let i=index" (click)="ssologin(item)">
                              {{item.tenantName}}
                      </button>
              </div>

              <div class="content_text form_container" *ngIf="tenantList?.length > 0">
                      OR
                  </div>
              <form class="form_container" [formGroup]="signInForm">
                  <div class="form_container_heading">
                          <h4>User Login</h4>
                  </div>
                  <div class="form_fields">
                          <mat-form-field>
                                  <input matInput placeholder="Email" formControlName="usn" (keyup.enter)="onSubmit()" [ngClass]="{ 'is-invalid': submitted && f.usn.errors }">
                                  <mat-error *ngIf="submitted && f.usn.errors">
                                          <mat-error *ngIf="f.usn.errors.required"><i class="fa fa-exclamation-circle"
                                                  aria-hidden="true"></i>Email is required</mat-error>
                                          <mat-error *ngIf="f.usn.errors.email"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email must be a valid email address</mat-error>
                                      </mat-error>
                          </mat-form-field>

                  </div>
                    <div class="form_fields">
                          <mat-form-field>
                                  <input matInput placeholder="Password"  (keyup.enter)="onSubmit()" [type]="hide ? 'password' : 'text'" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                  <button mat-icon-button matSuffix  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                                  <mat-error *ngIf="submitted && f.password.errors">
                                          <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle"
                                                  aria-hidden="true"></i> Password is required</mat-error>
                                          <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle"
                                                  aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                                      </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="form_fields_checkbox">
                       <!-- [(ngModel)]="remember_me"  formControlName="remember_me" -->
                          <mat-checkbox [(ngModel)]="remember_me" formControlName="remember_me">Remember me</mat-checkbox>
                          <span class="already-have-an-acco" (click)='forgotPass()'>Forgot Password?</span>
                    </div>
                    <!-- <div class="marginTop40">
                      <p>Already have an account ?<span class="already-have-an-acco"  (click)="goToSignup()"> Sign In</span></p>
                    </div> -->
                    <div class="form_container_submit">
                          <button class="sign-up signUpBtn" (click)="onSubmit()">Login</button>
                            <ng-container *ngIf="ASP.getDomainBasedTenant()?.organizationType == 2">&nbsp; OR &nbsp;</ng-container>
                          <button *ngIf="ASP.getDomainBasedTenant()?.organizationType == 2" class="ml-1 sign-up signUpBtn" (click)="goToSignup()">Sign up</button>
                    </div>
              </form>

      </div>
      <div class="footer_container">
              <!-- <a [routerLink]="[ '/', 'privacy' ]" routerLinkActive="active">Privacy Policy</a> -->
              <a class="privacy_link" [href]="currentBrandData?.termsandcondition" target="_blank">Privacy Policy</a>
      </div>
  </div>

</div>


<!-- <div class="popup-modal-window" *ngIf="isError">
      <div class="popDiv show" [ngClass]="{'show-popup-container': isError}">
          <div class="modal-header">
                  <h5 class="modal-title" *ngIf="isLoginError"  id="exampleModalLiveLabel">Login Info</h5>
                  <h5 class="modal-title" *ngIf="!isLoginError" id="exampleModalLiveLabel">Internal Error</h5>
          </div>
          <div class="modal-body">
              <p>{{errorMsg}}</p>
          </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Okay</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
</div> -->
<div class="popup-modal-window" *ngIf="isError">
<div class="popDiv show" [ngClass]="{'show-popup-container': isError}">
    <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLiveLabel">Login Info</h5>
    </div>
    <div class="modal-body">
        <p>{{errorMsg}}</p>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Okay</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
</div>
</div>
