.BHcontainer{
.bhCard{
    padding: 0;
}

table{
    width: 100%;
}

.tableRow{
    height: 60px;
    text-align: center !important;
    font-size: 16px !important;
}

.tableRow:nth-child(even){
    background: #f3f2f2;
}

.accept{
    background: #4bda8e;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
}

.reject{
    background: #fd5c5c;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.srno{
    width: 100px;
}

.name{
    min-width: 250px;
}

.status{
    width: 200px;
}

.acceptTxt{
    margin: auto;
    color: #4bda8e;
}

.rejectTxt{
    margin: auto;
    color: #ff4a4a;
}
}