
<div class="BHcontainer">
  <mat-card class="bhCard">
    <table>
      <tr class="tableRow">
        <th>ECN.</th>
        <th>Name</th>
        <th>Workflow</th>
        <th>Status</th>
      </tr>
      <tr class="tableRow" *ngFor="let item of nominees; let i = index">
          <td class="srno">{{item.userName}}</td>
          <td class="name">{{item.fullname}}</td>
          <td class="name">{{item.workflowName}}</td>
          <td class="status">
            <div *ngIf="item.status == 'NULL'">
                <button class="accept" (click)="updateStatus(item,1)">
                    <i class="fas fa-check"></i>
                </button>
                <button class="reject" (click)="updateStatus(item,0)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            
            <div *ngIf="item.status === 1">
              <p class="acceptTxt">Accepted</p>
            </div>

            <div *ngIf="item.status === 0">
              <p class="rejectTxt">Rejected</p>
            </div>
          </td>
        </tr>
    </table>
  </mat-card>
</div>
