.materialize-red.lighten-5 {
	background-color: #fdeaeb !important
}

.materialize-red-text.text-lighten-5 {
	color: #fdeaeb !important
}

.materialize-red.lighten-4 {
	background-color: #f8c1c3 !important
}

.materialize-red-text.text-lighten-4 {
	color: #f8c1c3 !important
}

.materialize-red.lighten-3 {
	background-color: #f3989b !important
}

.materialize-red-text.text-lighten-3 {
	color: #f3989b !important
}

.materialize-red.lighten-2 {
	background-color: #ee6e73 !important
}

.materialize-red-text.text-lighten-2 {
	color: #ee6e73 !important
}

.materialize-red.lighten-1 {
	background-color: #ea454b !important
}

.materialize-red-text.text-lighten-1 {
	color: #ea454b !important
}

.materialize-red {
	background-color: #e51c23 !important
}

.materialize-red-text {
	color: #e51c23 !important
}

.materialize-red.darken-1 {
	background-color: #d0181e !important
}

.materialize-red-text.text-darken-1 {
	color: #d0181e !important
}

.materialize-red.darken-2 {
	background-color: #b9151b !important
}

.materialize-red-text.text-darken-2 {
	color: #b9151b !important
}

.materialize-red.darken-3 {
	background-color: #a21318 !important
}

.materialize-red-text.text-darken-3 {
	color: #a21318 !important
}

.materialize-red.darken-4 {
	background-color: #8b1014 !important
}

.materialize-red-text.text-darken-4 {
	color: #8b1014 !important
}

.red.lighten-5 {
	background-color: #FFEBEE !important
}

.red-text.text-lighten-5 {
	color: #FFEBEE !important
}

.red.lighten-4 {
	background-color: #FFCDD2 !important
}

.red-text.text-lighten-4 {
	color: #FFCDD2 !important
}

.red.lighten-3 {
	background-color: #EF9A9A !important
}

.red-text.text-lighten-3 {
	color: #EF9A9A !important
}

.red.lighten-2 {
	background-color: #E57373 !important
}

.red-text.text-lighten-2 {
	color: #E57373 !important
}

.red.lighten-1 {
	background-color: #EF5350 !important
}

.red-text.text-lighten-1 {
	color: #EF5350 !important
}

.red {
	background-color: #F44336 !important
}

.red-text {
	color: #F44336 !important
}

.red.darken-1 {
	background-color: #E53935 !important
}

.red-text.text-darken-1 {
	color: #E53935 !important
}

.red.darken-2 {
	background-color: #D32F2F !important
}

.red-text.text-darken-2 {
	color: #D32F2F !important
}

.red.darken-3 {
	background-color: #C62828 !important
}

.red-text.text-darken-3 {
	color: #C62828 !important
}

.red.darken-4 {
	background-color: #B71C1C !important
}

.red-text.text-darken-4 {
	color: #B71C1C !important
}

.red.accent-1 {
	background-color: #FF8A80 !important
}

.red-text.text-accent-1 {
	color: #FF8A80 !important
}

.red.accent-2 {
	background-color: #FF5252 !important
}

.red-text.text-accent-2 {
	color: #FF5252 !important
}

.red.accent-3 {
	background-color: #FF1744 !important
}

.red-text.text-accent-3 {
	color: #FF1744 !important
}

.red.accent-4 {
	background-color: #D50000 !important
}

.red-text.text-accent-4 {
	color: #D50000 !important
}

.pink.lighten-5 {
	background-color: #fce4ec !important
}

.pink-text.text-lighten-5 {
	color: #fce4ec !important
}

.pink.lighten-4 {
	background-color: #f8bbd0 !important
}

.pink-text.text-lighten-4 {
	color: #f8bbd0 !important
}

.pink.lighten-3 {
	background-color: #f48fb1 !important
}

.pink-text.text-lighten-3 {
	color: #f48fb1 !important
}

.pink.lighten-2 {
	background-color: #f06292 !important
}

.pink-text.text-lighten-2 {
	color: #f06292 !important
}

.pink.lighten-1 {
	background-color: #ec407a !important
}

.pink-text.text-lighten-1 {
	color: #ec407a !important
}

.pink {
	background-color: #e91e63 !important
}

.pink-text {
	color: #e91e63 !important
}

.pink.darken-1 {
	background-color: #d81b60 !important
}

.pink-text.text-darken-1 {
	color: #d81b60 !important
}

.pink.darken-2 {
	background-color: #c2185b !important
}

.pink-text.text-darken-2 {
	color: #c2185b !important
}

.pink.darken-3 {
	background-color: #ad1457 !important
}

.pink-text.text-darken-3 {
	color: #ad1457 !important
}

.pink.darken-4 {
	background-color: #880e4f !important
}

.pink-text.text-darken-4 {
	color: #880e4f !important
}

.pink.accent-1 {
	background-color: #ff80ab !important
}

.pink-text.text-accent-1 {
	color: #ff80ab !important
}

.pink.accent-2 {
	background-color: #ff4081 !important
}

.pink-text.text-accent-2 {
	color: #ff4081 !important
}

.pink.accent-3 {
	background-color: #f50057 !important
}

.pink-text.text-accent-3 {
	color: #f50057 !important
}

.pink.accent-4 {
	background-color: #c51162 !important
}

.pink-text.text-accent-4 {
	color: #c51162 !important
}

.purple.lighten-5 {
	background-color: #f3e5f5 !important
}

.purple-text.text-lighten-5 {
	color: #f3e5f5 !important
}

.purple.lighten-4 {
	background-color: #e1bee7 !important
}

.purple-text.text-lighten-4 {
	color: #e1bee7 !important
}

.purple.lighten-3 {
	background-color: #ce93d8 !important
}

.purple-text.text-lighten-3 {
	color: #ce93d8 !important
}

.purple.lighten-2 {
	background-color: #ba68c8 !important
}

.purple-text.text-lighten-2 {
	color: #ba68c8 !important
}

.purple.lighten-1 {
	background-color: #ab47bc !important
}

.purple-text.text-lighten-1 {
	color: #ab47bc !important
}

.purple {
	background-color: #9c27b0 !important
}

.purple-text {
	color: #9c27b0 !important
}

.purple.darken-1 {
	background-color: #8e24aa !important
}

.purple-text.text-darken-1 {
	color: #8e24aa !important
}

.purple.darken-2 {
	background-color: #7b1fa2 !important
}

.purple-text.text-darken-2 {
	color: #7b1fa2 !important
}

.purple.darken-3 {
	background-color: #6a1b9a !important
}

.purple-text.text-darken-3 {
	color: #6a1b9a !important
}

.purple.darken-4 {
	background-color: #4a148c !important
}

.purple-text.text-darken-4 {
	color: #4a148c !important
}

.purple.accent-1 {
	background-color: #ea80fc !important
}

.purple-text.text-accent-1 {
	color: #ea80fc !important
}

.purple.accent-2 {
	background-color: #e040fb !important
}

.purple-text.text-accent-2 {
	color: #e040fb !important
}

.purple.accent-3 {
	background-color: #d500f9 !important
}

.purple-text.text-accent-3 {
	color: #d500f9 !important
}

.purple.accent-4 {
	background-color: #a0f !important
}

.purple-text.text-accent-4 {
	color: #a0f !important
}

.deep-purple.lighten-5 {
	background-color: #ede7f6 !important
}

.deep-purple-text.text-lighten-5 {
	color: #ede7f6 !important
}

.deep-purple.lighten-4 {
	background-color: #d1c4e9 !important
}

.deep-purple-text.text-lighten-4 {
	color: #d1c4e9 !important
}

.deep-purple.lighten-3 {
	background-color: #b39ddb !important
}

.deep-purple-text.text-lighten-3 {
	color: #b39ddb !important
}

.deep-purple.lighten-2 {
	background-color: #9575cd !important
}

.deep-purple-text.text-lighten-2 {
	color: #9575cd !important
}

.deep-purple.lighten-1 {
	background-color: #7e57c2 !important
}

.deep-purple-text.text-lighten-1 {
	color: #7e57c2 !important
}

.deep-purple {
	background-color: #673ab7 !important
}

.deep-purple-text {
	color: #673ab7 !important
}

.deep-purple.darken-1 {
	background-color: #5e35b1 !important
}

.deep-purple-text.text-darken-1 {
	color: #5e35b1 !important
}

.deep-purple.darken-2 {
	background-color: #512da8 !important
}

.deep-purple-text.text-darken-2 {
	color: #512da8 !important
}

.deep-purple.darken-3 {
	background-color: #4527a0 !important
}

.deep-purple-text.text-darken-3 {
	color: #4527a0 !important
}

.deep-purple.darken-4 {
	background-color: #311b92 !important
}

.deep-purple-text.text-darken-4 {
	color: #311b92 !important
}

.deep-purple.accent-1 {
	background-color: #b388ff !important
}

.deep-purple-text.text-accent-1 {
	color: #b388ff !important
}

.deep-purple.accent-2 {
	background-color: #7c4dff !important
}

.deep-purple-text.text-accent-2 {
	color: #7c4dff !important
}

.deep-purple.accent-3 {
	background-color: #651fff !important
}

.deep-purple-text.text-accent-3 {
	color: #651fff !important
}

.deep-purple.accent-4 {
	background-color: #6200ea !important
}

.deep-purple-text.text-accent-4 {
	color: #6200ea !important
}

.indigo.lighten-5 {
	background-color: #e8eaf6 !important
}

.indigo-text.text-lighten-5 {
	color: #e8eaf6 !important
}

.indigo.lighten-4 {
	background-color: #c5cae9 !important
}

.indigo-text.text-lighten-4 {
	color: #c5cae9 !important
}

.indigo.lighten-3 {
	background-color: #9fa8da !important
}

.indigo-text.text-lighten-3 {
	color: #9fa8da !important
}

.indigo.lighten-2 {
	background-color: #7986cb !important
}

.indigo-text.text-lighten-2 {
	color: #7986cb !important
}

.indigo.lighten-1 {
	background-color: #5c6bc0 !important
}

.indigo-text.text-lighten-1 {
	color: #5c6bc0 !important
}

.indigo {
	background-color: #3f51b5 !important
}

.indigo-text {
	color: #3f51b5 !important
}

.indigo.darken-1 {
	background-color: #3949ab !important
}

.indigo-text.text-darken-1 {
	color: #3949ab !important
}

.indigo.darken-2 {
	background-color: #303f9f !important
}

.indigo-text.text-darken-2 {
	color: #303f9f !important
}

.indigo.darken-3 {
	background-color: #283593 !important
}

.indigo-text.text-darken-3 {
	color: #283593 !important
}

.indigo.darken-4 {
	background-color: #1a237e !important
}

.indigo-text.text-darken-4 {
	color: #1a237e !important
}

.indigo.accent-1 {
	background-color: #8c9eff !important
}

.indigo-text.text-accent-1 {
	color: #8c9eff !important
}

.indigo.accent-2 {
	background-color: #536dfe !important
}

.indigo-text.text-accent-2 {
	color: #536dfe !important
}

.indigo.accent-3 {
	background-color: #3d5afe !important
}

.indigo-text.text-accent-3 {
	color: #3d5afe !important
}

.indigo.accent-4 {
	background-color: #304ffe !important
}

.indigo-text.text-accent-4 {
	color: #304ffe !important
}

.blue.lighten-5 {
	background-color: #E3F2FD !important
}

.blue-text.text-lighten-5 {
	color: #E3F2FD !important
}

.blue.lighten-4 {
	background-color: #BBDEFB !important
}

.blue-text.text-lighten-4 {
	color: #BBDEFB !important
}

.blue.lighten-3 {
	background-color: #90CAF9 !important
}

.blue-text.text-lighten-3 {
	color: #90CAF9 !important
}

.blue.lighten-2 {
	background-color: #64B5F6 !important
}

.blue-text.text-lighten-2 {
	color: #64B5F6 !important
}

.blue.lighten-1 {
	background-color: #42A5F5 !important
}

.blue-text.text-lighten-1 {
	color: #42A5F5 !important
}

.blue {
	background-color: #2196F3 !important
}

.blue-text {
	color: #2196F3 !important
}

.blue.darken-1 {
	background-color: #1E88E5 !important
}

.blue-text.text-darken-1 {
	color: #1E88E5 !important
}

.blue.darken-2 {
	background-color: #1976D2 !important
}

.blue-text.text-darken-2 {
	color: #1976D2 !important
}

.blue.darken-3 {
	background-color: #1565C0 !important
}

.blue-text.text-darken-3 {
	color: #1565C0 !important
}

.blue.darken-4 {
	background-color: #0D47A1 !important
}

.blue-text.text-darken-4 {
	color: #0D47A1 !important
}

.blue.accent-1 {
	background-color: #82B1FF !important
}

.blue-text.text-accent-1 {
	color: #82B1FF !important
}

.blue.accent-2 {
	background-color: #448AFF !important
}

.blue-text.text-accent-2 {
	color: #448AFF !important
}

.blue.accent-3 {
	background-color: #2979FF !important
}

.blue-text.text-accent-3 {
	color: #2979FF !important
}

.blue.accent-4 {
	background-color: #2962FF !important
}

.blue-text.text-accent-4 {
	color: #2962FF !important
}

.light-blue.lighten-5 {
	background-color: #e1f5fe !important
}

.light-blue-text.text-lighten-5 {
	color: #e1f5fe !important
}

.light-blue.lighten-4 {
	background-color: #b3e5fc !important
}

.light-blue-text.text-lighten-4 {
	color: #b3e5fc !important
}

.light-blue.lighten-3 {
	background-color: #81d4fa !important
}

.light-blue-text.text-lighten-3 {
	color: #81d4fa !important
}

.light-blue.lighten-2 {
	background-color: #4fc3f7 !important
}

.light-blue-text.text-lighten-2 {
	color: #4fc3f7 !important
}

.light-blue.lighten-1 {
	background-color: #29b6f6 !important
}

.light-blue-text.text-lighten-1 {
	color: #29b6f6 !important
}

.light-blue {
	background-color: #03a9f4 !important
}

.light-blue-text {
	color: #03a9f4 !important
}

.light-blue.darken-1 {
	background-color: #039be5 !important
}

.light-blue-text.text-darken-1 {
	color: #039be5 !important
}

.light-blue.darken-2 {
	background-color: #0288d1 !important
}

.light-blue-text.text-darken-2 {
	color: #0288d1 !important
}

.light-blue.darken-3 {
	background-color: #0277bd !important
}

.light-blue-text.text-darken-3 {
	color: #0277bd !important
}

.light-blue.darken-4 {
	background-color: #01579b !important
}

.light-blue-text.text-darken-4 {
	color: #01579b !important
}

.light-blue.accent-1 {
	background-color: #80d8ff !important
}

.light-blue-text.text-accent-1 {
	color: #80d8ff !important
}

.light-blue.accent-2 {
	background-color: #40c4ff !important
}

.light-blue-text.text-accent-2 {
	color: #40c4ff !important
}

.light-blue.accent-3 {
	background-color: #00b0ff !important
}

.light-blue-text.text-accent-3 {
	color: #00b0ff !important
}

.light-blue.accent-4 {
	background-color: #0091ea !important
}

.light-blue-text.text-accent-4 {
	color: #0091ea !important
}

.cyan.lighten-5 {
	background-color: #e0f7fa !important
}

.cyan-text.text-lighten-5 {
	color: #e0f7fa !important
}

.cyan.lighten-4 {
	background-color: #b2ebf2 !important
}

.cyan-text.text-lighten-4 {
	color: #b2ebf2 !important
}

.cyan.lighten-3 {
	background-color: #80deea !important
}

.cyan-text.text-lighten-3 {
	color: #80deea !important
}

.cyan.lighten-2 {
	background-color: #4dd0e1 !important
}

.cyan-text.text-lighten-2 {
	color: #4dd0e1 !important
}

.cyan.lighten-1 {
	background-color: #26c6da !important
}

.cyan-text.text-lighten-1 {
	color: #26c6da !important
}

.cyan {
	background-color: #00bcd4 !important
}

.cyan-text {
	color: #00bcd4 !important
}

.cyan.darken-1 {
	background-color: #00acc1 !important
}

.cyan-text.text-darken-1 {
	color: #00acc1 !important
}

.cyan.darken-2 {
	background-color: #0097a7 !important
}

.cyan-text.text-darken-2 {
	color: #0097a7 !important
}

.cyan.darken-3 {
	background-color: #00838f !important
}

.cyan-text.text-darken-3 {
	color: #00838f !important
}

.cyan.darken-4 {
	background-color: #006064 !important
}

.cyan-text.text-darken-4 {
	color: #006064 !important
}

.cyan.accent-1 {
	background-color: #84ffff !important
}

.cyan-text.text-accent-1 {
	color: #84ffff !important
}

.cyan.accent-2 {
	background-color: #18ffff !important
}

.cyan-text.text-accent-2 {
	color: #18ffff !important
}

.cyan.accent-3 {
	background-color: #00e5ff !important
}

.cyan-text.text-accent-3 {
	color: #00e5ff !important
}

.cyan.accent-4 {
	background-color: #00b8d4 !important
}

.cyan-text.text-accent-4 {
	color: #00b8d4 !important
}

.teal.lighten-5 {
	background-color: #e0f2f1 !important
}

.teal-text.text-lighten-5 {
	color: #e0f2f1 !important
}

.teal.lighten-4 {
	background-color: #b2dfdb !important
}

.teal-text.text-lighten-4 {
	color: #b2dfdb !important
}

.teal.lighten-3 {
	background-color: #80cbc4 !important
}

.teal-text.text-lighten-3 {
	color: #80cbc4 !important
}

.teal.lighten-2 {
	background-color: #4db6ac !important
}

.teal-text.text-lighten-2 {
	color: #4db6ac !important
}

.teal.lighten-1 {
	background-color: #26a69a !important
}

.teal-text.text-lighten-1 {
	color: #26a69a !important
}

.teal {
	background-color: #009688 !important
}

.teal-text {
	color: #009688 !important
}

.teal.darken-1 {
	background-color: #00897b !important
}

.teal-text.text-darken-1 {
	color: #00897b !important
}

.teal.darken-2 {
	background-color: #00796b !important
}

.teal-text.text-darken-2 {
	color: #00796b !important
}

.teal.darken-3 {
	background-color: #00695c !important
}

.teal-text.text-darken-3 {
	color: #00695c !important
}

.teal.darken-4 {
	background-color: #004d40 !important
}

.teal-text.text-darken-4 {
	color: #004d40 !important
}

.teal.accent-1 {
	background-color: #a7ffeb !important
}

.teal-text.text-accent-1 {
	color: #a7ffeb !important
}

.teal.accent-2 {
	background-color: #64ffda !important
}

.teal-text.text-accent-2 {
	color: #64ffda !important
}

.teal.accent-3 {
	background-color: #1de9b6 !important
}

.teal-text.text-accent-3 {
	color: #1de9b6 !important
}

.teal.accent-4 {
	background-color: #00bfa5 !important
}

.teal-text.text-accent-4 {
	color: #00bfa5 !important
}

.green.lighten-5 {
	background-color: #E8F5E9 !important
}

.green-text.text-lighten-5 {
	color: #E8F5E9 !important
}

.green.lighten-4 {
	background-color: #C8E6C9 !important
}

.green-text.text-lighten-4 {
	color: #C8E6C9 !important
}

.green.lighten-3 {
	background-color: #A5D6A7 !important
}

.green-text.text-lighten-3 {
	color: #A5D6A7 !important
}

.green.lighten-2 {
	background-color: #81C784 !important
}

.green-text.text-lighten-2 {
	color: #81C784 !important
}

.green.lighten-1 {
	background-color: #66BB6A !important
}

.green-text.text-lighten-1 {
	color: #66BB6A !important
}

.green {
	background-color: #4CAF50 !important
}

.green-text {
	color: #4CAF50 !important
}

.green.darken-1 {
	background-color: #43A047 !important
}

.green-text.text-darken-1 {
	color: #43A047 !important
}

.green.darken-2 {
	background-color: #388E3C !important
}

.green-text.text-darken-2 {
	color: #388E3C !important
}

.green.darken-3 {
	background-color: #2E7D32 !important
}

.green-text.text-darken-3 {
	color: #2E7D32 !important
}

.green.darken-4 {
	background-color: #1B5E20 !important
}

.green-text.text-darken-4 {
	color: #1B5E20 !important
}

.green.accent-1 {
	background-color: #B9F6CA !important
}

.green-text.text-accent-1 {
	color: #B9F6CA !important
}

.green.accent-2 {
	background-color: #69F0AE !important
}

.green-text.text-accent-2 {
	color: #69F0AE !important
}

.green.accent-3 {
	background-color: #00E676 !important
}

.green-text.text-accent-3 {
	color: #00E676 !important
}

.green.accent-4 {
	background-color: #00C853 !important
}

.green-text.text-accent-4 {
	color: #00C853 !important
}

.light-green.lighten-5 {
	background-color: #f1f8e9 !important
}

.light-green-text.text-lighten-5 {
	color: #f1f8e9 !important
}

.light-green.lighten-4 {
	background-color: #dcedc8 !important
}

.light-green-text.text-lighten-4 {
	color: #dcedc8 !important
}

.light-green.lighten-3 {
	background-color: #c5e1a5 !important
}

.light-green-text.text-lighten-3 {
	color: #c5e1a5 !important
}

.light-green.lighten-2 {
	background-color: #aed581 !important
}

.light-green-text.text-lighten-2 {
	color: #aed581 !important
}

.light-green.lighten-1 {
	background-color: #9ccc65 !important
}

.light-green-text.text-lighten-1 {
	color: #9ccc65 !important
}

.light-green {
	background-color: #8bc34a !important
}

.light-green-text {
	color: #8bc34a !important
}

.light-green.darken-1 {
	background-color: #7cb342 !important
}

.light-green-text.text-darken-1 {
	color: #7cb342 !important
}

.light-green.darken-2 {
	background-color: #689f38 !important
}

.light-green-text.text-darken-2 {
	color: #689f38 !important
}

.light-green.darken-3 {
	background-color: #558b2f !important
}

.light-green-text.text-darken-3 {
	color: #558b2f !important
}

.light-green.darken-4 {
	background-color: #33691e !important
}

.light-green-text.text-darken-4 {
	color: #33691e !important
}

.light-green.accent-1 {
	background-color: #ccff90 !important
}

.light-green-text.text-accent-1 {
	color: #ccff90 !important
}

.light-green.accent-2 {
	background-color: #b2ff59 !important
}

.light-green-text.text-accent-2 {
	color: #b2ff59 !important
}

.light-green.accent-3 {
	background-color: #76ff03 !important
}

.light-green-text.text-accent-3 {
	color: #76ff03 !important
}

.light-green.accent-4 {
	background-color: #64dd17 !important
}

.light-green-text.text-accent-4 {
	color: #64dd17 !important
}

.lime.lighten-5 {
	background-color: #f9fbe7 !important
}

.lime-text.text-lighten-5 {
	color: #f9fbe7 !important
}

.lime.lighten-4 {
	background-color: #f0f4c3 !important
}

.lime-text.text-lighten-4 {
	color: #f0f4c3 !important
}

.lime.lighten-3 {
	background-color: #e6ee9c !important
}

.lime-text.text-lighten-3 {
	color: #e6ee9c !important
}

.lime.lighten-2 {
	background-color: #dce775 !important
}

.lime-text.text-lighten-2 {
	color: #dce775 !important
}

.lime.lighten-1 {
	background-color: #d4e157 !important
}

.lime-text.text-lighten-1 {
	color: #d4e157 !important
}

.lime {
	background-color: #cddc39 !important
}

.lime-text {
	color: #cddc39 !important
}

.lime.darken-1 {
	background-color: #c0ca33 !important
}

.lime-text.text-darken-1 {
	color: #c0ca33 !important
}

.lime.darken-2 {
	background-color: #afb42b !important
}

.lime-text.text-darken-2 {
	color: #afb42b !important
}

.lime.darken-3 {
	background-color: #9e9d24 !important
}

.lime-text.text-darken-3 {
	color: #9e9d24 !important
}

.lime.darken-4 {
	background-color: #827717 !important
}

.lime-text.text-darken-4 {
	color: #827717 !important
}

.lime.accent-1 {
	background-color: #f4ff81 !important
}

.lime-text.text-accent-1 {
	color: #f4ff81 !important
}

.lime.accent-2 {
	background-color: #eeff41 !important
}

.lime-text.text-accent-2 {
	color: #eeff41 !important
}

.lime.accent-3 {
	background-color: #c6ff00 !important
}

.lime-text.text-accent-3 {
	color: #c6ff00 !important
}

.lime.accent-4 {
	background-color: #aeea00 !important
}

.lime-text.text-accent-4 {
	color: #aeea00 !important
}

.yellow.lighten-5 {
	background-color: #fffde7 !important
}

.yellow-text.text-lighten-5 {
	color: #fffde7 !important
}

.yellow.lighten-4 {
	background-color: #fff9c4 !important
}

.yellow-text.text-lighten-4 {
	color: #fff9c4 !important
}

.yellow.lighten-3 {
	background-color: #fff59d !important
}

.yellow-text.text-lighten-3 {
	color: #fff59d !important
}

.yellow.lighten-2 {
	background-color: #fff176 !important
}

.yellow-text.text-lighten-2 {
	color: #fff176 !important
}

.yellow.lighten-1 {
	background-color: #ffee58 !important
}

.yellow-text.text-lighten-1 {
	color: #ffee58 !important
}

.yellow {
	background-color: #ffeb3b !important
}

.yellow-text {
	color: #ffeb3b !important
}

.yellow.darken-1 {
	background-color: #fdd835 !important
}

.yellow-text.text-darken-1 {
	color: #fdd835 !important
}

.yellow.darken-2 {
	background-color: #fbc02d !important
}

.yellow-text.text-darken-2 {
	color: #fbc02d !important
}

.yellow.darken-3 {
	background-color: #f9a825 !important
}

.yellow-text.text-darken-3 {
	color: #f9a825 !important
}

.yellow.darken-4 {
	background-color: #f57f17 !important
}

.yellow-text.text-darken-4 {
	color: #f57f17 !important
}

.yellow.accent-1 {
	background-color: #ffff8d !important
}

.yellow-text.text-accent-1 {
	color: #ffff8d !important
}

.yellow.accent-2 {
	background-color: #ff0 !important
}

.yellow-text.text-accent-2 {
	color: #ff0 !important
}

.yellow.accent-3 {
	background-color: #ffea00 !important
}

.yellow-text.text-accent-3 {
	color: #ffea00 !important
}

.yellow.accent-4 {
	background-color: #ffd600 !important
}

.yellow-text.text-accent-4 {
	color: #ffd600 !important
}

.amber.lighten-5 {
	background-color: #fff8e1 !important
}

.amber-text.text-lighten-5 {
	color: #fff8e1 !important
}

.amber.lighten-4 {
	background-color: #ffecb3 !important
}

.amber-text.text-lighten-4 {
	color: #ffecb3 !important
}

.amber.lighten-3 {
	background-color: #ffe082 !important
}

.amber-text.text-lighten-3 {
	color: #ffe082 !important
}

.amber.lighten-2 {
	background-color: #ffd54f !important
}

.amber-text.text-lighten-2 {
	color: #ffd54f !important
}

.amber.lighten-1 {
	background-color: #ffca28 !important
}

.amber-text.text-lighten-1 {
	color: #ffca28 !important
}

.amber {
	background-color: #ffc107 !important
}

.amber-text {
	color: #ffc107 !important
}

.amber.darken-1 {
	background-color: #ffb300 !important
}

.amber-text.text-darken-1 {
	color: #ffb300 !important
}

.amber.darken-2 {
	background-color: #ffa000 !important
}

.amber-text.text-darken-2 {
	color: #ffa000 !important
}

.amber.darken-3 {
	background-color: #ff8f00 !important
}

.amber-text.text-darken-3 {
	color: #ff8f00 !important
}

.amber.darken-4 {
	background-color: #ff6f00 !important
}

.amber-text.text-darken-4 {
	color: #ff6f00 !important
}

.amber.accent-1 {
	background-color: #ffe57f !important
}

.amber-text.text-accent-1 {
	color: #ffe57f !important
}

.amber.accent-2 {
	background-color: #ffd740 !important
}

.amber-text.text-accent-2 {
	color: #ffd740 !important
}

.amber.accent-3 {
	background-color: #ffc400 !important
}

.amber-text.text-accent-3 {
	color: #ffc400 !important
}

.amber.accent-4 {
	background-color: #ffab00 !important
}

.amber-text.text-accent-4 {
	color: #ffab00 !important
}

.orange.lighten-5 {
	background-color: #fff3e0 !important
}

.orange-text.text-lighten-5 {
	color: #fff3e0 !important
}

.orange.lighten-4 {
	background-color: #ffe0b2 !important
}

.orange-text.text-lighten-4 {
	color: #ffe0b2 !important
}

.orange.lighten-3 {
	background-color: #ffcc80 !important
}

.orange-text.text-lighten-3 {
	color: #ffcc80 !important
}

.orange.lighten-2 {
	background-color: #ffb74d !important
}

.orange-text.text-lighten-2 {
	color: #ffb74d !important
}

.orange.lighten-1 {
	background-color: #ffa726 !important
}

.orange-text.text-lighten-1 {
	color: #ffa726 !important
}

.orange {
	background-color: #ff9800 !important
}

.orange-text {
	color: #ff9800 !important
}

.orange.darken-1 {
	background-color: #fb8c00 !important
}

.orange-text.text-darken-1 {
	color: #fb8c00 !important
}

.orange.darken-2 {
	background-color: #f57c00 !important
}

.orange-text.text-darken-2 {
	color: #f57c00 !important
}

.orange.darken-3 {
	background-color: #ef6c00 !important
}

.orange-text.text-darken-3 {
	color: #ef6c00 !important
}

.orange.darken-4 {
	background-color: #e65100 !important
}

.orange-text.text-darken-4 {
	color: #e65100 !important
}

.orange.accent-1 {
	background-color: #ffd180 !important
}

.orange-text.text-accent-1 {
	color: #ffd180 !important
}

.orange.accent-2 {
	background-color: #ffab40 !important
}

.orange-text.text-accent-2 {
	color: #ffab40 !important
}

.orange.accent-3 {
	background-color: #ff9100 !important
}

.orange-text.text-accent-3 {
	color: #ff9100 !important
}

.orange.accent-4 {
	background-color: #ff6d00 !important
}

.orange-text.text-accent-4 {
	color: #ff6d00 !important
}

.deep-orange.lighten-5 {
	background-color: #fbe9e7 !important
}

.deep-orange-text.text-lighten-5 {
	color: #fbe9e7 !important
}

.deep-orange.lighten-4 {
	background-color: #ffccbc !important
}

.deep-orange-text.text-lighten-4 {
	color: #ffccbc !important
}

.deep-orange.lighten-3 {
	background-color: #ffab91 !important
}

.deep-orange-text.text-lighten-3 {
	color: #ffab91 !important
}

.deep-orange.lighten-2 {
	background-color: #ff8a65 !important
}

.deep-orange-text.text-lighten-2 {
	color: #ff8a65 !important
}

.deep-orange.lighten-1 {
	background-color: #ff7043 !important
}

.deep-orange-text.text-lighten-1 {
	color: #ff7043 !important
}

.deep-orange {
	background-color: #ff5722 !important
}

.deep-orange-text {
	color: #ff5722 !important
}

.deep-orange.darken-1 {
	background-color: #f4511e !important
}

.deep-orange-text.text-darken-1 {
	color: #f4511e !important
}

.deep-orange.darken-2 {
	background-color: #e64a19 !important
}

.deep-orange-text.text-darken-2 {
	color: #e64a19 !important
}

.deep-orange.darken-3 {
	background-color: #d84315 !important
}

.deep-orange-text.text-darken-3 {
	color: #d84315 !important
}

.deep-orange.darken-4 {
	background-color: #bf360c !important
}

.deep-orange-text.text-darken-4 {
	color: #bf360c !important
}

.deep-orange.accent-1 {
	background-color: #ff9e80 !important
}

.deep-orange-text.text-accent-1 {
	color: #ff9e80 !important
}

.deep-orange.accent-2 {
	background-color: #ff6e40 !important
}

.deep-orange-text.text-accent-2 {
	color: #ff6e40 !important
}

.deep-orange.accent-3 {
	background-color: #ff3d00 !important
}

.deep-orange-text.text-accent-3 {
	color: #ff3d00 !important
}

.deep-orange.accent-4 {
	background-color: #dd2c00 !important
}

.deep-orange-text.text-accent-4 {
	color: #dd2c00 !important
}

.brown.lighten-5 {
	background-color: #efebe9 !important
}

.brown-text.text-lighten-5 {
	color: #efebe9 !important
}

.brown.lighten-4 {
	background-color: #d7ccc8 !important
}

.brown-text.text-lighten-4 {
	color: #d7ccc8 !important
}

.brown.lighten-3 {
	background-color: #bcaaa4 !important
}

.brown-text.text-lighten-3 {
	color: #bcaaa4 !important
}

.brown.lighten-2 {
	background-color: #a1887f !important
}

.brown-text.text-lighten-2 {
	color: #a1887f !important
}

.brown.lighten-1 {
	background-color: #8d6e63 !important
}

.brown-text.text-lighten-1 {
	color: #8d6e63 !important
}

.brown {
	background-color: #795548 !important
}

.brown-text {
	color: #795548 !important
}

.brown.darken-1 {
	background-color: #6d4c41 !important
}

.brown-text.text-darken-1 {
	color: #6d4c41 !important
}

.brown.darken-2 {
	background-color: #5d4037 !important
}

.brown-text.text-darken-2 {
	color: #5d4037 !important
}

.brown.darken-3 {
	background-color: #4e342e !important
}

.brown-text.text-darken-3 {
	color: #4e342e !important
}

.brown.darken-4 {
	background-color: #3e2723 !important
}

.brown-text.text-darken-4 {
	color: #3e2723 !important
}

.blue-grey.lighten-5 {
	background-color: #eceff1 !important
}

.blue-grey-text.text-lighten-5 {
	color: #eceff1 !important
}

.blue-grey.lighten-4 {
	background-color: #cfd8dc !important
}

.blue-grey-text.text-lighten-4 {
	color: #cfd8dc !important
}

.blue-grey.lighten-3 {
	background-color: #b0bec5 !important
}

.blue-grey-text.text-lighten-3 {
	color: #b0bec5 !important
}

.blue-grey.lighten-2 {
	background-color: #90a4ae !important
}

.blue-grey-text.text-lighten-2 {
	color: #90a4ae !important
}

.blue-grey.lighten-1 {
	background-color: #78909c !important
}

.blue-grey-text.text-lighten-1 {
	color: #78909c !important
}

.blue-grey {
	background-color: #607d8b !important
}

.blue-grey-text {
	color: #607d8b !important
}

.blue-grey.darken-1 {
	background-color: #546e7a !important
}

.blue-grey-text.text-darken-1 {
	color: #546e7a !important
}

.blue-grey.darken-2 {
	background-color: #455a64 !important
}

.blue-grey-text.text-darken-2 {
	color: #455a64 !important
}

.blue-grey.darken-3 {
	background-color: #37474f !important
}

.blue-grey-text.text-darken-3 {
	color: #37474f !important
}

.blue-grey.darken-4 {
	background-color: #263238 !important
}

.blue-grey-text.text-darken-4 {
	color: #263238 !important
}

.grey.lighten-5 {
	background-color: #fafafa !important
}

.grey-text.text-lighten-5 {
	color: #fafafa !important
}

.grey.lighten-4 {
	background-color: #f5f5f5 !important
}

.grey-text.text-lighten-4 {
	color: #f5f5f5 !important
}

.grey.lighten-3 {
	background-color: #eee !important
}

.grey-text.text-lighten-3 {
	color: #eee !important
}

.grey.lighten-2 {
	background-color: #e0e0e0 !important
}

.grey-text.text-lighten-2 {
	color: #e0e0e0 !important
}

.grey.lighten-1 {
	background-color: #bdbdbd !important
}

.grey-text.text-lighten-1 {
	color: #bdbdbd !important
}

.grey {
	background-color: #9e9e9e !important
}

.grey-text {
	color: #9e9e9e !important
}

.grey.darken-1 {
	background-color: #757575 !important
}

.grey-text.text-darken-1 {
	color: #757575 !important
}

.grey.darken-2 {
	background-color: #616161 !important
}

.grey-text.text-darken-2 {
	color: #616161 !important
}

.grey.darken-3 {
	background-color: #424242 !important
}

.grey-text.text-darken-3 {
	color: #424242 !important
}

.grey.darken-4 {
	background-color: #212121 !important
}

.grey-text.text-darken-4 {
	color: #212121 !important
}

.shades.black {
	background-color: #000 !important
}

.shades-text.text-black {
	color: #000 !important
}

.shades.white {
	background-color: #fff !important
}

.shades-text.text-white {
	color: #fff !important
}

.shades.transparent {
	background-color: rgba(0, 0, 0, 0) !important
}

.shades-text.text-transparent {
	color: rgba(0, 0, 0, 0) !important
}

.black {
	background-color: #000 !important
}

.black-text {
	color: #000 !important
}

.white {
	background-color: #fff !important
}

.white-text {
	color: #fff !important
}

.transparent {
	background-color: rgba(0, 0, 0, 0) !important
}

.transparent-text {
	color: rgba(0, 0, 0, 0) !important
}

div[class^='player-wrapper'] {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%
}

div[class^='player-wrapper'] iframe[id^='video-gcc'] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	pointer-events: none
}

div[class^='player-wrapper'] iframe[id^='video-gcc'].vr-mode {
	pointer-events: auto
}

div[class^='player-wrapper'] div[class^='player-overlay'] {
	position: absolute;
	height: 100%;
	width: 100%;
	outline: none;
	line-height: 1.5;
	font-family: "Roboto", sans-serif
}

@media only screen and (min-width: 0) {
	div[class^='player-wrapper'] div[class^='player-overlay'] {
		font-size: 14px
	}
}

@media only screen and (min-width: 992px) {
	div[class^='player-wrapper'] div[class^='player-overlay'] {
		font-size: 15px
	}
}

@media only screen and (min-width: 1200px) {
	div[class^='player-wrapper'] div[class^='player-overlay'] {
		font-size: 15px
	}
}

div[class^='player-wrapper'] div[class^='player-overlay'].hide {
	display: none !important
}

div[class^='player-wrapper'] div[class^='player-overlay'] .floating-widgets-overlay {
	z-index: 2
}

div[class^='player-wrapper'] div[class^='player-overlay'] .floating-widgets-overlay .right-floating-widgets {
	position: absolute;
	right: 0
}

div[class^='player-wrapper'] div[class^='player-overlay'] .floating-widgets-overlay .left-floating-widgets {
	position: absolute;
	left: 0
}

div[class^='player-wrapper'] div[class^='player-overlay'] .live-floating-widgets-overlay {
	z-index: 1
}

div[class^='player-wrapper'] div[class^='player-overlay'] .live-floating-widgets-overlay .right-floating-widgets {
	position: absolute;
	right: 0
}

div[class^='player-wrapper'] div[class^='player-overlay'] .live-floating-widgets-overlay .left-floating-widgets {
	position: absolute;
	left: 0
}

div[class^='player-wrapper'] div[class^='player-overlay'] .overlay-widget.sleep-over {
	display: none
}

div[class^='player-wrapper'] div[class^='player-overlay'] .brighter-widget {
	opacity: 1 !important
}

div[class^='player-wrapper'] div[class^='player-overlay'] .faded-widget {
	opacity: 0 !important
}

div[class^='player-wrapper'].kstate-onload div[class^='player-overlay'],
div[class^='player-wrapper'].kstate-onerror div[class^='player-overlay'] {
	height: auto;
	width: auto
}

div[class^='player-wrapper'].kstate-onload iframe[id^='video-gcc'],
div[class^='player-wrapper'].kstate-onerror iframe[id^='video-gcc'] {
	pointer-events: all
}

div[class^='player-wrapper'].kstate-onload div[class='controls-container'],
div[class^='player-wrapper'].kstate-onerror div[class='controls-container'] {
	display: none
}

div[class^='player-wrapper'].fullscreen {
	display: block;
	height: 100%;
	padding-bottom: 0
}

.kp .xx-small-text {
	font-size: 10px
}

.kp .text.xx-small {
	font-size: 10px
}

.kp .text.x-small {
	font-size: 12px
}

.kp .text.small {
	font-size: 13px
}

.kp .text.medium {
	font-size: 15px
}

.kp .text.large {
	font-size: 18px
}

.kp .text.x-large {
	font-size: 20px
}

.kp .text.xx-large {
	font-size: 24px
}

.kp .text.bold {
	font-weight: 600
}

.kp .text.disabled {
	color: black !important;
	opacity: 0.6
}

.kp .text.secondary {
	color: black !important;
	opacity: 0.75
}

.kp .text.em {
	color: black !important;
	opacity: 0.9
}

.kp .primary-text {
	color: #00aeef !important
}

.kp .primary-text.complement {
	color: #ef4100 !important
}

.kp .primary-text a {
	color: #00aeef !important
}

.kp .primary-text a.complement {
	color: #ef4100 !important
}

.kp .controls-container {
	z-index: 2;
	bottom: 0;
	background-position: bottom;
	width: 100%;
	position: absolute
}

.kp .controls-container .player-progress {
	position: relative;
	padding-bottom: 4px
}

.kp .controls-container .player-progress .progress {
	position: absolute;
	margin: 0;
	background-color: transparent;
	bottom: 0;
	overflow: visible;
	border-radius: 0
}

.kp .controls-container .player-progress .progress-control {
	background-color: rgba(240, 248, 255, 0.4)
}

.kp .controls-container .player-progress .play-progress {
	z-index: 2;
	opacity: 0.8
}

.kp .controls-container .player-progress .play-progress .determinate {
	background-color: #00aeef
}

.kp .controls-container .player-progress .load-progress {
	z-index: 1
}

.kp .controls-container .player-progress .load-progress .determinate {
	background-color: rgba(255, 255, 255, 0.55)
}

.kp .controls-container .player-progress .non-interactive-mode {
	color: white;
	font-size: 1em;
	background-color: black;
	border-radius: 50%;
	top: -0.6em;
	height: 1.5em;
	width: 1.5em;
	z-index: 1;
	text-align: center;
	display: none
}

.kp .controls-container .player-progress:hover .non-interactive-mode {
	display: block
}

.kp .controls-container .player-progress:hover .progress {
	transform: scaleY(1.2);
	-ms-transform: scaleY(1.2);
	-webkit-transform: scaleY(1.2);
	-moz-transform: scaleY(1.2)
}

.kp .controls-container .player-progress .offset-tooltip {
	display: none;
	bottom: 0.8em;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 5%;
	font-size: 0.8em;
	padding: 3px
}

.kp .controls-container .player-progress .non-interactive-mode-tooltip {
	bottom: 0.9em;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 5%;
	font-size: 0.9em;
	padding: 6px;
	display: none
}

.kp .controls-container .player-progress .fullscreen-tooltip {
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 1em;
	padding: 5px;
	right: 0;
	display: none
}

.kp .controls-container .player-progress .highlight-region-container {
	height: 6px;
	z-index: 1
}

.kp .controls-container .live-player-controls .live-control {
	font-size: 1.25em;
	bottom: 0.1em;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 3px
}

.kp .controls-container .live-player-controls .live-control .live-blinker {
	background: #ff0000;
	border-radius: 50%;
	height: 0.5em;
	width: 0.5em;
	opacity: 1;
	-webkit-animation: live-blink 5s infinite;
	-moz-animation: live-blink 5s infinite;
	-ms-animation: live-blink 5s infinite;
	-o-animation: live-blink 5s infinite;
	animation: live-blink 5s infinite
}

.kp .controls-container .live-player-controls .live-control .live-text {
	color: #ff0000 !important
}

@-webkit-keyframes live-blink {
	50% {
		opacity: 0.75
	}
	75% {
		opacity: 0.5
	}
	100% {
		opacity: 0.75
	}
}

@-moz-keyframes live-blink {
	50% {
		opacity: 0.75
	}
	75% {
		opacity: 0.5
	}
	100% {
		opacity: 0.75
	}
}

@keyframes live-blink {
	50% {
		opacity: 0.75
	}
	75% {
		opacity: 0.5
	}
	100% {
		opacity: 0.75
	}
}

.kp .controls-container .player-controls .player-control {
	color: #eeeeee;
	opacity: 0.7;
	position: relative
}

.kp .controls-container .player-controls .player-control i {
	font-size: 1.5em !important
}

.kp .controls-container .player-controls .player-control:hover {
	color: #ffffff;
	opacity: 1
}

.kp .controls-container .player-controls .volume-control .volume-bar.progress {
	width: 4em;
	margin: unset;
	margin-top: 25%;
	background-color: rgba(240, 248, 255, 0.4);
	border-radius: 0
}

.kp .controls-container .player-controls .volume-control .volume-handle {
	background: #FFFFFF;
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	top: 0.9em !important
}

.kp .controls-container .player-controls .settings-control .mdi-pulse {
	font-size: 1em !important
}

.kp .controls-container .player-controls .settings-control .hd-icon {
	top: 0px;
	right: -9px
}

.kp .controls-container .player-controls .settings-control .hd-icon i {
	font-size: 1em
}

.kp .controls-container .player-controls .closed-caption.active .player-control {
	color: #00aeef
}

.kp .controls-container .player-controls .player-settings-control {
	display: none;
	position: absolute;
	right: 0.8em;
	z-index: 999
}

.kp .controls-container .player-controls .player-settings-control.open {
	display: block;
	top: -0.2em
}

.kp .controls-container .player-controls .player-settings-control .player-setting-drop-down {
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 125px;
	max-height: 650px;
	overflow-y: auto;
	font-size: 1em;
	font-weight: 300;
	border-radius: 5%
}

.kp .controls-container .player-controls .player-settings-control .player-setting-drop-down .available-playback-quality {
	padding: 5px;
	padding-left: 25px
}

.kp .controls-container .player-controls .player-settings-control .player-setting-drop-down .available-playback-quality:hover {
	background: rgba(0, 0, 0, 0.6)
}

.kp .controls-container .player-controls .player-settings-control .player-setting-drop-down .available-playback-quality.checked .playback-quality-title:before {
	content: "";
	display: block;
	position: absolute;
	background: #00aeef;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	top: 40%;
	left: -15px
}

.kp .controls-container .player-controls .player-settings-control .player-setting-drop-down .playback-quality-title {
	position: relative
}

.kp .controls-container .player-controls .player-settings-control .player-setting-drop-down .playback-quality-HD {
	color: #00aeef;
	float: right
}

.kp .controls-container .player-controls .player-speeds-control {
	display: none;
	position: absolute;
	right: 0.8em;
	z-index: 999
}

.kp .controls-container .player-controls .player-speeds-control.open {
	display: block;
	top: -0.2em
}

.kp .controls-container .player-controls .player-speeds-control .player-speeds-drop-down {
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 125px;
	max-height: 650px;
	overflow-y: auto;
	font-size: 1em;
	font-weight: 300;
	border-radius: 5%
}

.kp .controls-container .player-controls .player-speeds-control .player-speeds-drop-down .available-speeds {
	padding: 5px;
	padding-left: 25px
}

.kp .controls-container .player-controls .player-speeds-control .player-speeds-drop-down .available-speeds:hover {
	background: rgba(0, 0, 0, 0.6)
}

.kp .controls-container .player-controls .player-speeds-control .player-speeds-drop-down .available-speeds.checked .speed-option-title:before {
	content: "";
	display: block;
	position: absolute;
	background: #00aeef;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	top: 40%;
	left: -15px
}

.kp .controls-container .player-controls .player-speeds-control .player-speeds-drop-down .speed-option-title {
	position: relative
}

.kp .controls-container .player-controls .player-speeds-control .player-speeds-drop-down .speed-option-selected {
	color: #00aeef;
	float: right
}

.kp .controls-container .player-controls .player-transcript-control {
	display: none;
	position: absolute;
	right: 0.8em;
	z-index: 999
}

.kp .controls-container .player-controls .player-transcript-control.open {
	display: block;
	top: -0.2em
}

.kp .controls-container .player-controls .player-transcript-control .player-transcript-drop-down {
	position: absolute;
	bottom: 0;
	right: 0;
	min-width: 125px;
	max-height: 150px;
	overflow-y: auto;
	font-size: 1em;
	font-weight: 300;
	border-radius: 5%
}

.kp .controls-container .player-controls .player-transcript-control .player-transcript-drop-down.mobile {
	max-height: 100px
}

.kp .controls-container .player-controls .player-transcript-control .player-transcript-drop-down .transcript-drop-down-row {
	padding: 5px;
	padding-left: 25px
}

.kp .controls-container .player-controls .player-transcript-control .player-transcript-drop-down .transcript-drop-down-row:hover {
	background: rgba(0, 0, 0, 0.6)
}

.kp .controls-container .player-controls .player-transcript-control .player-transcript-drop-down .transcript-drop-down-row.checked .transcript-lang-title:before {
	content: "";
	display: block;
	position: absolute;
	background: #00aeef;
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	top: 40%;
	left: -15px
}

.kp .controls-container .player-controls .player-transcript-control .player-transcript-drop-down .transcript-lang-title {
	position: relative
}

.kp .controls-container .player-controls .fullscreen-control.disabled {
	color: grey;
	cursor: default
}

.kp .controls-container .gradient-container {
	width: 100%;
	bottom: 0;
	position: absolute;
	background-position: bottom;
	height: 98px;
	background-repeat: repeat-x;
	background-image: url("../images/gradient.png");
	pointer-events: none
}

.kp .active-resume .controls-container {
	display: none !important
}

.kp .player-indicator {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 49%;
	-webkit-transform: translate(-40%, -50%);
	-moz-transform: translate(-40%, -50%);
	-ms-transform: translate(-40%, -50%);
	-o-transform: translate(-40%, -50%);
	transform: translate(-40%, -50%);
	padding: 20px;
	z-index: 1;
	color: white
}

.kp .player-indicator i {
	font-size: 200%
}

.kp .w100 {
	width: 100%
}

.kp .h100 {
	height: 100%
}

.kp .relative {
	position: relative
}

.kp .absolute {
	position: absolute
}

.kp .no-margin {
	margin: 0 !important
}

.kp .no-padding {
	padding: 0 !important
}

.kp .no-padding-left {
	padding-left: 0 !important
}

.kp .no-padding-right {
	padding-right: 0 !important
}

.kp .padding-top-5 {
	padding-top: 5px !important
}

.kp .padding-bottom-5 {
	padding-bottom: 5px !important
}

.kp .padding-top-10 {
	padding-top: 10px !important
}

.kp .padding-right-10 {
	padding-right: 10px !important
}

.kp .padding-5 {
	padding: 5px !important
}

.kp .padding-10 {
	padding: 10px !important
}

.kp .padding-left-5 {
	padding-left: 5px !important
}

.kp .padding-bottom-10 {
	padding-bottom: 10px !important
}

.kp .padding-left-15 {
	padding-left: 15px !important
}

.kp .padding-left-20 {
	padding-left: 20px !important
}

.kp .padding-left-30 {
	padding-left: 30px !important
}

.kp .no-margin-top {
	margin-top: 0px
}

.kp .margin-auto {
	margin: 0 auto
}

.kp .margin-bottom-5 {
	margin-bottom: 5px
}

.kp .margin-right-10 {
	margin-right: 10px
}

.kp .margin-left-10 {
	margin-left: 10px
}

.kp .margin-right-20 {
	margin-right: 20px
}

.kp .margin-left-20 {
	margin-left: 20px
}

.kp .padding-left-40 {
	padding-left: 40px !important
}

.kp .margin-left-4 {
	margin-left: 4px !important
}

.kp .margin-left-5 {
	margin-left: 5px !important
}

.kp .margin-right-5 {
	margin-right: 5px !important
}

.kp .padding-left-5 {
	padding-left: 5px !important
}

.kp .padding-right-5 {
	padding-right: 5px !important
}

.kp .padding-tb-3 {
	padding-bottom: 3px;
	padding-top: 3px
}

.kp .inline-block {
	display: inline-block
}

.kp .overlay-widget {
	z-index: 1
}

.kp .border-top {
	border-top: 1px solid #ccc !important
}

.kp .center {
	text-align: center
}

.kp .grey {
	background-color: grey
}

.kp .primary-text {
	color: #00aeef
}

.kp .primary {
	background-color: #00aeef
}

.kp .loading-spinner {
	background: url("../images/loading_spinner.gif") no-repeat center;
	background-size: 40px
}

.kp .loading-spinner-medium {
	background: url("../images/loading_spinner.gif") no-repeat center;
	background-size: 70px
}

.kp .pointer {
	cursor: pointer
}

.kp .rounded-btn {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center
}

.kp .rounded-btn-live-widget {
	display: inline-block;
	width: 65px;
	height: 30px;
	border-radius: 6%;
	background-color: #000;
	text-align: center
}

.kp .square-rounded-btn {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center
}

.kp .right-square-rounded-btn {
	display: inline-block;
	min-width: 36px;
	height: 36px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center
}

.kp .live-control .live-blinker {
	background: #ff0000;
	border-radius: 50%;
	height: 0.5em;
	width: 0.5em;
	opacity: 1;
	-webkit-animation: live-blink 5s infinite;
	-moz-animation: live-blink 5s infinite;
	-ms-animation: live-blink 5s infinite;
	-o-animation: live-blink 5s infinite;
	animation: live-blink 5s infinite
}

.kp .live-control .live-text {
	color: #ff0000 !important
}

.kp .border-radius-4 {
	border-radius: 4px
}

.kp .font20 {
	font-size: 20px
}

.kp .font15 {
	font-size: 15px
}

.kp .font12 {
	font-size: 12px !important
}

.kp .bold {
	font-weight: bold
}

.kp .semi-transparent {
	opacity: 0.5
}

@media only screen and (max-width: 600px) {
	.kp .hide-on-small-only,
	.kp .hide-on-small-and-down {
		display: none !important
	}
}

@media only screen and (max-width: 992px) {
	.kp .hide-on-med-and-down {
		display: none !important
	}
}

@media only screen and (min-width: 601px) {
	.kp .hide-on-med-and-up {
		display: none !important
	}
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
	.kp .hide-on-med-only {
		display: none !important
	}
}

@media only screen and (min-width: 993px) {
	.kp .hide-on-large-only {
		display: none !important
	}
}

@media only screen and (min-width: 993px) {
	.kp .show-on-large {
		display: initial !important
	}
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
	.kp .show-on-medium {
		display: initial !important
	}
}

@media only screen and (max-width: 600px) {
	.kp .show-on-small {
		display: block !important
	}
}

@media only screen and (min-width: 601px) {
	.kp .show-on-medium-and-up {
		display: block !important
	}
}

@media only screen and (max-width: 992px) {
	.kp .show-on-medium-and-down {
		display: block !important
	}
}

.kp .cover-background-with-image {
	background-repeat: no-repeat;
	background-blend-mode: color-dodge;
	background-size: cover
}

.kp .spinner-primary {
	border-color: #00aeef
}

.kp .loading-next-video {
	background-color: #000;
	z-index: 10
}

.kp .div-based-modal-overlay {
	top: 0px;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10 !important
}

.kp .player-modal .small-modal {
	z-index: 11 !important;
	max-width: 700px
}

@media only screen and (min-width: 0) {
	.kp .player-modal .small-modal {
		width: 98%;
		height: 98%;
		top: 1% !important;
		max-height: 100%
	}
}

@media only screen and (min-width: 992px) {
	.kp .player-modal .small-modal {
		width: 85%;
		height: 85%;
		top: 10% !important;
		max-height: 100%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .player-modal .small-modal {
		width: 60%;
		height: auto;
		top: 20% !important;
		max-height: 70%
	}
}

.kp .player-modal .medium-modal {
	z-index: 11 !important;
	max-width: 700px
}

@media only screen and (min-width: 0) {
	.kp .player-modal .medium-modal {
		width: 98%;
		height: 98%;
		top: 1% !important;
		max-height: 100%
	}
}

@media only screen and (min-width: 992px) {
	.kp .player-modal .medium-modal {
		width: 85%;
		height: 85%;
		top: 10% !important;
		max-height: 100%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .player-modal .medium-modal {
		width: 80%;
		height: auto;
		top: 10% !important;
		max-height: 70%
	}
}

.kp .clear {
	clear: both
}

.kp .border-bottom {
	border-bottom: 1px solid rgba(179, 177, 177, 0.27) !important
}

.kp .error-message {
	color: red;
	font-size: 12px
}

.kp .disabled-link {
	pointer-events: none;
	cursor: default
}

.kp .viewport-height {
	height: 100vh
}

.kp .left {
	float: left !important
}

.kp .right {
	float: right !important
}

.kp .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.kp .like-count {
	top: 16px;
	font-size: 9px;
	letter-spacing: 1px;
	position: relative
}

.kp .like-container .like {
	display: block
}

.kp .like-button.liked .like-icon {
	color: #00aeef
}

.kp .like-button.unliked .like-icon {
	color: #bebebf
}

.kp .show-like-count {
	top: -4px;
	position: absolute;
	left: 6px
}

.kp #toc-widget {
	margin-top: 10px !important;
	z-index: 10;
	max-height: 75%
}

.kp #toc-widget .toc-drawer-btn {
	z-index: 2
}

.kp #toc-widget.active {
	width: 75%;
	transition: all 0.5s ease-in
}

.kp .toc-container {
	overflow: hidden
}

@media only screen and (min-width: 0) {
	.kp .toc-container {
		max-height: 100px
	}
}

@media only screen and (min-width: 640px) {
	.kp .toc-container {
		max-height: 200px
	}
}

@media only screen and (min-width: 992px) {
	.kp .toc-container {
		max-height: 200px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .toc-container {
		max-height: 300px
	}
}

.kp .toc-header-open {
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 0px 3px 0px 0px;
	height: 40px;
	border-bottom: 1px solid rgba(179, 177, 177, 0.27)
}

.kp .toc-list {
	display: inline-block;
	clear: both;
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: absolute
}

.kp .toc-list .toc-data-row {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px 0px 10px;
	color: white
}

.kp .toc-list .toc-data-row:hover {
	background-color: #414141;
	opacity: 0.8
}

.kp .toc-list .toc-data-row.toc-data-row.non-interative {
	cursor: default
}

.kp .toc-list .toc-data-row .data-description .toc-description-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.kp .toc-list .toc-data-row .toc-artifact-iocn {
	position: absolute;
	left: 3px
}

.kp .toc-list .toc-data-row .matching-transcript,
.kp .toc-list .toc-data-row .matching-highlight {
	color: white;
	background-color: transparent
}

.kp .progressbar-marker {
	position: absolute;
	left: 0;
	bottom: 0em;
	opacity: 1;
	border: 3px solid;
	top: -1px;
	z-index: 400;
	border-radius: 100%;
	color: white;
	transition: opacity .2s ease;
	-webkit-transition: opacity .2s ease;
	cursor: pointer
}

.kp .progressbar-marker:hover {
	color: #00aeef;
	-webkit-transform: scale(1.3, 1.3);
	-moz-transform: scale(1.3, 1.3);
	-o-transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}

.kp .progressbar-marker.progressbar-marker.non-interative {
	cursor: default
}

.kp .search-result {
	border: 5px solid;
	top: -3px
}

.kp .progressbar-marker-thumbnail {
	height: 72px;
	width: 128px;
	position: absolute;
	bottom: 0.8em;
	background: rgba(0, 0, 0, 0.8)
}

.kp .progressbar-marker-tooltip {
	height: auto;
	color: white;
	max-height: 72px;
	width: 128px;
	bottom: 0.8em;
	border-radius: 4px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.8)
}

.kp .autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto
}

.kp .autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 30px
}

.kp .autocomplete-selected {
	background: #F0F0F0
}

.kp .autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF
}

.kp .autocomplete-group {
	padding: 2px 5px
}

.kp .autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000
}

.kp .no-search-results-container {
	height: 40px
}

.kp .no-search-results-container .no-search-results {
	background-color: #000000;
	padding: 10px 0px 10px;
	color: #999999;
	opacity: 0.8;
	text-align: center
}

.kp .clear {
	clear: both
}

.kp .resume-tooltip {
	bottom: 0.8em;
	background: #323232;
	border-radius: 2px;
	font-size: 0.9em;
	padding: 6px;
	width: 150px;
	max-width: 200px;
	display: none
}

.kp .resume-tooltip .close-btn-floating {
	display: inline-block;
	overflow: hidden;
	width: 16px;
	height: 16px;
	background-color: black;
	border-radius: 50%;
	opacity: 0.95;
	cursor: pointer
}

.kp .endoverlay-container {
	position: absolute;
	z-index: 3;
	background: rgba(0, 0, 0, 0.8)
}

.kp .replay-button .replay-icon {
	color: #00aeef;
	font-size: 4em;
	cursor: pointer
}

.kp .endoverlay-content .endoverlay-like-button.liked .like-icon {
	color: #00aeef;
	font-size: 4em;
	cursor: pointer
}

.kp .endoverlay-content .endoverlay-like-button.unliked .like-icon {
	color: #bebebf;
	font-size: 4em;
	cursor: pointer
}

.kp .endoverlay-content .endoverlay-like-count {
	color: white
}

.kp .endoverlay-content .show-endoverlay-like-count {
	left: 6px
}

.kp .endoverlay-content .endoverlay-feedback-button .mdi-maps-local-florist {
	color: #bebebf;
	font-size: 4em;
	cursor: pointer
}

@media only screen and (min-width: 0) {
	.kp .endoverlay-content .endoverlay-like-button.liked .like-icon,
	.kp .endoverlay-content .endoverlay-like-button.unliked .like-icon,
	.kp .endoverlay-content .replay-button .replay-icon,
	.kp .endoverlay-content .endoverlay-feedback-button .mdi-maps-local-florist {
		font-size: 2em
	}
}

@media only screen and (min-width: 992px) {
	.kp .endoverlay-content .endoverlay-like-button.liked .like-icon,
	.kp .endoverlay-content .endoverlay-like-button.unliked .like-icon,
	.kp .endoverlay-content .replay-button .replay-icon,
	.kp .endoverlay-content .endoverlay-feedback-button .mdi-maps-local-florist {
		font-size: 4em
	}
}

@media only screen and (min-width: 1200px) {
	.kp .endoverlay-content .endoverlay-like-button.liked .like-icon,
	.kp .endoverlay-content .endoverlay-like-button.unliked .like-icon,
	.kp .endoverlay-content .replay-button .replay-icon,
	.kp .endoverlay-content .endoverlay-feedback-button .mdi-maps-local-florist {
		font-size: 4em
	}
}

@media only screen and (min-width: 0) {
	.kp .endoverlay-content .endoverlay-action-container .endoverlay-action-content .endoverlay-action-text {
		margin-top: 5%
	}
}

@media only screen and (min-width: 992px) {
	.kp .endoverlay-content .endoverlay-action-container .endoverlay-action-content .endoverlay-action-text {
		margin-top: 10%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .endoverlay-content .endoverlay-action-container .endoverlay-action-content .endoverlay-action-text {
		margin-top: 10%
	}
}

.kp .spotlight-item {
	position: absolute;
	z-index: 1
}

.kp .spotlight {
	font-size: 25px;
	padding: 10px
}

.kp .spotlight-link {
	cursor: pointer
}

.kp .popover-target {
	position: absolute;
	z-index: 1;
	opacity: 0.85;
	padding: 5px;
	transition: all 2s ease-in-out
}

.kp .target-highlighter:hover .target-msg {
	max-width: 400px;
	opacity: 1
}

.kp .target-image.active .target-msg {
	max-width: 400px;
	opacity: 1
}

.kp .target-highlighter .target-msg {
	position: absolute;
	padding: 5px;
	background: rgba(0, 0, 0, 0.7);
	transition: all 0.5s ease-in-out
}

.kp .target-highlighter .highlighter {
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	-webkit-animation: blink 2s infinite;
	-moz-animation: blink 2s infinite;
	-ms-animation: blink 2s infinite;
	animation: blink 2s infinite;
	transition: transform 1s cubic-bezier(0.88, -0.07, 0.58, 1), opacity 1s ease-in-out;
	z-index: 1
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
		transform: scale(1, 1)
	}
	50% {
		opacity: 0.85;
		transform: scale(1.5, 1.5)
	}
	100% {
		opacity: 1;
		transform: scale(1, 1)
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
		transform: scale(1, 1)
	}
	50% {
		opacity: 0.85;
		transform: scale(1.5, 1.5)
	}
	100% {
		opacity: 1;
		transform: scale(1, 1)
	}
}

@keyframes blink {
	0% {
		opacity: 1;
		transform: scale(1, 1)
	}
	50% {
		opacity: 0.85;
		transform: scale(1.5, 1.5)
	}
	100% {
		opacity: 1;
		transform: scale(1, 1)
	}
}

.kp .popover-target {
	position: absolute;
	z-index: 1;
	opacity: 0.85;
	padding: 5px;
	transition: all 2s ease-in-out
}

.kp .popover-target .target-button {
	display: inline-block;
	cursor: pointer
}

.kp .popover-target:hover {
	opacity: 1
}

.kp .popover-transition:hover {
	background: rgba(0, 0, 0, 0.8)
}

.kp .target-icon-image {
	width: 45px;
	height: 45px
}

.kp .popover-drawer {
	display: none;
	position: absolute;
	z-index: 3;
	background: rgba(0, 0, 0, 0.2)
}

.kp .popover-drawer.center-position {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8)
}

.kp .popover-target.target-image.active {
	background: rgba(0, 0, 0, 0.8)
}

.kp .popover-target .target-msg {
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	opacity: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out
}

.kp .popover-drawer .popover-drawer-content {
	position: relative;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.kp .popover-drawer .popover-drawer-content img {
	height: 100%;
	width: 100%
}

.kp .popover-drawer-header .close-drawer {
	position: absolute;
	top: 1%;
	right: 3%;
	height: 25px;
	width: 25px;
	cursor: pointer
}

.kp [dir='rtl'] .slick-prev:before,
.kp .slick-prev:before {
	content: '\2190' !important
}

.kp [dir='rtl'] .slick-next:before,
.kp .slick-next:before {
	content: '\2192' !important
}

.kp .slick-dots li button:before {
	content: '•' !important;
	color: #FFFFFF !important
}

.kp .transcript-container {
	display: none;
	height: auto;
	max-width: 95%;
	width: auto;
	bottom: 3em;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s
}

.kp .transcript-container .transcript-content {
	display: none
}

.kp .transcript-container .transcript-text {
	display: inline-block;
	white-space: pre-wrap;
	background-color: rgba(0, 0, 0, 0.8)
}

@media only screen and (min-width: 0) {
	.kp .transcript-container .transcript-text {
		font-size: 11px
	}
}

@media only screen and (min-width: 992px) {
	.kp .transcript-container .transcript-text {
		font-size: 13px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .transcript-container .transcript-text {
		font-size: 15px
	}
}

.kp .transcript-container.sleep-over {
	bottom: 5px
}

.kp .promo-container {
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 1;
	background: rgba(0, 0, 0, 0.7)
}

.kp .survey-container {
	width: 80%;
	height: 100%;
	z-index: 10;
	opacity: 1;
	overflow: hidden
}

.kp .survey-mobile {
	width: 95% !important;
	max-height: 88% !important
}

.kp .survey-background {
	position: fixed;
	z-index: 999;
	top: -100px;
	left: 0;
	bottom: 0;
	right: 0;
	height: 125%;
	width: 100%;
	background: #000;
	display: none;
	will-change: opacity
}

.kp .googleform-container {
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 1;
	background: rgba(0, 0, 0, 0.7)
}

@media only screen and (min-width: 0) {
	.kp .poll-header .poll-quiz-title,
	.kp .poll-header .poll-stat-header,
	.kp .poll-header .quiz-title,
	.kp .poll-stat-header .poll-quiz-title,
	.kp .poll-stat-header .poll-stat-header,
	.kp .poll-stat-header .quiz-title,
	.kp .quiz-landing-page-header .poll-quiz-title,
	.kp .quiz-landing-page-header .poll-stat-header,
	.kp .quiz-landing-page-header .quiz-title {
		font-size: 15px
	}
}

@media only screen and (min-width: 992px) {
	.kp .poll-header .poll-quiz-title,
	.kp .poll-header .poll-stat-header,
	.kp .poll-header .quiz-title,
	.kp .poll-stat-header .poll-quiz-title,
	.kp .poll-stat-header .poll-stat-header,
	.kp .poll-stat-header .quiz-title,
	.kp .quiz-landing-page-header .poll-quiz-title,
	.kp .quiz-landing-page-header .poll-stat-header,
	.kp .quiz-landing-page-header .quiz-title {
		font-size: 16px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .poll-header .poll-quiz-title,
	.kp .poll-header .poll-stat-header,
	.kp .poll-header .quiz-title,
	.kp .poll-stat-header .poll-quiz-title,
	.kp .poll-stat-header .poll-stat-header,
	.kp .poll-stat-header .quiz-title,
	.kp .quiz-landing-page-header .poll-quiz-title,
	.kp .quiz-landing-page-header .poll-stat-header,
	.kp .quiz-landing-page-header .quiz-title {
		font-size: 20px
	}
}

.kp .poll-header .poll-question-close,
.kp .poll-stat-header .poll-question-close,
.kp .quiz-landing-page-header .poll-question-close {
	bottom: 0;
	right: 0
}

.kp .poll-body {
	padding: 10px !important
}

@media only screen and (min-width: 0) {
	.kp .poll-body .poll-question {
		font-size: 15px;
		padding-left: 15px
	}
}

@media only screen and (min-width: 992px) {
	.kp .poll-body .poll-question {
		font-size: 15px;
		padding-left: 20px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .poll-body .poll-question {
		font-size: 17px;
		padding-left: 30px
	}
}

.kp .poll-body .poll-choice-container {
	word-break: break-all
}

@media only screen and (min-width: 0) {
	.kp .poll-body .poll-choice-container {
		padding-left: 10px !important
	}
}

@media only screen and (min-width: 992px) {
	.kp .poll-body .poll-choice-container {
		padding-left: 15px !important
	}
}

@media only screen and (min-width: 1200px) {
	.kp .poll-body .poll-choice-container {
		padding-left: 25px !important
	}
}

.kp .poll-body .poll-choice-container .answer-status {
	margin-left: -20px
}

.kp .poll-body .poll-choice-container .poll-choice {
	word-break: normal
}

@media only screen and (min-width: 0) {
	.kp .poll-footer .answer-poll {
		margin-left: 15px !important
	}
}

@media only screen and (min-width: 992px) {
	.kp .poll-footer .answer-poll {
		margin-left: 15px !important
	}
}

@media only screen and (min-width: 1200px) {
	.kp .poll-footer .answer-poll {
		margin-left: 20px !important
	}
}

.kp .poll-msg-text {
	line-height: 35px
}

.kp .poll-msg-spinner {
	height: 35px;
	width: 10%
}

.kp .kpoint-button-med {
	padding: 10px !important;
	line-height: 0.7em !important;
	height: 2em !important
}

.kp .endoverlay-body {
	overflow: auto;
	margin-top: 5% !important;
	height: 85% !important
}

@media only screen and (min-width: 0) {
	.kp .endoverlay-body {
		height: 85%
	}
}

@media only screen and (min-width: 992px) {
	.kp .endoverlay-body {
		height: 85%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .endoverlay-body {
		height: 85%
	}
}

.kp .endoverlay-body .poll-stat-header {
	background-color: #00aeef;
	padding-top: 5px !important;
	padding-bottom: 5px !important
}

.kp .endoverlay-body .poll-stat-body {
	height: 75%
}

.kp .endoverlay-body .poll-stat-body .score-list-container {
	height: 75%;
	margin: 5%
}

.kp .endoverlay-body .poll-stat-body .score-list-container .score-list .quiz-stat-row {
	padding: 5px !important;
	font-size: 15px
}

.kp .endoverlay-body .poll-stat-body .score-list-container .score-list .poll-stat-bar {
	background-color: #e6e6e6;
	height: 10px
}

.kp .quiz-banner-image {
	height: 150px;
	width: 100%
}

.kp #answer-poll-mobile {
	bottom: 5%;
	right: 5%;
	z-index: 25
}

.kp .poll-stat-body {
	height: 75%
}

.kp .embedded-form-container {
	width: 100%;
	height: 100%;
	z-index: 11;
	opacity: 1;
	background: rgba(0, 0, 0, 0.7)
}

.kp #search-widget {
	z-index: 10
}

.kp #search-widget .search-drawer-btn {
	z-index: 2;
	right: 0
}

.kp .search-widget-content {
	z-index: 2
}

.kp .search-widget-content .wrapper-div {
	right: 10px
}

@media only screen and (min-width: 0) {
	.kp .search-widget-content .wrapper-div {
		width: 70%
	}
}

@media only screen and (min-width: 640px) {
	.kp .search-widget-content .wrapper-div {
		width: 80%
	}
}

@media only screen and (min-width: 992px) {
	.kp .search-widget-content .wrapper-div {
		width: 80%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .search-widget-content .wrapper-div {
		width: 50%
	}
}

.kp .search-widget-content .wrapper-div .kap-search-box {
	border-bottom: 0px !important;
	box-shadow: none !important;
	width: 90%
}

.kp .search-result-container {
	overflow: hidden
}

@media only screen and (min-width: 0) {
	.kp .search-result-container {
		max-height: 100px
	}
}

@media only screen and (min-width: 640px) {
	.kp .search-result-container {
		max-height: 200px
	}
}

@media only screen and (min-width: 992px) {
	.kp .search-result-container {
		max-height: 200px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .search-result-container {
		max-height: 300px
	}
}

.kp .search-header-open {
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 2px 2px 0px 0px;
	border-bottom: 1px solid rgba(179, 177, 177, 0.27);
	height: 40px;
	position: relative;
	z-index: 1
}

.kp .search-result-list {
	display: inline-block;
	clear: both;
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: absolute
}

.kp .search-result-list .search-result-row {
	background-color: #000000;
	padding: 10px 0px 10px;
	color: white;
	opacity: 0.90
}

.kp .search-result-list .search-result-row:hover {
	background-color: black;
	opacity: 0.85
}

.kp .search-result-list .search-result-row.search-result-row.non-interative {
	cursor: default
}

.kp .search-result-list .search-result-row .data-description .search-result-description-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.kp .search-result-list .search-result-row .matching-transcript,
.kp .search-result-list .search-result-row .matching-highlight {
	color: #3399FF;
	background-color: transparent
}

.kp .progressbar-marker {
	position: absolute;
	left: 0;
	bottom: 0em;
	opacity: 1;
	border: 3px solid;
	top: -2px;
	z-index: 400;
	border-radius: 100%;
	color: white;
	transition: opacity .2s ease;
	-webkit-transition: opacity .2s ease;
	cursor: pointer
}

.kp .progressbar-marker:hover {
	color: #00aeef;
	-webkit-transform: scale(1.3, 1.3);
	-moz-transform: scale(1.3, 1.3);
	-o-transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}

.kp .progressbar-marker.progressbar-marker.non-interative {
	cursor: default
}

.kp .search-result {
	border: 5px solid;
	top: -3px
}

.kp .progressbar-marker-thumbnail {
	height: 72px;
	width: 128px;
	position: absolute;
	bottom: 0.8em;
	background: rgba(0, 0, 0, 0.8)
}

.kp .progressbar-marker-tooltip {
	height: auto;
	color: white;
	max-height: 72px;
	width: 128px;
	bottom: 0.8em;
	border-radius: 4px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.8)
}

.kp .autocomplete-suggestions {
	border: 0;
	background: black;
	opacity: 0.90;
	overflow: auto;
	color: white;
	width: 100% !important;
	border-radius: 0px 0px 2px 2px
}

.kp .autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 30px
}

@media only screen and (min-width: 0) {
	.kp .autocomplete-suggestion {
		margin-left: 25px
	}
}

@media only screen and (min-width: 640px) {
	.kp .autocomplete-suggestion {
		margin-left: 45px
	}
}

@media only screen and (min-width: 992px) {
	.kp .autocomplete-suggestion {
		margin-left: 40px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .autocomplete-suggestion {
		margin-left: 35px
	}
}

.kp .autocomplete-suggestions:hover {
	cursor: pointer
}

.kp .autocomplete-selected {
	background-color: black;
	opacity: 0.8
}

.kp .autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF
}

.kp .autocomplete-group {
	padding: 2px 5px
}

.kp .autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000
}

.kp .no-search-results-container {
	height: 40px
}

.kp .no-search-results-container .no-search-results {
	background-color: #000000;
	padding: 10px 0px 10px;
	color: white;
	opacity: 0.90;
	text-align: center
}

.kp .clear {
	clear: both
}

.kp .suggested-keywords-list {
	background: black;
	opacity: 0.90;
	color: white;
	padding: 2px 5px;
	overflow: hidden
}

@media only screen and (min-width: 0) {
	.kp .suggested-keywords-list {
		height: 100px
	}
}

@media only screen and (min-width: 640px) {
	.kp .suggested-keywords-list {
		height: 100px
	}
}

@media only screen and (min-width: 992px) {
	.kp .suggested-keywords-list {
		height: 150px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .suggested-keywords-list {
		height: 200px
	}
}

.kp .keyword:hover {
	color: #3399FF
}

@media only screen and (min-width: 0) {
	.kp .custom-padding {
		padding-left: 15px !important
	}
}

@media only screen and (min-width: 640px) {
	.kp .custom-padding {
		padding-left: 30px !important
	}
}

@media only screen and (min-width: 992px) {
	.kp .custom-padding {
		padding-left: 30px !important
	}
}

@media only screen and (min-width: 1200px) {
	.kp .custom-padding {
		padding-left: 30px !important
	}
}

@media only screen and (min-width: 0) {
	.kp .custom-margin {
		margin-left: 20px
	}
}

@media only screen and (min-width: 640px) {
	.kp .custom-margin {
		margin-left: 35px
	}
}

@media only screen and (min-width: 992px) {
	.kp .custom-margin {
		margin-left: 45px
	}
}

@media only screen and (min-width: 1200px) {
	.kp .custom-margin {
		margin-left: 35px
	}
}

.kp #highlight-widget {
	margin-top: 10px !important
}

.kp .highlight-widget-container {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3)
}

.kp .highlight-widget-container .highlight-summary {
	font-family: "Roboto", sans-serif;
	font-size: 1.2em
}

.kp .highlight-widget-container .highlight-card.default-highlight-card {
	margin-bottom: 11% !important
}

.kp .highlight-widget-container .highlight-card.custom-highlight-card {
	margin-bottom: 6% !important
}

.kp .highlight-widget-container .highlight-card.custom-highlight-card .highlight-description {
	top: 0px;
	padding: 10px !important;
	font-size: 15px;
	background: -webkit-linear-gradient(left top, #000, transparent);
	background: -o-linear-gradient(bottom right, #000, transparent);
	background: -moz-linear-gradient(bottom right, #000, transparent);
	background: linear-gradient(to bottom right, #000, transparent)
}

.kp .highlight-widget-container .highlight-card .highlight-description {
	left: 0;
	font-family: "Roboto", sans-serif
}

.kp .highlight-widget-container .highlight-card .custom-btn {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	background-color: black;
	border-radius: 50%
}

.kp .highlight-widget-container .highlight-card .highlight-overlay {
	opacity: 0.7;
	z-index: 2;
	cursor: default
}

.kp .highlight-widget-container .highlight-list {
	z-index: 2;
	overflow-y: auto;
	padding-left: 6%;
	padding-right: 6%
}

.kp .share-container.live-share .embed-code-container {
	display: none
}

.kp .share-container.live-share .artifact-details {
	display: none
}

.kp .share-container .modal-header {
	padding: 10px 15px;
	border-bottom: 0px
}

.kp #share-highlight {
	height: 200px !important
}

.kp .viewer-count {
	line-height: 2.3
}

.kp .show-viewer-count {
	position: absolute;
	left: 10px
}

.kp .event-feedback-container {
	z-index: 10
}

.kp .event-feedback-message {
	opacity: 0.6
}

.kp .feedback-form textarea {
	height: 2.5rem !important;
	max-height: 4.5rem !important;
	overflow-y: hidden;
	resize: none !important
}

.kp .feedback-overlay {
	background: rgba(0, 0, 0, 0.5)
}

.kp .pointer {
	cursor: pointer
}

@media only screen and (min-width: 0) {
	.kp .margin-top-spacing {
		margin-top: 4%
	}
}

@media only screen and (min-width: 600px) {
	.kp .margin-top-spacing {
		margin-top: 12%
	}
}

@media only screen and (min-width: 992px) {
	.kp .margin-top-spacing {
		margin-top: 12%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .margin-top-spacing {
		margin-top: 12%
	}
}

@media only screen and (min-width: 0) {
	.kp .margin-top-spacing-for-no-comments {
		margin-top: 15%
	}
}

@media only screen and (min-width: 600px) {
	.kp .margin-top-spacing-for-no-comments {
		margin-top: 20%
	}
}

@media only screen and (min-width: 992px) {
	.kp .margin-top-spacing-for-no-comments {
		margin-top: 30%
	}
}

@media only screen and (min-width: 1200px) {
	.kp .margin-top-spacing-for-no-comments {
		margin-top: 30%
	}
}

.kp .notification-container.kmarquee {
	width: 100%;
	z-index: 1;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box
}

.kp .kmarquee div {
	display: inline-block;
	text-indent: 0;
	animation: kmarquee 15s linear infinite;
	padding-left: 100%
}

@keyframes kmarquee {
	0% {
		transform: translate(0, 0)
	}
	100% {
		transform: translate(-100%, 0)
	}
}

.kp .video-count-card {
	margin-bottom: 45px !important;
	margin-left: 5px !important;
	line-height: 17px !important;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0 !important;
	text-align: center;
	margin-left: 5px !important
}

.kp .disable-prev-next {
	display: none !important
}

.kp .grey-kapsule-card {
	background-color: #3b3b3b !important
}

.kp .black-kapsule-card {
	background-color: #272525 !important
}

.kp .info-separator {
	border-left: 2px solid #9c9c9c;
	height: 17px
}

.kp .feedback-container {
	width: 70%;
	height: 100%;
	z-index: 10;
	opacity: 1;
	overflow: hidden;
	top: 15% !important
}

.kp .feedback-mobile {
	width: 95% !important;
	max-height: 82% !important;
	top: 10% !important
}

.kp .feedback-background {
	position: fixed;
	z-index: 999;
	top: -100px;
	left: 0;
	bottom: 0;
	right: 0;
	height: 125%;
	width: 100%;
	background: #000;
	display: none;
	will-change: opacity
}