<div class="quizContainer">
  <div class="quiz_top_container">
      <!-- <div class="col-sm-1"> -->

      <div class="rocket">
          <i class="fas fa-chevron-left" (click)="goBack()"></i>
          <!-- <i class="fas fa-back" ></i> -->
      </div>

      <div class="rocket">
          <i class="fas fa-rocket"></i>
      </div>
      <!-- </div> -->

      <div class="heading123">
          <h3 class="title123">Quiz Assessment for {{ courseTitle }}</h3>
          <!-- <h3 class="title123">Quiz Assessment for <a href="#" class="link">{{ courseTitle }}</a></h3> -->
      </div>

      <!-- <div class="col-sm-2"> -->
      <div class="timeoutdiv">
          <div>
              <i class="fas fa-stopwatch watch"></i>
          </div>
          <div>
              <h4 class="time">{{displayTime}}</h4>
          </div>

      </div>
      <!-- </div> -->

  </div>

  <!-- <div class="row"> -->
  <div class="questions_container">
      <mat-card class="matcard">

          <div class="question_number">
              <h1 class="question_No">{{currentQuestionIndex + 1}} / {{quiz?.length}}</h1>
          </div>
          <!-- [ngClass]="{'disableQuestion': reviewFlag || quiz[currentQuestionIndex].answerConfirmed}" -->
          <div class="question_answer_container" *ngFor="let Ques of quiz[currentQuestionIndex]?.list;let i=index;">
              <div *ngIf='Ques.qTypeId == 1'>
                  <div>

                      <div *ngIf='Ques.questionTypeId == 1'>
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <h3 class="question" [innerHtml]= "Ques.qText | mandetoryquestionpipe:Ques :'question'" >
                        </h3>
                          <!-- <h3 class="question" [innerHtml]="makequizQuestionReady(Ques,'question')">
                        </h3> -->
                              <!-- {{ Ques.qText }} <span class="mandatoryQues" *ngIf="Ques.isMandatory == 1">&nbsp;*</span> -->
                      </div>

                      <div *ngIf='Ques.questionTypeId == 2'>
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <div class="image_center">
                              <img class='contentImg' [src]='Ques.contentRef | safe: "resourceUrl"'>
                              <span  tooltip="Open Image In Full Screen Mode" flow="up">
                                <i class="fas fa-external-link-alt open_image_full_icon ml-2"    aria-hidden="true" (click)="openInFullScreen(Ques.contentRef)"></i>
                              </span>


                          </div>
                      </div>

                      <p class="questionInstructions" *ngIf="Ques.instructions">
                          <span class="questionInstructionsLabel"> Instructions : </span>
                          <!-- <span class="questionInstructionsData"> {{Ques.instructions}} </span> -->
                          <span class="questionInstructionsData">

                            {{(Ques.instructions | removeHtml : 92)}}
                            <!-- {{ makefeedback(Ques.instructions) }} -->
                            <span class="read_more_feedback" *ngIf="(Ques.instructions | removeHtml : 92)?.length >= 90" (click)="readfb(Ques.instructions)">
                                    ReadMore
                                </span>
                          </span>
                      </p>

                      <!-- <div class="answer" [ngClass]="{'disableQuestion': Ques.Answered == 1 && activityData.behaviour == 2}"> -->
                      <div class="answer">

                          <div *ngIf="!reviewFlag">
                              <div class="multiple_choice_question_container mt-2">
                                  <div class="" *ngFor='let options of Ques.optionList;let j = index'>
                                      <div class="button_option_container" *ngIf="options.qOptionType == '1'" (click)='selectOption(i, Ques, j, options)' [ngClass]="{'active': options.sFlag,
                                                            'options': !options.sFlag,
                                                            'disableQuestion': (quiz[currentQuestionIndex].answerConfirmed && activityData.behaviour == 2) || (Ques.Answered == 1 && activityData.behaviour == 2),
                                                            'activeCorrect': options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed,
                                                            'activeWrong': options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed}">
                                          <div>{{j+1}} ) &nbsp;</div>
                                          <!-- <div>{{ options.qOption }}</div> -->
                                          <div [innerHTML]=" options.qOption | safe:'html' "></div>
                                      </div>
                                      <div class="text-right" *ngIf="options.qOptionType == '2'"  >
                                        <span tooltip="Open Image In Full Screen Mode" flow="up" >
                                          <i class="fas fa-external-link-alt open_image_full_icon"   aria-hidden="true" (click)="openInFullScreen(options.qOptionRef)"></i>
                                        </span>
                                      </div>
                                      <button class="option_img_button" *ngIf="options.qOptionType == '2'" (click)='selectOption(i, Ques, j, options)' [ngClass]="{'active': options.sFlag,
                                                        'options': !options.sFlag,
                                                        'disableQuestion': (quiz[currentQuestionIndex].answerConfirmed && activityData.behaviour == 2) || (Ques.Answered == 1 && activityData.behaviour == 2),
                                                        'activeCorrect': (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed),
                                                        'activeWrong': (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed)}">
                                                        <div class="">{{j+1}} ) &nbsp;</div>
                                                        <!-- <div>{{ options.qOption }}</div> -->

                                                       <img class='optionsImg' [src]='options.qOptionRef | safe: "resourceUrl" '>
                                      </button>

                                      <div class="feedback_read_more" *ngIf="activityData.behaviour == 2 && options.sFlag && options.feedback && quiz[currentQuestionIndex].answerConfirmed">
                                          <p class="questionInstructions">
                                              <span class="questionInstructionsLabel"> Feedback : </span>
                                              <span class="questionInstructionsData"> {{ options.feedback | removeHtml : 92 }}
                                                          <span class="read_more_feedback" *ngIf=" (options.feedback | removeHtml : 92)?.length >= 90" (click)="readfb(options.feedback)">
                                                              ReadMore
                                                          </span>
                                              </span>
                                          </p>
                                          <!-- <span class="questionFeedbackLabel" (click)="readfb(options.feedback)">Read Feedback  </span> -->
                                          <!-- <span class="questionFeedbackData" [innerHtml]="makequizQuestionReady(options.feedback ,'feedback')"></span> -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div *ngIf="reviewFlag">
                              <div class="row marginbottom">
                                  <div class="col-md-6 margBot" *ngFor='let options of Ques.optionList;let j = index'>
                                      <button *ngIf="options.qOptionType == '1'" class="options button_option_container" [ngClass]="{'active': options.sFlag,
                                                            'options': !options.sFlag,
                                                            'disableQuestion': (quiz[currentQuestionIndex].answerConfirmed && activityData.behaviour == 2) || (Ques.Answered == 1 && activityData.behaviour == 2),
                                                            'activeCorrect': reviewFlag || (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2),
                                                            'activeWrong': reviewFlag || (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2)}">
                                                <div class="">{{j+1}} ) &nbsp;</div>
                                                <!-- {{ options.qOption }} -->
                                                <div [innerHtml]="makequizQuestionReady(options.qOption,'qOption')"></div>
                                            </button>
                                            <div class="text-right" *ngIf="options.qOptionType == '2'"   >
                                              <span tooltip="Open Image In Full Screen Mode" flow="up">
                                                <i class="fas fa-external-link-alt open_image_full_icon" aria-hidden="true" (click)="openInFullScreen(options.qOptionRef)"></i>
                                              </span>
                                            </div>
                                            <!-- <i class="fas fa-external-link-alt open_image_full_icon"  *ngIf="options.qOptionType == '2'"  aria-hidden="true" (click)="openInFullScreen(options.qOptionRef)"></i> -->
                                      <button *ngIf="options.qOptionType == '2'" class="options option_img_button" [ngClass]="{'active': options.sFlag,
                                                        'options': !options.sFlag,
                                                        'disableQuestion': (quiz[currentQuestionIndex].answerConfirmed && activityData.behaviour == 2) || (Ques.Answered == 1 && activityData.behaviour == 2),
                                                        'activeCorrect': reviewFlag || (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2),
                                                        'activeWrong': reviewFlag || (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2)}">
                                                  <div class="">{{j+1}} ) &nbsp;</div>
                                                  <img class='optionsImg' [src]='options.qOptionRef | safe: "resourceUrl"'>
                                            </button>

                                      <div class="feedback_read_more" *ngIf="activityData.behaviour == 2 && options.sFlag && options.feedback && quiz[currentQuestionIndex].answerConfirmed">
                                          <p class="questionInstructions">
                                              <span class="questionInstructionsLabel"> Feedback : </span>
                                              <span class="questionInstructionsData"> {{ options.feedback | removeHtml : 92 }}
                                                              <span class="read_more_feedback" *ngIf=" (options.feedback | removeHtml : 92)?.length >= 90" (click)="readfb(options.feedback)">
                                                                  ReadMore
                                                              </span>
                                              </span>
                                          </p>
                                          <!-- <span class="questionFeedbackLabel" (click)="readfb(options.feedback)">Read Feedback  </span> -->
                                          <!-- <span class="questionFeedbackData" [innerHtml]="makequizQuestionReady(options.feedback ,'feedback')"></span> -->
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>

              <div class='inline' *ngIf='Ques.qTypeId == 2'>
                  <div>

                      <div *ngIf='Ques.questionTypeId == 1'>
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <!-- <h3 class="question">
                            {{ Ques.qText }} <span class="mandatoryQues" *ngIf="Ques.isMandatory == 1">&nbsp;*</span>
                          </h3> -->
                          <!-- <h3 class="question" [innerHtml]="makequizQuestionReady(Ques,'question')"></h3> -->
                          <!-- <h3 class="question" >{{ Ques.qText | mandetoryquestionpipe:Ques :'question' }} -->
                            <h3 class="question" [innerHtml]= "Ques.qText | mandetoryquestionpipe:Ques :'question'" >
                            </h3>
                      </div>

                      <div *ngIf='Ques.questionTypeId == 2'>
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <div class="image_center">
                              <img class='contentImg' [src]='Ques.contentRef | safe: "resourceUrl"'>
                              <span  tooltip="Open Image In Full Screen Mode" flow="up">
                                <i class="fas fa-external-link-alt open_image_full_icon ml-2"    aria-hidden="true" (click)="openInFullScreen(Ques.contentRef)"></i>
                              </span>
                          </div>
                      </div>

                      <p class="questionInstructions">
                          <span class="questionInstructionsLabel"> Instructions : </span>
                          <!-- <span class="questionInstructionsData"> {{Ques.instructions}} </span> -->
                          <span class="questionInstructionsData">
                            {{ Ques.instructions | removeHtml : 92 }}
                            <span class="read_more_feedback" *ngIf=" (Ques.instructions | removeHtml : 92)?.length >= 90 " (click)="readfb(Ques.instructions)">
                                    ReadMore
                                </span>
                          </span>
                      </p>

                      <!-- <div class="row" *ngIf='Ques.questionTypeId == 2'>
                        <div class="image_center">
                            <img class='contentImg' [src]='Ques.contentRef'>
                        </div>

                    </div> -->

                      <div class="answer" [ngClass]="{'disableQuestion': Ques.Answered == 1 && activityData.behaviour == 2}">

                          <div *ngIf="!reviewFlag">
                              <div class="select_drop_list_container" *ngFor='let options of Ques.optionList;let j = index'>
                                  <div>
                                      <button *ngIf="options.optionType == '1'" [innerHTML]=" options.optionText | safe:'html'" class="options" [ngClass]="{'active': options.sFlag,
                                                        'options': !options.sFlag,
                                                        'activeCorrect': (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed),
                                                        'activeWrong': (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed)}">

                                            </button>
                                      <!-- <i class="fas fa-external-link-alt open_image_full_icon" *ngIf="options.optionType == '2'"   aria-hidden="true" (click)="openInFullScreen(options.optionRef)"></i> -->
                                      <div class="text-right" *ngIf="options.optionType == '2'"  >
                                        <span tooltip="Open Image In Full Screen Mode" flow="up">
                                          <i class="fas fa-external-link-alt open_image_full_icon"    aria-hidden="true" (click)="openInFullScreen(options.optionRef)"></i>
                                        </span>
                                      </div>
                                      <button *ngIf="options.optionType == '2'" class="options option_img_button" [ngClass]="{'active': options.sFlag,
                                                        'options': !options.sFlag,
                                                        'activeCorrect': (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed),
                                                        'activeWrong': (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed)}">
                                                <img class='optionsImg' [src]='options.optionRef | safe: "resourceUrl"'>
                                      </button>
                                  </div>
                                  <div class="dropable dropped_content" id="droptarget{{i}}{{j}}" (dragover)="allowDrop($event)" (drop)="drop($event,Ques,j,0)">
                                      Drop Matching Tiles
                                  </div>
                                  <div class="dropable" id="droptarget{{i}}{{j}}"  (dragover)="allowDrop($event)" (drop)="drop($event,Ques,j,1)">
                                      <button (dragstart)="dragStart($event)" (drag)="dragging($event)" draggable="true" id="dragtarget{{i}}{{j}}" class="options">
                                                <!-- {{ options.optionMatch }} -->
                                                <div  [innerHTML]="options.matchPairList[j].name | safe:'html'"></div>

                                                <!-- {{ options.matchPairList[j].name }} -->

                                            </button>
                                  </div>
                              </div>
                          </div>

                          <div *ngIf="reviewFlag">
                              <div class="select_drop_list_container" *ngFor='let options of Ques.optionList;let j = index'>
                                  <div>
                                      <button *ngIf="options.optionType == '1'" class="options" [ngClass]="{'active': options.sFlag,
                                                        'options': !options.sFlag,
                                                        'activeCorrect': reviewFlag || (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed),
                                                        'activeWrong': reviewFlag || (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed)}">
                                                {{ options.optionText }}
                                            </button>
                                      <!-- <i class="fas fa-external-link-alt open_image_full_icon" *ngIf="options.optionType == '2'"   aria-hidden="true" (click)="openInFullScreen(options.optionRef)"></i> -->
                                      <div class="text-right" *ngIf="options.optionType == '2'"  >
                                        <span  tooltip="Open Image In Full Screen Mode" flow="up">
                                          <i class="fas fa-external-link-alt open_image_full_icon"   aria-hidden="true" (click)="openInFullScreen(options.optionRef)"></i>

                                        </span>
                                      </div>
                                      <button *ngIf="options.optionType == '2'" class="options option_img_button" [ngClass]="{'active': options.sFlag,
                                                        'options': !options.sFlag,
                                                        'activeCorrect': reviewFlag || (options.sFlag && options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed),
                                                        'activeWrong': reviewFlag || (options.sFlag && options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed)}">
                                                <img class='optionsImg' [src]='options.optionRef | safe: "resourceUrl"'>
                                      </button>
                                  </div>
                                  <div class="dropable dropped_content">
                                      Drop Matching Tiles
                                  </div>
                                  <div class="dropable" id="droptarget{{i}}{{j}}">
                                      <button id="droptarget{{i}}{{j}}" class="options">
                                        <div  [innerHTML]="options.optionMatch| safe:'html'"></div>
                                                <!-- {{  }} -->
                                     </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class='inline' *ngIf='Ques.qTypeId == 3'>
                  <div>

                      <div *ngIf='Ques.questionTypeId == 1'>
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <!-- <h3 class="question">{{ Ques.qText }}
                              <span class="mandatoryQues" *ngIf="Ques.isMandatory == 1">&nbsp;*</span>
                          </h3> -->
                          <!-- <h3 class="question" [innerHtml]="makequizQuestionReady(Ques,'question')"></h3> -->
                          <h3 class="question" [innerHtml]= "Ques.qText | mandetoryquestionpipe:Ques :'question'" >
                        </h3>
                      </div>

                      <div *ngIf='Ques.questionTypeId == 2'>
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <div class="image_center">
                              <img class='contentImg' [src]='Ques.contentRef | safe: "resourceUrl"'>
                              <span  tooltip="Open Image In Full Screen Mode" flow="up">
                                <i class="fas fa-external-link-alt open_image_full_icon ml-2"    aria-hidden="true" (click)="openInFullScreen(Ques.contentRef)"></i>
                              </span>
                          </div>
                      </div>

                      <p class="questionInstructions">
                          <span class="questionInstructionsLabel"> Instructions : </span>
                          <!-- <span class="questionInstructionsData"> {{Ques.instructions}} </span> -->
                          <span class="questionInstructionsData">
                              {{ Ques.instructions | removeHtml : 92 }}
                              <span class="read_more_feedback" *ngIf=" (Ques.instructions | removeHtml : 92)?.length >= 90" (click)="readfb(Ques.instructions)">
                                      ReadMore
                                  </span>
                          </span>
                      </p>

                      <div class="answer" [ngClass]="{'disableQuestion': Ques.Answered == 1 && activityData.behaviour == 2}">

                          <div *ngIf="!reviewFlag">
                              <div class="">
                                  <div [sortablejs]="Ques.optionList" (change)="selectOption1(Ques,i)" class="sequence_list">
                                      <div *ngFor='let options of Ques.optionList;let j = index'>
                                          <button class="options sequence_list_option" [ngClass]="{'activeCorrect': (options.cFlag == 'true' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed),
                                                        'activeWrong': (options.cFlag == 'false' && activityData.behaviour == 2 && quiz[currentQuestionIndex].answerConfirmed)}">
                                                    <div class="button_option_container">
                                                            <div class="">{{j+1}} ) &nbsp;</div>
                                                            <div [innerHTML]="options.optionText | safe:'html'"></div>
                                                    </div>
                                        </button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div *ngIf="reviewFlag">
                              <div class="">
                                  <div class="" (change)="selectOption1(Ques,i)">
                                      <div class="" *ngFor='let options of Ques.optionList;let j = index' class="sequence_list">
                                          <button class="options " [ngClass]="{'activeCorrect': reviewFlag || (options.cFlag == 'true' && activityData.behaviour == 2),
                                                            'activeWrong': reviewFlag || (options.cFlag == 'false' && activityData.behaviour == 2)}">
                                                            <div class="button_option_container">
                                                                    <div class="">{{j+1}} ) &nbsp;</div>
                                                                    <div  [innerHTML]="options.optionText | safe:'html'"></div>
                                                            </div>
                                        </button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>

                  </div>
              </div>

              <div class="inline" *ngIf='Ques.qTypeId == 4'>
                  <div class="inline_div">
                      <div *ngIf='Ques.questionTypeId == 1' class="inline_div">
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <!-- <h3 class="question">{{ Ques.qText }}
                              <span class="mandatoryQues" *ngIf="Ques.isMandatory == 1">&nbsp;*</span>
                          </h3> -->
                          <!-- <h3 class="question" [innerHtml]="makequizQuestionReady(Ques,'question')"></h3> -->
                          <h3 class="question" [innerHtml]= "Ques.qText | mandetoryquestionpipe:Ques :'question'" >
                        </h3>
                      </div>

                      <div *ngIf='Ques.questionTypeId == 2' class="inline_div">
                          <h5 class='questionSName'>{{ Ques.sName }}</h5>
                          <div class="image_center">
                              <img class='contentImg' [src]='Ques.contentRef'>
                              <span  tooltip="Open Image In Full Screen Mode" flow="up">
                                <i class="fas fa-external-link-alt open_image_full_icon ml-2"    aria-hidden="true" (click)="openInFullScreen(Ques.contentRef)"></i>
                              </span>

                          </div>
                      </div>
                      <p class="questionInstructions" class="inline_div">
                          <span class="questionInstructionsLabel"> Instructions : </span>
                          <!-- <span class="questionInstructionsData"> {{Ques.instructions}} </span> -->
                          <span class="questionInstructionsData">
                              {{ Ques.instructions | removeHtml : 92 }}
                              <span class="read_more_feedback" *ngIf="(Ques.instructions | removeHtml : 92)?.length >= 90" (click)="readfb(Ques.instructions)">
                                      ReadMore
                                  </span>
                          </span>
                      </p>

                      <div classs="answer">
                          <div *ngIf="!reviewFlag">
                              <div class="">
                                  <textarea rows="4" cols="12" matInput placeholder="message" class="form-control commntbx" name="message" [(ngModel)]="Ques.optionList[0].sAns" minLength="{{Ques.optionList[0].minLen}}" maxLength="{{Ques.optionList[0].maxLen}}" (change)="checkIfValidInputText(i, Ques)"></textarea>
                              </div>
                              <div *ngIf="!Ques.optionList[0]?.isValid" class="error">
                                  {{Ques.optionList[0].msg}}
                                  <!-- Answer must at least {{list.minLen}} character. -->
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

              <p class="questionFeedback" *ngIf="quiz[currentQuestionIndex].answerConfirmed">
                  <span class="questionFeedbackLabel"> Additional Information : </span>
                  <!-- <span class="questionFeedbackData"> {{Ques.feedback}} </span> -->
                  <span class="questionFeedbackData">
                      {{ Ques.feedback | removeHtml : 92 }}
                      <span class="read_more_feedback" *ngIf="(Ques.feedback | removeHtml : 92)?.length >= 90" (click)="readfb(Ques.feedback)">
                              ReadMore
                          </span>
                  </span>
              </p>
          </div>

      </mat-card>
  </div>

  <!-- </div> -->

  <div class="row">

      <div class="footer" *ngIf="activityData.navigation == 1">

          <div class="stepper">
              <mat-slider min="1" max="{{total_page}}" step="1" value="{{quiz[currentQuestionIndex]?.id}}" thumbLabel tickInterval="1" class="slider" color="primary"></mat-slider>
          </div>

          <div class="nextbtn">
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],4)"  [disabled]="disablSubmit" *ngIf="last && quiz[currentQuestionIndex]?.answerConfirmed && reviewFlag">
      Go to Result
    </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],3)" [disabled]="disablSubmit" *ngIf="activityData.behaviour == 2 && last && quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Submit
    </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],3)"  [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && last && !quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Submit
    </button>
              <button class="nxt" (click)='submitAnswer(quiz[currentQuestionIndex],2)'  [disabled]="disablSubmit" *ngIf="activityData.behaviour == 2 && !last && quiz[currentQuestionIndex]?.answerConfirmed">
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
              <button class="nxt" (click)='submitAnswer(quiz[currentQuestionIndex],2)'  [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && !last && !quiz[currentQuestionIndex]?.answerConfirmed">
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
              <button class="nxt" (click)='submitAnswer(quiz[currentQuestionIndex],2)'  [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && !last && quiz[currentQuestionIndex]?.answerConfirmed">
        Next
      <i class="fas fa-arrow-right"></i>
    </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],1)"  [disabled]="disablSubmit" *ngIf="activityData.behaviour == 2 && !quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Confirm
    </button>
          </div>

      </div>

      <div class="footer" *ngIf="activityData.navigation == 2">

          <div class="back">
              <button class="round" (click)="prevPage()" *ngIf="currentQuestionIndex != 0">
      <i class="fas fa-arrow-left"></i></button>
          </div>

          <div class="stepper">
              <mat-slider min="1" max="{{total_page}}" step="1" value="{{quiz[currentQuestionIndex]?.id}}" thumbLabel tickInterval="1" class="slider" color="primary"></mat-slider>
          </div>

          <div class="nextbtn">
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],4)" [disabled]="disablSubmit" *ngIf="last && quiz[currentQuestionIndex]?.answerConfirmed && reviewFlag">
      Go to Result
    </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],3)" [disabled]="disablSubmit" *ngIf="activityData.behaviour == 2 && last && quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Submit
    </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],3)" [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && last && !quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Submit
            </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],4)" [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && last && quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Submit
    </button>
              <button class="nxt" (click)='submitAnswer(quiz[currentQuestionIndex],2)' [disabled]="disablSubmit" *ngIf="activityData.behaviour == 2 && !last && quiz[currentQuestionIndex]?.answerConfirmed">
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
              <button class="nxt" (click)='submitAnswer(quiz[currentQuestionIndex],2)' [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && !last && !quiz[currentQuestionIndex]?.answerConfirmed">
      Next
      <i class="fas fa-arrow-right"></i>
    </button>
              <button class="nxt" (click)='submitAnswer(quiz[currentQuestionIndex],2)' [disabled]="disablSubmit" *ngIf="activityData.behaviour == 1 && !last && quiz[currentQuestionIndex]?.answerConfirmed">
        Next
        <i class="fas fa-arrow-right"></i>
      </button>
              <button class="nxt" (click)="submitAnswer(quiz[currentQuestionIndex],1)" [disabled]="disablSubmit" *ngIf="activityData.behaviour == 2 && !quiz[currentQuestionIndex]?.answerConfirmed && !reviewFlag">
      Confirm
    </button>
          </div>

      </div>

  </div>
</div>

<div class="addSelfBackdrop2" [ngClass]="{'show_popup': showfb}">
  <div class="addSelfDemoModal2" [ngClass]="{'show_popup': showfb}">
      <!-- <h1 class="modalheader"> Feedback </h1> -->
      <p class="closeicon">
          <i class="fa fa-times" aria-hidden="true" (click)="closefb()"></i>
      </p>
      <base target="_blank">
      <p [innerHtml]="feedbacktext"></p>
  </div>
</div>
<div class="addSelfBackdrop2" [ngClass]="{'show_popup': showSubmitError}">
  <div class="addSelfDemoModal2" [ngClass]="{'show_popup': showSubmitError}">
    <!-- <h1 class="modalheader">Information</h1> -->
    <!-- <button class="close closeDeleteModalBtn" aria-label="Close" (click)="close()"></button> -->
<div class="content123 row">
  <p class="para123">Unable to submit your answers at this time, Please try again to submit</p>
  <div class="toggleIcon">
    <!-- <div class="toggle" (click)="SynSettings()">
      <i class="fas fa-toggle-off" [ngClass]="{'fa-toggle-on' : togglebtn }"></i>
    </div> -->
    <!-- <div class="toggle" (click)="toggleBtnState()" [hidden]="togglebtn.toggleON">
            <i class="fas "></i>
          </div> -->
  </div>
</div>
  <div class="butns">
    <button type="button" class="btn btn-success mR10" [disabled]="disablSubmit" (click)="retrySubmission()" >Yes</button>
    <button type="button" class="btn btn-warning" (click)="goBack()" >No</button>
  </div>


  </div>

</div>
 <div class="addSelfBackdrop2" [ngClass]="{'show_popup': showGetQuizQuestionError}">
  <div class="addSelfDemoModal2" [ngClass]="{'show_popup': showGetQuizQuestionError}">

<div class="content123 row">

  <p class="para123">Unable to get question at this moment. Do you want to retry?</p>

  <div class="toggleIcon">

  </div>
</div>
  <div class="butns">
    <button type="button" class="btn btn-success mR10" [disabled]="disableMultipleCalls" (click)="getQuizIntialDataAgain()" >Yes</button>
    <button type="button" class="btn btn-warning" (click)="goBack()" >No</button>
  </div>


  </div>

</div>
<ngx-image-viewer class="image_popup" *ngIf="showImageInFullScreen"  [src]="images"
[(config)]="config"
[(index)]="imageIndexOne"
(customEvent)="handleEvent($event)">
</ngx-image-viewer>
