ngx-quiz {
  .quiz_top_container {
      display: grid;
      grid-template-columns: 60px 60px 3fr 1fr;
      align-items: center;
      background: #ffffff;
      padding: 12px;
      border-radius: 10px;
      border: 0.5px solid rgba(0, 0, 0, 0.12);
      .rocket {
          text-align: center;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          background: #fff;
          color: var(--colorIcons);
          border: 1px solid var(--colorIcons);
          border-radius: 5px;
      }
      .timeoutdiv {
          display: flex;
          justify-content: flex-end;
        i {
            font-size: 25px;
            padding-right: 12px;
            color: var(--colorIcons);
        }
        .time {
            color: var(--colorCommon);
            font-size: 24px;
            margin: 0;
        }
      }
  }

  .questions_container {
      .matcard {
          background-image: Url("../assets/images/background.png");
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          border: 0.5px solid rgba(0, 0, 0, 0.12) !important;
          box-shadow: none !important;
          border-radius: 10px;
          margin: 12px auto 20px;
          padding: 30px;
          .image_center {
              // text-align: center;
              display: flex;
              justify-content: center;
              .contentImg {
                  height: auto;
                  width: 200px;
                  /* padding: 10px; */
                  /* padding-left: 15px; */
                  // margin: 0 auto;
                  // text-align: center;
              }
          }
          .error {
              color: #e43232;
              padding-top: 5px;
          }
          .question_number {
              .question_No {
                  width: 100%;
                  // font-family: "open sans" !important;
                  text-align: right;
                  font-weight: 600;
                  font-size: 30px;
                //   color: #2196F3;
                  color: var(--colorCommon);
                  margin: 0;
              }
              .question {
                  // font-family: "open sans";
                  font-size: 19px;
                  margin: 15px 0;
                  line-height: 50px;
                  text-align: justify;
              }
          }
          .question_answer_container {
              width: 100%;
              margin-bottom: 30px;
              .multiple_choice_question_container {
                  display: grid;
                  // grid-template-columns: 1fr 1fr 1fr 1fr;
                  column-gap: 20px;
                  row-gap: 20px;
                  grid-template-columns: 1fr 1fr;
                  align-items: center;
              }
              .button_option_container {
                  // display: flex;
                  // grid-template-columns: 30px 1fr;
                  align-items: center;
                  display: grid;
                  grid-template-columns: 40px 1fr;
              }
              .feedback_read_more{
                 display: flex;
                  // grid-template-columns: 30px 1fr;
                  align-items: center;
              }
              // .index_container{
              //   width: 110px;
              // }
              .active {
                  width: 100%;
                  height: 100%;
                  border: none;
                  padding: 15px 20px;
                  font-size: 20px;
                  border-radius: 15px;
                //   color: #ecf0fd;
                //   background-color: #2196F3;
                  color: #fff;
                  background-color: var(--colorCommon);
                  cursor: pointer;
              }
              .options {
                  width: 100%;
                  height: 100%;
                  border: none;
                  padding: 15px 20px;
                  // display: grid;
                  // grid-template-columns: 40px 1fr;
                  font-size: 20px;
                  border-radius: 15px;
                  background-color: #ecf0fd;
                //   color: #2196F3;
                  color: var(--colorCommon);
                  cursor: pointer;
                  word-break: break-word;
              }
              .activeCorrect {
                  width: 100%;
                  height: 100%;
                  border: none;
                  padding: 15px 20px;
                  font-size: 20px;
                  border-radius: 15px;
                  color: #ecf0fd;
                  display: grid;
                  grid-template-columns: 40px 1fr;
                  background-color: #4CC7A2;
                  //word-break: break-all;
                  word-break: break-word;
              }
              .activeWrong {
                  width: 100%;
                  height: 100%;
                  border: none;
                  padding: 15px 20px;
                  font-size: 20px;
                  border-radius: 15px;
                  color: #ecf0fd;
                  display: grid;
                  grid-template-columns: 40px 1fr;
                  background-color: #C74C67;
                  //word-break: break-all;
                  word-break: break-word;

              }
              .sequence_list {
                  width: 40%;
                  .sequence_list_option {
                      margin-bottom: 20px;
                  }
                  .sequence_list_option::last-child {
                      margin-bottom: 0px;
                  }
              }
          }
          .question_answer_container:last-child {
              margin-bottom: 0px;
          }
      }
      .select_drop_list_container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 20px;
          // grid-row-gap: 20px;
          margin-bottom: 20px;
      }
      .select_drop_list_container::last-child {
          margin-bottom: 0px;
      }
      .dropable {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          border: 1px dashed #AAAAAA;
          border-radius: 10px;
          box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.15), 0 2px 6px 0 rgba(47, 83, 151, 0.1);
          background-color: #fff;
          color: #AAAAAA;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 22px;
          padding: 0px !important;
          text-align: center;
      }
      .dropped_content {
          .options {
              height: unset !important;
          }
      }
      .selectedMatchedOption {
          height: 100%;
          border: none;
          padding: 20px 0 !important;
          font-size: 20px;
          border-radius: 15px;
          background-color: #2196f3;
          color: #ecf0fe;
          width: 100%;
          /* text-align: center; */
          line-height: 1.15;
          cursor: pointer;
          margin: 0;
      }
  }
//   .quizContainer {
//       padding: 20px;
//   }
  .mandatoryQues {
      color: #e43232;
  }
  .title123 {
      margin: 0;
      font-family: "open sans";
      font-size: 24px;
  }
  .link {
      color: #00BCD4;
      text-decoration: underline;
  }
  // .watch{
  //     margin: 6px 10px;
  // }
  .autoMarg {
      margin: auto;
      margin-bottom: 5px;
  }
  // .floatRightContent{
  //     // float: right;
  //     padding: 23px;
  //     width: 50%;
  // }
  // .floatRightContent1{
  //     float: right;
  //     padding: 23px;
  //     width: 50%;
  // }
  .questionSName {
      font-family: "open sans";
      font-size: 20px;
      margin: 15px 0;
      line-height: 40px;
      text-align: justify;
      color: lightslategrey;
  }
  // .answer{
  //     text-align: center;
  //     padding: 20px;
  // }
  .marginbottom {
      margin-bottom: 30px;
  }
  .inline_div {
      width: 100%;
  }
  .minH {
      min-height: 100px;
  }
  .footer {
      width: 100%;
      display: inline-flex;
      background: #fff;
      height: 60px;
      padding: 10px 10px;
      border-radius: 10px;
      border: 0.5px solid rgba(0, 0, 0, 0.12);
  }
  .back {
      padding: 0;
  }
  .round {
      border: none;
      height: 40px;
      width: 40px;
      background: #d0e3f1;
      font-size: 18px;
      cursor: pointer;
      color: #2196F3;
      border-radius: 50%;
  }
  .stepper {
      margin: 0 12px;
      width: 100%;
  }
  .slider {
      width: 100%;
  }
  .nextbtn {
      width: 400px;
      display: inline-flex;
  }
  .nxt {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 30px;
    //   background: #2196F3;
    //   color: #fff;
      background: var(--colorBgbtn);
      color: var(--colorBtnTxt);
      border: 1px solid var(--colorBtnTxt);
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    //   box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    i {
        padding-left: 12px;
    }
  }
  .completedstatus {
      font-size: 50px;
      text-align: center;
      font-family: "open sans";
      font-weight: 600;
      color: #2196F3;
  }
  .block1 {
      background: #ebf4f5;
      width: 200px !important;
      padding: 15px 23px;
      border-radius: 15px;
      margin: 0 auto;
  }
  .total {
      font-size: 20px;
      font-weight: 600;
      color: #5a5959;
      font-family: "open sans";
      margin: 0;
      line-height: 33px;
      height: 60px;
  }
  .points {
      font-size: 50px;
      text-align: center;
      font-family: "open sans";
      font-weight: 600;
      color: #2196F3;
      margin: 20px 0;
  }
  .lastLine {
      font-family: "open sans";
      text-align: center;
  }
  .floatRight {
      width: 100%;
  }
  .gotocourse {
      float: right;
      width: 200px;
      height: 100%;
      border: none;
      border-radius: 30px;
    //   background: #2196F3;
    //   color: #fff;
      background: var(--colorBgbtn);
      color: var(--colorBtnTxt);
      border: 1px solid var(--colorBtnTxt);
      margin-left: 25px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    //   -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    //   box-shadow: 5px 3px 13px 0px rgba(33, 150, 243, 0.3);
  }
  .review {
      float: right;
      width: 200px;
      height: 100%;
    //   border: 1px solid #2196F3;
      border: 1px solid var(--colorCommon);
      border-radius: 30px;
      background: #fff;
    //   color: #2196F3;
      color: var(--colorCommon);
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    //   -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    //   box-shadow: 5px 3px 13px 0px rgba(158, 158, 158, 0.45);
  }
  .rightans {
      color: #4CAF50 !important;
  }
  .score {
      color: #4CAF50 !important;
  }
  .margBot {
      margin-bottom: 10px;
  }
  .option_img_button {
      display: flex !important;
      .optionsImg {
          width: auto;
          height: 50px;
      }
  }
  button:focus {
      outline: 0;
  }
  .questionInstructions {
      font-size: 13px;
      margin-top: 0;
  }
  .questionFeedback {
      font-size: 13px;
      margin: 20px 0 25px 0;
  }
  .questionInstructionsLabel,
  .questionFeedbackLabel {
      color: #29334e;
  }
  .questionInstructionsData,
  .questionFeedbackData {
      font-size: 13px;
      color: #9e9fa1;
  }
  .disableQuestion {
      pointer-events: none;
  }
  .addSelfBackdrop2 {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: 1503;
      background-color: #40404075;
      opacity: 0;
      display: none;
      transition: all 0.5s ease;
      .addSelfDemoModal2 {
          width: 40%;
          margin: auto;
          background-color: #fff;
          border-radius: 5px;
          margin-top: 15%;
          padding: 20px;
          opacity: 0;
          transition: all 0.2s ease;
          .closeicon {
              text-align: end;
          }
      }
  }
  .show_popup {
      opacity: 1 !important;
      display: block;
      transition: all 0.5s ease;
  }
  .read_more_feedback {
      color: red;
      cursor: pointer;
      padding-left: 5px;
  }

  .modalheader{
    font-family: "Open sans";
    text-align: center;
    width: 100%;
  }
  // .content123{
  //   margin: auto;
  //   width: 100%;
  //   margin-bottom: 20px;
  //   line-height: 25px;
  // }

  .para123{
    font-size: 20px;
    color: #000;
    margin: 0;
    text-align: center;
    margin: 40px 30px;
    width: 100%;
  }
  .mR10{
    margin-right: 10px;
  }
  .butns{
    height: auto;
    text-align: center;
  }
  .mR10{
    margin-right: 10px;
  }
  .image_popup{
    z-index: 1059;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    // background: #000000;
    background: #00000091;
    position: fixed;
  }

  .open_image_full_icon{
    color: var(--colorCommon);
    font-size: 11px;
    cursor: pointer;
  }
  .showOnTop {
    top: 15px;
  }
}
