<div class="course-details" *ngIf="!loading && !noData">
    <div class="banner p-4">
        <div class="inner-banner px-md-4 px-lg-0 mx-auto">
            <div class="inner-banner--left">
                <!-- <div>
                <i class="fa fa-arrow-left"></i>
                </div> -->

                <h1 class="w-100 course-header font-weight-bold mt-0"> {{ courseData?.courseTitle }}</h1>
                <div class="author d-inline py-1">
                    <i class="far fa-user pr-1"></i>
                    <span class="pl-2">{{ courseData?.cAuthorName }}</span>
                </div>

                <div class="whishlist cursor-p d-inline pl-3 py-1" *ngIf="!courseEnroled && courseData?.compStatus != 'Open'" (click)="wishlistCourse(courseData, courseData.wishList)">
                    <i class="far fa-heart" [ngClass]="{'fillwhish fas' : courseData?.wishList === 1}"></i> {{courseData?.wishList === 1 ? 'Wishlisted' : 'Add to wishlist '}}
                </div>

                <div class="levels d-flex align-items-center pt-1 pb-2">
                    <svg class="level-1" width="19" height="26" viewBox="0 0 24 24" fill="none">
                        <path d="M12 20V10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18 20V4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M6 20V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                    <span class="align-bottom pl-2">{{ courseData?.cLevleLabel }}</span>
                </div>

                <div class="workflow-data d-inline py-1">
                    <span class="font-weight-bold">Type :</span>
                    <span class="pl-1">{{ courseData?.courseType2 }}</span>
                </div>
                <div class="workflow-data d-inline py-1 pl-2">
                    <span class="font-weight-bold">Points :</span>
                    <span class="pl-1">{{ courseData?.cpoints }}</span>
                </div>

                <div *ngIf="!courseEnroled && courseData?.compStatus != 'Open'" class=" pt-2">
                    <div class="price pb-2" *ngIf="courseData?.cCourseDiscount != 0">
                        <label class="m-0">
                        <span class="og-price font-weight-bold">
                            &#8377;{{ courseData?.cDiscountPrice }}
                        </span>
                        <span class="price-slash px-1">
                            &#8377;{{ courseData?.cOriginalPrice }}
                        </span>
                    </label>
                        <label class="discount pl-2 m-0"> {{ courseData?.cCourseDiscount }}&#37; off</label>
                    </div>

                    <div class="day" *ngIf="courseData?.cCourseDiscount != 0">
                        <label class="m-0">
                        <i class="far fa-clock"></i> Offer valid till {{ courseData?.discountEndDate }}!
                        </label>
                    </div>

                    <div class="price pb-1" *ngIf="courseData?.cCourseDiscount == 0">
                        <label class="m-0">
                            <span class="og-price" *ngIf="courseData?.isFree == 0">
                                &#8377;{{ courseData?.cDiscountPrice }}
                            </span>
                            <span class="og-price" *ngIf="courseData?.isFree == 1">
                              Free
                          </span>
                        </label>
                    </div>

                    <div class="course-btn">
                        <button class="cursor-p font-weight-bold mt-2" (click)="buyCourse(courseData)">{{courseData?.cDiscountPrice !== 'Free' ? 'Buy now' : 'Enrol for Free'}}</button>
                    </div>

                    <!-- <div class="apply col-md-6 d-inline-block">
                        <label class="" *ngIf="coupon" (click)="showCoupon()">Apply Coupon</label>
                        <div *ngIf="!coupon" class="input-group">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-prepend">
                                <button class="aplbtn">Apply</button>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="course-btn" *ngIf="!courseEnroled && courseData?.compStatus == 'Open'">
                    <button class="mt-3" *ngIf="courseData?.approvalStatus != 'Pending'" (click)="enrolSelfCourses(courseData)">Enroll</button>
                    <button class="pending-btn mt-1" *ngIf="courseData?.approvalStatus == 'Pending'">Pending for approval <i class="fas fa-info-circle"></i></button>
                </div>

                <div class="course-btn" *ngIf="courseEnroled && courseData?.enrolId != null">
                    <button (click)="goToLearn(courseData?.enrolmode)">Go to learn</button>
                </div>
            </div>

            <div class="inner-banner--right">
                <div class="preview-section">
                    <div class="inner-image">
                        <img [src]="bindBackgroundImage(courseData?.coursePicRef)">
                    </div>
                    <!-- <div class="inner-preview">
                      <video controls>
                          <source src="../../../assets/SampleVideo_1mb.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="preview-list">
                      <ul class="m-0">
                          <li *ngFor="let item of preview;let i = index">
                              {{i+1}}. {{item?.name}}
                          </li>
                      </ul>
                  </div> -->
                </div>
            </div>

        </div>
    </div>

    <div class="content-section p-4 mx-auto">
        <div class="content-inner">
            <h5 class="font-weight-bold pb-3">Content -</h5>
            <div *ngIf="courseData?.moduleData.length > 0">
                <div class="module-list" *ngFor="let item of courseData?.moduleData;let i = index">
                    <h6 class="text-capitalized">{{i+1}}. {{item?.modulename}}</h6>
                    <ul class="activity-list ml-4">
                        <li *ngFor="let activity of item?.activityData">
                            {{activity?.activityName}}
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="courseData?.moduleData.length == 0">
                Course content not available at this time.
            </div>
        </div>
        <h5 class="font-weight-bold py-3">About this course -</h5>
        <h3>Description :</h3>
        <p class="descri">{{courseData?.courseDesc}}</p>
        <h3>Features :</h3>
        <p class="descri">{{courseData?.Features}}</p>
        <ng-container *ngIf="courseData?.rewardcnt == 1">
          <h3>Certificates :</h3>
          <p class="descri m-0">{{courseData?.Certificates}}</p>
        </ng-container>

    </div>
</div>

<ngx-course-details-skeleton [hidden]="hideSkeleton"></ngx-course-details-skeleton>

<div class="course-skeleton" *ngIf="!loading && noData">
    <ngx-no-data-found [image]="noDataFoundContainer?.image" [title]="noDataFoundContainer?.title" [discription]="noDataFoundContainer?.discription"></ngx-no-data-found>
</div>

<!-- <footer class="px-4 py-3 text-center footset">
    <div class="inner-footer d-flex justify-content-between align-items-center">
        <div class="logo">
            <img class="imgftwid" src="../../../assets/edge-logo/edge-blue-full.png" width="100" alt="edge-logo">
            <label class="m-0 pl-2">Copyright © 2020 Edge, Inc.</label>
        </div>
        <div class="nav d-flex justify-content-around">
            <span class="cursor-p">Terms</span>
            <span class="cursor-p">Privacy Policy</span>
            <span class="cursor-p">Help and Support</span>
        </div>
    </div>
</footer> -->
