$color-text: #212529;
$gray-light: #707070;
.course-details {
  scroll-behavior: smooth;
  .banner {
    min-height: 215px;
    background: linear-gradient(
      122deg,
      rgb(215, 244, 248) 0%,
      rgb(255, 255, 255) 63%
    );
    .inner-banner {
      max-width: 80rem;
      &::after {
        content: "";
        clear: both;
        display: table;
      }
      &--left {
        float: left;
        width: 65%;
        .course-header {
          line-height: 1;
          font-size: 2rem;
          margin-bottom: 0.8rem;
        }
        .author,
        .whishlist {
          font-size: 1.1rem;
          color: $color-text;
        }
        .levels {
          stroke: $gray-light;
          color: $color-text;
          .level-1 {
            path {
              stroke: #adabab;
              &:last-child {
                stroke: #ff0202;
              }
            }
          }
          .level-2 {
            stroke: #adabab;
            path {
              &:last-child {
                stroke: #ff0202;
              }
              &:nth-child(1) {
                stroke: #ff0202;
              }
            }
          }
          .level-3 {
            stroke: #ff0202;
          }
        }
        .price {
          color: $color-text;
          .og-price {
            font-size: 2.2rem;
          }
          .price-slash {
            color: $gray-light;
            text-decoration: line-through;
          }
          .discount {
            color: $gray-light;
          }
        }
        .day {
          color: $color-text;
          label {
            font-size: 11px;
          }
        }
        .workflow-data {
          font-size: 1rem;
          color: $color-text;
        }
        .progress-work {
          .progress {
            width: 20%;
            height: 0.5rem;
            background: #ffffff;
            border: 0.5px solid #dadadb;
            .inprogress {
              color: var(--colorCommon);
            }
          }
        }
        .course-btn {
          button {
            border: none;
            min-width: 170px;
            color: #ffffff;
            font-size: 1.2rem;
            border-radius: 2px;
            background: #1c0000;
            padding: 8px 12px 10px;
            &:hover {
              opacity: 0.8;
            }
          }
          .pending-btn {
            font-size: 1rem;
            color: #eda02c;
            border: 0.1px solid;
            background: #ffffff;
          }
        }
        .apply {
          label {
            margin: 0;
            cursor: pointer;
            font-size: 13px;
            &:hover {
              border-bottom: 0.5px solid #7c7c7c;
            }
          }
          .apply-btn {
            border: 0;
            font-size: 13px;
            cursor: pointer;
            color: #ffffff;
            background: #000;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      &--right {
        top: 0;
        // width: 32%;
        width: 22%;
        float: right;
        position: relative;
        .preview-section {
          top: 10px;
          width: 100%;
          margin: auto;
          padding: 6px;
          border-radius: 4px;
          position: absolute;
          background: #ffffff;
          border: 1px solid #d7d7d7;
          // .inner-image {
          //     height: 155px;
          //     img {
          //         width: 100%;
          //         height: 100%;
          //         object-fit: cover;
          //     }
          // }
          .inner-preview {
            img {
              width: 100%;
              height: 100%;
              border-radius: 2px;
            }
            video {
              width: 100%;
              height: 100%;
            }
          }
          .preview-list {
            ul {
              padding: 10px;
              list-style-type: none;
              li {
                font-size: 14px;
                line-height: 1.3;
                color: #030303;
                text-align: justify;
                padding-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }
  .content-section {
    padding: 2rem;
    max-width: 80rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    h3 {
      font-size: 1rem;
      font-weight: 600;
      color: $color-text;
    }
    h5 {
      font-size: 1.4rem;
    }
    .content-inner {
      width: 50%;
      .module-list {
        &:last-child {
          border-bottom: 0.5px solid #f2ecec;
        }
        h6 {
          padding: 11px;
          border-radius: 4px;
          background: #f2f2f2;
        }
        .activity-list {
          // background: #fafafa;
          list-style-type: circle;
          li {
            padding: 3px 0;
            font-size: 14px;
            color: #615e5e;
          }
        }
      }
    }
    .descri {
      font-size: 1rem;
      line-height: 1.43;
      color: $gray-light;
      text-align: justify;
    }
  }
}

footer {
  color: $gray-light;
  box-shadow: 0 2px 12px 0 #dfe3eb;
  .logo {
    label {
      font-size: 13px;
      vertical-align: middle;
    }
  }
  .nav {
    width: 25%;
    span {
      font-size: 13px;
      color: #1282ce;
    }
  }
}

.imgftwid {
  width: 100px;
}

.fillwhish {
  color: red;
}

// .curspoint {
//     cursor: pointer;
// }
// .backicon {
//     font-size: 22px;
//     color: var(--colorIcons);
//     cursor: pointer;
// }

// .headerpad {
//     padding-left: 40px;
// }

// .bodypad {
//     padding-left: 60px !important;
//     padding-bottom: 50px !important;
// }

// .blackcol {
//     color: #000;
// }

// .rocket {
//     text-align: center;
//     height: 40px;
//     width: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 18px;
//     background: #fff;
//     color: var(--colorIcons);
//     border: 1px solid var(--colorIcons);
//     border-radius: 5px;
//     cursor: pointer;
// }

// .paddinp {
//     padding: 4px 8px;
// }

.aplbtn {
  border: none;
  width: 100px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 2px;
  padding: 4px 0 6px 0;
  background: #1c0000;
  cursor: pointer;
}

.footset {
  background: #ebeff5;
  position: absolute;
  bottom: 0;
  width: calc(100% - 5rem);
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20px auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
  .grid-item {
  }
}
