<!-- <div class="col-md-12 submitcolumn">
    <button type="button" class="constantbtn floteright" (click)="submit(feedbacktemplateArr)">Submit</button>
  </div> -->

<div class="feedback_body">
  <!-- <div class="role_card" *ngFor="let item of feedbacktemplateArr;let i = index">
    <div class=" ">
      <a class="titleOfCard" [hidden]="item <= 1">
            {{item.role}}
      </a>
      <div class="" >
        <div class="" *ngFor="let itemone of item.section">
              <h3 class="question64">{{itemone.section}}</h3>
          <div class="container" *ngFor="let itemtwo of itemone.subsection">
            <div class="row">
                <div class="col-md-12 nopadding botmMargin" *ngIf="itemone.subsection.length != 1">
                    <div class="subtitle">
                      {{itemtwo.subsection_name}}:
                    </div>
                    <div class="" *ngIf="itemtwo.dataType=='text'" >
                        <mat-form-field class="mat_field">
                          <textarea matInput class="feedbackText" rows="5" min="itemtwo.min" max="itemtwo.max" cols="12" [(ngModel)]="itemtwo.value"></textarea>
                        </mat-form-field>
                      </div>
                    <div class="" *ngIf="itemtwo.dataType=='datetime'">
                      <div class="fullwiddth">
                        <div class="divcalicon" ><i class="far fa-calendar-alt calfont"></i>
                        </div>
                        <input [owlDateTime]="dt2" class="dateinput"  placeholder="Select Date"
                          [(ngModel)]="itemtwo.value" [owlDateTimeTrigger]="dt2" name="potime" id="potime" [owlDateTimeTrigger]="dt2">
                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                      </div>
                    </div>
                  </div>
            </div>
           <div class="row">
              <div class="col-md-12 nopadding" *ngIf="itemone.subsection.length == 1">
                  <div class="col-md-12 nopadding" *ngIf="itemtwo.dataType=='text'">
                    <mat-form-field class="mat_field">
                        <textarea matInput class="feedbackText" rows="4" cols="50" [(ngModel)]="itemtwo.value"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12 nopadding" *ngIf="itemtwo.dataType=='datetime'">
                    <div class="fullwiddth">
                        <div class="divcalicon" ><i class="far fa-calendar-alt calfont"></i>
                        </div>
                      <input [owlDateTime]="dt2" class="dateinput" placeholder="Select Date"
                        [(ngModel)]="itemtwo.value" [owlDateTimeTrigger]="dt2" name="potime" id="potime">
                      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                    </div>
                  </div>
                </div>
           </div>


          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
        <button class="nxt" *ngIf ="item.role === userDetails.roll"  (click)="submit(feedbacktemplateArr)">Submit</button>
    </div>
  </div> -->

  <div class="role_container">
    <div class="roles">
      <div class="role_tabs" *ngFor="let role of feedbacktemplateArr;let i = index"
        [ngClass]=" activeRole == i ? 'activeButton': 'role_tabs'" (click)="tabChanged(i, role)">
        {{ role.role }}
      </div>
    </div>

    <div class="feedback_content" *ngIf = "subsections">
      <div *ngFor="let item of subsections">
        <div class='sectionP'>
            <p>{{ item.section }}</p>
        </div>


        <div class="container" *ngFor="let itemtwo of item.subsection">
          <!-- *ngIf="item.subsection.length != 1" -->
          <div class="content" [ngClass]="{'feedDatetime': itemtwo.dataType=='datetime'}" >
            <div class="subtitle">
                <p>{{itemtwo.subsection_name}}</p>
            </div>
            <div class="" *ngIf="itemtwo.dataType=='text'">
                <!-- class="mat_field" -->
              <div >
                <textarea matInput class="feedbackText" [disabled]="!activateRole" rows="1" min="itemtwo.min" max="itemtwo.max" cols="12"
                  [(ngModel)]="itemtwo.value"></textarea>
              </div>
            </div>
            <div class="" *ngIf="itemtwo.dataType=='datetime'">
              <div class="fullwiddth">
                <div class="divcalicon"><i class="far fa-calendar-alt calfont"></i>
                </div>
                <input [owlDateTime]="dt2" class="dateinput" [disabled]="!activateRole" placeholder="Select Date"
                [(ngModel)]="itemtwo.value" (dateTimeChange)="datetime($event.value)"
                  [owlDateTimeTrigger]="dt2" name="potime" id="potime"  [owlDateTimeTrigger]="dt2">
                <owl-date-time [pickerType]="'both'" #dt2></owl-date-time>
              </div>
            </div>
          </div>
          <!-- <div class="content" [ngClass]="{'feedDatetime': itemtwo.dataType=='datetime'}" *ngIf="item.subsection.length == 1">
            <div class="subtitle">
                  {{itemtwo.subsection_name}}
                </div>
            <div class="" *ngIf="itemtwo.dataType=='text'">
              <div>

                <textarea matInput class="feedbackText" rows="1"  [disabled]="!activateRole" min="itemtwo.min" max="itemtwo.max" cols="12"
                  [(ngModel)]="itemtwo.value"></textarea>
              </div>
            </div>
            <div class="" *ngIf="itemtwo.dataType=='datetime'">
              <div class="fullwiddth">
                <div class="divcalicon"><i class="far fa-calendar-alt calfont"></i>
                </div>
                <input [owlDateTime]="dt2" class="dateinput" [disabled]="!activateRole" placeholder="Select Date" [(ngModel)]="itemtwo.value"
                  [owlDateTimeTrigger]="dt2" name="potime" id="potime" [owlDateTimeTrigger]="dt2">
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              </div>
            </div>
          </div> -->
        </div>

        <!-- <div class="button-container">
            <button class="nxt" *ngIf ="activateRole" (click)="submit(item)">Submit</button>
        </div> -->
      </div>
    </div>

    <div class="button-container">
      <button class="nxt" *ngIf ="activateRole" (click)="submit(subsections)">Submit</button>
  </div>
  </div>
</div>
