ngx-cc-feedback {

  .feedback_body{
    margin: 15px;
    // background: #fff;
    border-radius: 5px;
  }

  .cardMain {
    margin: 16px;
  }
  .cardHeader {
    background: #2695d0;
    color: #ffff !important;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }
  .cardBody {
    padding: 10px;
  }
  .question64 {
    font-family: "open sans";
    font-size: 16px;
    text-align: justify;
    margin: 18px 0px 0px 0px;
    font-weight: 600;
    color: #605959;
  }

  .divcalicon {
    width: 30px;
    display: flex;
    background: transparent;
    color: #ccc;
    align-items: center;
    justify-content: center;
    // border-bottom: 1px solid #999797;
  }
  .dateinput {
    border: none;
    background: none;
    // border-bottom: 1px solid #858383;
    border-radius: 0;
    width: 100%;
    padding: 5px 3px 7px 10px;
  }
  .feedDatetime {
    margin: 16px 0px;
  }
  .fullwiddth {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #e5e5e5 !important;
    padding: 12px;
    border-radius: 6px;
    margin-top: 6px;
  }
  .calfont {
    font-size: 18px;
    color: #c6c6c6;
  }
  .feedbackText {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 20px;
    color: black;
    margin: 5px auto 10px auto;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    font-size: 12px !important;
    padding: 9px !important;
  }

  .txtArea {
    width: 100%;
    max-width: 700px;
    font-size: 20px;
    outline: none;
    color: black;
    // margin-left:20px;
    // resize: none;
    border: 2px solid #7d9af3;
    padding: 10px;
    border-radius: 10px;
  }

  .role_card{
    padding: 15px;
  }

  .titleOfCard {
    display: inline-block;
    /* background: -webkit-gradient(linear, left top, right top, from(#b4cde1), to(#eee)); */
    /* background: linear-gradient(to right, #b4cde1, #eee); */
    color: #0c86fe !important;
    /* padding: 5px 0 5px 15px; */
    width: 100%;
    font-size: 22px;
    text-decoration: none;
    border-bottom: 1px solid #4ca6ff;
    /* border-left: 4px solid #4ca6ff; */
  }

  .cardTitle {
    background: #008eff;
    color: #ffff !important;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }

  .cardPadding {
    padding: 15px;
  }

  .nopadding {
    padding: 0;
  }

  .botmMargin {
    margin-bottom: 10px;
  }

  .formLabel {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .button-container {
    text-align: center;
    margin-top: 10px;
  }
  .nxt {
    padding: 8px 40px;
    border: none;
    border-radius: 30px;
    // background: #507BFC;
    // color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
  }
  .subtitle{
    // padding: 10px 0;
    font-size: 1vw;
    p {
      margin: 0;
      font-size: 13px;
      color: gray;
      padding: 8px 0;
    }
  }

  .roles{
    display: flex;
    /* grid-template-columns: auto auto auto; */
    /* grid-column-gap: 20px; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .role_tabs.activeButton{
    // background: #3880ff;
    // color: #fff;
    text-align: center;
    background: var(--colorCommon);
    color: #fff;
  }
  .role_tabs{
    width: 100px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    // color: #3880ff;
    font-size: 18px;
    border-radius: 10px;
    // background: #fff;
    -webkit-box-shadow: none;
    // box-shadow: 1px 5px 10px #ccc;
    // change
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    background: var(--colorCommon);
  }

  .feedback_content{
    background: #fff;
    margin-top: 18px;
    padding: 15px;
    border-radius: 7px;
    color: #000;
  }

  .sectionP {
    padding: 5px;
    p {
      margin: 0;
    }
  }
}
