.course-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 45px;
    background: #ffffff;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 12px;
    .text-content {
        h2 {
            font-size: 24px;
            text-transform: capitalize;
        }
        p {
            margin: 0;
        }
    }
    .cancelIcon {
        background: #ffffff;
        font-size: 18px;
        border: 1px solid var(--colorIcons);
        color: var(--colorIcons);
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
        padding: 10px 12px;
    }
}
.content-details-course{
    padding: 16px;
    background: #ffffff;
    border-radius: 10px;
//     .course-content{
//       display: grid;
//       grid-template-columns: 2fr 1fr;
//       align-items: center;
//       .text-content{
//           h4{
//               text-transform: capitalize;
//               font-size: 20px;
//               padding: 0;
//           }
//       }
//   }
//   .cancel{
//     height: 56px;
//     width: 56px;
//     background-color: #FFFFFF;
//     box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
//     border-radius:50%;
//     text-align: center;
//     cursor: pointer;
//     margin-left: auto;
//     border: 1px solid var(--colorIcons);
// }
// .cancelIcon{
//     margin-top: 31%;
//     font-size: 25px;
//     // color: #507bfc;
//     color: var(--colorIcons);
// }

    .num02{
        height: 60px;
        width: 51px;
        color: #507BFC;
        font-family: "Open Sans";
        font-size: 44px;
        font-weight: 600;
        line-height: 60px;
    }
    .user-experience-begi {
        height: 24px;
        width: 281px;
        opacity: 0.6;
        color: #464646;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 24px;
    }

    .user-experience-desi {
        height: 60px;
        // max-width: 840px;
        width: 100%;
        color: #464646;
        font-family: "Open Sans";
        font-size: 44px;
        line-height: 60px;
    }
    .proImg{
        height: 46px;
        width: 46px;
        border-radius:50%;
    }
    .amberlee-pozar {
        height: 22px;
        width: 119px;
        color: #464646;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
    }
    .para{
        font-size: 18px;
        color: #464646;
        margin: 0;
        line-height: 30px;
        font-family: "open sans";
        text-transform: capitalize;
    }

    .block{
        width: 100%;
        padding: 0 10px;
    }

    .flexLine{
        display: flex;
        width:100%;
        margin: 10px 0;
    }

    .nov-27 {
        width: 100%;
        color: #7e7d7d;
        font-family: "Open Sans";
        font-size: 11px;
        line-height: 15px;
        margin: 0;
    }

    .colImg{
        max-width:4% !important;
    }
    .yong-chuan-645079-unsplash {
        // height: 100%;
        // width: 100%;
    }
    .yong-chuan {
        height: 80%;

    }

    .icon-bookmark {
        height: 24px;
        width: 18px;
        font-size: xx-large;
    }
    .fill-1 {
        height: 23px;
        width: 20px;
        font-size: xx-large;
        padding-top: 25%;
    }

    .course-content-div{
        // padding-top: 2%;
        // max-width: 800px;
        width:100%;
        margin: 0 auto;
    }
    .icons{
        left: 2%;
    }
    .mask-copy-2 {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: #507BFC;
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        outline:none;
        float:right;
        border: none;
        color: #fff;
    }
    .mask-copy-3 {
        box-sizing: border-box;
        // height: 41px;
        // width: 229px;
        border: 1px solid #4D77FF;
        border-radius: 100px;
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
        outline:none;
        float:left;
        background-color: #fff;
        color: #4D77FF;
    }
    .thirty-years-after-d {
        // height: 99px;
        width: 100%;
        opacity: 0.8;
        color: #464646;
        font-family: "Open Sans";
        font-size: 24px;
        line-height: 33px;
        padding: 3%;
        // max-width:76.3333333%
    }
    .in-hac-habitasse-pla {
        height: 165px;
        width: 100%;
        opacity: 0.8;
        color: #464646;
        font-family: "Open Sans";
        font-size: 24px;
        line-height: 33px;
        padding: 3%;
        // max-width:76.3333333%
    }
    .btncenter{
        text-align: center;
        padding-top: 10%;
    }

   @media only screen and (max-width: 650px) {
            .cancel {
                height: 45px;
                width: 45px;
                .cancelIcon{
                    margin-top: 27%;
                    font-size: 20px;
                }
            }


    }

   @media only screen and (max-width: 650px) {
         padding: 0 !important;
        .course-content{
            padding: 10px 10px 0;
            align-items: baseline;
        }
        .cancel{
            height: 20px;
            width: 20px;
            background-color: #FFFFFF;
            -webkit-box-shadow:none;
            box-shadow:none;
            border-radius: 0%;
            text-align: center;
            cursor: pointer;
            margin-left: auto;
            .cancelIcon{
                font-size: 21px;
                color: #507bfc;

            }
        }
     }
}

