<div class="course-content">
    <div class="text-content">
        <h2>{{ contentData.contentName }}</h2>
        <p>{{ contentData?.contentDesc }}</p>
    </div>
    <div class='' (click)='goBack()'>
        <i class="fa fa-times cancelIcon" aria-hidden="true"></i>
    </div>
</div>

<!-- <div id='courseDescription' class="col-md-12 thirty-years-after-d">
    <p class="activityNameSize" [innerHTML]="contentData?.contentDesc"></p>
</div> -->

<div class='content-details-course'>
    <div class="course-content-div">
        <div *ngIf="contentData.contentType == 2">
            <ngx-audioplayer></ngx-audioplayer>
        </div>
        <div *ngIf="contentData.contentType === 1">
            <ngx-videoplayer [vid]="videoData"></ngx-videoplayer>
        </div>
        <div *ngIf="contentData.contentType === 7">
            <!-- <img class="yong-chuan-645079-unsplash" [src]="contentData.assetRef" style=" max-height: 300px; max-width: 100px;" > -->
            <img class="yong-chuan-645079-unsplash" [src]="contentData.assetRef">
        </div>

        <div *ngIf="contentData.contentType === 3">
            <ngx-documentviewer [documentref]="contentData.assetRef"></ngx-documentviewer>
            <!-- <iframe [src]="contentData.assetRef | safe: 'resourceUrl'" style="width:100%; height:500px;" fullscreen></iframe> -->
        </div>

        <div *ngIf="contentData.contentType === 6">

            <iframe [src]="youtubeurl" style="width:100%; height:500px;" fullscreen>
            </iframe>
        </div>

        <div *ngIf="contentData.contentType === 10">
            <a class="link" download [href]="contentData.assetRef">
                Click here to open URL
            </a>
        </div>

        <div *ngIf="contentData.contentType === 11">
            <a class="link" download [href]="contentData.assetRef">
                Click here to open URL
            </a>
        </div>
        <div *ngIf="contentData.contentType === 12">
            <a class="link" download [href]="contentData.assetRef">
                Click here to open URL
            </a>
        </div>
    </div>
</div>
