<div class='mainDiv'>

  <div class="header" [hidden]="nodataFound">
    <div class="header_content row">
        <h3 class="header_program_name col-md-8">
            {{selectedProgram.programName}}
          </h3>
          <div class=" col-md-4">
            <!-- <select name="program" id="program" >
              <option>Select Program</option>
              <option>Program 2</option>
              <option>Program 31</option>
              <option>Program 4</option>
            </select> -->

            <!-- <div class="btn-group dropbtn_full_width">
                <button type="button" class="btn btn-secondary btn_dropdown">Select Program</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split toggleBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropMenu dropdown_menu" aria-labelledby="dropdownMenuButton">
                    <ul class="myUl">
                    <span >
                        <li class="dropdown-item dropItems" *ngFor="let item of program" (click)="getSelectedProgramData(item)">{{item.programName}}</li>
                    </span>
                    </ul>
                </div>
            </div> -->
            <div *ngIf = "istrainerData" >
                <mat-form-field class="dropdown_full_width">
                    <mat-label><b>Select a Program</b></mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option *ngFor="let item of program" [value]="item.programName" (click)="getSelectedProgramData(item)">{{item.programName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>

            <div *ngIf = "!istrainerData" class="mt-2 mb-2">
                <ngx-content-loading [width]="100" [height]='10'>
                    <svg:g ngx-rect width="100" height="10" y="0" x="0" rx="2" ry="2"></svg:g>
                </ngx-content-loading>
            </div>
          </div>
    </div>

    <div class="row">
        <div class="padding0 col-md-9">
            <div *ngIf = "!istrainerData" >
                <ngx-content-loading [width]="320" [height]='100'>
                    <svg:g ngx-rect width="70" height="80" y="0" x="0" rx="10" ry="10"></svg:g>
                    <svg:g ngx-rect width="70" height="80" y="0" x="80" rx="10" ry="10"></svg:g>
                    <svg:g ngx-rect width="70" height="80" y="0" x="160" rx="10" ry="10"></svg:g>
                    <svg:g ngx-rect width="70" height="80" y="0" x="240" rx="10" ry="10"></svg:g>
                </ngx-content-loading>
            </div>

            <div class="cards-row" *ngIf = "istrainerData">


              <div class="card"  [ngClass]="{'card-1': i == 0, 'card-2': i == 1, 'card-3': i == 2, 'card-4': i == 3, 'card-5': i == 4 ,'card-6': i == 5 }"
              *ngFor="let item of trainerData; let i = index " (click)="goto(i)">
                  <div class="icon-container">
                      <!-- <i class="fas fa-chart-line"></i> -->
                      <!-- {{i}} -->
                      <i class="fas" [ngClass]="{'fa-chalkboard-teacher': i == 0 ,'fa-users': i == 1 , 'fa-calendar-alt': i == 2, 'fa-chart-bar': i == 3, 'fa-chart-line': i == 4}"></i>
                      <!-- <i class="fas fa-chart-bar"></i> -->
                    </div>
                  <div class="icon-content">
                      <p class="point">{{ item?.cnt == null ? 'NA' : item?.cnt }}</p>
                      <p class="point-text">{{ item?.label }}</p>
                      <!-- <span *ngIf="i == 0">{{ lastcon?.label }}</span> -->
                  </div>
              </div>

              <div class="card card-7" *ngFor="let batch of batchArray" (click)="gotoTrainerDetails(batch)">
                <div class="icon-container">
                  <i class="fas fa-book-reader"></i>
                </div>
                <div class="icon-content">
                    <p class="point-text">{{batch?.batchname}}</p>
                </div>
              </div>

              <!-- <div class="card card-6" *ngFor="let wf of instanceArray" (click)="gotoworkflowDetails(wf)">
                <div class="icon-container">
                  <i class="fas fa-users"></i>
                </div>
                <div class="icon-content">
                    <p class="point-text">{{wf.instanceName}}</p>
                    <p class="point-text">{{ wf.description }}</p>
                </div>
              </div>

              <div class="card card-8">
                <div class="icon-container">
                  <i class="fas fa-headset"></i>
                </div>
                <div class="icon-content" (click)="gotocoachingnomination()">
                  <p class="point">{{ccData.cnt}}</p>
                  <p class="point-text">{{ccData.label}}</p>
                </div>
              </div>  -->
            </div>

            <!-- <div class="row feedbackDiv">
              <div class="col-lft col-md-12">
                <table style="width: 100%">
                  <tr *ngFor="let data of feedbackData" class="tablerow">
                    <td class="td-left" title="{{ data.label }}">{{ data.label | truncate : 25 : "..." }}</td>
                    <td class="td-right">
                      <div *ngIf="data.score"> {{ data.score}}  </div>
                      <span *ngIf="data.score &&  data.points"> / </span>
                      <div>{{ data.points }} </div>

                    </td>

                  </tr>
                </table>
              </div>
            </div> -->
            <!-- *ngFor="let data of feedbackData" -->
            <div class="row feedbackDiv" >
              <div class="col-lft col-md-12">
                <div *ngFor= "let session of sessiondata">
                    <table style="width: 100%">
                      <tr class="tablerow_new">
                        <td class="td-left">{{session?.sectionName}}</td>
                        <td class="td-right">
                            <div > {{ session?.secAvg == null ? 'NA' : session.secAvg}}  </div>
                            <!-- <div *ngIf="session.secAvg"> {{ session?.secAvg == 'null' ? 'NA' : session.secAvg}}  </div> -->
                        </td>
                      </tr>
                      <tr  class="tablerow_new" *ngFor="let data of session?.list">
                        <td class="td-left" title="{{ data.label }}" [innerHTML]="data.label"></td>
                        <td class="td-right">
                          <div > {{ data?.score  == null ? 'NA' : data.score}}  </div>
                          <!-- <div *ngIf="data.cnt"> NA  </div> -->
                        </td>

                      </tr>

                    </table>
                </div>
              </div>
              <!-- <div class="col-lft col-md-12">
                <table style="width: 100%">
                  <tr  class="tablerow_new" *ngFor="let data of feedbackData">
                    <td class="td-left" title="{{ data.label }}">{{ data.label | truncate : 25 : "..." }}</td>
                    <td class="td-right">
                      <div *ngIf="data.cnt"> {{ data.cnt}}  </div>
                      <span *ngIf="data.score &&  data.points"> / </span>
                      <div>{{ data.points }} </div>

                    </td>

                  </tr>
                </table>
              </div> -->
            </div>

            <div class="row feedbackDiv mt-2" >
              <div class="col-lft col-md-12">
                    <table style="width: 100%">
                      <tr class="tablerow" *ngFor="let data of feedbackData">
                          <td class="td-left" title="{{ data.label }}">{{ data?.label | truncate : 25 : "..." }}</td>
                          <td class="td-right">
                            <div *ngIf="data.cnt"> {{ data?.cnt}}  </div>
                            <span *ngIf="data.score &&  data.points"> / </span>
                            <div>{{ data?.points }} </div>
                          </td>

                      </tr>
                    </table>
              </div>
            </div>
          </div>

          <div class="batchesmainDiv col-md-3">
              <div class="ToggleDiv" *ngIf = "istrainerData">
                <div class="card btn coBtns col-md-12">
                    Ongoing Batches ({{batchcount?.cnt}}) <span class="togglebtn" *ngIf="batchcount.cnt > 0"> <i class="fas fa-sort-down"></i> </span>
                    <!-- <span class="togglebtn" *ngIf="arrow"><i class="fas fa-sort-up"></i> </span> -->
                </div>
                <div class="badgeDiv">
                  <div *ngFor="let batch of ongoingbatch" class="btn_card col-md-12" (click)="gotoTrainerDetails(batch)">
                      <!-- <span class="prname"> {{ item.programName  }} </span> -->
                    <h2>{{ batch?.batchName}}</h2>
                    <!-- {{ batch?.venueName}} -->
                    <h3>{{batch?.locationName}} </h3>
                    <h4>{{ batch?.batchStartDate}}</h4>
                  </div>
                </div>
              </div>
              <div class="ToggleDiv">
                <!-- <div class="card btn  coBtns col-md-12">
                    Upcoming Batches ({{upcomingcount?.cnt}}) <span class="togglebtn" *ngIf="upcomingcount.cnt > 0"> <i class="fas fa-sort-down"></i></span>
                </div>
                <div class="badgeDiv"> -->
              <div *ngIf = "!istrainerData" >
                  <ngx-content-loading [width]="100" [height]='20'>
                      <svg:g ngx-rect width="100" height="20" y="0" x="0" rx="2" ry="2"></svg:g>
                  </ngx-content-loading>
              </div>
              <div  class="mt-4" *ngIf = "!istrainerData" >
                  <ngx-content-loading [width]="100" [height]='20'>
                      <svg:g ngx-rect width="100" height="20" y="0" x="0" rx="2" ry="2"></svg:g>
                  </ngx-content-loading>
              </div>
              <div *ngIf = "istrainerData">
                  <div class="card btn  coBtns col-md-12">
                      Upcoming Batches ({{upcomingcount?.cnt}}) <span class="togglebtn" *ngIf="upcomingcount.cnt > 0"> <i class="fas fa-sort-down"></i></span>
                  </div>
                  <div class="badgeDiv">
                <div *ngFor="let item of upcomingbatch" class="btn col-md-12" >
                  <h2>{{ item?.batchName}}</h2>
                  <!-- {{ item?.venueName}} -->
                <h3>{{item?.locationName}} </h3>
                <h4>{{ item?.batchStartDate}}</h4>
              </div>
              </div>
              </div>
            </div>
    </div>

  </div>

  <div *ngIf="nodataFound" class="">
    No data Found
  </div>

</div>

<div class="bgHide" id="Hide" (click)="closeNav()"></div>
<button (click)="openNav()" *ngIf="showSideMenu" class="buttonClick"><i class="fa fa-podcast"></i></button>
  <div id="mySidenav" class="sidenav">
    <span class="closebtn" (click)="closeNav()"><i class="fa fa-arrow-right"></i></span>
    <p (click)="gotocoachingnomination()" *ngIf="callIcon">
      <i class="fas fa-headset icon"></i> Call Coaching
    </p>
    <p (click)="gotttpopup()" *ngIf="instanceArray.length != 0"><i class="fas fa-users icon"></i>TTT Workflow</p>
  </div>


<div *ngIf="hideback" class="fade tttpopup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">TTT Workflow
            <button type="button" class="closebtn" (click)="closetttpop()">&times;</button>
          </h4>
        </div>
        <div class="modal-body">
          <div class="tttDiv">
            <div class="tttcard" (click)="gotoworkflowDetails(item)" *ngFor="let item of instanceArray;let i = index">
              <h2>{{item.instanceName |  slice:0:80}}...</h2>
              <a>{{item.sdate}}</a>
              <p>{{item.description |  slice:0:100}}...</p>
            </div>
            <div class="messsage" *ngIf="instanceArray.length == 0">
                <p>You have no Workflow</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
