ngx-eep-step {
  .mainPadding {
    // padding: 2.25rem 2.25rem 0.75rem !important;
    padding: 16px 0;
  }
  // .wfName {
  //   font-size: x-large;
  //   color: black;
  // }
  .workhead {
    display: flex;
    align-items: center;
    background: white;
    padding: 12px;
    border-radius: 10px;
    .cancelIcon {
      background: #ffffff;
      font-size: 18px;
      border: 1px solid var(--colorIcons);
      color: var(--colorIcons);
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
      padding: 10px 12px;
    }
    h2 {
      font-size: 24px;
      margin: 0;
      padding-left: 12px;
    }
  }
  .mat-tab-label-active {
    // background: #008eff !important;
    // color: #fff !important;
    background: var(--colorCommon) !important;
    color: #fff !important;
  }

  .mat-tab-body {
    margin-top: 18px !important;
  }

  .mat-tab-header {
    width: 50% !important;
    margin: auto !important;
  }

  .mat-tab-label {
    width: 100%;
    background: #fff;
    // border: 1px solid #507bfc;
    border: 1px solid var(--colorCommon);
    font-size: 16px;
    height: 48px;
    color: var(--colorCommon);
    opacity: 1 !important;
  }

  .mat-tab-label:first-child {
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
  }

  .mat-tab-label:last-child {
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
  }

  .mat-tab-group {
    width: 100% !important;
    margin: auto;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    visibility: hidden !important;
  }

  .mat-tab-header,
  .mat-tab-nav-bar {
    border: none !important;
  }

  .mat-step-header .mat-step-icon {
    background-color: rgb(167, 151, 151) !important;
    color: #fff;
  }

  .mat-step-icon {
    height: 30px !important;
    width: 30px !important;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: transparent;
  }

  .mat-horizontal-content-container {
    background: transparent;
  }

  .mat-step-header .mat-step-icon-state-done {
    background-color: #8bc34a !important;
  }

  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: #a79797 !important;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

  .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::before,
  .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::after,
  [dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::after,
  [dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::before {
    height: 3px !important;
  }

  .mat-stepper-horizontal-line {
    height: 3px !important;
  }

  .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header
    .mat-step-label {
    min-width: 100px;
  }
  .stepColumn {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .stepno {
    background: none;
    // width: 120px;
    border: none;
    text-align: -webkit-center;
    .stepLabel {
      border-radius: 55px;
      border: 1px solid;
      width: 30px;
      height: 30px;
    }
    .stepname {
      text-overflow: ellipsis;
      // width: 80px;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .rejectedStat {
    .stepLabel {
      color: #ffffff;
      background: #fb250c;
      padding: 5px;
    }
    .stepname {
      color: #fb250c;
    }
  }

  .completedStep {
    .stepLabel {
      color: #ffffff;
      background: #4cc7a2;
      padding: 5px;
    }
    .stepname {
      color: #4cc7a2;
    }
  }

  .pendingStat {
    .stepLabel {
      color: #ffffff;
      background: #2196f3;
      padding: 5px;
    }
    .stepname {
      color: #2196f3;
    }
  }

  .incompletestep {
    .stepLabel {
      color: #2196f3;
      background: #ffffff;
      padding: 5px;
    }
    .stepname {
      color: #008eff;
    }
  }

  // .mattabs {
  //   text-align: center;
  //   width: 80%;
  //   margin: 0 auto;
  //   .tab_content {
  //     width: 10%;
  //   }
  //   .BHAPR {
  //     text-align: center;
  //     box-shadow: 1px 5px 10px #ccc;
  //     //   border: 1px solid #507bfc;
  //     display: grid;
  //     height: 100px;
  //     align-items: center;
  //     border-radius: 10px;
  //     background: white;
  //     font-size: 18px;
  //     font-weight: bold;
  //     width: 90%;
  //     //   color: #507bfc;
  //   }
  // }
  .content_center{
    display: flex;
    height: 100%;
    align-items: center;
    .pending_status{
      width: 100%;
      justify-content: center;
      font-size: 18px;
      // font-weight: bold;
    }
  }
  .mattabs {
    text-align: center;
    // width: 80%;
    margin: 0 20px;
    padding: 20px 0 20px 0;
    .tab_content{
      width: 10%;
    }

  }
  ///// new //////// 
  .parent_ttt_nomination{
    display: grid;
    grid-template-columns: 1fr 4fr;
    .stepper-container{
      .bs-vertical-wizard {
        border-right: 1px solid #eaecf1;
        padding-bottom: 50px;
      }
  
      .bs-vertical-wizard ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
  
      .bs-vertical-wizard ul>li {
        display: block;
        position: relative;
        cursor: pointer;
      }
  
      .bs-vertical-wizard ul>li>div {
        display: block;
        padding: 10px 10px 10px 40px;
        color: #333c4e;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .8px;
      }
  
      .bs-vertical-wizard ul>li>div:before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% - 25px);
        background-color: #bdc2ce;
        left: 13px;
        bottom: -9px;
        z-index: 3;
      }
  
      .bs-vertical-wizard ul>li>div .ico {
        pointer-events: none;
        font-size: 14px;
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 2;
      }
      .bs-vertical-wizard ul>li>div .ico-pending{
        pointer-events: none;
        font-size: 14px;
        position: absolute;
        left: 7px;
        top: 15px;
        z-index: 2;
        // color: #507BFC;
        color: var(--colorIcons);
      }
      .bs-vertical-wizard ul>li>div:after {
        content: '';
        position: absolute;
        border: 2px solid #bdc2ce;
        border-radius: 50%;
        top: 14px;
        left: 6px;
        width: 16px;
        height: 16px;
        z-index: 3;
      }
  
      .bs-vertical-wizard ul>li>div .desc {
        display: block;
        color: #bdc2ce;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: .8px;
      }
  
      .bs-vertical-wizard ul>li.complete>div:before {
        background-color: #5cb85c;
        opacity: 1;
        height: calc(100% - 25px);
        bottom: -9px;
      }
  
      .bs-vertical-wizard ul>li.complete>div:after {display:none;}
      .bs-vertical-wizard ul>li.locked>div:after {display:none;}
      .bs-vertical-wizard ul>li:last-child>div:before {display:none;}
  
      .bs-vertical-wizard ul>li.complete>div .ico {
        left: 8px;
      }
  
      .bs-vertical-wizard ul>li>div .ico.ico-green {
        color: #5cb85c;
      }
  
      .bs-vertical-wizard ul>li>div .ico.ico-muted {
        color: #bdc2ce;
      }
  
      .bs-vertical-wizard ul>li.current {
        background-color: #fff;
      }
  
      .bs-vertical-wizard ul>li.current>div:before {
        background-color: #ffe357;
        opacity: 1;
      }
  
      .bs-vertical-wizard ul>li.current>div:after {
        border-color: #ffe357;
        background-color: #ffe357;
        opacity: 1;
      }
  
      .bs-vertical-wizard ul>li.current:after, .bs-vertical-wizard ul>li.current:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
  
      .bs-vertical-wizard ul>li.current:after {
        border-color: rgba(255,255,255,0);
        border-left-color: #fff;
        border-width: 10px;
        margin-top: -10px;
      }
  
      .bs-vertical-wizard ul>li.current:before {
        border-color: rgba(234,236,241,0);
        border-left-color: #eaecf1;
        border-width: 11px;
        margin-top: -11px;
      }
  
    }
    // .stepper-container{
    //   .StepProgress {
    //     position: relative;
    //     padding-left: 45px;
    //     list-style: none;
    //     counter-reset: progress;
    //   }
    //   .StepProgress::before {
    //     display: inline-block;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 15px;
    //     width: 10px;
    //     height: 100%;
    //     border-left: 2px solid #CCC;
    //   }
    //   .StepProgress-item {
    //     position: relative;
    //     counter-increment: progress;
    //   }
    //   .StepProgress-item:not(:last-child) {
    //     padding-bottom: 20px;
    //   }
    //   .StepProgress-item::before {
    //     display: inline-block;
    //     content: '';
    //     position: absolute;
    //     left: -30px;
    //     height: 100%;
    //     width: 10px;
    //   }
    //   .StepProgress-item::after {
    //     content: '';
    //     display: inline-block;
    //     position: absolute;
    //     top: 0;
    //     left: -45px;
    //     width: 25px;
    //     height: 25px;
    //     border: 2px solid #CCC;
    //     border-radius: 50%;
    //     background-color: #FFF;
    //     content: counters(progress,".") " ";
    //     color:#777;
    //   }
    //   .StepProgress strong {
    //     display: block;
    //   }
    // }
    .stepper_data_conatiner{
      background: #fff;
    }
  
  }
}
