<!-- <div class="mainPadding">
  <h1>{{ temp.displayName }}</h1>
  <div class="stepColumn">
    <button
      class="stepno"
      [ngClass]="{
        completedStep: step.status == '1',
        rejectedStat: step.status == '0',
        pendingStat: step.status == '2',
        incompletestep: step.status == '3'
      }"
      (click)="stetdetail(stepIndex, step)"
      *ngFor="let step of stepsData; let stepIndex = index"
    >
      <p class="stepLabel">
        {{ step.stepOrder }}
      </p>
      <p class="stepname">{{ step.displayName }}</p>
    </button>
  </div>
  <div class="mattabs" *ngIf="selectedstep == 1">
    <mat-tab-group [selectedIndex]="selectedIndex">
      <mat-tab label="Code Of Conduct">
        <ngx-eep-coc (passData)="componentDataPassedd($event)"></ngx-eep-coc>
      </mat-tab>

      <mat-tab label="Profile">
        <ngx-eep-profile
          (passData1)="componentDataPass($event)"
        ></ngx-eep-profile>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="mattabs" *ngIf="selectedstep == 2">
    <div class="BHAPR">
      <ngx-eee-module
        *ngIf="temp.status == 2 || temp.status == 1"
        [step]="temp"
      ></ngx-eee-module>
      <p *ngIf="temp.status == 3">
        Please complete first step.
      </p>
      <p *ngIf="temp.status == 0">Your appoval has been rejected.</p>
    </div>
  </div>
  <div class="mattabs" *ngIf="selectedstep == 3">
    <div class="BHAPR">
      <p *ngIf="temp.status == 3">
        Please wait for complete previous step.
      </p>
      <p *ngIf="temp.status == 2">
          Please wait for Approval.
        </p>
      <p *ngIf="temp.status == 1">
        Your appoval has been succeded.
      </p>
      <p *ngIf="temp.status == 0">Your appoval has been rejected.</p>
    </div>
  </div>
  <div class="mattabs" *ngIf="selectedstep == 4">
    <div class="BHAPR">
      <p *ngIf="temp.status == 3">
        Please wait for complete previous step.
      </p>
      <p *ngIf="temp.status == 2">
          Please wait for Approval.
        </p>
      <p *ngIf="temp.status == 1">
        Your appoval has been succeded.
      </p>
      <p *ngIf="temp.status == 0">Your appoval has been rejected.</p>
    </div>
  </div>
</div> -->


<!-- <div class='wfName'>{{workflowdetail.instanceName}}</div> -->
<div class="workhead">
  <i (click)="goBack()" class="fas fa-chevron-left cancelIcon" aria-hidden="true"></i>
  <h2>{{workflowdetail.instanceName}}</h2>
</div>

<div class="mainPadding">
  <div class="parent_ttt_nomination">
    <div class="stepper-container">
      <div class="bs-vertical-wizard">
        <ul>
            <!-- ,          current: selectedstep == step.stepId -->
            <li
             *ngFor="let step of stepsData; let stepIndex = index" (click)="stetdetail(stepIndex, step)"
             [ngClass]="{
              complete: step.status == '1' ,
              locked: step.status == '0' && !selectedstep == step.stepId,
              locked: step.status == '2' && !selectedstep == step.stepId,
              locked: step.status == '3' && !selectedstep == step.stepId,
              current: step.stepId == selectedstep
              }">
                <div> {{ step.displayName }}
  
                  <i class="ico fa fa-check ico-green"  *ngIf="step.status == '1' "></i>
                  <i class="ico-pending fa fa-exclamation-circle ico-muted"  *ngIf="step.status == '2' || step.status == '3'"></i>
                  <i class="ico fa fa-lock ico-muted" *ngIf="step.status == '0'"></i>
                </div>
            </li>
        </ul>
      </div>
    </div>
    <div class="stepper_data_conatiner">
      <div class="mattabs content_center" *ngIf="selectedstep == 1 && show">
        <mat-tab-group [selectedIndex]="selectedIndex">
          <mat-tab label="Code Of Conduct">
            <ngx-eep-coc [response_data]="this.stepsData[0]" (passData)="componentDataPassedd($event)"></ngx-eep-coc>
          </mat-tab>
    
          <mat-tab label="Profile" class="tab_center" [disabled]="disabledTab">
            <ngx-eep-profile [response_data]="this.stepsData[0]"
              (passData1)="componentDataPass($event)"
            ></ngx-eep-profile>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="mattabs content_center" *ngIf="selectedstep == 2 && show">
        <div class="pending_status" *ngIf="temp.status == 3">
          <p >Please complete first step.</p>
        </div>
        <div class="pending_status" *ngIf="temp.status == 4">
          <p >You are not accessible for the workflow</p>
        </div>
        <ngx-eee-module *ngIf="temp.status == 2 || temp.status == 1"
        [step]="temp"></ngx-eee-module>
      </div>
      <div class="mattabs content_center" *ngIf="selectedstep == 3 && show">
        <div class="pending_status">
          <p *ngIf="temp.status == 3">
            Please complete previous step and wait for the approval
          </p>
          <p *ngIf="temp.status == 2">GBH approval is pending</p>
          <p *ngIf="temp.status == 0">Your approval has been rejected.</p>
          <p *ngIf="temp.status == 1">GBH approval is Accepted.</p>
          <p *ngIf="temp.status == 4">You are not accessible for the workflow</p>
        </div>
      </div>
      <div class="mattabs content_center" *ngIf="selectedstep == 4 && show">
        <div class="pending_status">
          <p *ngIf="temp.status == 3">
            Please complete previous step and wait for the approval
          </p>
          <p *ngIf="temp.status == 2">Admin approval is pending</p>
          <p *ngIf="temp.status == 0">Your approval has been rejected.</p>
          <p *ngIf="temp.status == 1">Admin Approval is Accepted.</p>
        </div>
      </div>
      <div>
      <div class="mattabs content_center" *ngIf = "isFutureDate">
        <p class="pending_status"> {{displayName}} will start on {{startDate | date: 'dd/MM/yyyy'}}</p>
      </div>
      <div  class="mattabs content_center"  *ngIf = "isExpired">
        <p class="pending_status"> {{displayName}} has been expired on {{endDate | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </div>
</div>