.wrapBOth-container{

    padding: 2.25rem 2.25rem 0.75rem !important;
    background: #fff;
    .course-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        .text-content{
            h4{
                text-transform: capitalize;
                font-size: 20px;
                padding: 0;
            }
        }
    }

    .cancel{
        height: 56px;	
        width: 56px;	
        background-color: #FFFFFF;
        border: 1px solid var(--colorIcons);	
        // box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
        border-radius:50%;
        text-align: center;
        cursor: pointer;
        margin-left: auto;
    }

    .cancelIcon{
        margin-top: 31%;
        font-size: 25px;
        // color: #507bfc;
        color: var(--colorIcons);
    }

    .course-content-div{
        padding-top: 2%;
        // max-width: 800px;
        width:100%;
        margin: 0 auto;
    }

    .thirty-years-after-d {	
        // height: 99px;	
        width: 100%;	
        opacity: 0.8;	
        color: #464646;	
        font-family: "Open Sans";	
        font-size: 24px;	
        line-height: 33px;
        padding: 3%;
        // max-width:76.3333333%
    }
    
}