<div class="wrapBOth-container">

  	<div>

        <div class="course-content">
          	<div class="text-content">
            	<h4>{{ activityData.courseName }}</h4>
          	</div>
          	<div class="cancelDiv">
            	<div class='cancel' (click)='goBack()'>
              		<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
            	</div>
          	</div>
        </div>

        <div>
          	<div class="course-content-div">
              	<div *ngIf="activityData?.activityTypeId === 11 && courseReadyFlag">
					<H4>This is a Webinar</H4>
					<app-webinar-multi *ngIf="featureConfig?.webinar?.openvidu" [course]="activityData" [userList]="userList"
						[voiceCall]="voiceCall" [videoCall]="videoCall"
						(callEnd)="changeCount($event)" [areaId]="29" [tenantId]="tenantId" [config]="config">
          </app-webinar-multi>
          <ngx-webinar-multi-jitsi *ngIf="featureConfig?.webinar?.jisti" [course]="activityData" [userList]="userList"
          [voiceCall]="voiceCall" [videoCall]="videoCall"
          (callEnd)="changeCount($event)" [areaId]="29" [tenantId]="tenantId" [config]="config"></ngx-webinar-multi-jitsi>
              	</div>
            </div>
        </div>

        <div class="row">
            <div id='courseDescription' *ngIf="description" class="col-md-12 thirty-years-after-d">
              	<div [innerHtml]="description"></div>
            </div>
        </div>

	</div>

</div>
