$gray-light: #707070;

.card-section {
  // width: 18%;
  margin: 1%;
  width: 212px;
  cursor: pointer;
  color: #000000;
  position: relative;
  vertical-align: top;
  background: #ffffff;
  display: inline-block;
  .card-inner {
    // height: 256px;
    position: relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    &::before {
      content: "";
      top: 0;
      width: 6%;
      right: -10px;
      height: 100%;
      position: absolute;
      background: transparent;
    }
    .back-abs {
      bottom: 0;
      position: absolute;
    }
    .card-image {
      width: 100%;
      height: 140px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      // .hearts {
      //   top: 0;
      //   right: 0;
      //   padding: 6px;
      //   color: #ffffff;
      //   position: absolute;
      // }
      // .whish-select {
      //   color: #ff0202;
      // }
    }
    .card-content {
      .class-onl {
        // padding-bottom: 2px;
        .classroom {
          font-size: 0.7rem;
          img {
            width: inherit;
          }
          i {
            color: $gray-light;
          }
        }
      }
      h2 {
        height: 28px;
        overflow: hidden;
        font-size: 0.86rem;
        // font-size: 12px;
        // text-align: justify;
      }
      .date-point {
        font-size: 0.7rem;
        .date {
          i {
            color: $gray-light;
          }
        }
      }
      .level-price {
        .level-name {
          margin: auto;
          font-size: .65rem;
          letter-spacing: .3px;
        }
        .levels {
          path {
            stroke: #adabab;
          }
        }
        .level-1 {
          path {
            stroke: #adabab;
            &:last-child {
              stroke: #ff0202;
            }
          }
        }
        .level-2 {
          stroke: #adabab;
          path {
            &:last-child {
              stroke: #ff0202;
            }
            &:nth-child(1) {
              stroke: #ff0202;
            }
          }
        }
        .level-3 {
          stroke: #ff0202;
        }

        .price {
          font-size: 18px;
          font-weight: 600;
          color: #000000;
        }
      }
      .prog-actions {
        .progress {
          height: 6px;
          background-color: #f1f2f3;
          border: 0.1px solid #7070701c;
          .inprogress {
            // background: #9fd3fa;
            color: var(--colorCommon);
          }
        }
        .actions {
          label {
            font-size: 16px;
          }
          .percent {
            font-size: 12px;
          }
          .like {
            // padding-top: 10px;
            color: $gray-light;
            span {
              width: 42px;
            }
            .liked {
              color: var(--colorCommon);
            }
          }
        }
      }
    }
  }
}

.show-hover {
  .hover-section {
    top: 0;
    left: 100%;
    z-index: 1;
    width: 285px;
    padding: 11px;
    margin-left: 10px;
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 0.5px solid #daebf8;
    box-shadow: 0px 0px 8px #c1c6c8;
    cursor: default;
    overflow: auto;
    h2 {
      font-weight: 600;
      font-size: 1.3rem;
    }
    .author {
      padding: 2px 0;
      font-size: 0.8rem;
      color: $gray-light;
    }
    .card-btn {
      display: flex;
      button {
        z-index: 0;
        width: 100%;
        padding: 6px 0;
        margin-right: 6px;
        color: #ffffff;
        border: 0.5px solid;
        background: #1282ce;
        cursor: pointer;
        &:last-child {
          margin: 0;
        }
        &:hover {
          opacity: 0.86;
        }
      }
      .whish-btn {
        color: #050b26;
        border: 1px solid;
        background: #ffffff;
        cursor: pointer;
        // transition: 0.5s ease;
        // &:hover {
        //   opacity: 1;
        //   color: #ffffff;
        //   background: #1282ce;
        // }
      }
    }
    // .date-point {
    //   .date {
    //     font-size: 11px;
    //     i {
    //       color: $gray-light;
    //     }
    //   }
    //   .point {
    //     font-size: 12px;
    //   }
    // }
    .discount {
      label {
        margin: 0;
        font-size: 13px;
        color: #000000;
        .fa-percent {
          font-size: 10px;
          padding-left: 2px;
        }
        .price-slash {
          color: $gray-light;
          text-decoration: line-through;
        }
        .og-price {
          font-size: 21px;
          font-weight: 500;
        }
      }
    }
    .descri {
      font-size: .9rem;
      color: $gray-light;
      text-align: justify;
      word-break: break-all;
      span {
        font-size: 0.7rem;
        color: #000000;
        i {
          font-size: 0.6rem;
        }
      }
    }
  }
  .window-left {
    left: -286px;
    margin-left: 0;
  }
  &:hover {
    .hover-section {
      // display: block;
      visibility: visible;
    }
    .card-image {
      img {
        opacity: 0.89;
      }
    }
  }
  // .alignlevel {
  //   display: inline-flex;
  // }

  .upcoming {
    padding: 4px;
    margin-top: 4px;
    color: #ff0a0a;
    font-size: 0.8rem;
    text-align: center;
    background: #ededed;
  }
}
