<div class="card-section" #parent (mouseover)="hoverdiv($event)" [ngClass]="{'show-hover': config?.showHover}">
    <div class="card-inner">
        <!-- <svg class="back-abs" xmlns="http://www.w3.org/2000/svg" width="102%" height="133.854"
            viewBox="0 0 192.999 126.854">
            <path
                d="M-859.985-1221.676c-1.21-11,17.661-26.467,34.863-38.538,17.564-10.053,24.38-12.081,24.38-12.081s14.666-4.7,35.163-12.6c19.245-10.729,41.817-30.318,41.817-30.318s25.528-22.229,38.163-31.551c16.467.415,17,0,17,0s3.21,3.089,0,16.411c-2.368,13.967-24.8,45.458-24.8,45.458s-4.032,3.987-2.538,9.516,8.515,12.6,8.515,12.6,13.359,9.682,17.237,21.034c5.051,10.276,2.508,21.4,2.508,21.4s-50.779,1.434-84.044-.9c-29.384-6.906-25.264-8.581-49.016-8.442-23.065,3.763-45.992,9-45.992,9S-858.137-1218.725-859.985-1221.676Z"
                transform="translate(860.04 1346.762)" fill="rgba(185,225,255,0.2)" />
        </svg> -->

        <div class="card-image" (click)="cardsData[config?.compStatus] !== 'OPEN' ? fireEvent('goToCourse', cardsData, 'NA')  : fireEvent('goToOpenCourse', cardsData, 'NA')">
            <img *ngIf="config?.showImage == true" [src]="bindBackgroundImage(cardsData[config?.image])"  (error)="errorHandler($event)" alt="card-image">
            <!-- <i *ngIf="config?.showHeart == true" class="fa-heart hearts"
                [ngClass]="{'far': cardsData[config?.isFav] == 0, 'fas': cardsData[config?.isFav] == 1,'whish-select': cardsData[config?.isFav] == 1 }">
            </i> -->
        </div>

        <div class="card-content p-2">
            <div class="class-onl pb-2 d-flex justify-content-between" (click)="cardsData[config?.compStatus] !== 'OPEN' ? fireEvent('goToCourse', cardsData, 'NA')  : fireEvent('goToOpenCourse', cardsData, 'NA')">

                <!-- <p class="classroom m-0" *ngIf="cardsData[config?.course] == 1 || cardsData[config?.course] == 2">
                    <img src="../../assets/icon-svg/workflow.svg" class="pr-1">
                    <span *ngIf="cardsData[config?.course] == 0">Course</span>
                    <span *ngIf="cardsData[config?.course] == 1">Workflow</span>
                </p> -->
                <!-- <p class="classroom m-0" *ngIf="cardsData[config?.classroom] == 1 || cardsData[config?.classroom] == 2">
                    <img src="../../assets/icon-svg/classroom.svg" class="pr-1">
                    <span *ngIf="cardsData[config?.classroom] == 1">Classroom</span>
                    <span *ngIf="cardsData[config?.classroom] == 2">Online</span>
                </p> -->

                <p class="classroom m-0" *ngIf="cardsData[config?.course] == 0 || cardsData[config?.course] == 1">
                    <img src="../../assets/icon-svg/workflow.svg" class="pr-1">
                    <span *ngIf="cardsData[config?.course] == 0">Course</span>
                    <span *ngIf="cardsData[config?.course] == 1">Workflow</span>
                </p>
                <p class="classroom m-0">
                    <img src="../../assets/icon-svg/classroom.svg" class="pr-1">
                    <span>{{cardsData[config?.courseType]}}</span>
                </p>
            </div>

            <h2 class="font-weight-bold" (click)="cardsData[config?.compStatus] !== 'OPEN' ? fireEvent('goToCourse', cardsData, 'NA')  : fireEvent('goToOpenCourse', cardsData, 'NA')">{{ cardsData[config?.courseName] }}</h2>

            <div class="date-point d-flex justify-content-between" (click)="cardsData[config?.compStatus] !== 'OPEN' ? fireEvent('goToCourse', cardsData, 'NA')  : fireEvent('goToOpenCourse', cardsData, 'NA')">
                <div class="date" *ngIf="config?.showDate == true">
                    <i class="far fa-calendar-alt pr-1"></i>
                    <span>{{ cardsData[config?.courseDate] }}</span>
                </div>
                <div class="point" *ngIf="config?.showPoint == true">
                    <span>{{ cardsData[config?.pointLabel] }}:</span>
                    <span>{{ cardsData[config?.points] }}</span>
                </div>
            </div>

            <!--  *ngIf="config?.levelPrice == true" -->
            <div *ngIf="config?.isLevel == true || config?.isPrice == true" class="level-price pt-2 d-flex align-items-end justify-content-between" (click)="cardsData[config?.compStatus] !== 'OPEN' ? fireEvent('goToCourse', cardsData, 'NA') : false">
                <span *ngIf="config?.isLevel == true" class="alignlevel d-flex align-items-center">
                    <svg class="levels" [ngClass]="{'level-1': cardsData[config?.level] == 1, 'level-2': cardsData[config?.level] == 2, 'level-3': cardsData[config?.level] == 3 }" width="16" height="16"
                        viewBox="0 0 24 24" fill="none">
                        <path d="M12 20V10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18 20V4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                        <path d="M6 20V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                    <span class="level-name">{{ cardsData[config?.levleLabel] }}</span>
                </span>
                <span class="price" *ngIf="config?.isPrice == true">
                    <span *ngIf="cardsData[config?.coursePrice] && cardsData[config?.coursePrice] > 0 && cardsData[config?.coursePrice] !== 'Free' ">
                        &#8377; {{ cardsData[config?.coursePrice] }}
                    </span>
                <span *ngIf="cardsData[config?.coursePrice] == '' || cardsData[config?.coursePrice] == 0 || cardsData[config?.coursePrice] === 'Free'">
                        Free
                    </span>
                </span>
            </div>
            <div class="prog-actions pt-2" *ngIf="config?.progressLike == true && cardsData[config?.compStatus] != 'UPCOMING'">
                <div class="progress" *ngIf="config?.showProgress == true" (click)="cardsData[config?.compStatus] !== 'OPEN' ? fireEvent('goToCourse', cardsData, 'NA')  : fireEvent('goToOpenCourse', cardsData, 'NA')">
                    <div class="progress-bar inprogress" role="progressbar" [style.width]="cardsData[config?.completePercent] + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <!-- <div *ngIf="cardsData[config?.course] == 0" class="progress-bar inprogress" role="progressbar" [style.width]="ProgressInWhole(cardsData[config?.completePercentCourse]) + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    <div *ngIf="cardsData[config?.course] == 1" class="progress-bar inprogress" role="progressbar" [style.width]="ProgressInWhole(cardsData[config?.completePercentWorkflow]) + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
                </div>
                <div class="actions d-flex justify-content-between pt-2">
                    <label class="m-0 percent" *ngIf="config?.showProgress == true">
                      {{cardsData[config?.completePercent]}}&#37;
                    </label>
                    <!-- <label class="m-0 percent" *ngIf="config?.showProgress == true && cardsData[config?.course] == 0">
                        {{ ProgressInWhole(cardsData[config?.completePercentCourse]) }}&#37;
                    </label>
                    <label class="m-0 percent" *ngIf="config?.showProgress == true && cardsData[config?.course] == 1">
                        {{ ProgressInWhole(cardsData[config?.completePercentWorkflow]) }}&#37;
                    </label> -->
                    <label class="m-0 like" *ngIf="config?.showLike == true">
                        <span class="d-flex justify-content-between">
                            <i (click)="fireEvent('likeDislike',cardsData, 1)" class="far fa-thumbs-up cursor-p pr-1"
                                [ngClass]="{'liked': cardsData[config?.isLike] == 1}"></i>
                            <i (click)="fireEvent('likeDislike',cardsData, 2)" class="far fa-thumbs-down cursor-p"
                                [ngClass]="{'liked': cardsData[config?.isDislike] == 1}"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="upcoming text-center" *ngIf="cardsData[config?.compStatus] === 'UPCOMING'">
                <span *ngIf="cardsData[config?.course] == 0">
                The course will start from <span class="d-block">{{cardsData[config?.courseStartDate]}}</span>
                </span>
                <span *ngIf="cardsData[config?.course] == 1">
                The workflow will start from <span class="d-block">{{cardsData[config?.courseStartDate]}}</span>
                </span>
            </div>
        </div>

        <!-- <div class="upcomg" *ngIf="cardsData[config?.compStatus] === 'UPCOMING'">
            <span>
             This course is not started yet.
            </span>
        </div> -->
    </div>
    <!-- [ngStyle]="{'height' : setHoverHeight ? setHoverHeight : 0}" -->
    <div class="hover-section" #hoversec *ngIf="config?.showHover">
        <h2>{{ cardsData[config?.courseName] }}</h2>
        <div class="author" *ngIf="config?.showaAuthor == true">
            <i class="far fa-user pr-1"></i>
            <span class="text-capitalized">{{ cardsData[config?.authorName] }}</span>
        </div>
        <!-- <div class="date-point d-flex justify-content-between">
            <div class="date">
                <i class="far fa-calendar-alt pr-1"></i>
                <span>20 Jan 2020</span>
            </div>
            <div class="point">
                <span>Poits :</span>
                <span>100</span>
            </div>
        </div> -->
        <div *ngIf="cardsData[config?.courseDescri] && !showDescri">
            <p class="descri d-flex align-items-center justify-content-between m-0 py-2">
                {{ cardsData[config?.courseDescri] | slice:0:20 | titlecase }} ...
                <span class="cursor-p" (click)="this.showDescri = !this.showDescri">Show more<i class="fas fa-chevron-down pl-1"></i></span>
            </p>
        </div>
        <div *ngIf="cardsData[config?.courseDescri] && showDescri">
            <p class="descri m-0 py-2">
                {{ cardsData[config?.courseDescri] }}
                <span class="d-block text-right cursor-p" (click)="this.showDescri = !this.showDescri">Show less<i class="fas fa-chevron-up pl-1"></i></span>
            </p>
        </div>

        <div class="discount d-flex justify-content-between align-items-baseline" *ngIf="config?.hoverPrice">
            <label *ngIf="cardsData[config?.courseDiscount] != 0">
                <span>
                    {{ cardsData[config?.courseDiscount] }}&#37; Discount
                </span>
            </label>

            <label *ngIf="cardsData[config?.courseDiscount] != 0">
                <span class="price-slash pr-1">
                    &#8377;{{ cardsData[config?.originalPrice] }}
                </span>
                <span class="og-price">
                    <span *ngIf="cardsData[config?.discountPrice] !== ''">
                        &#8377;{{ cardsData[config?.discountPrice] }}
                    </span>
                    <span *ngIf="cardsData[config?.discountPrice] == '' || cardsData[config?.discountPrice] == 0">
                        Free
                    </span>
                </span>
            </label>

            <label *ngIf="cardsData[config?.courseDiscount] == 0">
              <span class="og-price">
                  <span>
                      <!-- &#8377; -->
                       {{ cardsData[config?.discountPrice] }}
                  </span>
              </span>
            </label>
        </div>

        <div class="card-btn mt-2">
            <!-- <button *ngIf="config?.showaEnroll == true">Enroll</button> -->
            <button class="pointbtn" *ngIf="config?.showaEnroll == true && cardsData[config?.approvalStatus] !== 'Pending'" (click)="fireEvent('enrolSelf', cardsData,'NA')">Enroll</button>
            <button class="pointbtn" *ngIf="config?.showaEnroll == true && cardsData[config?.approvalStatus] == 'Pending'">Pending for approval</button>
            <button class="pointbtn" *ngIf="config?.showaBuynow == true" (click)="fireEvent('buy', cardsData, 'NA')">{{ cardsData[config?.discountPrice] == 'Free' ? 'Enrol for Free' : 'Proceed to buy'}}</button>
            <button [ngClass]="{ 'whish-btn': cardsData[config?.isFav] == 0 }" *ngIf="config?.showHeart == true && cardsData[config?.isFav] == 0" (click)="fireEvent('wishlist', cardsData, cardsData[config?.isFav])"> Wishlist
                <i class="far fa-heart" [ngClass]="{'far': cardsData[config?.isFav] == 0, 'fas': cardsData[config?.isFav] == 1 }"></i>
            </button>
            <button class="cursor-p" [ngClass]="{ 'whish-btn': cardsData[config?.isFav] == 0 }" *ngIf="config?.showHeart == true && cardsData[config?.isFav] == 1" (click)="fireEvent('wishlist', cardsData, cardsData[config?.isFav])"> Wishlisted
                <i class="far fa-heart" [ngClass]="{'far': cardsData[config?.isFav] == 0, 'fas': cardsData[config?.isFav] == 1 }"></i>
            </button>
            <!-- <button *ngIf="config?.showaShare == true" (click)="fireEvent('share', cardsData,'NA')">Share this course</button> -->
        </div>
    </div>
</div>
