.inner-list {
    &:not(:last-child) {
      border-bottom: 1px solid #d7d7d7;
    }
    &--left {
      .course-image {
        margin: 12px;
        .layer {
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          background: rgba(0, 0, 0, 0.2);
          i {
            top: 50%;
            left: 50%;
            z-index: 1;
            color: #ffffff;
            font-size: 18px;
            transform: translate(-50%, -50%);
          }
        }
        img {
          z-index: 1;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          border: 1px solid #d7d7d7;
        }
        .lock {
          filter: blur(1px);
        }
      }
    }
    &--right {
      padding: 12px 0;
      img {
        width: inherit;
      }
      h2 {
        font-size: 18px;
      }
      .workflow,
      .author,
      .points-date,
      .like {
        font-size: 12px;
      }
      .like {
        color: #9d9d9d;
        span:hover {
          color: #076ba1;
        }
      }
      .liked {
        color: #076ba1;
      }
      .prog-message {
        width: 70%;
        font-size: 14px;
        font-weight: 600;
        .progress {
          width: 32%;
          height: 6px;
        }
        .disable {
          color: #d78307;
        }
        .completed {
          color: #258726;
        }
      }
    }
  }