
<!-- <div class="inner-list"> -->
  <div class="row">
      <div class="inner-list--left col-md-3 pr-1">
          <div class="course-image position-relative">
              <span class="layer position-absolute" *ngIf="cardsData?.isDisable == 1"> <i
                      class="fa fa-lock position-absolute"></i> </span>
              <img [ngClass]="{'lock': cardsData?.isDisable == 1}" src="../../../assets/images/card.jpg"
                  alt="Course Image">
          </div>
      </div>
      <div class="inner-list--right col-md-9 pr-4 pl-0 py-3">
          <label class="d-block m-0 workflow">
              <img _ngcontent-jpy-c8="" class="pr-2" src="../../../assets/icon-svg/classroom.svg">
              <span>{{ cardsData?.course }}</span>
          </label>
          <h2 class="m-0 pb-1">{{ cardsData?.name }}</h2>
          <div class="author pb-1">
              By : <span>Author Name</span>
          </div>
          <div class="points-date pb-2">
              <span class="pr-2">Points : <span>{{ cardsData?.points }}</span></span>
              <span>Date : <span>{{ cardsData?.date }}</span></span>
          </div>
          <div class="d-flex align-cardsData?s-center justify-content-between">
              <div class="like">
                  <span class="pr-1 cursor-p" [ngClass]="{ 'liked': cardsData?.isLike == 1}"> <i
                          class="far fa-thumbs-up"></i> Like</span> .
                  <span class="pl-1 cursor-p" [ngClass]="{ 'liked': cardsData?.isDislike == 1}"> <i
                          class="far fa-thumbs-down"></i> Dislike</span>
              </div>
              <div class="prog-message text-right">
                  <!-- <div class="progress d-inline-flex vertical-align-middle">
                      <div class="progress-bar inprogress" role="progressbar"
                          [style.width]="cardsData?.completion + '%'" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100">
                      </div>
                  </div>
                  <span class="pl-2">{{ cardsData?.completion }}%</span> -->
                  <span class="disable" *ngIf="cardsData?.isDisable == 1">
                      <i class="fas fa-info-circle"></i>
                      This course will start from ' 2020-07-01 '
                  </span>
                  <span class="completed" *ngIf="cardsData?.isComplete == 1">
                      <i class="far fa-check-circle"></i>
                      Completed
                  </span>
              </div>
          </div>
      </div>
  </div>
<!-- </div> -->