ngx-learn-search {
  .learn-grid-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 27px;
    grid-row-gap: 27px;
    padding-top: 18px;
    padding-bottom: 18px;
    .cardSingle {
      border-radius: 10px;
      position: relative;
      background: #fff;
      cursor: pointer;
      .content_align {
        height: 100%;
        display: grid;
      }
      .upcoming-container {
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        z-index: 2;
        color: #fff;
        text-align: center;
        display: grid;
        align-items: center;
        border-radius: 8px;
        .inside-content {
          ion-icon {
            font-size: 30px;
          }
          p {
            margin: 0;
          }
        }
      }

      .card_image {
        height: 160px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center !important;
        display: grid;
        border-top-left-radius: 7px;
        border-top-right-radius: 10px;
        .progressDiv-card {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .badge_container_cap {
            color: #fff;
            height: 25px;
            width: 120px;
            display: flex;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 13px;
          }
          .badge_container_cap_mandtory {
            background-color: #f0a24f;
          }
          .badge_container_cap_recommended {
            background-color: #daa0fe;
          }
          .badge_container_cap_aspirational {
            background-color: #5acef7;
          }
          .badge_container_cap_enrolled {
            background-color: #e6beff;
          }
          .badge_container_cap_OPEN {
            background-color: #daa0fe;
          }
          .badge_container_percent {
            font-size: 14px;
            background: #1a1a1a94;
            color: #fff;
            width: 60px;
            border-top-right-radius: 10px;
            align-items: center;
            height: 25px;
            display: flex;
            justify-content: center;
          }
          .badge_container_bundle {
            background: #507bfc;
            color: #fff;
            height: 25px;
            width: 40px;
          }
        }
        .progressDiv-card:last-child {
          align-self: flex-end;
        }
      }
      .card_content {
        padding: 10px 10px 0;
        background: #fff;
        .title_Card {
          font-size: medium;
          color: #646464;
          font-family: roboto;
          word-break: break-all;
        }
        .card_content_grid {
          display: grid;
          grid-template-columns: 1fr 1.25fr 1.5fr;
          align-items: end;
          padding: 7px 0 5px 0;

          .card_subtitles {
            font-size: smaller;
            margin: 0;
            color: #4e4e4e;
            text-align: center;
            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }
            span {
              display: inline-block;
              margin-left: 5px;
            }
          }
        }
      }
      .card_content_workflow {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
      }

      .card_footer {
        display: flex;
        padding-top: 7px;
        padding-bottom: 4px;
        grid-template-columns: 1fr 1fr 1fr;
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .card_content_footer {
          width: 100%;
          text-align: center;
          align-self: center;
          border-right: 1px solid #eee;
          color: #aea4a4;
          font-size: 13px;
          padding-top: 7px;
          border-top: 1px solid #eee;
          padding-bottom: 4px;
        }
        .card_content_footer:last-child {
          border-right: 0px;
        }
      }
      .self-enrol-buttonO {
        align-self: center;
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
        .self-enrol-button-text {
          display: inline-block;
          text-align: center;
          color: #000;
          background: #ffff;
          margin-left: auto;
          font-size: 13px;
          border: 1px solid #507bfc;
          padding: 4px 50px;
          border-radius: 30px;
          margin: 0 auto;
          margin: 20pxx;
          text-align: center;
        }
        .pending-for-approval {
          font-size: 13px;
          color: #ffa045;
        }
      }
    }
    .card_label_mandtory {
      border-left: 5px solid #f0a24f;
    }
    .card_label_recommended {
      border-left: 5px solid #daa0fe;
    }
    .card_label_aspirational {
      border-left: 5px solid #5acef7;
    }
    .card_label_enrolled {
      border-left: 5px solid #e6beff;
    }
    .card_label_OPEN {
      border-left: 5px solid #daa0fe;
    }
  }

  .imgblock {
    position: relative;
    margin: -16px -16px 0 -16px !important;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .legenddiv {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    text-align: center;
    width: 35px;
    padding: 5px 0;
    background: #f0a24f;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
  }

  .content2 {
    padding: 0 15px;
  }

  .card_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .card_title {
    margin-bottom: 5px;
    margin-top: 10px !important;
    width: 290px;
    font-size: 18px;
    min-height: 25px;
    overflow: hidden;
  }

  .content_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .progressDiv {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .txt_margin_right {
    margin-right: 15px;
  }

  .titleColor {
    color: #646464;
  }

  .footer_icons {
    display: grid;
    height: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .f_content {
    width: 100%;
    text-align: center;
    align-self: center;
    border-right: 1px solid #eee;
    color: #aea4a4;
    font-size: 16px;
  }

  .online_icon {
    height: 15px;
    width: 15px;
  }

  .footer_border {
    border-top: 1px solid #eee;
  }

  .padding0 {
    padding: 0;
  }

  .mat_card {
    border-radius: 10px !important;
  }

  .work_flow_card {
    background: #eee !important;
  }
  .work_flow_container {
    margin: 20px 0;
  }
  .certificate-new {
    display: grid;
    grid-template-columns: 70px auto;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding: 15px;
    grid-column-gap: 15px;
  }
  .certiimg-new {
    align-self: center;
  }
  .certiimg-new img {
    max-width: 60px;
    width: 100%;
  }
  .certi-content {
    font-size: 22px;
    color: #fea08f;
    line-height: 34px;
    width: 100%;
    text-align: left;
  }
  .carousel {
    .content {
      display: flex;
      .item {
        width: 100%;
        display: block;
        .img {
          width: 100%;
          display: block;
          background-size: cover;
          background-position: center;
          height: 0;
          padding-bottom: 50%;
        }
      }
    }
    .item {
      width: 100%;
      display: block;
      .img {
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        height: 0;
        padding-bottom: 50%;
      }
    }
    .ball {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: black;
      border: 2px solid;
      opacity: 0.5;
      &.visible {
        opacity: 1;
      }
    }
    .progress {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 5px;
      background: #ff5252;
    }
    .click-area {
      width: 50px;
      text-align: center;
      i {
        font-size: 3em;
      }
    }
    .button-color {
      background-color: #507bfc;
      color: white;
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 7px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .carouselslider {
      width: 690px !important;
    }
    .badges {
      margin: 5px 15px !important;
    }
  }
  .active {
    color: #507bfc !important;
  }
  .main {
    z-index: 999;
  }
  // .mainDiv {/
    // padding: 2.25rem 2.25rem 0.75rem;
  // }
  .main-container {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: none;
    height: 0px;
  }
  .mat-tab-header,
  .mat-tab-nav-bar {
    border-bottom: none;
  }
  .tab {
    height: 100%;
    min-width: 10%;
    border-radius: 10px;
    margin: auto;
  }
  .mat-tab-labels {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: auto;
    cursor: text !important;
  }
  .mat-tab-label .mat-tab-label-content {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    width: -webkit-fill-available !important;
    height: -webkit-fill-available !important;
    cursor: text;
  }
  .mat-tab-label {
    height: 160px;
    min-width: 200px;
    // height: 48px;
    padding: 0;
    cursor: text;
    box-sizing: border-box;
    opacity: 0.8;
    // min-width: 160px;
    background: #fff;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    // margin: auto !important;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    background: #ebeff5;
  }
  .mat-tab-label-active {
    height: 190px;
    width: 200px;
    border-radius: 10px !important;
    /* background-color: #ffffff !important; */
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    cursor: text;
  }
  .mat-tab-label .mat-tab-label-content {
    flex-wrap: wrap !important;
  }
  .mat-tab-label .mat-tab-label-content span {
    display: flex !important;
    flex: 1 0 100% !important;
    justify-content: center !important;
  }
  .mat-tab-label .mat-tab-label-content .tabHead {
    height: 24px;
    // color: #507bfc;
    color: var(--colorCommon);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .mat-tab-label .mat-tab-label-content .tabHead0 {
    height: 24px;
    // color: #507bfc;
    color: var(--colorCommon);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .mat-tab-label .mat-tab-label-content .tabHead1 {
    height: 24px;
    color: #ffae74;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .mat-tab-label .mat-tab-label-content .tabHead2 {
    height: 24px;
    color: #daa0fe;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .mat-tab-label .mat-tab-label-content .tabHead3 {
    height: 24px;
    color: #5acef7;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .mat-tab-label .mat-tab-label-content .tabCourse {
    height: 24px;
    width: 92px;
    color: #464646;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: auto;
  }
  .tabHead10 {
    height: 24px;
    width: 22px;
    // color: #507bfc;
    color: var(--colorCommon);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-size: 18px;
  }
  .tabHead11 {
    height: 24px !important;
    width: 22px !important;
    color: #ffae74;
    font-family: "Open Sans";
    font-size: 18px !important;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin: auto;
    font-size: 14px;
  }
  .tabHead12 {
    height: 24px;
    width: 22px;
    color: #daa0fe;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    font-size: 14px;
  }
  .tabHead13 {
    height: 24px;
    width: 22px;
    color: #5acef7;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    font-size: 14px;
  }
  .tabCourse1 {
    width: 92px;
    color: #464646;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: auto;
    font-size: 10px;
  }
  .ro123 {
    width: 100%;
    margin: 0 !important;
  }

  .bottom {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    height: 54px;
    width: 200px;
    background-color: #f0f0f0;
    -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.2);
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.2);
  }
  .rigBord {
    width: 50%;
    display: grid;
    align-items: center;
    border-top: 1px solid #e3dede;
    border-right: 1px solid #e3dede;
  }
  .lefBord {
    width: 50%;
    border-top: 1px solid #e3dede;
    display: grid;
    align-items: center;
  }
  .divHead0 {
    position: absolute;
    right: 0;
    top: 0;
    height: 14px;
    width: 22px;
    border-radius: 0 10px 0 10px;
    // background-color: #507bfc;
    background-color: var(--colorCommon);
  }
  .divHead1 {
    position: absolute;
    right: 0;
    top: 0;
    height: 14px;
    width: 22px;
    border-radius: 0 10px 0 10px;
    background-color: #ffae74;
  }
  .divHead2 {
    position: absolute;
    right: 0;
    top: 0;
    height: 14px;
    width: 22px;
    border-radius: 0 10px 0 10px;
    background-color: #daa0fe;
  }
  .divHead3 {
    position: absolute;
    right: 0;
    top: 0;
    height: 14px;
    width: 22px;
    border-radius: 0 10px 0 10px;
    background-color: #5acef7;
  }
  .divBody {
    margin: auto;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .switchView {
    display: flex;
    align-self: start;
    // float: right;
    // height: 60px;
    // cursor: pointer;
    // display: flex;
    // width: 60px;
    // background: #ffffff;
    // border-radius: 50%;
    // box-shadow: 0px 6px 12px #91bde9;
    // border: 2px solid #7e9efd;
    // color: #fff;
  }
  .iconSvg, .bulletIcon {
    width: 42px;
    margin-left: auto;
    background: #ffffff;
    font-size: 18px;
    border: 1px solid var(--colorIcons);
    // color: #507BFC;
    color: var(--colorIcons);
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 12px;
  }
  // .bulletIcon {
  //   margin: auto;
  //   color: #0088ff;
  //   font-size: 25px;
  // }
  .body-container {
    margin-top: 20px;
  }
  .Head1 {
    display: inline-flex;
    margin-bottom: 18px;
  }
  .Head2 {
    display: inline-flex;
    margin-top: 0px;
    width: 99%;
  }
  .learn-header-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    .headName {
      white-space: nowrap;
      color: #464646;
      font-family: "Open Sans";
      font-size: 24px;
      line-height: 33px;
      margin: 0px;
    }
    .header-horizontal {
      margin-top: 5px;
      .headRule {
        height: 1px;
        opacity: 0.1;
        background-color: #000000;
      }
    }
    .noOfCompCourse1 {
      box-sizing: border-box;
      height: 41px;
      max-width: 350px;
      width: 100%;
      border: 1px solid var(--colorIcons);
      border-radius: 100px;
      // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
      background: #ffffff;
      display: inline-flex;
      color: #464646;
      align-self: center;
      margin-left: auto;
    }
    .noOfCompCourse2 {
      color: #464646;
      font-family: "Open Sans";
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      padding-left: 11px;
    }
    .noOfCompCourseUp {
      font-size: 20px;
      // color: #507bfc;
      color: var(--colorIcons);
      line-height: 19px;
      text-align: center;
      padding-left: 11px;
    }
    .alignText {
      cursor: pointer;
      margin: auto;
      display: inline-flex;
      color: #464646;
    }
  }
  .Body1 {
    margin-top: 10px;
  }
  .slider {
    overflow: hidden;
    height: auto;
    transition-property: all;
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .slider.closed {
    height: 0;
  }
  .eleB2 {
    height: auto;
    width: 95% !important;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    margin: auto;
  }
  .eleB22 {
    height: auto;
    width: 95% !important;
    border-radius: 10px;
    padding-bottom: 10px !important;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto !important;
    cursor: pointer;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .col-4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .col-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .eleImg {
    padding: 0 14px;
    margin: auto;
    height: 60px;
  }
  .classHead1 {
    float: right;
    height: 28px;
    width: 112px;
    border-radius: 0 10px 0 10px;
    background-color: #999999;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }
  .classHead2 {
    float: right;
    height: 28px;
    width: 112px;
    border-radius: 0 10px 0 10px;
    background-color: #ffae74;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }
  .classHead3 {
    float: right;
    height: 28px;
    width: 112px;
    border-radius: 0 10px 0 10px;
    background-color: #daa0fe;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }
  .classHead4 {
    float: right;
    height: 28px;
    width: 112px;
    border-radius: 0 10px 0 10px;
    background-color: #5acef7;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  }
  .classBody1 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 29px;
    text-align: center;
    margin: auto;
  }
  .cardDiv1 {
    display: inline-flex;
    margin-bottom: 0.3rem;
  }
  .divContent {
    margin: auto !important;
  }
  .cardTitle {
    margin-bottom: 0.3rem !important;
    color: #464646;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
  }
  .cardDate {
    margin-bottom: 0.3rem !important;
    opacity: 0.8;
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 32px;
  }
  .cardDesc {
    opacity: 0.8;
    margin: 0;
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  .cardPara {
    color: #464646;
    font-family: "Open Sans";
    font-size: 10.5px;
    margin-right: 10px;
    font-weight: 100;
    margin-bottom: 10px;
    line-height: 18px;
  }
  .cardImg {
    margin-top: 0;
    margin-right: 11px;
    height: 15px;
  }
  .cardButton1 {
    width: 100px !important;
    padding: 0px 5px;
    border: none;
    border-radius: 0;
    margin: auto !important;
    cursor: pointer;
  }
  .cardButtonText1 {
    color: #507bfc;
    position: absolute;
    padding: 10px;
    border: 1px solid #507bfc;
    border-radius: 25px;
    background: transparent;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    box-shadow: 3px 5px 10px -4px rgba(80, 123, 252, 0.5);
  }
  .mat-progress-bar {
    display: block;
    height: 5px !important;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity 250ms linear !important;
    transition: opacity 250ms linear !important;
    width: 100% !important;
    margin-left: 0;
    margin: 5px 0 5px 0px !important;
    background-color: #eeeeee !important;
    border-radius: 15px !important;
  }
  .green-progress .mat-progress-bar-fill::after {
    background-color: #24e4e1 !important;
  }
  .yellow-progress .mat-progress-bar-fill::after {
    background-color: #ffee19 !important;
  }
  .mat-progress-bar-buffer {
    background: #eeeeee;
  }
  .comp1 {
    margin: 0px;
  }
  .cardDiv2 {
    margin-top: 5px;
    margin-left: 0;
    display: inline-flex;
    width: -webkit-fill-available;
  }
  .cardBottom {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .cardDate1 {
    opacity: 0.6;
    margin-right: 0px !important;
    margin: 0 auto;
    color: #464646;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;
    text-align: right;
  }
  .labelRight {
    width: 112px !important;
    float: right;
  }
  .CB1 {
    height: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 !important;
  }
  .CB2 {
    margin: auto !important;
    display: inline-flex;
    padding: 0;
  }
  .CB3 {
    margin-top: 0;
    position: relative;
    right: 0;
    bottom: 0;
    padding: 0;
  }
  .CB2img {
    height: 52px;
    cursor: pointer;
  }
  .CB3img {
    height: 60px;
    cursor: pointer;
  }
  .CB4img {
    height: 54px;
    margin-top: -5px;
    cursor: pointer;
  }
  .e2 {
    margin-bottom: 30px;
    margin-top: 0 !important;
  }
  .tabHeadA {
    height: 24px;
    // color: #3967f4;
    color: var(--colorCommon);
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
    /* margin-bottom: 10px; */
  }
  .tabHeadNA {
    height: 24px;
    // color: #84a3ff;
    color: var(--colorCommon);
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: auto;
  }
  .tabRuleA {
    border: 1px solid #91a8f0;
    width: 75%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .tabRuleNA {
    border: 1px solid #84a3ff;
    width: 70%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .tabCourseM {
    height: 24px;
    width: auto;
    color: #464646;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: auto;
  }
  .tabHeadSub {
    font-size: 17px;
    color: black;
  }
  .tabHeadC1 {
    // color: #0a44f5;
    color: var(--colorCommon);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    margin: auto;
  }
  .fa-bookmark.active {
    color: #507bfc;
  }
  .ico {
    padding: 5px 5px;
    font-size: 16px;
  }
  .pIco {
    padding: 5px 5px;
  }
  .feedback {
    display: inline-flex;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    .boxes {
      background-color: white;
      border-radius: 8px;
      margin-right: 15px;
      .inside_content {
        padding-left: 10px;
      }
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
      position: relative;
      .boxes:last-child {
        margin-right: 0px;
      }
      .tag-mandatory {
        width: 40%;
        background: #ffae74;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-mandatory-workflow {
        width: 40%;
        background: #507bfc;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-recommended {
        width: 40%;
        background: #daa0fe;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-open {
        width: 40%;
        background: #ddb0fc;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-aspirational {
        width: 40%;
        background: #5acef7;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-self-enrolled {
        width: 40%;
        background: #e6beff;
        color: white;
        margin: 0 100%;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        transform: translateX(-100%);
        cursor: pointer;
      }
      .tag-text {
        text-align: center;
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 5px;
        padding-right: 5px;
        text-transform: uppercase;
        font-size: 13px;
        min-width: 50px;
        cursor: pointer;
      }
      .cource-title {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 8fr;
        align-items: center;
        .course-icon {
          display: inline-block;
          cursor: pointer;
        }
        .course-icon img {
          width: 20px;
          cursor: pointer;
          width: 40px;
          vertical-align: baseline;
        }
        .cource-name {
          display: inline-block;
          margin-left: 15px;
          .course-icon-name {
            display: block;
            color: black;
            cursor: pointer;
          }
          .course-icon-below-text {
            color: #a4abb3;
            padding-top: 10px;
            cursor: pointer;
            font-size: 13px;
          }
        }
      }
      .stages {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 10px;
        align-items: center;
        cursor: pointer;
        .number-of-stages {
          font-size: 13px;
          display: inline-block;
          color: #a4abb3;
          cursor: pointer;
          width: 50%;
        }
        .percComplete-of-course {
          font-size: 13px;
          display: inline-block;
          color: #a4abb3;
          cursor: pointer;
          text-align: right;
          width: 50%;
        }
        .progress-bar-color {
          background-color: #ffc107 !important;
          cursor: pointer;
        }
        .self-enrol-buttonO {
          align-self: center;
          .self-enrol-button-text {
            display: inline-block;
            border-color: #5acef7;
            text-align: center;
            width: 60%;
            height: 20px;
            line-height: 20px;
            border-style: solid;
            border-width: 1px;
          }
        }
        .self-enrol-buttonNO {
          align-self: center;
          .self-enrol-button-text {
            display: inline-block;
            border-color: #5acef7;
            text-align: center;
            width: 90%;
            height: 20px;
            line-height: 20px;
            border-style: solid;
            border-width: 1px;
          }
        }
      }
      .stages-icons {
        display: flex;
        text-align: center;
        padding-right: 10px;
        color: #a4abb3;
        justify-content: space-evenly;
        align-items: flex-end;
        vertical-align: super;
        i {
          color: #a4abb3;
          cursor: pointer;
        }
        .stages-icons-like {
          display: inline-block;
        }
        .number-of-likes {
          padding-left: 7px;
          display: inline-block;
        }
        .stages-icons-dislike {
          padding-left: 10px;
          display: inline-block;
        }
      }
      .course-mode {
        font-size: 14px;
        padding-top: 10px;
        height: 35px;
        cursor: pointer;
        .course-type-icon {
          display: inline-flex;
          text-align: center;
          padding-right: 10px;
          cursor: pointer;
        }
        .course-mode-icon {
          display: inline-flex;
          width: auto;
          color: #464646;
          cursor: pointer;
          .course-type {
            display: inline-flex;
            cursor: pointer;
            text-align: center;
            font-size: 12px;
          }
          .course-type-icon img {
            width: 20px;
            cursor: pointer;
          }
        }
        .course-mode-text {
          display: inline-flex;
          text-align: right;
          width: auto;
          font-size: 12px;
          padding-left: 10px;
          color: #464646;
          i {
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
    }
    .boxes:nth-child(3n) {
      margin-right: 0px;
    }
  }

  @media screen and (max-width: 1300px) {
    .grid-container {
      grid-template-columns: 1fr 1fr !important;
      .boxes:nth-child(3n) {
        margin-right: 15px !important;
        padding-left: 10px !important;
      }
      .boxes:nth-child(2n) {
        margin-right: 0px !important;
      }
    }
    .grid-container .boxes .course-mode {
      width: 100% !important;
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      .course-mode-icon {
        width: 100% !important;
      }
      .course-mode-text {
        text-align: right;
        padding-right: 15px;
        width: 100% !important;
      }
    }
    .learn-header-container {
      display: grid;
      grid-template-columns: 1fr 2fr 220px !important;
      grid-column-gap: 20px;
      .headName {
        // height: 33px;
        font-size: 21px !important;
        line-height: 33px;
      }
      .header-horizontal {
        margin-top: 5px;
        .headRule {
          opacity: 0.1;
          background-color: #000000;
        }
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .learn-grid-card-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .mat-tab-label-active {
      height: auto !important;
      width: auto !important;
      min-height: 200px;
      min-height: 200px;
    }
    .mat-tab-label {
      height: auto !important;
      min-width: auto !important;
    }
  }
  @media screen and (max-width: 800px) {
    .learn-grid-card-container {
      grid-template-columns: 1fr 1fr;
    }
    .grid-container {
      grid-template-columns: 1fr !important;
      .boxes {
        margin-right: 0px !important;
      }
      .boxes:nth-child(3n) {
        margin-right: 0px !important;
      }
    }
    .course-mode-text {
      width: inherit !important;
    }
    .learn-header-container {
      display: grid;
      grid-template-columns: 1fr 4fr 220px !important;
      grid-column-gap: 20px;
      .headName {
        font-size: 18px !important;
      }
      .header-horizontal {
        margin-top: 5px;
        .headRule {
          opacity: 0.1;
          background-color: #000000;
        }
      }
      .noOfCompCourse1 {
        box-sizing: border-box;
        height: 41px;
        width: 100%;
        margin-right: 10px;
      }
      .noOfCompCourseUp {
        font-size: 20px;
        color: #507bfc;
        line-height: 19px;
        text-align: center;
        padding-left: 5px;
      }
    }
  }
  @media screen and (max-width: 740px) {
    .learn-header-container {
      display: grid;
      grid-template-columns: 1fr 4fr 30px !important;
      grid-column-gap: 20px;
      .noOfCompCourse1 {
        border-radius: 0px !important;
        box-shadow: none !important;
        border: none !important;
        span {
          display: none !important;
        }
        .noOfCompCourseUp {
          padding-left: 0px !important;
          font-size: 29px;
        }
      }
    }
    .learn-header-container .headName {
      font-size: 16px !important;
    }
    // .mainDiv {
      // padding: 1rem !important;
    // }
    .bottom {
      width: 16px;
    }
    .sidenav .icon {
      font-size: 30px;
      border: 1px solid #c1c5ca;
      padding: 14px;
      background: #ffffff;
      border-radius: 5px;
      color: #507bfc;
      margin-bottom: 5px;
    }
  }
  @media screen and (max-width: 480px) {
    // .mainDiv {
      // padding: 0rem !important;
    // }
    .learn-grid-card-container {
      grid-template-columns: 1fr;
    }
  }
}

.Body2 {
  margin-top: 10px;
}


// ngx-learn-search {
//   .learn-grid-card-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-column-gap: 27px;
//     grid-row-gap: 27px;
//     margin-top: 27px;
//     .cardSingle {
//       border-radius: 10px;
//       position: relative;
//       background: #fff;
//       cursor: pointer;
//       .content_align {
//         height: 100%;
//         display: grid;
//       }
//       .upcoming-container {
//         position: absolute;
//         height: 100%;
//         background: rgba(0, 0, 0, 0.5);
//         width: 100%;
//         z-index: 2;
//         color: #fff;
//         text-align: center;
//         // top: 5;
//         display: grid;
//         align-items: center;
//         border-radius: 8px;
//         .inside-content {
//           ion-icon {
//             font-size: 30px;
//           }
//           p {
//             margin: 0;
//           }
//         }
//       }
//       .card_label_mandtory {
//         border-left: 5px solid #f0a24f;
//       }
//       .card_label_recommended {
//           border-left: 5px solid #daa0fe;
//       }
//       .card_label_aspirational {
//         border-left: 5px solid #5acef7;
//       }
//       .card_label_enrolled {
//         border-left: 5px solid #e6beff;
//       }
//       .card_label_OPEN {
//         border-left: 5px solid #99b1fc;
//       }
//       .card_image {
//         height: 160px;
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center !important;
//         display: grid;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;

//         .progressDiv-card {
//           display: grid;
//           grid-template-columns: 1fr 1fr;
//           .badge_container_cap {
//             color: #fff;
//             height: 25px;
//             width: 120px;
//             display: flex;
//             margin-left: auto;
//             justify-content: center;
//             align-items: center;
//             border-bottom-left-radius: 10px;
//             border-top-right-radius: 10px;
//             font-size: 13px;
//           }
//           .badge_container_cap_mandtory {
//             background-color: #f0a24f;
//           }
//           .badge_container_cap_recommended {
//             background-color: #daa0fe;
//           }
//           .badge_container_cap_aspirational {
//             background-color: #5acef7;
//           }
//           .badge_container_cap_enrolled {
//             background-color: #e6beff;
//           }
//           .badge_container_cap_OPEN {
//             background-color: #99b1fc;
//           }
//           .badge_container_percent {
//             font-size: 14px;
//             background: #1a1a1a94;
//             color: #fff;
//             width: 60px;
//             border-top-right-radius: 10px;
//             align-items: center;
//             height: 25px;
//             display: flex;
//             justify-content: center;
//           }
//           .badge_container_bundle {
//             background: #507bfc;
//             color: #fff;
//             height: 25px;
//             width: 40px;
//           }
//         }
//         .progressDiv-card:last-child {
//           align-self: flex-end;
//         }
//       }
//       .card_content {
//         padding: 10px 10px 0;
//         background: #fff;
//         .title_Card {
//           font-size: medium;
//           color: #646464;
//           font-family: roboto;
//         }
//         .card_content_grid {
//           display: grid;
//           grid-template-columns: 1fr 1.25fr 1.5fr;
//           align-items: end;
//           padding: 7px 0 5px 0;
//           .card_subtitles {
//             font-size: smaller;
//             margin: 0;
//             color: #4e4e4e;
//             text-align: center;
//             &:first-child {
//               text-align: left;
//             }
//             &:last-child {
//               text-align: right;
//             }
//           }
//         }
//       }
//       .card_content_workflow {
//         border-bottom-left-radius: 10px;
//         border-bottom-right-radius: 10px;
//         padding: 10px;
//       }

//       .card_footer {
//         display: flex;
//         // display: grid;
//         padding-top: 7px;
//         padding-bottom: 4px;
//         grid-template-columns: 1fr 1fr;
//         // border-top: 1px solid #eee;
//         background: #fff;
//         border-bottom-left-radius: 10px;
//         border-bottom-right-radius: 10px;
//         .card_content_footer {
//           width: 100%;
//           text-align: center;
//           align-self: center;
//           border-right: 1px solid #eee;
//           color: #aea4a4;
//           font-size: 13px;
//           padding-top: 7px;
//           border-top: 1px solid #eee;
//           padding-bottom: 4px;
//         }
//         .card_content_footer:last-child {
//           border-right: 0px;
//         }
//       }
//       .self-enrol-buttonO {
//         align-self: center;
//         background: #fff;
//         border-bottom-left-radius: 10px;
//         border-bottom-right-radius: 10px;
//         padding: 10px 0;
//         text-align: center;
//         cursor: pointer;
//         .self-enrol-button-text {
//           display: inline-block;
//           text-align: center;
//           /* height: 20px; */
//           /* line-height: 20px; */
//           color: #000;
//           background: #ffff;
//           margin-left: auto;
//           font-size: 13px;
//           border: 1px solid #507bfc;
//           padding: 4px 50px;
//           /* width: 100px; */
//           border-radius: 30px;
//           margin: 0 auto;
//           margin: 20pxx;
//           text-align: center;
//         }
//         .pending-for-approval {
//           font-size: 13px;
//           color: #ffa045;
//         }
//       }
//     }
//     .card_label_mandtory {
//       border-left: 5px solid #f0a24f;
//     }
//     .card_label_recommended {
//       // background: #DAA0FE;;
//       border-left: 5px solid #daa0fe;
//       // color: #fff;
//     }
//     .card_label_aspirational {
//       border-left: 5px solid #5acef7;
//       // background: #5ACEF7;
//       // color: #fff;
//     }
//     .card_label_enrolled {
//       border-left: 5px solid #e6beff;
//       // background: #e6beff;
//       // color: #fff;
//     }
//     .card_label_OPEN {
//       border-left: 5px solid #99b1fc;
//       // background: #99B1FC;
//       // color: #fff;
//     }
//   }

//   .imgblock {
//     position: relative;
//     margin: -16px -16px 0 -16px !important;
//     height: 130px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center !important;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//   }

//   .legenddiv {
//     position: absolute;
//     float: right;
//     top: 0;
//     right: 0;
//     text-align: center;
//     width: 35px;
//     padding: 5px 0;
//     background: #f0a24f;
//     color: #fff;
//     border-bottom-left-radius: 20px;
//     border-top-right-radius: 10px;
//   }

//   .content2 {
//     padding: 0 15px;
//   }

//   .card_grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
//   }

//   .card_title {
//     margin-bottom: 5px;
//     margin-top: 10px !important;
//     width: 290px;
//     font-size: 18px;
//     min-height: 25px;
//     overflow: hidden;
//   }

//   .content_div {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//   }

//   .progressDiv {
//     position: absolute;
//     bottom: 10px;
//     left: 10px;
//   }

//   .txt_margin_right {
//     margin-right: 15px;
//   }

//   .titleColor {
//     color: #646464;
//   }

//   .footer_icons {
//     display: grid;
//     height: 30px;
//     grid-template-columns: 1fr 1fr 1fr;
//   }

//   .f_content {
//     width: 100%;
//     text-align: center;
//     align-self: center;
//     border-right: 1px solid #eee;
//     color: #aea4a4;
//     font-size: 16px;
//   }

//   .online_icon {
//     height: 15px;
//     width: 15px;
//   }

//   .footer_border {
//     border-top: 1px solid #eee;
//   }

//   .padding0 {
//     padding: 0;
//   }

//   .mat_card {
//     border-radius: 10px !important;
//   }

//   .work_flow_card {
//     background: #eee !important;
//   }
//   .work_flow_container {
//     margin: 20px 0;
//   }
//   .certificate-new {
//     display: grid;
//     grid-template-columns: 70px auto;
//     border-radius: 20px;
//     -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
//     background: white;
//     padding: 15px;
//     grid-column-gap: 15px;
//   }
//   .certiimg-new {
//     align-self: center;
//   }
//   .certiimg-new img {
//     max-width: 60px;
//     width: 100%;
//   }
//   .certi-content {
//     font-size: 22px;
//     color: #fea08f;
//     line-height: 34px;
//     width: 100%;
//     text-align: left;
//   }
//   .carousel {
//     .content {
//       display: flex;
//       .item {
//         width: 100%;
//         display: block;
//         .img {
//           width: 100%;
//           display: block;
//           background-size: cover;
//           background-position: center;
//           height: 0;
//           padding-bottom: 50%;
//         }
//       }
//     }
//     .item {
//       width: 100%;
//       display: block;
//       .img {
//         width: 100%;
//         display: block;
//         background-size: cover;
//         background-position: center;
//         height: 0;
//         padding-bottom: 50%;
//       }
//     }
//     .ball {
//       width: 10px;
//       height: 10px;
//       border-radius: 50%;
//       background: black;
//       border: 2px solid;
//       opacity: 0.5;
//       &.visible {
//         opacity: 1;
//       }
//     }
//     .progress {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       width: 0;
//       height: 5px;
//       background: #ff5252;
//     }
//     .click-area {
//       width: 50px;
//       text-align: center;
//       i {
//         font-size: 3em;
//       }
//     }
//     .button-color {
//       background-color: #507bfc;
//       color: white;
//       border: none;
//       width: 50px;
//       height: 50px;
//       border-radius: 50%;
//       font-size: 7px;
//     }
//   }

//   @media screen and (max-width: 1200px) {
//     .carouselslider {
//       width: 690px !important;
//     }
//     .badges {
//       margin: 5px 15px !important;
//     }
//   }
//   .active {
//     color: #507bfc !important;
//   }
//   .main {
//     z-index: 999;
//   }
//   // .mainDiv {
//   //   padding: 2.25rem 2.25rem 0.75rem;
//   // }
//   .main-container {
//     display: inline-flex;
//     width: 100%;
//     margin-bottom: 20px;
//   }
//   .mat-tab-group.mat-primary .mat-ink-bar,
//   .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//     background: none;
//     height: 0px;
//   }
//   .mat-tab-header,
//   .mat-tab-nav-bar {
//     border-bottom: none;
//   }
//   .tab {
//     height: 100%;
//     min-width: 10%;
//     border-radius: 10px;
//     margin: auto;
//   }
//   .mat-tab-labels {
//     align-items: center;
//     margin: auto;
//     cursor: text !important;
//   }
//   .mat-tab-label .mat-tab-label-content {
//     -ms-flex-wrap: wrap !important;
//     flex-wrap: wrap !important;
//     width: -webkit-fill-available !important;
//     height: -webkit-fill-available !important;
//     cursor: text;
//   }
//   .mat-tab-label {
//     height: 160px;
//     min-width: 200px;
//     // height: 48px;
//     padding: 0;
//     cursor: text;
//     box-sizing: border-box;
//     opacity: 0.8;
//     // min-width: 160px;
//     background: #fff;
//     text-align: center;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     white-space: nowrap;
//     position: relative;
//     // margin: auto !important;
//   }
//   .mat-tab-label-container {
//     display: flex;
//     flex-grow: 1;
//     overflow: hidden;
//     z-index: 1;
//     background: #ebeff5;
//   }
//   .mat-tab-label-active {
//     height: 190px;
//     width: 200px;
//     border-radius: 10px !important;
//     /* background-color: #ffffff !important; */
//     -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
//     box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1) !important;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
//     cursor: text;
//   }
//   .mat-tab-label .mat-tab-label-content {
//     flex-wrap: wrap !important;
//   }
//   .mat-tab-label .mat-tab-label-content span {
//     display: flex !important;
//     flex: 1 0 100% !important;
//     justify-content: center !important;
//   }
//   .mat-tab-label .mat-tab-label-content .tabHead {
//     height: 24px;
//     color: #507bfc;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     margin-bottom: 10px;
//   }
//   .mat-tab-label .mat-tab-label-content .tabHead0 {
//     height: 24px;
//     color: #507bfc;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     margin-bottom: 10px;
//   }
//   .mat-tab-label .mat-tab-label-content .tabHead1 {
//     height: 24px;
//     color: #ffae74;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     margin-bottom: 10px;
//   }
//   .mat-tab-label .mat-tab-label-content .tabHead2 {
//     height: 24px;
//     color: #daa0fe;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     margin-bottom: 10px;
//   }
//   .mat-tab-label .mat-tab-label-content .tabHead3 {
//     height: 24px;
//     color: #5acef7;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     margin-bottom: 10px;
//   }
//   .mat-tab-label .mat-tab-label-content .tabCourse {
//     height: 24px;
//     width: 92px;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 13px;
//     font-weight: 300;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//   }
//   .tabHead10 {
//     height: 24px;
//     width: 22px;
//     color: #507bfc;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     margin-top: 5px;
//     font-size: 18px;
//   }
//   .tabHead11 {
//     height: 24px !important;
//     width: 22px !important;
//     color: #ffae74;
//     font-family: "Open Sans";
//     font-size: 18px !important;
//     font-weight: 600;
//     line-height: 28px;
//     text-align: center;
//     margin: auto;
//     font-size: 14px;
//   }
//   .tabHead12 {
//     height: 24px;
//     width: 22px;
//     color: #daa0fe;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     font-size: 14px;
//   }
//   .tabHead13 {
//     height: 24px;
//     width: 22px;
//     color: #5acef7;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     font-size: 14px;
//   }
//   .tabCourse1 {
//     /* height: 24px; */
//     width: 92px;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 300;
//     /* line-height: 24px; */
//     text-align: center;
//     margin: auto;
//     font-size: 10px;
//   }
//   .ro123 {
//     width: 100%;
//     margin: 0 !important;
//   }
//   .bottom {
//     display: -webkit-inline-box;
//     display: -ms-inline-flexbox;
//     display: inline-flex;
//     position: absolute;
//     bottom: 0;
//     height: 54px;
//     width: 200px;
//     background-color: #f0f0f0;
//     -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.2);
//     box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.2);
//   }
//   .rigBord {
//     width: 50%;
//     display: grid;
//     align-items: center;
//     border-top: 1px solid #e3dede;
//     border-right: 1px solid #e3dede;
//   }
//   .lefBord {
//     width: 50%;
//     border-top: 1px solid #e3dede;
//     display: grid;
//     align-items: center;
//   }
//   .divHead0 {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 14px;
//     width: 22px;
//     border-radius: 0 10px 0 10px;
//     background-color: #507bfc;
//   }
//   .divHead1 {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 14px;
//     width: 22px;
//     border-radius: 0 10px 0 10px;
//     background-color: #ffae74;
//   }
//   .divHead2 {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 14px;
//     width: 22px;
//     border-radius: 0 10px 0 10px;
//     background-color: #daa0fe;
//   }
//   .divHead3 {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 14px;
//     width: 22px;
//     border-radius: 0 10px 0 10px;
//     background-color: #5acef7;
//   }
//   .divBody {
//     margin: auto;
//     /* background: #fff; */
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
//   }
//   .switchView {
//     float: right;
//     height: 60px;
//     cursor: pointer;
//     display: flex;
//     width: 60px;
//     background: #ffffff;
//     border-radius: 50%;
//     box-shadow: 0px 6px 12px #91bde9;
//     border: 2px solid #7e9efd;
//     color: #fff;
//   }
//   .iconSvg {
//     width: 50%;
//     /* align-items: center; */
//     margin: auto;
//   }
//   .bulletIcon {
//     margin: auto;
//     color: #0088ff;
//     font-size: 25px;
//   }
//   .body-container {
//     margin-top: 20px;
//   }
//   .Head1 {
//     display: inline-flex;
//     margin-bottom: 18px;
//   }
//   .Head2 {
//     display: inline-flex;
//     margin-top: 0px;
//     width: 99%;
//   }
//   .learn-header-container {
//     display: grid;
//     grid-template-columns: 1fr 2fr 1fr;
//     grid-column-gap: 20px;
//     .headName {
//       // height: 33px;
//       white-space: nowrap;
//       color: #464646;
//       font-family: "Open Sans";
//       font-size: 24px;
//       line-height: 33px;
//       // margin-right: 1%;
//       margin: 0px;
//     }
//     .header-horizontal {
//       margin-top: 5px;
//       .headRule {
//         // margin: auto;
//         height: 1px;
//         // width: 70%;
//         opacity: 0.1;
//         background-color: #000000;
//         // margin-right: 1%;
//       }
//     }
//     .noOfCompCourse1 {
//       box-sizing: border-box;
//       height: 41px;
//       max-width: 350px;
//       width: 100%;
//       border: 1px solid #4d77ff;
//       border-radius: 100px;
//       box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
//       display: inline-flex;
//       color: #464646;
//       align-self: center;
//       // margin-right: 15px;
//       margin-left: auto;
//     }
//     .noOfCompCourse2 {
//       color: #464646;
//       font-family: "Open Sans";
//       font-size: 15px;
//       line-height: 19px;
//       text-align: center;
//       // margin-top: 10px;
//       padding-left: 11px;
//     }
//     .noOfCompCourseUp {
//       font-size: 20px;
//       color: #507bfc;
//       line-height: 19px;
//       text-align: center;
//       // margin-top: 10px;
//       padding-left: 11px;
//     }
//     .alignText {
//       cursor: pointer;
//       margin: auto;
//       display: inline-flex;
//       color: #464646;
//     }
//   }
//   .Body1 {
//     margin-top: 10px;
//   }
//   .slider {
//     overflow: hidden;
//     height: auto;
//     transition-property: all;
//     transition-duration: 0.75s;
//     transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//   }
//   .slider.closed {
//     height: 0;
//   }
//   .eleB2 {
//     height: auto;
//     width: 95% !important;
//     padding-bottom: 10px;
//     border-radius: 10px;
//     background-color: #ffffff;
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
//     margin: auto;
//   }
//   .eleB22 {
//     height: auto;
//     width: 95% !important;
//     border-radius: 10px;
//     padding-bottom: 10px !important;
//     background-color: #ffffff;
//     -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
//     margin: 0 auto !important;
//     cursor: pointer;
//   }
//   .row {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//   }
//   .row1 {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     margin-right: 0px !important;
//     margin-left: 0px !important;
//   }
//   .col-4 {
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//   }
//   .col-3 {
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//   }
//   .eleImg {
//     padding: 0 14px;
//     margin: auto;
//     height: 60px;
//   }
//   .classHead1 {
//     float: right;
//     height: 28px;
//     width: 112px;
//     border-radius: 0 10px 0 10px;
//     background-color: #999999;
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
//   }
//   .classHead2 {
//     float: right;
//     height: 28px;
//     width: 112px;
//     border-radius: 0 10px 0 10px;
//     background-color: #ffae74;
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
//   }
//   .classHead3 {
//     float: right;
//     height: 28px;
//     width: 112px;
//     border-radius: 0 10px 0 10px;
//     background-color: #daa0fe;
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
//   }
//   .classHead4 {
//     float: right;
//     height: 28px;
//     width: 112px;
//     border-radius: 0 10px 0 10px;
//     background-color: #5acef7;
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
//   }
//   .classBody1 {
//     color: #ffffff;
//     font-family: "Open Sans";
//     font-size: 12px;
//     line-height: 29px;
//     text-align: center;
//     margin: auto;
//   }
//   .cardDiv1 {
//     display: inline-flex;
//     margin-bottom: 0.3rem;
//   }
//   .divContent {
//     margin: auto !important;
//   }
//   .cardTitle {
//     margin-bottom: 0.3rem !important;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 16px;
//     line-height: 22px;
//   }
//   .cardDate {
//     margin-bottom: 0.3rem !important;
//     opacity: 0.8;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 14px;
//     line-height: 32px;
//   }
//   .cardDesc {
//     opacity: 0.8;
//     margin: 0;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 14px;
//     line-height: 25px;
//     margin-bottom: 5px;
//   }
//   .cardPara {
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 10.5px;
//     margin-right: 10px;
//     font-weight: 100;
//     margin-bottom: 10px;
//     line-height: 18px;
//   }
//   .cardImg {
//     margin-top: 0;
//     margin-right: 11px;
//     height: 15px;
//   }
//   .cardButton1 {
//     width: 100px !important;
//     padding: 0px 5px;
//     border: none;
//     border-radius: 0;
//     margin: auto !important;
//     cursor: pointer;
//   }
//   .cardButtonText1 {
//     color: #507bfc;
//     position: absolute;
//     padding: 10px;
//     border: 1px solid #507bfc;
//     border-radius: 25px;
//     background: transparent;
//     font-family: "Open Sans";
//     font-size: 14px;
//     font-weight: 100;
//     text-align: center;
//     box-shadow: 3px 5px 10px -4px rgba(80, 123, 252, 0.5);
//   }
//   .mat-progress-bar {
//     display: block;
//     height: 5px !important;
//     overflow: hidden;
//     position: relative;
//     -webkit-transition: opacity 250ms linear !important;
//     transition: opacity 250ms linear !important;
//     width: 100% !important;
//     margin-left: 0;
//     margin: 5px 0 5px 0px !important;
//     background-color: #eeeeee !important;
//     border-radius: 15px !important;
//   }
//   .green-progress .mat-progress-bar-fill::after {
//     background-color: #24e4e1 !important;
//   }
//   .yellow-progress .mat-progress-bar-fill::after {
//     background-color: #ffee19 !important;
//   }
//   .mat-progress-bar-buffer {
//     background: #eeeeee;
//   }
//   .comp1 {
//     margin: 0px;
//   }
//   .cardDiv2 {
//     margin-top: 5px;
//     margin-left: 0;
//     display: inline-flex;
//     width: -webkit-fill-available;
//   }
//   .cardBottom {
//     position: relative;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//   }
//   .cardDate1 {
//     opacity: 0.6;
//     margin-right: 0px !important;
//     margin: 0 auto;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 12px;
//     line-height: 17px;
//     // width: 200px;
//     text-align: right;
//   }
//   .labelRight {
//     width: 112px !important;
//     float: right;
//   }
//   .CB1 {
//     height: auto;
//     display: -webkit-inline-box;
//     display: -ms-inline-flexbox;
//     display: inline-flex;
//     margin: 0 !important;
//   }
//   .CB2 {
//     margin: auto !important;
//     display: inline-flex;
//     padding: 0;
//   }
//   .CB3 {
//     margin-top: 0;
//     position: relative;
//     right: 0;
//     bottom: 0;
//     padding: 0;
//   }
//   .CB2img {
//     height: 52px;
//     cursor: pointer;
//   }
//   .CB3img {
//     height: 60px;
//     cursor: pointer;
//   }
//   .CB4img {
//     height: 54px;
//     margin-top: -5px;
//     cursor: pointer;
//   }
//   .e2 {
//     margin-bottom: 30px;
//     margin-top: 0 !important;
//   }
//   .tabHeadA {
//     height: 24px;
//     color: #3967f4;
//     font-family: "Open Sans";
//     font-size: 24px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//     /* margin-bottom: 10px; */
//   }
//   .tabHeadNA {
//     height: 24px;
//     color: #84a3ff;
//     font-family: "Open Sans";
//     font-size: 24px;
//     font-weight: 600;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//   }
//   .tabRuleA {
//     border: 1px solid #91a8f0;
//     width: 75%;
//     margin-top: 10px !important;
//     margin-bottom: 10px !important;
//   }
//   .tabRuleNA {
//     border: 1px solid #84a3ff;
//     width: 70%;
//     margin-top: 10px !important;
//     margin-bottom: 10px !important;
//   }
//   .tabCourseM {
//     height: 24px;
//     width: auto;
//     color: #464646;
//     font-family: "Open Sans";
//     font-size: 13px;
//     font-weight: 300;
//     line-height: 24px;
//     text-align: center;
//     margin: auto;
//   }
//   .tabHeadSub {
//     font-size: 17px;
//     color: black;
//   }
//   .tabHeadC1 {
//     color: #0a44f5;
//     font-family: "Open Sans";
//     font-size: 18px;
//     font-weight: 600;
//     margin: auto;
//   }
//   .fa-bookmark.active {
//     color: #507bfc;
//   }
//   .ico {
//     padding: 5px 5px;
//     font-size: 16px;
//   }
//   .pIco {
//     padding: 5px 5px;
//   }
//   .feedback {
//     display: inline-flex;
//   }
//   .grid-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-row-gap: 20px;
//     .boxes {
//       background-color: white;
//       border-radius: 8px;
//       margin-right: 15px;
//       .inside_content {
//         padding-left: 10px;
//       }
//       box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
//       position: relative;
//       .boxes:last-child {
//         margin-right: 0px;
//       }
//       .tag-mandatory {
//         width: 40%;
//         background: #ffae74;
//         color: white;
//         margin: 0 100%;
//         border-bottom-left-radius: 7px;
//         border-top-right-radius: 7px;
//         transform: translateX(-100%);
//         cursor: pointer;
//       }
//       .tag-mandatory-workflow {
//         width: 40%;
//         background: #507bfc;
//         color: white;
//         margin: 0 100%;
//         border-bottom-left-radius: 7px;
//         border-top-right-radius: 7px;
//         transform: translateX(-100%);
//         cursor: pointer;
//       }
//       .tag-recommended {
//         width: 40%;
//         background: #daa0fe;
//         color: white;
//         margin: 0 100%;
//         border-bottom-left-radius: 7px;
//         border-top-right-radius: 7px;
//         transform: translateX(-100%);
//         cursor: pointer;
//       }
//       .tag-open {
//         width: 40%;
//         background: #ddb0fc;
//         color: white;
//         margin: 0 100%;
//         border-bottom-left-radius: 7px;
//         border-top-right-radius: 7px;
//         transform: translateX(-100%);
//         cursor: pointer;
//       }
//       .tag-aspirational {
//         width: 40%;
//         background: #5acef7;
//         color: white;
//         margin: 0 100%;
//         border-bottom-left-radius: 7px;
//         border-top-right-radius: 7px;
//         transform: translateX(-100%);
//         cursor: pointer;
//       }
//       .tag-self-enrolled {
//         width: 40%;
//         background: #e6beff;
//         color: white;
//         margin: 0 100%;
//         border-bottom-left-radius: 7px;
//         border-top-right-radius: 7px;
//         transform: translateX(-100%);
//         cursor: pointer;
//       }
//       .tag-text {
//         text-align: center;
//         display: block;
//         padding-top: 7px;
//         padding-bottom: 7px;
//         padding-left: 5px;
//         padding-right: 5px;
//         text-transform: uppercase;
//         font-size: 13px;
//         min-width: 50px;
//         cursor: pointer;
//       }
//       .cource-title {
//         text-align: left;
//         display: grid;
//         grid-template-columns: 1fr 8fr;
//         align-items: center;
//         .course-icon {
//           display: inline-block;
//           cursor: pointer;
//         }
//         .course-icon img {
//           width: 20px;
//           cursor: pointer;
//           width: 40px;
//           vertical-align: baseline;
//         }
//         .cource-name {
//           display: inline-block;
//           margin-left: 15px;
//           .course-icon-name {
//             display: block;
//             color: black;
//             cursor: pointer;
//           }
//           .course-icon-below-text {
//             color: #a4abb3;
//             padding-top: 10px;
//             cursor: pointer;
//             font-size: 13px;
//           }
//         }
//       }
//       .stages {
//         display: grid;
//         grid-template-columns: 2fr 1fr;
//         margin-top: 10px;
//         align-items: center;
//         cursor: pointer;
//         .number-of-stages {
//           font-size: 13px;
//           display: inline-block;
//           color: #a4abb3;
//           cursor: pointer;
//           width: 50%;
//         }
//         .percComplete-of-course {
//           font-size: 13px;
//           display: inline-block;
//           color: #a4abb3;
//           cursor: pointer;
//           text-align: right;
//           width: 50%;
//         }
//         .progress-bar-color {
//           background-color: #ffc107 !important;
//           cursor: pointer;
//         }
//         .self-enrol-buttonO {
//           align-self: center;
//           .self-enrol-button-text {
//             display: inline-block;
//             border-color: #5acef7;
//             text-align: center;
//             width: 60%;
//             height: 20px;
//             line-height: 20px;
//             border-style: solid;
//             border-width: 1px;
//           }
//         }
//         .self-enrol-buttonNO {
//           align-self: center;
//           .self-enrol-button-text {
//             display: inline-block;
//             border-color: #5acef7;
//             text-align: center;
//             width: 90%;
//             height: 20px;
//             line-height: 20px;
//             border-style: solid;
//             border-width: 1px;
//           }
//         }
//       }
//       .stages-icons {
//         display: flex;
//         // width: 35%;
//         text-align: center;
//         padding-right: 10px;
//         color: #a4abb3;
//         justify-content: space-evenly;
//         align-items: flex-end;
//         vertical-align: super;
//         i {
//           color: #a4abb3;
//           cursor: pointer;
//         }
//         .stages-icons-like {
//           display: inline-block;
//         }
//         .number-of-likes {
//           padding-left: 7px;
//           display: inline-block;
//         }
//         .stages-icons-dislike {
//           padding-left: 10px;
//           display: inline-block;
//         }
//       }
//       .course-mode {
//         font-size: 14px;
//         padding-top: 10px;
//         height: 35px;
//         cursor: pointer;
//         .course-type-icon {
//           display: inline-flex;
//           text-align: center;
//           padding-right: 10px;
//           cursor: pointer;
//         }
//         .course-mode-icon {
//           display: inline-flex;
//           width: auto;
//           color: #464646;
//           cursor: pointer;
//           .course-type {
//             display: inline-flex;
//             cursor: pointer;
//             text-align: center;
//             font-size: 12px;
//           }
//           .course-type-icon img {
//             width: 20px;
//             cursor: pointer;
//           }
//         }
//         .course-mode-text {
//           display: inline-flex;
//           text-align: right;
//           width: auto;
//           font-size: 12px;
//           padding-left: 10px;
//           color: #464646;
//           i {
//             font-size: 16px;
//             font-weight: 400;
//             cursor: pointer;
//           }
//         }
//       }
//     }
//     .boxes:nth-child(3n) {
//       margin-right: 0px;
//     }
//   }

//   @media screen and (max-width: 1300px) {
//     .grid-container {
//       grid-template-columns: 1fr 1fr !important;
//       .boxes:nth-child(3n) {
//         margin-right: 15px !important;
//         padding-left: 10px !important;
//       }
//       .boxes:nth-child(2n) {
//         margin-right: 0px !important;
//       }
//     }
//     .grid-container .boxes .course-mode {
//       width: 100% !important;
//       display: grid !important;
//       grid-template-columns: 1fr 1fr;
//       .course-mode-icon {
//         width: 100% !important;
//       }
//       .course-mode-text {
//         text-align: right;
//         padding-right: 15px;
//         width: 100% !important;
//       }
//     }
//     .learn-header-container {
//       display: grid;
//       grid-template-columns: 1fr 2fr 220px !important;
//       grid-column-gap: 20px;
//       .headName {
//         // height: 33px;
//         font-size: 21px !important;
//         line-height: 33px;
//       }
//       .header-horizontal {
//         margin-top: 5px;
//         .headRule {
//           opacity: 0.1;
//           background-color: #000000;
//         }
//       }
//     }
//   }

//   @media screen and (max-width: 1100px) {
//     .mat-tab-label-active {
//       height: auto !important;
//       width: auto !important;
//       min-height: 200px;
//       min-height: 200px;
//     }
//     .mat-tab-label {
//       height: auto !important;
//       min-width: auto !important;
//     }
//   }

//   @media screen and (max-width: 800px) {
//     .grid-container {
//       grid-template-columns: 1fr !important;
//       .boxes {
//           margin-right: 0px !important;
//       }
//       .boxes:nth-child(3n) {
//         margin-right: 0px !important;
//       }
//     }
//     .course-mode-text {
//       width: inherit !important;
//     }
//     .learn-header-container {
//       display: grid;
//       grid-template-columns: 1fr 4fr 220px !important;
//       grid-column-gap: 20px;
//       .headName {
//         font-size: 18px !important;
//       }
//       .header-horizontal {
//         margin-top: 5px;
//         .headRule {
//           opacity: 0.1;
//           background-color: #000000;
//         }
//       }
//       .noOfCompCourse1 {
//         box-sizing: border-box;
//         height: 41px;
//         // max-width: 00px;
//         width: 100%;
//         margin-right: 10px;
//       }
//       .noOfCompCourseUp {
//         font-size: 20px;
//         color: #507bfc;
//         line-height: 19px;
//         text-align: center;
//         // margin-top: 10px;
//         padding-left: 5px;
//       }
//     }
//   }

//   @media screen and (max-width: 740px) {
//     .learn-header-container {
//       display: grid;
//       grid-template-columns: 1fr 4fr 30px !important;
//       grid-column-gap: 20px;
//       .noOfCompCourse1 {
//         border-radius: 0px !important;
//         box-shadow: none !important;
//         border: none !important;
//         span {
//           display: none !important;
//         }
//         .noOfCompCourseUp {
//           padding-left: 0px !important;
//           font-size: 29px;
//         }
//       }
//     }
//     .learn-header-container .headName {
//       font-size: 16px !important;
//     }
//     .mainDiv {
//       padding: 1rem !important;
//     }
//     .bottom {
//       // height: 54px;
//       width: 16px;
//     }
//     .sidenav .icon {
//       font-size: 30px;
//       border: 1px solid #c1c5ca;
//       padding: 14px;
//       background: #ffffff;
//       border-radius: 5px;
//       color: #507bfc;
//       margin-bottom: 5px;
//     }
//   }

//   // @media screen and (max-width: 400px) {
//   //   .mainDiv {
//   //     padding: 0rem !important;
//   //   }
//   // }
// }

// .Body2 {
//   margin-top: 10px;
// }