<div class='mainDiv'>
    <div class="">
        <!-- <div class="row navTabMarginBottom">
            <div class="navbtngrp">
                    <button class="navigtnbtn dashboardbtn" (click)="goTODashboard()">Dashboard</button>
                    <button class="navigtnbtn teamdashboardbtn">Team Dashboard</button>
            </div>
        </div> -->

        <div class="row sliderRowMargin">
            <div class="sectionLft">
                <p class="head12">Hi, <strong>{{ username }}</strong></p>
                <!-- <p class="head12"></p> -->
            </div>

            <div class="sectionRght">
                <span matBadge='{{noPending}}' matBadgeColor="warn" [matBadgeHidden]='noPending == 0'>
                    <div class='sliderContent'>
                        <div (click)="hideCompCourse()" class='txtCentr'>
                            <p class='sliderLabel'>Approvals</p>
                            <i *ngIf="hideComp" class="fa fa-chevron-circle-up arrowUpDown"></i>
                            <i *ngIf="!hideComp" class="fa fa-chevron-circle-down arrowUpDown"></i>
                        </div>
                    </div>
                </span>
            </div>

            <div class='slider teamSlider slideClose' id='slider'>
                <mat-card class="sslideCard mat">
                    <div class="header12">
                        <div class="">
                            <input type="text" class="searchbx" placeholder="&#xf002;   Search" [(ngModel)]="person">
                        </div>
                        <div class="select-style">
                            <select (change)='getChangedValue($event.target.value)'>
                                <option value="All">All</option>
                                <option value="Pending">Pending</option>
                                <option value="Approved">Approved</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                            <div class='dropDownIcon'>
                                <i class="fa fa-caret-down faSize" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="table-container-div">
                        <table mat-table [dataSource]="dataSource1" matSort>

                            <!-- Position Column -->
                            <ng-container matColumnDef="empCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE CODE </th>
                                <td mat-cell *matCellDef="let element" class="textSize">
                                    <div class="link ">{{element.empCode}}</div>
                                    <!-- <a class="link" ></a>     -->
                                </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="empName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE NAME </th>
                                <td mat-cell *matCellDef="let element" class="textSize">
                                    <!-- <a class="link"></a>  -->
                                    <div class="link">{{element.empName}}</div>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="course">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> COURSE NAME </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.course}}
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> START DATE </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.startDate | date:"dd-MMM-yyyy" }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="approval">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Approval </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.approval}} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <i *ngIf="element.approval == true || element.approval == null" class="fa fa-check-circle faCC" [ngClass]="{ 'disableClick': element.approval == true }" (click)='giveApproval(element, 1)'></i>
                                    <i *ngIf="element.approval == false || element.approval == null" class="fa fa-times-circle faCT" [ngClass]="{ 'disableClick': element.approval == false }" (click)='giveApproval(element, 2)'></i>
                                </td>
                                <!-- <td mat-cell *matCellDef="let element"></td> -->
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsApprovals"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsApprovals;"></tr>
                        </table>
                    </div>
                    <mat-paginator pageSize="6" hidePageSize></mat-paginator>
                </mat-card>
            </div>
        </div>
        <!--  -->
        <div class="fb-item" *ngIf="!isloaded">
            <div class="first-section-wrapper">
                <div class="gravatar">
                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
                    </ngx-skeleton-loader>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                              width: '180px',
                              'border-radius': '3px',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                width: '180px',
                                'border-radius': '3px',
                              height: '15px'
                            }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                              width: '180px',
                              'border-radius': '3px',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                width: '180px',
                                'border-radius': '3px',
                              height: '15px'
                            }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                              width: '180px',
                              'border-radius': '3px',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                width: '180px',
                                'border-radius': '3px',
                              height: '15px'
                            }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                                      width: '180px',
                                      'border-radius': '3px',
                                      height: '15px',
                                      'margin-bottom': '10px'
                                    }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                        width: '180px',
                                      'border-radius': '3px',
                                      height: '15px'
                                    }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
            <div class="first-section-wrapper">
                <div class="gravatar">
                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '60px', height: '60px' }">
                    </ngx-skeleton-loader>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                                  width: '180px',
                                  'border-radius': '3px',
                                  height: '15px',
                                  'margin-bottom': '10px'
                                }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                    width: '180px',
                                    'border-radius': '3px',
                                  height: '15px'
                                }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                                  width: '180px',
                                  'border-radius': '3px',
                                  height: '15px',
                                  'margin-bottom': '10px'
                                }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                    width: '180px',
                                    'border-radius': '3px',
                                  height: '15px'
                                }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                                  width: '180px',
                                  'border-radius': '3px',
                                  height: '15px',
                                  'margin-bottom': '10px'
                                }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                    width: '180px',
                                    'border-radius': '3px',
                                  height: '15px'
                                }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div class="gravatar-title">
                    <div>
                        <ngx-skeleton-loader [theme]="{
                                          width: '180px',
                                          'border-radius': '3px',
                                          height: '15px',
                                          'margin-bottom': '10px'
                                        }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader [theme]="{     
                                            width: '180px',
                                          'border-radius': '3px',
                                          height: '15px'
                                        }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
        <!--!noDataFound  -->
        <div class="row marginBottom sliderRowMargin" *ngIf="isloaded ">
            <mat-card class="mat">
                <div class="row header12">
                    <div class="col-12">
                        <input type="text" class="searchbx" placeholder="&#xf002;   Search" [(ngModel)]="person">
                    </div>
                </div>

                <div class="table-container-div">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="iscoaching">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>CALL</th>
                            <td mat-cell *matCellDef="let element" class="textSize">
                                <div class="link cPointer" *ngIf="element.iscoaching == '1'" (click)="gotocall(element)">
                                    <img src="assets/images/headset.png" alt="" srcset="">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="empCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE CODE </th>
                            <td mat-cell *matCellDef="let element" class="textSize">
                                <div class="link">{{element.empCode}}</div>
                            </td>
                        </ng-container>
                        <!-- Position Column -->
                        <ng-container matColumnDef="empName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE NAME </th>
                            <td mat-cell *matCellDef="let element" class="textSize">
                                <div class="link">{{element.empName}}</div>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="onlineCourse">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ONLINE COURSES </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row tableRow">
                                    <div class="blueBadge">{{ element.OnlineCompleted }}/{{ element.Online }}</div>
                                    <div class="link cPointer" (click)='getCourseDetails(element, 1)'>View</div>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="classroomCourse">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CLASSROOM COURSES </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row tableRow">
                                    <div [ngClass]="{'greenBadge': element.completedCourse === 7, 'orangeBadge': element.completedCourse != 7 }">
                                        {{ element.ClassroomCompleted }}/{{ element.Classroom }}
                                    </div>
                                    <div class="link cPointer" (click)='getCourseDetails(element, 4)'>View</div>
                                    <!-- <div class="link" href="#" *ngIf="element.completedCourse < 7" (click)='getCourseDetails()'>View</div>  -->
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="completion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPLETION </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row tableRow">
                                    <!-- | number :'3.1-2' -->
                                    <div class="blueBadge">{{element.completion | number :'1.1-2'}}%</div>
                                    <!-- <div class="link" (click)='getCompletionDetails()'>View</div> -->
                                </div>
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="points">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> POINTS </th>
                            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="teamPos">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TEAM POSITION </th>
                                    <td mat-cell *matCellDef="let element"> {{element.teamPos}} </td>
                            </ng-container>

                            <ng-container matColumnDef="overallPos">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> OVERALL POSITION </th>
                                <td mat-cell *matCellDef="let element"> {{element.overallPos}} </td>
                            </ng-container> -->

                        <ng-container matColumnDef="grades">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> LEVEL </th>
                            <td mat-cell *matCellDef="let element"> {{element.grades}} % </td>
                        </ng-container>

                        <ng-container matColumnDef="access">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST ACCESS </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>
                <mat-paginator pageSize="6" hidePageSize></mat-paginator>


            </mat-card>
        </div>


        <!-- <div class="no-data-found" *ngIf="isloaded && noDataFound">
            <div class="message">
                No Data Found
            </div>
        </div> -->

        <!-- <div class="row">
            <mat-card class="mat">
                <div class="form-group">
                <mat-form-field class="inputText" floatLabel="never">
                    <mat-label><i class="fas fa-search marginRight"></i>  Search employee(s) to whom you want to assign courses...</mat-label>
                    <input matInput>
                </mat-form-field>
                </div>
            </mat-card>
        </div>


        <div class="row marginTop30">
            <div class="col-md-4 mTB15" *ngFor="let course of coursesList" >
                <mat-card class="matCardSize" [ngClass]="{'matSelect': course.isSelected}">

                    <button  [ngClass]="course.isSelected==true ? 'checkmark' : 'radiobtn'" (click)="radiofn(course)">
                        <i class="fas fa-check"></i>
                    </button>
                    <div class="imgblockSize">
                        <img mat-card-image src="{{ course.cardImg }}" class="avatar1">
                    </div>
                    <mat-card-title>
                        <div class="row content2">
                            <p class="col-sm-11 padding0">{{ course.content }}</p>
                            <i class="fas fa-bookmark col-sm-1 padding0 bookmark"  [ngClass]="{'active' : course.save}" (click)="togglesave(course)"></i>
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle>{{course.description}}</mat-card-subtitle>

                    <mat-card-content>
                        {{ course.stages }}
                    </mat-card-content>

                </mat-card>
            </div>
        </div> -->
    </div>

    <!-- <div class="stickydiv" *ngIf="selectedCount > 0 ">
        <div class="row">
        <div class="selected">
            {{ selectedCount }}
        </div>
        <div class="div123 col-md-8 stickytxt">
            <h3 class="header3">Courses selected</h3>
        </div>
        <div class="col-md-3">
            <button class="roundedbtn" >Assign</button>
        </div>
        </div>
    </div> -->
</div>

<div class="addSelfBackdrop2" *ngIf="modal">
    <div class="addSelfDemoModal2">
        <div class='closeCourseModal' (click)='closeCompletionModal()'><i class="fa fa-times"></i></div>
        <h1 class="modalheader"> COMPLETION </h1>
        <div class="tableheightcontainer">
            <table mat-table [dataSource]="dataSource2" matSort>
                <ng-container matColumnDef="assessment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSESSMENT </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.assessment}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.total}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="attempted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ATTEMPTED </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.attempted}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="correct">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CORRECT </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.correct}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PERCENTAGE </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.percentage}}%
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCompletion"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCompletion;"></tr>
            </table>
        </div>
    </div>
</div>

<div class="addSelfBackdrop2" *ngIf="modal1">
    <div class="addSelfDemoModal2">
        <div class='closeCourseModal' (click)='closeCourseModal()'><i class="fa fa-times"></i></div>
        <h1 class="modalheader"> {{title}} </h1>
        <div class="tableheightcontainer">
            <table mat-table [dataSource]="dataSource3" matSort>
                <ng-container matColumnDef="courseName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COURSE NAME </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.courseName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.Total}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="completed">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPLETED </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.completed}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PERCENTAGE </th>
                    <td mat-cell *matCellDef="let element" class="textSize">
                        {{element.percentage}}%
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCourses"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCourses;"></tr>
            </table>
        </div>
    </div>
</div>