ngx-team-dashboard{
.navbtngrp{
    margin: 0 auto;
}

// .mainDiv{
    // padding: 2.25rem 2.25rem 0.75rem !important;
// }
.cPointer{
    cursor: pointer;
}
.navigtnbtn{
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #507bfc;
    color: #507bfc;
    width: 220px;
    outline: none;
    height: 45px;
    cursor: pointer;
    outline: none !important;
}

.dashboardbtn{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    outline: none;
    margin: 0px;
}


.teamdashboardbtn{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    outline: none;
    margin: 0px;
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
}

.navTabMarginBottom{
    margin-bottom: 50px;
}

.sliderRowMargin{
    margin-right: auto;
    margin-left: auto;
    //  margin-bottom: 50px;
}

.sectionLft{
    width: 70%;
}

.teamSlider{
    width: 100%;
    margin: 15px 0;
}

.sliderContent{
    box-sizing: border-box;	
    height: 41px;	
    width: 100%;
    max-width: 150px;	
    // border: 1px solid #4D77FF;
    border: 1px solid var(--colorCommon);	
    background: #ffffff;
    border-radius: 100px;	
    // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    display: inline-flex;
}

.sliderLabel{
    color: #464646;	
    font-family: "Open Sans";	
    font-size: 18px;	
    line-height: 19px;	
    text-align: center;
    margin-top: 10px;
    padding-right: 2.5px;
}

.arrowUpDown{
    font-size: 20px;
    // color: #507BFC;
    color: var(--colorIcons);
    line-height: 19px;	
    text-align: center;
    margin-top: 10px;
    padding-left: 2.5px;
}

.txtCentr{
    cursor: pointer;
    margin: auto;
    display: inline-flex;
}

.sectionRght{
    width: 30%;
    text-align: right;
    margin: auto;
}

.slider {
    overflow: auto;
    max-height: 615px; /* approximate max height */
    transition-property: all;
    transition-duration: .75s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.slideClose {
    max-height: 0;
}

.headTxt{
    text-align: center !important;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0 !important;
}


.mat-input-element{
    padding: 4px !important;
}

.head12{
    font-size: 30px;
    font-family: "open sans";
    color: #000;
    margin: 0;
}

.smallbx{
    padding: 15px;
    background: #fff;
    min-width: 150px;
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
}

.floatRight{
    float: right;
}

.para{
    font-size: 16px;
    color: #000;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: "open sans";
}

.para2{
    margin: 0;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
}

.inner-html{
    .showGreen{
        color: green;
    }
    .showRed{
        color: red;
    }
    .showLightRed{
        color: rgba(244, 67, 54, 0.62);
    }
}

.mat{
    width: 100%;
    border-radius: 10px !important;
    padding: 15px 0!important;
}

.sslideCard{
    padding: 0 !important;
}

.header12{
    padding: 20px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* grid-row-gap: 10px; */
    grid-column-gap: 20px;
}

.searchbx{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bebdbd;
    color: #464646;
    font-size: 17px;
    font-family: FontAwesome, "Open Sans";
    width: 100%;
    outline: none;
    line-height: 20px;
}

.inputText{
    width: 100%;
    font-size: 20px;
}

.searchbx::placeholder{
    color: #6d6b6b;
}

table {
    width: 100%;
  }

.link{
    // color: #507bfc !important;
    color: var(--colorCommon);
    // cursor: pointer;
    // text-align: center;
    img {
        width: 40px;
    }
}

.tableimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.textSize{
    font-size: 18px;
}

.mat-header-cell {
    font-size: 16px;
}

.mat-paginator-navigation-previous {
    padding: 0;
    min-width: 0;
    width: 40px;
    border: 1px solid var(--colorCommon) !important;
    font-size: 0px;
    height: 40px;
    color: var(--colorCommon) !important;
    flex-shrink: 0;
    margin-left: -3px !important;
    line-height: 40px;
    border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    outline: none !important;
}

.mat-paginator-navigation-next{
    padding: 0;
    min-width: 0;
    width: 40px;
    border: 1px solid var(--colorCommon) !important;
    font-size: 0px;
    height: 40px;
    color: var(--colorCommon) !important;
    flex-shrink: 0;
    margin-left: -1px !important;
    line-height: 40px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 8px !important;
    border-top-right-radius: 8px !important;
    outline: none !important;
}

tr.mat-footer-row, tr.mat-row {
    height: 80px !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border: none !important; 
}

.mat-row:nth-child(odd) {
    background-color: #4646460f;
}

.mat-paginator-container{
    padding: 0 45px !important;
}

.mat-paginator-range-label {
    font-size: 14px !important;
    color: #4b4a4a !important;
}

.tableRow{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.table-container-div{
    width: 100%;
    overflow-x: scroll;
}
.blueBadge{
    width: 65px;
    margin-right: 20px;
    height: 30px;
    // background: #507bfc;
    background: var(--colorCommon);
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-family: "open sans";
}

.greenBadge{
    border-radius: 5px;
    margin-right: 20px;
    background-color: #3ECF9C;
    box-shadow: 0 2px 16px 0 rgba(47,83,151,0.1);
    height: 30px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    color: var(--white-color);
    font-size: 16px;
    font-family: "open sans";
}

.orangeBadge{
    width: 65px;
    height: 30px;
    color: var(--white-color);
    background-color: #FEA08F;
    font-size: 16px;
    text-align: center;
    margin-right: 20px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 16px 0 rgba(47,83,151,0.1);
    font-family: "open sans";
}

.mTB15{
    margin: 15px 0px;
}

.stickytxt{
    padding: 0;
    margin: 0;
}

.matCardSize{
    min-height: 445px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.marginTop30{
    margin-top: 30px;
}

.padding0{
    padding: 0 !important;
}



.imgblockSize{
    width: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.marginRight{
    margin-right: 20px;
}

.checkmark{
    position: absolute;
    float: right;
    top: -20px;
    padding: 8px 10px;
    right: -10px;
    font-size: 24px;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
    background: #507bfc;
    color: #fff;
    outline: none !important;
    border: none;
}

.matCardSize.matSelect{
    opacity: 0.4;
    background: #507bfc47;
}

.radiobtn{
    position: absolute;
    float: right;
    top: -20px;
    padding: 8px 10px;
    right: -10px;
    background: #c3bcbc;
    font-size: 24px;
    color: #fff;
    z-index: 999;
    border: 2px solid;
    border-radius: 50%;
    outline: none !important;
    cursor: pointer;
}

.inputText{
    width: 100%;
    font-size: 20px;
    padding: 0 40px;
}


.matForm{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

.content2{
    padding: 0 15px;
}

.bookmark.active{
	color: #507bfc;
}

.bookmark{
    text-align: center;
    padding-top: 6px;
}

.stickydiv{
    position: sticky;
    bottom: 0;
    margin: 0;
    background-color: #fff;
    padding: 20px;
    font-family: "open sans";
    color: #525151;
    width: 100%;
    z-index: 99999;
}

.selected{
    margin: 0 15px;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 50%;
    color: #9e7272;
    background: #f9d18b;
}

.header3{
    margin: 0;
    font-size: 22px;
    line-height: 40px;
    font-family: "open sans";
    color: #823012;
}

// .div123{
//     margin: 0 20px;
// }

.roundedbtn{
    border: none;
    color: #fff;
    background: #507bfc;
    padding: 10px 40px;
    font-size: 20px;
    font-family: "open sans";
    border-radius: 25px;
    float: right;
    outline: none;
}

.inputbx::before{
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}

}

.addSelfBackdrop2{		
	position: fixed;		
	 width: 100%;		
	 height: 100%;		
	 top: 0px;		
	 left: 0px;		
	 z-index: 1503;		
	 background-color: #40404075;		
	.addSelfDemoModal2{		
		width: 40%;		
		margin: auto;		
		background-color: #fff;		
		border-radius: 5px;		
		margin-top: 5%;		
        padding: 20px;	
        
        .tableheightcontainer{
            height: 500px;
            overflow-y: scroll;
        }	
	}		
}		
.modalheader{		
	font-family: "Open sans";		
	text-align: center;		
	width: 100%;		
}

.closeCourseModal{
    float: right;
    color: #000;
    cursor: pointer;
}

.faCC{
    font-size:32px;
    color:greenyellow;
    margin-right: 2.5px;
}

.faCT{
    font-size:32px;
    color:red;
    margin-left: 2.5px;
}

.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 10px;
    /* overflow: hidden; */
    /* margin-left: 25px; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
}

.select-style select {
   
    padding: 10px 8px;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-size: 17px;
}

.select-style select:focus {
    outline: none;
}

.faSize{
    font-size: 24px;
}

.dropDownIcon{
    padding: 8px 0px;
    position: absolute;
    right: 10px;
    z-index: 10;
}

.disableClick{
    pointer-events: none;
    cursor: not-allowed;
}

// Skelton

.item {
    width: auto;
    height: auto;
    margin: 10px auto;
    border: 1px solid #eaeaea;
    padding: 10px;
  }
  
  .fb-item {
    width: auto;
    height: auto;
    margin: 10px auto;
    // border: 1px solid #eaeaea;
    padding: 10px;
    background: #FFF;
    border-radius: 10px;
  }
  
  .gravatar {
    width: 100px;
    height: 70px;
  }
  .gravatar-title {
    width: 500px;
    padding: 10px;
    height: 70px;
  }
  
  .first-section-wrapper,
  .second-section-wrapper {
    width: 100%;
    height: auto;
    flex: 1;
  }
  
  .first-section-wrapper {
    display: inline-flex;
  }
  
  .second-section-wrapper {
    margin-top: 30px;
  }
  
  .wrapper {
    width: 100%;
    flex: 1;
  }
  
  .item-with-background {
    background: #FF0001;
    padding: 10px;
  }
  
  .loader {
    line-height: 1;
    box-sizing: border-box;
    background-repeat: no-repeat;	  background: rgb(239, 241, 246) no-repeat;
    background-color: rgb(239, 241, 246);	
    line-height: 1;	
    overflow: hidden;	
    position: relative;
  }