<!-- <div class="no-data text-center mt-5">
    <img src="../../assets/no-data.svg" alt="no-data">
    <a href="#" class="d-block pb-4">Lorem Ipsum is simply dummy text of the printing</a>
    <button class="learnBtn">Learn More 
        <i class="fas fa-chevron-right"></i>
    </button>
</div> -->

<div class="no-data text-center mt-5">
    <img [src]="image" *ngIf="image !== ''" alt="no-data">
    <h1 *ngIf="title">{{title}}</h1>
    <p *ngIf="discription"> {{discription}}</p>
</div>