.checkboxDiv {
    display: block;
    position: relative;
    min-height: 1.3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkboxDiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 17px;
    width: 17px;
    z-index: 1;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    height: 17px;
    width: 17px;
    border-radius: 0.25em;
  }
  
  .checkboxDiv:hover input ~ .checkmark {
    background-color: #f2f3f4;
  }
  
  .checkboxDiv input:checked ~ .checkmark {
    border-color: #007bff;
    background-color: #007bff;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxDiv input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkboxDiv .checkmark:after {
    left: 5px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }