@import "../../@theme/styles/variable.scss";
ngx-login{
    .login_container{
        height: 100vh;
        display: flex;
        overflow: auto;
        .left_container{
            // background-color: #507bfc;
            flex: 0 0 35%;
            align-items: center;
            display: flex;
            justify-content: center;
            background: url('../../../assets/images/ILLUME-signin.jpg');
            background-position: center;
            background-size: cover;
            &__text{
                color: #FFFFFF;
                // font-family: 'Open Sans', sans-serif;
                font-size: 50px ;
                font-weight: 100;
                /* line-height: 94px; */
                text-align: center;
                margin: 0;	   
                margin-bottom: 0;
            }
        }
        .right_container{
            // background-color: #507bfc;
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            .content_text{
                font-size: 17px;
    
            }
            .logo_container{
                // margin-top: -20px;
                width: 100%;
                .companyLogo{
                    width: 160px;
                    height: auto;
                    display: block;
                    margin-left: auto;
                    margin-right: 30px;
                }
            }
            .list_container{
                // padding: 0 70px;
                width: 70%;
                // margin-top: -10px;
                // width: 100%;
                .tabs-new-updated{
                    margin: 20px auto 0 auto;
                    display: grid;
                    grid-template-columns: repeat( auto-fit, minmax(100px, 150px) );
                    row-gap: 15px;
                    column-gap: 15px;
                    justify-content: center;
                    .tabs_button{
                          // width: 100%;
                        border: none;
                        min-height: 45px;
                        // padding: 10px 40px;
                    
                        background-color: #507BFC;
                        color: #fff;
                        // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
                        border-radius: 100px;
                        cursor: pointer;		   
                        // &:not(:last-child){
                        //     margin-right: 10px;
                        //     margin-bottom: 10px;
                        // }    
                    }
                    
                    
                }
               
            }
            .form_container{
                margin-top: 15px;
                .form_fields{
                    margin-top: 20px;
                }
                .form_fields_checkbox{
                    margin-top: 25px;
                    // margin: 0;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                mat-form-field{
                    width: 100%;
                }
                &_submit{
                    margin-top: 20px;
                }
                .already-have-an-acco {
                    // margin-left: 2%;
                    height: 19px;	
                    width: 215px;	
                    color: #507BFC;	
                    font-family: "Roboto";	
                    font-size: 14px;	
                    font-weight: 600;	
                    line-height: 19px;
                    text-align: right;
                    // float: right;
                    cursor: pointer;
                }
            }
            
            .signUpBtn{
                    
                // width: 100%;
                border: none;
                min-height: 45px;
                padding: 10px 40px;
                border: 1px solid #507BFC;
                background-color: #507BFC;
                color: #FFFFFF;
                // box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
                border-radius: 100px;
                cursor: pointer;		   
                // &:not(:last-child){
                //     margin-right: 10px;
                //     margin-bottom: 10px;
                // }    
            }
        }
    
        @media only screen and (max-width: 800px) {
          flex-direction: column;
          .left_container{
            background-color: #507bfc;
            flex: 1;
            // height: 50px;
            align-items: center;
            &__text{
                font-size: 30px ;
               line-height: 4;
            }
        }
        .right_container{
            // background-color: #507bfc;
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .content_text{
                font-size: 17px;
            }
            .logo_container{
                margin: 15px auto;
                .companyLogo{
                    // width: 160px;
                    // height: auto;
                    // display: block;
                    margin: 0 auto;
                    // margin-right: 30px;
                }
            }
            .list_container{
                // padding: 0 70px;
                width: 80%;
            }
            .footer_container{
                align-self: flex-end;
            }
        
        }
        }
    
        @media only screen and (max-width: 400px) {
    
            .left_container{
                margin-top: 0px;
              &__text{
                  font-size: 30px ;
                 line-height: 2;
              }
          }
        }

        @media only screen and (max-height: 400px) {
    
            .left_container{
                margin-top: 0px;
          }
        }
    }
    .popup-modal-window{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 1;
    
        .popDiv{
            transition:ease 0.75s all;
            -webkit-transform:translate(50%, -50%);
            margin: auto;
            opacity: 0;
            width: 500px;
            // height: 200px;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            position: absolute;
            z-index: 2;
            background: white;
            text-align: center;
            border-radius: 6px;
            .model-header{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid #e9ecef;
                border-top-left-radius: .3rem;
                border-top-right-radius: .3rem;
            
            }
            .modal-title{
                width: 100%;
                color: #000;
            }
            .modal-body{
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 1rem;
            }
            .modal-footer {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: center;
                padding: 1rem;
                border-top: 1px solid #e9ecef;
        }
        }
        .show-popup-container{
            opacity: 1;
        }
    
    }
}
