@import "../../@theme/styles/variable.scss";
ngx-read-more {
    .read_more{
        font-size: 14px;
        color: #000;
        div{
            margin-bottom: 5px;
        }
        .hidden{
            display: none;
        }
        .button_read{
            cursor: pointer;
            // color: #475edc;
            color: var(--colorCommon);
            font-size: 14px;
        }
    }
   
}