 <!-- *ngIf="!noParticipants" -->
 <div >
  <mat-card class="participantCard">
      <!-- <div class="row header167">
          <div class="col-12">
              <input type="text" class="searchin" placeholder="&#xf002;   Search" [(ngModel)]="person">
          </div>
      </div> -->
      <table mat-table [dataSource]="participants" *ngIf="displayedColumns.length !=0" class="participants-table">

      <!-- <ng-container matColumnDef="User Profile">
              <th mat-header-cell *matHeaderCellDef> User profile </th>
              <td mat-cell *matCellDef="let element">

                <img src="{{element.picture_url ? element.picture_url : '../../../../assets/images/user.png' }}" alt="" class="profile_img">
              </td>
      </ng-container> -->

        <!-- <ng-container >
          <th mat-header-cell *matHeaderCellDef> ECN No. </th>
          <td mat-cell *matCellDef="let element"> {{element ['Ecn No.']}} </td>
        </ng-container> -->
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef [ngClass]="getClassList(column)">
             {{column}}
           </th>
          <td mat-cell *matCellDef="let element" [ngClass]="getClassList(column)">
            <span *ngIf="column !== 'User Profile'">{{element[column]}}</span>

            <img  *ngIf="column == 'User Profile'" src="{{element['User Profile'] ? element['User Profile'] : '../../../../assets/images/user.png' }}" alt="" class="profile_img">
           </td>
        </ng-container>

        <!-- <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Participant Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef> Contact No. </th>
          <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email Id </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef> Designation </th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
        </ng-container> -->
        <!-- <ng-container matColumnDef="step_3">
            <th mat-header-cell *matHeaderCellDef> Evalution </th>
            <td mat-cell *matCellDef="let element"> {{element.step_3}} </td>
        </ng-container>
        <ng-container matColumnDef="step_8">
            <th mat-header-cell *matHeaderCellDef> Viva </th>
            <td mat-cell *matCellDef="let element"> {{element.step_8}} </td>
        </ng-container>
        <ng-container matColumnDef="step_6">
            <th mat-header-cell *matHeaderCellDef>FG Assessment</th>
            <td mat-cell *matCellDef="let element"> {{element.step_6}} </td>
        </ng-container> -->
        <!-- <ng-container matColumnDef="step_7">
            <th mat-header-cell *matHeaderCellDef> Knowledge </th>
            <td mat-cell *matCellDef="let element"> {{element.step_7}} </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="step_10">
            <th mat-header-cell *matHeaderCellDef> Mock 1 </th>
            <td mat-cell *matCellDef="let element"> {{element.step_10}} </td>
        </ng-container>
        <ng-container matColumnDef="step_14">
          <th mat-header-cell *matHeaderCellDef> Mock 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.step_14}} </td>
      </ng-container>
        <ng-container matColumnDef="step_11">
            <th mat-header-cell *matHeaderCellDef> Assessment 1</th>
            <td mat-cell *matCellDef="let element"> {{element.step_11}} </td>
        </ng-container>

        <ng-container matColumnDef="step_15">
          <th mat-header-cell *matHeaderCellDef> Assessment 2</th>
          <td mat-cell *matCellDef="let element"> {{element.step_15}} </td>
      </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </table>

  </mat-card>
</div>

<!-- <div *ngIf="noParticipants">
  <div class="NoDataDiv">
    <p>  No Participants Found.</p>

  </div>
</div> -->
