ttt-participants-list {
    .participantCard {
        padding: 0;
        overflow: auto;
    }
    .profile_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    table {
        width: 100%;
        font-family: "open sans" !important;
    }
    th.mat-header-cell {
        // text-align: center !important;
        font-size: 16px !important;
        color: #000;
        width:80px
    }
    .mat-cell {
        font-size: 16px !important;
        // text-align: center !important;
        // text-align: right;
    }
    .mat-paginator-navigation-previous {
        padding: 0;
        min-width: 0;
        width: 40px;
        border: 1px solid #507bfc !important;
        font-size: 0px;
        height: 40px;
        color: #507bfc !important;
        flex-shrink: 0;
        margin-left: -3px !important;
        line-height: 40px;
        border-bottom-left-radius: 8px !important;
        border-top-left-radius: 8px !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        outline: none !important;
    }
    .mat-paginator-navigation-next {
        padding: 0;
        min-width: 0;
        width: 40px;
        border: 1px solid #507bfc !important;
        font-size: 0px;
        height: 40px;
        color: #507bfc !important;
        flex-shrink: 0;
        margin-left: -1px !important;
        line-height: 40px;
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 8px !important;
        border-top-right-radius: 8px !important;
        outline: none !important;
    }
    tr.mat-header-row {
        height: 60px !important;
        text-transform: uppercase;
    }
    .mat-tab-header-pagination-before,
    .mat-tab-header-rtl .mat-tab-header-pagination-after {
        visibility: hidden;
    }
    tr.mat-footer-row,
    tr.mat-row {
        height: 60px !important;
    }
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        padding: 0;
        border: none !important;
        text-align: center !important;
    }
    .mat-row:nth-child(odd) {
        background-color: #f3f2f2 !important;
    }
    .mat-paginator-container {
        padding: 0 45px !important;
    }
    .mat-paginator-range-label {
        font-size: 14px !important;
        color: #4b4a4a !important;
    }
}