<!-- <iframe style="height: 60vh; width:100%;display: block;" #iframe [src]="pdfSrc | safePipePipe"></iframe> -->
<!-- <iframe style="height: 60vh; width:100%;display: block;" #iframe [src]="documentref | safePipePipe"></iframe> -->
<div class="show-Content-Center " *ngIf="!isLoaded">
  <mat-spinner ></mat-spinner>
</div>

<div *ngIf="isLoaded" class="h-100">
  <!-- {{pdfSrc}} -->
    <iframe   id="pdf-viewer" [Load]= "iframeLoaded()" [ngClass]="{'full-screen-iframe': windowFullScreen}" #iframe [src]="pdfSrc | safe: 'resourceUrl'"></iframe>
</div>

  <!-- <mat-spinner *ngIf="!isLoaded"></mat-spinner>
  <input
  (change)="onFileSelected()"
  type="file"
  id="file"
  class="d-none"
  accept=".pdf"
/>
<div class="toolbar d-flex">

  <span
    class="my-icon"
    [inlineSVG]="'../../../assets/icon/baseline-open_in_browser-24px.svg'"
    (click)="openLocalFile()"
    title="Open File"
  ></span>
  <span
    class="my-icon"
    [ngClass]="{ active: isOutlineShown }"
    [inlineSVG]="'../../../assets/icon/baseline-toc-24px.svg'"
    (click)="toggleOutline()"
    title="Toggle Outline"
  ></span>
  <span
    class="my-icon"
    [inlineSVG]="'../../../assets/icon/baseline-rotate_left-24px.svg'"
    (click)="rotate(-90)"
    title="Rotate Left"
  ></span>
  <span
    class="my-icon"
    [inlineSVG]="'../assets/icon/baseline-rotate_right-24px.svg'"
    (click)="rotate(90)"
    title="Rotate Right"
  ></span>
  <span
    class="my-icon"
    [inlineSVG]="'../../../assets/icon/baseline-zoom_in-24px.svg'"
    (click)="incrementZoom(0.1)"
    title="Zoom In"
  ></span>
  <span
    class="my-icon"
    [inlineSVG]="'../assets/icon/baseline-zoom_out-24px.svg'"
    (click)="incrementZoom(-0.1)"
    title="Zoom Out"
  ></span>
  <span
    class="my-icon"
    [ngClass]="{ active: fitToPage }"
    [inlineSVG]="'../../../assets/icon/baseline-insert_drive_file-24px.svg'"
    (click)="fitToPage = !fitToPage"
    title="Toggle Fit Page"
  ></span>
  <span
    class="my-icon"
    [ngClass]="{ active: showAll }"
    [inlineSVG]="'../../../assets/icon/baseline-multi-pages-24px.svg'"
    (click)="showAll = !showAll"
    title="Toggle Show All"
  ></span>

  <ng-container *ngIf="!showAll">
    <span
      class="my-icon ml-auto"
      [inlineSVG]="'../../../assets/icon/baseline-navigate_before-24px.svg'"
      (click)="incrementPage(-1)"
      title="Previous Page"
    ></span>
    <div>
      <input
        type="number"
        class="page-num"
        placeholder="Page"
        [(ngModel)]="page"
        pattern="-?[0-9]*(\.[0-9]+)?"
      />
      <span *ngIf="pdf">of {{ pdf.numPages }}</span>
    </div>
    <span
      class="my-icon"
      [inlineSVG]="'../../../assets/icon/baseline-navigate_next-24px.svg'"
      (click)="incrementPage(1)"
      title="Next Page"
    ></span>
  </ng-container>

  <label
    class="my-icon ml-auto"
    [inlineSVG]="'../../../assets/icon/baseline-search-24px.svg'"
    for="searchbox"
    title="Search.."
  ></label>
  <input *ngIf="documentflag"
    #queryInp
    type="text"
    id="searchbox"
    name="searchbox"
    class="searchbox mr-5 form-control"
    placeholder="Search..."
    [value]="pdfQuery"
    (input)="searchQueryChanged($event.target.value)"
    (keyup.enter)="searchQueryChanged(queryInp.value)"
  />
</div>
<div class="pdf-body">
  <div *ngIf="isOutlineShown" class="outline">
    <ul *ngFor="let item of outline" class="outline-list">
      <li>
        <a (click)="navigateTo(item.dest)"> {{ item.title }} </a>

        <ul *ngFor="let child of item.items">
          <li>
            <a (click)="navigateTo(child.dest)"> {{ child.title }} </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="!isLoaded && !error && progressData" id="progress">
    <div class="bg">
      <div
        class="bar"
        [style.width]="(progressData.loaded / progressData.total) * 100 + '%'"
      ></div>
    </div>
    <span>{{ getInt((progressData.loaded / progressData.total) * 100) }}%</span>
  </div> -->

<!-- <div *ngIf="documentflag"> -->
    <!-- <ngx-extended-pdf-viewer [src]="pdfSrc"
    backgroundColor="#ffffff"
    [height]="'90vh'"
    [useBrowserLocale]="true">
  </ngx-extended-pdf-viewer> -->
    <!-- <pdf-viewer
    [src]="pdfSrc"
    [(page)]="page"
    [rotation]="rotation"
    [original-size]="originalSize"
    [fit-to-page]="fitToPage"
    (after-load-complete)="afterLoadComplete($event)"
    [zoom]="zoom"
    [show-all]="showAll"
    [stick-to-page]="stickToPage"
    [render-text]="renderText"
    [external-link-target]="'blank'"
    [autoresize]="autoresize"
    (error)="onError($event)"
    (on-progress)="onProgress($event)"
    (page-rendered)="pageRendered($event)"
  ></pdf-viewer> -->
<!-- </div>
  ></pdf-viewer>
</div> -->
