iframe {
  width: 100%;
  height: 72vh;
  display: block;
}
.full-screen-iframe {
  height: 100vh !important;
}
.show-Content-Center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
