@import './@theme/styles/variable.scss';

.popup-modal-window{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	z-index: 5;

	.popDiv{
		transition:ease 0.75s all;
		-webkit-transform:translate(50%, -50%);
		margin: auto;
		opacity: 0;
		width: 500px;
		// height: 200px;
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		position: absolute;
		// z-index: 2;
		background: white;
		text-align: center;
		border-radius: 6px;
		.model-header{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 1rem;
			border-bottom: 1px solid #e9ecef;
			border-top-left-radius: .3rem;
			border-top-right-radius: .3rem;
		
		}
		.modal-title{
			width: 100%;
			color: #000;
		}
		.modal-body{
			position: relative;
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 1rem;
		}
		.modal-footer {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: center;
			padding: 1rem;
			border-top: 1px solid #e9ecef;
	}
	}
	.show-popup-container{
		opacity: 1;
	}

}
