<router-outlet>
    <ngx-spinner bdOpacity=0.2 bdColor="#333" size="medium" color="#fff" type="line-scale-pulse-out-rapid"
        fullScreen="true">
        <!-- <p style="color: white"> Loading... </p> -->
    </ngx-spinner>
     
<div class="popup-modal-window" *ngIf="isError">
    <div class="popDiv show" [ngClass]="{'show-popup-container': true}">
        <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Login Info</h5> 
        </div>
        <div class="modal-body">
            <p>{{errorMsg}}</p>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Okay</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
    </div>
</div>

</router-outlet>