<div class="page_top_grid">
    <div>
        <!-- <button class="downloadbtn" (click)="back()">
          <i class="fas fa-sync"></i>
        </button> -->
        <button class="back" (click)="back()"><i class="fas fa-angle-left"></i></button>
    </div>
    <div class="title">
        <!-- <p class="titlePara">{{workflowData.wname}} | {{workflowData.courseCount}} courses.</p> -->
        <!-- <p class="description">Batches Conducted</p> -->
    </div>
</div>

<mat-card class="bookCard">
  <div class="wrapItems" *ngIf = "abc">
    <div class="bookingTable slot" *ngIf="listPreapred.length != 0">
        <div class="slotContent" >
            Sr No.
          </div>
          <div class="slotContent">
            Call Date
          </div>
          <div class="slotContent" >
            Call Start Time
          </div>
          <div class="slotContent">
            Call End Time
          </div>
          <div class="bookbtn">
            Book status
          </div>
    </div>
   <!--  -->
   <!-- [hidden]="item.employeeId" -->
    <div class="bookingTable slot"  *ngFor="let item of listPreapred, let i = index">
      <!-- <div *ngIf="!item.employeeId"> -->
      <!-- <div class="slotContent">
        <p class="para">{{ item.id }}</p>
      </div>


      <div class="slotContent">
        <p class="para">{{ item.data }}</p>
      </div>


      <div class="slotContent">
        <p class="datePara">Will be available from {{ item.StartDate }} till {{ item.EndDate }} on {{ item.callTime }}</p>
      </div> -->

      <div class="slotContent">
        <p class="para">{{i+ 1}}</p>
      </div>


      <div class="slotContent">
        <p class="para">{{ item.callDate }}</p>
      </div>


      <div class="slotContent">
        <p class="para">{{ item.callStartTime }}</p>
      </div>


      <div class="slotContent">
        <p class="para">{{ item.callEndTime }}</p>
      </div>


      <!-- <div class="slotContent">
        <p class="datePara">Will be available from {{ item.StartDate }} till {{ item.EndDate }} on {{ item.callTime }}</p>
      </div> -->


      <div class="bookbtn">
        <button class="book" *ngIf="!item.employeeId" (click)="bookevent(item)">Book</button>
        <p class="bookstatus" *ngIf="item.employeeId">This slot has already booked</p>
      </div>
    </div>

    <div class="no_slots_available" *ngIf="listPreapred.length == 0">
      Slots are not available at this time
    </div>
    </div>
  <!-- </div> -->

  <div class="wrapItems" *ngIf = "xyz">
        <div class="bookingTable slot" *ngIf="listPreapred.length != 0">
          <div class="slotContent" >
              Sr No.
            </div>
            <div class="slotContent">
             Batch Name
            </div>
            <div class="slotContent" >
             Batch Time
            </div>
            <div class="slotContent">
              
            </div>
            <!-- <div class="bookbtn">
              Book status
            </div> -->
      </div>
      <div *ngIf="batcheslist.length != 0">
        <div class="bookingTable confirm_batch" *ngFor="let item of batcheslist;let i = index ">

          <div class="slotContent">
            <p class="para">{{i+ 1}}</p>
          </div>


          <div class="slotContent">
            <!-- <p class="para">{{ item.data }}</p> -->
            <p class="para">{{item.fullname}}</p>
          </div>


          <div class="slotContent">
            <p class="datePara">Will be available from {{ item.startDate }} till {{ item.endDate }}</p>
          </div>


          <div class="bookbtn">
            <button class="book" (click)="confirmbatch(item)">Confirm Batch</button>
            <!-- <p class="bookstatus" >This slot has already booked</p> -->
          </div>
        </div>
      </div>

      <div class="no_slots_available" *ngIf="batcheslist.length == 0">
        Batches are not available at this time.
     </div>
    </div>

</mat-card>

<div class="popup-modal-window" *ngIf="accomodation">
    <div class="popDiv show" [ngClass]="{'show-popup-container': isError}">
        <div class="modal-header crossed_sign">
                <!-- <h5 class="modal-title" id="exampleModalLiveLabel">{{title}}</h5> -->
                <span (click)="closemodel()"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="modal-body">
            <!-- <p>{{errorMsg}}</p> -->

            <div class="row">

              <p class="mod"><mat-checkbox [(ngModel)]="accomodationRequired">Is accomodation required?</mat-checkbox></p>

            </div>
            <div *ngIf="accomodationRequired">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="usr">Checkin Date:</label>
                    <input type="text" [(ngModel)]="checkInDate"   [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="form-control">
                    <owl-date-time  #dt1></owl-date-time>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="usr">Checkout Date:</label>
                    <input type="text" [(ngModel)]="checkOutDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" class="form-control">
                    <owl-date-time #dt2></owl-date-time>
                  </div>
                </div>
              </div>
            </div>



        </div>
        <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirm('yes')">YES</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirm()">
                    <span *ngIf="accomodationRequired">YES </span>
                    <span *ngIf="!accomodationRequired">NO </span>
                </button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        <div>

        </div>
    </div>
</div>
