ngx-ttt-book-slots{
  .back{
    width: 40px;
    height: 40px;
    border: 2px solid #507BFC;
    color: #507BFC;
    background: transparent;
    font-size: 26px;
    border-radius: 50%;
}
  .crossed_sign{
    text-align: right;
    display: block;
  }
  .no_slots_available{
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .page_top_grid {
    display: grid;
    grid-template-columns: 70px 6fr;
    margin: 0;
    height: 60px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    align-items: center;
    height: 100%;
    margin-bottom: 50px;
    .downloadbtn {
        background: #507BFC;
        border: none;
        font-size: 22px;
        color: #fff;
        // border: 2px solid;
        height: 50px;
        width: 53px;
        text-align: center;
        // line-height: 50px;
        padding: 0;
        margin: auto;
        border-radius: 25px;
        cursor: pointer;
        outline: none;
        box-shadow: 4px 7px 16px 0 #0796d685;
    }

}

.bookCard{
    // background-image: url('assets/images/background.png');
    width: 100%;
    background-repeat: no-repeat;
    padding: 10px 30px;
    .wrapItems{
        // display: grid;
        // grid-row-gap: 20px;

    .bookingTable{
        display: grid;
        // grid-template-columns: 0.2fr 1.5fr 1.5fr 1fr ;
        align-items: center;
        /* grid-column-gap: 20px; */
        height: 70px;
        text-align: center;
        border-bottom: 1px solid #ece0e0;

        .slotContent{
            margin: auto 0;
            .para{
                margin: 0;
                line-height: 20px;
                font-size: 18px;
                color: #4c4f58;
            }
            .datePara{
                font-size: 16px;
                text-align: center;
                line-height: 25px;
                margin: auto;
            }
        }

        .bookbtn{
            margin: auto;
            .book{
                background: #507BFC;
                border: none;
                color: #fff;
                padding: 10px 30px;
                width: auto;
                border-radius: 25px;
                text-transform: capitalize;
                cursor: pointer;
                box-shadow: 1px 2px 7px #ccc;
            }
            .bookstatus{
                margin: auto;
                font-size: 18px;
                color: #ff7f7f;
                text-align: center;
            }
        }
    }
    .slot{
      grid-template-columns: 0.2fr 1.5fr 1.5fr 1fr 1fr;
    }
    .confirm_batch{
      grid-template-columns: 0.2fr 1.5fr 1.5fr 1fr ;
    }
}
}

.bookingTable:last-child{
    border-bottom: none !important;
}


.popup-modal-window {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;

    .popDiv {
      // .model-header {
      //   // display: -webkit-box;
      //   // display: -ms-flexbox;
      //   display: flex;
      //   // -webkit-box-align: end;
      //   // -ms-flex-align: end;
      //   align-items: flex-end;
      //   // -webkit-box-pack: end;
      //   // -ms-flex-pack: justify;
      //   justify-items: flex-end;
      //   justify-content: flex-end;
      //   padding: 1rem;
      //   border-bottom: 1px solid #e9ecef;
      //   border-top-left-radius: 0.3rem;
      //   border-top-right-radius: 0.3rem;
      // }
      transition: ease 0.75s all;
      -webkit-transform: translate(50%, -50%);
      margin: auto;
      //   opacity: 0;
      width: 500px;
      // height: 200px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      z-index: 2;
      background: white;
      text-align: center;
      border-radius: 6px;

      .modal-title {
        width: 100%;
        color: #000;
      }
      .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
        .mod{
            width: 100%;
            font-size: 20px;
            width: 100;
            color: black;
        }
      }
      .modal-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: center;
        padding: 1rem;
        border-top: 1px solid #e9ecef;
      }
    }
    .show-popup-container {
      opacity: 1;
    }
  }
}
