// ngx-add-pathway{}

.mainDiv{
    padding: 2.25rem 2.25rem 0.75rem !important;
}

.labelsize{
    font-size: 20px;
    width: 100%;
    font-family: "Open sans";
}

.addpathwaydivs{
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #525151;
    font-family: "Open sans" !important;
    margin-bottom: 30px;
}

.radiospace{
    margin-top: 20px;
    margin-right: 100px;
}

.serchicon{
    margin-right: 10px;
    font-size: 16px;
}

.btngroup{
    float: right;
}

.modalbtns{
    width: 280px;
    margin: 25px auto;
}

.outlinebtn{
    height: 40px;
    width: 122px;
    border: 1px solid #507bfc;
    border-radius: 100px;
    font-size: 18px;
    color: #507bfc;
    cursor: pointer;
    background: transparent;
    -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    box-shadow: 7px 9px 20px -5px rgba(80, 123, 252, 0.5);
}

.filledbtn{
    height: 40px;
    width: 122px;
    border: none;
    border-radius: 100px;
    background-color: #507BFC;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
    font-size: 18px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    box-shadow: 7px 9px 20px -5px rgba(80, 123, 252, 0.5);
}

.navbtns{
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #507bfc;
    color: #507bfc;
    width: 180px;
}

.firstbtn{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    margin: -2px;
}

.firstbtn.active{
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    transition: 0.5s ease-in;
}

.lastbtn{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin: -2px;
}

.lastbtn.active{
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    transition: 0.5s ease-in;
}

.second.active{
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    transition: 0.5s ease-in;
}

.width100{
    width: 100%;
}

// .box123

.radiobtn{
    position: absolute;
    float: right;
    top: -20px;
    padding: 8px 10px;
    right: -10px;
    background: #c3bcbc;
    font-size: 24px;
    color: #fff;
    z-index: 999;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    float: right;
    top: -20px;
    padding: 8px 10px;
    right: -10px;
    font-size: 24px;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
    background: #507bfc;
    color: #fff;
    border: none;
}

.legenddiv{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    text-align: center;
    width: 200px;
    padding: 7px 0;
    background: #f9bc7c;
    color: #fff;
    border-bottom-left-radius: 15px;
}
.mTB15{
    margin: 15px 0px;
}
.box123{
    margin: 0 auto;
    flex: 0 0 23%;
    margin-bottom:2%;
}

.bookmark.active{
	color: #507bfc;
}

.avatar{
    width: calc(100% + 32px) !important;
    margin: -16px -16px 16px -16px !important;
    height: 200px;
}

.content2{
    padding: 0 15px;
}

.padding0{
    padding: 0;
}

.bookmark{
    text-align: center;
    padding-top: 6px;
}

.stickydiv{
    position: sticky;
    bottom: 0;
    margin: 0;
    background-color: #fff;
    padding: 20px;
    font-family: "open sans";
    color: #525151;
    width: 100%;
    z-index: 99999;
}

.selected{
    margin: 0 15px;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 50%;
    color: #9e7272;
    background: #f9d18b;
}

.header3{
    margin: 0;
    font-size: 22px;
    line-height: 40px;
    font-family: "open sans";
    color: #823012;
}

.div123{
    margin: 0 20px;
}

.roundedbtn{
    border: none;
    color: #fff;
    background: #507bfc;
    padding: 10px 40px;
    font-size: 20px;
    font-family: "open sans";
    border-radius: 25px;
    float: right;
}

button:focus {
    outline:0;
}