<div class='mainDiv'>
	<div class="container">
		<div class="addpathwaydivs">
			<form class="col-md-12">
				<div class="row">
					<div class="form-group col-md-12">
						<label class="labelsize">Give your Pathway a name </label>
						<mat-form-field style="width: 100%" floatLabel="never">
							<mat-label>I want to call it</mat-label>
							<input matInput>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="labelsize">Add Description </label>
						<mat-form-field style="width: 100%" floatLabel="never">
							<mat-label>Describe what your pathway is about</mat-label>
							<input matInput>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="labelsize">Visibility</label>

						<mat-radio-group>
							<mat-radio-button value="Public" color="primary" class="mat-primary radiospace">Public
							</mat-radio-button>
							<mat-radio-button value="Private" color="primary" class="mat-primary radiospace">Private
							</mat-radio-button>
						</mat-radio-group>

					</div>
				</div>
			</form>
		</div>

		<div class="addpathwaydivs">
			<div class="col-md-12">
				<div class="row form-group">
					<h1 class="labelsize">Choose items/courses that you want in your Pathway</h1>
				</div>

				<div class="row">
					<div class="col-md-6 form-group width100">
						<mat-form-field style="width: 100%" floatLabel="never">
							<mat-label> <i class="fas fa-search serchicon"></i> Search tags</mat-label>
							<input matInput>
						</mat-form-field>
					</div>
					<div class="col-md-6 form-group width100">
						<div class="btngroup">
							<button class="navbtns firstbtn" [ngClass]="{'active' : btngrp.firstbtn}"
								(click)="activatefirst(btngrp)">Favourites</button>
							<button class="navbtns second" [ngClass]="{'active' : btngrp.secondbtn}"
								(click)="activatesecond(btngrp)">Liked Items</button>
							<button class="navbtns lastbtn" [ngClass]="{'active' : btngrp.thirdbtn}"
								(click)="activatethird(btngrp)">Feed</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="selectDivs">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 mTB15" *ngFor="let post of addpathway">
						<mat-card>

							<button [ngClass]="post.isSelected==true ? 'checkmark' : 'radiobtn'" (click)="radiofn(post)">
								<i class="fas fa-check"></i>
							</button>
							<div class="imgblock">
								<div class="legenddiv" *ngIf="post.isMandatory!=''">{{ post.isMandatory }}</div>
								<img mat-card-image src="{{ post.cardImg }}" class="avatar">
							</div>
							<mat-card-title>
								<div class="row content2">
									<p class="col-sm-11 padding0">{{ post.content }}</p>
									<i class="fas fa-bookmark col-sm-1 padding0 bookmark" [ngClass]="{'active' : post.save}"
										(click)="togglesave(post)"></i>
								</div>
							</mat-card-title>
							<mat-card-content>
								{{ post.stages }}
							</mat-card-content>
						</mat-card>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div *ngIf='selectedCount>0' class="stickydiv">
		<div class="row">
			<div class="selected">
				{{ selectedCount }}
			</div>
			<div class="div123 col-md-8">
				<h3 class="header3">Posts selected</h3>
			</div>
			<div class="col-md-3">
				<button class="roundedbtn">Create</button>
			</div>
		</div>
	</div>
</div>