ngx-feedback {
  // .mainDiv {
  //   padding: 0 2.25rem 0.75rem !important;
  // }

  .feedbackrocket {
    padding-right: 16px;
    i {
      background: #ffffff;
      font-size: 18px;
      // border: 1px solid #507BFC;
      // color: #507BFC;
      color: var(--colorIcons);
      border: 1px solid var(--colorIcons);
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
      padding: 10px 12px;
    }
  }

  .feedback-headding {
    padding: 0;
    // margin-left: 5px;
  }

  .mandatoryQues {
    color: red;
  }

  .feedbacktitle {
    // font-family: "open sans";
    text-transform: capitalize;
    font-weight: 700;
  }

  .surveymarginbottom {
    margin-bottom: 30px;
  }

  .question64 {
    // font-family: "open sans";
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 1.33;
    // text-align: justify;
    word-break: break-word;
  }

  .answer434 {
    text-align: center;
    padding: 20px;
    width: 50%;
  }

  .margBotm {
    margin-bottom: 10px;
  }

  .options45 {
    width: 100%;
    border: none;
    min-height: 40px;
    // padding: 20px 0;
    // margin: auto;
    font-size: 18px;
    border-radius: 15px;
    background-color: #ecf0fd;
    // color: #507BFC;
    color: var(--colorCommon);
  }
  .feedback_question_container{
    display: grid;
    grid-template-columns: 40px auto;
  }
  .feedbackRow {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .feedbackmat {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    // min-height: 150px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    box-shadow: none !important;
  }

  .txtArea {
    width: 100%;
    max-width: 700px;
    font-size: 20px;
    outline: none;
    // margin-left:20px;
    // resize: none;
    // border: 2px solid #7d9af3;
    border: 2px solid var(--colorCommon);
    padding: 10px;
    border-radius: 10px;
  }
  .txtArea::placeholder{
    font-size: 20px;
  }
  .questions-answer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    row-gap: 20px;
    align-content: flex-start;
  }
  .active {
    width: 100%;
    border: none;
    min-height: 40px;
    // padding: 20px 0;
    // margin: auto;
    font-size: 18px;
    border-radius: 15px;
    // background-color: #507BFC;
    // color: #ecf0fd;
    background-color: var(--colorCommon);
    color: #fff;
  }
  .question-margin{
    margin-top: 15px;
  }
  button:focus {
    outline: 0;
  }

  .nextbtn {
    width: 400px;
    display: inline-flex;
    margin: auto;
  }

  .nxt {
    width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 10px;
    // background: #507bfc;
    // color: #fff;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  }

  .button-container {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr 1fr;
  }
  .row-container {
    display: flex;
    grid-template-columns: 80px auto;
    align-items: center;
  }
  @media only screen and (max-width: 860px) {
    .questions-answer {
      grid-template-columns: 1fr 1fr;
    }
    .feedbacktitle {
      padding-left: 20px;
    }
    .question64 {
      font-size: 19px;
    }
  }
  @media only screen and (max-width: 660px) {
    .questions-answer {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
    .button-container {
      grid-template-columns: 1fr;
    }
    .question64 {
      font-size: 17px;
      margin-bottom: 10px;
    }
    .surveyMat {
      padding: 20px;
      margin-bottom: 20px;
    }
    .feedbacktitle {
      font-size: 20px;
    }
    .feedbackRow {
      margin-top: 20px;
    }
    .footer {
      text-align: center;
    }
    .nextbtn {
      width: 100%;
      max-width: 400px;
    }
  }
  @media only screen and (max-width: 380px) {
    .mainDiv {
      padding: 1rem !important;
    }
  }
  star-rating{
    outline: none;
  }
  .rating {
    justify-content: left !important;
    outline: none;
  }
  .rating.color-goldenyellow .star-container .star {
    width: 45px;
    height: 45px;
    margin: 4px;
    margin-top: -10px;

    svg {
      // fill: #3880ff;
      fill: var(--colorIcons);
    }
    i {
      // color: #3880ff;
      fill: var(--colorIcons);
    }
  }
  .float-left {
    float: left;
  }
}
