<div class='mainDiv'>
	<div class="row-container">
		<div class="feedbackrocket">
			<i class="fas fa-chevron-left" (click)="goBack()"></i>
		</div>
		<div class="feedback-headding">
			<h3 class="feedbacktitle">{{ courseName }}</h3>
		</div>
	</div>

	<div class="feedbackRow">
		<mat-card class="feedbackmat" *ngFor="let question of questions; let i=index;">
			<div class="feedback_question_container">
				<div>
					<h3 class="question64">{{ question.qId }}</h3>
				</div>
				<div>
					<h3 class="question64" [innerHtml]="makeFeedbackQuestionReady(question)"></h3>
				</div>
			</div>

			<div class="survey-textarea question-margin" *ngIf="question.questionTypeId  == 1">
				<textarea cols="12" rows="5" class="txtArea" [(ngModel)]='question.optionList[0].sAns'
					minlength={{question?.optionList[0]?.minLength}} maxlength={{question.optionList[0].maxLength}}
					#name="ngModel" [placeholder]=question.questionPlaceholder></textarea>
				<div *ngIf="name?.errors?.minlength" class="alert alert-danger">
					Minimum {{question.optionList[0].minLength}} characters required
				</div>
				<div *ngIf="name?.errors?.maxlength" class="alert alert-danger">
					Minimum {{question.optionList[0].maxLength}} characters required
				</div>
			</div>

			<div class="questions-answer" *ngIf="question.questionTypeId  == 2 || question.questionTypeId  == 3">
				<button class="options45" *ngFor="let option of question.optionList; let j=index"
					[ngClass]="{'active': option.sFlag}" (click)='selectOption(question,j)'>
					{{ option.option }}</button>
			</div>
			<div>
				<div class="question-margin" *ngIf="question.questionTypeId  == 4">
					<star-rating [starType]="'svg'" [showHalfStars]="true" [getHalfStarClass]="getHalfStarClass"
						[numOfStars]="4" [step]="0.5" staticColor="goldenyellow" [rating]=""
						(ratingChange)="onRateChange($event, i)"></star-rating>
				</div>
				<div *ngIf="!question?.isValid" class="mandatoryQues">
					<p>{{question.msg}}</p>
				</div>
			</div>

		</mat-card>
	</div>

	<div class="button-container">
		<div></div>
		<div><button class="nxt" [disabled]="makeSubmitDisabled" (click)="submitFeedback1()">Submit</button></div>
		<div></div>
	</div>
</div>