<div *ngIf="!skeleton">
    <mat-card class="matCrd" *ngIf="certificates?.length != 0">
        <mat-card-title class="mattitle">Earned Certificate</mat-card-title>

        <mat-card-content>
            <!-- <div class="row"> -->
            <div class="ro">
                <div class="carouselslider123 " ng2-carouselamos [width]="250" [items]="certificates" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
                </div>

                <ng-template #prevTemplate>
                    <div class=" arrow123">
                        <button class="roundarrow324">
                <i class="fas fa-chevron-left left-arrow123"></i></button>
                    </div>
                </ng-template>

                <ng-template #nextTemplate>
                    <div class="col-md-1 arrow">
                        <button class="roundarrow324"><i
                  class="fas fa-chevron-right right-arrow123"></i></button>
                    </div>
                </ng-template>

                <ng-template let-item let-i="index" #itemTemplate>
                    <div class="rounddiv1234" (click)="clickToDownload(item)">
                        <img src="{{item.certimg ? item.certimg : 'assets/images/Certificate.png'}}" onerror="this.src = 'assets/images/Certificate.png'" class="iconCert">
                        <p class="badge-title" *ngIf="item.certTitle.length > 6" [title]="item.certTitle">{{item.certTitle}}</p>
                        <p class="badge-title" *ngIf="item.certTitle.length <= 6" [title]="item.certTitle">{{item.certTitle | slice:0:6}}...</p>


                    </div>
                    <!-- <div class="rounddiv1234">
              <img src="{{item.certimg}}" class="iconCert">
              <p class="badge-title" ngIf="item.certTitle > 6">{{ item.certTitle }}</p>
              <p class="badge-title" ngIf="item.certTitle < = 6">{{ item.certTitle }}...</p>

            </div> -->
                </ng-template>
            </div>
            <!-- <div class="badges" *ngFor="let certi of certificates">
              <img src="{{certi.path}}" class="iconCert">
          </div> -->
            <!-- </div> -->
            <p class="para">You have received only <strong class="strongColor">{{ certificates?.length }} certificate !</strong></p>
            <!-- <p class="redNote">Complete course to receive more.</p> -->

        </mat-card-content>
    </mat-card>


    <mat-card class="matCrd" *ngIf="certificates?.length == 0">
        <mat-card-title class="mattitle">Earned Certificate</mat-card-title>
        <mat-card-content>
            <div class="noCertificateIcon">
                <!-- <img src="assets/images/icon.png" class="noCertiIco"> -->
                <i class="fa fa-certificate" aria-hidden="true"></i>
            </div>
            <div>
                <p class="para"> You have no certificate !</p>
                <!-- <p class="redNote">Complete course to receive one.</p> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="skeleton">
    <mat-card class="matCrd">
        <mat-card-title class="mattitle">Earned Certificate</mat-card-title>
        <mat-card-content>
            <ngx-content-loading [width]="400" [height]='160'>
                <svg:g ngx-rect width="100" height="140" y="0" x="25" rx="10" ry="10"></svg:g>
                <svg:g ngx-rect width="100" height="140" y="0" x="150" rx="10" ry="10"></svg:g>
                <svg:g ngx-rect width="100" height="140" y="0" x="275" rx="10" ry="10"></svg:g>
            </ngx-content-loading>
        </mat-card-content>
    </mat-card>
</div>
