.title_container {
  // display: grid;
  // grid-template-columns: 70px 1fr 3fr 1fr;
  // align-items: center;
  .rocket {
      // margin: 0 auto;
      text-align: center;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      // float: right;
      // padding: 9px;
      font-size: 26px;
      background: #507bfc;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  }
  // .timeoutdiv {
  //     // display: inline-flex;
  //     background: #fff;
  //     width: 100%;
  //     margin: 0 auto;
  //     font-size: 25px;
  //     align-items: center;
  //     text-align: center;
  //     height: 45px;
  //     // padding: 5px 20px;
  //     border-radius: 10px;
  //     box-shadow: 0 6px 10px 0 rgba(174, 175, 177, 0.5);
  //     color: #00BCD4;
  //     display: grid;
  //     grid-template-columns: 1fr 3fr;
  //     .time {
  //         color: #00BCD4;
  //         font-size: 25px;
  //         text-align: left;
  //         margin: 0;
  //     }
  // }
}

.grid_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 30px;
}
.workflow_name{
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
}
.disabled_div{
  margin: 50px 0;
  background: #FFF;
  color: #000;
  padding: 120px 0;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.tabs-new-updated{
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .tabs_single{
      background-color: #fff;
      color: #507BFC;
      // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
      margin-right: 10px;
      min-width: 100px;
      padding: 10px;
      margin-top: 10px;
      font-weight: 100 !important;
      border-radius: 17px;
      overflow-x: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
          margin: 0;
          // color: #FFFFFF;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 100;
          text-align: center;
          color: inherit;
      }
  }
  .tabs_single_active{
      background-color: #507BFC;
      color: #fff;
  }
}
.grid {
  display: grid;
  grid-template-columns: 70px 9fr 2fr;
  align-items: center;
  .item1{
      text-align:left;
  }
  .course-detail-icon{
      // margin-left:-20px;
      width: 54px;
  }
  .item3 .cancel{
      height: 56px;
      width: 56px;
      background-color: #FFFFFF;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
      border-radius:50%;
      text-align: center;
      cursor: pointer;
      margin-left: auto;
      .cancelIcon{
          margin-top: 30%;
          font-size: 24px;
          color: #507bfc;
      }
  }
}
.addSelfBackdrop2{
  position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: 1503;
   background-color: #40404075;
  .addSelfDemoModal2{
      width: 40%;
      margin: auto;
      background-color: #fff;
      border-radius: 5px;
      margin-top: 5%;
      padding: 20px;
  }
}
.cancel{
  width: 120px;
  line-height: 38px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #2196F3;
  color: #2196F3;
  border-radius: 25px;
  margin-right: 20px;
  box-shadow: 0 2px 13px -2px rgba(168, 168, 169, 0.5);
  outline: none !important;
  cursor: pointer;
}

.change{
  width: 120px;
  line-height: 40px;
  font-size: 14px;
  padding: 0;
  background: #2196F3;
  border: none;
  color: #fff;
  border-radius: 25px;
  box-shadow:0px 5px 14px 0px rgba(80,123,252,0.5);
  outline: none !important;
  cursor: pointer;
}
.formR{
  margin: 10px;
  mat-form-field{
    width: 100%;
  }
}
