<!-- <div class="innerCard"> -->
    <div class="course-details-component-grid-1">
      <!--  [ngStyle]="bindBackgroundImage(activity)" -->
        <div class="body-img" [ngStyle]="bindBackgroundImage(activity)" >
            <div *ngIf="activity.activity_type == 'Webinar' && !(activity.completed)">
                <div class="icons-container single-icon">
                    <i class="fas fa-video" aria-hidden="true"></i>
                </div>
            </div>
            <div class="congrats-div" *ngIf='activity.completed'>
                <div class="icons-container tick-icon">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div class="icon-text">
                    <span>Congrats!</span>
                </div>
            </div>
        </div>

        <div class="body-main text-left">
            <div>
                <div class="title-course-icon-text-div">
                    <div class="course-title">
                        <h2 class="title">{{ activity.activityName }}</h2>
                    </div>
                    <div class="course-icon">
                        <img class='cardImg' src="assets/images/online.svg" />
                        <span class="course-icon-text">ONLINE</span>
                        <span class="course-icon-text">| {{activity.activityDuration}}</span>
                    </div>
                </div>
                <div class="main-content">
                    <p [innerHTML]="activity?.summary"></p>
                </div>
            </div>
            <div *ngIf='activity.begin && activity.byTrainer == 0' class="button-container">
                <button *ngIf="!activity.summary"
                    class="bodyMidButton bodyMidButton--begin bodyMidButton--descriptionLess"
                    [disabled]="disabledAction" (click)='fireEvent("goToActivityPage",activity)'>Begin</button>
                <button *ngIf="activity.summary" class="bodyMidButton bodyMidButton--begin bodyMidButton--description"
                    [disabled]="disabledAction" (click)='fireEvent("goToActivityPage",activity)'>Begin</button>
            </div>
            <div *ngIf='activity.begin && activity.byTrainer == 1' class="button-container">
                <button *ngIf="!activity.summary"
                    class="bodyMidButton bodyMidButton--completed  bodyMidButton--dont-show-pointer bodyMidButton--descriptionLess">Attendance will be
                    marked by trainer</button>
                <button *ngIf="activity.summary"
                    class="bodyMidButton bodyMidButton--completed  bodyMidButton--dont-show-pointer bodyMidButton--description">Attendance will be marked
                    by trainer</button>
            </div>
            <div *ngIf='activity.completed' class="button-container">
                <button *ngIf="!activity.summary"
                    class="bodyMidButton bodyMidButton--completed bodyMidButton--show-pointer bodyMidButton--descriptionLess"
                    [disabled]="disabledAction" (click)='fireEvent("goToActivityPage",activity)'>Completed on
                    {{ activity.completedDate | date:"dd-MMM-yyyy" }}</button>
                <button *ngIf="activity.summary"
                    class="bodyMidButton bodyMidButton--completed bodyMidButton--show-pointer bodyMidButton--description"
                    [disabled]="disabledAction" (click)='fireEvent("goToActivityPage",activity)'>Completed on
                    {{ activity.completedDate | date:"dd-MMM-yyyy" }}</button>
            </div>
            <div *ngIf="activity.wait" class="button-container">
                <button *ngIf="!activity.summary"
                    class="bodyMidButton bodyMidButton--completed bodyMidButton--dont-show-pointer bodyMidButton--descriptionLess">Complete activity
                    "{{activity.dependentActName}}" from module "{{activity.dependentModName}}" to unlock</button>
                <button *ngIf="activity.summary"
                    class="bodyMidButton bodyMidButton--completed  bodyMidButton--dont-show-pointer bodyMidButton--description">Complete activity
                    "{{activity.dependentActName}}" from module "{{activity.dependentModName}}" to unlock</button>
            </div>
        </div>
    </div>
<!-- </div> -->
