// .innerCard {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-column-gap: 30px;
// }
@import "../../@theme/styles/variable.scss";

.course-details-component-grid-1 {
  display: grid;
  // grid-template-columns: minmax(400px, 3fr) 9fr;
  grid-template-columns: minmax(208px, 3fr) 9fr;
  background: white;
  border-radius: 10px;
  min-height: 140px;
  box-shadow: 4px 5px 19px 3px #e4e9f2;
  // border: 0.5px solid rgba(0, 0, 0, 0.12);

  .body-img {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    // background-position: center ;
    display: grid;
    align-items: center;
    .icons-container {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 19px;
      background: #fff;
      align-self: center;
      display: grid;
      text-align: center;
      align-items: center;
      // color: #507bfc;
      color: var(--colorIcons);
    }
    .single-icon {
      margin: 0 auto;
    }
    .tick-icon {
      margin-left: auto;
    }

    .congrats-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
      text-align: center;
      .icon-text {
        margin-left: 10px;
        align-self: center;
        font-size: 17px;
        color: #fff;
      }
    }
  }
  .body-main {
    // padding-top: 20px;
    // padding-left: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-course-icon-text-div {
      display: grid;
      grid-template-columns: 1fr 30%;
      .course-title {
        text-align: left;
        .title {
          color: #1b2437;
          font-size: 22px;
          text-align: left;
          margin: 0;
          line-height: 1.1;
        }
        .number {
          color: #507bfc;
          font-family: "Open Sans";
          font-size: 26px;
          line-height: 36px;
          padding-right: 5px;
          display: inline-block;
        }
      }
      .course-icon {
        font-size: 12px;
        padding-top: 4px;
        // align-self: center;
        justify-self: end;
        .cardImg {
          margin-right: 6px;
          width: 20px;
        }
        .course-icon-text {
          display: inline-block;
          padding-top: 0px;
          vertical-align: middle;
        }
      }
      .congrats-div{
          display: grid;
          grid-template-columns: 1fr 1fr;
          .icon-text{
              margin-left: 10px;
              align-self: center;
              font-size: 17px;
              color: #fff;
              justify-self: flex-start;
          }
      }
    }

    .main-content {
      margin-top: 12px;
      text-align: left;
    }
    .button-container {
      text-align: right;
    }
    .bodyMidButton {
      min-height: 40px;
      word-break: break-word;
      width: 210px;
      border-radius: 10px;
      // margin-right: 20px;
      cursor: pointer;
      color: white;
      font-size: 16px;
      border: none;
      &--begin {
        background-color: var(--colorBgbtn);
        color: var(--colorBtnTxt);
        border: 1px solid var(--colorBgbtn);
      }
      &--completed {
        background-color: #aaaaaa;
        word-break: break-word;

        font-size: 14px;
      }
      &--show-pointer{
        cursor: pointer;
      }
      &--dont-show-pointer{
        cursor: not-allowed;
      }
      // &--description {
        // margin-top: 60px;
        // margin-bottom: 20px;
      // }
      // &--descriptionLess {
        // margin-top: 70px;
        // margin-bottom: 20px;
      // }
    }
  }
}
// ====================================================================
@media only screen and (min-width: 1281px) {
  .course-details-component-grid-1 {
    min-height: 170px;
  }
}

@media only screen and (max-width: 1100px) {
  .innerCard {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 940px) {
  .bodyMidButton-1 {
    margin-top: 20px !important;
  }
  .body-main .bodyMidButton-1CompDis {
    margin-top: 20px !important;
  }
  .bodyMidButton-2CompDis {
    margin-top: 20px !important;
  }
  .Tabs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 670px) {
  .course-title {
    // display: inline-block;
    // width: 50%;
    .title {
      font-size: 15px !important;
      line-height: 20px !important;
    }
    .number {
      font-size: 15px !important;
      line-height: 20px !important;
    }
  }
  .course-icon {
    // width: 65% !important;
    .cardImg {
      height: 15px;
    }
    .course-icon-text {
      font-size: 13px !important;
      line-height: 18px !important;
    }
  }
  .bodyMidButton-1 {
    margin-top: 0px !important;
  }
  .Tabs {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .course-details-component-grid-1 {
    grid-template-columns: 1fr;
  }
  .course-details-component-grid-1 .body-img {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
  .course-details-component-grid-1 .body-main .bodyMidButton-2 {
    margin-top: 10px;
  }
  .course-details-component-grid-1 .body-main .bodyMidButton-2Dis {
    margin-top: 0px;
  }
  .course-details-component-grid-1 {
    grid-template-columns: 12fr;
    width: 100%;
    .body-img {
      height: 250px;
    }
  }
  .button-container {
    display: block;
    text-align: center !important;
  }
  .course-details-component-grid-1 .body-main .title-course-icon-text-div {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  .course-details-component-grid-1 .body-main .bodyMidButton-2 {
    height: 32px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .course-details-component-grid-1 .body-main .bodyMidButton-2Dis {
    height: 32px;
    margin-bottom: 20px !important;
    margin-top: 10px;
  }

  .Tabs {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    margin: 20px 0 0 0;
  }
}


// ====================================================================

// @media only screen and (max-width: 940px) {
//   .course-details-component-grid-1 .body-img {
//     border-bottom-left-radius: 0px;
//     border-top-right-radius: 10px;
//   }
//   .course-details-component-grid-1 {
//     grid-template-columns: 12fr;
//     width: 100%;
//     .body-img {
//       height: 250px;
//     }
//   }
//   .button-container {
//     display: block;
//     text-align: center !important;
//   }

//   .bodyMidButton {
//     &--description {
//       margin-top: 20px !important;
//     }
//     &--descriptionLess {
//       margin-top: 20px !important;
//     }
//   }
// }
// @media only screen and (max-width: 670px) {
//   .course-title {
//     .title {
//       font-size: 15px !important;
//       line-height: 20px !important;
//     }
//     .number {
//       font-size: 15px !important;
//       line-height: 20px !important;
//     }
//   }
//   .course-icon {
//     .cardImg {
//       height: 15px;
//     }
//     .course-icon-text {
//       font-size: 13px !important;
//       line-height: 18px !important;
//     }
//   }
// }

// @media only screen and (max-width: 520px) {
//   .course-details-component-grid-1 .body-main .title-course-icon-text-div {
//     display: grid;
//     grid-template-columns: 100px 1fr;
//   }

//   .bodyMidButton {
//     height: 32px;
//     width: 150px;
//     &--description {
//       margin-top: 0px !important;
//     }
//     &--descriptionLess {
//       margin-top: 0px !important;
//     }
//   }
// }
