ngx-ttt-webinar {
  .recordList {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    .recinner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 0px 21px -4px rgb(214, 228, 238);
      border-radius: 6px;
      padding: 10px;
      margin: 10px;
      p {
        color: #7b8085;
        margin: 0;
        word-break: break-all;
      }
      i {
        cursor: pointer;
        border-radius: 25px;
        padding: 8px 8px 8px 10px;
        background: #2196f3;
        color: white;
      }
    }
  }
  .vieoBack {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    z-index: 1040;
    background: rgba(0, 0, 0, 0.6);
  }
  .video-container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1040;
    width: 50%;
  }
  .noVideorecord {
    i {
      font-size: 50px;
    }
  }
  .wrapBOth-container {
    // padding: 2.25rem 2.25rem 0.75rem !important;
    padding-top: 16px;
    background: #fff;
    .course-content {
      // display: grid;
      margin-bottom: 20px;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      .text-content {
        h4 {
          text-transform: capitalize;
          font-size: 20px;
          padding: 0;
        }
      }
    }

    .cancel {
      height: 56px;
      width: 56px;
      background-color: #ffffff;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      margin-left: auto;
    }

    .cancelIcon {
      margin-top: 31%;
      font-size: 25px;
      color: #507bfc;
    }

    .course-content-div {
      padding-top: 2%;
      // max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }

    .thirty-years-after-d {
      // height: 99px;
      width: 100%;
      opacity: 0.8;
      color: #464646;
      font-family: "Open Sans";
      font-size: 24px;
      line-height: 33px;
      padding: 3%;
      // max-width:76.3333333%
    }
  }

  .courseIcon {
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: #f7a076;
    font-size: 20px;
    margin: auto 0;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
  }

  .courseWrapper {
    width: 100%;
  }

  .contentHeading {
    display: flex;
  }
  .courseDescription {
    opacity: 0.6;
    color: #464646;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0;
  }

  .courseTITLE {
    color: #464646;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0rem !important;
  }

  .contentTabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 0px 16px;
  }

  .content-Tab-container {
    height: 35px;
    width: 150px;
    border-radius: 17px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    margin-right: 10px;
    cursor: pointer;
  }

  .Tab-content-body {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
  }

  .content-Tab-container-active {
    height: 35px;
    width: 150px;
    border-radius: 17px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-right: 10px;
  }

  .Tab-content-body-active {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
  }

  .contentBODY {
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 20px;
  }

  .contentImg {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .cardOVerLay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 12px;
    width: 35%;
  }

  .contentBlock {
    margin: 30px 0;
    width: 100%;
  }

  .contentTitle {
    display: inline-flex;
    width: 100%;
  }

  .activityId {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .activityName {
    color: #1b2437;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .activityTitle {
    margin: 0;
  }

  .centerALign {
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
  }

  .bMHP2 {
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin: auto 20px;
  }

  .onlineIMG {
    height: 20px;
    margin: auto 0;
  }

  .unsaved {
    cursor: pointer;
    width: 15px;
    float: right;
  }
  .save {
    cursor: pointer;
    width: 18px;
    float: right;
  }

  .description {
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 15px;
    font-family: "open sans";
    line-height: 24px;
  }

  .contentbtns {
    height: 40px;
    width: 228px;
    border-radius: 100px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
  }

  .mar-auto {
    margin: auto;
  }

  .beginbtn {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }
  .course-details-component-grid-1 {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 10fr;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 16px;
    // margin: 0 20px 20px 20px;
    // grid-row-gap: 20px;
    // grid-template-rows: 50% 50%;
    .body-img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      background-position: center !important;
      display: grid;
    }
    .body-main {
      padding-top: 20px;
      padding-left: 15px;
      .title-course-icon-text-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .course-title {
          // vertical-align: super;
          .title {
            color: #1b2437;
            font-family: "Open Sans";
            font-size: 26px;
            line-height: 36px;
            text-align: center;
          }
          .number {
            color: #507bfc;
            font-family: "Open Sans";
            font-size: 26px;
            line-height: 36px;
            padding-right: 5px;
            display: inline-block;
          }
        }
        .course-icon {
          // display: inline-block;
          // width: 66%;
          text-align: right;
          margin-right: 20px;
          vertical-align: super;
          align-self: center;
          margin-left: auto;
          .cardImg {
            padding-right: 7px;
            width: 35px;
          }
          .course-icon-text {
            display: inline-block;
            padding-top: 0px;
            vertical-align: middle;
          }
        }
      }

      .main-content {
        margin-top: 20px;
      }
      .button-container {
        text-align: right;
      }
      .bodyMidButton-1 {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: #507bfc;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      .bodyMidButton-2 {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: #507bfc;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .bodyMidButton-1CompDis {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: #aaaaaa;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        margin-top: 40px;
        // margin-top: 70px;
        margin-bottom: 20px;
      }
      .bodyMidButton-2CompDis {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: #aaaaaa;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        border: none;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .bodyMidButton-1Dis {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: white;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: not-allowed;
        color: #aaaaaa;
        font-size: 15px;
        border: 1px solid #aaaaaa;
        margin-top: 40px;
        // margin-top: 70px;
        margin-bottom: 20px;
      }
      .bodyMidButton-2Dis {
        height: 40px;
        width: 228px;
        border-radius: 100px;
        background-color: white;
        -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        margin-right: 30px;
        cursor: not-allowed;
        color: #aaaaaa;
        font-size: 15px;
        border: 1px solid #aaaaaa;
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }
  }

  .view-click {
    margin-right: 20px;
    .view-details {
      text-align: end !important;
      background: transparent;
      .view-btn {
        background: #507bfc;
        border: 1px solid #507bfc;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 32.5px;
        text-align: center;
        color: #fff;
        border-radius: 25px;
        box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
        padding: 0px 10px;
      }
    }
  }

  .cardPaddings {
    padding: 0px !important;
    box-shadow: none;
    border: 1px solid #eee;

    .tableRow {
      font-size: 20px;
      display: grid;
      grid-template-columns: 0.5fr 2fr 2fr;

      // padding-left: 20px;
      .quesNo {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin: auto;
        text-align: left;
      }
      .tableData {
        margin: auto 0;
        // width: 80%;
        .titlePara {
          margin: auto;
          line-height: 26px;
        }
        .plybtn {
          background: #507bfc;
          border: 1px solid #507bfc;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 32.5px;
          text-align: center;
          color: #fff;
          border-radius: 25px;
          box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
          margin: auto 40%;
        }
      }
    }
    .tableRow:nth-child(even) {
      background: #eee;
    }
  }
  .nodata {
    margin: 20% auto !important;
  }
  .controls {
    .progress {
      display: -ms-flexbox;
      display: block;
      height: 30px !important;
      overflow: hidden;
      font-size: 0.75rem;
      background-color: transparent !important;
      border-radius: 0.25rem;
    }
  }
}
