<div *ngIf='!showActivity'>
	<!-- <div class="view-click" *ngIf="userdetail?.roll == 'Learner' && this.currentstepdata.status == 1">
		<div class="view-details">
			<button class="view-btn" (click)="getrecording()">View Recordings</button>
		</div>
	</div> -->
	<!-- <div class="contentHeading">
		<div class="courseIcon">
			<i class="fas fa-chalkboard-teacher"></i>
		</div>
		<div class="courseWrapper">
			<p class="courseTITLE">{{currentstepdata.displayName}}</p>
			<p class="courseDescription">Course Description</p>
		</div>

	</div> -->
	<!-- <div class='contentTabs'>

			<div class='content-Tab-container' *ngFor='let tabs of nomineeModules;let i=index;'
			[ngClass]="ActiveTab==i ? 'content-Tab-container-active' : 'content-Tab-container'" (click)='tabChanged(tabs)'>
			<div class='Tab-content-body' [ngClass]="ActiveTab==i ? 'Tab-content-body-active' : 'Tab-content-body'">
				{{ tabs.moduleName }}
			</div>
			</div>

	</div> -->
	<div class='contentTabs'>

		<div class='content-Tab-container' *ngFor='let tabs of nomineeModules;let i=index;'
			[ngClass]="ActiveTab==i ? 'content-Tab-container-active' : 'content-Tab-container'"
			(click)='tabChanged(tabs)'>
			<div class='Tab-content-body' [ngClass]="ActiveTab==i ? 'Tab-content-body-active' : 'Tab-content-body'">
				{{ tabs.moduleName }}
			</div>
		</div>

	</div>
	<!-- <div class="course-details-component-grid-1" *ngFor='let content of nomineeContent;let i=index;'>
		<div class="body-img"
			[ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(' + content.img + ')'}">

		</div>
		<div class="body-main">
			<div class="title-course-icon-text-div">
				<div class="course-title">
					<span class="number">{{ i+1 }}</span>
					<span class="title">{{ content.activityName }}</span>
				</div>
				<div class="course-icon">
				</div>
			</div>
			<div class="main-content">
				<div>
					<p [innerHTML]="content?.summary?.substring(0, 10)">{{ content.summary }}</p>
				</div>
			</div>


			<div class="button-container" *ngIf="content.wCompleted == 0">
				<button *ngIf="content.summary" (click)='goToWebinar(content)' class="bodyMidButton-1">Begin</button>
				<button *ngIf="!content.summary" class="bodyMidButton-2" (click)='goToWebinar(content)'>Begin</button>
			</div>

		</div>
	</div> -->
	<!-- <div class='contentBODY' *ngFor='let content of nomineeContent;let i=index;'>
		<div class="cardOVerLay">
		<img class='contentImg' [src]="content.img" />
		</div>
		<div class='contentBlock col-9'>
		<div class='contentTitle row'>
			<p class='activityTitle col-5'>

			<span class='activityName'>{{ content.activityName }}</span>
			</p>
			<div class="col-5 row">
			<img class='onlineIMG' src="assets/images/online.svg"/>
			<p class='bMHP2'>ONLINE</p>
			</div>
			<div class="col-md-2 centerALign">
			<img *ngIf='content.bookmarked==true' class='save' src='assets/images/bookmarked.svg' />
			<img *ngIf='content.bookmarked==false' class='unsaved' src='assets/images/notBookmarked.svg' />
			</div>
		</div>
		<div class='description'>
			<p>{{ content.summary }}</p>
		</div>
		<div class='contentbtns'>
			<div class='beginbtn' *ngIf="content.wCompleted == 0" (click)='goToWebinar(content)'>Begin</div>
			<div class='beginbtn' *ngIf="content.wCompleted == 1">Completed</div>
		</div>
		</div>
  </div> -->
  <div class="pb-2 pt-2" *ngFor="let activity of nomineeContent">
    <ngx-activity-card  [data]="activity" [disabledAction]="disabledActivityFlag" (getEvent)="preformActionOnAcitivty($event)"></ngx-activity-card>
 </div>
</div>

<div class="wrapBOth-container" *ngIf="courseReadyFlag">


	<div class="course-content-div">
		<div>
			<app-webinar-multi *ngIf="featureConfig?.webinar?.openvidu" [course]="activityData" [userList]="userList" [voiceCall]="voiceCall"
				[videoCall]="videoCall" (ChangeData)=changeCount($event) [areaId]="29" [tenantId]="tenantId"
				[config]="config">
      </app-webinar-multi>
      <ngx-webinar-multi-jitsi *ngIf="featureConfig?.webinar?.jisti"  [course]="activityData" [userList]="userList" [voiceCall]="voiceCall"
      [videoCall]="videoCall" (ChangeData)=changeCount($event) [areaId]="29" [tenantId]="tenantId"
      [config]="config">

      </ngx-webinar-multi-jitsi>
		</div>
	</div>

	<div class="row">
		<div id='courseDescription' *ngIf="description" class="col-md-12 thirty-years-after-d">
			<div [innerHtml]="description"></div>
		</div>
	</div>
</div>

<div class="wrapBOth-container text-left" *ngIf="!courseReadyFlag">
	<h3 class="text-center pb-3">Recording List</h3>
	<div class="recordList" *ngFor="let item of webinarlist, let i=index;">
		<div class="recinner">
			<p>Recording ({{i+1}}) - {{item.recordingDate}}</p>
			<i class="fa fa-play" aria-hidden="true" (click)="play(item)"></i>
		</div>
	</div>
</div>

<div class="noVideorecord" *ngIf='Nolist'>
	<i class="fas fa-video-slash"></i>
	<p class="pt-3">No Recording Found</p>
</div>

<!-- <div class="wrapBOth-container" *ngIf='showlist'>
	<div>
		<div class="course-content">
			<div class="cancelDiv">
				<div class='cancel' (click)='goBack1()'>
					<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div>
			<mat-card class="cardPaddings">
				<table style="width: 100%">
					<tr *ngFor="let item of webinarlist, let i=index;" class="tableRow">
						<td class="quesNo">{{ i+1 }}</td>
						<td class="tableData">
							<p class="titlePara">Recording ({{i+1}})- {{item.recordingDate}}</p>
						</td>
						<td class="tableData">
							<p class="plybtn" (click)="play(item)">View</p>
						</td>
					</tr>
				</table>
			</mat-card>
		</div>
	</div>
</div> -->

<!-- <div class="wrapBOth-container" *ngIf='Nolist'>
	<div class="course-content">
		<div class="cancelDiv">
			<div class='cancel' (click)='goBack1()'>
				<i class="fa fa-times cancelIcon" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="nodata">
		<p>No Recording Found</p>
	</div>
</div> -->

<span class="vieoBack" (click)='goBack2()' *ngIf="playvdo"></span>
<div class="video-container" *ngIf="playvdo">
	<mat-video [src]="videotrack" [autoplay]="true"></mat-video>
</div>
