/deep/ .mat-slide-toggle-bar {
  height: 9px !important;
  width: 30px !important;
}

/deep/ .mat-slide-toggle-thumb {
  height: 13px !important;
  width: 13px !important;

}
/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
 background-color: var(--colorCommon);
}
/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(18px,0,0) !important;
}
/deep/ .mat-slide-toggle-thumb-container {
    width: 12px !important;
    height: 17px !important;
    top: -2px !important;
}
