

.mattitle{
    text-align: center;
    color: #797878;
    margin: 0;
    line-height: 25px;
}

.matC{
    width: 100%;
    border-radius: 10px;
    margin: 0;
}

.left{
    width: 50%;
    text-align: center;
    border-right: 2px solid #ccc;
    margin: 10px 0;

}

.right{
    width: 50%;
    text-align: center;
    margin: 10px 0;

}

.number{
    font-size: 32px;
    line-height: 55px;
    margin: 0;
    color: #FEA08F;
    font-weight: 600;
    font-family: "open sans";
}

.para12{
    margin: 0;
    line-height: 30px;
    font-size: 16px;
    font-family: "open sans";
}

.ro{
    width: 100%;
    margin: auto;
 }

.view{
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #507bfc;
}

.arrow{
    margin: 0 0px;
    width: 30px;
}

