<mat-card class="matC">
    <mat-card-title class="mattitle">Your Pathways</mat-card-title>

    <mat-card-content style="margin-bottom: 0 !important">
      <div class="row">
          <div class="left">
            <p class="number">0</p>
            <p class="para12">Created Pathways</p>
          </div>
          <div class="right">
              <p class="number">0</p>
              <p class="para12">Other Pathways</p>
          </div>
        </div>
          <div class="row">
          <p class="view">View all <img src="./assets/images/White.svg" class="arrow"></p>
          
      </div>
    </mat-card-content>

</mat-card>
