// themes - our custom or/and out of the box themes
@import 'themes';
@import 'variable';
@import './variable.scss';
@import './common.scss';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// @import '../../../../node_modules/css-star-rating/scss/star-rating.scss';
// @import '../../../../../~css-star-rating/scss/star-rating';
@import '~css-star-rating/scss/star-rating';
// ...
//
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
// global app font size
@import './font-size';
// loading progress bar theme
@import './pace.theme';

/*Angular 6.0+ calendar*/

@import "../../../../node_modules/angular-calendar/css/angular-calendar.css";
@import './bootstrap-rtl';

/*quill*/

@import "../../../../node_modules/quill/dist/quill.core.css";
@import "../../../../node_modules/quill/dist/quill.snow.css";

/* You can add global styles to this file, and also import other style files */

@import "~ngx-tabset/ngx-tabset";
// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    @include nb-auth-global();
    @include nb-bootstrap-global();
    // loading progress bar
    @include ngx-pace-theme();
    // fixed in rc.9 and can be removed after upgrade
    .custom-control .custom-control-indicator {
        border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
    }
    @include bootstrap-rtl();
    .nb-theme-default nb-layout .layout nb-layout-header.fixed~.layout-container {
        margin-top: 0rem !important;
        min-height: 100vh !important;
    }
    // ==============================================================
    ngx-dashboard,
    ngx-learn,
    ngx-learn-search,
    // ngx-course-details,
    ngx-workflow-learn,
    ngx-course,
    ngx-calendar,
    ngx-section,
    ngx-content,
    ngx-content-display,
    ngx-trainer-dashboard,
    ngx-level1,
    ngx-level2,
    attendance-data,
    ngx-cc-calls-list,
    ngx-cc-trainer-nominationlist,
    ngx-team-dashboard,
    ngx-dynamic-link-component,
    ttt-nomination {
        padding: 20px;
    }
    nb-layout-header nav {
        height: 4rem !important;
        padding: 12px !important;
        box-shadow: none !important;
        background: var(--colorHeader) !important;
        border-bottom: 1px solid #f0efef !important;
    }
    nb-sidebar.expanded {
        width: 5rem;
    }
    nb-sidebar .main-container {
        width: 5rem;
    }
    nb-sidebar.compacted .main-container {
        width: 5rem;
    }
    nb-sidebar.compacted {
        width: 5rem;
    }
    nb-sidebar,
    nb-sidebar-footer {
        background: var(--colorSidebar) !important;
    }
    nb-sidebar .menu-text {
        color: var(--colorSidebartxt) !important;
    }
    nb-user .user-name {
        color: var(--colorHeadertxt);
    }
    nb-checkbox .customised-control-input:checked+.customised-control-indicator {
        border-color: var(--colorCommon);
    }
    nb-checkbox:hover .customised-control-input:enabled+.customised-control-indicator {
        border-color: var(--colorCommon);
    }
    nb-context-menu .arrow {
        border-bottom: 11px solid var(--colorCommon);
    }
    nb-context-menu {
        border: 2px solid var(--colorCommon);
    }
    nb-menu.context-menu .menu-items .menu-item a:hover {
        background: var(--colorCommon);
    }
    nb-layout .layout-container {
        padding-top: 4rem !important;
        background: var(--colorBgPage);
    }
    // =================================================================================
    input,
    select,
    textarea,
    button {
        outline: none !important;
    }
    .nb-theme-default [_nghost-c19] nb-sidebar.menu-sidebar[_ngcontent-c19] {
        margin-top: 0rem !important;
        // background: transparent !important;
    }
    .nb-theme-default nb-layout .layout nb-layout-header.fixed~.layout-container>nb-sidebar>.main-container {
        height: calc(100vh - 5.75rem) !important;
        width: 106px !important;
    }
    .nb-theme-default nb-sidebar .scrollable {
        padding: 35px;
        position: relative;
        width: 106px !important;
    }
    .nb-theme-default nb-menu .menu-items>.menu-item {
        // border-bottom: 1px solid #ebeef2;
        height: 90px !important;
        width: 106px !important;
    }
    .nb-theme-default nb-menu .menu-item a {
        padding: 0.675rem 0.75rem;
        height: 90px !important;
        width: 106px !important;
        border-radius: 0.375rem;
        margin: auto;
    }
    .myhomeicon {
        background: url('/assets/images/HomeIcon.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .mylearnicon {
        background: url('/assets/images/LearnIcon.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .myfavicon {
        background: url('/assets/images/FavIcon.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .mypulseicon {
        background: url('/assets/images/PulseIcon.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .mychaticon {
        background: url('/assets/images/ChatIcon.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .logouticon {
        background: url('/assets/images/LogoutIcon.svg');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .calendaricon {
        background: url('/assets/images/calendarIcon.png');
        height: 10px;
        width: 10px;
        background-repeat: no-repeat;
    }
    .taskmanager {
        background: url('/assets/images/task-manager.png');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .train {
        background: url('/assets/images/trainer.png');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
    .coachingcall {
        background: url('/assets/images/coaching-call.png');
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
    }
}

;
.rating {
    outline: none !important;
}

.rating.color-goldenyellow .star-container .star {
    width: 45px;
    height: 45px;
    margin: 4px;
    margin-top: -10px;
    svg {
        fill: #3880FF;
    }
    i {
        color: #3880FF;
    }
}

.survey-textarea ng-star-inserted {
    float: left;
}

.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    top: 3px;
    left: calc(50% - calc(11px - 2px));
    border-left: calc(11px - 2px) solid transparent;
    border-right: calc(11px - 2px) solid transparent;
    border-bottom: calc(11px - 2px) solid #ffffff;
}

.inside-form {
    .mat-tab-header,
    .mat-tab-nav-bar {
        border: none !important;
        margin-bottom: -2px;
    }
    .mat-tab-label {
        // display: unset;
        // height: 40px !important;
        // padding: 0 50px !important;
        // border: 1px solid #507BFC !important;
        opacity: 1 !important;
        // color:#507BFC !important;
        // cursor: pointer;
        margin-right: 2px;
        color: #507BFC;
        line-height: 1.42857143;
        border: 1px solid transparent;
        // border-radius: 4px 4px 0 0;
    }
    // .mat-tab-label .mat-tab-label-content{
    //   line-height: 40px;
    // }
    // .mat-tab-label:first-child{
    //   border-top-left-radius: 20px;
    //   border-bottom-left-radius: 20px;
    // }
    // .mat-tab-label:last-child{
    //   border-top-right-radius: 20px;
    //   border-bottom-right-radius: 20px;
    // }
    // .mat-tab-label-container{
    //   text-align: center;
    // }
    // .mat-tab-label-active{
    //   background: #507BFC;
    //   // border-color:  #507BFC;
    //   color: #fff !important;
    //   font-weight: 500;
    // }
    .mat-tab-label-active {
        color: #507BFC;
        cursor: default;
        background-color: #fff;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        // border-bottom-color: transparent;
        // margin-bottom: -1px;
    }
    .mat-tab-body-wrapper {
        border: 1px solid #ddd;
    }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
}


.popover-body {
    padding: 0 0 0 0.75rem;
}

@media (max-width: 991.98px) {
    .nb-theme-default .control-item {
        display: block !important;
    }
    .user-name {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .user-picture {
        margin-left: 1rem;
    }
    .user-name {
        display: none !important;
    }
    .nb-theme-default nb-user .user-picture {
        height: 2.2rem;
        width: 2.2rem;
        background: #ffffff;
        font-size: 10px;
        border: solid 2px #507BFC;
    }
}

nb-sidebar .main-container {
    -webkit-transition: all 500ms ease-in-out !important;
    -moz-transition: all 500ms ease-in-out !important;
    -o-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
    background: transparent !important;
}

// .scrollable{
//   background: #ffffff;
// }
.nb-theme-default nb-actions nb-action i.control-icon {
    color: #507BFC !important;
}

// .nb-theme-default nb-actions nb-action {
//     padding: 0 1rem 0 0;
// }

// nb-actions nb-action {
//     border: none;
// }

.nb-theme-default nb-layout ::-webkit-scrollbar {
    width: 15px !important;
}

@media screen and (max-width: 575px) {
    .nb-theme-default nb-sidebar {
        box-shadow: none !important;
    }
    .nb-theme-default nb-layout ::-webkit-scrollbar {
        width: 8px !important;
    }
}


/* START TOOLTIP STYLES */

[tooltip] {
    position: relative;
    /* opinion 1 */
}


/* Applies to all tooltips */

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: 0.9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    /* most of the rest of this is opinion */
    // font-family: Helvetica, sans-serif;
    text-align: center;
    /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 0.3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}


/* Make the tooltips respond to hover */

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}


/* don't show empty tooltips */

[tooltip=""]::before,
[tooltip=""]::after {
    display: none !important;
}


/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
}


/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
}


/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: 0.9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 0.9;
        transform: translate(0, -50%);
    }
}


/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

button:focus {
    outline: none;
}
