#theme {
  --colorCommon: #475edc;
  --colorHeader: #ffffff;
  --colorHeadertxt: #000000;
  --colorSidebar: #ffffff;
  --colorSidebartxt: #000000;
  --colorBgbtn: #475edc;
  --colorBtnTxt: #ffffff;
  --colorIcons: #475edc;
  --colorBgPage: #ebeff5;

  --white-color: #ffffff;
}

$variables: (
  --colorCommon: var(--colorCommon),
  --colorHeader: var(--colorHeader),
  --colorHeadertxt: var(--colorHeadertxt),

  --colorSidebar: var(--colorSidebar),
  --colorSidebartxt: var(--colorSidebartxt),

  --colorBgbtn: var(--colorBgbtn),
  --colorBtnTxt: var(--colorBtnTxt),

  --colorIcons: var(--colorIcons),
  --colorBgPage: var(--colorBgPage),
);

@function var($variable) {
  @return map-get($variables, $variable);
}

// $colors: (
//   abcd: var(--colorSidebar) 
// );

// @return var(--color-#{$color-name});
// @return map-get($colors, $color-name);

@function change($color-name) {
    @return map-get($colors, $color-name);
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

// @function text($a) {
//   @if (lightness($a) > 99) {
//     @return #000;
//   } @else {
//     @return #fff;
//   }
// }

// @mixin dc($color) {
//   background: $color;
//   color: text($color);
// }
