ngx-partner{
    .wrapBOth-container {
        .participantCard {
          margin-top: 20px;
          padding: 0 !important;
        }
    
        table {
          width: 100%;
        }
      }
    
      .downloadbtn{
        background: #03A9F4;
        border: none;
        font-size: 22px;
        color: #fff;
        // border: 2px solid;
        height: 50px;
        width: 53px;
        text-align: center;
        // line-height: 50px;
        padding: 0;
        margin: auto;
        border-radius: 25px;
        cursor: pointer;
        outline: none;
        box-shadow: 4px 7px 16px 0 #0796d685;
    }
      .viewFeedBtn {
        width: auto;
        padding: 10px 20px;
        background: #5680fc;
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        box-shadow: 1px 5px 4px #c5c9f8;
        cursor: pointer;
      }
    
      .tablerow {
        height: 60px !important;
        text-align: center !important;
        font-size: 16px !important;
      }
    
      .tablerow:nth-child(even) {
        background: #f3f2f2;
      }
}