<div class="wrapBOth-container">
  <div class="participantContainer" *ngIf = "list">
    <div>
      <mat-card class="participantCard">
        <table>
          <tr class="tablerow">
            <th>ECN</th>
            <th>Employee name</th>
            <th>Nominee Date</th>
            <th>Business</th>
            <th>Department</th>
            <th>Location</th>
            <th></th>
          </tr>
          <tr class="tablerow"
            *ngFor="let nominee of nomineelist; let i = index">
            <td>{{ nominee.ecn }}</td>
            <td>{{ nominee.empName }}</td>
            <td>{{ nominee.date }}</td>
            <td>{{ nominee.business }}</td>
            <td>{{ nominee.department }}</td>
            <td>{{ nominee.location }}</td>
            <td>
              <button class="viewFeedBtn" (click)="viewCall(nominee)">
                view
              </button>
            </td>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
