@import '../../styles/themes';
@import '../../styles/variable.scss';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;
    nav {
        padding: 0px !important;
    }
    .menu {
        position: fixed;
        background-color: white;
        height: 100vh;
        width: 90px;
        top: 67px;
        left: 0;
    }
    .logo_img {
        // padding: 0 1.25rem;
        font-size: 1.75rem;
        font-weight: 500;
        white-space: nowrap;
        // width: 100px;
        // img {
        //     width: 90%;
        // }
    }
    .control-item-dis {
        cursor: not-allowed;
    }
    .headSearch {
        height: 40px;
        width: 800px;
        border-width: 0px;
        border-radius: 20px;
        background-color: #efefef;
        box-shadow: inset 0 0 6px 0 rgba(47, 83, 151, 0.1), 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        color: #98A0A6;
        font-family: "Open Sans";
        outline: none;
        padding: 10px;
    }
     ::placeholder {
        color: #98A0A6;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
    }
    .left {
        display: flex;
        width: 100%;
        order: 0;
        flex-direction: row;
    }
    .right {
        order: 1;
        flex-direction: row-reverse;
    }
    .logo-containter {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    }
    .control-item {
        display: block;
    }
    .header-container {
        display: flex;
        align-items: center;
        width: auto;
        .navigation {
            @include nb-ltr(padding-right, nb-theme(padding));
            @include nb-rtl(padding-left, nb-theme(padding));
            font-size: 2.5rem;
            text-decoration: none;
            i {
                display: block;
            }
        }
        .logo {
            padding: 0 nb-theme(padding);
            cursor: pointer;
            font-size: 1.75rem;
            font-weight: nb-theme(font-weight-bolder);
            // @include nb-ltr(border-left, 1px solid nb-theme(separator));
            @include nb-rtl(border-right, 1px solid nb-theme(separator));
            white-space: nowrap;
            span {
                font-weight: nb-theme(font-weight-normal);
            }
        }
    }
    @include nb-for-theme(corporate) {
        $menu-action-separator-color: #3f4550;
        nb-action {
            // @include nb-ltr(border-left-color, $menu-action-separator-color);
            @include nb-rtl(border-right-color, $menu-action-separator-color);
        }
        .header-container .logo {
            @include nb-ltr(border, none);
            @include nb-rtl(border, none);
        }
        .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
            color: nb-theme(color-white);
            background: transparent;
        }
    }
    ngx-layout-direction-switcher {
        margin: 0 1.5rem;
    }
    ngx-theme-switcher {
        margin: nb-theme(layout-padding);
        margin-top: 0;
        margin-bottom: 0;
    }
    @include media-breakpoint-down(xl) {
        ngx-layout-direction-switcher {
            display: none;
        }
    }
    .toggle-settings /deep/ a {
        display: block;
        text-decoration: none;
        line-height: 1;
        i {
            color: nb-theme(color-fg-highlight);
            font-size: 2.25rem;
            border-radius: 50%;
            position: relative;
            animation-name: pulse-light;
            &::after {
                content: ' ';
                // hack to be able to set border-radius
                background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
                border-radius: 50%;
                pointer-events: none;
                position: absolute;
                top: 52.3%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 13%;
                height: 13%;
                animation: 3s linear infinite pulse;
                @include nb-for-theme(default) {
                    animation-name: pulse-light;
                }
            }
        }
    }
    @include keyframes(pulse) {
        0% {
            box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
        }
        20% {
            box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
        }
        100% {
            box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
        }
    }
    @include keyframes(pulse-light) {
        0% {
            box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
        }
        20% {
            box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
        }
        100% {
            box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
        }
    }
    @include media-breakpoint-down(md) {
        nb-action:not(.toggle-settings) {
            border: none;
        }
        .control-item {
            display: none;
        }
        .toggle-settings {
            padding: 0;
        }
        ngx-layout-direction-switcher {
            display: none;
        }
        ngx-theme-switcher {
            margin: 0 0.5rem;
        }
    }
    @include media-breakpoint-down(sm) {
        nb-user /deep/ .user-name {
            display: none;
        }
    }
    @include media-breakpoint-down(is) {
        .header-container {
            .logo {
                font-size: 1.25rem;
            }
        }
        .toggle-settings {
            display: none;
        }
        ngx-theme-switcher {
            display: none;
        }
        nb-action:not(.toggle-settings) {
            padding: 0;
        }
    }
    @include media-breakpoint-down(xs) {
        .right /deep/ {
            display: none;
        }
    }
}

// ============================================================
nb-user {
    padding-left: 10px;
}

.nb-theme-default nb-card-header {
    padding: 1.25rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: #2a2a2a;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-weight: 600;
    margin: auto;
}

.mobile-icon {
    display: none;
}

.logo-text {
    cursor: pointer;
}

.arrange {
    transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
}

.header-user-icon .popover-body {
    border: 1px solid blue;
}

.header-top-container {
    display: grid;
    grid-template-columns: 100px 0.5fr 2.5fr 400px;
    grid-column-gap: 20px;
    width: 100%;
    .logo {
        align-self: center;
        font-size: 25px;
    }
    .desktop-search {
        align-self: center;
    }
    .search-div {
        align-self: center;
        .header-search {
            border-radius: 25px;
            background: #f6f6f6;
            border: 0.5px solid #ededed;
            padding: 6px 20px !important;
             ::placeholder {
                color: black;
            }
        }
        .position-absolute {
            right: 6px;
            top: 3px;
            padding: 8px;
            color: #9c9d9d;
            cursor: pointer;
        }
    }
    .header-user-icon {
        justify-self: end;
        align-self: center;
        cursor: pointer;
        nb-actions nb-action {
            flex-wrap: nowrap !important;
            i {
                font-size: 23px;
                color: #828282;
            }
            .badges {
                top: -8px;
                right: 8px;
                width: 22px;
                padding: 4px;
                font-size: 8px;
                color: #ffffff;
                border-radius: 25px;
                letter-spacing: .2px;
                border: 2px solid #ffffff;
                background: var(--colorCommon);
            }
        }
    }
    .header-initial {
        button {
            font-size: 15px;
            padding: 8px 14px;
            border-radius: 4px;
            color: var(--colorBtnTxt);
            background: var(--colorCommon);
            border: 0.5px solid var(--colorBtnTxt);
            &:hover {
                opacity: .95;
                i {
                    margin-right: -2px;
                    transition: all .3s ease-in-out;
                }
            }
            i {
                font-size: 12px;
                padding-left: 6px;
                transition: all .3s ease-in-out;
            }
        }
    }
    // .langugage-menu {
    //     width: 150px;
    //     display: flex;
    //     justify-content: end;
    //     align-items: center;
    //     .dropdown-menu {
    //         // background-color: var(--colorBgbtn) !important;
    //         // color: var(--colorBtnTxt) !important;
    //         background-color: #FFF;
    //         color: var(--colorCommon) !important;
    //         border-top: 1px solid #eeee;
    //         /* border-top-left-radius: 5px; */
    //         border-bottom: 1px solid #ddd;
    //         /* border: 1px solid #eee; */
    //         border-top-left-radius: 0.375rem;
    //         border-top-right-radius: 0.375rem;
    //     }
    //     .btn-outline-primary {
    //         // border-top: var(--colorBgbtn) !important;
    //         border-color: var(--colorBgbtn) !important;
    //         color: var(--colorBgbtn) !important;
    //         padding-left: 15px;
    //         /* line-height: 1; */
    //         text-transform: capitalize;
    //         cursor: pointer;
    //     }
    //     .btn-outline-primary:disabled {
    //         cursor: not-allowed;
    //     }
    //     .btn-outline-primary:hover {
    //         // border-top: var(--colorBgbtn) !important;
    //         background-color: transparent;
    //         color: var(--colorCommon) !important;
    //     }
    //     .btn-primary {
    //         // border-top: var(--colorBgbtn) !important;
    //         // border-color: var(--colorBgbtn) !important;
    //         background-color: var(--colorBgbtn) !important;
    //         color: var(--colorBtnTxt) !important;
    //     }
    //     .dropdown-item {
    //         margin: 2px 0;
    //     }
    //     .dropdown-item:hover {
    //         background-color: var(--colorBgbtn) !important;
    //         color: var(--colorBtnTxt) !important;
    //     }
    //     .dropdown-item-active {
    //         background-color: var(--colorBgbtn) !important;
    //         color: var(--colorBtnTxt) !important;
    //     }
    // }
    .notification-card-container {
        overflow-y: auto;
        height: 270px;
        padding: 10px 10px 0 0;
        .notification-card {
            display: grid;
            grid-template-columns: 1fr 3fr;
            border-bottom: 1px solid #eee;
            // border-left: 2px solid #507BFC;
            padding: 10px 0;
            .notification-icon {
                display: block;
                border-radius: 50%;
                background: #507BFC;
                height: 40px;
                width: 40px;
                text-align: center;
                display: grid;
                // align-self: center;
                align-content: center;
                color: #fff;
                i {
                    font-size: 20px;
                }
            }
            .isReaded {
                background: #eee;
            }
            .notification-content {
                align-self: center;
                h6 {
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                }
            }
        }
        .notification-card:last-child {
            border-bottom: 0px;
        }
    }
    .control-item {
        position: relative;
        .icon_badge {
            position: absolute;
            top: -2px;
            right: 4px;
            padding: 4px;
            border-radius: 50%;
            background: #ff0000;
            border: 2px solid #fff;
        }
    }
    .no-notification {
        display: grid;
        height: 270px;
        width: 200px;
        text-align: center;
        align-items: center;
        span {
            font-size: 17px;
            color: #b3aeae;
        }
    }
}

@media screen and (max-width: 800px) {
    .user-name {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    .mobile-icon {
        width: 18%;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
        i {
            padding-top: 5px;
        }
    }
    .logo-text {
        display: inline-block !important;
        font-size: 20px;
        text-align: right;
        width: 80%;
        cursor: pointer;
    }
    .header-top-container {
        grid-template-columns: 150px 4fr 100px !important;
        grid-column-gap: 15px;
        .logo {
            display: flex;
        }
    }
    .header-top-container .search-div .header-search {
        padding: 7px 20px !important;
    }
    .user-name {
        display: none !important;
    }
    .user-picture {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .header-top-container {
        grid-template-columns: 120px 4fr 80px !important;
        grid-column-gap: 10px;
    }
    .logo-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .header-top-container {
        grid-template-columns: 120px 4fr 40px !important;
        grid-column-gap: 10px;
    }
    .rotate-bell {
        display: none;
    }
    nb-user {
        padding-left: 0px;
    }
}

// category
.category-section {
    .category-btn {
        margin: 12px 0;
        font-size: 13px;
        padding: 8px 8px;
        color: #050505;
        border: none;
        border: .2px solid;
        border-radius: 3px;
        background: #ffffff;
        i {
            font-size: 9px;
        }
    }
    .categories {
        top: 100%;
        z-index: 15;
        color: #000000;
        position: absolute;
        background: #ffffff;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                font-size: 13px;
                color: #5b5a5a;
                padding: 8px 16px;
                &:hover {
                    color: #000000;
                    background: #ededed;
                }
                i {
                    font-size: 10px;
                }
            }
        }
        .inner-list {
            overflow-y: auto;
            min-width: 220px;
            min-height: 40vh;
            max-height: calc(100vh - 4rem);
            box-shadow: 0px 2px 4px #8383837d;
        }
    }
}

.hideBlock {
    display: none;
}

.showBlock {
    display: block;
}

.justconend {
    justify-content: flex-end;
}

// ======================================
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 10px !important;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding: 100px 0 0;
    border: solid #f1f3f5;
    background-clip: padding-box;
    border-width: 2px 1px 1px 2px;
    background: #d1d2d3bf !important;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-track {
    border-width: 0 0 0 4px;
    border: solid transparent;
    background-clip: padding-box;
    border: 0.5px solid #e6e6e6;
    background: #ebeef0b0 !important;
    &:hover {
        background: #5f6368 !important;
        background: #ffffff !important;
         ::-webkit-scrollbar-thumb {
            background: #999ca0 !important;
        }
    }
}
