<!-- <div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div>
    <div class="logo" (click)="goToHome()">BFL<span> ILLUME </span></div>
     <span>portal</span>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>



  <div>
    <input class="headSearch" type="text" placeholder='Search for Course, Module, Activity'>
  </div>

  <div >
      <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
      <nb-actions
        size="medium"
        [class.right]="position === 'normal'"
        [class.left]="position === 'inverse'">
        <nb-action *nbIsGranted="['view', 'user']" >
          <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
        </nb-action>
        <nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
        <nb-action class="control-item" icon="nb-email"></nb-action>
        <nb-action class="control-item">
          <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
        </nb-action>
      </nb-actions>
  </div>

</div> -->

<div class="header-top-container desktop-search">
  <div class="logo">
    <div class="mobile-icon" (click)="toggleSidebar()">
      <i class="material-icons"> menu </i>
    </div>
    <div class="logo_img" (click)="goToHome()">
      <img
        [src]="currentBrandData?.dashboard_logo"
        *ngIf="!featureConfig?.allowDynamicDbLogoImage"
      />
      <img
        [src]="themebind()"
        (onError)="errorHandler($event)"
        *ngIf="featureConfig?.allowDynamicDbLogoImage"
      />
    </div>

    <!-- <div class="logo-text" (click)="goToHome()">BFL<span style="color: #507BFC;"> ILLUME </span></div> -->
  </div>

  <div
    class="category-section m-auto position-relative"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
  >
    <ng-container *ngIf="featureConfig?.catgoryDropDown?.show">
      <button class="category-btn cursor-p">
        Categories <i class="fas fa-chevron-down"></i>
      </button>
      <div
        class="categories"
        [ngClass]="{ hideBlock: hideflag, showBlock: !hideflag }"
      >
        <div class="categories-inner d-flex">
          <div class="inner-list scrlcls">
            <ul>
              <li
                class="m-0 cursor-p d-flex align-items-center justify-content-between"
                (mouseover)="innnerTag(item, levelUp, 0)"
                (mouseout)="removeInner(item)"
                *ngFor="let item of catalogueCategories"
                (click)="goToCategory(item, false)"
              >
                {{ item.categoryName }}
                <i
                  class="fas fa-angle-right"
                  *ngIf="item.children.length > 0"
                ></i>
              </li>
            </ul>
          </div>
          <div
            class="inner-list scrlcls"
            *ngFor="let innerCategory of innerArray"
          >
            <ul>
              <!-- (mouseout)="removeInner(inner)" -->
              <li
                class="m-0 cursor-p d-flex align-items-center justify-content-between"
                *ngFor="let inner of innerCategory.children"
                (mouseover)="innnerTag(inner, levelUp, null)"
                (click)="goToCategory(inner, true)"
              >
                {{ inner.categoryName }}
                <i
                  class="fas fa-angle-right"
                  *ngIf="inner?.children.length > 0"
                ></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="search-div position-relative">
    <!-- <input type="text" class="form-control header-search" placeholder='Search for Courses' (keydown.enter)='searchOnPage($event)' [(ngModel)]="searchTerm"> -->
    <input
      type="text"
      class="form-control header-search"
      placeholder="Search for Courses"
      [formControl]="searchControl"
    />
    <i
      class="fas fa-times position-absolute"
      *ngIf="searchTerm !== ''"
      (click)="clearSearch()"
    ></i>
  </div>

  <!-- <div class="header-wishlist-icon" (click)="goToWishList()" *ngIf="showOptions && featureConfig?.catgoryDropDown?.Bajaj">
        <i class="fa fa-heart pointerClass" aria-hidden="true"></i>
    </div> -->

  <div class="header-user-icon" *ngIf="showOptions">
    <nb-actions
      class="justconend"
      size="medium"
      [class.left]="position === 'left'"
    >
      <!-- <nb-action>
                <div class="dropdown langugage-menu">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggelLanguageDropDown();" [disabled]="disableLanguageChange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{defaultLangugae?.languageName ? defaultLangugae?.languageName : 'Select Language'}}
              </button>
                    <div class="dropdown-menu" [ngStyle]="{'display': toggelLanguageMenu? 'block' : 'none' }" aria-labelledby="dropdownMenuButton">

                        <div class="dropdown-item text-capitalize" (click)="updateLanguageData(item)" *ngFor="let item of languageList" [ngClass]="{'dropdown-item-active': defaultLangugae?.languageId == item?.languageId}">
                            {{item?.languageName}}
                        </div>

                    </div>
                </div>
            </nb-action> -->

      <nb-action
        class="header-wishlist-icon"
        (click)="goToWishList()"
        *ngIf="showOptions && featureConfig?.wishlist?.show"
      >
        <i class="far fa-heart pointerClass" aria-hidden="true"></i>
      </nb-action>

      <nb-action
        *ngIf="notificationMenu?.length > 0"
        class="position-relative"
        outline
        [ngbPopover]="list"
        placement="bottom"
      >
        <i class="far fa-bell" aria-hidden="true"></i>
        <div class="badges position-absolute text-center">
          <span *ngIf="unReadMessageCount >= 9">9+</span>
          <span *ngIf="unReadMessageCount < 9">{{ unReadMessageCount }}</span>
        </div>
      </nb-action>

      <nb-action
        *ngIf="notificationMenu?.length == 0"
        class="control-item control-item-dis"
        outline
      >
        <i class="far fa-bell" aria-hidden="true"></i>
      </nb-action>

      <nb-action>
        <nb-user
          (click)="gotoProfile()"
          [name]="user?.name"
          [picture]="user?.picture"
        ></nb-user>
      </nb-action>
    </nb-actions>
  </div>

  <div class="header-initial" *ngIf="!showOptions">
    <nb-actions
      class="d-flex justify-content-end align-items-center h-100"
      size="medium"
      [class.right]="position === 'right'"
    >
      <nb-action>
        <button
          class="log-in cursor-p"
          type="button"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="goToLogin()"
        >
          Log in <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </nb-action>
      <!-- <nb-action>
                <button class="log-in cursor-p" type="button" aria-haspopup="true" aria-expanded="false">
                    Sign Up
                </button>
            </nb-action> -->
    </nb-actions>
  </div>

  <ng-template #list class="arrange">
    <div class="notification-card-container" *ngIf="notificationMenu">
      <div
        class="notification-card"
        (click)="openNotification(notifications)"
        *ngFor="let notifications of notificationMenu"
      >
        <div class="notification-icon control-item">
          <i class="material-icons"> notifications_active </i>
          <div class="icon_badge" *ngIf="notifications.isRead == 0">
            <!-- {{unReadMessageCount}} -->
          </div>
        </div>
        <div class="notification-content">
          <h6>{{ notifications.title }}</h6>
          <p [innerHTML]="notifications.message"></p>
          <p>
            {{ notifications.senddate | date: "dd-MMM-yyyy" }}
            {{ notifications.senddate | date: "hh:mm" }}
          </p>
        </div>
      </div>
      <!-- <nb-list
      nbInfiniteList
      listenWindowScroll
      [threshold]="250"
      (bottomThreshold)="loadNext()">
      <nb-list-item *ngFor="let notifications of notificationMenu">

        <div class="notification-content">
          <h6>{{ notifications.title }}</h6>
         <p>{{ notifications.message }}</p>
      </div>
      </nb-list-item>

    </nb-list> -->
    </div>
    <div class="no-notification" *ngIf="!notificationMenu">
      <!-- <i class="material-icons">
            notifications_off
            </i> -->
      <span>You Dont Have Any Notification</span>
    </div>
    <!-- <nb-card>
          <nb-card-body>

            <nb-user size="middle"
                    name="John Doe"
                    title="Engineer">
            </nb-user>

          </nb-card-body>
        </nb-card>   -->
  </ng-template>
</div>

<!-- <div class="mobile-div">
    <div class="mobile-icon">
        <i class="material-icons">
          menu
          </i>
    </div>
  <div class="logo">
      <div class="logo" (click)="goToHome()">BFL<span> ILLUME </span></div>
  </div>
</div>

<div class="mobile-search">
    <div class="search-div">
        <input  type="text" class="form-control header-search" placeholder='Search for Course, Module, Activity'>
    </div>
</div> -->

<div class="faq_div" *ngIf="showfaqs">
  <div class="header_title">
    <div>Help</div>
    <div class="close_div" (click)="closeFaq()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
  <ngx-faq></ngx-faq>
</div>

<!--  -->

<div class="feedback_div" *ngIf="showSendFeedback">
  <div class="inside_content">
    <div class="header_title">
      <div>Send Feedback</div>
      <div class="close_div cursor-p" (click)="closeSendFeedback()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <ngx-send-feedback
      (feedBackSent)="sendFeedback($event)"
      [screencapture]="imageSrc"
    ></ngx-send-feedback>
  </div>
</div>
