<div class='attendanceCard'>

	<div>
		<div class="attendance-content">
			<div class="title-content">
				<h4> {{ courseTitle }} </h4>
			</div>
			<div class="closeDiv">
				<div class='close' (click)='goBack()'>
					<i class="fa fa-times closeIcon" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div>

			<div class="row">
				<div id='courseDescription' *ngIf="description" class="col-md-12 thirty-years-after-d">
					<!-- {{ courseDetail.description }} -->
					<div [innerHtml]="description"></div>
				</div>
			</div>

			<div class="attendance-content-div">
				<div class="innerContent">
					<button class="attendancebtn" (click)="markAttendance()" *ngIf="!displaymsg">Mark
						Attendance</button>

					<p class="dispmsg" *ngIf="displaymsg"> Your attendance for this course has been marked successfully.
					</p>

				</div>

			</div>
		</div>

		<!-- <div class="row">
				<div id='courseDescription'  class="col-md-12 thirty-years-after-d">
					<div [innerHtml]="description"></div>
				</div>
		</div> -->
	</div>


</div>