<!-- <div class="contentHeading">
  <div class="courseIcon">
      <i class="fas fa-chalkboard-teacher"></i>
  </div>
  <div class="courseWrapper">
      <p class="courseTITLE">{{nomineeContent.courseName}}</p>
      <p class="courseDescription">Course Description</p>
  </div>

</div> -->
<div class="contentTabs">
  <!-- <div
    class="content-Tab-container"
    *ngFor="let tabs of nomineeModules; let i = index"
    [ngClass]="
      ActiveTab == i ? 'content-Tab-container-active' : 'content-Tab-container'
    "
    (click)="tabChanged(tabs)"
  >
    <div
      class="Tab-content-body"
      [ngClass]="
        ActiveTab == i ? 'Tab-content-body-active' : 'Tab-content-body'
      "
    >
      {{ tabs.moduleName }}
    </div>
  </div> -->
</div>

<!-- <div class="contentBODY" *ngFor="let content of nomineeContent; let i = index">
    <div class="cardOVerLay">
        <img class="contentImg" [src]="content.img" />
    </div>
    <div class="contentBlock col-9">
        <div class="contentTitle row">
            <p class="activityTitle col-5">

                <span class="activityName">{{ content.activityName }}</span>
            </p>

            <div class="col-md-2 centerALign">
                <img *ngIf="content.bookmarked == true" class="save" src="assets/images/bookmarked.svg" />
                <img *ngIf="content.bookmarked == false" class="unsaved" src="assets/images/notBookmarked.svg" />
            </div>
        </div>
        <div class="description">
            <p>{{ content.summary }}</p>
        </div>
        <div class="contentbtns" [ngClass]="{'begin': content.wCompleted == 0, 'completed':content.wCompleted == 1}">
            <div class="beginbtn" *ngIf="content.wCompleted == 0" (click)="goToCourse(content)">
                <spn>
                    Begin
                </spn>
            </div>
            <div class="beginbtn" *ngIf="content.wCompleted == 1">Completed on {{content.completedDate | date:"dd-MMM-yyyy"}}</div>
        </div>
    </div>


</div> -->
<div class="pt-2 pb-2" *ngFor="let activity of nomineeContent">
  <ngx-activity-card
    [data]="activity"
    [disabledAction]="disabledGoToCourse"
    (getEvent)="preformActionOnAcitivty($event)"
  ></ngx-activity-card>
</div>
<div class="addSelfBackdrop2" [hidden]="!passCheck">
  <div class="addSelfDemoModal2">
    <h1 class="modalheader">Enter password to access quiz</h1>

    <form [formGroup]="resetPwdForm" class="formR">
      <mat-form-field class="matblock">
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          [(ngModel)]="password"
          [ngClass]="{
            'is-invalid': submitted && resetPwdForm?.get('password')?.errors
          }"
          passwordToggle
        />
        <!-- && f.password.errors -->
        <mat-error *ngIf="submitted">
          <mat-error *ngIf="resetPwdForm?.get('password')?.errors.required"
            ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Password is required</mat-error
          >
          <mat-error *ngIf="resetPwdForm?.get('password')?.errors.minlength"
            ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Password must be at least 6 characters</mat-error
          >
        </mat-error>
      </mat-form-field>
      <div *ngIf="submitted">
        <div *ngIf="passWrong" class="passWrong">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Password is
          wrong
        </div>
      </div>
    </form>

    <div class="butns">
      <button class="change closeBtn" (click)="close()">Cancel</button>
      <button type="submit" class="change" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>

<div class="addSelfBackdrop2" [hidden]="!displayInstructions">
  <div class="addSelfDemoModal2">
    <h1 class="modalheader">Instructions</h1>

    <p *ngIf="checkResponse">{{ checkResponse.instructions }}</p>

    <div class="butns">
      <button class="change closeBtn" (click)="close()">Cancel</button>
      <button type="submit" class="change" (click)="onSubmit1()">Submit</button>
    </div>
  </div>
</div>
