ngx-eee-module {
  width: 100%;
  .courseIcon {
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: #f7a076;
    font-size: 20px;
    margin: auto 0;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
  }

  .courseWrapper {
    width: 100%;
    text-align: left;
  }

  .contentHeading {
    display: flex;
  }
  .courseDescription {
    opacity: 0.6;
    color: #464646;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0;
  }

  .courseTITLE {
    color: #464646;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0rem !important;
    text-align: left;
  }

  .contentTabs {
    display: inline-flex;
    margin: 20px 0;
  }

  .content-Tab-container {
    height: 35px;
    // width: 150px;
    padding: 0px 10px;
    border-radius: 17px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    margin-right: 10px;
    cursor: pointer;
  }

  .Tab-content-body {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
  }

  .content-Tab-container-active {
    height: 35px;
    // width: 150px;
    padding: 0px 10px;
    border-radius: 17px;
    background-color: #507bfc;
    box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    margin-right: 10px;
  }

  .Tab-content-body-active {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32.5px;
    text-align: center;
  }

  .contentBODY {
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 20px;
  }

  .contentImg {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .cardOVerLay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    // margin-right: 12px;
    width: 35%;
  }

  .contentBlock {
    margin: 12px 0;
    width: 100%;
  }

  .contentTitle {
    display: inline-flex;
    width: 100%;
  }

  .activityId {
    color: #507bfc;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .activityName {
    color: #1b2437;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }

  .activityTitle {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .centerALign {
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
  }

  .bMHP2 {
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin: auto 20px;
  }

  .onlineIMG {
    height: 20px;
    margin: auto 0;
  }

  .unsaved {
    cursor: pointer;
    width: 15px;
    float: right;
  }
  .save {
    cursor: pointer;
    width: 18px;
    float: right;
  }

  .description {
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 15px;
    font-family: "open sans";
    line-height: 24px;
  }

  .contentbtns {
    height: 40px;
    width: 228px;
    border-radius: 10px;
    // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
    // margin-top: 45px;
    // margin-right: 30px;
    float: right;
    cursor: pointer;
    .beginbtn {

      // color: #ffffff;
      color: var(--colorBtnTxt);
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-align: center;
      padding: 10px;
    }
  }
  .begin{
    // background-color: #507bfc;
    background-color: var(--colorBgbtn);
    border: 1px solid var(--colorBtnTxt);
  }
  .completed{
    background-color: #aaaaaa;
  }
  .mar-auto {
    margin: auto;
  }

  // .beginbtn {
  //   background-color: #507bfc;
  //   color: #ffffff;
  //   font-family: "Open Sans";
  //   font-size: 16px;
  //   font-weight: 600;
  //   line-height: 19px;
  //   text-align: center;
  //   padding: 10px;
  // }

  .addSelfBackdrop2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: #40404075;
    .addSelfDemoModal2 {
      width: 40%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      position: fixed;
      p {
        text-align: left;
      }
    }
  }
  .modalheader {
    font-family: "Open sans";
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 12px;
  }
  .butns {
    text-align: right;
  }
  .change {
    padding: 8px 16px;
    font-size: 14px;
    background: var(--colorBgbtn);
    border: 1px solid var(--colorBtnTxt);
    color: var(--colorBtnTxt);
    border: none;
    border-radius: 10px;
    margin-left: 6px;
    outline: none !important;
    cursor: pointer;
  }
  .closeBtn {
    background: var(--colorBtnTxt);
    border: 1px solid var(--colorBgbtn);
    color: var(--colorBgbtn);
  }
}
