ngx-level1{



.titlePara{
    margin: 0;
    line-height: 1.2;
    color: #615f5f;
    font-weight: 600;
    width: 100%;
}
.question-image-level-1{
  width: auto;
  height: 100px;
  margin: 10px 0;
}
// .buttonInCenter{
//     margin: auto;
// }

// .titleDiv_table{
//     font-size: 20px;
//     color:#000;
//     margin: 30px 0 20px 0;
//     // text-align: center;
//     p{
//         margin: 0;
//         line-height: 40px;
//         color: #615f5f;
//         font-weight: 600;
//         width: 100%;
//         // text-align: center;
//     }
//     .tabs-layouts{
//         display: flex;
//         margin-top: 10px;
//         cursor: pointer;
//         flex-wrap: wrap;
//         .tabs_single{
//             background-color: #fff;
//             color: #507BFC;
//             // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
//             margin-right: 10px;
//             min-width: 100px;
//             // padding: 10px;
//             margin-top: 10px;
//             font-weight: 100 !important;
//             border-radius: 17px;
//             overflow-x: auto;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             p{
//                 margin: 0;
//                 // color: #FFFFFF;
//                 font-family: "Open Sans";
//                 font-size: 16px;
//                 font-weight: 100;
//                 color: inherit;
//                 text-align: center;
//             }
//         }
//         .tabs_single_active{
//             background-color: #507BFC;
//             color: #fff;
//         }
//     }
// }

.titlerow{
    display: grid;
    grid-template-columns: 60px 4fr 2fr;
    margin: 0;
    // height: 60px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    align-items: center;
    // height: 100%;
}

.scoreCard{
    display: grid;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    // background: #03A9F4;
    color: #fff;
    padding: 6px;
    font-size: 18px;
    justify-content: center;
    border-radius: 10px;
    // box-shadow: 1px 4px 10px #ccc;
}
.scoreCard1{
    background: #507BFC;
}
.scoreCard2{
    background: #5ACEF7;
}

.scoreCard3{
    background: #FECE46;
}

.accordian_conatiner{
    margin-top: 18px;
    .content_end{
        justify-content: flex-end;
    }
    .mat-expansion-panel-content{
        border-top: 1px solid #eee;
        // padding-top: 20px;
    }
    .expansion_panel_relative{
        position: relative;
    }
    .npa_score{
        padding-left: 10px;
    }
    .go_to_page{
        position: absolute;
        top: 10px;
        left: 30%;
    }
    .section_container{
        margin-top: 20px;
        box-shadow: 1px 4px 10px #ccc;
        .inside_content_conatiner{

            .feedback_section_name_Container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                // background: #507bfc;
                background: var(--colorCommon);
                padding: 10px 20px;
                color: #FFF;
                .section_name{
                    text-align: left;
                }
                .section_marks{
                    text-align: right;
                }
            }
            table{

                thead{
                    // text-transform: uppercase !important;
                    text-transform: capitalize !important;
                    padding: 0 20px;
                }
                th:last-child{
                    // text-align: right;
                }
                td{
                    padding: 0 20px;
                    text-align: left;
                    text-overflow: wrap;
                }
                td:first-child{
                    width: 65vw;
                }
                td:last-child{
                   text-align: left;
                }
                th:first-child{
                    text-align: left;
                }
            }
        }
    }
}



.scorNum{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.scoreTxt{
    font-size: 18px;
    text-align: center;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 18px;
    // height: 100px;
}

.col1{
    display: flex;
    padding-left: 0;
}

.titlesub{
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    margin: 0;
}

.icwe{
    padding: 0;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.hedico{
    background: #e63434;
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    margin: auto;
}

table{
    font-family: "open sans" !important;
}

.downloadbtn{
    background: #ffffff;
    font-size: 18px;
    // border: 1px solid #507BFC;
    border: 1px solid var(--colorIcons);
    // color: #507BFC;
    color: var(--colorIcons);
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 12px;
}

.gobtn{
    color: var(--colorBtnTxt) !important;
    border: 1px solid var(--colorBtnTxt) !important;
    background-color: var(--colorBgbtn);
}

.dwnico{

    margin: AUTO;
    margin-right: 10px;
}

.tableContent{
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
}

th{
text-align: left;
height: 50px;
font-weight: 100;
color: #4a4848;
// border-left: 0.5px solid #e8e8e89c;
padding: 10px 20px;
}

.subheader{
    background: #e8e8e8;
}

tr{
    height: 60px !important;
    font-weight: 100;
    font-size: 16px;
    color: #4a4848 !important;
    padding: 0 20px;
}


.header167{
    padding: 20px;
    width: 100%;
    margin: auto;
    // border-bottom: 0.5px solid #e8e8e89c;
}


.searchin{
        padding: 10px;
    border-radius: 10px;
    border: 1px solid #bebdbd;
    color: #464646;
    font-size: 17px;
    font-family: FontAwesome, "Open Sans";
    width: 300px;
    outline: none;
    line-height: 20px;
}

.firstcol{
    display: flex;
}

.noDataGrid{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 20px;
}

.pname{
    margin: auto;
    line-height: 40px;
}

.bdg{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: auto;
    background: #03A9F4;
    border-radius: 5px;
    margin-left: 20px;
}

.rowData{
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.rowData:nth-child(odd){
    // text-align: center;
    font-size: 16px;
    background: #e8e8e89c;
}

.borderRight{
    border-right: 0.5px solid #f4efef;
}
}
