<div class="mainskl">
  <div class="headerBlock">
      <div class="inner-banner--left">
          <h2 class="loader inprogress"></h2>
          <div class="loader inprogress detailblock"></div>
          <div class="loader inprogress detailblock"></div>
          <div class="loader inprogress detailblock"></div>
          <div class="loader inprogress detailblock"></div>
          <button class="loader inprogress tempbtn"></button>
      </div>
      <div class="inner-banner--right">
          <div class="imagesize loader inprogress"></div>
      </div>
  </div>
  <div class="bodyBlock">
      <h5 class="loader inprogress"></h5>
      <h6 class="loader inprogress"></h6>
      <ul>
          <li class="loader inprogress"></li>
          <li class="loader inprogress"></li>
          <li class="loader inprogress"></li>
      </ul>

      <h5 class="loader inprogress"></h5>
      <h3 class="loader inprogress"></h3>
      <p class="loader inprogress"></p>

      <h5 class="loader inprogress"></h5>
      <h3 class="loader inprogress"></h3>
      <p class="loader inprogress"></p>

      <h5 class="loader inprogress"></h5>
      <h3 class="loader inprogress"></h3>
      <p class="loader inprogress"></p>
  </div>
</div>
