.mainskl{
    height: 100%;
    overflow: hidden;
    .headerBlock{
        height: 220px;
        background: linear-gradient(122deg, #d7f4f8 0%, #e8f0fa 63%);
        padding: 30px 48px;
        .inner-banner--left {
            float: left;
            width: 82%;
            h2{
                height: 30px;
                width: 70%
            }
            .detailblock{
                width: 30%;
                height: 13px;
                margin-bottom: 10px;
            }
            .tempbtn{
                height: 30px;
                width: 15%;
                border: none;
            }
        }
        .inner-banner--right {
            top: 0;
            width: 15%;
            float: right;
            position: relative;
            .imagesize{
                height: 160px;
            }
        }
    }
    .bodyBlock{
        background: #fff;
        height: 100%;
        padding: 30px 48px;
        h5{
            width: 30%;
            height: 25px;
        }
        h6{
            width: 55%;
            height: 20px;
        }
        li{
            height: 13px;
            margin-bottom: 10px;
            width: 30%;
        }
        h3{          
            width: 13%;
            height: 16px;
        }
        p{
            width: 40%;
            height: 13px;
        }
    }
}

// .inprogress {
//     background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
//     background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
//     -webkit-animation: 2s ease-in-out infinite progress;
//     animation: 2s ease-in-out infinite progress;
//     background-size: 200px 100%;
// }

.inprogress {
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    ) !important;
    animation: 2s ease-in-out infinite progress;
    background-size: 200px 100% !important;
  }

.loader {
    height: 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    will-change: transform;
    // background: no-repeat #eff1f6;
    background: no-repeat #e3e3e3;
}

@keyframes progress {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
}