<div>
  <div class="buttonInCenter">
    <button class="downloadbtn" (click)="back()">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="viewFeedBtn" (click)="Edit(mnomineedetail, 0)">
        ADD
      </button>
  </div>
  <div class="ttt-mattabs">
    <mat-tab-group>
      <mat-tab label="Upcoming Call">
          <div class="wrapBOth-container" *ngIf="!ucall">
          <div class="participantContainer">
            <div>
              <mat-card class="participantCard">
                <table>
                  <tr class="tablerow">
                    <th>Employee name</th>
                    <th>Trainer Name</th>
                    <th>Manager Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Call time</th>
                    <th></th>
                  </tr>
                  <tr
                    class="tablerow"
                    *ngFor="let upcall of upcomingcall; let i = index"
                  >
                    <td>{{ upcall.empName }}</td>
                    <td>{{ upcall.trainerName }}</td>
                    <td>{{ upcall.managerName }}</td>
                    <td>{{ upcall.startdate }}</td>
                    <td>{{ upcall.enddate }}</td>
                    <td>{{ upcall.calldate}}</td>
                    <td>
                      <button class="viewFeedBtn1" (click)="Edit(upcall, 1)">
                        Edit
                      </button>
                    </td>
                  </tr>
                </table>
              </mat-card>
            </div>
          </div>
        </div>
        <div *ngIf="ucall" class="no_data_found">
         No data found
        </div>
      </mat-tab>
      <mat-tab label="Past Call">
          <div class="wrapBOth-container" *ngIf="!pcall">
          <div class="participantContainer">
            <div>
              <mat-card class="participantCard">
                <table>
                  <tr class="tablerow">
                    <th>Employee name</th>
                    <th>Trainer Name</th>
                    <th>Manager Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Call time</th>
                    <th></th>
                  </tr>

                  <!-- {{pastcall}} -->
                  <tr
                    class="tablerow"
                    *ngFor="let pacall of pastcall; let i = index"
                  >
                    <td>{{ pacall.empName }}</td>
                    <td>{{ pacall.trainerName }}</td>
                    <td>{{ pacall.managerName }}</td>
                    <td>{{ pacall.startdate }}</td>
                    <td>{{ pacall.enddate }}</td>
                    <td>{{ pacall.calldate}}</td>
                    <td>
                      <button class="viewFeedBtn1" (click)="Edit(pacall, 1)">
                        Edit
                      </button>
                    </td>
                  </tr>
                </table>
              </mat-card>
            </div>
          </div>
        </div>
        <div *ngIf="pcall" class="no_data_found">
          No data found
        </div>
        <!-- <ngx-cc-content [callcontent]="contentdata"></ngx-cc-content> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="popup-modal-window" *ngIf="editcall">
    <div class="popDiv show" [ngClass]="{'show-popup-container': isError}">
        <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">{{title}}</h5>
                <span (click)="closemodel()"><i class="fa fa-times" aria-hidden="true"></i></span> 
        </div>
        <div class="modal-body">
            <!-- <p>{{errorMsg}}</p> -->
            <form [formGroup]="addCallForm">
                <div class="grid_content">
                    <div class="">
                      <p class="labels">Employee name</p>
                      <p class="labels">{{calldetail.empName}}</p>
                      <!-- <label>Employee name</label>
                      <p>{{calldetail.empName}}</p> -->
                    </div>
                    <div class="">
                        <!-- <mat-form-field class="fullWidth">
                          <mat-select [(ngModel)]="calldetail.trainerId" placeholder="Trainer name"
                           id="trainerId" name="trainerId" [ngModelOptions]="{standalone:true}" required formControlName="trainerId" [ngClass]="{ 'is-invalid': submitted && f.trainerId.errors }">
                              <mat-option value="" selected disabled>Select Trainer</mat-option>
                              <mat-option *ngFor="let trainer of trainerlist" [value]="trainer.id">{{trainer.trainerName}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="submitted && f.trainerId.errors">
                              <mat-error *ngIf="f.trainerId.errors.required"><i class="fa fa-exclamation-circle"
                                      aria-hidden="true"></i> Please select the trainer.
                              </mat-error>
                          </mat-error>
                        </mat-form-field> -->

                        <mat-form-field>
                          <mat-select [(ngModel)]="calldetail.trainerId" [ngModelOptions]="{standalone:true}" [formControl]="trainerCtrl"
                           placeholder="Trainer name" name="trainerId" ngDefaultControl #singleSelect required formControlName="trainerV"
                            [ngClass]="{ 'is-invalid': submitted && f.trainerV.errors }">
                            <mat-option>
                              <ngx-mat-select-search [placeholderLabel]="placeholderLabel" [noEntriesFoundLabel]="'no matching record found'" [formControl]="trainerFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let trainer of filteredTrainers | async" [value]="trainer.id">
                              {{trainer.trainerName}}
                            </mat-option>
                          </mat-select>

                          <mat-error *ngIf="submitted && f.trainerV.errors">
                            <mat-error *ngIf="f.trainerV.errors.required"><i class="fa fa-exclamation-circle"
                                    aria-hidden="true"></i> Please select the trainer.
                            </mat-error>
                        </mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="grid_content">
                    <mat-form-field class="fullWidth">
                      
                      <!-- <p>{{calldetail.startdate}}</p> -->
                      <input matInput placeholder="Start date" class="" [min]="min"
                      [(ngModel)]="calldetail.callStartDate" required [ngModelOptions]="{standalone:true}" formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }"
                      [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" (dateTimeChange)="onSearchFromDateChange($event.value)">
                      <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                      <mat-error *ngIf="submitted && f.startDate.errors">
                          <mat-error *ngIf="f.startDate.errors.required"><i class="fa fa-exclamation-circle"
                                  aria-hidden="true"></i> Please enter start date.
                          </mat-error>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field class="fullWidth">
                      <input matInput  class="" placeholder="End date" (dateTimeChange)="onSearchToDateChange($event.value)" [min]="calldetail.callStartDate"
                      [(ngModel)]="calldetail.callEndDate" [ngModelOptions]="{standalone:true}" required formControlName="endDate" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }"
                      [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
                      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                      <!-- <p>{{calldetail.enddate}}</p> -->
                      <mat-error *ngIf="submitted && f.endDate.errors">
                          <mat-error *ngIf="f.endDate.errors.required"><i class="fa fa-exclamation-circle"
                                  aria-hidden="true"></i> Please enter end date.
                          </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="grid_content">
                      <mat-form-field class="fullWidth">
                        <!-- <p>{{calldetail.startdate}}</p> -->
                        <input matInput class="" placeholder="Call date time" [min]="minDatefrom" [max]="minDateTo"
                        [(ngModel)]="calldetail.callDateTime" required [ngModelOptions]="{standalone:true}" formControlName="callDate" [ngClass]="{ 'is-invalid': submitted && f.callDate.errors }"
                        [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
                        <owl-date-time #dt3></owl-date-time>
                        <mat-error *ngIf="submitted && f.callDate.errors">
                            <mat-error *ngIf="f.callDate.errors.required"><i class="fa fa-exclamation-circle"
                                    aria-hidden="true"></i> Please enter call date and time.
                            </mat-error>
                        </mat-error>
                      </mat-form-field>
                      <!-- <div class="col col-md-6">
                        <h5>End Date</h5>
                        <input class="call-calendar" [min]="calldetail.callStartDate"
                        [(ngModel)]="calldetail.callEndDate"
                        [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                        <p>{{calldetail.enddate}}</p>
                      </div> -->


                     
                  </div>
            </form>
        </div>
        <div class="modal-footer">
                <button type="button" class="savbutton" data-dismiss="modal" (click)="savecall(calldetail)">Save</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div> 
    </div>
</div>