ngx-partner-nominee-call {
  .ttt-mattabs {
    width: 100%;
    margin: auto;
    // margin-top: 30px;
  }
  .mat-tab-label-active {
    background: #008eff !important;
    color: #fff !important;
  }

  .mat-tab-body {
    //   margin-top: 35px !important;
    margin-bottom: 35px !important;
  }

  .mat-tab-header {
    // width: 40% !important;
    // margin: auto !important;
  }

  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-tab-label {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #507bfc;
    font-size: 16px;
    height: 48px;
    color: #507bfc;
    opacity: 1 !important;
  }

  .mat-tab-labels {
    width: 60%;
    margin: 0 auto;
  }
  .mat-tab-label:first-child {
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
  }

  .mat-tab-label:last-child {
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
  }

  .mat-tab-group {
    width: 100% !important;
    margin: auto;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    visibility: hidden !important;
  }

  .mat-tab-header,
  .mat-tab-nav-bar {
    border: none !important;
  }
  .downloadbtn {
    background: #03a9f4;
    border: none;
    font-size: 22px;
    color: #fff;
    // border: 2px solid;
    height: 50px;
    width: 53px;
    text-align: center;
    // line-height: 50px;
    padding: 0;
    // margin: auto;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 4px 7px 16px 0 #0796d685;
  }
  .no_data_found {
    background: #fff;
    padding: 50px;
    margin: 40px;
    text-align: center;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
  }
  .viewFeedBtn {
    width: 20%;
    padding: 10px 20px;
    height: 40px;
    background: #008EFF;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    -webkit-box-shadow: 1px 5px 4px #c5c9f8;
    box-shadow: 1px 5px 4px #c5c9f8;
    cursor: pointer;
    margin-left: auto;
}

  .padding24px{
    padding: 24px;
  }

  .viewFeedBtn1 {
    // width: 30%;
    padding: 10px 20px;
    background: #5680fc;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    box-shadow: 1px 5px 4px #c5c9f8;
    cursor: pointer;
    margin-left: auto;
  }
  .call-calendar {
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 5px;
  }

  .fullWidth{
    width: 100%;
  }

  .grid_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    text-align: left;
    font-size: 16px;
    color: #5d5d5d;
  }

  .labels{
    font-weight: 600 !important;
    font-size: 15px;
    margin: 0;
    line-height: 28px;
    color: #ababab;
  }

  .savbutton{
    background: #5D85FC;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    color: #fff;
  }

  .selectedtrain {
    border: 1px solid gray;
    width: 80%;
    padding: 10px 10px;
    border-radius: 5px;
  }
  cursor: pointer;
  .buttonInCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrapBOth-container {
    .participantCard {
      margin-top: 20px;
      padding: 0 !important;
    }

    table {
      width: 100%;
    }
  }
  .tablerow {
    height: 60px !important;
    text-align: center !important;
    font-size: 16px !important;
  }

  .tablerow:nth-child(even) {
    background: #f3f2f2;
  }

  .popup-modal-window {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;

    .popDiv {
      transition: ease 0.75s all;
      -webkit-transform: translate(50%, -50%);
      margin: auto;
      //   opacity: 0;
      width: 500px;
      // height: 200px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      z-index: 2;
      background: white;
      text-align: center;
      border-radius: 6px;
      .model-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
      }
      .modal-title {
        width: 100%;
        color: #000;
      }
      .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;
      }
      .modal-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: center;
        padding: 1rem;
        border-top: 1px solid #e9ecef;
      }
    }
    .show-popup-container {
      opacity: 1;
    }
  }
}
