ngx-survey {
  .survey_container {
    // padding: 2.25rem 2.25rem 0.75rem !important;
    width: 100%;
  }

  .survey-headding {
    display: flex;
    align-items: center;
  }

  .surveyrocket {
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 20px;
    // background: #507bfc;
    // color: #fff;
    color: var(--colorIcons);
    border: 1px solid var(--colorIcons);
    border-radius: 6px;
    // box-shadow: 2px 7px 18px 0 rgba(80, 123, 252, 0.5);
  }

  .surveyheading {
    padding: 0;
    margin: auto;
  }

  .noDataTitle {
    margin: 0;
    font-size: 24px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back_button {
    background: #ffffff;
    border: none;
    font-size: 18px;
    // border: 1px solid #507BFC;
    // color: #507BFC;
    color: var(--colorIcons);
    border: 1px solid var(--colorIcons);
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
  }

  .survey-title {
    font-family: "open sans";
    text-transform: capitalize;
    margin-left: 16px;
    margin-bottom: 0;
    font-size: 24px;  }

  .surveymarginbottom {
    margin-bottom: 30px;
  }

  .question64 {
    font-family: "open sans";
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: justify;
  }

  .answer434 {
    text-align: center;
    padding: 20px;
    width: 50%;
  }

  .margBotm {
    margin-bottom: 10px;
  }

  .options45 {
    width: 100%;
    border: none;
    height: 40px;
    // padding: 20px 0;
    margin: auto;
    font-size: 22px;
    border-radius: 15px;
    background-color: #ecf0fd;
    // color: #2196f3;
    // color: #475edc;
    color: var(--colorCommon);
  }

  .surveyRow {
    width: 100%;
    margin: auto;
    margin-top: 12px;
  }

  .mandatoryQues {
    color: red;
  }

  .surveyMat {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.12) !important;
    box-shadow: none !important;
    border-radius: 10px;
  }

  .txtArea {
    width: 100%;
    max-width: 700px;
    font-size: 20px;
    outline: none;
    // margin-left:20px;
    // resize: none;
    // border: 2px solid #7d9af3;
    border: 1px solid var(--colorCommon);
    padding: 10px;
    border-radius: 10px;
  }
  .questions-answer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    row-gap: 20px;
    align-content: flex-start;
  }
  .active {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 22px;
    border-radius: 15px;
    color: #ecf0fd;
    // background-color: #2196f3;
    background-color: var(--colorCommon);
  }

  button:focus {
    outline: 0;
  }

  .nextbtn {
    width: 400px;
    display: inline-flex;
    margin: auto;
  }

  .nxt {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 30px;
    // background: #2196f3;
    // color: #fff;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  }

  .button-container {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr 1fr;
  }
  .row-container {
    display: grid;
    grid-template-columns: 0fr 11fr;
    align-items: center;
    grid-column-gap: 16px;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
  }

  @media only screen and (max-width: 860px) {
    .questions-answer {
      grid-template-columns: 1fr 1fr;
    }
    .survey-title {
      padding-left: 20px;
    }
    .question64 {
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 660px) {
    .questions-answer {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
    .button-container {
      grid-template-columns: 1fr;
    }
    .question64 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .surveyMat {
      padding: 20px;
      margin-bottom: 20px;
    }
    .survey-title {
      font-size: 20px;
    }
    // .surveyRow {
    //   margin-top: 20px;
    // }
    .footer {
      text-align: center;
    }
    .nextbtn {
      width: 100%;
      max-width: 400px;
    }
  }
  @media only screen and (max-width: 380px) {
    .mainDiv {
      padding: 1rem !important;
    }
  }
  // .rating {
  //   justify-content: left !important;
  // }
  // .rating.color-goldenyellow .star-container .star {
  //   width: 45px;
  //   height: 45px;
  //   margin: 4px;
  //   margin-top: -10px;
  //   svg {
  //     fill: #3880ff;
  //   }
  //   i {
  //     color: #3880ff;
  //   }
  // }
  // .float-left {
  //   float: left;
  // }
  // :focus {
  //     outline: -webkit-focus-ring-color none 5px !important;
  // }
  // .star-container:focus{
  //     outline: none !important;
  // }
}
star-rating{
  outline: none !important;
}
.rating {
  justify-content: left !important;
  outline: none;
}
.rating.color-goldenyellow .star-container .star {
  width: 45px;
  height: 45px;
  margin: 4px;
  margin-top: -10px;

  svg {
    fill: #3880ff;
  }
  i {
    color: #3880ff;
  }
}
.float-left {
  float: left;
}
