<div class='survey_container'>
    <!-- <div class="row">
		<div class="col-sm-1">
			<div class="surveyrocket">
				<i class="fas fa-rocket"></i>
			</div>
		</div>
		<div class="col-sm-11 surveyheading">
			<h3 class="surveytitle">{{ surveyTitle }}</h3>
		</div>
	</div> -->
    <div class="row-container">
        <div class="survey-icon">
            <button class="back_button" (click)="back()"><i class="fas fa-chevron-left"></i></button>
        </div>
        <div class="survey-headding">
            <div class="surveyrocket">
                <i class="fas fa-rocket"></i>
            </div>
            <h3 class="survey-title">{{surveyTitle}}</h3>
        </div>
    </div>
    <div class="row surveyRow">
        <div *ngIf="questions.length !== 0" class="container-fluid">
            <mat-card class="surveyMat" *ngFor="let question of questions; let i=index;">
                <h3 class="question64">{{ question.qId }}. {{ question.qname }}
                    <b class="mandatoryQues" *ngIf="question.isMandatory == 1">*</b>
                </h3>
                <div class="survey-textarea" *ngIf="question.questionTypeId  == 1">
                    <textarea cols="12" rows="5" class="txtArea" [(ngModel)]='question.optionList[0].sAns' [placeholder]=question.questionPlaceholder  minlength = {{question?.optionList[0]?.minLength}} 
                    maxlength={{question.optionList[0].maxLength}}  #textq = "ngModel" required></textarea>

                    <!-- <div *ngIf="textq.invalid || textq.touched" class="alert alert-danger">
                        <div [hidden]="!textq.hasError('required')">This Field is required</div>
                        <div [hidden]="!textq.hasError('minlength')">Minimum {{question.optionList[0].minLength}} required.</div>
                        <div [hidden]="!textq.hasError('maxlength')">Enter Maximum {{question.optionList[0].maxLength}} characters only.</div>
                      </div> -->

                </div>
                <div class="questions-answer" *ngIf="question.questionTypeId  == 2 || question.questionTypeId  == 3">
                    <button class="options45" *ngFor="let option of question.optionList; let i=index" [ngClass]="{'active': option.sFlag}" (click)='selectOption(question,i)'>{{ option.option }}</button>
                </div>
                <div style="display: grid">
                    <div class="" *ngIf="question.questionTypeId  == 4">
                        <star-rating [starType]="'svg'" [showHalfStars]="true" [getHalfStarClass]="getHalfStarClass" [numOfStars]="4" [step]="0.5" staticColor="goldenyellow" [rating]="" (ratingChange)="onRateChange($event, i)"></star-rating>
                    </div>
                    <br>
                    <div *ngIf="!question?.isValid" class="mandatoryQues">
                        <p>{{question.msg}}</p>
                    </div>
                </div>

            </mat-card>
        </div>

        <mat-card class="surveyMat" *ngIf="questions.length === 0">
            <mat-card-subtitle class="noDataTitle">No Data Available</mat-card-subtitle>
        </mat-card>
    </div>
    <!-- <div class="row">
		<div class="footer">
			<div class="nextbtn">
				<button class="nxt" (click)="submitSurvey()">Submit 
					
				</button>
			</div>
		</div>
	</div> -->
    <!-- <star-rating [starType]="'svg'" [showHalfStars]="true" [getHalfStarClass]="getHalfStarClass" [numOfStars]="this.questionlist[i].rating.length" [step]="0.5" staticColor="goldenyellow" [rating]="" (ratingChange)="onRateChange($event, i)"></star-rating> -->
    <div class="button-container">

        <div *ngIf="questions.length !== 0">
            <button class="nxt" (click)="submitSurvey()">Finish</button>
        </div>
    </div>