<div class="welcomeContainer">
    <div class="row logo-tablet">
        <div class="col-md-12 logo-tablet-img text-right">
            <img [src] = "currentBrandData?.dashboard_logo" class="companyLogo">
            <!-- <img [src]="themebind()" (onError)="errorHandler($event)" class="companyLogo"> -->
        </div>
    </div>
    <div class="row divCol12">
      <div class="col-md-5 divCol5">
          <p class="hello ovalContent"><i class="fa fa-check" aria-hidden="true"></i></p>
      </div>


      <div class="col-md-7 divCol7">
          <div class="logo-desktop text-right">
              <img [src] = "currentBrandData?.dashboard_logo" class="companyLogo">
              <!-- <img [src]="themebind()" (onError)="errorHandler($event)" class="companyLogo"> -->
          </div>
        <div class="verifyingtxt">
          <p class="heading">Welcome.</p>
          <p class="sub-heading">You're going to learn great things with {{currentBrandData?.brandName}}.</p>
        </div>
      </div>

  </div>
  </div>
