.welcomeContainer{
	min-height: 100vh;
	box-sizing: border-box;					
}

.divCol12{
	min-height: 100%;
  box-sizing: border-box;
	width: 100%;
	margin: 0 !important;
 
}
p{
	margin-bottom: 0px;
	margin-top: 0px;
}
.divCol5{
	background-color: var(--colorCommon);
	min-height: 100%;
	padding: 15% 10% !important;	
	box-sizing: border-box;			   
}

.divCol7{
	box-sizing: border-box;
	background-image: Url('../assets/pageBackground/Group7.png');
	background-origin: border-box;
	background-repeat: no-repeat;
	min-height: 100%;
	padding: 0 !important;
	background-size: cover;
}

.oval {	
	/*height: 276px;	
	width: 276px;	
	background-color: #507BFC;	
	box-shadow: 0 10px 25px 0 rgba(80,123,252,0.5);
	border-radius: 50%;
	margin: 0 auto;
	padding: 90px 50px;*/
	height: 276px;
    width: 276px;
    background-color: #507BFC;
    -webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
    box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
    border-radius: 50%;
    margin: 0 auto;
    /*padding: 90px 50px;*/
    position: relative;
    top: 50%;
    /* width: 100%; */
    transform: translateY(-50%);
	/* left: 2%; */
	line-height: 6;
}

/*.ovalDiv{
	position: relative;
    margin: auto;
    top: 28%;
}*/

.hello {	
	/*height: 72px;	
	width: 184px;	
	color: #FFFFFF;	
	font-family: "Roboto";		
	font-size: 60px;	
	font-weight: 300;	
	line-height: 94px;	
	text-align: center;
	margin: 0;*/

	/* height: 72px; */
    /* width: 184px; */
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
    font-size: 155px !important;
    font-weight: 300;
    /* line-height: 94px; */
    text-align: center;
    margin: 0;	   
}

.please-fill-the-deta {	
	height: 33px !important;
    width: 100%;	
	color: #464646;	
	font-family: "Roboto" !important;	
	line-height: 33px;
}

.otpForm{
	/* // padding: 40vh; */
	width: 100%;
	padding: 15% 20%;
	box-sizing: border-box;
}

.otptable {
	max-width: 80px;
	width: 80px;
	font-size: 20px;
    margin: 0 auto;
    text-align: center;
    padding-right: 10px;
  }
  
  .example-full-width {
	width: 100%;
  }
  



.already-have-an-acco {	
	height: 19px;	
	width: 215px;	
	color: #507BFC;	
	font-family: "Roboto";	
	font-size: 14px;	
	font-weight: 600;	
	line-height: 19px;
}


.nxt {	
	 font-family: "Roboto", sans-serif;			  
    font-size: 17px;
    line-height: 19px;
	text-align: center;
	padding: 30px 10px;
}

.nxtbtn{
    border: none;
    background-color: #507BFC;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    border-radius: 100px;
    cursor: pointer;			 
}

.resendbtn{
    border: 1px solid #b5acac !important;
    background-color: #fbfcff !important;
    color: #928888 !important;
	margin-right: 30px
}

.marginTop46{
	margin-top: 46px;
}

.marginTop40{
	margin-top: 40px;
}

.marginBottom30{
	margin-bottom: 30px;
}


.verifyingtxt{
	width: 100%;
	padding: 22% 20%;
	box-sizing: border-box;
}

.heading{
    font-size: 55px;
    color: var(--colorCommon);
    font-weight: 300;
    font-family: "Roboto";
}

.sub-heading{
    font-size: 28px;
	color: #00000070;
	font-family: "Roboto";
}

@media (min-width: 320px){
	.welcomeContainer{
		height: 50vh;
	}
	
	/*.oval {	
		height: 180px;
		width: 180px;
		background-color: #507BFC;
		-webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		border-radius: 50%;
		margin: auto;
		padding: 45px 5px;
		// margin-top: 10%;
	}*/
	
		
	.hello {		
		font-size: 45px;
	}
	
	
	.otpForm{
		 /* padding: 40vh; */
		padding: 0px !important;
	}
	
	.width100{
		width: 30px;
		display: inline-flex;
		padding: 10px 16px;
	}
	
	
	
	.marginTop46{
		margin-top: 35;
	}
	
	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
}
.logo-tablet{
	display: none;

}

  @media (min-width: 420px){
	.welcomeContainer{
		height: 50vh;
	}
	
	/*.oval {	
		height: 180px;
		width: 180px;
		margin-top: 20%;
	}*/
	
		
	
	.please-fill-the-deta {	
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}
	
	.otpForm{
		/* // padding: 40vh; */
		padding: 0px !important;
	}
	
	.width100{
		width: 30px;
		display: inline-flex;
		padding: 10px 16px;
	}
	
	
	.nxtbtn{
		/* // border: none; */
		padding: 10px 35px;
		width: 150px;
	}
	
	.marginTop46{
		margin-top: 35px;
	}
	
	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
	
  }

  @media (min-width: 520px){
	.welcomeContainer{
		height: 50vh;
	}
	
	/*.oval {	
		height: 180px;
		width: 180px;
		background-color: #507BFC;
		-webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		border-radius: 50%;
		margin: auto;
		padding: 45px 5px;
		// margin-top: 10%;
	}*/
	
		
	.hello {		
		font-size: 45px;
	}
	
	.please-fill-the-deta {	
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}
	
	.otpForm{
		/* // padding: 40vh; */
		padding: 0px !important;
	}
	
	.width100{
		width: 30px;
		display: inline-flex;
		padding: 10px 16px;
	}
	
	
	.nxtbtn{
		padding: 10px 35px;
	}
	
	.marginTop46{
		margin-top: 35;
	}
	
	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
	
  }


  @media (min-width: 768px){
	.welcomeContainer{
		height: 100vh;
	}
	
	/*.oval {	
		height: 180px;
		width: 180px;
		background-color: #507BFC;
		-webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		border-radius: 50%;
		margin: auto;
		padding: 45px 5px;
		// margin-top: 10%;
	}*/
	
		
	.hello {		
		font-size: 45px;
	}
	
	.please-fill-the-deta {	
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}
	
	.otpForm{
		padding: 16px !important;
		margin-top: 30%;
	}
	
	.width100{
		width: 30px;
		display: inline-flex;
		padding: 10px 16px;
	}
	
	
	.nxtbtn{
		/* // background: transparent;
		// border: none; */
		padding: 10px 35px;
	}
	
	.marginTop46{
		margin-top: 35;
	}
	
	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
	
  }

  @media (min-width: 842px){
	.welcomeContainer{
		height: 100vh;
	}
	
	/*.oval {	
		height: 180px;
		width: 180px;
		background-color: #507BFC;
		-webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		border-radius: 50%;
		margin: auto;
		padding: 45px 5px;
		// margin-top: 10%;
	}*/
	
		
	.hello {		
		font-size: 45px;
	}
	
	.please-fill-the-deta {	
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}
	
	.otpForm{
		padding: 16px !important;
		margin-top: 30%;
	}
	
	.width100{
		width: 30px;
		display: inline-flex;
		padding: 10px 16px;
	}
	
	
	.nxtbtn{
		/* // background: transparent; */
		/* // border: none; */
		padding: 10px 35px;
	}
	
	.marginTop46{
		margin-top: 35;
	}
	
	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
	
  }

  @media (min-width: 1024px){
	.welcomeContainer{
		height: 100vh;
	}
	
	/*.oval {	
		height: 276px;	
		width: 276px;	
		background-color: #507BFC;
		-webkit-box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		box-shadow: 0 10px 25px 0 rgba(80, 123, 252, 0.5);
		border-radius: 50%;
		margin: auto;
		padding: 90px 45px;
		// margin-top: 30%;
	}*/
	
	.companyLogo{
		// width: 150px;
		// height: 50px;
	}


	.hello {		
		font-size: 45px;
	}
	
	.please-fill-the-deta {	
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}
	
	.otpForm{
		padding: 100px !important;
		margin-top: 10%;
	}
	
	.width100{
		width: 30px;
		display: inline-flex;
		padding: 10px 16px;
	}
	
	
	.nxtbtn{
		/* // background: transparent;
		// border: none; */
		padding: 10px 35px;
	}
	
	.marginTop46{
		margin-top: 35;
	}
	
	.marginTop40{
		margin-top: 0px;
    	padding: 0px 16px;

	}
	
	}
	.logo-desktop{
		margin-right: 25px;
		margin-top: 25px;
		font-size: 20px;
		width: 50px;
		text-align: right;
		float: right;
	}
	.logo-tablet-img {
		width: 100px;
		float: right;
	}
	@media only screen and (max-width: 769px) {
		.companyLogo{
			// width: 100px;
			// height: 30px;
		}

		.logo-desktop{
			display: none;
			}
		.logo-tablet{
			padding-right: 50px;
			padding-top: 30px;
			margin:0;
			display:block;
			background-image: Url('../assets/pageBackground/Group7.png');
			background-origin: border-box;
			background-repeat: no-repeat;
			min-height: 100px;
			background-size: cover;
		}
		.divCol5{
			min-height: unset;
			padding: 0px !important;
		
		}
		.hello{
			font-size: 90px !important;
		}
		p{
			margin-bottom: 1rem;
		}	
		.divCol12{
			min-height: unset;
		}
	}
	@media only screen and (max-width: 420px){
		.companyLogo{
			// width: 100px;
			// height: 30px;
		}

		
		.logo-tablet{
			display: none;
		}
		
		.hello{
			font-size: 60px !important;
		}
		.verifyingtxt{
			min-height: 89vh;
			text-align: center;
			padding: 30px 20px; 
		}
		.heading{
			font-size: 35px;
			margin-top: 50px;
		}
		.sub-heading{
			font-size: 20px;
		}
	}