
<div class="trainer-participants-content-main-container">
  <div [hidden]="showAttendance || showAssessment || showFeedback">
    <!-- <div class="trainer-participant-content-header">
        <div class="trainer-detail-content-header-item">
            <img class="course-detail-icon" src='assets/images/orangeLearn.svg' />
        </div>
        <div class="trainerwrap">
            <p class="trainerwraptitle">{{trainerCourseName}}</p>
            <p class="trainerwrapdesc">{{trainerCourseDescription}}</p>
        </div>
    </div> -->
        <div class='trainer-participant-tabs'>
      
            <div class='trainer-participant-container' *ngFor='let tabs of contentArray;let i=index;'
              [ngClass]="ActiveTab==i ? 'Tab-container-active' : 'Tab-container'" (click)='tabChanged(tabs)'>
              <div class='Tab-content' [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'"  title="{{ tabs.moduleName | titlecase }}">
                  <span *ngIf=" tabs.moduleName.length >= 13"> {{ tabs.moduleName |  slice:0:13 | titlecase }} ..</span>
                  <span *ngIf=" tabs.moduleName.length < 13"> {{ tabs.moduleName | titlecase }}</span>
              </div>
            </div>
        
        </div>
      

        <div class='bodyContent' *ngFor='let content of contentDataArray;let i=index;' [hidden]='activeRole == "Trainer" && content.activity_type == "Attendance" && content.byTrainer == 0'>
            <div class="participant-trainer-courses-content-grid-1" >
              	<div class="participant-body-img" [ngStyle]="bindBackgroundImage(content)">
                    <!-- <img class='bodyImg' [src]="detail.img" /> -->
                    <!-- <div *ngIf="content.activity_type != 'Quiz' && content.activity_type != 'Feedback' && content.activity_type != 'Webinar'">
                      <div class="icons-container single-icon">
                        <i class="fa fa-play" aria-hidden="true" ></i>
                        <i class="fa fa-lock" aria-hidden="true" *ngIf='!content.wCompleted && content.dependant!=null'></i>
                      </div>
                    </div>
                    <div *ngIf="content.activity_type == 'Webinar'">
                      <div class="icons-container single-icon" >
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                      </div>
                    </div> -->
                    
                </div>
                <div class="participant-body-main">
                  <div class="title-course-icon-text-div">
                    <div class="course-title">
                      <!-- <span class="number">{{i+1}}</span> -->
                      <span class="title">{{content.activityName}}</span>
                    </div>
                    <div class="course-icon">
                      <img class='cardImg' src="assets/images/online.svg"/>
                      <span class="course-icon-text">ONLINE</span>
                    </div>
                  </div>
                  <div class="main-content">
                    <div [innerHTML]="content?.summary"></div>
                  </div>
                  <div class="button-container" *ngIf="content.activityTypeId != 9">
                      <button *ngIf="content.summary" class="bodyMidButton-2" (click)='goToCourse(content)'>View</button>
                      <button *ngIf="!content.summary" class="bodyMidButton-1" (click)='goToCourse(content)'>View</button>
                  </div>
                  <div *ngIf="content.activityTypeId == 9">
                      <div class="button-container" *ngIf="content.isDisable == 'N'">
                          <button *ngIf="content.summary" class="bodyMidButton-2" (click)='goToCourse(content)'>View</button>
                          <button *ngIf="!content.summary" class="bodyMidButton-1" (click)='goToCourse(content)'>View</button>
                        </div>
                        <div class="button-container" *ngIf="content.isDisable == 'Y'">
                            <button *ngIf="content.summary" class="bodyMidButton-2CompDis" >The activity will start from {{content?.mStartDate}}</button>
                            <button *ngIf="!content.summary" class="bodyMidButton-1CompDis">The activity will start from {{content?.mStartDate}}</button>
                          </div>
                  </div>
                  
                  <!-- <div *ngIf='detail.wCompleted' class="button-container">
                    <button *ngIf="detail.summary" class="bodyMidButton-2CompDis">Completed on {{ detail.completedDate | date:"dd MMM yyyy" }}</button>
                    <button *ngIf="!detail.summary" class="bodyMidButton-1CompDis">Completed on {{ detail.completedDate | date:"dd MMM yyyy" }}</button>
                  </div>
                  <div *ngIf='!detail.wCompleted && detail.dependant!=null' class="button-container">
                    <button *ngIf="detail.summary" class="bodyMidButton-2Dis" (click)='goToCourse(detail)'>Complete {{ detail.dependant }} to unlock</button>
                    <button *ngIf="!detail.summary" class="bodyMidButton-1Dis" (click)='goToCourse(detail)'>Complete {{ detail.dependant }} to unlock</button>
                  </div> -->
                </div>
            </div>
          </div>
</div>

  <div [hidden]="!showAttendance">
    <div class="flexheader">
        <p class="tabletitle">Attendance</p>
        <div class="backbutton">
            <!-- <i class="fas fa-chevron-left"></i> -->
            Go To Previous
        </div>
    </div>
     
      <!-- <attendance-data></attendance-data> -->
  </div>

  <div [hidden]="!showAssessment">
      <div class="flexheader">
          <p class="tabletitle">Assessment</p>
          <div class="backbutton">
              <!-- <i class="fas fa-chevron-left"></i> -->
              Go To Previous
          </div>
      </div>
      <assessment-data></assessment-data>
  </div>

  <div [hidden]="!showFeedback">
      <div class="flexheader">
          <p class="tabletitle">Feedback</p>
          <div class="backbutton">
              <!-- <i class="fas fa-chevron-left"></i> -->
              Go To Previous
          </div>
      </div>
      <feedback-data></feedback-data>
  </div>
</div>