
.trainer-participants-content-main-container{
    
    .trainer-participant-content-header{
        display: grid;
        grid-template-columns: 70px auto;
        width: 100%;
        .trainer-detail-content-header-item{
            width: 54px;
            .course-detail-icon{
                width: 54px;
            }
        }
        .trainerwrap{
            .trainerwraptitle{
            color: #2a2a2a;
            font-size: 28px;
            line-height: 34px;
            font-weight: 500;
            font-family: "Open Sans";
            margin-bottom: 0rem !important;
            }
            .trainerwrapdesc{
            // opacity: 0.6;
            color: #a4abb3;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 0;
        }
        }
    }
    .scrollable-table{
        width: 1300px;
        overflow-x: scroll;
    }

    .tabletitle{
        width: 100%;
        margin: auto;
        font-size: 22px;
        color: #000;
        margin-right: 20px;
    }

    .backbutton{
        width: 157px;
        height: 36px;
        margin: 0;
        border-radius: 25px;
        color: #008eff;
        background: #fdfcfc;
        border: 1px solid #008eff;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        line-height: 35px;
        box-shadow: 1px 1px 10px #8fbee4;
    }


    .icoab{
        width: 40px;
        text-align: center;
        line-height: 40px;
        height: 40px;
        background: #f7a076;
        font-size: 20px;
        margin: auto 0;
        color: #fff;
        border-radius: 5px;
        margin-right: 20px;
    }

    .courseWrap{
        width: 100%;
    }

    .courseHeading{
        display: flex;
    }
    .courseDesc{
        opacity: 0.6;
        color: #464646;
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 0;
    }



    .coursetitle{
        color: #464646;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 0rem !important;
    }

// .Tabs{
//     display: inline-flex;
//     margin: 20px 0;
// }
    .trainer-participant-tabs{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin: 20px 0 30px 0;
        grid-column-gap: 10px;
        .Tab-content{
            font-weight: 100 !important;    
        }
    }

    .Tab-container{
        height: 35px;	
        //width: 150px;	
        width: 100%;
        max-width: 170px;
        // padding-left: 25px;
        // padding-right: 25px;
        border-radius: 17px;	
        background-color: #FFFFFF;	
        box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
        margin-right: 10px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .Tab-content{
        color: #507BFC;	
        font-family: "Open Sans";	
        font-size: 16px;	
        font-weight: 600;	
        line-height: 32.5px;	
        text-align: center;
    }

.Tab-container-active{
    height: 35px;	
   // width: 150px;	
    width: 100%;
    max-width: 170px;
    // width: auto;
    //  padding-left: 25px;
    //  padding-right: 25px;
    border-radius: 17px;	
    background-color: #507BFC;	
    box-shadow: 0 2px 6px 0 rgba(80, 123, 252, 0.5);
    margin-right: 10px;
}

.Tab-content-active{
    color: #FFFFFF;	
    font-family: "Open Sans";	
    font-size: 16px;	
    font-weight: 600;	
    line-height: 32.5px;	
    text-align: center;
}

.col1{
    display: flex;
    padding-left: 0;
}

.titlesub{
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
}

.smallicons{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #008eff;
    color: #fbf4f4;
    text-align: center;
    margin: auto;
    line-height: 45px;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 6px 12px 0 #4d5d6585;
}

.stickyrow{
    position: sticky !important;
}

.trainerheader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: 60px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    width: 100%;
    padding: 0;
}

.bodyContent{
    height: auto;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 20px;
}

.bodyImg{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-overlay{
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 12px;
    width: 35%;
}

.bodyMid{
    margin: 30px 0;
    width: 100%;
}

.bodyMidHead{
  
    display: grid;
    grid-template-columns: 2fr 220px;
}
.trainer-div-online-course{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}
.bNo{
    color: #507BFC;	
    font-family: "Open Sans";	
    font-size: 26px;	
    line-height: 36px;	
    text-align: center;
}

.bNa{
    color: #1B2437;	
    font-family: "Open Sans";	
    font-size: 26px;	
    line-height: 36px;	
    text-align: center;
}

.bMHP1{
    margin: 0;
}

.alignCenter{
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: right;
}

.bMHP2{
    color: #464646;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    margin: 0 0 0px 10px;
    vertical-align: middle;
    align-self: center;
}


.cardImg{
    height: 20px;
    margin: 0;
}

.cardImg2{
    cursor: pointer;
    width: 15px;
    float: right;
}
.cardImg3{
    cursor: pointer;
    width: 18px;
    float: right;
}

.bodydesc{
    width: 100%;
    text-align: justify;
    margin: 20px 0;
    font-size: 15px;
    font-family: "open sans";
    line-height: 24px;
}

.bodyMidButton{
    height: 40px;	
    width: 228px;	
    border-radius: 100px;	
    background-color: #507BFC;	
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    margin-top: 45px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
}

.mar-auto{
    margin: auto;
}

.bodyMidButtonText{
    color: #FFFFFF;	
    font-family: "Open Sans";	
    font-size: 16px;	
    font-weight: 600;	
    line-height: 19px;	
    text-align: center;
    padding: 10px;
}
.participant-trainer-courses-content-grid-1{
    display: grid;
    grid-template-columns: minmax(350px, 3fr) 9fr;
    background: white;
    border-radius: 10px;
    // grid-template-rows: 50% 50%;
    .participant-body-img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;  
        background-position: center ;
        display: grid;
        align-items: center;
        .icons-container{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            font-size: 19px;
            background: #fff;
            align-self: center;
            display: grid;
            text-align: center;
            align-items: center;
            color:#507BFC;
           
        }
        .single-icon{
            margin:0 auto;
        }
        .tick-icon{
            margin-left:auto;
        }
       
        .congrats-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .icon-text{
                margin-left: 10px;
                align-self: center;
                font-size: 17px;
                color: #fff;
            }
        }
    }   
    // .participant-body-participant-img {
    //     border-top-left-radius: 10px;
    //     border-bottom-left-radius: 10px;
    //     width: 100%;
    //     height: 100%;
    //     background-repeat: no-repeat;
    //     // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
    //     -webkit-background-size: cover !important;
    //     -moz-background-size: cover !important;
    //     -o-background-size: cover !important;
    //     background-size: cover !important;  
    //     background-position: center !important;
    //     // display: grid;
      
    //     // .icons-container{
    //     //     width: 50px;
    //     //     height: 50px;
    //     //     border-radius: 50%;
    //     //     font-size: 19px;
    //     //     background: #fff;
    //     //     align-self: center;
    //     //     display: grid;
    //     //     text-align: center;
    //     //     align-items: center;
    //     //     color:#507BFC;
           
    //     // }
    //     // .single-icon{
    //     //     margin:0 auto;
    //     // }
    //     // .tick-icon{
    //     //     margin-left:auto;
    //     // }
       
    //     // .congrats-div{
    //     //     display: grid;
    //     //     grid-template-columns: 1fr 1fr;
    //     //     .icon-text{
    //     //         margin-left: 10px;
    //     //         align-self: center;
    //     //         font-size: 17px;
    //     //         color: #fff;
    //     //     }
    //     // }
    // }
    .participant-body-main{
        padding-top: 20px;
        padding-left:15px;
        .title-course-icon-text-div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .course-title{
                // vertical-align: super;  
                .title{
                    color: #1B2437;
                    font-family: "Open Sans";
                    font-size: 26px;
                    line-height: 36px;
                    text-align: center;
                   
                }
                .number{
                    color: #507BFC;
                    font-family: "Open Sans";
                    font-size: 26px;
                    line-height: 36px; 
                    padding-right: 5px;
                    display: inline-block;
                }
            }
            .course-icon{
                // display: inline-block;
                // width: 66%;
                text-align: right;
                margin-right: 30px;
                vertical-align: super;
                align-self: center;
                margin-left: auto;
                .cardImg{
                    padding-right: 7px;
                    width: 35px;
                }
                .course-icon-text{
                    display: inline-block;
                    padding-top: 0px;
                    vertical-align: middle;
                }
            }
        }
        
      
        .main-content{
            margin-top:20px;
        }
        .button-container{
            text-align: right;
        }
        .bodyMidButton-1{
            height: 40px;
            width: 228px;
            border-radius: 100px;
            background-color: #507BFC;
            -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            margin-right: 20px;
            cursor: pointer;
            color:white;
            font-size: 15px;
            border:none;
            margin-top: 70px;
            margin-bottom:20px;
        }
       .bodyMidButton-2{
            height: 40px;
           // padding: 0 10px;
           
            width: 228px;
            border-radius: 100px;
            background-color: #507BFC;
            -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            margin-right: 20px;
            cursor: pointer;
            color:white;
            font-size: 15px;
            border:none;
            margin-top: 60px;
            margin-bottom:20px;
        }
        .bodyMidButton-1CompDis{
            height: 40px;
           // width: 228px;
           padding: 0 10px;
            border-radius: 100px;
            background-color: #AAAAAA;
            -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            margin-right: 30px;
            cursor: not-allowed;
            color:white;
            font-size: 15px;
            border:none;
            margin-top: 70px;
            margin-bottom:20px;
        }
       .bodyMidButton-2CompDis{
            height: 40px;
            // width: 228px;
            padding: 0 10px;
            border-radius: 100px;
            background-color: #AAAAAA;
            -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            margin-right: 30px;
            cursor: not-allowed;
            color:white;
            font-size: 15px;
            border:none;
            margin-top: 60px;
            margin-bottom:20px;
        }
        .bodyMidButton-1Dis{
            height: 40px;
            width: 228px;
            border-radius: 100px;
            background-color: white;
            -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            margin-right: 30px;
            cursor: not-allowed;
            color:#AAAAAA;
            font-size: 15px;
            border: 1px solid #AAAAAA;
            margin-top: 70px;
            margin-bottom:20px;
        }
       .bodyMidButton-2Dis{
            height: 40px;
            width: 228px;
            border-radius: 100px;
            background-color: white;
            -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
            margin-right: 30px;
            cursor: not-allowed;
            color:#AAAAAA;
            font-size: 15px;
            border: 1px solid #AAAAAA;
            margin-top: 70px;
            margin-bottom:20px;
        }  
    }
    
}
@media only screen and (max-width: 940px) {
    .participant-trainer-courses-content-grid-1 .participant-body-participant-img{
        border-bottom-left-radius: 0px; 
        border-top-right-radius: 10px;
   }
   .participant-trainer-courses-content-grid-1 .participant-body-main .bodyMidButton-2{
       margin-top: 10px;
   }
   .participant-trainer-courses-content-grid-1 .participant-body-main .bodyMidButton-2Dis{
       margin-top: 0px;
   }
   .participant-trainer-courses-content-grid-1{
       grid-template-columns: 12fr; 
       width: 100%;
       .participant-body-participant-img{
           height: 250px;
       }
   }
   .button-container{
        display: block;
        text-align: center !important;
    }
    .bodyMidButton-1{
        margin-top: 20px !important;
    }
    .body-main .bodyMidButton-1CompDis{
        margin-top: 20px !important;
    }
    .trainer-participant-tabs{
        // display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // margin: 20px 0 30px 0;
        // grid-column-gap: 10px;
    }


}
@media only screen and (max-width: 700px) {
       
    .trainer-participant-tabs {
        grid-template-columns: 1fr 1fr 1fr ;
        grid-row-gap: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .trainer-participant-tabs{
        // display: grid;
        grid-template-columns: 1fr 1fr ;
        // margin: 20px 0 30px 0;
        // grid-column-gap: 10px;
    }
    .participant-trainer-courses-content-grid-1 .participant-body-main .title-course-icon-text-div .course-icon{
        margin-right: 7px;
    }
}
}