<mat-card>
    <div class="row ro">
        <p class="title123">Followers</p>
        <p class="floatRight2"> View all <img src="./assets/images/White.svg"  class="arrow3"></p>
    </div>

    <div class="row">
      <div class=" block124"  *ngFor="let follow of followers">
        <div class="icon2">
        <i class="{{ follow.profilePic }}"></i>
        </div>  
        <div class="nameBlock">
          <p class="para">{{ follow.name }}</p>
        </div>
        <div class="follow">
          <button class="outline-button">+ Follow</button>
        </div>
      </div>
    
    </div>
</mat-card>
