

.matC{
    border-radius: 10px !important;
}

.inner-html{
    .highlight{
        margin: 0 10px;
        color: #507BFC;
    }
}

.title123{
    color: #5b5b5b;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    font-weight: 600;
    width: 60%;
    text-align: left;
}

.floatRight2{
    width: 40%;
    text-align: right;
    font-size: 18px;
    line-height: 40px;
    margin: 0;
    color: #507bfc;
}

.arrow3{
    margin: auto 10px;
}

.ro{
    width: auto;
    margin: 0;
}

.icon2{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    color: #23a9e6;
    margin: auto;
}

.block124{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    height: 80px;
    width: 49%;
    margin: 0.25% auto;
    background: #cccccc2e;
}

.nameBlock{
    margin: auto;
    text-align: center;
    font-size: 18px;
}

.para{
    margin: 0;
}

.follow{
    margin: auto;
}

.outline-button{
    line-height: 26px;
    width: 92px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #507bfc;
    color: #507bfc;
    border-radius: 25px;
}


