@import "../../@theme/styles/variable.scss";

.dashboard-course-type-card-container {
    display: grid;
    grid-column-gap: 15px;
    .mat {
        width: 100%;
        padding: 0 !important;
        background: #fff;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1);
    }
    .pointer_event {
        cursor: pointer;
    }
    .cardTitl {
        margin: 0;
        height: auto;
        line-height: 30px;
        font-size: 16px;
        border-radius: 10px 10px 0 0;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-weight: 600;
    }
    .cardTitl.mandatory {
        // background-color: #475edc;
        background-color: var(--colorCommon);
    }
    .cardTitl.recommended {
        // background: #475edc;
        background-color: var(--colorCommon);
    }
    .cardTitl.aspirational {
        // background: #475edc;
        background-color: var(--colorCommon);
    }
    .middle {
        padding: 15px;
    }
    .card-content {
        margin: 0;
        line-height: 30px;
        text-align: center;
        color: #696767;
        font-size: 16px;
        font-weight: 600;
    }
    .rowList {
        margin: 0;
        display: grid;
        padding: 0 15px;
        color: #828181;
        background: #e3e3e375;
        grid-template-columns: 10fr 1fr;
    }
    .horizLine {
        border: 1px solid #fbfafa;
        width: auto;
        margin: 0;
    }
    .leftCol {
        margin: 0;
        line-height: 30px;
        font-size: 16px;
        width: 100%;
    }
    .rightCol {
        line-height: 30px;
        margin: 0;
        font-size: 16px;
        // width: 2%;
        text-align: center;
    }
    .mat2 {
        background-color: #fff;
        width: 100%;
    }
}

.two-card-container {
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
}

.three-card-container {
    width: 100%;
    // margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    .dashboard-course-type-card-container {
        // display: grid;
        grid-template-columns: 1fr;
        // grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

// .dashboard-course-type-card-container{
//     .dashboard-course-type-card-container-card{
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-column-gap: 15px;
//         // background: #fff;
//         .course-type-card-middle-content{
//             .course-type-card-middle-content-para{
//                 margin: 0;
//                 line-height: 30px;
//                 text-align: center;
//                 color: #696767;
//                 font-size: 16px;
//                 font-weight: 600;
//             }
//         }
//         .course-type-card-row-list{
//             display: grid;
//             grid-template-columns: 3fr 1fr;
//             grid-column-gap: 5px;
//         }
//     }
// }
// Sliders
.carousel_width {
    max-width: 200px;
    margin: 0 auto;
    .icons_more {
        text-align: center;
        height: 112px;
        .icon_img {
            margin: 0 auto;
            text-align: center;
        }
        .program_name {
            margin: 0;
            line-height: 30px;
            text-align: center;
            color: #696767;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }
        .icons_more_img {
            font-size: 45px;
            padding: 28px 18px 10px 18px;
            background: #ffffff;
            border-radius: 5px;
            // color: rgb(32, 93, 127);
            color: var(--colorIcons);
            margin-bottom: 5px;
            cursor: pointer;
        }
    }
    .button-color {
        background-color: #FFF;
        // color: #507BFC;
        color: var(--colorCommon);
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 13px;
        cursor: pointer;
        // box-shadow: 5px 7px 10px -3px rgba(47, 83, 151, 0.1);
    }
}

$transition_time:.2s;
.carousel {
    color: white;
    .content {
        display: flex;
        width: 528.236px;
        position: relative;
        touch-action: pan-y;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transform: translateX(0);
        .item {
            width: 100%;
            padding: .5em;
            display: block;
            opacity: 0.5;
            transition: all 0.295s linear $transition_time;
            &.visible {
                opacity: 1;
            }
            // .img {
            //   width: 100%;
            //   height: 400px;
            //   display: block;
            //   background-size: cover;
            //   background-position: center;
            // }
        }
    }
    .direction {
        cursor: default !important;
    }
}