<!-- <div class="dashboard-course-type-card-container">
	<mat-card *ngFor="let card of courseCard" class="mat">
		<div class="cardTitl"
			[ngClass]="{'mandatory': card.courseType=== 'Mandatory' , 'recommended': card.courseType=== 'Recommended', 'aspirational': card.courseType=== 'Open'}">
			{{ card.courseType }}
		</div>
		<mat-card-content>
			<div class="middle">
				<p class="card-content">Current Courses</p>
				<p class="card-content">{{ card.ongoingCourses }}</p>
			</div>
			<div *ngFor="let subArray of card.sub; let last = last">
				<div class="row rowList">
					<p class="leftCol">{{ subArray.name }}</p>
					<p class="rightCol">{{ subArray.number }}</p>
				</div>
				<hr class="horizLine" [hidden]="last">
			</div>
		</mat-card-content>
	</mat-card>
</div> -->

<div class="dashboard-course-type-card-container" [ngClass]="{'two-card-container': dontShowProgram , 'three-card-container': !dontShowProgram}">
    <mat-card class="mat">

        <mat-card-content>
            <div (click)="goToOpenMandatory()" class="pointer_event">
                <div class="cardTitl mandatory">
                    Mandatory Courses
                </div>
                <div class="middle" *ngIf="!skeleton; else profileworking1">
                    <p class="card-content">Ongoing </p>
                    <p class="card-content">{{ mandatoryData.ongoing != null ? mandatoryData.ongoing : 'NA'}}</p>
                </div>
                <div>
                    <ng-template #profileworking1>
                        <ngx-content-loading [width]="200" [height]='50'>
                            <svg:g ngx-circle [r]='20' [cx]='100' [cy]='25'></svg:g>
                        </ngx-content-loading>
                    </ng-template>
                </div>

            </div>
            <div>
                <div class="rowList" *ngIf="!skeleton; else profileworking">
                    <p class="leftCol"> Classroom </p>
                    <p class="rightCol">{{ mandatoryData?.classroom != null ? mandatoryData?.classroom : 'NA'}}</p>
                </div>
                <div>
                    <ng-template #profileworking>
                        <ngx-content-loading [width]="400" [height]='35'>
                            <svg:g ngx-rect width="300" height="35" y="0" x="50" rx="10" ry="10"></svg:g>
                        </ngx-content-loading>
                    </ng-template>
                </div>
                <hr class="horizLine">
                <div class="rowList" *ngIf="!skeleton; else profileworking">
                    <p class="leftCol"> Online </p>
                    <p class="rightCol">{{ mandatoryData?.online != null ? mandatoryData?.online : 'NA'}}</p>
                </div>
                <div>
                    <ng-template #profileworking>
                        <ngx-content-loading [width]="400" [height]='35'>
                            <svg:g ngx-rect width="300" height="35" y="0" x="50" rx="10" ry="10"></svg:g>
                        </ngx-content-loading>
                    </ng-template>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat">

        <mat-card-content>
            <div (click)="goToOpenTab()" class="pointer_event">
                <div class="cardTitl aspirational">
                    Open Courses
                </div>
                <div class="middle" *ngIf="!skeleton; else profileworking1">
                    <p class="card-content">Ongoing </p>
                    <p class="card-content">{{ openData?.ongoing != null ? openData?.ongoing : 'NA'}}</p>
                </div>
                <div>
                    <ng-template #profileworking1>
                        <ngx-content-loading [width]="200" [height]='50'>
                            <svg:g ngx-circle [r]='20' [cx]='100' [cy]='25'></svg:g>
                        </ngx-content-loading>
                    </ng-template>
                </div>
            </div>
            <div>
                <div class="rowList" *ngIf="!skeleton; else profileworking">
                    <p class="leftCol"> Classroom </p>
                    <p class="rightCol">{{ openData?.classroom != null ? openData?.classroom : 'NA' }}</p>
                </div>
                <div>
                    <ng-template #profileworking>
                        <ngx-content-loading [width]="400" [height]='35'>
                            <svg:g ngx-rect width="300" height="35" y="0" x="50" rx="10" ry="10"></svg:g>
                        </ngx-content-loading>
                    </ng-template>
                </div>
                <hr class="horizLine">
                <div class=" rowList" *ngIf="!skeleton; else profileworking">
                    <p class="leftCol"> Online </p>
                    <p class="rightCol">{{ openData?.online != null ? openData?.online : 'NA'}}</p>
                </div>
                <div>
                    <ng-template #profileworking>
                        <ngx-content-loading [width]="400" [height]='35'>
                            <svg:g ngx-rect width="300" height="35" y="0" x="50" rx="10" ry="10"></svg:g>
                        </ngx-content-loading>
                    </ng-template>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat" *ngIf="!dontShowProgram">


        <mat-card-content>
            <!-- <div class="row"> -->
            <div class="cardTitl aspirational">
                Programs
            </div>
            <div>
                <ng-template #profileworking1>
                    <ngx-content-loading [width]="200" [height]='50'>
                        <svg:g ngx-circle [r]='20' [cx]='100' [cy]='25'></svg:g>
                    </ngx-content-loading>
                </ng-template>
            </div>
            <div>
                <ng-template #profileworking>
                    <ngx-content-loading [width]="400" [height]='35'>
                        <svg:g ngx-rect width="300" height="35" y="0" x="50" rx="10" ry="10"></svg:g>
                    </ngx-content-loading>
                </ng-template>
            </div>
            <div class="carousel_width" *ngIf="!skeleton; else profileworking">
                <ngx-hm-carousel [(ngModel)]="currentIndex" show-num="auto" [breakpoint]="breakpoint" [autoplay-speed]="300" [between-delay]="500" [infinite]="infinite" [drag-many]="true" [aniTime]="2000" [data]="programsIcon">

                    <section ngx-hm-carousel-container class="content">
                        <article class="item cursor-pointer visible" ngx-hm-carousel-item *ngFor="let item of programsIcon; let i = index">
                            <div>

                                <div class="icons_more">
                                    <i class="{{item.programIcon}} icons_more_img" (click)="passDataToParent(item)"></i>
                                    <!-- <img src={{avatar.badgesimg}} class="icons_more_img"> -->
                                    <p class="program_name" (click)="passDataToParent(item)">{{ item.programName }}</p>
                                </div>
                                <!-- <div class="paragr1">

              </div> -->
                            </div>

                        </article>
                        <ng-template #infiniteContainer></ng-template>
                    </section>

                    <!-- only using in infinite mode or autoplay mode, that will render with-->
                    <!-- <div *ngIf='badgesArray.length > 5'> -->
                    <ng-template #carouselContent *ngFor="let item of programsIcon; let i = index">
                        <article class="item cursor-pointer	visible">
                            <div class="icons_more">
                                <i class="{{item.programIcon}} icons_more_img" (click)="passDataToParent(item)"></i>
                                <!-- <img src={{avatar.badgesimg}} class="icons_more_img"> -->
                                <p class="margin0" (click)="passDataToParent(item)">{{ item.programName }}</p>
                            </div>
                            <!-- <div class="paragr1">

              </div> -->


                        </article>
                    </ng-template>
                    <!-- </div> -->

                    <ng-template #carouselPrev>
                        <div class="click-area">
                            <button class="button-color">
            <i class="fas fa-chevron-left"></i>
          </button>
                        </div>
                    </ng-template>
                    <ng-template #carouselNext>
                        <div class="click-area">
                            <button class="button-color">
            <i class="fas fa-chevron-right"></i>
          </button>
                        </div>
                    </ng-template>

                    <ng-template #carouselDot let-model>
                        <div class="ball bg-accent mobile-display" [class.visible]="model.index === model.currentIndex"></div>
                    </ng-template>



                </ngx-hm-carousel>
            </div>
            <!-- <div class="badges" *ngFor="let certi of certificates">
              <img src="{{certi.path}}" class="iconCert">
          </div> -->
            <!-- </div> -->
            <!-- <p class="para">You have received only <strong class="strongColor">{{ certificates?.length }} certificate !</strong></p> -->
            <!-- <p class="redNote">Complete course to receive more.</p> -->

        </mat-card-content>
    </mat-card>
</div>