.containerdiv{
    padding: 2.25rem 2.25rem 0.75rem !important;
    margin: auto;
}

.mainDiv{
    padding: 2.25rem 2.25rem 0.75rem !important;
}

.ro100{
    width: 100%;
    margin: 0 !important;
    margin-bottom: 50px !important;
}


.btngroup{
    margin: 0 auto;
}

.navbtns{
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #507bfc;
    color: #507bfc;
    width: 150px;
    outline: none;
    height: 45px;
}

.firstbtn{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    outline: none;
    margin: -2px;
}

.firstbtn.active{
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    transition: 0.5s ease-in;
}

.lastbtn{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    outline: none;
    margin: -2px;
}

.lastbtn.active{
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    transition: 0.5s ease-in;
}

.second.active{
    background: #507bfc;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
    outline: none;
    transition: 0.5s ease-in;
}

.marginTOp{
    margin-top: 50px;
}

.colPad{
    padding: 0 30px;
}

.sectionRightTitle{
    width: 100%;
    font-family: "open sans";
    margin-top: 0;
}

.avatar2{
    width: 100px;
    margin: 50px 45px;
}

.mandatoryLabel{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    text-align: center;
    width: 200px;
    padding: 7px 0;
    background: #f9bc7c;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
}

.imgblockSize{
    width: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgblockSizeSmall{
    width: 100%;
    height: 200px;
}

.matCardSize{
    min-height: 450px;
    margin-bottom: 30px;
    border-radius: 10px
}


.sectionRightCard{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 400px;
}

.alignMiddle {    
    margin: auto !important;
    height: auto;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.matbtnicon{
    font-size: 42px;
    outline: none;
    background: #507bfc;
}

.mattitle{
    font-family: "open sans";
    margin: 10px 0;
}


.listOfHashTag{
	list-style: none;
    padding: 10px 20px;
    display: flex;
}


.listOfHashTag:nth-child(even){
	background-color: #F8F8F8;
}

.padding0{
    padding: 0 !important;
}

.roundarrow2{
	margin: 4px 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding: 3px 9px;
    border-radius: 25px;
    outline: none;
    border: 2px solid;
    color: #507BFC;
    background-color: transparent;
    cursor: pointer;
}

.blockhashname{
    margin: 0px 15px;
    width: 100%;
}

.name{
    font-size: 17px;
    width: 100%;
    color: #464646;
    font-family: "Open Sans";
}

.noOfPosts{
	font-size: 14px;
    margin: 0;
}


.mat{
    width: 100%;
    padding: 0;
    border-radius: 10px;
}

.squareimg{
    width: 45px;
    height: 35px;
}

.alignMiddle2{
    margin: 10px 0 !important;
    transition: 1s ease-in-out;
    display: block;
}

.save{
    margin: auto;
    color: #847f7f;
    text-align: center;
    cursor: pointer;
}

.save.active{
	color: #507bfc;
}

.folderUl{
    height: 200px;
    overflow-y: scroll;
    padding: 0 !important;
}

.marginTOp30{
    margin-top: 25px;
}

.margintop{
    margin-top: 30px;
}

.listrow{
    width: 100%;
    text-align: left;
}

.folderICon{
    padding: 0 !important;
    font-size: 34px;
    text-align: center;
    margin: 0;
    color: #aec1f7fa;
}

.foldername{
    margin: 0;
    line-height: 30px;
    font-size: 17px;
    font-family: "open sans";
}

.items{
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    font-family: "open sans";
}

.roundbtn{
    height: 60px;
    width: 60px;
    background: transparent;
    border: 2px solid #507bfc;
    color: #507bfc;
    font-size: 36px;
    outline: none;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.col1{
    width: 100%;
    margin: auto;
    text-align: center;
}

.roundico{
    border: 2px solid #fff;
    height: 55px;
    text-align: center;
    width: 55px;
    outline: none;
    color: #fff;
    padding: 0 !important;
    font-size: 20px;
    border-radius: 50%;
    margin: auto 10px;
    background: #b3b1b1;
    cursor: pointer;
    box-shadow: 1px 2px 16px #888;
}

.labelsize{
    font-size: 20px;
    width: 100%;
    font-family: "Open sans";
}

.mTB15{
    margin: 15px 0px;
}

.checkmark{
    position: absolute;
    float: right;
    top: -20px;
    padding: 8px 10px;
    right: -10px;
    font-size: 24px;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
    background: #507bfc;
    color: #fff;
    border: none;
}

.legenddiv{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    text-align: center;
    width: 200px;
    padding: 7px 0;
    background: #f9bc7c;
    color: #fff;
    border-bottom-left-radius: 15px;
}

.matCardSize.matSelect{
    opacity: 0.4;
    background: #507bfc47;
}

.radiobtn{
    position: absolute;
    float: right;
    top: -20px;
    padding: 8px 10px;
    right: -10px;
    background: #c3bcbc;
    font-size: 24px;
    color: #fff;
    z-index: 999;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
}

.inputText{
    width: 100%;
    font-size: 20px;
}


.matForm{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

.content2{
    padding: 0 15px;
}

.bookmark.active{
	color: #507bfc;
}

.bookmark{
    text-align: center;
    padding-top: 6px;
}

.stickydiv{
    position: sticky;
    bottom: 0;
    margin: 0;
    background-color: #fff;
    padding: 20px;
    font-family: "open sans";
    color: #525151;
    width: 100%;
    z-index: 99999;
}

.selected{
    margin: 0 15px;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 50%;
    color: #9e7272;
    background: #f9d18b;
}

.header3{
    margin: 0;
    font-size: 22px;
    line-height: 40px;
    font-family: "open sans";
    color: #823012;
}

.div123{
    margin: 0 20px;
}

.roundedbtn{
    border: none;
    color: #fff;
    background: #507bfc;
    padding: 10px 40px;
    font-size: 20px;
    font-family: "open sans";
    border-radius: 25px;
    float: right;
}

.inputbx::before{
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}