<div class=''>
<div class="mainDiv">
 
 
 
 <!-- bookmark folder header -->
 <div class="row ro100">
    <div class=" col-md-1 col1"> 
      <button class="roundbtn" (click)="goBACK()"><i class="fas fa-chevron-left"></i></button>
    </div> 
    <div class="col-md-9">
      <h2 class="mattitle">Bookmark folder name</h2>
      <p class="mattitle">4 items</p>
    </div>
    <div class="col-md-2">
      <button class="roundico"><i class="far fa-trash-alt"></i></button>
      <button class="roundico"><i class="fas fa-pen"></i></button>
    </div>    
</div>
<!-- bookmark folder header -->





<div class="row">
<div class="col-md-8">
    <div class="row">
      <div class="col-md-6"  *ngFor="let items of bookmarkitems">
       
          <mat-card class="matCardSize">
        
            <div  [ngClass]="{'imgblockSize': !items.isMandatory , 'imgblockSizeSmall' :items.isMandatory }">
                <div class="mandatoryLabel" *ngIf="items.isMandatory">Mandatory</div>
                <img mat-card-image src="{{ items.cardImg }}" class="avatar1" *ngIf="!items.isMandatory">
                <img mat-card-image src="{{ items.cardImg }}" class="avatar2" *ngIf="items.isMandatory">
            </div>
            <mat-card-title>
                <div class="row description">
                    <p class="col-sm-10">{{ items.content }}</p>
                    <i class="fas fa-bookmark col-sm-2  save"  [ngClass]="{'active' : items.save}" (click)="togglesave(items)"></i>
                </div>
            </mat-card-title>
            <mat-card-content>
                {{ items.stages }}
            </mat-card-content>
            <mat-card-subtitle>{{items.description}}</mat-card-subtitle>
          
        </mat-card>
        
      </div>
    </div>
  </div>


  <div class="col-md-4 colPad">
      <div class="row ">
        <h1 class="sectionRightTitle">Bookmark Folder</h1>
      </div>
     
      <div class="row">
        <mat-card class="sectionRightCard padding0">
          <div class="row alignMiddle2" >

            <button mat-fab color="primary" class="matbtnicon"  (click)="createbookmark()">+</button>
            <h4 class="mattitle">Create a new folder</h4>
          </div>
          <div class="col-sm-12 padding0 marginTOp30">
            <p>Your Folders</p>
            <ul class="folderUl">
              <li class="listOfHashTag" *ngFor="let folder of bookmarkFolder">
                <div class="row listrow">
                  <div class="folderICon col-md-2">
                    <i class="fas fa-folder"></i>
                  </div>
      
                  <div class="col-md-9"> 
                    <h6 class="foldername">{{ folder.folderName }}</h6>
                    <p class="items">{{ folder.time }} ago</p>
                  </div>
                  <div class="col-md-1">
                  <button class="roundarrow2"><i class="fas fa-chevron-right"></i></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </mat-card>
      </div> 

      <div class="row margintop">
          <h1 class="sectionRightTitle ">Recently Viewed Bookmarks</h1>
      </div>
      <div class="row">
        <mat-card class="mat">
            <ul class="padding0">
                <li *ngFor="let recents of recentlyViewed" class="listOfHashTag">
                  <img src="./assets/images/Group_16.png" class="squareimg">
                  <div class="blockhashname">
                    <h4 class="name">#{{recents.name}}</h4>
                    <p class="noOfPosts">{{recents.noOfPost}} posts</p>
                  </div>
                  <button class="roundarrow2"><i class="fas fa-chevron-right"></i></button>
          
                </li>
              </ul>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</div>

  

  