<div *ngIf="!skeleton">
    <mat-card class="matE" *ngIf="badges?.length != 0">
        <mat-card-title class="mattitle">Earned Badges</mat-card-title>

        <mat-card-content>
            <div class="ro">
                <div class="carouselslider123 " ng2-carouselamos [width]="250" [items]="badges" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
                </div>

                <ng-template #prevTemplate>
                    <div class=" arrow123">
                        <button class="roundarrow324">
                          <i class="fas fa-chevron-left left-arrow123"></i></button>
                    </div>
                </ng-template>

                <ng-template #nextTemplate>
                    <div class="arrow">
                        <button class="roundarrow324"><i
                            class="fas fa-chevron-right right-arrow123"></i></button>
                    </div>
                </ng-template>

                <ng-template let-item let-i="index" #itemTemplate>
                    <div class="rounddiv1234">
                        <img src="{{item.badgesimg}}" onerror="this.src = './assets/images/Master.svg'" class="icon">
                        <p class="badge-title" *ngIf="item.badgeTitle.length > 6" [title]="item.badgeTitle">{{ item.badgeTitle }}</p>
                        <p class="badge-title" *ngIf="item.badgeTitle.length <= 6" [title]="item.badgeTitle">{{ item.badgeTitle | slice:0:5}}...</p>

                    </div>
                </ng-template>

                <!-- <div class="badges" *ngFor="let badge of badges">
            <div class="rounddiv">
              <img src="{{badge.path}}" class="icon">
            </div>
          </div> -->
            </div>
            <p class="para">You have earned <strong class="strongColor">{{ badges?.length }} badges !</strong></p>
            <!-- <p class="redNote">You need 22 points more to earn your next badge</p> -->

        </mat-card-content>
    </mat-card>


    <mat-card class="matE" *ngIf="badges?.length == 0">
        <mat-card-title class="mattitle">Earned Badges</mat-card-title>
        <mat-card-content>
            <div class="noBadgeIcon">
                <!-- <img src="assets/images/icon.png" class="nobadgeIco"> -->
                <i class="fa fa-id-badge" aria-hidden="true"></i>
            </div>
            <div>
                <p class="para"> You have no badges !</p>
                <!-- <p class="redNote">You need 22 points to earn a badge.</p> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="skeleton">
    <mat-card class="matE">
        <mat-card-title class="mattitle">Earned Badges</mat-card-title>
        <mat-card-content>
            <ngx-content-loading [width]="400" [height]='160'>
                <svg:g ngx-rect width="100" height="140" y="0" x="25" rx="10" ry="10"></svg:g>
                <svg:g ngx-rect width="100" height="140" y="0" x="150" rx="10" ry="10"></svg:g>
                <svg:g ngx-rect width="100" height="140" y="0" x="275" rx="10" ry="10"></svg:g>
            </ngx-content-loading>
        </mat-card-content>
    </mat-card>
</div>
