@import "../../@theme/styles/variable.scss";

.matE {
    width: 100%;
    border-radius: 10px;
    margin: 0;
    box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1) !important;
}

.mattitle {
    text-align: center;
    color: #797878;
    margin: 0;
    line-height: 40px;
}

.carouselslider123 {
    height: auto;
    padding: 0 15px;
    width: 100%;
}

.arrow123 {
    text-align: center;
    padding: 56px 0;
}

.roundarrow324 {
    margin: 4px;
    width: 30px;
    padding: 3px 0px;
    height: 30px;
    text-align: center;
    font-size: 13px;
    border-radius: 25px;
    border: 2px solid;
    // color: #507BFC;
    color: var(--colorCommon);
    background-color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.left-arrow123 {
    position: relative;
    left: -1px;
}

.right-arrow123 {
    position: relative;
    left: 2px;
}

.noBadgeIcon {
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    i {
        font-size: 40px;
        text-align: center;
        color: var(--colorIcons);
    }
}

.nobadgeIco {
    width: 30px;
}

.ro {
    width: 100%;
    margin: auto;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.badges {
    margin: auto;
    text-align: center;
    // position: relative;
}

.icon-poll {
    height: 100px;
    width: 100px;
}

.rounddiv1234 {
    // background: #fcfcfc;
    padding: 4px;
    // box-shadow: 0 2px 5px 0 rgba(47,83,151,0.1);
    // border-radius: 50%;
    // margin: 0 10px;
    margin: 0 auto;
    // cursor: pointer;
}

.badge-title {
    // background: #4747FF;
    background: var(--colorCommon);
    margin: 0;
    text-align: center;
    font-size: 13px;
    text-transform: capitalize;
    padding: 10px 10px;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.badge-title:hover {
    overflow: visible;
}

.icon {
    width: 100px;
    height: 72px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: gainsboro;
}

.para {
    text-align: center;
    line-height: 36px;
    margin: 0;
    font-size: 17px;
    font-family: "open sans";
}

.strongColor {
    // color: #0909ffbf;
    color: var(--colorCommon);
}

.redNote {
    text-align: center;
    line-height: 25px;
    margin: 0;
    font-size: 13px;
    font-family: "open sans";
    color: #fea08f;
}