<!-- <div class="chatContainer"> 
 <div class="col-md-3 chatList" [style.height.px]="myInnerHeight">  -->
<!-- <div class="col-md-12 text-secondary title">
        Welcome {{userdetail.username}}
      </div>  -->
<!-- <div class="row chatListHeader"> -->
<!-- <mat-form-field class="col-md-12"> -->
<!-- <input matInput [matAutocomplete]="auto" [formControl]="searchCtrl">
				<mat-placeholder class="placeholder">Search</mat-placeholder>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let user of filteredUsers | async" [value]="user.name"
						(onSelectionChange)="addUserInChatList(user)">
						<span>{{ user.name }}</span> - <span>{{ user.email }}</span>
					</mat-option>
				</mat-autocomplete> -->
<!-- </mat-form-field> -->
<!-- </div> -->
<!-- </div> 
</div>    -->
<!-- [style.height.px]="clientHeight" -->
<!-- <div class="row chatListUl">
      <div *ngFor="let chatItem of data.chatlist; let i = index; " class="row chatArray"
        (click)="activeUser(i,prevIndex);selectFriendToChat(chatItem)" [ngClass]="{'activeChat': chatItem.active}">
        <div class="col-md-2 alignItmcenter">
          <img src="./assets/images/jack.png" class="profileImg">
        </div>
        <div class="col-md-8">
          <p class="chatName"> {{ chatItem.name }} </p>
          <p class="msgPreview"> {{ chatItem.messagePeview || 'NA' }} </p> -->
<!-- </div>
        <div class="col-md-2">
           <p class="lastmsgTime">{{ chatItem.lastMsgTime | date:"hh:mma"}}</p>
					<div class="pendingMsg bg-danger" [hidden]="chatItem.pendingMsgs == 0 && chatItem.pendingMsgs">
						{{ chatItem.pendingMsgs || '0' }}</div>
				</div> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 chatScreen" [style.height.px]="myInnerHeight">
    <div class="chatContainer">
     
      <div class="chatContent" [style.height.px]="myInnerHeight">
        <div class="chatHeadr212">
          <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button>
          <button class="callbtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking && voiceCall"><i
              class="fas fa-phone"></i></button>
          <button class="callbtn marg0" (click)="OpenInviationPopup()" *ngIf="!_videoworking && videoCall"><i
              class="fas fa-video"></i></button>
        </div>
        <div class="chat" #scrollMe [style.height.px]="chatboxHeight">
          <div *ngIf="chatInit">
            <div *ngFor="let chat of data.messages" class="p16">
              <div class="d-flex justify-content-start mb-4" *ngIf="chat?.fromUserId != UserId">
                <div class="img_cont_msg">
                  <img [src]="chat?.friendProfilePic" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                  {{chat?.message}}
                  <span class="msg_time">{{chat?.datetime | date:"hh:mma"}}</span>
                </div>
              </div>
              <div class="d-flex justify-content-end mb-4" *ngIf="chat?.fromUserId == UserId">
                <div class="msg_cotainer_send">
                  {{chat?.message}}
                  <span class="msg_time_send">{{chat?.datetime | date:"HH:mm"}}</span>
                </div>
                <div class="img_cont_msg">
                  <img [src]="chat?.userProfilePic" class="rounded-circle user_img_msg">
                </div>
              </div>
            </div>
            <div *ngIf="data.messages.length == 0">
              <div class="a-E Eg">
                <div class="hN soT5xd">
                
                  <i class="fa fa-comment text-secondary iconsize8em" aria-hidden="true"></i>
                  <div class="Ziild">
                    <div class="Cb5AFb mopgBe">Start a conversation with
                      <strong>{{data.selectedFriendName}}</strong>!</div>
                   
                  </div>
                  <div class="ZrxcBe Y6eeve" role="alert"></div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-Screen-Footer">
          <div class="row-height-Footer">
            <textarea rows="1" cols="5" class="typeHereInput" placeholder="Type your message here" [(ngModel)]="message"
              (keyup.enter)="sendChatMessage($event,message)"></textarea>
            <button class="btn-chat-send" (click)="sendChatMessage($event,message)"><i
                class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div class="webinar_container_div">
  <div class="webinar_chat_header">
    <div class="first_col_title">
      <p> Welcome {{userdetail.username}} </p>
    </div>
    <div class="second_col_button">
      <div></div>
      <div class="video_call_button">

        <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button>
        <button class="callbtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking && voiceCall"><i
            class="fas fa-phone"></i></button>
        <button class="callbtn  " (click)="OpenInviationPopup()" *ngIf="!_videoworking && videoCall"><i
            class="fas fa-video"></i></button>
      </div>
    </div>
  </div>


  <div class="webinar_chat_container">
    <div class="chat_list">
      <div class="singel_chat_container" *ngFor="let chatItem of data.chatlist; let i = index;"
        (click)="activeUser(i,prevIndex);selectFriendToChat(chatItem)"
        [ngClass]="{'single_chat_container_active': !chatItem?.active}">
        <div class="profile_image">
          <img src="../../../assets/user-avtars/1.jpg" alt="" srcset="">
        </div>
        <div class="profile_message">
          <h3 class="profile_name">
            {{ chatItem.name}}
          </h3>
        </div>
      </div>
      <!-- <div class="singel_chat_container single_chat_container_active">
                      <div class="profile_image">
                          <img src="../../../assets/user-avtars/1.jpg" alt="" srcset="">
                      </div>
                      <div class="profile_message">
                        <h3 class="profile_name">
                            Trainer 2 a
                        </h3>
                      </div>
                  </div>
                  <div class="singel_chat_container">
                      <div class="profile_image">
                          <img src="../../../assets/user-avtars/1.jpg" alt="" srcset="">
                      </div>
                      <div class="profile_message">
                        <h3 class="profile_name">
                            Trainer 2 a
                        </h3>
                      </div>
                  </div> -->
    </div>
    <div>
      <div class="chat_box" *ngIf="chatInit" #scrollMe>
        <!-- <div class="header_chat">
                <div class="profile_image">
                    <img src="../../../assets/user-avtars/1.jpg" alt="" srcset="">
                  </div>
                  <div class="profile_message">
                    <h3 class="profile_name">
                      {{ data.chatlist[currentUserIndex].name}}
                    </h3>
                  </div>
            </div> -->
        <div *ngFor="let chat of data.messages">
          <div class="messages_container_right chat_row_gap" *ngIf="chat?.fromUserId != UserId">
            <div class="profile_image_chat">
              <img [src]="chat?.friendProfilePic">
            </div>
            <div class="chat_bubble">
              {{chat?.message}}
            </div>
          </div>
          <div class="messages_container_left chat_row_gap" *ngIf="chat?.fromUserId == UserId">

            <div class="chat_bubble">
              {{chat?.message}}
              <!-- Hellooooooooooooooooooo Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maxime, vel, quod doloribus asperiores, hic cumque recusandae consectetur veritatis commodi cupiditate similique placeat quas dicta facere corporis harum? Asperiores, corrupti. -->
            </div>
            <div class="profile_image_chat">
              <img [src]="chat?.userProfilePic">
            </div>
          </div>
        </div>

      </div>
      <div class="start_chat_box" *ngIf="data.messages.length == 0">
        <div class="no_chat_icon">
          <i class="fa fa-comments"></i>
          <span>Start a conversation with
            {{data?.selectedFriendName}}</span>
        </div>
      </div>
      <div class="chat_send_container">
        <div>
          <textarea class="typeHereInput" rows="1" placeholder="Type your message here" [(ngModel)]="message"
            (keyup.enter)="sendChatMessage($event,message)"></textarea>
        </div>
        <div>
          <button class="btn-chat-send" (click)="sendChatMessage($event,message)"><i
              class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="col-md-12 chatList" [style.height.px]="myInnerHeight" *ngIf="_videoworking">
  <iframe style="width:100%;display: block;" [style.height.px]="myInnerHeight" [src]="bbburl" *ngIf="bbburl"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div> -->
<!--  -->
<!-- " -->
<div class="popup_video_call" *ngIf="_videoworking">
  <div class="video_call_container">
    <div class="webinar_chat_container_popup">
      <div>
        <div class="close_popup">
          <h1 id="session-title">{{openViduWebinarInfo.sessionName}}</h1>
          <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button>
        </div>
        <div class="chat_box" *ngIf="chatInit && data.messages.length > 0" #popupscrollMe>
          <div *ngFor="let chat of data.messages">
            <div class="messages_container_right chat_row_gap" *ngIf="chat?.fromUserId != UserId">
              <div class="profile_image_chat">
                <img [src]="chat?.friendProfilePic">
              </div>
              <div class="chat_bubble">
                {{chat?.message}}
              </div>
            </div>
            <div class="messages_container_left chat_row_gap" *ngIf="chat?.fromUserId == UserId">

              <div class="chat_bubble">
                {{chat?.message}}
                <!-- Hellooooooooooooooooooo Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maxime, vel, quod doloribus asperiores, hic cumque recusandae consectetur veritatis commodi cupiditate similique placeat quas dicta facere corporis harum? Asperiores, corrupti. -->
              </div>
              <div class="profile_image_chat">
                <img [src]="chat?.userProfilePic">
              </div>
            </div>
          </div>
        </div>
        <div class="start_chat_box" *ngIf="data.messages.length == 0">
          <div class="no_chat_icon">
            <i class="fa fa-comments"></i>
            <span>Start a conversation with
              {{data?.selectedFriendName}}</span>
          </div>
        </div>
        <div class="chat_send_container">
          <div>
            <textarea class="typeHereInput" rows="2" placeholder="Type your message here" [(ngModel)]="message"
              (keyup.enter)="sendChatMessage($event,message)"></textarea>
          </div>
          <div>
            <button class="btn-chat-send" (click)="sendChatMessage($event,message)"><i
                class="fas fa-paper-plane"></i></button>
          </div>
        </div>

      </div>

    </div>
    <div class='pos_rel'>
      <!-- <iframe width="300" [style.height.px]="myInnerHeight" [src]="bbburl" *ngIf="bbburl"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      <!-- <iframe [src]="bbburl" *ngIf="bbburl"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
      <!-- <iframe [src]="bbburl" *ngIf="bbburl" frameborder="0"> </iframe> -->
      <!-- <div *ngIf="session" id="session">
              <opv-session #ovSessionComponent [sessionName]="openViduWebinarInfo.sessionName" 
              [ovSettings]="ovSettings" [user]="openViduWebinarInfo.myUserName" 
              [tokens]="openViduWebinarInfo.tokens" (leaveSession)="handlerLeaveSessionEvent($event)"
                (joinSession)="handlerJoinSessionEvent($event)" (error)="handlerErrorEvent($event)">
              </opv-session>
            </div> -->

      <div *ngIf="session" id="session">
        <!-- <div id="session-header">
          <h1 id="session-title">{{openViduWebinarInfo.sessionName}}</h1>
          <input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" (click)="leaveSession()"
            value="Leave session">
        </div> -->
        <div class="video_chat_container">
          <div class="stream_maneger" *ngIf="mainStreamManager" id="main-video">
              <user-video [streamManager]="mainStreamManager" [role]="'stream_maneger_ov'"></user-video>
          </div>
          <div class="below_container">
            <div class="list_container">
              <div class="chat_icon_container">
                <div class="publisher" *ngIf="publisher">
                    <user-video [streamManager]="publisher" [username]="webinarinfo.SenderUsername"
                    (click)="updateMainStreamManager(publisher)" [role]="'publisher_ov'"></user-video>
                </div>
                <div class="subcriber" *ngFor="let sub of subscribers">
                    <user-video [streamManager]="sub" [username]="" (click)="updateMainStreamManager(sub)" [role]="'subcriber_ov'"></user-video>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="mainStreamManager" id="main-video" class="col-md-6">
          <user-video [streamManager]="mainStreamManager"></user-video>
        </div>
        <div id="video-container" class="col-md-6">
          <div *ngIf="publisher" class="stream-container col-md-6 col-xs-6">
            <user-video [streamManager]="publisher" [username]="webinarinfo.SenderUsername"
              (click)="updateMainStreamManager(publisher)"></user-video>
          </div>
          <div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
            <user-video [streamManager]="sub" [username]="" (click)="updateMainStreamManager(sub)"></user-video>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>


<div *ngIf="visibleSendModal">
  <ngx-modal-viewer [modalInfo]='modalSendInvitation' (acceptEvent)="SendInviation($event)"
    (rejectEvent)="CloseModal($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleReceiveModal">
  <ngx-modal-viewer [modalInfo]='modalReceiveInvitation' (acceptEvent)="AcceptInvitation($event)"
    (rejectEvent)="AcceptInvitation($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleConnectingModal">
  <ngx-modal-viewer [modalInfo]='modalConnecting' (rejectEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleRejectModal">
  <ngx-modal-viewer [modalInfo]='modalRejectMessage' (acceptEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleEndedModal">
  <ngx-modal-viewer [modalInfo]='modalEndedMessage' (acceptEvent)="EndedMeeting()" (rejectEvent)="CloseModal($event)">
  </ngx-modal-viewer>
</div>
<div *ngIf="visibleEndModal">
  <ngx-modal-viewer [modalInfo]='modalEndMessage' (acceptEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<!-- <div class="toaster_position">
    <div class="event-grid-row-container-1">
        <div class="event-calender-grid">
            <div class="date-content">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              <p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>
            </div>
            <div class="event-content">
              <span class="event-description">Name</span>
              <span class="event-description">Name Dejee</span>
              <div class="event-action-type" >
                <span >Helllooooooo</span>
              </div>
            </div>
            <div class="close_icon">
                <i class="fa fa-close"></i>
            </div>
        </div>
      </div>
</div> -->
