<!-- <div class="courseHeading">
	<div class="icoab">
		<i class="fas fa-chalkboard-teacher"></i>
	</div>
	<div class="courseWrap">
		<p class="coursetitle">{{trainerCourseName}}</p>
		<p class="courseDesc">{{trainerCourseDescription}}</p>
	</div>

</div> -->
<div class="trainer-course-content-main-container">
<!-- <div class="course-detail-content-header">
		<div class="course-detail-content-header-item">
				<img class="course-detail-icon" src='assets/images/orangeLearn.svg' />
		</div>
		<div class="courseWrap">
				<p class="coursetitle">{{batchCourseName}}</p>
				<p class="courseDesc">{{trainerCourseDescription}}</p>
		</div>
</div> -->
<div class='Trainers-Tabs'>

	<div class='Tab-container-ta' *ngFor='let tabs of contentArray;let i=index;'
		[ngClass]="ActiveTab==i ? 'Tab-container-active-ta' : 'Tab-container-ta'" (click)='tabChanged(tabs)'>
		<div class='Tab-content' [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'" title="{{ tabs.moduleName | titlecase }}">
			<span *ngIf="tabs.moduleName.length >= 13">{{ tabs.moduleName |  slice:0:13 | titlecase }} ...</span>
			<span *ngIf="tabs.moduleName.length  < 13">{{ tabs.moduleName | titlecase }} </span>
		</div>
	</div>

</div>

<div class='bodyContent' *ngFor='let content of contentDataArray;let i=index;'>
	<div class="trainer-courses-content-grid-1">
			<div class="body-img" [ngStyle]="bindBackgroundImage(content)">
					<!-- <img class='bodyImg' [src]="detail.img" /> -->
					<!-- <div *ngIf="content.activity_type != 'Quiz' && content.activity_type != 'Feedback' && content.activity_type != 'Webinar'">
						<div class="icons-container single-icon">
							<i class="fa fa-play" aria-hidden="true" ></i>
							<i class="fa fa-lock" aria-hidden="true" *ngIf='!content.wCompleted && content.dependant!=null'></i>
						</div>
					</div>
					<div *ngIf="content.activity_type == 'Webinar'">
						<div class="icons-container single-icon" >
							<i class="fa fa-video-camera" aria-hidden="true"></i>
						</div>
					</div> -->
					
			</div>
			<div class="body-main">
				<div class="title-course-icon-text-div">
					<div class="course-title">
						<!-- <span class="number">{{i+1}}</span> -->
						<span class="title">{{content.activityName}}</span>
					</div>
					<!-- <div class="course-icon">
						<img class='cardImg' src="assets/images/online.svg"/>
						<span class="course-icon-text">ONLINE </span>
					</div> -->
				</div>
				<div class="main-content">
					<div [innerHTML]="content?.summary"></div>
				</div>
				<div class="button-container">
					<button *ngIf="content.summary" class="bodyMidButton-2" (click)='goToCourse(content)'>View</button>
					<button *ngIf="!content.summary" class="bodyMidButton-1" (click)='goToCourse(content)'>View</button>
				</div>
				<!-- <div *ngIf='detail.wCompleted' class="button-container">
					<button *ngIf="detail.summary" class="bodyMidButton-2CompDis">Completed on {{ detail.completedDate | date:"dd MMM yyyy" }}</button>
					<button *ngIf="!detail.summary" class="bodyMidButton-1CompDis">Completed on {{ detail.completedDate | date:"dd MMM yyyy" }}</button>
				</div>
				<div *ngIf='!detail.wCompleted && detail.dependant!=null' class="button-container">
					<button *ngIf="detail.summary" class="bodyMidButton-2Dis" (click)='goToCourse(detail)'>Complete {{ detail.dependant }} to unlock</button>
					<button *ngIf="!detail.summary" class="bodyMidButton-1Dis" (click)='goToCourse(detail)'>Complete {{ detail.dependant }} to unlock</button>
				</div> -->
			</div>
	</div>
</div>
</div>
