<mat-card class="cardPadding width_restriction">
    <div class="contents0">
        <div class="qn-Ans-container" *ngFor="let content of trainerCodeOfConduct; let i = index">
            <p class="question"><strong class="qno">{{i+1}}</strong>{{content.secName}}</p>
            <p class="subpara">{{content.secDesc}}</p>
            <span *ngIf="content?.contentRef">
                <div [style.backgroundImage]="'url('+ content.contentRef +')'" *ngIf="content?.mimeType == 'image'" class="view_image">
                </div>
                <a *ngIf="content?.mimeType == 'image'" href="{{content?.contentRef}}" download>Click here to download.</a>
                <a *ngIf="content?.mimeType == 'application'" href="{{content?.contentRef}}" download>Click here to download.</a>
            </span>
        </div>
    </div>
   
    <div class="cardfooter">
        <p class="selectbox">{{selectedProgram}}</p>
            <!-- <mat-form-field class="selectbox">
                    <mat-label>Select Program</mat-label>
                    <mat-select [(ngModel)]="selectedProgram">
                        <mat-option [value]="" disabled>Select program</mat-option>
                        <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
                    </mat-select>
                </mat-form-field> -->
        <div class="twoColgrid">
            <!-- [disabled]="!agreeAndDisAgreeButtonStatus" -->
            <button class="agreebtn" [ngClass]= "{agreebtnActive: flagData == 0, pointerDisabled:flagData == 2 }"  
                    (click)="agreeDisagreeCOC(selectedProgram,1)" [disabled]="!agreeAndDisAgreeButtonStatus">Agree</button>
            <button class="agreebtn" [ngClass]= "{agreebtnActive: flagData == 2 , pointerDisabled:flagData == 0}" 
                    (click)="agreeDisagreeCOC(selectedProgram,0)" [disabled]="!agreeAndDisAgreeButtonStatus">Disagree</button>
        </div>
    </div>

    <!-- <div class="cardfooter" *ngIf="stepsData[0].status == 1">
    <div class="threeColGrid">
      <mat-form-field class="selectbox">
          <mat-label>Select Program</mat-label>
          <mat-select [disabled]="true" [(ngModel)]="selectedProgram">
              <mat-option [value]="" disabled>Select program</mat-option>
              <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
          </mat-select>
      </mat-form-field>
      <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,true)">Agree</button>
      <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,false)">Disagree</button>
    </div>

    <p>You have Already Selected the program</p>
  </div>
  <div class="cardfooter" *ngIf="stepsData[0].status == 2">
      <div class="threeColGrid">
        <mat-form-field class="selectbox">
            <mat-label>Select Program</mat-label>
            <mat-select [(ngModel)]="selectedProgram">
                <mat-option [value]="" disabled>Select program</mat-option>
                <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,true)">Agree</button>
        <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,false)">Disagree</button>
      </div>
      <p>Please update your profile to proceed further</p>
    </div>
    <div class="cardfooter" *ngIf="stepsData[0].status == 3">
        <div class="threeColGrid">
          <mat-form-field class="selectbox">
              <mat-label>Select Program</mat-label>
              <mat-select [(ngModel)]="selectedProgram">
                  <mat-option [value]="" disabled>Select program</mat-option>
                  <mat-option *ngFor="let program of programs" [value]="program.value">{{program.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,true)">Agree</button>
          <button class="agreebtn" [disabled]="true" (click)="agreeDisagreeCOC(selectedProgram,false)">Disagree</button>
        </div>
        <p>You have rejected this program. so, you are not allowed to select the program</p>
      </div> -->

</mat-card>
