ngx-eep-coc {
  .question {
    font-size: 24px;
    line-height: 50px;
    // color: #03a9f4;
    color: var(--colorCommon);
    margin-bottom: 5px;
    // border-bottom: 1px solid #78d5ff;
    border-bottom: 1px solid var(--colorCommon);
    text-transform: capitalize;
  }

  .qn-Ans-container {
    padding-bottom: 30px;
  }

  .qno {
    margin-right: 15px;
  }

  .subpara {
    font-size: 16px;
    line-height: 35px;
    color: #1d2f3e;
    margin-bottom: 0;
    text-align: justify;
    width: 98%;
    font-weight: 300;
  }

  .cardPadding {
    padding: 0 12px;
  }
  .width_restriction {
    width: 100%;
    margin: 0 auto;
  }
  // .cardfooter {
  //   position: -webkit-sticky;
  //   position: sticky;
  //   margin: auto;
  //   text-align: center;
  //   // display: grid;
  //   // grid-template-columns: 1fr 1fr;
  //   .pointerDisabled {
  //     cursor: not-allowed;
  //   }
  // }
  .cardfooter {
    position: -webkit-sticky;
    position: sticky;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #e4e4e4;
    padding-top: 12px;
    .pointerDisabled {
      cursor: not-allowed;
    }
  }
  // .selectbox {
  //   font-size: 18px;
  //   width: 100%;
  //   margin: auto;
  // }
  .selectbox {
    font-size: 24px;
    width: 100%;
    margin: auto;
    text-align: left;
    // color: #03a9f4;
    color: var(--colorCommon);
  }
  .contents0 {
    height: 400px;
    overflow-y: scroll;
  }

  .contents0::-webkit-scrollbar {
    width: 5px;
    scroll-margin-left: 10px;
  }
  .contents0::-webkit-scrollbar-thumb {
    background: #008eff;
    border-radius: 10px;
  }

  .contents0::-webkit-scrollbar-track {
    display: none;
  }

  .threeColGrid {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .twoColgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    // grid-column-gap: 20px;
  }
  .agreebtn {
    height: 40px;
    // background: #fff;
    // color: #2196f3;
    // border: 1px solid #2196f3;
    background: #fff;
    color: var(--colorCommon);
    border: 1px solid var(--colorCommon);
    border-radius: 100px;
    font-size: 16px;
    margin: auto;
    // width: 140px;
    width: 200px;
    cursor: pointer;
  }

  .agreebtnActive {
    height: 40px;
    // color: #fff;
    // background: #2196f3;
    // border: 1px solid #2196f3;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    border-radius: 100px;
    font-size: 16px;
    margin: auto;
    width: 200px;
    // cursor: pointer;
    cursor: not-allowed;
  }
  .view_image {
    width: 200px;
    height: 200px;
    // background-image: url(https://bhaveshedgetest.s3.ap-south-1.amazonaws.com/9.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px auto 20px auto;
  }
}
