<div class="cardSingle" [ngClass]="{ 'card_label_mandtory' : data?.courseType=='MANDATORY','card_label_recommended' : data?.courseType=='RECOMMENDED' || data?.courseType=='ASPIRATIONAL','card_label_enrolled' : data?.courseType == 'SELF', 'card_label_OPEN' : data?.courseType=='OPEN'}" >
  <div *ngIf="data?.isWorkFlow == 1" >
          <div class="upcoming-container" *ngIf="data?.compStatus == 'UPCOMING'">
                  <div class="inside-content">
                      <i class="fa fa-calendar-o" aria-hidden="true"></i>
                      <p>The workflow will start from {{data?.startDate }}</p>
                  </div>
              </div>
          <div class="card_image" [style.background-image]="bindBackgroundImage(data?.typeImage)" (click)='fireEvent("goToWorflow",data)' >
                  <!-- [ngClass]="{ 'legenddiv-mandatory' : data?.courseType=='MANDATORY','legenddiv-recommended' : data?.courseType=='RECOMMENDED','legenddiv-aspirational' : data?.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : data?.courseType=='SELF'}" -->
                  <div class="progressDiv-card">
                          <div class="card_label " >
                                  <!-- <span> {{data?.courseType | slice:0:1}}</span>  -->
                           </div>
                           <div class="badge_container_cap" [ngClass]="{ 'badge_container_cap_mandtory' : data?.courseType=='MANDATORY','badge_container_cap_recommended' : data?.courseType=='RECOMMENDED','badge_container_cap_aspirational' : data?.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : data?.courseType == 'SELF', 'badge_container_cap_OPEN' : data?.courseType=='OPEN'}">
                              <!-- <i class="fa fa-graduation-cap"></i> -->
                              <!-- {{  data?.courseType === 'SELF' ? 'OPEN' : data?.courseType  | uppercase}} -->
                              {{  data?.courseType === 'OPEN' ? 'CATALOGUE' : data?.courseType  | uppercase}}
                      </div>

                  </div>
                  <div class="progressDiv-card">

                          <div class="badge_container_percent" *ngIf="data?.compStatus!='OPEN'">{{ ProgressInWhole(data?.perComplete) }} %</div>
                          <div class='self-enrol-buttonO' *ngIf="data?.compStatus=='OPEN'" (click)='fireEvent("goToWorflow",data)' >
                                  <span class='self-enrol-button-text'>ENROL</span>
                              </div>
                  </div>
              </div>
              <div class="card_content card_content_workflow" (click)='fireEvent("goToWorflow",data)' >
                      <div class="title_Card">{{ data?.wname }}</div>

                      <div class="card_content_grid">
                          <!--  {{ data?.workflowEarnedPoints }} /  -->
                              <div class="card_subtitles">Pts:{{ data?.workflowTotalPoints }}</div>
                              <div class="card_subtitles"><i class="fa fa-cog" aria-hidden="true"></i> Workflow</div>
                              <p class="card_subtitles"><i class="far fa-calendar-alt"></i>   <span *ngIf="!data?.wf_enddate">NA</span>
                              <span *ngIf="data?.wf_enddate"> {{ data?.wf_enddate|date: 'dd-MMM-yyyy'}} </span>
                      </div>
              </div>
  </div>
</div>
