    <div class="bg">
        <div class="row container content_inside_box">
            <div class="col-md-6 align_content_inside">
                <div class="error-template text-left">
                   
                    <h3 class="text-left">
                        The site is under-going maintenance.</h3>
                    <h2 class="text-left">
                        Amazing features are coming soon!</h2>
                    <div class="text-left">
                        <p>
                            In case of any queries. you may contact the below support desks.</p><br>
                      <br>
                      <p>BFL: <a href="mailto:trainingdesk@bajajfinserv.in">trainingdesk@bajajfinserv.in</a>
                        </p>
                      <p>
                        BHFL: <a href="mailto:BHFL_trainingdesk@bajajfinserv.in">BHFL_trainingdesk@bajajfinserv.in</a>
                      </p>
                      <p>
                        BFDL: <a href="mailto:bfdllearningdesk@bajajfinserv.in">bfdllearningdesk@bajajfinserv.in</a>
                      </p>
                      <br>
                        <p>
                           We thank you for your cooperation.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-6 align_content_inside text-center" >
                <!-- <svg  preserveAspectRatio="none" class="svg-box" width="600px" height="900px" viewbox="0 0 637 845" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <path d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z" id="Polygon-1" stroke="#3bafda" stroke-width="6" sketch:type="MSShapeGroup"></path>
                            <path d="M78.5,529 L147,569.186414 L147,648.311216 L78.5,687 L10,648.311216 L10,569.186414 L78.5,529 Z" id="Polygon-2" stroke="#7266ba" stroke-width="6" sketch:type="MSShapeGroup"></path>
                            <path d="M773,186 L827,217.538705 L827,279.636651 L773,310 L719,279.636651 L719,217.538705 L773,186 Z" id="Polygon-3" stroke="#f76397" stroke-width="6" sketch:type="MSShapeGroup"></path>
                            <path d="M639,529 L773,607.846761 L773,763.091627 L639,839 L505,763.091627 L505,607.846761 L639,529 Z" id="Polygon-4" stroke="#00b19d" stroke-width="6" sketch:type="MSShapeGroup"></path>
                            <path d="M281,801 L383,861.025276 L383,979.21169 L281,1037 L179,979.21169 L179,861.025276 L281,801 Z" id="Polygon-5" stroke="#ffaa00" stroke-width="6" sketch:type="MSShapeGroup"></path>
                        </g>
                    </svg> -->
                    <img src="../../assets/images/laptop-512.png" class="coming_soon_image" alt="" srcset="">
            </div>
        </div>
    </div>