<div class="otpContainer">
  <div class="row divCol12" [hidden]="nxtpagevariable">

    <div class="col-md-5 divCol5">
      <div class="oval ovalDiv">
        <p class="hello ovalContent">Hello!</p>
      </div>
    </div>

    <div class="col-md-7 divCol7" *ngIf="!nxtpagevariable" >
        <div class="text-right logoDiv">
            <img [src] = "currentBrandData?.logo" class="companyLogo">
      </div>
      <form [formGroup]="otpForm" class="otpForm" >
          <mat-hint class="pageno">2/3</mat-hint>
          <div class="please-fill-the-deta marginBottom30">
            <h4>Please enter the token</h4>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">

              <table class="otptable" cellspacing="0">
                <tr class=' '>
                  <td><mat-form-field class="otptable">
                    <input formControlName="firstDigit" matInput maxlength="1"  placeholder="*" [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
                    <!-- <mat-hint>{{timeout}}</mat-hint> -->
                  </mat-form-field></td>
                  <td><mat-form-field class="otptable">
                    <input matInput maxlength="1" formControlName="secondDigit"  placeholder="*" [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
                  </mat-form-field></td>
                  <td><mat-form-field class="otptable">
                    <input matInput maxlength="1" formControlName="thirdDigit" placeholder="*" [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
                  </mat-form-field></td>
                  <td><mat-form-field class="otptable">
                      <input matInput maxlength="1" formControlName="fourthDigit" placeholder="*" [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
                    </mat-form-field></td>
                </tr>
              </table>


            </div>
          </div>

          <div class="marginTop46">
            <button class="nxt resendbtn nxtbtn" (click)="resendToken()" >Resend</button>
            <button class="nxt nxtbtn" (click)="gotothispage()" >Verify</button>
          </div>
      </form>
    </div>


</div>

<div class="row divCol12" [hidden]="!nxtpagevariable">

  <div class="col-md-5 divCol5">
    <div class="oval2 ovalDiv">
      <p class="hello ovalContent">Hello!</p>
    </div>
  </div>


  <div class="col-md-7 divCol7" *ngIf="nxtpagevariable" >
      <div class="text-right logoDiv">
          <img [src] = "currentBrandData?.logo" class="companyLogo">
      </div>
    <div class="verifyingtxt">
      <p class="heading">Please wait.</p>
      <p class="sub-heading">We are verifying the OTP.</p>
    </div>
  </div>

</div>

</div>
