@import "../../@theme/styles/variable.scss";

ngx-leader-board{
    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
        padding: 0 !important;
    }

    td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
        padding: 0 !important;
    }

table{
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.activeUser{
    color: #fea08f;
}

.mat-row:first-child{
    color: blue;
}

th.mat-header-cell:first-of-type{
    padding: 0 !important;
}

.matT{
    width: 100%;
    padding: 0 !important;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1) !important;
}

.mat-footer-row, .mat-header-row, .mat-row{
border: none !important;
}

.tableHead{
    padding: 0;
    border: none !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.title{
    text-align: center;
    padding: 12px;
    margin: 0;
    color: #646464;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    width: 100%
}

.mat-header-cell {
    font-size: 16px;
}


tr.mat-footer-row, tr.mat-row {
    height: 80px !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border: none !important; 
}

.mat-row:nth-child(odd) {
    background-color: #4646460f;
}

.mat-paginator-container{
    padding: 0 45px !important;
}

.mat-paginator-range-label {
    font-size: 14px !important;
    color: #4b4a4a !important;
}

.tableRow{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.leader-board-card{
    // background: #475edc;
    background: var(--colorCommon);
    color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1);
    z-index: 25;
    text-align: center;
    padding: 20px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    h2{
        color: #fff;
    }
    .leader-board-row{
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 10px 0 0 0;
        .rank-div{
            text-align: right;
            h2{
                font-size: 24px;
            }
        }
        .points-div{
            text-align: left;
            h2{
                font-size: 24px;
            }
        }
        span{
            font-size: 80%;
        }
        .leader-board-images{
            margin: 0 auto;
            border-radius: 50%;
            height: 90px;
            width: 90px !important;
            border: 3px solid #8e9db7;
        }
    }
}

.table-head-row{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    align-items: center;
    padding: 10px ;
    text-align: center;
    // min-height: 56px;
    h2{
        text-align: center !important;
        font-size: 16px !important;
        font-weight: 600;
        text-transform: uppercase;   
        Color:rgba(0, 0, 0, 0.54);
        margin: 0;
    }
}
.table-content{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    align-items: center;
    padding: 10px ;
    text-align: center;
  
    .table-row-image{
        margin: 0 auto;
        border-radius: 50%;
        height: 55px;
        width: 55px;;
        border: 3px solid #8e9db7;
    }
    h2{
        line-height: 30px;
        font-size: 16px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        margin: 0;
    }
    .rank {
        // font-size: 13vw;
        font-size: 45px;
        // color: blue;
        text-align: center;
        position: relative;
        .rank-number {
            position: absolute;
            color: white;
            left: 38%;
            font-size: 20px;
            top: 23%;
        }
    }
    .golden-medal {
        color: #FFD700;
    }
    .silver-medal {
        color: #C0C0C0;
    }
    .bronze-medal {
        color: #cd7f32;
    }
}
.table-content-odd{
    background-color: #fff;
}
.table-content-even{
    background-color: #4646460f;
}

@media only screen and (max-width: 500px) {

        .leader-board-card .leader-board-row .leader-board-images{
            margin: 0 auto;
            border-radius: 50%;
            height: 70px;
            width: 70px !important;
            border: 3px solid #8e9db7;
        }
         .table-content .table-row-image{
            height: 50px;
            width: 50px;
        }
        .table-content .rank{
            font-size: 40px;
        }
        .table-content .rank .rank-number{
            font-size: 17px;
            top: 24%;
        }
        .leader-board-card .leader-board-row{
            grid-template-columns: 1fr 100px 1fr;
        }
    }
}
