<mat-card class="matT">

	<div class="leader-board-card">
		<h2>Leaderboard</h2>
		<!-- <div class="leader-board-row">
			<div class="rank-div">
				<h2>
					<ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
				</h2>
			</div>
			<div>
					<ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', height: '80px' }"></ngx-skeleton-loader>
			</div>
			<div class="points-div">
				<h2>
					<ngx-skeleton-loader [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
				</h2>
			</div>
		</div> -->
		<div class="leader-board-row" *ngIf="isLeaderBoard">
			<div class="rank-div">
				<h2>{{userRankData?.rank === '' ? 0 : userRankData?.rank  }}<span>{{userRankData?.pos}}</span></h2>
			</div>
			<div>
				<img src="assets/images/user.png" *ngIf="!userRankData?.picture" class="leader-board-images" alt="" srcset="">
				<img [src]="userRankData?.picture"  onError="../../../assets/images/user.png" *ngIf="userRankData?.picture" class="leader-board-images" alt="">
			</div>
			<div class="points-div">
				<h2>{{userRankData?.points}}<span>pt(s)</span></h2>
			</div>
		</div>
	</div>


	<!-- <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="profileImage">
          <th mat-header-cell *matHeaderCellDef class="tableHead"> Profile </th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'activeUser' : element.name === username }">
            <img [src]="element.profileImage" class="table-row-image" alt="" srcset="">
          </td>
        </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef class="tableHead">Rank </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{ 'activeUser' : element.name === username }">
         {{element.rank}}
       </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="tableHead"> Name </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{ 'activeUser' : element.name === username }">
        {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="levels">
      <th mat-header-cell *matHeaderCellDef  class="tableHead"> Levels </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{ 'activeUser' : element.name === username }">
        {{element.levels}}
      </td>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table> -->

	<!-- <mat-paginator  pageSize="10" hidePageSize></mat-paginator> -->

	<div class="table-head-row">
		<div>
			<h2>Rank</h2>
		</div>
		<div>
			<!-- <h2>Profile</h2> -->
		</div>
		<div>
			<h2>Name</h2>
		</div>
		<div>
			<h2>Points</h2>
		</div>
	</div>

	<!-- {{array2}} -->
	<!-- <div class="table-content table-content-even">
    <div>
        <div class="rank" [ngClass]="{'fa-certificate': 1 < 3, 'fa': 1 < 3 , 'golden-medal' : 1 == 0,'silver-medal': 1==1 ,'bronze-medal' : 1==2}">
            <span class="rank-number" *ngIf="1 < 3">1</span>
        </div>
        <span *ngIf="1 > 2">12</span>
    </div>
      <div>
          <img src="../../../assets/user-avtars/1.jpg" class="table-row-image" alt="" srcset="">
      </div>
      <div>
        <h2>Sudheesh Ladasdsadas</h2>
     </div>
     <div>
        <h2>4</h2>
     </div>
</div> -->
<div class="table-content" hidden='true'>
	<div *ngFor="let item of skeletonarray">
			<div>
					<ngx-content-loading [width]="150" [height]='20'>
						<svg:g ngx-circle [r]='10' [cx]='10' [cy]='10'></svg:g>
					</ngx-content-loading>
				</div>
				<div>
					<ngx-content-loading [width]="150" [height]='20'>
						<svg:g ngx-circle [r]='10' [cx]='10' [cy]='10'></svg:g>
					</ngx-content-loading>
				</div>
				<div>
					<ngx-content-loading [width]="100" [height]="50">
						<svg:g ngx-rect width="100" height="5" y="0" x="0" rx="5" ry="5"></svg:g>
					</ngx-content-loading>
				</div>
				<div>
					<ngx-content-loading [width]="100" [height]="50">
						<svg:g ngx-rect width="100" height="5" y="0" x="0" rx="5" ry="5"></svg:g>
					</ngx-content-loading>
				</div>
	</div>
</div>
<!--  -->
<div >
  <div class="table-content" *ngFor="let item of array2; let i = index; let odd=odd; let even=even "
  [class.table-content-even]="even">
  <div>
    <div class="rank"
      [ngClass]="{'fa-certificate': i < 3, 'fa': i < 3 , 'golden-medal' : i == 0,'silver-medal': i==1 ,'bronze-medal' : i==2}">
      <span class="rank-number" *ngIf="i < 3">{{item.rank}}</span>
    </div>
    <span *ngIf="i > 2">{{item.rank}}</span>
  </div>
  <div>

    <img [src]="item.picture" *ngIf="item?.picture" class="table-row-image" alt="" srcset="">
    <img src="../../../assets/images/user.png" *ngIf="!item?.picture" class="table-row-image" alt="" srcset="">
  </div>
  <div>
    <h2>{{item.empname}}</h2>
  </div>
  <div>
    <h2>{{item.points}}</h2>
  </div>
</div>
</div>



</mat-card>
