
 <!-- <div class="stickyrow">
 
</div> -->
<div class="trainer-details-container">
    <div class="trainerheader">
      
          <div class="backIcon" (click)="goBack()">
              <i class="fas fa-chevron-left"></i>
          </div>
          <div>
            {{batchdata?.batchName}}
          </div>
       
    </div>
  <div class="mattabs">
    <mat-tab-group [selectedIndex]="activeTabInd">
      <mat-tab label="Facilitator Guide"> 
          <trainer-course-content></trainer-course-content>
      </mat-tab>


      <mat-tab label="Participants List"> 
        <participants></participants>
      </mat-tab>


      <mat-tab label="Participants Guide">
        <trainer-participant-course-content></trainer-participant-course-content>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>