
<div class="wrapBOth-container">

  <div class="page_top_grid">
    <div>
        <!-- <button class="downloadbtn" (click)="back()">
          <i class="fas fa-sync"></i>
        </button> -->
        <!-- <button class="back" (click)="Back()"><i class="fas fa-angle-left"></i></button> -->
        <button *ngIf="giveFeedback" class="back" (click)="goback()"><i class="fas fa-angle-left"></i></button>
        <button *ngIf="!giveFeedback" class="back" (click)="Back()"><i class="fas fa-angle-left"></i></button>
    </div>
  </div>

<div class="participantContainer" *ngIf="!giveFeedback">
   <!-- *ngIf="!noParticipants" -->
 <div>
    <mat-card class="participantCard">
        <!-- <div class="row header167">
            <div class="col-12">
                <input type="text" class="searchin" placeholder="&#xf002;   Search" [(ngModel)]="person">
            </div>
        </div> -->
        <table>
          <tr class="tablerow">
            <th>User profile</th>
            <th>ECN</th>
            <th>Participant Name</th>
            <th>Contact No.</th>
            <th>Email Id</th>
            <th>Designation</th>
            <th></th>
          </tr>
          <tr class="tablerow" *ngFor="let item of participants">
            <td>
                  <!-- <img src="../../../../assets/images/user.png" alt="" class="src"> -->
                  <img src="{{item.picture_url ? item.picture_url : '../../../../assets/images/user.png' }}" alt="" class="profile_img">
            </td>
            <td>{{item.ecn}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.email}}</td>
            <td>{{item.designation}}</td>
            <td>
              <button class="viewFeedBtn" *ngIf = "!item.compId" (click)="viewFeedback(item)">  {{fbtn}}</button>
              <!-- <button class="viewFeedBtn" *ngIf = "item.compId" (click)="viewFeedback(item)">view Feedback</button> -->
            </td>
          </tr>
        </table>

    </mat-card>
  </div>

  <!-- <div *ngIf="noParticipants">
    <div class="NoDataDiv">
      <p>  No Participants Found.</p>

    </div>
  </div> -->

</div>


<div class="feedback-activity-container"  *ngIf="giveFeedback">
  <!-- <div>
    <button class="viewFeedBtn" (click)="goback()">Back</button>
  </div> -->
  <div class="feedbackRow">
		<mat-card class="feedbackmat" *ngFor="let question of questions; let i=index;">
			<!-- <h3 class="question64" [innerHTML]="question.fName">
				<b class="mandatoryQues" *ngIf="question.isMandatory == 1">*</b>
      </h3> -->
      <div class="feedback_question_container">
				<div>
					<h3 class="question64">{{ question.qId }}</h3>
				</div>
				<div>
					<h3 class="question64" [innerHtml]= "question.fName | mandetoryquestionpipe:question :'question'"></h3>
				</div>
			</div>
			<div class="survey-textarea mt-2" *ngIf="question.questionTypeId  == 1">
				<textarea cols="12" rows="5" class="txtArea" [(ngModel)]='question.optionList[0].sAns'
				[placeholder]=question.questionPlaceholder></textarea>
			</div>
			<div class="questions-answer mt-2" *ngIf="question.questionTypeId  == 2 || question.questionTypeId  == 3">
				<button class="options45" *ngFor="let option of question.optionList; let i=index"
				[ngClass]="{'active': option.sFlag}" (click)='selectOption(question,i)'>{{ option.option }}</button>
			</div>
			<div class="survey-textarea mt-2 float-left" *ngIf="question.questionTypeId  == 4">
				<star-rating [starType]="'svg'" [showHalfStars]="true" [getHalfStarClass]="getHalfStarClass" [numOfStars]="questions[i].rating.length" [step]="0.5" staticColor="goldenyellow" [rating]="" (ratingChange)="onRateChange($event, i)"></star-rating>
			</div>
	</mat-card>
	</div>

	<div class="button-container">
		<div></div>
		<div><button class="nxt" (click)="submitFeedback()">Submit</button></div>
		<div></div>
	</div>
</div>

