ngx-ttt-certificate{
    width: 100%;
    .certificate{
            // width: 70%;
             margin: 0 auto;
            .cardPaddings{
                padding: 0px !important;
                box-shadow: none;
                // border: 1px solid #eee;
            }
            .header_title{
                font-weight: bold;
            }
            .tableRow{
                font-size: 15px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-bottom: 1px solid #e9e9e9;
            }

            .tableRow:nth-child(1){
                // background: #eee;
                background: #f5f6f8;
            }
            .tableHeading {
                border-top: 1px solid #e9e9e9;
                border-bottom: 1px solid #e9e9e9;
                background: #f5f6f8;
                font-weight: 500;
                &:last-child {
                    border-top: none;
                }
            }
            .tableData{
                margin: auto 0;
            }

            .titlePara{
                margin: auto;
                line-height: 26px;
            }

            .lastCellPara{
                margin: auto;
                font-size: 14px;
                line-height: 20px;
                text-align: left;
                // padding: 0 40px;
            }



            .lastCellPadding{
                margin: auto 0;
            }

            .quesNo{
                // height: 40px;
                line-height: 30px;
                margin: auto;
                text-align: left;
                width: 100%;
                padding-left: 16px;
            }
            .responsive_image{
              width: 200px;
              height: 100%;
            }
            .full-width{
                width: 100%;
            }
            .courseWrapper{
                width: 100%;
            }

    }
    .pending_status_certificate{
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 16px;
        // margin-top: 40px;
        p {
            font-size: 16px;
            font-weight: 600;
        }
        img{
            width: 15%;      
            border: 1px solid whitesmoke;      
        }
    }
    .innercert {
        display: flex;
        padding-bottom: 12px;
        .certSucces {
            padding-left: 12px;
            padding-top: 12px;
        }
        a {
            // color: #507BFC;
            color: var(--colorCommon);
            &:hover {
                // color: #507BFC;
            color: var(--colorCommon);
            }
        }
    }
}
