<div class="pending_status_certificate" *ngIf="!showDownloadCertificate">
  <p>Please wait while we are generating the certificate</p>
</div>
<div class="pending_status_certificate innercert" *ngIf="showDownloadCertificate">
  <img class="certiImg" [src]="certTab.certIcon" class="responsive_image" onContextMenu="return false;" alt="" srcset=""
  onError="this.src='../../../../assets/images/certificate_demo.jpg'">
  <div class="certSucces">
    <p> {{certTab?.msga}}</p>
    <a [href]="certificateDownloadUrl" target="_blank"> Download your certificate&nbsp; <i class="fas fa-download"></i></a>
  </div>
  <!-- <p>{{certTab?.msgb}} </p> -->
</div>

<div class="certificate" *ngIf="showTable">
  <mat-card class="cardPaddings">
    <table style="width: 100%">
      <tr class="tableRow tableHeading">
        <td class="quesNo header_title">Steps</td>
        <td class="tableData">
          <p class="titlePara header_title">Points</p>
        </td>
      </tr>
      <tr class="tableRow" *ngFor="let item of certificateContent['alltab']">
        <td class="quesNo">{{item.displayName}}</td>
        <td class="tableData">
          <p class="titlePara">{{item.points}}</p>
        </td>
      </tr>
      <tr class="tableRow tableHeading" *ngIf="showTotal">
        <td class="quesNo">{{certificateContent['totalTab'].displayName}}</td>
        <td class="tableData">
          <p class="titlePara">{{certificateContent['totalTab'].points}}</p>
        </td>
      </tr>
      <!-- <tr  class="tableRow" >
              <tr  class="tableRow" >
                  <td class="quesNo">{{certificateContent['totalTab'].displayName}}</td>
                  <td class="tableData">
                    <p class="titlePara">{{certificateContent['totalTab'].points}}</p>
                  </td>
              </tr>
          </tr> -->
      <!-- *ngFor="let item of feedback" -->
      <!-- <tr  class="tableRow">
          <td class="quesNo">2</td>
          <td class="tableData">
            <p class="titlePara">2</p>
          </td>

        </tr> -->
    </table>
  </mat-card>
  <div>