<div class='mainDiv'>
    <!-- <div (click)="workflowClicked()">
				Demo Data
			</div> -->
    <!-- <button nbButton status="success" size="xsmall" >Toggle</button> -->
    <div *ngIf='view == 1' class='tab-container'>
        <div class='main-container'>
            <div class="tab">
                <mat-tab-group (selectedTabChange)='tabChanged($event)' #tab1>
                    <mat-tab *ngFor="let tabItem of tabArray;let i = index" #Tab>
                        <ng-template mat-tab-label>
                            <div *ngIf="Tab.isActive" [class]="'divHead'+i"></div>
                            <div class='divBody'>
                                <div [ngClass]="Tab.isActive ? 'tabHead'+i : 'tabHead'"> {{ tabItem.CourseType === 'OPEN' ? 'CATALOGUE' :  tabItem.CourseType | uppercase }} </div>
                                <div class='tabCourse'> {{ tabItem.nocourse }} Courses </div>
                                <div class='tabCourse'> {{ tabItem.noworkflow }} Workflows </div>
                            </div>
                            <span *ngIf="Tab.isActive">
								<div class='bottom'>
									<div *ngFor="let item of tabItem.sub;let isFirst = first"
										[ngClass]="isFirst ? 'rigBord' : 'lefBord'">
										<span [class]="'tabHead1'+i"> {{ item.number }} </span>
                            <span class='tabCourse1'> {{ item.name }} </span>
            </div>
        </div>
        </span>
        </ng-template>
        </mat-tab>
        </mat-tab-group>
    </div>
    <div class='switchView' title="Month wise Courses" (click)="switchView()">
        <!-- <img [src]="viewPath" class="iconSvg" /> -->
        <i class="fas fa-calendar-alt bulletIcon"></i>
    </div>

</div>

<div class="body-container" *ngFor='let card of cardArray;let j = index;'>
    <!-- <div class='Head2'>
				<p class='headName'>{{ card.compStatus }} COURSES</p>
				<hr class='headRule' />
				<div class='noOfCompCourse1'>
					<div (click)="hideCompCourse('slider1')" class='alignText'>
						<p class='noOfCompCourse2'>{{ card.list.length }} Courses</p>
						<i *ngIf="hideComp" class="fa fa-chevron-circle-up noOfCompCourseUp"></i>
						<i *ngIf="!hideComp" class="fa fa-chevron-circle-down noOfCompCourseUp"></i>
					</div>
				</div>
			</div> -->
    <div class="learn-header-container">
        <div class="course-name">
            <p class='headName'>{{ card.compStatus === 'CURRENT' ? "ON-GOING" : card.compStatus }} COURSES / WORKFLOWS</p>
        </div>
        <div class="header-horizontal">
            <hr class='headRule' />
        </div>
        <div class="noOfCompCourse1">
            <div (click)="hideCompCourse('sliderList'+j)" class='alignText'>
                <!-- <span>{{ card.list.length }} Courses </span> -->

                <span>{{ card?.noOfCourses }} Courses / {{ card?.noOfWorkflows }} Workflows</span>

                <i *ngIf="hideComp" class="fa fa-chevron-circle-up noOfCompCourseUp"></i>
                <i *ngIf="!hideComp" class="fa fa-chevron-circle-down noOfCompCourseUp"></i>
            </div>
        </div>
    </div>

    <div class='slider' [id]="'sliderList'+j">


        <div class="learn-grid-card-container" >
            <div class="cardSingle" [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_OPEN' : cardItem.courseType=='OPEN'}"  *ngFor='let cardItem of card.list;let i = index;'>
                    <div *ngIf="cardItem.isWorkFlow == 0" class="content_align">
                            <div class="upcoming-container" *ngIf="cardItem.compStatus == 'UPCOMING'">
                                    <div class="inside-content">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        <p>The Course will start from {{cardItem.startDate }}</p>
                                    </div>
                                </div>
                                <!--  [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == "SELF", 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                            <div class="card_image" [style.background-image]="bindBackgroundImage(cardItem.typeImage)" (click)='goToCourseDetails(cardItem,i)'>

                                <!-- [ngClass]="{ 'legenddiv-mandatory' : cardItem.courseType=='MANDATORY','legenddiv-recommended' : cardItem.courseType=='RECOMMENDED','legenddiv-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : cardItem.courseType=='SELF'}" -->
                                <div class="progressDiv-card">
                                        <div class="card_label " >
                                                <!-- <span> {{cardItem.courseType | slice:0:1}}</span>  -->
                                         </div>
                                         <div class="badge_container_cap" [ngClass]="{ 'badge_container_cap_mandtory' : cardItem.courseType=='MANDATORY','badge_container_cap_recommended' : cardItem.courseType=='RECOMMENDED','badge_container_cap_aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : cardItem.courseType == 'SELF', 'badge_container_cap_OPEN' : cardItem.courseType=='OPEN'}">
                                            <!-- <i class="fa fa-graduation-cap"></i> -->
                                            {{  cardItem.courseType === 'OPEN'  ? 'CATALOGUE' : cardItem.courseType  | uppercase}}
                                        </div>


                                </div>

                                    <div class="progressDiv-card">

                                        <div class="badge_container_percent badge_container" *ngIf="card.compStatus!='OPEN'">{{ ProgressInWhole(cardItem.percComplete) }} %</div>

                                   </div>
                                </div>
                                <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                            <div class="card_content" (click)='goToCourseDetails(cardItem,i)' >
                                        <div class="title_Card">{{ cardItem.courseTitle }}</div>
                                        <!-- {{ cardItem.earnpoints }} / -->
                                        <div class="card_content_grid">
                                                <div class="card_subtitles">Pts:  {{ cardItem.cpoints }}</div>
                                                <div class="card_subtitles"><img [src]="cardItem.type2Image" class="online_icon"/>  {{ cardItem.courseType2 }}</div>
                                                <p class="card_subtitles"><i class="far fa-calendar-alt"></i>   <span *ngIf="!cardItem.endDate"> NA </span>
                                                    <span *ngIf="cardItem.endDate"> {{ cardItem.endDate|date: 'dd-MMM-yyyy' }} </span>
                                                    <!-- <span *ngIf="cardItem.endDate == 'NaN'"> {{ cardItem.endDate }} </span></p> -->
                                        </div>

                            </div>
                            <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                            <div class="card_footer" *ngIf="cardItem.compStatus!='OPEN'" >
                                        <div class="card_content_footer">
                                            <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                            (click)="submitCourseFeedback(cardItem, 1)"></i>
                                        </div>
                                        <div class="card_content_footer">
                                            <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                            (click)="submitCourseFeedback(cardItem, 2)"></i>
                                        </div>
                                        <!-- <div class="card_content_footer">
                                            <i class="fas fa-download"></i>
                                        </div> -->
                            </div>
                            <!-- <div class='self-enrol-buttonO' *ngIf="cardItem?.compStatus=='OPEN'" (click)='enrolInCourse(cardItem)' >

                             <span class='pending-for-approval' *ngIf="cardItem?.approvalStatus =='Pending'">Pending For Approval</span>
                              <span class='self-enrol-button-text' *ngIf="cardItem?.approvalStatus !='Pending'">Enrol</span>
                        </div> -->
                        <!-- {{cardItem?.compStatus}} - {{cardItem?.approvalStatus}} -->
                        <div class='self-enrol-buttonO' *ngIf="cardItem?.compStatus=='OPEN'" (click)='enrolInCourse(cardItem)' >
                          <span class='self-enrol-button-text' *ngIf="cardItem?.approvalStatus !='Pending'">Enrol</span>
                          <span class='pending-for-approval' *ngIf="cardItem?.approvalStatus =='Pending'">Pending For Approval</span>
                    </div>
                    </div>
                    <div *ngIf="cardItem?.isWorkFlow == 1">
                            <div class="upcoming-container" *ngIf="cardItem.compStatus == 'UPCOMING'">
                                    <div class="inside-content">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        <p>The Course will start from {{cardItem.startDate }}</p>
                                    </div>
                                </div>
                                <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                            <div class="card_image" [style.background-image]="bindBackgroundImage(cardItem.typeImage)" (click)='workflowClicked(cardItem,i)' >
                                    <!-- [ngClass]="{ 'legenddiv-mandatory' : cardItem.courseType=='MANDATORY','legenddiv-recommended' : cardItem.courseType=='RECOMMENDED','legenddiv-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : cardItem.courseType=='SELF'}" -->
                                    <div class="progressDiv-card">
                                            <div class="card_label " >
                                                    <!-- <span> {{cardItem.courseType | slice:0:1}}</span>  -->
                                             </div>
                                             <div class="badge_container_cap" [ngClass]="{ 'badge_container_cap_mandtory' : cardItem.courseType=='MANDATORY','badge_container_cap_recommended' : cardItem.courseType=='RECOMMENDED','badge_container_cap_aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : cardItem.courseType == 'SELF', 'badge_container_cap_OPEN' : cardItem.courseType=='OPEN'}">
                                                <!-- <i class="fa fa-graduation-cap"></i> -->
                                                <!-- {{  cardItem.courseType === 'SELF' ? 'OPEN' : cardItem.courseType  | uppercase}} -->
                                                {{  cardItem.courseType === 'OPEN' ? 'CATALOGUE' : cardItem.courseType  | uppercase}}
                                             </div>

                                    </div>
                                    <div class="progressDiv-card">
                                        <!--  -->
                                            <div class="badge_container_percent"*ngIf="card.compStatus!='OPEN'">{{ ProgressInWhole(cardItem.perComplete) }} %</div>
                                            <div class='self-enrol-buttonO' (click)='enrolInCourse(cardItem)'*ngIf="card.compStatus=='OPEN'" >
                                                    <span class='self-enrol-button-text'>ENROL</span>
                                                </div>
                                            <!-- <div class="badge_container_bundle badge_container"><i class="fa fa-cog"></i></div> -->
                                    </div>
                                </div>
                                <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                                <div class="card_content card_content_workflow" (click)='workflowClicked(cardItem,i)' >
                                        <div class="title_Card">{{ cardItem.wname }}</div>
                                        <!--  {{ cardItem.workflowEarnedPoints }} / -->
                                        <div class="card_content_grid">
                                                <div class="card_subtitles">Pts: {{ cardItem.workflowTotalPoints }}</div>
                                                <div class="card_subtitles"><i class="fa fa-cog" aria-hidden="true"></i> Workflow</div>
                                                <p class="card_subtitles"><i class="far fa-calendar-alt"></i>   <span *ngIf="!cardItem?.wf_enddate">NA</span>
                                                <span *ngIf="cardItem?.wf_enddate"> {{ cardItem.wf_enddate|date: 'dd-MMM-yyyy'  }} </span>
                                                <!-- <span *ngIf="cardItem.wf_enddate == 'NaN'"> {{ cardItem.wf_enddate}} </span> -->
                                        </div>
                                </div>
                                <!-- <div class="card_footer">
                                        <div class="card_content_footer">
                                            <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                            (click)="togglelike(cardItem)"></i>
                                        </div>
                                        <div class="card_content_footer">
                                            <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                            (click)="toggledislike(cardItem)"></i>
                                        </div>
                                        <div class="card_content_footer">
                                            <i class="fas fa-download"></i>
                                        </div>
                                </div> -->
                    </div>
            </div>
        </div>
        <!-- <div class="card_grid">
                    <mat-card class="mat_card" *ngFor='let cardItem of card.list;let i = index;'>
                            <div class="imgblock" style="background-image: url(assets/images/open-book-leaf.jpg)">
                                <div class="legenddiv" [ngClass]="{ 'legenddiv-mandatory' : cardItem.courseType=='MANDATORY','legenddiv-recommended' : cardItem.courseType=='RECOMMENDED','legenddiv-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : cardItem.courseType=='SELF'}">
                                    M
                                </div>

                                <div class="progressDiv">
                                    <div class="percentTxt">87 %</div>
                                </div>
                            </div>
                            <mat-card-title class="card_title">
                                <div class="row content2">
                                    <div class="padding0 titleColor">Demo course </div>

                                </div>
                            </mat-card-title>
                            <mat-card-content class="content_div">
                                <div class="card_subtitles">Points: 0 / 0 </div>
                                <div class="card_subtitles"><img src="assets/images/online.svg" class="online_icon"/>  Online</div>
                                <p class="card_subtitles"><i class="far fa-calendar-alt"></i>  16 Aug 2019</p>
                            </mat-card-content>
                            <mat-card-footer class="footer_border">
                                <div class="footer_icons">
                                    <div class="f_content">
                                        <i class="fas fa-thumbs-up"></i>
                                    </div>
                                    <div class="f_content">
                                        <i class="fas fa-thumbs-down" ></i>
                                    </div>
                                    <div class="f_content">
                                        <i class="fas fa-download"></i>
                                    </div>
                                </div>
                            </mat-card-footer>
                    </mat-card>

        </div>  -->
        <!-- <div class="grid-container Body2">
            <div class="boxes" *ngFor='let cardItem of card.list;let i = index;'>
                <div *ngIf="cardItem.isWorkFlow == 0">
                    <div class="upcoming-container" *ngIf="cardItem.compStatus == 'UPCOMING'">
                        <div class="inside-content">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <p>The Course will start from {{cardItem.startDate | date:"dd-MM-yyyy"}}</p>
                        </div>
                    </div>
                    <div class="inside_content">
                        <div (click)='goToCourseDetails(cardItem,i)' [ngClass]="{ 'tag-mandatory' : cardItem.courseType=='MANDATORY','tag-recommended' : cardItem.courseType=='RECOMMENDED','tag-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'tag-self-enrolled' : cardItem.courseType=='SELF'}">
                            <span class="tag-text">
                                    {{ cardItem.courseType }}
                                </span>
                        </div>
                        <div class="cource-title" (click)='goToCourseDetails(cardItem,i)'>
                            <div class="course-icon">
                                <img [src]='cardItem.type1Image' />
                            </div>
                            <div class="cource-name">
                                <span class="course-icon-name">{{ cardItem.courseTitle }}</span>
                            </div>
                        </div>
                        <div class="stages">
                            <div class="stages-text" (click)='goToCourseDetails(cardItem,i)'>
                                <span class="number-of-stages">POINTS: {{ cardItem.earnpoints }} / {{ cardItem.cpoints }}</span>
                                <span *ngIf='cardItem.percComplete == 2' class='percComplete-of-course'>0%</span>
                                <span *ngIf='cardItem.percComplete != 2' class='percComplete-of-course'>{{ ProgressInWhole(cardItem.percComplete) }}%</span>
                                <mat-progress-bar [ngClass]="cardItem.percComplete == 2 ? 'yellow-progress' : 'green-progress'" mode="determinate" [value]="ProgressInWhole(cardItem.percComplete)">
                                </mat-progress-bar>
                            </div>
                            <div class="stages-icons">
                                <span class="stages-icons-like">
                                        <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                            (click)="togglelike(cardItem)"></i>
                                </span>
                                <span class="stages-icons-dislike">
                                        <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                            (click)="toggledislike(cardItem)"></i>

                                </span>
                            </div>
                            <div class="course-mode">
                                <div class="course-mode-icon" (click)='goToCourseDetails(cardItem,i)'>
                                    <div>
                                        <span class="course-type-icon">
                                                <img [src]="cardItem.type2Image" />
                                            </span>

                                        <span class="course-type">{{ cardItem.courseType2 }}</span>
                                    </div>
                                </div>

                                <div class="course-mode-text" (click)='goToCourseDetails(cardItem,i)'>
                                    <span class="course-type-icon" title="Completion Date">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        </span>
                                    <span *ngIf="!cardItem.endDate"> NA </span>
                                    <span *ngIf="cardItem.endDate">{{ cardItem.endDate | date:"dd MMM yyyy" }} </span>
                                </div>
                            </div>
                            <div class='self-enrol-buttonO' (click)='enrolInCourse(cardItem)' *ngIf="card.compStatus=='OPEN'">
                                <span class='self-enrol-button-text'>ENROL</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="cardItem?.isWorkFlow == 1">

                    <div class="upcoming-container" *ngIf="cardItem?.compStatus == 'UPCOMING'">
                        <div class="inside-content">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <p>The Workflow will start from {{cardItem?.startDate | date:"dd-MM-yyyy"}}</p>
                        </div>
                    </div>
                    <div class="inside_content">
                        <div (click)='workflowClicked(cardItem)' [ngClass]="{ 'tag-mandatory-workflow' : cardItem.courseType=='MANDATORY','tag-recommended' : cardItem.courseType=='RECOMMENDED','tag-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'tag-self-enrolled' : cardItem.courseType=='SELF'}">
                            <span class="tag-text">
                                            {{ cardItem.courseType }}
                            </span>
                        </div>
                        <div class="cource-title" (click)='workflowClicked(cardItem,i)'>
                            <div class="course-icon">
                                <img [src]='cardItem.type1Image' />
                            </div>
                            <div class="cource-name">
                                <span class="course-icon-name">{{ cardItem.wname }}</span>
                            </div>
                        </div>
                        <div class="stages">
                            <div class="stages-text">
                                <span class="number-of-stages">Pts: {{ cardItem.workflowEarnedPoints }} / {{ cardItem.workflowTotalPoints }}</span>
                                <span *ngIf='cardItem.perComplete == 2' class='percComplete-of-course'>0%</span>
                                <span *ngIf='cardItem.perComplete != 2' class='percComplete-of-course'>{{ ProgressInWhole(cardItem.perComplete) }}%</span>
                                <mat-progress-bar [ngClass]="cardItem.perComplete == 2 ? 'yellow-progress' : 'green-progress'" mode="determinate" [value]="ProgressInWhole(cardItem.perComplete)">
                                </mat-progress-bar>
                            </div>

                            <div class="stages-icons">

                            </div>

                            <div class="course-mode">
                                <div class="course-mode-icon" (click)='workflowClicked(cardItem,i)'>
                                    <div>
                                        <span class="course-type-icon">
                                                        <img [src]="cardItem.type2Image" />
                                                    </span>
                                        <span class="course-type">{{ cardItem.courseType2 }}</span>
                                    </div>
                                </div>

                                <div class="course-mode-text" (click)='workflowClicked(cardItem,i)'>
                                    <span class="course-type-icon" title="Completion Date">
                                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                </span>
                                    <span *ngIf="!cardItem?.wf_enddate">NA</span>
                                    <span *ngIf="cardItem?.wf_enddate">{{ cardItem.wf_enddate | date:"dd MMM yyyy" }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->
    </div>

</div>
    </div>

<div *ngIf='view == 2' class='tab-container'>
    <div class='main-container'>
        <div class="tab">
            <mat-tab-group (selectedTabChange)='tabChanged($event)' [(selectedIndex)]="selectedIndex">
                <mat-tab *ngFor="let tabItem of tabArray;let i = index" #Tab>
                    <ng-template mat-tab-label>
                        <!-- <div *ngIf="Tab.isActive" [class]="'divHead'+i"></div> -->
                        <div class='divBody'>
                            <div [ngClass]="Tab.isActive ? 'tabHeadA' : 'tabHeadNA'">
                                <!-- <sup class="tabHeadSub">
										{{ tabItem.CourseDateYear }} </sup> -->
                                {{ tabItem.CourseDateMonth }}  </div>
                            <hr [ngClass]="Tab.isActive ? 'tabRuleA' : 'tabRuleNA'" />
                            <div class='tabCourseM'> {{ tabItem.nocourse }} Courses </div>
                            <div class='tabCourseM'> {{ tabItem.noworkflow }} Workflows </div>
                        </div>
                        <span *ngIf="Tab.isActive">
								<div class='bottom'>
									<div *ngFor="let item of tabItem.sub;let isFirst = first"
										[ngClass]="isFirst ? 'rigBord' : 'lefBord'">
										<span class='tabHeadC1'> {{ item.number }} </span>
                        <span class='tabCourse1'> {{ item.name }} </span>
        </div>
    </div>
    </span>
    </ng-template>
    </mat-tab>
    </mat-tab-group>
</div>
<div class='switchView' (click)="switchView()">
    <i class="fas fa-list-ul bulletIcon"></i>
</div>
</div>
<div class="body-container" *ngFor='let card of cardArray;let j = index;'>
    <!-- <div class='Head2'>
				<p class='headName'>{{ card.compDate }}</p>
				<hr class='headRule' />
				<div class='noOfCompCourse1'>
					<div (click)="hideCompCourse('slider2')" class='alignText'>
						<p class='noOfCompCourse2'>{{ card.list.length }} Courses</p>
						<i *ngIf="hideComp" class="fa fa-chevron-circle-up noOfCompCourseUp"></i>
						<i *ngIf="!hideComp" class="fa fa-chevron-circle-down noOfCompCourseUp"></i>
					</div>
				</div>
			</div> -->
    <div class="learn-header-container">
        <div class="course-name">
            <p class='headName'>{{ card.compDate }}</p>
        </div>
        <div class="header-horizontal">
            <hr class='headRule' />
        </div>
        <div class="noOfCompCourse1">
            <div (click)="hideCompCourse('sliderCalender'+j)" class='alignText'>
                <!-- <span>{{ card.list.length }} Courses </span> -->

                <span>{{ card?.noOfCourses }} Courses / {{ card?.noOfWorkflows }} Workflows </span>

                <i *ngIf="hideComp" class="fa fa-chevron-circle-up noOfCompCourseUp"></i>
                <i *ngIf="!hideComp" class="fa fa-chevron-circle-down noOfCompCourseUp"></i>
            </div>
        </div>
    </div>

    <div class='slider' [id]="'sliderCalender'+j">
        <!-- <div class="grid-container Body2">
            <div class="boxes" *ngFor='let cardItem of card.list;let i = index;'>

                 <div *ngIf="cardItem?.isWorkFlow == 0">

                    <div (click)='goToCourseDetails(cardItem,i)' [ngClass]="{ 'tag-mandatory' : cardItem.courseType=='MANDATORY','tag-open' : cardItem.courseType=='OPEN','tag-self-enrolled' : cardItem.courseType=='SELF'}">
                        <span class="tag-text">
								{{ cardItem.courseType }}
							</span>
                    </div>
                    <div class="cource-title" (click)='goToCourseDetails(cardItem,i)'>
                        <div class="course-icon">
                            <img [src]='cardItem.type1Image' />
                        </div>
                        <div class="cource-name">
                            <span class="course-icon-name">{{ cardItem.courseTitle }}</span>
                        </div>
                    </div>
                    <div class="stages" (click)='goToCourseDetails(cardItem,i)'>
                        <div class="stages-text">
                            <span class="number-of-stages">POINTS: {{ cardItem.earnpoints }} / {{ cardItem.cpoints }}</span>
                            <mat-progress-bar [ngClass]="cardItem.percComplete == 2 ? 'yellow-progress' : 'green-progress'" mode="determinate" value="ProgressInWhole(cardItem.percComplete)">
                            </mat-progress-bar>
                        </div>

                        <div class="stages-icons">
                            <span class="stages-icons-like">
									<i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
										(click)="togglelike(cardItem)"></i>
                            </span>
                            <span class="stages-icons-dislike">
									<i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
										(click)="toggledislike(cardItem)"></i>
                            </span>
                        </div>

                        <div class="stages-icons">
                            <span class="stages-icons-like">
									<i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
										(click)="togglelike(cardItem)"></i>
                            </span>
                            <span class="stages-icons-dislike">
									<i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
										(click)="toggledislike(cardItem)"></i>
                            </span>
                        </div>
                        <div class="course-mode">
                            <div class="course-mode-icon" (click)='goToCourseDetails(cardItem,i)'>
                                <span class="course-type-icon">
										<img [src]="cardItem.type2Image" />
									</span>

                                <span class="course-type">{{ cardItem.courseType2 }}</span>

                                <div *ngIf="card.compStatus=='OPEN'" class='self-enrol-buttonO' (click)='enrolInCourse(cardItem)'>
                                    <span class='self-enrol-button-text'>ENROL</span>
                                </div>
                            </div>

                            <div class="course-mode-text" (click)='goToCourseDetails(cardItem,i)'>
                                <span class="course-type-icon">
										<i class="fa fa-calendar-o" aria-hidden="true"></i>
									</span>
                                <span>{{ cardItem.endDate | date:"dd MMM yyyy" }} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="cardItem.isWorkFlow == 0">
                    <div class="upcoming-container" *ngIf="cardItem.compStatus == 'UPCOMING'">
                        <div class="inside-content">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <p>The Course will start from {{cardItem.startDate | date:"dd-MM-yyyy"}}</p>
                        </div>
                    </div>
                    <div class="inside_content">
                        <div (click)='goToCourseDetails(cardItem,i)' [ngClass]="{ 'tag-mandatory' : cardItem.courseType=='MANDATORY','tag-recommended' : cardItem.courseType=='RECOMMENDED','tag-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'tag-self-enrolled' : cardItem.courseType=='SELF'}">
                            <span class="tag-text">
                                        {{ cardItem.courseType }}
                                    </span>
                        </div>
                        <div class="cource-title" (click)='goToCourseDetails(cardItem,i)'>
                            <div class="course-icon">
                                <img [src]='cardItem.type1Image' />
                            </div>
                            <div class="cource-name">

                                <span class="course-icon-name">{{ cardItem.courseTitle }} </span>
                            </div>
                        </div>
                        <div class="stages">
                            <div class="stages-text" (click)='goToCourseDetails(cardItem,i)'>
                                <span class="number-of-stages">Pts: {{ cardItem.earnpoints }} / {{ cardItem.cpoints }}</span>
                                <span *ngIf='cardItem.percComplete == 2' class='percComplete-of-course'>0%</span>
                                <span *ngIf='cardItem.percComplete != 2' class='percComplete-of-course'>{{ ProgressInWhole(cardItem.percComplete) }}%</span>
                                <mat-progress-bar [ngClass]="cardItem.percComplete == 2 ? 'yellow-progress' : 'green-progress'" mode="determinate" [value]="ProgressInWhole(cardItem.percComplete)">
                                </mat-progress-bar>
                            </div>
                            <div class="stages-icons">
                                <span class="stages-icons-like">
                                            <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                                (click)="togglelike(cardItem)"></i>

                                </span>
                                <span class="stages-icons-dislike">
                                            <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                                (click)="toggledislike(cardItem)"></i>

                                </span>
                            </div>
                            <div class="course-mode">
                                <div class="course-mode-icon" (click)='goToCourseDetails(cardItem,i)'>
                                    <div>
                                        <span class="course-type-icon">
                                                    <img [src]="cardItem.type2Image" />
                                                </span>

                                        <span class="course-type">{{ cardItem.courseType2 }}</span>
                                    </div>


                                </div>

                                <div class="course-mode-text" (click)='goToCourseDetails(cardItem,i)'>
                                    <span class="course-type-icon" title="Completion Date">
                                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            </span>
                                    <span *ngIf="!cardItem.endDate"> NA </span>
                                    <span *ngIf="cardItem.endDate">{{ cardItem.endDate | date:"dd MMM yyyy" }} </span>
                                </div>
                            </div>

                            <div class='self-enrol-buttonO' (click)='enrolInCourse(cardItem)' *ngIf="card.compStatus=='OPEN'">
                                <span class='self-enrol-button-text'>ENROL</span>
                            </div>

                        </div>
                    </div>


                </div>

                <div *ngIf="cardItem?.isWorkFlow == 1">

                    <div class="upcoming-container" *ngIf="cardItem?.compStatus == 'UPCOMING'">
                        <div class="inside-content">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            <p>The Workflow will start from {{cardItem?.startDate | date:"dd-MM-yyyy"}}</p>
                        </div>
                    </div>
                    <div class="inside_content">
                        <div (click)='workflowClicked(cardItem)' [ngClass]="{ 'tag-mandatory-workflow' : cardItem.courseType=='MANDATORY','tag-recommended' : cardItem.courseType=='RECOMMENDED','tag-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'tag-self-enrolled' : cardItem.courseType=='SELF'}">
                            <span class="tag-text">
                                            {{ cardItem.courseType }}
                            </span>
                        </div>
                        <div class="cource-title" (click)='workflowClicked(cardItem,i)'>
                            <div class="course-icon">
                                <img [src]='cardItem.type1Image' />
                            </div>
                            <div class="cource-name">
                                <span class="course-icon-name">{{ cardItem.wname }}</span>
                            </div>
                        </div>
                        <div class="stages">
                            <div class="stages-text">
                                <span class="number-of-stages">Pts: {{ cardItem.workflowEarnedPoints }} / {{ cardItem.workflowTotalPoints }}</span>
                                <span *ngIf='cardItem.perComplete == 2' class='percComplete-of-course'>0%</span>
                                <span *ngIf='cardItem.perComplete != 2' class='percComplete-of-course'>{{ ProgressInWhole(cardItem.perComplete) }}%</span>
                                <mat-progress-bar [ngClass]="cardItem.perComplete == 2 ? 'yellow-progress' : 'green-progress'" mode="determinate" [value]="ProgressInWhole(cardItem.perComplete)">
                                </mat-progress-bar>
                            </div>

                            <div class="stages-icons">
                                <span class="stages-icons-like">
                                        <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                            (click)="togglelike(cardItem)"></i>
                                </span>
                                <span class="stages-icons-dislike">
                                        <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                            (click)="toggledislike(cardItem)"></i>
                                </span>
                            </div>

                            <div class="course-mode">
                                <div class="course-mode-icon" (click)='workflowClicked(cardItem,i)'>
                                    <div>
                                        <span class="course-type-icon">
                                                        <img [src]="cardItem.type2Image" />
                                                    </span>
                                        <span class="course-type">{{ cardItem.courseType2 }}</span>
                                    </div>
                                </div>

                                <div class="course-mode-text" (click)='workflowClicked(cardItem,i)'>
                                    <span class="course-type-icon" title="Completion Date">
                                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                </span>
                                    <span *ngIf="!cardItem?.wf_enddate">NA</span>
                                    <span *ngIf="cardItem?.wf_enddate">{{ cardItem.wf_enddate | date:"dd MMM yyyy" }} </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
        <div class="learn-grid-card-container" >
                <div class="cardSingle" [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_OPEN' : cardItem.courseType=='OPEN'}"   *ngFor='let cardItem of card.list;let i = index;'>
                        <div *ngIf="cardItem.isWorkFlow == 0" class="content_align">
                                <div class="upcoming-container" *ngIf="cardItem.compStatus == 'UPCOMING'">
                                        <div class="inside-content">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            <p>The Course will start from {{cardItem.startDate }}</p>
                                        </div>
                                    </div>
                                <div class="card_image" [style.background-image]="bindBackgroundImage(cardItem.typeImage)" (click)='goToCourseDetails(cardItem,i)' >

                                    <!-- [ngClass]="{ 'legenddiv-mandatory' : cardItem.courseType=='MANDATORY','legenddiv-recommended' : cardItem.courseType=='RECOMMENDED','legenddiv-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : cardItem.courseType=='SELF'}" -->
                                    <div class="progressDiv-card">
                                            <div class="card_label " >
                                                    <!-- <span> {{cardItem.courseType | slice:0:1}}</span>  -->
                                             </div>
                                            <div class="badge_container_cap" [ngClass]="{ 'badge_container_cap_mandtory' : cardItem.courseType=='MANDATORY','badge_container_cap_recommended' : cardItem.courseType=='RECOMMENDED','badge_container_cap_aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : cardItem.courseType == 'SELF', 'badge_container_cap_OPEN' : cardItem.courseType=='OPEN'}">
                                                    <!-- <i class="fa fa-graduation-cap"></i> -->
                                                    {{  cardItem.courseType === 'OPEN' ? 'CATALOGUE' : cardItem.courseType  | uppercase}}
                                            </div>


                                    </div>

                                        <div class="progressDiv-card">
                                                <div class="badge_container_percent badge_container" *ngIf="card.compStatus!='OPEN'">{{ ProgressInWhole(cardItem.percComplete) }} %</div>
                                                <!-- <div class='self-enrol-buttonO' *ngIf="card.compStatus=='OPEN'" (click)='enrolInCourse(cardItem)' >
                                                        <span class='self-enrol-button-text'>Enrol</span>
                                                    </div> -->
                                       </div>
                                    </div>
                                    <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                                <div class="card_content" (click)='goToCourseDetails(cardItem,i)' >
                                            <div class="title_Card">{{ cardItem.courseTitle }}</div>
                                            <!-- {{ cardItem.earnpoints }} /  -->
                                            <div class="card_content_grid">
                                                    <div class="card_subtitles">Pts: {{ cardItem.cpoints }}</div>
                                                    <div class="card_subtitles"><img [src]="cardItem.type2Image" class="online_icon"/>  {{ cardItem.courseType2 }}</div>
                                                    <p class="card_subtitles"><i class="far fa-calendar-alt"></i>   <span *ngIf="!cardItem.endDate"> NA </span>
                                                        <span *ngIf="cardItem.endDate"> {{ cardItem.endDate|date: 'dd-MMM-yyyy' }} </span>
                                                        <!-- <span *ngIf="cardItem.endDate == 'NaN'"> {{ cardItem.endDate}} </span> -->
                                                    </p>
                                            </div>

                                </div>
                                <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                                <div class="card_footer" >
                                            <div class="card_content_footer">
                                                <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                                (click)="submitCourseFeedback(cardItem, 1)"></i>
                                            </div>
                                            <div class="card_content_footer">
                                                <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                                (click)="submitCourseFeedback(cardItem, 2)"></i>
                                            </div>
                                            <!-- <div class="card_content_footer">
                                                <i class="fas fa-download"></i>
                                            </div> -->
                                </div>
                                <!-- {{cardItem?.approvalStatus}} {{cardItem?.compStatus}} -->
                                <!-- <div class='self-enrol-buttonO' *ngIf="cardItem?.compStatus=='OPEN'" (click)='enrolInCourse(cardItem)' >

                                  <span class='pending-for-approval' *ngIf="cardItem?.approvalStatus =='Pending'">Pending For Approval</span>
                                   <span class='self-enrol-button-text' *ngIf="cardItem?.approvalStatus !='Pending'">Enrol</span>
                             </div> -->
                             <div class='self-enrol-buttonO' *ngIf="cardItem?.compStatus=='OPEN'" (click)='enrolInCourse(cardItem)' >
                              <span class='self-enrol-button-text' *ngIf="cardItem?.approvalStatus !='Pending'">Enrol</span>
                              <span class='pending-for-approval' *ngIf="cardItem?.approvalStatus =='Pending'">Pending For Approval</span>
                        </div>
                        </div>
                        <div *ngIf="cardItem?.isWorkFlow == 1" >
                                <div class="upcoming-container" *ngIf="cardItem.compStatus == 'UPCOMING'">
                                        <div class="inside-content">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                            <p>The Course will start from {{cardItem.startDate }}</p>
                                        </div>
                                    </div>
                                    <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                                <div class="card_image" [style.background-image]="bindBackgroundImage(cardItem.typeImage)" (click)='workflowClicked(cardItem,i)' >
                                        <!-- [ngClass]="{ 'legenddiv-mandatory' : cardItem.courseType=='MANDATORY','legenddiv-recommended' : cardItem.courseType=='RECOMMENDED','legenddiv-aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'legenddiv-enrolled' : cardItem.courseType=='SELF'}" -->
                                        <div class="progressDiv-card">
                                                <div class="card_label " >
                                                        <!-- <span> {{cardItem.courseType | slice:0:1}}</span>  -->
                                                 </div>
                                                 <div class="badge_container_cap" [ngClass]="{ 'badge_container_cap_mandtory' : cardItem.courseType=='MANDATORY','badge_container_cap_recommended' : cardItem.courseType=='RECOMMENDED','badge_container_cap_aspirational' : cardItem.courseType=='ASPIRATIONAL' ,'badge_container_cap_enrolled' : cardItem.courseType == 'SELF', 'badge_container_cap_OPEN' : cardItem.courseType=='OPEN'}">
                                                    <!-- <i class="fa fa-graduation-cap"></i> -->
                                                    <!-- {{  cardItem.courseType === 'SELF' ? 'OPEN' : cardItem.courseType  | uppercase}} -->
                                                    {{  cardItem.courseType === 'OPEN' ? 'CATALOGUE' : cardItem.courseType  | uppercase}}
                                            </div>

                                        </div>
                                        <div class="progressDiv-card">
                                            <!-- *ngIf="card.compStatus=='OPEN'" -->
                                                <div class="badge_container_percent" *ngIf="card.compStatus!='OPEN'">{{ ProgressInWhole(cardItem.perComplete) }} %</div>
                                                <div class='self-enrol-buttonO' *ngIf="cardItem.compStatus=='OPEN'" (click)='enrolInCourse(cardItem)' >
                                                        <span class='self-enrol-button-text'>ENROL</span>
                                                    </div>
                                                <!-- <div class="badge_container_bundle badge_container"><i class="fa fa-cog"></i></div> -->
                                        </div>
                                    </div>
                                    <!-- [ngClass]="{ 'card_label_mandtory' : cardItem.courseType=='MANDATORY','card_label_recommended' : cardItem.courseType=='RECOMMENDED','card_label_recommended' : cardItem.courseType=='ASPIRATIONAL' ,'card_label_enrolled' : cardItem.courseType == 'SELF', 'card_label_enrolled' : cardItem.courseType=='OPEN'}" -->
                                    <div class="card_content card_content_workflow" (click)='workflowClicked(cardItem,i)' >
                                            <div class="title_Card">{{ cardItem.wname }}</div>

                                            <div class="card_content_grid">
                                                <!--  {{ cardItem.workflowEarnedPoints }} /  -->
                                                    <div class="card_subtitles">Pts:{{ cardItem.workflowTotalPoints }}</div>
                                                    <div class="card_subtitles"><i class="fa fa-cog" aria-hidden="true"></i> Workflow</div>
                                                    <p class="card_subtitles"><i class="far fa-calendar-alt"></i>   <span *ngIf="!cardItem?.wf_enddate">NA</span>
                                                    <span *ngIf="cardItem?.wf_enddate"> {{ cardItem.wf_enddate|date: 'dd-MMM-yyyy'}} </span>
                                                    <!-- <span *ngIf="cardItem.wf_enddate == 'NaN'"> {{ cardItem.wf_enddate}} </span> -->
                                            </div>
                                    </div>
                                    <!-- <div class="card_footer">
                                            <div class="card_content_footer">
                                                <i class="fas fa-thumbs-up" [ngClass]="{'active' : cardItem.isLike == 1}"
                                                (click)="togglelike(cardItem)"></i>
                                            </div>
                                            <div class="card_content_footer">
                                                <i class="fas fa-thumbs-down" [ngClass]="{'active' : cardItem.isDislike}"
                                                (click)="toggledislike(cardItem)"></i>
                                            </div>
                                            <div class="card_content_footer">
                                                <i class="fas fa-download"></i>
                                            </div>
                                    </div> -->
                        </div>
                </div>
        </div>
    </div>
</div>

</div>
<!--
	<ngx-hm-carousel
	[(ngModel)]="currentIndex"
	show-num="auto"
	[breakpoint]="breakpoint"
	[autoplay-speed]="300"
	[between-delay]="500"
	[infinite]="infinite"
	[drag-many]="true"
	[aniTime]="200"
	[data]="certificateArray"
	class="carousel c-accent">

	<section ngx-hm-carousel-container class="content">
	  <article class="item cursor-pointer article-container"
		ngx-hm-carousel-item
		*ngFor="let item of certificateArray; let i = index"
		 >
		 <div class="mobile-tabs">
				<div class="mark-pointer-tabs"></div>
				<div class="tabs-heading"> ALL ENROLLED </div>
				<div class='bottom'>
					<div class="left-side">
						<span class="side-heading"> {{i}} </span>
						<span class="side-content"> CLASSROOM </span>
					</div>
					<div class="right-side">
						<span class="side-heading">{{i * 20}}</span>
						<span class="side-content"> 	 </span>
					</div>
				</div>
			</div>
	  </article>
	  <ng-template #infiniteContainer></ng-template>
	</section>

	<ng-template #carouselContent let-item	 let-i="index">
	  <article class="item cursor-pointer article-container">
		<div class="mobile-tabs">
			<div class="mark-pointer-tabs"></div>
			<div class="tabs-heading"> ALL ENROLLED </div>
			<div class='bottom'>
				<div class="left-side">
					<span class="side-heading"> {{i + 1}} </span>
					<span class="side-content"> CLASSROOM </span>
				</div>
				<div class="right-side">
					<span class="side-heading">  {{i * 10}}  </span>
					<span class="side-content"> ONLINE </span>
				</div>
			</div>
		</div>
	  </article>
	</ng-template>

	<ng-template #carouselPrev>
	  <div class="click-area">
		<i class="material-icons">keyboard_arrow_left</i>
	  </div>
	</ng-template>
	<ng-template #carouselNext>
	  <div class="click-area">
		<i class="material-icons">keyboard_arrow_right</i>
	  </div>
	</ng-template>



  </ngx-hm-carousel> -->



</div>
