// .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
//     padding: 0rem !important;
// }
@import "../../@theme/styles/variable.scss";

ngx-profile-page{
    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        background-color: var(--colorCommon);
      }
    .roleCard{
        background: #ffb16e;
        text-align: center;
        padding: 8px;
        font-size: 20px;
        color: #ffffff;
        border-radius: 25px;
        font-variant: petite-caps;
        cursor: pointer;
        box-shadow: none !important;
    }

    .inChPassDiv{
        text-align: center;
    }

    .inChPassP{
        color:red;
    }

    .activate{
        background: #ff7d0d !important;
        color: #fff !important;
    }

    .back{
        background-color: #ffffff;
    }
    
    .tabsSet{
        margin-left: 50px;
        font-size: 20px !important;
        margin-bottom: 30px;
    }

    .mat-tab-label-active{
        font-size: 18px;
        font-weight: 900;
    }

    .mat-tab-label .mat-tab-label-content{
        font-size: 20px !important;
        font-family: "Open sans";
    }

  

    .mat-tab-header, .mat-tab-nav-bar {
        border-bottom: none;
    }

    .innerContent{
        min-height: 250px;	
        border-radius: 10px;
        // background-color: #FFFFFF;
    }

    .main{
        margin: 0;
        background-color: #fff;
    }
    
    .container12{
        background-color: #fff;
        height: auto;
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        display: flex;
    }
    
    .profile{
        padding: 48px;
        width: 100%;
        text-align: center;
        
    }
    
    .profilePic{
        height: 200px;
        width: 199.91px;
        border-radius: 50%;
        -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    }
    
    .details{
        padding: 0;
        padding-top: 5%;
    }
    
    .ico1{
        margin: 0;
        margin-right: 10px;
        color: #FEA08F;
    }
    
    .coinbtn{
        margin: 0 auto;
        /* text-align: center; */
        position: absolute;
        display: grid;
        bottom: -20px;
        left: 50%;
        align-items: center;
        margin-left: -25px;
        width: 40px;
        background-color: #fff;
        box-shadow: 0 0 10px 0;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        // color: #507bfc;
        color: var(--colorIcons);
        /* margin-top: 20px; */
        height: 40px;
        /* padding: 8px 10px !important; */
        border-radius: 50%;
    }

    .donwloadCert{
        cursor: pointer;
    }
    
    .profileName{
        font-family: "Open Sans";
        font-weight: 600;
        margin: 0;
        display: inline-flex;
    }
    
    .inlineflex{
        display: inline-flex;
        width: 100%;
        margin: 10px 0;
    }
    
    .bandbtn{
        text-align: center;
        margin: 0 30px;
        background-color: #aaaaaa38;
        color: #464646;
        font-family: "Open Sans";
        padding: 10px 20px;
        border-radius: 25px;
    }
    
    .para{
        margin-top:10px;
        margin-bottom: 10px;
        color: #464646e0;
        font-family: "Open Sans";
    }
   
    .followers{
        margin: 40px 0;
        font-family: "Open Sans";
        width: 100%;
        display: flex;
    }
    
    .columnfol{
        padding: 0;
        display: flex;
        height: 35px;
    }
    
    .digits{
        margin-right: 15px;
        font-family: "Open Sans";
        font-size: 28px;
        color: #656363;
        font-weight: 600;
    }
    
    .para2{
        margin: 5px 0;
        font-size: 20px;
    }
    
    .column3{
        padding: 45px 0;
    }
    
    .btntoggle{
        border: 1px solid #507BFC;
        color: #507BFC;
        background: #fff;
        padding: 8px 20px;
        font-size: 17px;
        width: 150px;
        cursor: pointer;
        margin-right: 20px;
        border-radius: 25px;
        box-shadow: 0 4px 22px 0 rgba(80, 123, 252, 0.3);
    }
    

    .buton{
        text-align: center;
        margin-top: 40px;
    }

    .rowsAuto{
        width: 90%;
        margin: auto;
    }
    
    .roundicon{
        font-size: 17px;
        color: var(--colorCommon);
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        margin: auto;
        padding: 0;
        // background-color: #507BFC;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        -webkit-box-shadow: 0 4px 22px 0 rgba(80, 123, 252, 0.3);
        box-shadow: 0 4px 22px 0 rgba(80, 123, 252, 0.27);
    }
    
    .commenticon{
        font-size: 17px;
        color: #fff;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        margin: auto;
        padding: 0;
        background-color: #aaa;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 22px 0 rgba(158, 158, 158, 0.41);
    }


    .orangeIco{
        background: #fea08f;
        box-shadow: 0 4px 22px 0 #fea08f4d;
    }

    .pinkIco{
        background: #f4739e;
        box-shadow: 0 4px 22px 0 #f4739e40;
        margin-left:15px;
    }

    .settingUl{
        padding: 0 !important;
        margin: 0 !important;
        list-style: none !important;
    }

    .settingli{
        text-align: center;
        font-size: 15px;
        line-height: 36px;
        font-family: "open sans";
        border-bottom: 1px solid #ccccccad;
    }
    
    .qrscanner{
      
        text-align: center;
    }
    .buttons123{
        text-align: center;
    }
    .qr_image {
        width: 100%;
        max-width: 110px;
        display: block;
        margin:auto;
        padding-top:10px;
        padding-bottom:10px;
        // margin: 20px auto 0 auto;
    }
    .qrbtn{
       
        text-align: center;
        background: #507BFC;
        padding: 0;
        border: none;
        height: 40px;
       max-width: 200px;
       width: 100%;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;
    }
    
    
    .grids{
        background-color: #fff;
        margin: 0 0 30px 0;
        padding: 3% 9%;
        border-radius: 10px;
        text-align: center;
        color: #414040;
    }
    
    .matbtn2{
        font-size: 24px !important;
        background: #507bfc !important;
        height: initial !important;
    }
    
    .heading4{   
        margin: 10px;
        font-family: "Open Sans";
    }
    
    .paragraph{
        font-family: ""Open sans-serif;
        line-height: 26px;
        font-size: 16px;
    }
    
    .matbtn{
        background-color: #507bfc;
        font-size: 22px;
        color: #fff;
        width: 55.91px;
        height: 55.91px;
        border: none;
        border-radius: 37px;
        line-height: 20px;
        cursor: pointer;
        padding: 15px;
        box-shadow: 0 3px 14px 0 rgba(80,123,252,0.5);
    }
    
    .margintop20{
        margin-top: 15%;
        margin-bottom: 0;
    }
    
    .whitebtn{
        background-color: #fff !important;
        color: #414040;
        margin-bottom: 29px;
    }
    
    .pathwayGrids{
        margin: 30px 0;
        display: block;
    }
    
   
    
    .lists{ 
       list-style: none;
       margin: 10px;
       padding: 20px;
       width: 48%;
       border: 1px solid;
       border-radius: 10px;
       background: #fff;
       -webkit-box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
       box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
    }
    
    .tiless{
        margin: 10px;
        padding: 20px;
        border: none;
        border-radius: 10px;
        background: #fff;
        -webkit-box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .padding0{
        padding: 0;
    }
    
    .imgsize{
        width: 100px;
        height: 140px;
        border-radius: 10px;
        padding: 0;
        -webkit-box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    }
    
    .imgdiv{
        padding: 0;
        text-align: center;
    }
    
    
    .gridtitle{
        font-family: "Open Sans";
        margin: 14px 0;
    }
    
    .gridpara{
        font-family: "Open sans";
        line-height: 22px;
        text-align: justify;
        font-size: 14px;
        margin: 0;
    }
    
    .createpathwaybtn{
        float: right;
        position: relative;
        bottom: 0;
    }
    
    .width100{
        width: 100%;
    }
    
    .roundLabel{
        position: absolute;
        background-color: #507bfc;
        height: 70px;
        border-radius: 57px;
        width: 70px;
        font-size: 12px;
        color: #fff;
        line-height: 71px;
        text-align: center;
        top: -35px;
        left: 44%;
        z-index: 999;
        box-shadow: 0 10px 20px 0 rgba(80,123,252,0.3);
    }
    
    .stary{
        margin-right: 6px;
    }
    
    // .main12{
    //     padding: 20px 0;
    // }
    
    .ro12{
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
    
    .marginright{
    margin-right: 30px;
    }
    
    .tile{
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        margin: 0 auto;
        width: 100%;
    }
    
    .inner-left{
        padding: 14px 0;
        text-align: center;
        border-right: 1px solid #97979754;
    }
    
    .inner-right{
        padding: 14px 0;
        text-align: center;
    }
    
    .innerpara{
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        font-family: "open sans";
        text-align: center;
        width: 100%;
    }
    
    .innerhighlight{
        margin: 0;
        // color: #507bfc;
        color: var(--colorCommon);
        font-size: 20px;
        text-align: center;
        font-family: "Open sans";
        text-align: center;
        width: 100%;
    }
    
    .rewardTile{
        height: 100%;
    }
    
    .footerdiv{
        padding: 10px;
        background-color: #f7f4f4;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .seconddiv{
        padding-right: 8px;
        padding-left: 9px;
        padding-top: 47px;
        line-height: 35px;
    }
    
    .certificatecircle{
        font-size: 66px;
        position: absolute;
        top: -34px;
        left: 300px;
        color: rgb(254, 160, 143);
        border-radius: 50%;
        background: #ffede9;
        box-shadow: 0 10px 20px 0 rgba(254,160,143,0.3);
    }
    
    .heart0{
        font-size: 20px;
        position: absolute;
        top: 25px;
        right: 23px;
        color: #fff;
    }
    
    .col12{
        padding: 0 45px;
        margin: 50px 0;
    }
    
    .badgetitle{
        font-size: 24px;
        font-family: "Open sans";
        margin: 0px 0 20px 0;
        text-align: center;
       
    }
    
    .roundarrow2{
        margin: 4px;
        width: 30px;
        padding: 3px 0px;
        height: 30px;
        text-align: center;
        font-size: 20px;
        border-radius: 25px;
        border: 2px solid;
        color: #507BFC;
        background-color: transparent;
        cursor: pointer;
    }
    
    .badgearray{
        display: flex;
        min-height: 150px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .arrow{
        text-align: center;
        padding: 56px 0;
    }
    
    .arraydiv1{
        padding: 20px;
        list-style: none;
        display: flex;
        overflow-x: overlay;
    }
    
    .left-arrow{
        position: relative;
        left: -1px;
    }
    
    .right-arrow{
        position: relative;
        left: 2px;
    }
    
    .badges{
        width: 100%;
        height: 90%;
        max-width: 180px;
        max-height: 150px;
        margin: 5px 22px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    }
    
    .badgeimg{
        margin: 0 auto;
        /* border: 1px solid; */
        text-align: center;
        padding: 5px;
        font-size: 40px;
        color: #fea08f;
        background: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .award{
        width: 100px;
        height: 100px;
        background: #fff;
    }
    
    .margin0{
        margin: 0;
    }
    
    .paragr1{
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        padding: 10px 0;
        font-family: "open sans";
        background-color: #FEA08F;
        color: #f7f4f4;
        box-sizing: border-box;
        border-bottom-left-radius: 19px;
        border-bottom-right-radius: 19px;
    }
    
    .paragr2{
        margin: 0;
        padding: 20px 8px;
        font-family: "open sans";
        box-sizing: border-box;
    }
    
    .certificate{
        min-width: 270px;
        min-height: 150px;
        margin: 4px 15px;
        border-radius: 20px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .certiimg{
        margin: 20px auto;
        text-align: center;
        padding: 5px;
        font-size: 40px;
        color: #fea08f;
    }
    
    .wohoo{
        font-size: 22px;
        color: #fea08f;
        line-height: 34px;
        width: 100%;
    }
    
    .text{
        font-size: 14px;
        /* text-align: justify; */
        width: 100%;
        line-height: 23px;
    }
    
    .text2{
        font-size: 13px;
    }
    
    
    
    .carouselslider{
        height: 200px ;
        padding: 0 15px;
        width: 850px !important;
    }
    
    .tabcontent{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid;
    }
    
    .dateheading{
        margin: 0;
    }
    
    .iconcolor{
        color: #507BFC;
        font-size: 18px;
        margin-right: 20px;
    }
    
    .posticon{
        width: auto;
        height: 70px;
        // padding: 0 40px
    }
    
    .loops{
        background: #fff;
        border: 1px solid #d9dbde;
        border-radius: 5px;
        width: 100%;
        // padding: 0px 15px;
        // margin: 15px 0;
    }
    
    .inner-html{
        .highlighter{
            margin: 0 10px;
            color: #507BFC;
        }
        .posttitle{
            font-size: 20px;
            font-family: "Open sans";
        }
    }
    
    
    .datestring{
        margin-top: 30px;
        font-family: "Open sans" !important;
        width: 100%;
        margin-left: 10px;
    }
    
    .notification{
        font-family: "open sans" !important;
    
    }
    
    .badgeicon{
        font-size: 30px;
        text-align: center;
        color: #fea08f;
    }
    
    .myactivities{
        padding: 30px 0;
        border-bottom: 1px solid #d9dbde;
    }
    
    .margintop10{
        margin-top: 10px;
    }
}

.popOverList{
    padding: 0 !important;
    list-style: none;
    margin: 0;
    width: auto;
    font-size: 16px;
    font-family: "open sans";
    text-align: center;
    color: #7a8484;
}

.listItem{
    border-bottom: 1px solid #dedcdc;
    padding: 5px 10px;
    line-height: 38px;
    cursor: pointer;
    display: flex;
}

.faIco{
    line-height: 40px;
    margin-right: 12px;
}

.flexItems{
    margin-right: 10px;
}

.nb-theme-default nb-popover .arrow{
    border-bottom: 11px solid #cbcecc !important;
}

.nb-theme-default nb-popover {
    border: 1px solid #cac7c7 !important;
}
// Image Crop Model
.image-crop-popup{		
	position: fixed;		
	 width: 100%;		
	 height: 100%;		
	 top: 0px;		
	 left: 0px;		
	 z-index: 1503;		
	 background-color:rgba(0, 0, 0, 0.6);		
	.image-crop-popup-content{		
		width: 40%;		
		margin: auto;		
		background-color: #fff;		
		border-radius: 5px;		
        // margin-top: 5%;		
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // transform: translateX(-50%);
        padding: 20px;	
        text-align: center;	
    }		
    .margin20{
        margin-top: 10px;
    }
    .wrap-content{
        padding:0;
    }
}

.formR{
	/* // padding: 40vh; */
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.matblock{
    width: 100%;
    padding: 15px 0;
}


.addSelfBackdrop2{		
	position: fixed;		
	 width: 100%;		
	 height: 100%;		
	 top: 0px;		
	 left: 0px;		
	 z-index: 1503;		
	 background-color: #40404075;		
	.addSelfDemoModal2{		
		width: 40%;		
		margin: auto;		
		background-color: #fff;		
		border-radius: 5px;		
		margin-top: 5%;		
		padding: 20px;		
	}		
}		
.modalheader{		
	font-family: "Open sans";		
	text-align: center;		
	width: 100%;		
}	

.cancel{
    width: 120px;
    line-height: 38px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #2196F3;
    color: #2196F3;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 0 2px 13px -2px rgba(168, 168, 169, 0.5);
    outline: none !important;
    cursor: pointer;
}

.butns{
    height: auto;
    text-align: right;
}

.content123{
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
    line-height: 25px;
}

.toggle{
    color: #2196F3;
    cursor: pointer;
}

.para123{
    font-size: 20px;
    color: #000;
    margin: 0;
    width: 95%;
}

.wrapCOntent{
    padding: 45px 15px;
}

.toggleIcon{
    width: 5%;
    margin: auto;
    font-size: 23px;
    color: #7b7a7a;
    text-align: center;
    cursor: pointer;
}

.change{
    width: 120px;
    line-height: 40px;
    font-size: 14px;
    padding: 0;
    background: #2196F3;
    border: none;
    color: #fff;
    border-radius: 25px;
    box-shadow:0px 5px 14px 0px rgba(80,123,252,0.5);
    outline: none !important;
    cursor: pointer;
}

.dropBtn{
    color: #507BFC;
    border: 1px solid #507BFC;
    background: #fff;
    width: 100%;
    line-height: 45px;
    border-radius: 25px;
    outline: none !important;
    text-align: left;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0 15px;
}

.nb-theme-default .dropdown .dropdown-menu, .nb-theme-default .dropup .dropdown-menu {
    margin-top: 6px;
    border-radius: 7px;
    border: none;
    width: 100%;
    color: #000;
    padding: 0;
    min-width: 100px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    font-size: 14px !important;
    white-space: nowrap;
    text-transform: capitalize !important;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.selectDiv{
    border-radius: 25px;
    border: 1px solid #7d7e7f;
    width: 270px;
}

.selectDiv select{
    min-width: 220px;
    min-height: 40px;
    padding: 0 15px;
    color: #7d7e7f;
    -webkit-appearance: button;
    outline: none !important;
    font-family: "open sans";
    border: none;
    margin: 0;
    margin-left: 15px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
}


.selectDiv::after{
    content: '\f0d7';
    font-family: "Fontawesome";
    position: relative;
    top: 0px;
    left: 0;
    border-radius: 50%;
    padding: 4px 8px;
    background: #a4a6a7;
    width: 40px;
    color: #fff;
    height: 40px;
    cursor: pointer;
}
.msg{
    font-size: 20px;
    color: #4c4c4c;
    margin-bottom: 35px;
}
.profile-info-container{
    display:grid;
    grid-template-columns: 4fr 8fr 4fr;
    align-items: center;
    padding-top:50px;
    padding-bottom: 50px;
}
.profile-image{
    text-align:center;
    position: relative;
    img{
        width:100%;
        max-width: 170px;
        height: 100%;
        max-height: 170px;
        -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        border-radius:50%;
    }
}
.profile-information{
    align-self: flex-start;
    .roles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    .button-1{
        background: #e5ecee;
        text-align: center;
        font-size: 20px;
        color: #7f7f7f;
        border-radius: 5px;
        font-variant: petite-caps;
        cursor: pointer;
        height: 50px;
        width: 100%;
        border:0px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    .active{
        background: #FFAE74;
        color: #fff;
    }
}
.followers-information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin:20px 0 20px 0;
}
.qr-section{
    align-self: middle;
}


.band{
    margin-bottom: 0;
    margin-top:5px;
}
.followers-information-mobile{
    display:none;
}
.mobile-buttons{
    display: none;
}
.myactivities-container{
    display: grid;
    grid-template-columns:  120px auto;
    grid-column-gap: 20px;
    padding:  20px;
    border-bottom: 1px solid #d9dbde;
    .activity-posticon{
        text-align: left;
        img{
            max-width: 120px;
            width: 100%;
            height: 100%;
        }
    }
}
.icons{
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}
.posttitle{
    display: inline-block;
    font-size: 20px;    
}
.video-details{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
   
}
.posted-time{
    text-align: right   
}
.highlighter{
    margin: 0 10px;
    color: #507BFC;
}   
.badge-container{
    display: grid;
    grid-template-columns: 70px auto 70px;
    display: grid;
    padding: 20px;
    border-bottom: 1px solid #d9dbde;
    align-items: center;
    border-bottom: 1px solid #d9dbde;
}
.badge-time{
    text-align: right;
    p{
        margin: 0;
    }
}


// Pathway Container
.pathway-grids-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .pathways{
        display: grid;
        grid-template-columns: 110px auto 60px;
        grid-column-gap: 10px;    
        border-radius: 10px;
        -webkit-box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
        padding: 20px;
        border: none;
        background-color: white;
        .pathway-image img{
            max-width: 110px;
            width: 90%;
            max-height: 140px;
            height: 100%;
            border-radius: 10px;
            padding: 0;
            -webkit-box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
            box-shadow:  0 2px 6px 0 rgba(47, 83, 151, 0.1);
        }
        .pathway-buttons{
            align-self: center;
            .pathway-buttons-icon-white{
                background-color: white;
                font-size: 22px;
                color: #507bfc;
                width: 100%;
                height:  100%;
                border: none;
                border-radius: 50%; 
                min-height: 60px;
                -webkit-box-shadow: 0 3px 14px 0 rgba(80, 123, 252, 0.5);
                box-shadow: 0 3px 14px 0 rgba(80, 123, 252, 0.5);
            }
            .pathway-buttons-icon-blue{
                background-color: #507bfc;
                font-size: 22px;
                color: white;
                width: 100%;
                height:  100%;
                border: none;
                border-radius: 50%;
                margin-top: 30px;
                min-height: 50px;
                -webkit-box-shadow: 0 3px 14px 0 rgba(80, 123, 252, 0.5);
                box-shadow: 0 3px 14px 0 rgba(80, 123, 252, 0.5);
            }
        }
        .pathway-button-add{
            align-self: end;
            text-align: right;
            .pathway-buttons-icon-blue{
                background-color: #507bfc;
                font-size: 22px;
                color: white;
                width: 100%;
                height:  100%;
                border: none;
                border-radius: 50%;
                min-height: 50px;
                -webkit-box-shadow: 0 3px 14px 0 rgba(80, 123, 252, 0.5);
                box-shadow: 0 3px 14px 0 rgba(80, 123, 252, 0.5);
            }
        }
    }
}




// Rewards 

.rewards-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin:0 30px 0 30px;
    .box-1{
        box-shadow: 0 10px 0px -10px rgba(0, 0, 0, 0.1);
        .star-badge{
            text-align: center;
            /* IE10+ */ 
            background-image: -ms-linear-gradient(top, #EBEFF5 50%, #ffffff 50%);
    
            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(top, #EBEFF5 50%, #ffffff 50%);
    
            /* Opera */ 
            background-image: -o-linear-gradient(top, #EBEFF5 50%, #ffffff 50%);
    
            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #EBEFF5), color-stop(50, #ffffff));
    
            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(top, #EBEFF5 50%, #ffffff 50%);
    
            /* W3C Markup */ 
            background-image: linear-gradient(to bottom, #EBEFF5 50%, #ffffff 50%);
            .round-blue{
                // background-color: #507bfc;
                background-color: var(--colorCommon);
                height: 60px;
                width: 60px;
                font-size: 12px;
                color: #fff;
                grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                border-radius: 50%;
                -ms-flex-line-pack: center;
                text-align: center;
                padding: 0 5px 0 5px;
                align-content: center;
                position: relative;
                margin: auto;
                // left: 50%;
                // margin-left: -30px;
              
            }
         }
        
        .section-container{
            display:grid;
            grid-template-columns: 1fr 1fr;
            background: white;
            .points-earned{
                border-right: 2px solid #97979754;
                padding-bottom: 10px;
            }   
        }
        .course-info{
            background: #F7F4F4;
            padding: 10px 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        
        }

        // Slider
        drag-scroll {
            height: 50px;
            width: 100px;
          }
          img {
            height: 50px;
            width: 50px;
          }
    }
   
    .box-2{
        margin-top: 30px;
        box-shadow: 0 10px 0px -10px rgba(0, 0, 0, 0.1);
        .heart-icon{
        background: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
            .certificate-badge{
                font-size: 66px;
                position: relative;
                color: #fea08f; 
                border-radius: 50%; 
                left: 50%;
                margin-left: -33px;
                margin-top: -33px;
               .internal-heart {
                    font-size: 20px;
                    position: absolute;
                    top: 25px;
                    right: 23px;
                    color: #fff;
                }
            }
        }
        .certificate-content{
            background: white;
            padding: 10px 10px 20px 10px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

// Sliders
$transition_time:.2s;

.carousel {
  color:white;
  .content {
    display: flex;
    width: 528.236px;
    position: relative;
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(0);

    .item {
      width: 100%;
      padding: .5em;
      display: block;
      opacity: 0.5;

      transition: all 0.295s linear $transition_time;

      &.visible {
        opacity: 1;
      }

      .img {
        width: 100%;
        height: 400px;
        display: block;
        background-size: cover;
        background-position: center;
      }
    }


  }

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid;
    opacity: 0.5;

    &.visible {
      opacity: 1;
    }
  }

  .click-area {
    width: 50px;
    text-align: center;

    i {
      font-size: 3em;
    }
  }
}


.badge-image{
   
    background: #fff;
}
.badge-image img{
    width: 100px;
    height: 100px;
}
.button-color{
    background-color: #ffffff;
    color: var(--colorCommon);
    border: 1px solid var(--colorCommon);
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 7px;
    cursor: pointer;
}
.carousel ul.indicators{
    display: none;
}       
.badge-container{
    background-color: white;
    border-radius: 20px;
}
.mobile-display{
    display: none;
}
.carousal-section{
    margin: 30px 30px 0 30px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 20px 20px;
}
.carousal-section-1{
    margin: 30px 30px 0 30px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    padding: 20px 20px;
}


// Slider 2

.certificate-new{
    display: grid;
    grid-template-columns: 70px auto;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding: 15px;
    grid-column-gap: 15px;
}
.certiimg-new {
    align-self: center;
}
.certiimg-new img{
    max-width: 60px;
    width: 100%;
}
.certi-content{
    font-size: 22px;
    color: #fea08f;
    line-height: 34px;
    width: 100%;
    text-align: left;
}
@media screen and (max-width: 1200px) {
    .carouselslider  { 
        width: 690px !important;
    }
    .badges {
        margin: 5px 15px !important;
    }
}

@media screen and (max-width: 1030px) {
    .profile-info-container{
        grid-template-columns: 180px auto 200px;
        padding-top:40px;
        padding-bottom: 30px;
    }
    .profile-image{
        text-align:center;
        img{
            width:100%;
            max-width: 150px;
            height: 100%;
        }
    }
    .grids {
        background-color: #fff;
        margin: 0 0 30px 0;
        padding: 3% 9%;
     
    }
    .para
    {
        font-size: 19px;
    }
    .qr_image {
        max-width: 120px;
        width: 100%;
        margin: 10px auto;
    }
    .qrbtn{
        margin-top: 0px;
        max-width: 150px;
        width: 100%;

    }
    .button-1{
        height: 43px;
    }
    .digits{
         margin-right: 10px;
         font-size: 20px;
    }
    .para2{
        font-size: 18px;
    }
    .qr-section{
        padding-left:15px;
        padding-right:15px;
    }
    .mat-tab-label{
        min-width: 100px !important;
        width: 100%;

    }
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
        display: none !important;
    }
    .tabsSet{
        margin-left: 0px !important;
        margin-bottom: 30px;
    }
    .ngx-profile-page .mat-tab-header, ngx-profile-page .mat-tab-nav-bar{
        margin: 0 auto;
    }
    .myactivities-container{
        grid-template-columns:  90px auto;
        .activity-posticon{
            text-align: left;
            img{
                max-width: 90px;
                width: 100%;
                max-height: 90px;
                height: 100%;
            }
        }
    }

  
    .pathways{
        grid-template-columns: 100px auto 50px ;
        grid-column-gap: 10px;    
        border-radius: 10px;
        padding: 20px;
        .pathway-image img{
            max-width: 80px !important;
            width: 90%;
            max-height: 110px !important;
        
        }
        .pathway-buttons{
            align-self: start !important;
            .pathway-buttons-icon-white{
                font-size: 18px !important;
              
                border-radius: 50%; 
                min-height: 50px !important;
            }
            .pathway-buttons-icon-blue{
                font-size: 18px !important;
             
                border-radius: 50%;
                margin-top: 40px;
                min-height: 50px !important;
            }
        }
        .pathway-button-add{
            align-self: end;
            text-align: right;
            .pathway-buttons-icon-blue{
                font-size: 18px !important;
                border-radius: 50%;
                margin-top: 40px;
                min-height: 50px !important;
            }
        }
    }
    //  Sliders
    .button-color {
        // background-color: #507BFC;
        background-color: var(--colorIcons);
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 5px;
    }

  }
  @media screen and (max-width: 900px) {
    .carouselslider { 
        width: 690px !important;
    }
    .badges {
        margin: 5px 15px !important;
    }
    .award {
        width: 70px !important;
        height: 70px !important;
        background: #fff;
    }
    .certificate-new {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 20px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: white;
        padding: 15px;
        grid-column-gap: 15px;
    }
    .certi-content {
        text-align: center;
    }
    .certiimg-new img {
        max-width: 80px;
        width: 100%;
    }
    .wohoo{
        margin-top: 15px !important;
    }
   .badgetitle {
        margin: 0px !important;
        padding-top: 15px;
    }
    .carousal-section-1{
        padding: 0 !important;
    }
}

  @media screen and (max-width: 780px) {
    .icons {
        display: none;
      
    }
    .profile-info-container{
        display:grid;
        grid-template-columns: 1fr 3fr;
        padding-left: 20px;
        padding-right: 20px;
        grid-column-gap: 30px;
    }
    .qr-section
    {
        display: none;
    }
    .activity-posticon{
        text-align: left;
        img{
            max-width: 90px !important;
            max-height: 70px !important;
        }
    }
    .coinbtn{
        margin: 0 auto;
        /* text-align: center; */
        position: absolute;
        display: grid;
        bottom: -20px;
        left: 50%;
        align-items: center;
        margin-left: -25px;
        width: 40px;
        background-color: #fff;
        box-shadow: 0 0 10px 0;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
        color: #507bfc;
        /* margin-top: 20px; */
        height: 40px;
        /* padding: 8px 10px !important; */
        border-radius: 50%;
    }
    // Pathways Tab
    .pathway-grids-container{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .pathways{
        grid-template-columns: 140px auto 40px !important;
        grid-column-gap: 10px;    
        border-radius: 10px;
        padding: 20px;
        .pathway-image img{
            max-width: 150px !important;
            width: 90%;
            max-height: 120px !important;
            height: 100%;
            border-radius: 10px;
        }
        .pathway-buttons{
            align-self: start !important;
            .pathway-buttons-icon-white{
                font-size: 17px !important;
                width: 100%;
                height:  100%;
                border-radius: 50%; 
                min-height: 40px !important;
            }
            .pathway-buttons-icon-blue{
                font-size: 17px !important;
                width: 100%;
                height:  100%;
                border-radius: 50%;
                margin-top: 40px;
                min-height: 40px !important;
            }
        }
        .pathway-button-add{
            align-self: end;
            text-align: right;
            .pathway-buttons-icon-blue{
                font-size: 18px !important;
                border-radius: 50%;
                margin-top: 40px;
                min-height: 40px !important;
            }
        }
    }

    // Rewards
    .rewards-container{
        margin: 0 10px 0 10px;
    }
 
      
  }

  @media screen and (max-width: 560px) {
    .badgeicon{
        text-align: left !important;
    }
    .datestring{
        margin-top: 20px !important;
    }
    .followers-information-mobile{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;   
        text-align: center;
    }
  
    .figure-size{
        font-size: 20px;
        color:#a4abb3;
        display: block;
        text-align: center
    }
    .digit-size{
         font-size: 24px;
         display: block;
         color:black;
    }
   
    .followers-information{
        display:none;
    }
    .para{
        font-size: 16px;
        font-weight: 600 !important;
    }
    .ico1{
     font-size: 18px;
    }
    .roles{
        display:none !important;
    }
   
    .mobile-buttons{
        display: grid;
        width: 100%;
        text-align: center;
    }
    .button-mobile-icon{
        background: #507BFC;
        padding: 13px;
        border-radius: 50%;
        font-size: 23px;
        color: white;
        -webkit-box-shadow: 0 4px 22px 0 rgba(80, 123, 252, 0.3);
        box-shadow: 0 4px 22px 0 rgba(80, 123, 252, 0.27);
  
    }
    .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column{
        padding: 0px;
    }
    .profile-info-container {
        grid-template-columns: 100px auto;
        grid-column-gap: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .nb-theme-default nb-layout .layout nb-layout-header nav{
        -webkit-box-shadow: none; 
         box-shadow: none; 
    }
    .followers-information-mobile{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .datestring{
        margin-top: 20px;
        font-family: "Open sans" !important;
        width: 100%;
        font-size: 20px;
        margin-left: 30px !important;
    }
    .posttitle{
        font-size: 15px;
        margin-bottom: 0;
    }
    .myactivities-container {
        grid-template-columns: 50px auto;
        grid-column-gap: 15px !important;
        img{
            max-height: 50px !important; 
            min-height: 45px;   
        }
    }
    .button-mobile-icon-left{
        margin-right: 10px;
    }
    .button-mobile-icon-right{
        margin-left: 10px;
    }
    .notification{
       padding-top: 5px;
    }
    .pathway-grids-container {
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }
     // Pathways Tab
    .pathways{
        grid-template-columns: 80px auto 40px !important;
        padding: 15px !important;
        .pathway-image img{
            max-width: 80px !important;
            width: 90%;
            max-height: 80px !important;
            height: 100%;
        }
       .pathway-title{
             font-size: 16px;
             margin-bottom: 5px;
       }
       .pathway-content-paragraph{
           font-size: 13px;
           margin-bottom: 5px;
       }
    }
    .pathway-grids-container .pathways .pathway-buttons .pathway-buttons-icon-white
    {
        box-shadow: none;
        text-align: right;
    }
    .mobile-hide{
        display: none;
    }
    .grids{
            padding:    20px 20px 0px 20px  !important
    }
    .matbtn2{
        margin-bottom: -50px !important;
    }

    // Rewards Conatiner
    .rewards-container{
        grid-template-columns: 1fr ;
        grid-row-gap: 25px;
        margin: 0 30px 0 30px;
    }
}
  @media screen and (max-width: 400px) {
   
    .profile-info-container {
        grid-template-columns: 85px auto;
        grid-column-gap: 15px;
      
    }
    .main-content{
        padding: 0 !important;
    }
    .button-mobile-icon{
        padding: 10px;
        font-size: 18px;
        color: white;
    }
    .coinbtn {
     padding: 5px 8px !important;
    }
    .para {
        font-size: 14px;
    }
    .badge-container{
        grid-template-columns: 50px auto 50px;
    }
    .badgeicon{
        text-align: left !important;
    }
    .profile-info-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .myactivities-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .pathways{
        grid-template-columns: 60px auto 40px !important;
        padding: 10px !important;
        .pathway-image img{
            max-width: 60px !important;
            width: 90%;
            max-height: 50px !important;
            height: 100%;
        }

    }
    // Rewards Conatiner
    .rewards-container{
        margin: 0 10px 0 10px;
        
    }
  }
 