<div class="main">

	<!-- Profile Page -->
	<div class="profile-info-container" *ngIf="profileworking;else profileinfotemplate">
		<div class="profile-image">
			<div *ngIf="!intialImage">
				<img src={{profileDetails.profile_pic}}>
				<input #fileUpload type="file" (click)="fileUpload.value = null" (change)="fileChangeEvent($event)"
				style="display:none" accept="image/*">
				<div class="coinbtn roundbtn" (click)="fileUpload.click()"><i class="fa fa-camera"
					aria-hidden="true"></i>
				</div>
			</div>
			<div *ngIf="intialImage">
					<img [src]="croppedImage">
					<input #fileUpload type="file" (click)="fileUpload.value = null" (change)="fileChangeEvent($event)" style="display:none"
					accept="image/*">
					<div class="coinbtn roundbtn" (click)="fileUpload.click()"><i class="fa fa-camera" aria-hidden="true"></i></div>
			</div>
		</div>
		<div class="profile-information">
			<h3 class="profileName">{{profileDetails?.name}}</h3>
			<p class="band" *ngIf='profileDetails?.band != null || profileDetails?.band != undefined'>Band -
				{{profileDetails?.band}} </p>
			<h4 class="para">{{profileDetails?.designation}}</h4>
			<h4 class="para"><i class="far fa-envelope ico1"></i> {{ profileDetails?.email }}</h4>
			<h4 class="para"><i class="fas fa-phone ico1"></i> {{ profileDetails?.phone }}</h4>
			<div class="roles">
				<button class="button-1" *ngFor="let role of roles; let i = index" (click)="activeUser(role,i)"
					[ngClass]="{ 'activate': role?.status }" [disabled]="role?.status">{{ role?.name }}</button>
			</div>
		</div>
		<div class="qr-section">
			<div class="buttons123">
				<i class="fas fa-cog roundicon" [nbPopover]="settings" nbPopoverPlacement="bottom"></i>
			</div>
		</div>
		<ng-template #settings>
			<ul class="popOverList">
				<li class="listItem" (click)="popUPModal()"><i class="fas fa-lock faIco"></i> Change Password</li>
			</ul>
		</ng-template>

	</div>
	<ng-template #profileinfotemplate>
			<div class="profile-info-container">
					<div class="profile-image">
						<div>
								<ngx-content-loading [width]="200" [height]='200'>
										<svg:g ngx-circle [r]='70' [cx]='100' [cy]='80'></svg:g>
									</ngx-content-loading>
						</div>
					</div>
					<div class="profile-information">
							<ngx-content-loading [width]="400" [height]="100">
								<svg:g ngx-rect width="200" height="10" y="10" x="0" rx="5" ry="5"></svg:g>
								<svg:g ngx-rect width="200" height="10" y="40" x="0" rx="5" ry="5"></svg:g>
								<svg:g ngx-rect width="200" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
							</ngx-content-loading>
						<div >
						<ngx-content-loading [width]="800" [height]="70">
							<svg:g ngx-rect width="100" height="60" y="0" x="0" rx="5" ry="5"></svg:g>
							<svg:g ngx-rect width="100" height="60" y="0" x="150" rx="5" ry="5"></svg:g>
							<svg:g ngx-rect width="100" height="60" y="0" x="300" rx="5" ry="5"></svg:g>
						</ngx-content-loading>
						</div>
					</div>
					<div class="qr-section">
						<div class="buttons123">
							<i class="fas fa-cog roundicon" [nbPopover]="settings" nbPopoverPlacement="bottom"></i>
						</div>
					</div>
					<ng-template #settings>
						<ul class="popOverList">
							<li class="listItem" (click)="popUPModal()"><i class="fas fa-lock faIco"></i> Change Password</li>
						</ul>
					</ng-template>

				</div>
	</ng-template>
	<div class="mobile-buttons">

		<div class="buttons-container">
			<i class="fas fa-cog button-mobile-icon button-mobile-icon-left"></i>
			<i class="fas fa-pen button-mobile-icon button-mobile-icon-left"></i>
		</div>
	</div>
	<div class="followers-information-mobile">
		<div class="follower">
			<span class="digit-size">{{profileDetails.followers}}</span>
			<span class="figure-size">Followers</span>
		</div>
		<div class="following">
			<span class="digit-size">{{profileDetails.following}}</span>
			<span class="figure-size">following</span>
		</div>
		<div class="tags">
			<span class="digit-size">{{profileDetails.tags}}</span>
			<span class="figure-size">tags</span>
		</div>
	</div>

	<mat-tab-group class="tabsSet" (selectedTabChange)='tabChanged($event)'>
		<mat-tab label="Rewards">
			<!-- <div class="row rewards">
				<h4 class="heading4">You have not received any rewards yet!</h4>
                <p class="paragraph">Complete some courses to receive points, badges and certificates. Get the learner out of you!</p>

				<div class="col-md-12 main12">
					<div class="ro12">
						<div class="col-md-5 tile">
							<div class="roundLabel">
								<i class="fas fa-star stary"></i>
								<i class="fas fa-star stary"></i>
								<i class="fas fa-star "></i>
							</div>
							<div class="rewardTile">
								<div class="row">
									<div class="col-md-6 inner-left">
										<p class="innerpara">Points earned</p>
										<h5 class="innerhighlight">15978</h5>
									</div>
									<div class="col-md-6 inner-right">
										<p class="innerpara">Current level</p>
										<h5 class="innerhighlight">Achiever</h5>
									</div>
								</div>
								<div class="row footerdiv">
									<p class="innerpara">Completed 290 courses</p>
									<p class="innerpara">Way to go!</p>
								</div>
							</div>
						</div>

						<div class="col-md-5 tile">
							<div class="fas fa-certificate certificatecircle">
								<i class="fas fa-heart heart0"></i>
							</div>
							<div class="rewardTile">
								<div class="row seconddiv">
									<p class="innerhighlight">You need 22 more points to reach level “Catalyst”</p>
									<p class="innerpara">Click this card to see what courses you can complete.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 col12">
						<div class="ro12">
							<div class="tile">
								<div class="header1">
									<h3 class="badgetitle">Badges</h3>
									<div class="carouselslider " ng2-carouselamos [width]="900" [items]="badgesArray" [$item]="itemTemplate"
									 [$prev]="prevTemplate" [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>

									<ng-template #prevTemplate>
										<div class=" arrow">
											<button class="roundarrow2"><i class="fas fa-chevron-left left-arrow"></i></button>
										</div>
									</ng-template>

									<ng-template #nextTemplate>
										<div class="col-md-1 arrow">
											<button class="roundarrow2"><i class="fas fa-chevron-right right-arrow"></i></button>
										</div>
									</ng-template>

									<ng-template let-item let-i="index" #itemTemplate>
										<div class="badges">
											<div class="badgeimg">
												<img src={{item.badgesimg}} class="award">
											</div>
											<div class="paragr1">
												<p class="margin0">{{ item.badgetitle }}</p>
												<p class="margin0">{{ item.badgelevel }}</p>
											</div>
										</div>
									</ng-template>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 col12">
						<div class="ro12">
							<div class="tile">
								<div class="header1">
									<h3 class="badgetitle">Certificates</h3>

									<div class="carouselslider " ng2-carouselamos [width]="900" [items]="certificateArray" [$item]="itemtemp"
									 [$prev]="prev" [$next]="next" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>

									<ng-template #prev>
										<div class=" arrow">
											<button class="roundarrow2"><i class="fas fa-chevron-left left-arrow"></i></button>
										</div>
									</ng-template>

									<ng-template #next>
										<div class="col-md-1 arrow">
											<button class="roundarrow2"><i class="fas fa-chevron-right right-arrow"></i></button>
										</div>
									</ng-template>

									<ng-template let-item2 let-i="index" #itemtemp>
										<div class="certificate">
											<div class="certiimg">
												<img src={{item2.certificateimg}} class="award">
											</div>
											<div class="paragr2">
												<p class="margin0 wohoo">{{ item2.greetings }}</p>
												<p class="margin0 text">{{ item2.message }}</p>
												<p class="margin0 text2">{{item2.noofcourses}} courses</p>
											</div>
										</div>
									</ng-template>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</mat-tab>

		<!-- <mat-tab label="Interests"> -->
			<!-- <div class="grids">
				content 1
			</div> -->
		<!-- </mat-tab> -->

	</mat-tab-group>
</div>

<div class='bodyContent'>
	<div class='innerContent'>

		<!-- ****************************** MY ACTIVITIES TAB ****************************** -->
		<!-- <div *ngIf='contentDiv==0'>
			<div class="main12">
				<div class="row dateheading">
					<h1 class="datestring">{{ today | date }}</h1>
				</div>

				<div class="loops">
					<div class="myactivities-container" *ngFor="let myActivity of activity">
						<div class="activity-posticon">
							<img src="{{myActivity.posticon}}" class="posticon" />
						</div>
						<div class="activity-details">
							<div class="activity-title">
								<span class="icons"><i class="{{ myActivity.fa_icon }}"></i></span>
								<h5 class="posttitle" [innerHTML]="myActivity.message"></h5>
							</div>
							<div class="video-details">
								<div class="posted-by">
									<h6 class="notification">{{myActivity.postby}}</h6>
								</div>
								<div class="posted-time">
									<span class="notification">{{myActivity.time}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row dateheading">
					<h1 class="datestring">Dec 31</h1>
				</div>

			</div>

			<div class="loops">
				<div class="badge-container" *ngFor="let notify of notifications">
					<div class="badgeicon">
						<i class="{{notify.posticon}}"></i>
					</div>
					<div class="badge-message" [innerHTML]="notify.message">
						<h6 class="notification" [innerHTML]="notify.message"></h6>
					</div>
					<div class="badge-time">
						<p>{{notify.time}}</p>
					</div>
				</div>
			</div>

		</div> -->



		<!-- ****************************** MY PATHWAY TAB ****************************** -->
		<!-- <div *ngIf='contentDiv==1'> -->
			<!-- <div class="grids" *ngIf='noPathway'>

				<h4 class="heading4">You have a total of <b>0</b> defined Pathway(s)</h4>

				<p class="paragraph">By creating a Pathway you will move closer to your learning dream. You can
					choose any
					training posts from specific categories to create a Pathway.
					Go ahead and give this blue button a hit to define your first Pathway.</p>

				<button mat-fab class="matbtn2" (click)='addPathway()'><i class="fas fa-plus plusFOnt"></i></button>

			</div> -->

			<!-- New Code -->
			<!-- <div class="pathway-grids-container">
				<div class="pathways" *ngFor="let pathwaycreated of pathwayArray; let isFirst = first;">
					<div class="pathway-image">
						<img src="{{pathwaycreated.pathwayImage}}" alt="" srcset="">
					</div>
					<div class="pathway-content">
						<h4 class="pathway-title">{{pathwaycreated.pathwayName}}</h4>
						<p class="pathway-content-paragraph">{{pathwaycreated.pathwayBody}}</p>
						<p *ngIf='!isFirst'>{{pathwaycreated.sections}} sections |{{pathwaycreated.items}}
							items</p>
						<p class="pathway-content-paragraph" *ngIf='!isFirst'>Created on {{pathwaycreated.createdOn}}
						</p>
					</div>
					<div [ngClass]="{ 'pathway-buttons': !isFirst , 'pathway-button-add': isFirst}">
						<button *ngIf='!isFirst' [nbPopover]="options" class="pathway-buttons-icon-white">
							<i class="fas fa-ellipsis-v"></i>
						</button>
						<button *ngIf='isFirst' (click)='addPathway()' class="pathway-buttons-icon-blue">
							<i class="fas fa-plus"></i>
						</button>
						<button *ngIf='!isFirst' (click)='insidePathway()' class="pathway-buttons-icon-blue mobile-hide">
							<i class="fas fa-eye"></i>
						</button> -->

						<ng-template #options>
							<ul class="popOverList">
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-plus-circle"></i>
									</div>
									<div class="">
										Add to skill plan
									</div>
								</li>
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-share-alt"></i>
									</div>
									<div>Share</div>
								</li>
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-trash"></i>
									</div>
									<div>Delete</div>
								</li>S
							</ul>
						</ng-template>

					<!-- </div>
				</div> -->
				<!-- <div class="pathways">
								<div class="pathway-image">
									<img src="./assets/images/eva.png" alt="" srcset="">
								</div>
								<div class="pathway-content">
									<h4 class="pathway-title">Create a new pathway</h4>
									<p class="pathway-content-paragraph">You can add mutiple items of your choice to enjoy your own
										pathways of learning</p>
									<p class="pathway-content-paragraph" *ngIf='!isFirst'>Created on {{pathwaycreated.createdOn}}</p>
								</div>
								<div class="pathway-buttons">
									<button class="pathway-buttons-icon-white">
										<i class="fas fa-ellipsis-v"></i>
									</button>
									<button  class="pathway-buttons-icon-blue">
										<i class="fas fa-plus"></i>
									</button>
				 <button class="pathway-buttons-icon-blue mobile-hide">
										<i class="fas fa-eye"></i>
									</button>
								</div>
							</div>
				 New Code Ends -->

			<!-- </div>
		</div> -->

		<!-- ****************************** MY SKILL PLANS TAB ****************************** -->
		<!-- <div *ngIf='contentDiv==1'>
			<div class="grids">

				<h4 class="heading4">You have a total of <b>0</b> defined Skill Plan(s)</h4>

				<p class="paragraph">By creating a Skill Plan you will move closer to your learning dream. You can
					choose any
					training posts from specific categoriesto create a Skill Plan.
					Go ahead and give this blue button a hit to define your first Skill Plan.</p>

				<button mat-fab class="matbtn2"> <i class="fas fa-plus plusFOnt"></i></button>

			</div>
			<div class="pathway-grids-container">
				<div class="pathways">
					<div class="pathway-image">
						<img src="./assets/images/kate.png" alt="" srcset="">
					</div>
					<div class="pathway-content">
						<h4 class="pathway-title">Demo123</h4>
						<p class="pathway-content-paragraph">Demo1233432423</p>
						<p *ngIf='!skills'>2 sections |12-12-2019
							items</p>
						<p class="pathway-content-paragraph" *ngIf='!skills'>Created on 12-12-2019</p>
					</div>
					<div [ngClass]="{ 'pathway-buttons': !skills , 'pathway-button-add': skills}">
						<button *ngIf='!skills' [nbPopover]="options" class="pathway-buttons-icon-white">
							<i class="fas fa-ellipsis-v"></i>
						</button>
						<button *ngIf='skills' (click)='addPathway()' class="pathway-buttons-icon-blue">
							<i class="fas fa-plus"></i>
						</button>
						<button *ngIf='!skills' (click)='insidePathway()' class="pathway-buttons-icon-blue mobile-hide">
							<i class="fas fa-eye"></i>
						</button>

						<ng-template #options>
							<ul class="popOverList">
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-plus-circle"></i>
									</div>
									<div class="">
										Add to skill plan
									</div>
								</li>
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-share-alt"></i>
									</div>
									<div>Share</div>
								</li>
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-trash"></i>
									</div>
									<div>Delete</div>
								</li>
							</ul>
						</ng-template>

					</div>
				</div>
				<div class="pathways">
					<div class="pathway-image">
						<img src="./assets/images/kate.png" alt="" srcset="">
					</div>
					<div class="pathway-content">
						<h4 class="pathway-title">Demo123</h4>
						<p class="pathway-content-paragraph">Demo1233432423</p>
						<p *ngIf='!skills1'>2 sections |12-12-2019
							items</p>
						<p class="pathway-content-paragraph" *ngIf='!skills1'>Created on 12-12-2019</p>
					</div>
					<div [ngClass]="{ 'pathway-buttons': !skills1 , 'pathway-button-add': skills1}">
						<button *ngIf='!skills1' [nbPopover]="options1" class="pathway-buttons-icon-white">
							<i class="fas fa-ellipsis-v"></i>
						</button>
						<button *ngIf='skills1' (click)='addPathway()' class="pathway-buttons-icon-blue">
							<i class="fas fa-plus"></i>
						</button>
						<button *ngIf='!skills1' (click)='insidePathway()' class="pathway-buttons-icon-blue mobile-hide">
							<i class="fas fa-eye"></i>
						</button>

						<ng-template #options1>
							<ul class="popOverList">
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-plus-circle"></i>
									</div>
									<div class="">
										Add to skill plan
									</div>
								</li>
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-share-alt"></i>
									</div>
									<div>Share</div>
								</li>
								<li class="listItem">
									<div class="flexItems">
										<i class="fas fa-trash"></i>
									</div>
									<div>Delete</div>
								</li>
							</ul>
						</ng-template>

					</div>
				</div>
			</div>
		</div> -->
		<!-- ****************************** MY REWARDS TAB ****************************** -->
		<div *ngIf='contentDiv==0'>


			<div class="rewards-container">
				<div class="box-1">
					<div class="star-badge">
						<div class="round-blue">
							<i class="fas fa-star stars"></i>
							<i class="fas fa-star stars"></i>
							<i class="fas fa-star stars"></i>
						</div>
					</div>
					<div class="section-container">
						<div class="points-earned">
							<p class="innerpara">Points earned</p>
							<div *ngIf="!rewardsworking">
								<ngx-content-loading [width]="400" [height]="50">
									<svg:g ngx-rect width="200" height="30" y="0" x="100" rx="5" ry="5"></svg:g>
								</ngx-content-loading>
							</div>
							<h5 class="innerhighlight" *ngIf="rewardsworking">{{rewardsData?.points | isUndefined: '0'}}</h5>
						</div>
						<div class="current-level">
							<p class="innerpara">Current level</p>
							<div *ngIf="!rewardsworking">
								<ngx-content-loading [width]="400" [height]="50">
									<svg:g ngx-rect width="200" height="30" y="0" x="100" rx="5" ry="5"></svg:g>
								</ngx-content-loading>
							</div>
							<h5 class="innerhighlight" *ngIf="rewardsworking">{{rewardsData?.currentlevel | isUndefined: 'NA'}}</h5>
						</div>
					</div>
					<div class="course-info">
						<div *ngIf="!rewardsworking">
							<ngx-content-loading [width]="400" [height]="50">
								<svg:g ngx-rect width="200" height="20" y="0" x="100" rx="5" ry="5"></svg:g>
								<svg:g ngx-rect width="100" height="20" y="25" x="100" rx="5" ry="5"></svg:g>
							</ngx-content-loading>
						</div>
						<div *ngIf="rewardsworking">
							<p class="innerpara">Complete {{rewardsData?.tobecomplete | isUndefined: '0'}} courses</p>
							<p class="innerpara">Way to go!</p>
						</div>
					</div>
				</div>
				<div class="box-2">
					<div class="heart-icon">
						<div class="fas fa-certificate certificate-badge">
							<i class="fas fa-heart internal-heart"></i>
						</div>
					</div>
					<div class="certificate-content">
						<div *ngIf="!rewardsworking">
							<ngx-content-loading [width]="400" [height]="50">
								<svg:g ngx-rect width="200" height="20" y="0" x="100" rx="5" ry="5"></svg:g>
								<svg:g ngx-rect width="100" height="20" y="25" x="100" rx="5" ry="5"></svg:g>
							</ngx-content-loading>
						</div>
						<p class="innerhighlight" *ngIf="rewardsworking">You need {{rewardsData?.remainpoints | isUndefined: '0'}} more points to reach level “{{rewardsData?.nextlevel | isUndefined: 'NA'}}”</p>
					</div>
				</div>
			</div>

			<!-- <div class="slider-container" [scrollbar-hidden]="true">
				<div class="arrow-left">
					<button (click)="moveLeft()">Left</button>
				</div>
				<drag-scroll #nav [drag-disabled]>
					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
					</div>
					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
          </div>

					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
					</div>
					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
					</div>
					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
					</div>
					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
					</div>
					<div drag-scroll-item class="scroll-div">
						<div class="slider-image">
							<p>Some text</p>
						</div>
						<div class="image-content">
							<p>Some text</p>
						</div>
					</div>
				</drag-scroll>

				<div class="arrow-right">
					<button (click)="moveRight()">Right</button>
				</div>
			</div> -->
			<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">

					  <div class="carousel-item active">
						<div class='row'>
						  <div class='col-sm' id='item1'>
							<h3>I am </h3>
							<p>#F0386B</p>
						  </div>
						  <div class='col-sm'  id='item2'>
							<h3>I am </h3>
							<p>#FF5376</p>
						  </div>
						  <div class='col-sm' id='item3'>
							<h3>I am </h3>
							<p>#9883E5</p>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						 <div class='row'>
						  <div class='col-sm' id='item4'>
							<h3>I am </h3>
							<p>#F49F0A</p>
						  </div>
						  <div class='col-sm' id='item5'>
							<h3>I am </h3>
							<p>#EFCA08</p>
						  </div>
						  <div class='col-sm' id='item6'>
							<h3>I am </h3>
							<p>#FFE381</p>
						  </div>
						</div>
					  </div>
					  <div class="carousel-item">
						 <div class='row'>
						  <div class='col-sm' id='item7'>
							<h3>I am </h3>
							<p>#8DE4FF</p>
						  </div>
						  <div class='col-sm' id='item8'>
							<h3>I am </h3>
							<p>#8AC4FF</p>
						  </div>
						  <div class='col-sm' id='item9'>
							<h3>I am </h3>
							<p>#90FFDC</p>
						  </div>
						</div>
					  </div>
					</div>

				  </div> -->
			<!-- Carousal -->

			<section class="carousal-section">

				<div class="badgesection-title">
					<h3 class="badgetitle">Badges({{ badgeLength }})</h3>
				</div>
				<div *ngIf="badgeworking">
						<ngx-hm-carousel [(ngModel)]="currentIndex"
						show-num="auto"
						[breakpoint]="breakpoint"

						[autoplay-speed]="300"
						[between-delay]="500"
						[infinite]="infinite"
						[drag-many]="true"
						[aniTime]="200"
						[data]="badgesArray">

						<section ngx-hm-carousel-container class="content">
							<article class="item cursor-pointer visible" ngx-hm-carousel-item
							*ngFor="let avatar of badgesArray; let i = index">
								<div (click)="click(i)">

									<div class="badgeimg">
										<img onerror="this.src ='assets/images/Master.svg'" [src]='avatar.badgesimg ? avatar.badgesimg : "assets/images/Master.svg"' class="award">
									</div>
									<div class="paragr1">
										<p class="margin0">{{ avatar.badgeTitle }}</p>
									</div>
								</div>

							</article>
							<ng-template #infiniteContainer></ng-template>
						</section>

						<!-- only using in infinite mode or autoplay mode, that will render with-->
						<!-- <div *ngIf='badgesArray.length > 5'> -->
							<ng-template #carouselContent
							*ngFor="let avatar of badgesArray; let i = index">
								<article class="item cursor-pointer	visible">
									<div >
										<div class="badgeimg">
											<img onerror="this.src ='assets/images/Master.svg'" [src]='avatar.badgesimg ? avatar.badgesimg :"assets/images/Master.svg"' class="award">
										</div>
										<div class="paragr1">
											<p class="margin0">{{ avatar.badgeTitle }}</p>
											<p class="margin0">{{ avatar.badgelevel }}</p>
										</div>

									</div>
								</article>
							</ng-template>
						<!-- </div> -->

						<ng-template #carouselPrev>
							<div class="click-area">
								<button class="button-color">
									<i class="fas fa-chevron-left"></i>
								</button>
							</div>
						</ng-template>
						<ng-template #carouselNext>
							<div class="click-area">
								<button class="button-color">
									<i class="fas fa-chevron-right"></i>
								</button>
							</div>
						</ng-template>

						<ng-template #carouselDot let-model>
							<div class="ball bg-accent mobile-display" [class.visible]="model.index === model.currentIndex"></div>
						</ng-template>



					</ngx-hm-carousel>
				</div>
				<div *ngIf="!badgeworking">
				<ngx-content-loading [width]="750" [height]="150">
					<svg:g ngx-rect width="150" height="150" y="10" x="0" rx="5" ry="5"></svg:g>
					<svg:g ngx-rect width="150" height="150" y="10" x="200" rx="5" ry="5"></svg:g>
					<svg:g ngx-rect width="150" height="150" y="10" x="400" rx="5" ry="5"></svg:g>
					<svg:g ngx-rect width="150" height="150" y="10" x="600" rx="5" ry="5"></svg:g>
				</ngx-content-loading>
				</div>
			</section>

			<!-- <ngx-hm-carousel [(ngModel)]="currentIndex" [show-num]="4" [autoplay-speed]="speed" [infinite]="infinite"
				[drag-many]="true" [aniTime]="200" class="carousel c-accent">

				<section ngx-hm-carousel-container class="content">
					<article class="item cursor-pointer" ngx-hm-carousel-item *ngFor="let badge of badgesArray; let i = index"
						[ngClass]="{'visible': currentIndex===i}">
						<div  style="background: red;">
								<div class="badge-image">
										<img src="{{badge.badgesimg}}" alt="" srcset="">
								</div>
								<div class="badge-image">
										<img src="{{badge.badgesimg}}" alt="" srcset="">
								</div>
						</div>
					</article>
					<ng-template #infiniteContainer></ng-template>
				</section>
				<ng-template #carouselContent let-badge let-i="index">
					<article class="item cursor-pointer" [ngClass]="{'visible': currentIndex===i}">
						<div style="background: red;">
								<div class="badge-image">
										<img src="{{badge.badgesimg}}" alt="" srcset="">
								</div>
						</div>
					</article>
				</ng-template>
				<ng-template #carouselPrev>
						<div class="click-area">
							<i class="material-icons">keyboard_arrow_left</i>
						</div>
					</ng-template>
					<ng-template #carouselNext>
						<div class="click-area">
							<i class="material-icons">keyboard_arrow_right</i>
						</div>
					</ng-template>

				<ng-template #carouselDot let-model>
					<div class="ball bg-accent" [class.visible]="model.index === model.currentIndex"></div>
				</ng-template>

			</ngx-hm-carousel> -->



			<!-- Rewards Tab Ends -->

			<div class="row rewards">
				<div class="col-md-12">
					<!-- <div class="ro12">
						<div class="col-md-5 tile">
							<div class="roundLabel">
								<i class="fas fa-star stary"></i>
								<i class="fas fa-star stary"></i>
								<i class="fas fa-star "></i>
							</div>
							<div class="rewardTile">
								<div class="row back">
									<div class="col-md-6 inner-left">
										<p class="innerpara">Points earned</p>
										<h5 class="innerhighlight">15978</h5>
									</div>
									<div class="col-md-6 inner-right">
										<p class="innerpara">Current level</p>
										<h5 class="innerhighlight">Achiever</h5>
									</div>
								</div>
								<div class="row footerdiv">
									<p class="innerpara">Completed 290 courses</p>
									<p class="innerpara">Way to go!</p>
								</div>
							</div>
						</div>

						<div class="col-md-5 tile back">
							<div class="fas fa-certificate certificatecircle">
								<i class="fas fa-heart heart0"></i>
							</div>
							<div class="rewardTile">
								<div class="row seconddiv">
									<p class="innerhighlight">You need 22 more points to reach level “Catalyst”</p>
									<p class="innerpara">Click this card to see what courses you can complete.</p>
								</div>
							</div>
						</div>
					</div> -->

					<!-- <div class="col-md-12 col12">
						<div class="ro12">
							<div class="tile back">
								<div class="header1">
									<h3 class="badgetitle">Badges</h3>
									<div class=" " ng2-carouselamos [items]="badgesArray" [$item]="itemTemplate" [$prev]="prevTemplate"
										[$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
									</div>
									<div class="row">

									</div>
									<div class="col-md-1">
										<ng-template #prevTemplate>
											<div class="arrow">
												<button class="roundarrow2"><i class="fas fa-chevron-left left-arrow"></i></button>
											</div>
										</ng-template>
									</div>

									<div class="col-md-10">
										<ng-template let-item let-i="index" #itemTemplate>
											<div class="badges">
												<div class="badgeimg">
													<img src={{item.badgesimg}} class="award">
												</div>
												<div class="paragr1">
													<p class="margin0">{{ item.badgetitle }}</p>
													<p class="margin0">{{ item.badgelevel }}</p>
												</div>
											</div>
										</ng-template>
									</div>

									<div class="col-md-1">
										<ng-template #nextTemplate>
											<div class="arrow">
												<button class="roundarrow2"><i class="fas fa-chevron-right right-arrow"></i></button>
											</div>
										</ng-template>
									</div>



								</div>
							</div>
						</div>
					</div> -->


					<!-- Carousal 2 Certificate -->

				<section class="carousal-section-1">

						<div class="badgesection-title">
							<h3 class="badgetitle">Certificates({{ certificateLength }})</h3>
						</div>
						<div *ngIf="!certificateworking">
								<ngx-content-loading [width]="750" [height]="150">
										<svg:g ngx-rect width="150" height="150" y="10" x="0" rx="5" ry="5"></svg:g>
										<svg:g ngx-rect width="150" height="150" y="10" x="200" rx="5" ry="5"></svg:g>
										<svg:g ngx-rect width="150" height="150" y="10" x="400" rx="5" ry="5"></svg:g>
										<svg:g ngx-rect width="150" height="150" y="10" x="600" rx="5" ry="5"></svg:g>
									</ngx-content-loading>
						</div>
						<div *ngIf="certificateworking">
								<ngx-hm-carousel [(ngModel)]="currentIndex1" [autoplay-speed]="speed" [infinite]="infinite"
								[drag-many]="true" [aniTime]="200"  [between-delay]="2000"  [data]="certificateArray" class="carousel c-accent" show-num="auto"
								[breakpoint]="breakpoint2">

								<section ngx-hm-carousel-container class="content">
									<article class="item cursor-pointer visible " ngx-hm-carousel-item
										*ngFor="let item of certificateArray; let j = index" >
										<div class='donwloadCert' (click)="click(item,j)">

											<div class="certificate-new">
												<div class="certiimg-new">
													<img onerror="this.src ='assets/images/Certificate.png'"  [src]='item.certificateimg ? item.certificateimg : "assets/images/Certificate.png"' >
												</div>
												<div class="certi-content">
														<p class="margin0 wohoo">{{ item.certTitle }}</p>
														<p class="margin0 text">{{ item.certDesc }}</p>
														<!-- <p class="margin0 text2">{{ item.noofcourses }} courses</p> -->
												</div>
											</div>
										</div>
									</article>
									<ng-template #infiniteContainer></ng-template>
								</section>

								<!-- <div *ngIf='certificateArray.length > 5'> -->
									<ng-template #carouselContent
									*ngFor="let item of certificateArray; let j = index">
										<article class="item cursor-pointer visible" >
											<div (click)="click(item,j)">

												<div class="certificate-new">
														<div class="certiimg-new">
															<img  onerror="this.src ='assets/images/Certificate.png'" [src]='item.certificateimg ? item.certificateimg : "assets/images/Certificate.png"' >
														</div>
														<div class="certi-content">
															<p class="margin0 wohoo">{{ item.certTitle }}</p>
															<p class="margin0 text">{{ item.certDesc }}</p>
															<!-- <p class="margin0 text2">{{ item.noofcourses }} courses</p> -->
														</div>
												</div>

										</div>
										</article>
									</ng-template>
								<!-- </div> -->

								<ng-template #carouselPrev>
									<div class="click-area">
										<button class="button-color">
											<i class="fas fa-chevron-left"></i>
										</button>
									</div>
								</ng-template>
								<ng-template #carouselNext>
									<div class="click-area">
										<button class="button-color">
											<i class="fas fa-chevron-right"></i>
										</button>
									</div>
								</ng-template>

								<ng-template #carouselDot let-model>
									<div class="ball bg-accent mobile-display" [class.visible]="model.index === model.currentIndex1"></div>
								</ng-template>



							</ngx-hm-carousel>
						</div>
					</section>



<!--
					<div class="col-md-12 col12">
						<div class="ro12">
							<div class="tile back">
								<div class="header1">
									<h3 class="badgetitle">Certificates</h3>

									<div class="carouselslider " ng2-carouselamos [width]="900" [items]="certificateArray"
										[$item]="itemtemp" [$prev]="prev" [$next]="next"
										(onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
									</div>

									<ng-template #prev>
										<div class=" arrow">
											<button class="roundarrow2"><i class="fas fa-chevron-left left-arrow"></i></button>
										</div>
									</ng-template>

									<ng-template #next>
										<div class="col-md-1 arrow">
											<button class="roundarrow2"><i class="fas fa-chevron-right right-arrow"></i></button>
										</div>
									</ng-template>

									<ng-template let-item2 let-i="index" #itemtemp>
										<div class="certificate">
											<div class="certiimg">
												<img src={{item2.certificateimg}} class="award">
											</div>
											<div class="paragr2">
												<p class="margin0 wohoo">{{ item2.greetings }}</p>
												<p class="margin0 text">{{ item2.message }}</p>
												<p class="margin0 text2">{{item2.noofcourses}} courses</p>
											</div>
										</div>
									</ng-template>


								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>

		</div>

		<!-- ****************************** MY INTERESTS TAB ****************************** -->
		<!-- <div *ngIf='contentDiv==3'>
			<div class="grids">
				content 1
			</div>
		</div> -->

	</div>
</div>


<div class="addSelfBackdrop2" *ngIf="modal">
	<div class="addSelfDemoModal2">
		<h1 class="modalheader">Change your password</h1>

		<form [formGroup]="resetPwdForm" class="formR">
			<mat-form-field class="matblock">
				<input type="password" matInput placeholder="Old Password" formControlName="password" [(ngModel)]="password"
					[ngClass]="{ 'is-invalid': submitted && f.password.errors }" passwordToggle />
				<mat-error *ngIf="submitted && f.password.errors">
					<mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						Password is required</mat-error>
					<mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						Password must be at least 6 characters</mat-error>
				</mat-error>
			</mat-form-field>
			<!-- (input)="onInput($event.target.value)" -->
			<mat-form-field class="matblock">
				<input type="password" matInput placeholder="New Password"
					formControlName="confirm_pass" [(ngModel)]="confirm_pass"
					[ngClass]="{ 'is-invalid': submitted && f.confirm_pass.errors }" passwordToggle>
				<mat-error *ngIf="submitted && f.confirm_pass.errors">
					<mat-error *ngIf="f.confirm_pass.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						Password is required</mat-error>
					<mat-error *ngIf="f.confirm_pass.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						Password must be at least 6 characters</mat-error>
				</mat-error>
				<mat-error [hidden]="!passWrong">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password Cannot be same
				</mat-error>
			</mat-form-field>
		</form>

		<div *ngIf='inChPassFlag' class='inChPassDiv'>
			<p class='inChPassP'>{{ inChPass }}</p>
		</div>

		<div class="butns">
			<button class="cancel" (click)="close()">Cancel</button>
			<button type="submit" class="change" (click)="onSubmit()">Change</button>
		</div>

	</div>
</div>

<div class="addSelfBackdrop2" *ngIf="syncSet">
	<div class="addSelfDemoModal2">
		<h1 class="modalheader">Sync Settings </h1>

		<div class="content123 row">
			<p class="para123">Synchronization ON</p>
			<div class="toggleIcon">
				<div class="toggle" (click)="SynSettings()">
					<i class="fas fa-toggle-off" [ngClass]="{'fa-toggle-on' : togglebtn }"></i>
				</div>
				<!-- <div class="toggle" (click)="toggleBtnState()" [hidden]="togglebtn.toggleON">
								<i class="fas "></i>
							</div> -->
			</div>
		</div>
		<div class="content123">
			<p>This option allows all the saved Items/courses etc. to be matched and updated
				with the latest changes. </p>
		</div>
		<div class="butns">
			<button class="cancel" (click)="close()">Cancel</button>
			<button type="submit" class="change" (click)="syncSetting()">Apply</button>
		</div>

	</div>
</div>


<div class="addSelfBackdrop2" *ngIf="notify">
	<div class="addSelfDemoModal2">
		<h1 class="modalheader">Notification Preferences </h1>
		<div class="wrapCOntent">
			<div class="content123 row" *ngFor="let notify of sendNotification; let i = index">
				<p class="para123">{{ notify.statement }}</p>
				<div class="toggleIcon">
					<div class="toggle" (click)="toggleBtnState(notify)">
						<i class="fas fa-toggle-off" [ngClass]="{ 'fa-toggle-on': notify.toggleState  }"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="butns">
			<button class="cancel" (click)="close()">Cancel</button>
			<button type="submit" class="change" (click)="syncSetting()">Apply</button>
		</div>

	</div>
</div>


<div class="addSelfBackdrop2" *ngIf="privacyModal">
	<div class="addSelfDemoModal2">
		<h1 class="modalheader">Privacy Preferences</h1>


		<div class="wrapCOntent">
			<p class="msg">Choose who can see your profile</p>
			<div class="selectDiv">
				<select placeholder="Followers Only">
					<option [value]="item.value" *ngFor="let item of privacyPref" class="opts">
						{{ item.viewValue }}
					</option>
				</select>
			</div>
		</div>
		<!-- <mat-form-field>
						<mat-select>
							<mat-option *ngFor="let privacySetting of privacyPref" [value]="privacySetting.value">
								{{privacySetting.viewValue}}
							</mat-option>
						</mat-select>
					  </mat-form-field> -->

		<div class="butns">
			<button class="cancel" (click)="close()">Cancel</button>
			<button type="submit" class="change" (click)="syncSetting()">Apply</button>
		</div>

	</div>
</div>
<div class="image-crop-popup" *ngIf="selectImage">
		<div class="image-crop-popup-content">
				<div class="wrap-content">
					<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[resizeToWidth]="500"
						[cropperMinWidth]="500"
						[onlyScaleDown]="true"
						[roundCropper]="true"
						format="png"
						outputType="base64"
						(imageCropped)="imageCropped($event)"
						(imageLoaded)="imageLoaded()"
						(loadImageFailed)="loadImageFailed()"
						[style.display]="showCropper ? null : 'none'">
					</image-cropper>
				</div>
				<button class="qrbtn margin20" (click)="dissmissImageCropPopModal(1)">Upload</button>
				<button class="qrbtn margin20" (click)="dissmissImageCropPopModal(2)">Delete</button>
				<button class="qrbtn margin20" (click)="dissmissImageCropPopModal(3)">Cancel</button>
		</div>


</div>


