// .main-content{
//     padding: 0 !important;
// }

// .chatContainer{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     display: flex;
// }

// .chatList{
//     padding: 0;
//     margin: auto;
//     background: #fff;
//     height: 100%;
//     box-shadow: 2px 0 6px 0 rgba(47,83,151,0.1);
// }

// .chatListHeader{
//     margin: auto;
//     padding: 15px;
//     height: auto;
//     border-bottom: 1px solid #ccc;
//     position: sticky;
// }

// .searchBox{
//     height: 50px;
//     color: #ccc;
//     font-size: 30px;
//     border: none;
//     width: 100%;
//     outline: none;
// }

// .searchBox::placeholder{
//     color: #949393;
// }


// .searchbtn{
//     background: #fff;
//     border: none;
//     font-size: 30px;
//     font-weight: 100;
//     color: #949393;
//     outline: none;
//     cursor: pointer;
// }

// .chatScreen{
//     background: transparent;
//     padding: 0;
//     margin: 0;
//     height: 690px;
// }

// .chatListUl{
//     margin: auto;
//     overflow-y: scroll;
//     height: 610px;
//     padding: 0;
//     display: block;
//     list-style-type: none;
// }

// .chatArray{
//     margin: 0;
//     width: 100%;
//     padding: 15px;
//     //height: auto;
//     height:fit-content;
//     border-bottom: 1px solid #ccc;
//     position: -webkit-sticky;
//     position: sticky;
//     list-style: none;
//     cursor: pointer;
//     color: #333232;
// }

// .chatArray.activeChat{
//     background-color: #507bfc;
//     color: #fff !important;
//     box-shadow: 0 10px 20px 0 rgba(80,123,252,0.5);
// }

// .chatRow{
//     margin: 20px auto;
//     width: 100%;
// }

// .alignItmcenter{
//     padding: 0;
//     text-align: center;
// }

// .profileImg{
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
// }

// .chatName{
//     font-size: 1em;
//     font-weight: 600;
//     line-height: 33px;
//     margin: 0;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     /* color: red; */
//     white-space: normal;
// }

// .msgPreview{
//     // color: #6d6d6d;
//     margin: 0;
//     line-height: 24px;
// }

// .lastmsgTime{
//     text-align: center;
// }

// .pendingMsg{
//     width: 35px;
//     height: 35px;
//     text-align: center;
//     margin: auto;
//     line-height: 35px;
//     border-radius: 50%;
//     background: #FEA08F;
//     color: #fff;
// }

// .User{
//     float: right;
// }



// .message{
//     padding: 15px;
//     height: auto;
//     font-size: 16px;
//     line-height: 26px;
//     border-radius: 13px;
//     // background: #fff;
//     box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
//     color: #5b5b5b;
//     text-align: justify;
// }
// .sender{
//     background: #ff9868e6;
//     color: #fff;
// }
// .receiver{
//     background: #fff;
// }
// .message2{
//     padding: 15px;
//     height: auto;
//     font-size: 16px;
//     line-height: 26px;
//     border-radius: 13px;
//     background: #ff9868e6;
//     box-shadow: 0 2px 6px 0 rgba(47,83,151,0.1);
//     color: #fff;
//     text-align: justify;
// }
// .p16{
//     padding:16px;
// }
// .timeOfMsg{
//     line-height: 30px;
//     padding: 0 10px;
//     color: #807f7f;
// }

// .timeOfMsg2{
//     line-height: 30px;
//     padding: 0 10px;
//     color: #807f7f;
//     text-align: right;
// }

// .chatScreenFooter{
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     margin: 0;
//     background: #fff;
//     box-shadow: 0 -2px 6px 0 rgba(47,83,151,0.1);
// }

// .rowheight{
//     margin: auto;
//     height: 80px;
//     padding: 10px;
// }

// .typeHere{
//     width: 100%;
//     font-size: 18px;
//     height: 50px;
//     border: none;
//     line-height: 24px;
//     outline: none;
//     background: transparent;
//     resize: none;
//     margin: auto;
//     padding: 10px;
// }

// .typeHere::placeholder{
//     line-height: 30px;
// }

// .sendbtn{
//     background: transparent;
//     border: none;
//     font-size: 30px;
//     cursor: pointer;
//     color: #507bfc;
//     outline: none;
// }

// /*Sample*/

// .mb-4, .my-4 {
//     margin-bottom: 1.5rem!important;
// }
// .d-flex {
//     display: -ms-flexbox!important;
//     display: flex!important;
// }
// .rounded-circle {
//     border-radius: 50%!important;
// }
// .user_img_msg {
//     height: 60px;
//     width: 60px;
// }
// .msg_cotainer {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-left: 20px;
//     font-size: 18px;
//     color: #333232;
//     border-radius: 10px;
//     background-color: #ffffff;
//     padding: 16px 16px;
//     word-break: break-word;
//     position: relative;
// }
// .msg_time {
//     position: absolute;
//     left: 10px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";
// }
// /*send*/
// .msg_cotainer_send {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-right: 20px;
//     border-radius: 10px;
//     background-color: #FEA08F;
//     padding: 16px 16px;
//     color: #fff;
//     font-size: 18px;
//     word-break: break-word;
//     position: relative;
// }
// .msg_time_send {
//     position: absolute;
//     right: 3px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";

// }
// .img_cont_msg {
//     height: 60px;
//     width: 60px;
// }

// .chat{
//     //height: 610px;
//     height: 100%;
//     padding-bottom: 80px;
//     overflow-y: scroll;
// }
// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }

//   .example-full-width {
//     width: 100%;
//   }
//   .ng-autocomplete {
//     width: 400px;
// }
// .Eg {
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     position: absolute;
//     overflow-y: auto;
//     overflow-x: hidden;
//     top:50%;
//     transform: translateY(-50%);
// }
// .iconsize8em{
//     font-size: 8em;
// }
// .title{
//     padding: 10px;
//     text-align: center;
//     font-size: 18px;
// }
// .mR16{
//     margin-right: 16px;
// }
// .soT5xd {
//     margin: 8px 14px;
//     text-align: center;
// }
// .kgp9rc {
//     margin-left: auto;
//     margin-right: auto;
// }
// .ebeE0d {
//     background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7….png) -1197px -133px;
//     height: 82px;
//     width: 68px;
// }
// .qJS6W {
//     position: relative;
//     margin: auto;
//     top: 22px;
//     left: -1px;
// }
// .W4rVif {
//     background: no-repeat url(//ssl.gstatic.com/chat/babble/sprites/common-517bca7….png) -128px -95px;
//     height: 24px;
//     width: 24px;
// }
// .Ziild {
//     padding-top: 10px;
//     padding-bottom: 10px;
// }
// .mopgBe {
//     font-size: 16px;
//     color: #37474f;
//     line-height: 1.5em;
//     vertical-align: middle;
//     display: inline-block;
//     overflow: hidden;
//     -webkit-user-select: none;
//     width: 100%;
//     word-wrap: break-word;
// }
// .chat-Screen-Footer{
//     bottom: 0;
//     width: 100%;
//     margin: 0;
//     background: #fff;
//     box-shadow: 0 -2px 6px 0 rgba(47,83,151,0.1);
// }

// .row-height-Footer{
//     margin: auto;
//     height: 80px;
//     padding: 0;
//     display: flex;
// }




// .chatContent{
//     background: #fff;
//     width: 100%;
// }

// .chatHeadr212{
//     background: #fff;
//     padding: 15px;
//     text-align: right;
//     box-shadow: 1px 3px 18px #a8a5a5;
// }

// // .callbtn{
// //     height: 40px;
// //     width: 40px;
// //     border-radius: 50%;
// //     border: none;
// //     color: #fff;
// //     background: #73a1ff;
// //     box-shadow: 1px 5px 9px 3px #507bfc61;
// //     margin-right: 15px;
// //     cursor: pointer;
// //     outline: none;
// // }

// .marg0{
//     margin: 0;
// }
// .floatRightCall{
//     width: 100%;
//     margin: auto;
//     padding: 0 10px;
// }

// .roundBt{
//     width: 45px;
//     height: 45px;
//     border: none;
//     border-radius: 50%;
//     background: #73a1ff;
//     padding: 0;
//     font-size: 20px;
//     color: #fff;
//     margin: 18px 15px;
// }

// .chatbox{
//     width: 100%;
//     margin: auto;
//     padding: 10px 25px;
//     overflow-y: scroll;
// }

// .chatRow{
//     width: 100%;
//     margin: auto;
// }

// .audioData{
//     width: 80%;
// }


// /*Sample*/

// .mb-4, .my-4 {
//     margin-bottom: 1.5rem!important;
// }
// .d-flex {
//     display: -ms-flexbox!important;
//     display: flex!important;
// }
// .rounded-circle {
//     border-radius: 50%!important;
// }
// .user_img_msg {
//     height: 60px;
//     width: 60px;
// }
// .msg_cotainer {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-left: 20px;
//     font-size: 18px;
//     color: #333232;
//     border-radius: 10px;
//     background-color: #f1f3f4;
//     padding: 16px 16px;
//     word-break: break-word;
//     position: relative;
// }
// .msg_time {
//     position: absolute;
//     left: 10px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";
// }
// /*send*/
// .msg_cotainer_send {
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-right: 20px;
//     border-radius: 10px;
//     background-color: #73a1ff;
//     padding: 16px 16px;
//     color: #fff;
//     font-size: 18px;
//     word-break: break-word;
//     position: relative;
//     max-width: 700px;
// }
// .msg_time_send {
//     position: absolute;
//     right: 3px;
//     bottom: -22px;
//     color: #868686;
//     font-size: 14px;
//     font-family: "open sans";

// }
// .img_cont_msg {
//     height: 60px;
//     width: 60px;
// }

// .typeHereField{
//     width: 100%;
//     margin: auto;
//     position: absolute;
//     bottom: 0;
//     margin-bottom: 10px;
// }

// .textInput{
//     width: 90%;
//     font-size: 18px;
//     height: 50px;
//     border: 1px solid #ccc;
//     line-height: 24px;
//     outline: none;
//     background: transparent;
//     border-radius: 25px;
//     resize: none;
//     margin: auto;
//     padding: 10px;
//     margin-right: 0 !important;
// }

// .textInput::placeholder{
//     line-height: 30px;
// }

// .sendbtn{
//     width: 55px;
//     height: 50px;
//     margin: auto;
//     background: #73a1ff;
//     color: #fff;
//     text-align: center;
//     font-size: 25px;
//     border: none;
//     padding: 0;
//     border-radius: 50%;
// }
// =========================================================================

// changes
.talk-bubble {
  //     margin: 40px;
  //   display: inline-block;
  margin: 0 1rem 1rem 1rem;
  position: relative;
  max-width: 70%;
  height: auto;
  background-color: #93a6b4;
  color: #ffffff;
  border-radius: 6px;
  float: left;
  word-break: break-word;
}
/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
left: -10px;
  right: auto;
top: -8px;
  bottom: auto;
  border: 15px solid;
  border-color: #93a6b4 transparent transparent transparent;
  // color: #ffffff;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
left: -10px;
  right: auto;
top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: #93a6b4 transparent transparent transparent;

  // color: #ffffff;
}
.talk-bubble1 {
  //     margin: 40px;
  //   display: inline-block;
      margin: 0 1rem 1rem 1rem;
      position: relative;
      max-width: 70%;
      height: auto;
      // background-color: #507bfc;
      background-color: var(--colorCommon);
      color: #ffffff;
      float: right;
      border-radius: 6px;
      word-break: break-word;
  }
  /* Right triangle placed top left flush. */
.tri-right1.border.left-top1:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
left: auto;
  right: -10px;
top: -8px;
  bottom: auto;
  border: 15px solid;
  border-color: var(--colorCommon) transparent transparent transparent;
  // color: #ffffff;
}
.tri-right1.left-top1:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
left: auto;
  right: -10px;
top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: var(--colorCommon) transparent transparent transparent;

  // color: #ffffff;
}
.talktext{
  padding: 0.4rem 1em;
  text-align: left;
  line-height: 1.5em;
  .name{
      font-size: 14px;
      font-weight: 500;
      margin: 0;
  }
  .time{
      text-align: right;
      span{
          font-size: 11px;
          font-weight: 300;
          color: #f0e7e7;
      }
  }
}

.talktext .msg{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-weight: 300;
  margin: 0;
  font-size: 13px;
  color: #ffffff;
  span{
      font-size: 9px;
      font-weight: 300;
      color: #fafafa;
      float: right;
      margin-top: 6px;
      padding-left: 14px;
  }
}

.vidcahtBox {
  padding-top: 44px !important;
}

.chatboxMain {
  position: relative;

}
// =========================================================================
.webinar_container_div{
  // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
  border-radius: 6px;
  // margin-top: 20px;
  background: #FFF;
  .webinar_chat_header{
      display: grid;
      grid-template-columns: 3fr 8fr;

      .second_col_button{
          display: grid;
          grid-template-columns: 3fr 1fr;
          // margin-bottom: 15px;
          background: #FFF;
          height: 50px;
          padding: 0 15px;
          align-items: center;
          // border-top: 1px solid #507bfc;
          // border-right: 1px solid #507bfc;
          -webkit-box-shadow: 1px 3px 18px #a8a5a5;
          box-shadow: 1px 3px 18px #a8a5a5;
          .video_call_button{
              text-align: right;
              .callbtn{
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  border: none;
                  color: #fff;
                  background: #507BFC;
                  // box-shadow: 1px 5px 9px 3px #507bfc61;
                  margin-right: 15px;
                  cursor: pointer;
                  outline: none;
              }
              .callbtn:last-child{
                  margin-right: 0px;
              }
          }

      }
      .first_col_title{
          background: #507BFC;
          color: #fff;
          text-align: center;
          height: 50px;
          /* line-height: 50px; */
          align-items: center;
          display: grid;
          // grid-template-columns: 2fr 1fr;
          p{
              margin: 0;
          }
          .userIcon{
              color: #507BFC !important;
              background: #fff !important;
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              justify-self: right;
              margin-right: 15px;
          }
      }
  }

  .webinar_chat_container{
      display: grid;
      grid-template-columns: 3fr 8fr;
      position: relative;
      .chat_list{
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          // max-height: 550px;
          overflow-y: auto;
          // height: 100%;
          // height: 500px;
          // height: 500px;
          background: #ffffff;
          border: 1px solid #e3e3e3;
          overflow-x: hidden;
          .singel_chat_container{
              display: grid;
              grid-template-columns: 1fr 4fr;
              align-items: center;
              grid-column-gap: 10px;
              cursor: pointer;
              // grid-row-gap: 10px;
              // margin-bottom: 10px;
              padding: 5px;
              .profile_image{
                  position:relative;
                  padding: 4px;
                  display:inline-block;
                  img{
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                  }
                  .notify-badge{
                      position: absolute;
                      right: -10px;
                      bottom: 0;
                      background: deeppink;
                      text-align: center;
                      color: white;
                      border-radius: 20px 20px 20px 20px;
                      color: white;
                      padding: 5px 10px;
                      font-size: xx-small;
                      box-shadow: 0px 0px 3px 0px grey;
                      font-weight: 800;
                  }
              }
              .profile_message{
                  text-align: left;
                  display: grid;
                  grid-template-columns: 1fr 0fr;
                  align-items: center;
                  .name_clip{
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      /* width: 81px; */
                      display: grid;
                  }
                  .profile_name{
                      margin: 0;
                      font-size: 14px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      overflow: hidden;
                      padding-bottom: 3px;
                  }
                  .profile_name1{
                      margin: 0;
                      font-size: 12px;
                      // color: #fff;
                  }
                  .add_call_container{
                      border-radius: 50%;
                      text-align: center;
                      font-size: 26px;
                      // color: #36ea36;
                      // background: #fff;
                      width: 24px;
                      height: 24px;
                      // margin-right: 10px;
                      i{
                          position: relative;
                          top: -4px;
                          left: -1px;
                      }
                  }
                  .remove{
                      color: #ff5413;
                  }
              }
          }
          // .singel_chat_container:first-child{
              // margin-top: 7px;
          // }
          .single_chat_container_active{
              // background: #f3f3f3;
              // background-color: #507bfc;
              // -webkit-box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
              // box-shadow: 0 10px 20px 0 rgba(80, 123, 252, 0.5);
              // background: #507bfc;
              background: var(--colorCommon);
              box-shadow: 0 3px 20px -6px rgb(103, 111, 135);
              .profile_message{
                  text-align: left;

                  h3{
                      color: #fff ;
                  }
                  .profile_name1{

                      color: #fff;
                  }
              }
          }
      }


      .chat_box{
          // background: #F1F3F4;
          // border-radius: 6px;
          border-top: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          border-top-right-radius: 6px;
          position: relative;
          background: #ffffff;
          padding-top: 16px;
          // height: 444px;
          // max-height: 500px;
          height: 90%;
          overflow-y: auto;
          ::-webkit-scrollbar {
              width: 1em;
          }
          ::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          }

          ::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
          }
          .messages_container_right{
              display: grid;
              grid-template-columns: 50px auto;
              align-items: center;
              // padding: 0px 20px;
              grid-column-gap: 20px;
              max-width: 500px;
              margin-right: auto;
              padding: 0px 20px;
              width: 100%;
              .profile_image_chat{
                  img{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                  }
              }
              .chat_bubble{
                  position: relative;
                  background: #FFF;
                  border-radius: .4em;
                  padding: 10px;
                  word-break: break-word;
                  .username{
                      color: #507BFC;
                  }
              }
              .chat_bubble:after {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 0;
                  height: 0;
                  border: 10px solid transparent;
                  border-right-color: #FFF;
                  border-left: 0;
                  margin-top: -10px;
                  margin-left: -10px;
              }
          }
          .messages_container_left{
              display: grid;
              grid-template-columns:auto 70px;
              align-items: center;
              grid-column-gap: 20px;
              // padding: 0px 20px;
              max-width: 500px;
              margin-left: auto;
              padding: 0px 20px;
              width: 100%;
              color: #fff;
              .profile_image_chat{
                  img{
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                  }
              }
              .chat_bubble{
                  position: relative;
                  background: #507BFC;
                  border-radius: .4em;
                  padding: 10px;
                  word-break: break-word;
                  .username {
                      color: #fff;
                  }
              }
              .chat_bubble:after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 50%;
                  width: 0;
                  height: 0;
                  border: 10px solid transparent;
                  border-left-color: #507BFC;
                  border-right: 0;
                  margin-top: -10px;
                  margin-right: -10px;
              }
          }
          .chat_row_gap{
              // margin: 10px 0;
              padding: 15px 10px;
          }

      }
      .start_chat_box{
          // height: 500px;
          height: 90%;
          background: #ffffff;
          border-top-right-radius: 6px;
          display: grid;
          align-items: center;
          font-size: 70px;
          text-align: center;
          border-top: 1px solid #e3e3e3;
          border-right: 1px solid #e3e3e3;
          span{
              font-size: 30px;
              display: block;
          }

      }
      .chat_send_container{
          background: #f2f2f2;
          display: grid;
          grid-template-columns: 3fr 50px;
          border-bottom: 1px solid #dfdfdf;
          border-bottom-right-radius: 6px;
          height: 10%;
          .typeHereInput{
              width: 100%;
              font-size: 14px;
              border: none;
              outline: none;
              background: transparent;
              resize: none;
              margin: auto;
              padding: 9px;
              border-top: 1px solid #e3e3e3;
              border-bottom-right-radius: 6px;
          }

          .btn-chat-send{
              width: 100%;
              height: 100%;
              // margin: auto 15px;
              // background: #73a1ff;
              // color: #fff;
              text-align: center;
              font-size: 20px;
              border: none;
              // border-radius: 50%;
              // box-shadow: 1px 2px 10px #6c7890;
              // border-top-left-radius: 6px;
              border-bottom-right-radius: 6px;
              // background: #507bfc;
              color: #ffffff;
              background-color: var(--colorCommon);
          }
      }
  }
}

.callbtn{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  color: #507BFC;
  background: #FFFF;
  cursor: pointer;
  outline: none;
  margin-left: auto;
}
.vidBtn {
  height: 35px;
  width: 35px;
  border: none;
  color: #f8f8f8;
  // background: #507bfc;
  background: var(--colorCommon);
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.controls-header{
  margin: 10px 0px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index:9999;
}
.mLR5{
  margin: 0px 5px;
}
.muteaudio {
  color: #FFF;
  background: #507BFC;
}
.mutevideo {
  color: #FFF;
  background: #507BFC;
}
.stopcall {
  color: #FFF;
  background: rgb(240, 19, 19);
}
.mrg-top{
  margin-top: 5%;
}
.popup_video_call{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1041;
  // top: calc(50% - 25px); // half of width
  // left: calc(50% - 50px); // half of height
  background: rgba(0, 0, 0, 0.5);
  .video_call_container{
      // position: absolute;
      display: grid;
      grid-template-columns: 4fr 8fr;
      width: 100%;
      overflow: hidden;
      .webinar_chat_container_popup{
          // display: grid;
          // grid-template-columns: 3fr 8fr;

          .chat_box{
              background: #F1F3F4;
              height: 80vh;
              // max-height: 500px;
              overflow-y: auto;
              overflow-x: hidden;

              .messages_container_right{
                  display: grid;
                  grid-template-columns: 50px auto;
                  align-items: center;
                  // padding: 0px 20px;
                  grid-column-gap: 20px;
                  max-width: 300px;
                  margin-right: auto;
                  padding: 0px 20px;
                  width: 100%;
                  .profile_image_chat{
                      img{
                          width: 50px;
                          height: 50px;
                          border-radius: 50%;
                      }
                  }
                  .chat_bubble{
                      position: relative;
                      background: #FFF;
                      border-radius: .4em;
                      padding: 10px;
                      word-break: break-word;
                      .username{
                          color: #507BFC
                      }
                  }
                  .chat_bubble:after {
                      content: '';
                      position: absolute;
                      left: 0;
                      top: 50%;
                      width: 0;
                      height: 0;
                      border: 10px solid transparent;
                      border-right-color: #FFF;
                      border-left: 0;
                      margin-top: -10px;
                      margin-left: -10px;
                  }
              }
              .messages_container_left{
                  display: grid;
                  grid-template-columns:auto 70px;
                  align-items: center;
                  grid-column-gap: 20px;
                  // padding: 0px 20px;
                  max-width: 300px;
                  margin-left: auto;
                  padding: 0px 20px;
                  width: 100%;
                  color: #fff;
                  .profile_image_chat{
                      img{
                          width: 50px;
                          height: 50px;
                          border-radius: 50%;
                      }
                  }
                  .chat_bubble{
                      position: relative;
                      background: #507BFC;
                      border-radius: .4em;
                      padding: 10px;
                      word-break: break-word;
                      .username{
                          color: #fff;
                      }
                  }
                  .chat_bubble:after {
                      content: '';
                      position: absolute;
                      right: 0;
                      top: 50%;
                      width: 0;
                      height: 0;
                      border: 10px solid transparent;
                      border-left-color: #507BFC;
                      border-right: 0;
                      margin-top: -10px;
                      margin-right: -10px;
                  }
              }
              .chat_row_gap{
                  // margin: 10px 0;
                  padding: 15px 10px;
              }

          }
          .start_chat_box{
              height: 80vh;
              background: #F1F3F4;
              display: grid;
              align-items: center;
              font-size: 70px;
              text-align: center;
              span{
                  font-size: 30px;
                  display: block;
              }

          }
          .chat_send_container{
              border-bottom-right-radius: 6px;
              background: #FFF;
              display: grid;
              grid-template-columns: 3fr 50px;
              height: 10vh;
              .typeHereInput{
                  width: 100%;
                  font-size: 14px;
                  border: none;
                  outline: none;
                  background: transparent;
                  resize: none;
                  margin: auto;
                  padding: 9px;
                  border-top: 1px solid #e3e3e3;
                  border-bottom-right-radius: 6px;
              }

              .btn-chat-send{
                  width: 100%;
                  height: 100%;
                  // margin: auto 15px;
                  background: #73a1ff;
                  color: #fff;
                  text-align: center;
                  font-size: 25px;
                  border: none;
                  // border-radius: 50%;
                  // box-shadow: 1px 2px 10px #6c7890;
              }
          }
          .close_popup{
              background: #507BFC;
              width: 100%;
              height: 10vh;
              color: #fff;
              display: grid;
              align-items: center;
              // font-size:20px;
              // cursor: pointer;
              text-align: right;
              grid-template-columns: 1fr 1fr;
              padding: 0 20px;
              #session-title{
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }

          }
      }
      iframe{
          width: 100%;
          height: 100vh;
      }
  }
  #room-container{
      left: auto !important;
  }
  app-toolbar {
      #header{
          left : auto !important;
      }
  }
  .pos_rel{
      position: relative;
  }

/**
* OV Video Css
*/

.video_chat_container{
  position: relative;
}
.stream_maneger{
  height: 100vh;
  background:rgba(0,0,0,0.5);
  // user-video{
  //     width: 100% !important;
  //     height: 100% !important;
  //     video {
  //         width: 100% !important;
  //         height: 100% !important;
  //     }
  // }
}
.below_container{
  position: absolute;
  bottom: 0px;
  background: rgba(0,0,0,0.5);
  height: 150px;
  /* z-index: 10; */
  width: 100%;
}
.list_container{
  /* display: grid; */
  /* grid-template-columns: minmax(100px, 10%) 90%; */
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
}
.publisher{
  min-width: 200px;
  /* display: inline-block; */
  background: rgba(0,0,0,0.5);
  height: 100%;
  // user-video{
  //     width: 100% !important;
  //     height: 100% !important;
  //     div {
  //         ov-video{
  //             video {
  //                 width: 200px !important;
  //             }
  //         }
  //     }
  // }
}
.chat_icon_container{
     /* width: 80%; */
  /* display: inline-block; */
  /* grid-template-columns: minmax(100px, 10%) 90%; */
  /* background: green; */
  /* display: grid; */
  /* overflow-x: scroll; */
  display: flex;
  height: 100%;
}
.subcriber{
  background: rgba(1,1,0,0.5);
  /* display: inline-block; */
  min-width: 200px;
  height: 100%;
  // user-video{
  //     width: 100% !important;
  //     height: 100% !important;
  //     div {
  //         ov-video{
  //             video {
  //                 width: 200px !important;
  //             }
  //         }
  //     }
  // }
}
.stream_maneger_ov  ov-video video {
  width: 100%;
  height: 100%;
}
.subcriber_ov  ov-video video{
  width: 250px !important;
  height: 100% !important;
}
.publisher_ov  ov-video  video{
  width: 250px !important;
  height: 100% !important;
}
/**
* OV Video Css
*/
}
//  module container layout
.module_activity_container_height{
  height: 64vh;
  .start_chat_box {
    font-size: 50px !important;
    span{
      font-size: 16px !important;
    }
  }
  .chat_send_container{
    font-size: 17px !important;
  }

}

.spinner_container{
  z-index: 100;
  background: #ffffff38;
}
