<div class="webinar_container_div">
  <div *ngIf="joinflag">
      <ngx-toaster-custom [toaster]="joinflag_toaster" (okTap)="AcceptInvitation(true)" (cancelTap)="AcceptInvitation(false)"></ngx-toaster-custom>
  </div>
  <div *ngIf="errorFlag">
    <ngx-toaster-custom [toaster]="warning_toaster" (okTap)="OpenInviationPopup();toggelErrorPopup(false)" (cancelTap)="toggelErrorPopup(false)"></ngx-toaster-custom>
  </div>
  <!-- <div class="webinar_chat_header">
    <div class="first_col_title">
      <p> Welcome {{userdetail.username}} </p>
      <div class="callbtn userIcon" *ngIf="selectForCall">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <div class="second_col_button">
      <div></div>
      <div class="video_call_button">

        <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button>
        <button class="callbtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking && config.creator"><i
            class="fas fa-phone"></i></button>
        <button class="callbtn  " (click)="OpenInviationPopup()" *ngIf="!_videoworking && config.creator"><i
            class="fas fa-video"></i></button>
      </div>
    </div>
  </div> -->


  <div class="webinar_chat_container">
    <div class="chat_list module_activity_container_height">
      <div class="singel_chat_container" *ngFor="let chatItem of data?.chatlist; let i = index;"
        [ngClass]="{'single_chat_container_active': !chatItem?.active}">
        <div class="profile_image">
          <span class="notify-badge" *ngIf="chatItem?.badge">{{chatItem?.badge}}</span>
          <img [src]="chatItem?.picture_url" alt="" srcset="" (error)="imgErrorHandler($event)">
        </div>
        <div class="profile_message" >
          <div (click)="activeUser(i,prevIndex);selectFriendToChat(chatItem)" class="name_clip">
            <h3 class="profile_name" >
              {{ chatItem.fullName}}
            </h3>
            <p class="profile_name1">{{chatItem?.roleName}}</p>
          </div>
          <div class="add_call_container"  [ngClass]="{'remove': chatItem?.activecall === true}" *ngIf="config?.creator">
            <div >
              <!-- <i class="fas " [ngClass]="{'fa-minus-circle': chatItem?.activecall === true, 'fa-plus-circle': chatItem?.activecall === false}" ></i> -->
              <mat-checkbox  (click)="addCall(chatItem, i)"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chatboxMain module_activity_container_height">
      <!-- <div>
        <button class="vidBtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking && config.creator"><i
          class="fas fa-video"></i></button>
      </div> -->
      <button class="vidBtn" (click)="OpenInviationPopup()" *ngIf="!_videoworking && config?.creator"><i
        class="fas fa-video"></i></button>
      <div class="chat_box" [ngClass]="{'vidcahtBox': !_videoworking && config?.creator}" *ngIf="chatInit && data?.messages?.length > 0" #scrollMe>
        <div class="clearfix" *ngFor="let chat of data?.messages">
          <!-- <div class="messages_container_right chat_row_gap" *ngIf="chat?.fromUserId != UserId">
            <div class="profile_image_chat">
              <img [src]="chat?.friendProfilePic" alt="" (error)="imgErrorHandler($event)">
            </div>
            <div class="chat_bubble">{{chat?.message}}</div>
          </div>
          <div class="messages_container_left chat_row_gap" *ngIf="chat?.fromUserId == UserId">
            <div class="chat_bubble">{{chat?.message}}</div>
            <div class="profile_image_chat">
              <img [src]="chat?.userProfilePic" alt="" (error)="imgErrorHandler($event)">
            </div>
          </div> -->
          <div
            [ngClass]="{ 'talk-bubble' : chat?.fromUserId != UserId, 'tri-right' : chat?.fromUserId != UserId, 'left-top' : chat?.fromUserId != UserId,
                          'talk-bubble1' : chat?.fromUserId == UserId, 'tri-right1' : chat?.fromUserId == UserId, 'left-top1' : chat?.fromUserId == UserId}">
            <div class="talktext">
              <!-- <p class="name">{{chat?.username}}</p> -->
              <p class="msg">{{chat?.message}} <span>{{chat?.messagedate | date:'hh:mm a'}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="start_chat_box" *ngIf="data?.messages?.length == 0">
        <div class="no_chat_icon">
          <i class="fa fa-comments"></i>
          <span>Start a conversation with
            {{data?.selectedFriendName}}</span>
        </div>
      </div>
      <div class="chat_send_container">
        <div>
          <textarea class="typeHereInput" rows="1" placeholder="Type your message here" [(ngModel)]="message"
            (keyup.enter)="sendChatMessage($event,message)"></textarea>
        </div>
        <div>
          <button class="btn-chat-send" (click)="sendChatMessage($event, message)"><i
              class="fas fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="showLoader">
      <div class="d-flex justify-content-center position-absolute spinner_container align-items-center h-100 w-100 text-primary">

        <div>
          <mat-spinner [diameter]= "50" ></mat-spinner>
          <div class="mt-1">Loading</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="popup_video_call" *ngIf="_videoworking">
  <div class="video_call_container">
    <div class="webinar_chat_container_popup">
      <div>
        <div class="close_popup">
          <h1 id="session-title">{{openViduWebinarInfo?.sessionName}}</h1>
          <!-- <button class="callbtn" (click)="endVideo()" *ngIf="_videoworking"><i class="fas fa-times"></i></button> -->
        </div>
        <div class="chat_box" *ngIf="chatInit && messages?.length > 0" #popupscrollMe>
          <div *ngFor="let chat of messages">
            <div class="messages_container_right chat_row_gap" *ngIf="chat?.fromUserId != UserId">
              <div class="profile_image_chat">
                <img [src]="chat.friendProfilePic" (error)="imgErrorHandler($event)">
              </div>
              <div class="chat_bubble">
                <strong class="username">{{chat?.username}}</strong><br>
                {{chat?.message}}
              </div>
            </div>
            <div class="messages_container_left chat_row_gap" *ngIf="chat?.fromUserId == UserId">
              <div class="chat_bubble">
                  <strong class="username">{{chat?.username}}</strong><br>
                {{chat?.message}}
                <!-- Hellooooooooooooooooooo Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maxime, vel, quod doloribus asperiores, hic cumque recusandae consectetur veritatis commodi cupiditate similique placeat quas dicta facere corporis harum? Asperiores, corrupti. -->
              </div>
              <div class="profile_image_chat">
                <img [src]="chat.userProfilePic" (error)="imgErrorHandler($event)">
              </div>
            </div>
          </div>
        </div>
        <div class="start_chat_box" *ngIf="messages?.length == 0">
          <div class="no_chat_icon">
            <i class="fa fa-comments"></i>
            <span>Start a conversation with
              {{openViduWebinarInfo?.sessionName}}</span>
          </div>
        </div>
        <div class="chat_send_container">
          <div>
            <textarea class="typeHereInput" rows="2" placeholder="Type your message here" [(ngModel)]="message"
              (keyup.enter)="webinarGroupChatSend(message)"></textarea>
          </div>
          <div>
            <button class="btn-chat-send" (click)="webinarGroupChatSend(message)"><i
                class="fas fa-paper-plane"></i></button>
          </div>
        </div>

      </div>

    </div>
    <div class='pos_rel'>
      <div *ngIf="session" id="session">
        <div class="video_chat_container">
            <div class="controls-header">
                <button class="callbtn muteaudio mLR5" (click)="toggleaudio()" ><i
                  class="fas " [ngClass]="{'fa-microphone-slash': publishAudio == false, 'fa-microphone': publishAudio == true}"></i></button>
                  <button class="callbtn mutevideo mLR5"  (click)="togglevideo()" ><i
                    class="fas " [ngClass]="{'fa-video-slash': publishVideo == false, 'fa-video': publishVideo == true}"></i></button>
                    <button class="callbtn stopcall mLR5" (click)="endVideo()" ><i
                      class="fas fa-times"></i></button>
            </div>
          <div class="stream_maneger" *ngIf="mainStreamManager" id="main-video">
              <user-video [streamManager]="mainStreamManager" [role]="'stream_maneger_ov'"></user-video>
          </div>
          <div class="below_container">
            <div class="list_container">
              <div class="chat_icon_container">
                <div class="publisher" *ngIf="publisher">
                    <user-video [streamManager]="publisher" [username]="webinarinfo?.SenderUsername"
                    (click)="updateMainStreamManager(publisher)" [role]="'publisher_ov'"></user-video>
                </div>
                <div class="subcriber" *ngFor="let sub of subscribers">
                    <user-video [streamManager]="sub" [username]="" (click)="updateMainStreamManager(sub)" [role]="'subcriber_ov'"></user-video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="visibleSendModal">
  <ngx-modal-viewer [modalInfo]='modalSendInvitation' (acceptEvent)="SendInviation($event)"
    (rejectEvent)="CloseModal($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleReceiveModal">
  <ngx-modal-viewer [modalInfo]='modalReceiveInvitation' (acceptEvent)="AcceptInvitation($event)"
    (rejectEvent)="AcceptInvitation($event)" (closeEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleConnectingModal">
  <ngx-modal-viewer [modalInfo]='modalConnecting' (rejectEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleRejectModal">
  <ngx-modal-viewer [modalInfo]='modalRejectMessage' (acceptEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
<div *ngIf="visibleEndedModal">
  <ngx-modal-viewer [modalInfo]='modalEndedMessage' (acceptEvent)="EndedMeeting()" (rejectEvent)="CloseModal($event)">
  </ngx-modal-viewer>
</div>
<div *ngIf="visibleEndModal">
  <ngx-modal-viewer [modalInfo]='modalEndMessage' (acceptEvent)="CloseModal($event)"></ngx-modal-viewer>
</div>
