<div class="ttt-trainer-content-main-container">
  <div>
    <!--  [hidden]="showAttendance || showAssessment || showFeedback"-->
    <div class="trainer-course-content-header">
      <div class="trainer-detail-content-header-item">
        <img class="course-detail-icon" src="assets/images/orangeLearn.svg" />
      </div>
      <div class="trainerwrap">
        <p class="trainerwraptitle">{{ trainerworkflow.instanceName }}</p>
        <p class="trainerwrapdesc">{{ trainerworkflow.description }}</p>
      </div>
    </div>
    <div class="trainer-participant-tabs">
      <!-- <div
        class="trainer-participant-container"
        *ngFor="let tabs of trainingModule; let i = index"
        [ngClass]="ActiveTab == i ? 'Tab-container-active' : 'Tab-container'"
        (click)="tabChanged(tabs)"
      >
        <div
          class="Tab-content"
          [ngClass]="ActiveTab == i ? 'Tab-content-active' : 'Tab-content'"
          title="{{ tabs.moduleName | titlecase }}"
        >
          <span *ngIf="tabs.moduleName.length >= 13">
            {{ tabs.moduleName | slice: 0:13 | titlecase }} ..</span
          >
          <span *ngIf="tabs.moduleName.length < 13">
            {{ tabs.moduleName | titlecase }}</span
          >
        </div>
      </div> -->

      <!-- <div class="trainer-participant-container"> -->
        <div class='Tab-container' *ngFor='let tabs of courseDetailTabArray;let i=index;'
        [ngClass]="ActiveTab==i ? 'Tab-container-active' : 'Tab-container'" title="{{ tabs.moduleName | titlecase }}" (click)='tabChanged(tabs)'>
        <div class='Tab-content' [ngClass]="ActiveTab==i ? 'Tab-content-active' : 'Tab-content'">
          <span *ngIf="tabs.moduleName.length >= 13">{{ tabs.moduleName |  slice:0:13 | titlecase }} ...</span>
          <span *ngIf="tabs.moduleName.length  < 13">{{ tabs.moduleName | titlecase }} </span>
        </div>
      </div>
    </div>

    <!-- <div
      class="bodyContent"
      *ngFor="let content of courseDetailArray; let i = index"
    >
      <div class="participant-trainer-courses-content-grid-1">
        <div
          class="participant-body-participant-img"
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/images/open-book-leaf-2.jpg');"
        >
        </div>
        <div class="participant-body-main">
          <div class="title-course-icon-text-div">
            <div class="course-title">
              <span class="number">{{ i + 1 }}</span>
              <span class="title">{{content.activityName}}</span>
              <div class="course-icon">
            </div>

            </div>
          </div>
          <div class="main-content">
            <div [innerHTML]="content?.cDescription"></div>
          </div>

          <div class="button-container">
              <button class="bodyMidButton-2" (click)="goToCourse(content)">BEGIN</button>

          </div>
        </div>
      </div>
    </div> -->
    <div class="pt-2 pb-2" *ngFor="let activity of courseDetailArray" >
      <ngx-activity-card  [data]="activity" [disabledAction]="disabledGoToCourse" (getEvent)="preformActionOnAcitivty($event)"></ngx-activity-card>
    </div>
  </div>

  <!-- <div [hidden]="!showAttendance">
    <div class="flexheader">
        <p class="tabletitle">Attendance</p>
        <div class="backbutton">
            Go To Previous
        </div>
    </div>

      <attendance-data></attendance-data>
  </div>

  <div [hidden]="!showAssessment">
      <div class="flexheader">
          <p class="tabletitle">Assessment</p>
          <div class="backbutton">
              Go To Previous
          </div>
      </div>
      <assessment-data></assessment-data>
  </div>

  <div [hidden]="!showFeedback">
      <div class="flexheader">
          <p class="tabletitle">Feedback</p>
          <div class="backbutton">
              Go To Previous
          </div>
      </div>
      <feedback-data></feedback-data>
  </div> -->
</div>
