<div class="ttt-trainer-details-container">
  <!-- <div class="page_top_grid">

  </div> -->

<div class="ttt-mattabs">
  <div>
    <button class="back" (click)="goBack()"><i class="fas fa-angle-left"></i></button>
</div>
  <mat-tab-group [dynamicHeight]=true (selectedTabChange)='tabChanged($event)'>

    <mat-tab label="Participants" >

    </mat-tab>


    <mat-tab label="Course Content">

    </mat-tab>

  </mat-tab-group>
</div>

  <div *ngIf="currentTabIndex == 0">
    <ttt-participants-list></ttt-participants-list>
  </div>
  <div *ngIf="currentTabIndex == 1">
    <course-content></course-content>
  </div>
</div>
