.ttt-trainer-details-container{
    position: relative;
    padding: 2.25rem 2.25rem 0.75rem ;

    .back{
        width: 40px;
        height: 40px;
        // border: 2px solid #507BFC;
        // color: #507BFC;
        border: 2px solid var(--colorIcons);
        color: var(--colorIcons);
        background: #fff;
        font-size: 26px;
        border-radius: 10px;
    }

    .page_top_grid {
        display: grid;
        grid-template-columns: 70px 6fr;
        margin: 0;
        height: 60px;
        font-size: 20px;
        background: transparent;
        border-radius: 10px;
        width: 100%;
        padding: 0;
        align-items: center;
        height: 100%;
        margin-bottom: 50px;
        .downloadbtn {
            background: #507BFC;
            border: none;
            font-size: 22px;
            color: #fff;
            // border: 2px solid;
            height: 50px;
            width: 53px;
            text-align: center;
            // line-height: 50px;
            padding: 0;
            margin: auto;
            border-radius: 25px;
            cursor: pointer;
            outline: none;
            box-shadow: 4px 7px 16px 0 #0796d685;
        }

    }

    .mat-tab-label-active{
        // background: #008eff !important;
        // color: #fff !important;
        background: var(--colorCommon) !important;
        color: #fff !important;
    }

    // .mat-tab-body{
    //     margin-top: 35px !important;
    //     margin-bottom: 35px !important;
    // }

    .mat-tab-header{
        width: 40% !important;
        margin: auto !important;
    }

    .mat-tab-header-pagination{
        display: none !important;
    }

    .mat-tab-label {
        width: 100%;
        background: #fff;
        // border: 1px solid #507bfc;
        border: 1px solid var(--colorCommon);
        font-size: 16px;
        height: 48px;
        // color: #507bfc;
        color: var(--colorCommon);
        opacity: 1 !important;
    }

    .mat-tab-label:first-child{
        border-bottom-left-radius: 25px !important;
        border-top-left-radius: 25px !important;
    }

    .mat-tab-label:last-child{
        border-bottom-right-radius: 25px !important;
        border-top-right-radius: 25px !important;
    }

    .mat-tab-group {
        width: 100% !important;
        margin: auto;
    }

    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        visibility: hidden !important;
      }

      .mat-tab-header, .mat-tab-nav-bar{
        border: none !important;
      }

      .ttt-backIcon{
        width: 40px;
        height: 40px;
        margin: 0;
        border-radius: 50%;
        color: #008eff;
        background: transparent;
        border: 2px solid #008eff;
        text-align: center;
        font-size: 20px;
        line-height: 36px;
      }

    .ttt-mattabs{
        width: 100%;
        margin: 0 auto 20px auto;
        display: grid;
        grid-template-columns: 70px auto;
        // margin-top: 30px;
    }
    .mat-tab-body-wrapper{
      height: 0px;
    }

    .ttt-trainerheader{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        height: 60px;
        font-size: 20px;
        background: transparent;
        border-radius: 10px;
        width: 10%;
        padding: 0;
        position: absolute;
        align-items: center;

    }
}
