<!-- <div class="toast__container">
    <div class="toast__cell">
        <div class="toast toast--green" *ngIf="toaster?.type === 'success'">
            <div class="toast__icon">
                <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"></path>
                </g></g>
                </svg>
            </div>
        <div class="toast__content">
            <p class="toast__type">{{toaster?.title}}</p>
            <p class="toast__message">{{toaster?.message}}</p>
            <div class="buttons">
                <button class="toast_button_1" *ngIf="toaster.okTap" (click)="okTapEvent()">
                    {{toaster?.okTap}}
                </button>
                <button class="toast_button_2" *ngIf="toaster.cancelTap" (click)="cancelTapEvent()">
                  {{toaster?.cancelTap}}
                </button>
            </div>
        </div>
        <div class="toast__close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
             <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
        </svg>
        </div>
        </div>
        
        
        <div class="toast toast--blue add-margin" *ngIf="toaster?.type === 'info'">
        <div class="toast__icon">
        <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
        <g>
            <g id="info">
                <g>
                    <path  d="M10,16c1.105,0,2,0.895,2,2v8c0,1.105-0.895,2-2,2H8v4h16v-4h-1.992c-1.102,0-2-0.895-2-2L20,12H8     v4H10z"></path>
                    <circle  cx="16" cy="4" r="4"></circle>
                </g>
            </g>
        </g>
        
            </svg>
        </div>
        <div class="toast__content">
            <p class="toast__type">{{toaster?.title}}</p>
            <p class="toast__message">{{toaster?.message}}</p>
            <div class="buttons">
                <button class="toast_button_1" *ngIf="toaster.okTap" (click)="okTapEvent()">
                    {{toaster?.okTap}}
                </button>
                <button class="toast_button_2" *ngIf="toaster.cancelTap" (click)="cancelTapEvent()">
                  {{toaster?.cancelTap}}
                </button>
            </div>
        </div>
        <div class="toast__close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
        <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
        </svg>
        </div>
        </div>
        
        <div class="toast toast--yellow add-margin" *ngIf="toaster?.type === 'warning'">
        <div class="toast__icon">
        <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 301.691 301.691" style="enable-background:new 0 0 301.691 301.691;" xml:space="preserve">
        <g>
            <polygon points="119.151,0 129.6,218.406 172.06,218.406 182.54,0  "></polygon>
            <rect x="130.563" y="261.168" width="40.525" height="40.523"></rect>
        </g>
            </svg>
        </div>
        <div class="toast__content">
            <p class="toast__type">{{toaster?.title}}</p>
            <p class="toast__message">{{toaster?.message}}</p>
            <div class="buttons">
                <button class="toast_button_1" *ngIf="toaster.okTap" (click)="okTapEvent()">
                    {{toaster?.okTap}}
                </button>
                <button class="toast_button_2" *ngIf="toaster.cancelTap" (click)="cancelTapEvent()">
                  {{toaster?.cancelTap}}
                </button>
            </div>
        </div>
        <div class="toast__close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
        <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
        </svg>
        </div>
        </div>
    </div>
</div> -->
<div class="toaster_position_container toaster_position_container_top_right" >
        <div class="toast-grid-row-container-1">
            <!--  [ngClass]="{'toaster-grid-info': toaster?.type == 'info', 'toaster-grid-success' : 'toaster?.type == 'success', 'toaster-grid-danger': toaster?.type == 'warning'}" -->
            <div class="toaster-grid " [ngClass]="{'toaster-grid-info': toaster?.type == 'info', 'toaster-grid-success': toaster?.type == 'success', 'toaster-grid-danger': toaster?.type == 'warning'}">
                <div class="icon">
                    <i class="fa fa-info-circle" aria-hidden="true" *ngIf="toaster?.type === 'info'"></i>
                    <i class="fa fa-check-circle" aria-hidden="true" *ngIf="toaster?.type === 'success'"></i>
                    <i class="fa fa-warning" aria-hidden="true" *ngIf="toaster?.type === 'warning'"></i>
                  <!-- <p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p> -->
                </div>
                <div class="toaster-container">
                  <p class="title">{{toaster?.title}}</p>
                  <p class="message">{{toaster?.message}}</p>
                  <div class="buttons">
                        <button class="toast_button_1" *ngIf="toaster.okTap" (click)="okTapEvent()">
                            {{toaster?.okTap}}
                        </button>
                        <button class="toast_button_2" *ngIf="toaster.cancelTap" (click)="cancelTapEvent()">
                          {{toaster?.cancelTap}}
                        </button>
                    </div>
                </div>
                <div class="close_icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
                    <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
                    </svg>
                </div>
            </div>
          </div>
    </div>