// @import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

    // .toast__container {
    //     /* display: table-cell; */
    //     vertical-align: middle;
    // }

    // .toast__cell {
    //     display: inline-block;
    // }

    // .add-margin {
    //     margin-top: 20px;
    // }

    // .toast__svg {
    //     fill: #fff;
    // }

    // .toast_button_1 {
    //     background: #1D72F3;
    //     border: none;
    //     color: #fff;
    //     padding: 5px 20px;
    //     margin-top: 10px;
    // }

    // .toast_button_2 {
    //     background: #1D72F3;
    //     border: none;
    //     color: #fff;
    //     padding: 5px 20px;
    //     margin-top: 10px;
    // }
    // .toast {
    //     text-align: left;
    //     padding: 21px 0;
    //     background-color: #fff;
    //     border-radius: 4px;
    //     max-width: 500px;
    //     top: 0px;
    //     position: relative;
    //     box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    // }
    // .toast:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 4px;
    //     height: 100%;
    //     border-top-left-radius: 4px;
    //     border-bottom-left-radius: 4px;

    // }

    // .toast__icon {
    //     position: absolute;
    //     top: 50%;
    //     left: 22px;
    //     transform: translateY(-50%);
    //     width: 14px;
    //     height: 14px;
    //     padding: 7px;
    //     border-radius: 50%;
    //     display: inline-block;
    // }

    // .toast__type {
    //     color: #3e3e3e;
    //     font-weight: 700;
    //     margin-top: 0;
    //     margin-bottom: 8px;
    // }

    // .toast__message {
    //     font-size: 14px;
    //     margin-top: 0;
    //     margin-bottom: 0;
    //     color: #878787;
    // }

    // .toast__content {
    //     padding-left: 70px;
    //     padding-right: 60px;
    // }

    // .toast__close {
    //     position: absolute;
    //     right: 22px;
    //     top: 50%;
    //     width: 14px;
    //     cursor: pointer;
    //     height: 14px;
    //     fill: #878787;
    //     transform: translateY(-50%);
    // }

    // .toast--green .toast__icon {
    //     background-color: #2BDE3F;
    // }

    // .toast--green:before {
    //     background-color: #2BDE3F;
    // }

    // .toast--blue .toast__icon {
    //     background-color: #1D72F3;
    // }

    // .toast--blue:before {
    //     background-color: #1D72F3;
    // }

    // .toast--yellow .toast__icon {
    //     background-color: #FFC007;
    // }

    // .toast--yellow:before {
    //     background-color: #FFC007;
    // }

    .toaster_position_container{
        position: absolute;
        width: 350px;
        z-index: 10000;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
         -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
             animation: fadein 2s;
    }
    .toaster_position_container_fade_out{
        -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeout 2s; /* Firefox < 16 */
         -ms-animation: fadeout 2s; /* Internet Explorer */
          -o-animation: fadeout 2s; /* Opera < 12.1 */
             animation: fadeout 2s;
    }
    .toaster_position_container_top_right{
        top: 70px;
        right: 20px;
    }
    .toaster_position_container_top_left{
        top: 70px;
        left: 20px;
    }
    .toaster_position_container_bottom_left{
        bottom: 70px;
        left: 20px;
    }
    .toaster_position_container_bottom_right{
        bottom: 70px;
        right: 20px;
    }
    .toast-grid-row-container-1{
        .toaster-grid{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-column-gap: 10px;
            background: #fff;
            -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            margin: 0 10px 20px 10px;
            // border-left: 5px solid #507bfc;
            padding: 10px 7px;
            align-items: center;
            // cursor: pointer;
            // cursor: pointer;
            .icon{
                text-align: center;
                font-size: 35px;
                // color: #507bfc;
            }
            .title{
                margin: 0;
            }
            .toaster-container{
                text-align: left;
                color: #3e3e3e;
                font-weight: 700;
                margin-top: 0;
                font-size: 14px;
                margin-bottom: 8px;
            }
            .message{
                font-size: 14px;
                // margin-top: 0;
                // margin-bottom: 0;
                color: #878787;
                margin: 0;
            }
            .buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                // grid-column-gap: 1fr 1fr;
                // grid-row-gap: 10px;
                grid-column-gap: 10px;
                .toast_button_1 {
                    background: #1D72F3;
                    border: none;
                    color: #fff;
                    padding: 5px 20px;
                    margin-top: 10px;
                }
                
                .toast_button_2 {
                    background: #ff4444;
                    border: none;
                    color: #fff;
                    padding: 5px 20px;
                    margin-top: 10px;
                }
            }
            .close_icon{
                    width: 14px;
                    cursor: pointer;
                    height: 14px;
                    fill: #878787;
                    // display: flex;
                    // align-items: center;
                    align-self: center;
                    text-align: center;
                    margin: 0 auto;
            }
        }

        .toaster-grid-info{
            border-left: 5px solid #507bfc;
           .icon{
                 color: #507bfc;
           }
        }
        .toaster-grid-success{
            border-left: 5px solid #2BDE3F;
            .icon{
                  color: #2BDE3F;
            }
        }
        .toaster-grid-danger{
            border-left: 5px solid #ff4444;
            .icon{
                  color: #ff4444;
            }
        }
    }
    
// Fade In Key Frames

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Fade out key frames


@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}