@import "../../@theme/styles/variable.scss";

// ngx-dashboard {
    $box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1);
    // banner
    .banner {
        margin-bottom: 30px;
        // box-shadow: 0px 8px 11px 0px #b5b5b5;
        box-shadow: $box-shadow;
        border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    // news List
    .newList {
        border-radius: 10px;
        margin-bottom: 21px;
        box-shadow: $box-shadow;
         ::-webkit-scrollbar {
            width: 6px !important;
        }
         ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
         ::-webkit-scrollbar-thumb {
            background-color: #b7b7b7;
            outline: 1px solid slategrey;
        }
        .header {
            h1 {
                font-size: 23px;
                text-align: center;
                margin: 0;
                padding: 9px 0;
                color: #ffffff;
                border-bottom: 1px solid #bbbbbc;
                // background: #475edc;
                background: var(--colorCommon);
                border-radius: 10px 10px 0 0;
            }
        }
        .mat-tab-header,
        .mat-tab-nav-bar {
            border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
        }
        .mat-tab-body-wrapper {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .mat-tab-body-content {
            background: white;
            padding-top: 6px;
        }
        .mat-tab-body.mat-tab-body-active {
            height: 333px;
            // background: red;
        }
        .mat-tab-label {
            height: 30px;
            /* border: 1px solid #475edc; */
            color: #6f7276;
            width: 100%;
            background: #f2f2f2;
            opacity: 1;
            &:first-child {
                border-right: 1px solid #bbbbbc;
                // border-top-left-radius: 7px;
                // border-bottom-left-radius: 7px;
            }
            &:last-child {
                // border-top-right-radius: 7px;
                // border-bottom-right-radius: 7px;
            }
        }
        .mat-tab-label-active {
            // background: #fff;
            border-bottom: 3px solid #475edc !important;
        }
        .scroll_container {
            max-height: 300px;
            overflow: auto;
            .newsDiv {
                background: white;
                padding: 5px 10px;
                line-height: 1.1;
                border-bottom: 2px solid #ebebeb;
                position: relative;
                h2 {
                    font-size: 16px;
                    margin-bottom: 4px;
                    font-weight: 600;
                    // text-transform: capitalize;
                }
                h4 {
                    i {
                        padding-right: 5px;
                    }
                    font-size: 10px;
                    color: #747578;
                    margin-bottom: 0px;
                }
                p {
                    color: #909090;
                    margin-bottom: 0;
                    padding: 5px 0;
                    font-size: 12px;
                }
                // a{
                //     i{
                //         float: right;
                //         color: #77797c;
                //     }
                //     color: #464e7c;
                //     font-size: 11px;
                //     cursor: pointer;
                //     position: absolute;
                //     bottom: 10px;
                //     right: 7px;
                // }
            }
        }
    }
    // sidebar
    .buttonClick {
        position: absolute;
        right: 0;
        border: none;
        padding: 12px;
        top: 210px;
        background: #475edc;
        color: #fff;
        border-radius: 4px;
        font-size: 23px;
        box-shadow: 0px 0px 15px 0px #aaa;
        z-index: 1;
    }
    #Hide {
        position: absolute;
        height: 100%;
        width: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
        top: 0;
        left: 0;
        // display: none;
    }
    .opensidebar {
        width: 134px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 68px;
        right: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 44px;
        box-shadow: 0px 0px 15px 0px #aaa;
        .icon {
            font-size: 38px;
            border: 1px solid #c1c5ca;
            padding: 18px;
            background: #ffffff;
            border-radius: 5px;
            color: #507bfc;
            margin-bottom: 5px;
        }
    }
    .sidenav p {
        cursor: pointer;
        padding: 8px 19px 0px 24px;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-align: center;
        label {
            font-size: 12px;
            text-align: center;
            width: 100%;
            margin-bottom: 0px;
        }
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    .sidenav .closebtn {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 21px;
        margin-left: 17px;
        margin-top: 6px;
    }
    // ttt pop up
    .tttpopup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1503;
        background-color: #40404075;
        opacity: 1;
        .message {
            p {
                text-align: center;
                margin: 5px;
            }
        }
        .modal {
            background: #53514f59;
        }
        .modal-header {
            padding: 12px 1.25rem;
            // background: #475edc;
            background: var(--colorCommon);
        }
        .modal-dialog {
            top: 30%;
        }
        .modal-title {
            width: 100%;
            text-align: center;
            color: white;
            .closebtn {
                float: right;
                background: no-repeat;
                border: none;
                font-size: 23px;
                padding: 0;
                color: #fff;
                cursor: pointer;
            }
        }
        .modal-body {
            max-height: 270px;
            overflow-y: auto;
        }
        .modal-content {
            border: none;
        }
        .tttcard {
            padding: 10px;
            background: #fff;
            border-radius: 6px;
            margin-bottom: 15px;
            box-shadow: 1px 0px 5px 1px rgba(135, 165, 222, 0.25);
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
            h2 {
                font-size: 13px;
                margin: 0;
                color: #000;
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                text-transform: capitalize;
            }
            a {
                font-size: 10px;
                color: #000;
            }
            p {
                padding-top: 4px;
                margin: 0;
                color: #000;
                font-size: 12px;
            }
        }
    }
    // =======================================================
    .btngroup {
        margin: 0 auto;
    }
    // .mainDiv{
    //     padding: 2.25rem 2.25rem 0.75rem !important;
    // }
    .rowBottom {
        margin-bottom: 30px;
        padding: 0;
    }
    .navbtns {
        padding: 10px 30px;
        background-color: #fff;
        border: 1px solid #507bfc;
        color: #507bfc;
        width: 220px;
        outline: none;
        height: 45px;
        cursor: pointer;
        outline: none !important;
    }
    .pollBadge {
        margin: auto;
        position: relative;
        cursor: pointer;
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
    }
    .firstbtn {
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        outline: none;
        margin: 0px;
        background: #507bfc;
        color: #fff;
        box-shadow: 5px 5px 10px 1px rgba(47, 83, 151, 0.1);
    }
    .lastbtn {
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        outline: none;
        margin: 0px;
    }
    .icon-poll {
        height: 100px;
        vertical-align: middle;
        display: grid;
        align-items: center;
    }
    .marginBottom {
        margin-bottom: 50px;
    }
    .padding0 {
        padding: 0 !important;
    }
    .paddingRight {
        padding-right: 30px !important;
        padding-left: 0 !important;
    }
    .margBottom {
        margin-bottom: 10px;
    }
    .matCrd {
        width: 100%;
        border-radius: 10px;
        margin: 0;
        box-shadow: $box-shadow !important;
    }
    .mattitle {
        text-align: center;
        color: #797878;
        margin: 0;
        line-height: 40px;
    }
    .ro {
        width: 100%;
        margin: auto;
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
    .badges {
        margin: auto;
        position: relative;
        cursor: pointer;
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
    }
    .workflowDiv {
        margin: auto;
        position: relative;
        cursor: pointer;
        width: 100%;
        min-height: 100px;
        .gridDiv {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-column-gap: 10px;
        }
    }
    .wrkflwIco {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        font-size: 45px;
        color: #507bfc;
    }
    .wrkflwContent {
        padding: 15px 0;
        .congratTxt {
            // color: #0088ff;
            font-size: 16px;
            line-height: 25px;
            text-transform: capitalize;
            font-weight: 400;
            margin: auto;
            // text-align: center;
        }
        .descTxt {
            font-size: 14px;
            color: #000;
            line-height: 22px;
            margin: auto;
            // text-align: center;
        }
    }
    .nosurveyIco {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100px;
        align-items: center;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .surveyNoDataDiv {
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .rounddiv {
        background: #fcfcfc;
        padding: 10px;
        box-shadow: 0 2px 5px 0 rgba(47, 83, 151, 0.1);
        border-radius: 50%;
    }
    .overlay-completed {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        height: 100%;
        width: 100%;
        display: grid;
        border-radius: 15px;
        div {
            // align-items: center;
            align-self: center;
        }
    }
    .surveyCard {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        width: 100%;
        min-width: 250px;
        cursor: pointer;
    }
    .wrkflowIconDiv {
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        i {
            font-size: 45px;
        }
        img {
            width: 70px;
        }
    }
    .workflowSlide {
        padding: 0 15px;
    }
    .instanceName {
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        margin-bottom: 0;
    }
    .desc {
        font-size: 13px;
        line-height: 20px;
        margin: auto;
    }
    .iconCert {
        width: 50px;
        height: 50px;
    }
    .mat_content {
        margin: 0;
    }
    .ng2-carouselamos-wrapper {
        width: 280px;
    }
    .card_content {
        display: flex;
        justify-content: center;
    }
    .completed_text {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 0;
        font-weight: 600;
    }
    .completed_text_small{
      font-size: 14px;
      color: #fff;
      text-align: center;
      margin: 0;
    }
    // .sliderContents{
    //     box-shadow: 1px 5px 10px #eee;
    //     border-radius: 10px;
    // }
    .para {
        text-align: center;
        line-height: 36px;
        margin: 0;
        font-size: 17px;
        font-family: "open sans";
    }
    .align-center {
        text-align: center;
    }
    .policon {
        font-size: 40px;
        text-align: center;
        // color: rgb(32, 93, 127);
        color: var(--colorIcons);
    }
    .carouselslider123 {
        height: auto;
        padding: 0 15px;
        width: 100%;
    }
    .arrow123 {
        text-align: center;
        padding: 56px 0;
        cursor: pointer;
    }
    .roundarrow324 {
        margin: 4px;
        width: 30px;
        padding: 3px 0px;
        height: 30px;
        text-align: center;
        font-size: 19px;
        border-radius: 25px;
        // border: 1.5px solid;
        // color: #507bfc;
        color: var(--colorCommon);
        background-color: #fff;
        cursor: pointer;
        border: none;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }
    .left-arrow123 {
        position: relative;
        left: -1px;
    }
    .right-arrow123 {
        position: relative;
        left: 2px;
    }
    .poll_content {
        overflow: hidden;
        .pollName {
            margin: auto;
            text-align: left;
            font-size: 18px;
            text-transform: capitalize;
            // color: #0088ff;
            color: var(--colorCommon);
            line-height: 30px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .pollDesc {
            font-size: 14px;
            color: #000;
            line-height: 22px;
            margin: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .badge-name {
        // color: #4747FF;
        // // border-bottom-left-radius: 15px;
        // // border-bottom-right-radius: 15px;
        // padding: 5px;
    }
    .strongColor {
        // color: #0909ffbf;
        color: var(--colorCommon);
        font-weight: 600;
    }
    .redNote {
        text-align: center;
        line-height: 25px;
        margin: 0;
        font-size: 13px;
        font-family: "open sans";
        color: #fea08f;
    }
    .dashboard-container-div {
        // display: grid;
        // grid-template-columns: 8fr 4fr;
        // grid-column-gap: 20px;
        .dashboard-container-div-1 {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            .dashboard-container-div-1-inside {
                display: grid;
                // grid-template-columns: 1fr  1fr;
                width: 100%;
                margin: 0 auto;
                grid-column-gap: 15px;
                .dashboard-course-type-cards {}
            }
            .dashboard-container-div-2-inside {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 15px;
            }
        }
    }
    .dashboard-poll-survey-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        // margin-bottom: 15px;
    }
    @media only screen and (max-width: 1200px) {
        .dashboard-container-div {
            .dashboard-container-div-1 {
                margin-bottom: 20px;
                .dashboard-container-div-1-inside {}
                .dashboard-container-div-2-inside {}
            }
            .dashboard-poll-survey-grid {}
        }
    }
    @media only screen and (max-width: 750px) {
        .dashboard-container-div {
            // display: grid;
            // grid-template-columns: 8fr 4fr;
            // grid-column-gap: 20px;
            .dashboard-container-div-1 {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 20px;
                .dashboard-container-div-1-inside {
                    display: grid;
                    grid-template-columns: 1fr;
                    width: 100%;
                    grid-column-gap: 15px;
                    grid-row-gap: 15px;
                }
                .dashboard-container-div-2-inside {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-column-gap: 15px;
                    grid-row-gap: 15px;
                }
            }
            .dashboard-poll-survey-grid {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 15px;
            }
        }
    }
    @media only screen and (max-width: 400px) {
        .dashboard-container-div {
            padding: 0;
        }
        .padding0Below400 {
            padding: 0 !important;
        }
    }
    .call {
        text-align: center;
    }
    .pointer_event {
        cursor: pointer;
        .cardTitl {
            margin: 0;
            height: auto;
            line-height: 30px;
            font-size: 16px;
            border-radius: 10px 10px 0 0;
            color: #fff;
            text-align: center;
            padding: 10px;
            font-weight: 600;
            .mandatory,
            .recommended,
            .aspirational {
                background: #475edc;
            }
        }
        .middle {
            padding: 15px;
        }
    }
    .rowList {
        margin: 0;
        display: grid;
        padding: 0 15px;
        color: #828181;
        background: #e3e3e375;
        grid-template-columns: 10fr 1fr;
    }
    .horizLine {
        border: 1px solid #fbfafa;
        width: auto;
        margin: 0;
    }
// }
