<div class='mainDiv'>

    <div class="dashboard-padding">
        <!-- <div class="row marginBottom">
            <div class="btngroup">
                <button class="navbtns firstbtn" >Dashboard</button>
                <button class="navbtns lastbtn"  (click)="goTOTeamDashboard()">Team Dashboard</button>
            </div>
        </div> -->

        <div class="row">
            <div class="col-xl-8 dashboard-container-div">
                <div class="banner">
                    <img [src]="currentBrandData?.banner_image">
                </div>
                <div class="dashboard-container-div-1">
                    <div class="dashboard-container-div-1-inside">
                        <!-- *ngIf='isCourseType' -->
                        <div class="dashboard-course-type-cards" *ngIf='!isCourseType'>
                            <ngx-course-type-card [dashboardPrograms]="programObject" (showPopup)="gotopopup($event)" [skeleton]='true'></ngx-course-type-card>
                        </div>
                        <div class="dashboard-course-type-cards" *ngIf='isCourseType'>
                            <ngx-course-type-card [dashboardPrograms]="programObject" (showPopup)="gotopopup($event)" [skeleton]='false'></ngx-course-type-card>
                        </div>
                        <!-- <div>
                            <ngx-my-pathways></ngx-my-pathways>
                        </div> -->
                    </div>

                    <div class="">
                        <div class="dashboard-poll-survey-grid">
                            <div>
                                <div class="">
                                    <mat-card class="matCrd">
                                        <mat-card-title class="mattitle">Survey</mat-card-title>
                                        <div *ngIf="isSurvey">
                                            <mat-card-content class="sliderContents" [hidden]="survey.length == 0">
                                                <div class="row">
                                                    <div class="carouselslider123 " ng2-carouselamos [width]="250" [items]="survey" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
                                                    </div>

                                                    <ng-template #prevTemplate>
                                                        <div class=" arrow123">
                                                            <button class="roundarrow324">
                                                            <i class="fas fa-chevron-left left-arrow123"></i></button>
                                                        </div>
                                                    </ng-template>

                                                    <ng-template #nextTemplate>
                                                        <div class="col-md-1 arrow123">
                                                            <button class="roundarrow324"><i
                                                                class="fas fa-chevron-right right-arrow123"></i></button>
                                                        </div>
                                                    </ng-template>

                                                    <ng-template let-item let-i="index" #itemTemplate>
                                                        <div class="badges">
                                                            <!--  -->
                                                            <div class="overlay-completed" *ngIf='item.wComp == 1'>
                                                                <div>
                                                                    <p class="completed_text">Completed</p>
                                                                </div>

                                                            </div>

                                                            <div class="surveyCard" (click)="gotoSurvey(item)">
                                                                <div class="align-center">
                                                                    <img src="{{item.path}}" class="iconCert">
                                                                </div>

                                                                <div class="poll_content">
                                                                    <p class="pollName" [title]="item.sName">
                                                                        {{ item.sName }}</p>
                                                                    <p class="pollDesc" [title]="item.sdesc">
                                                                        {{ item.sdesc }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </div>
                                                <p class="para">You have <strong class="strongColor">{{ survey?.length }} survey(s) !</strong></p>
                                                <!-- <p class="para" *ngIf="survey?.length >= 1">You have <strong
                                                    class="strongColor">{{ survey?.length }} surveys !</strong></p> -->
                                            </mat-card-content>

                                            <mat-card-content [hidden]="survey.length != 0">
                                                <div class="surveyNoDataDiv">
                                                    <div class="nosurveyIco">
                                                        <!-- <img src="assets/images/surveyIcon.png" class=""> -->
                                                        <i class="fa fa-list-alt policon"></i>
                                                    </div>
                                                    <div class="dataNotfound">
                                                        <p class="para">You have no survey available!</p>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                        </div>
                                        <div *ngIf="!isSurvey">
                                            <ngx-content-loading [width]="400" [height]='160'>
                                                <svg:g ngx-rect width="100" height="140" y="0" x="25" rx="10" ry="10"></svg:g>
                                                <svg:g ngx-rect width="100" height="140" y="0" x="150" rx="10" ry="10"></svg:g>
                                                <svg:g ngx-rect width="100" height="140" y="0" x="275" rx="10" ry="10"></svg:g>
                                            </ngx-content-loading>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                            <div>
                                <mat-card class="matCrd" style=" height: 100%">
                                    <mat-card-title class="mattitle">Poll</mat-card-title>
                                    <div *ngIf="isPoll">
                                        <mat-card-content class="mat_content" [hidden]="poll.length == 0">
                                            <div class="row">
                                                <div class="carouselslider123 " ng2-carouselamos [width]="250" [items]="poll" [$item]="itemTemplate2" [$prev]="prevTemplate" [$next]="nextTemplate" (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
                                                </div>

                                                <ng-template #prevTemplate>
                                                    <div class=" arrow123">
                                                        <button class="roundarrow324">
                                                        <i class="fas fa-chevron-left left-arrow123"></i></button>
                                                    </div>
                                                </ng-template>

                                                <ng-template #nextTemplate>
                                                    <div class="col-md-1 arrow123">
                                                        <button class="roundarrow324"><i
                                                            class="fas fa-chevron-right right-arrow123"></i></button>
                                                    </div>
                                                </ng-template>

                                                <ng-template let-item let-i="index" #itemTemplate2>
                                                    <div class="pollBadge">
                                                        <!--  -->
                                                        <div class="overlay-completed" *ngIf='item?.wComp == 1 && item?.valid == 1'>
                                                          <div>
                                                              <p class="completed_text">Completed</p>
                                                          </div>

                                                      </div>
                                                      <div class="overlay-completed" *ngIf='item?.valid == 0'>
                                                        <div>
                                                            <p class="completed_text_small">The Poll will expired on {{item.closingDate | date:"dd-MM-yyyy"}}</p>
                                                        </div>

                                                    </div>

                                                        <div class="surveyCard" (click)="gotoPoll(item)">
                                                            <div class="align-center">
                                                                <i class="fas fa-chart-bar policon"></i>
                                                            </div>

                                                            <div class="poll_content">
                                                                <p class="pollName" [title]="item.name">
                                                                    {{ item.name }}</p>

                                                                <p class="pollDesc" [title]="item.description">
                                                                    {{ item.description }}</p>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </ng-template>


                                            </div>
                                            <p class="para">You have <strong class="strongColor">{{ poll?.length }} poll(s)
                                                !</strong></p>
                                            <!-- <p class="para" *ngIf="poll.length >= 1">You have  <strong class="strongColor">{{ poll?.length }} polls !</strong></p>  -->
                                        </mat-card-content>

                                        <mat-card-content [hidden]="poll.length != 0">
                                            <div class="surveyNoDataDiv">
                                                <div class="nosurveyIco">
                                                    <i class="fas fa-chart-bar policon"></i>
                                                </div>
                                                <div class="dataNotfound">
                                                    <p class="para">You have no poll available!</p>
                                                </div>
                                            </div>
                                        </mat-card-content>
                                    </div>
                                    <div *ngIf="!isPoll">
                                        <ngx-content-loading [width]="400" [height]='160'>
                                            <svg:g ngx-rect width="100" height="140" y="0" x="25" rx="10" ry="10"></svg:g>
                                            <svg:g ngx-rect width="100" height="140" y="0" x="150" rx="10" ry="10"></svg:g>
                                            <svg:g ngx-rect width="100" height="140" y="0" x="275" rx="10" ry="10"></svg:g>
                                        </ngx-content-loading>
                                    </div>
                                </mat-card>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="" >
                        <div class="dashboard-poll-survey-grid">
                            <div *ngIf="!Wdata.length == 0">
                                <div class="">
                                    <mat-card class="matCrd" [hidden]="Wdata.length == 0">
                                        <mat-card-title class="mattitle">Nomination Workflow</mat-card-title>

                                        <mat-card-content class="sliderContents">
                                            <div class="row">
                                                <div class="carouselslider123 " ng2-carouselamos [width]="250"
                                                    [items]="Wdata" [$item]="itemTemplate12" [$prev]="prevTemplate12"
                                                    [$next]="nextTemplate12"
                                                    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
                                                </div>

                                                <ng-template #prevTemplate12>
                                                    <div class="arrow123">
                                                        <button class="roundarrow324">
                                                            <i class="fas fa-chevron-left left-arrow123"></i></button>
                                                    </div>
                                                </ng-template>

                                                <ng-template #nextTemplate12>
                                                    <div class="col-md-1 arrow">
                                                        <button class="roundarrow324"><i
                                                                class="fas fa-chevron-right right-arrow123"></i></button>
                                                    </div>
                                                </ng-template>

                                                <ng-template let-item let-i="index" #itemTemplate12>
                                                    <div class="badges">

                                                        <div class="overlay-completed" *ngIf='item.wComp == 1'>
                                                            <div>
                                                                <p class="completed_text">Workflow Completed</p>
                                                            </div>

                                                        </div>

                                                        <div class="surveyCard" (click)="gotoworkflow(item, i)">
                                                            <div class="wrkflowIconDiv">
                                                                <img src="assets/images/ttt_ico.png"/>
                                                            </div>

                                                            <div class="workflowSlide">
                                                                <p class="instanceName" *ngIf="item?.instanceName?.length < 20">
                                                                    {{ item.instanceName }}</p>
                                                                <p class="instanceName" *ngIf="item?.instanceName?.length >= 20">
                                                                    {{ item.instanceName.substring(0,20) }}...</p>
                                                                <p class="desc" *ngIf="item?.description?.length >= 20">
                                                                    {{ item.description.substring(0,20) }}</p>
                                                                <p class="desc" *ngIf="item?.description?.length < 20">
                                                                    {{ item.description }}</p>
                                                                <p class="desc"><i class="far fa-calendar-alt"></i> {{ item.startDate | date }} - {{ item.endDate | date }} </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </mat-card-content>

                                    </mat-card>
                                </div>
                            </div>
                            <div *ngIf="!eepdata.length == 0">
                                <div class="">
                                    <mat-card class="matCrd" [hidden]="eepdata.length == 0" >
                                        <mat-card-title class="mattitle">EEP Workflow</mat-card-title>

                                        <mat-card-content class="sliderContents" >
                                            <div class="row">
                                                <div class="carouselslider123 " ng2-carouselamos [width]="250"
                                                    [items]="eepdata" [$item]="itemTemplate13" [$prev]="prevTemplate13"
                                                    [$next]="nextTemplate13"
                                                    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index">
                                                </div>

                                                <ng-template #prevTemplate13>
                                                    <div class="arrow123">
                                                        <button class="roundarrow324">
                                                            <i class="fas fa-chevron-left left-arrow123"></i></button>
                                                    </div>
                                                </ng-template>

                                                <ng-template #nextTemplate13>
                                                    <div class="col-md-1 arrow">
                                                        <button class="roundarrow324"><i
                                                                class="fas fa-chevron-right right-arrow123"></i></button>
                                                    </div>
                                                </ng-template>

                                                <ng-template let-item let-i="index" #itemTemplate13>
                                                    <div class="badges">

                                                        <div class="overlay-completed" *ngIf='item.wComp == 1'>
                                                            <div>
                                                                <p class="completed_text">Workflow Completed</p>
                                                            </div>

                                                        </div>

                                                        <div class="surveyCard" (click)="gotoeepworkflow(item, i)">
                                                            <div class="wrkflowIconDiv">
                                                                <img src="assets/images/ttt_ico.png"/>
                                                            </div>

                                                            <div class="workflowSlide">
                                                                <p class="instanceName" *ngIf="item?.instanceName?.length < 20">
                                                                    {{ item.instanceName }}</p>
                                                                <p class="instanceName" *ngIf="item?.instanceName?.length >= 20">
                                                                    {{ item.instanceName.substring(0,20) }}...</p>
                                                                <p class="desc" *ngIf="item?.description?.length >= 20">
                                                                    {{ item.description.substring(0,20) }}</p>
                                                                <p class="desc" *ngIf="item?.description?.length < 20">
                                                                    {{ item.description }}</p>
                                                                <p class="desc"><i class="far fa-calendar-alt"></i> {{ item.startDate | date }} - {{ item.endDate | date }} </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="dashboard-container-div-2-inside">
                        <div *ngIf='!isEarnBadge'>
                            <ngx-earned-badges [skeleton]='true'></ngx-earned-badges>
                        </div>
                        <div *ngIf='isEarnBadge'>
                            <ngx-earned-badges [skeleton]='false'></ngx-earned-badges>
                        </div>
                        <div *ngIf='!isCertificate'>
                            <ngx-certificates [skeleton]='true'></ngx-certificates>
                        </div>
                        <div *ngIf='isCertificate'>
                            <ngx-certificates [skeleton]='false'></ngx-certificates>
                        </div>
                    </div>



                    <!-- <div class="">
                        <div class="dashboard-poll-survey-grid" >
                            <div>
                                <div class="">
                                    <mat-card class="matCrd">
                                        <mat-card-title class="mattitle">Call Coaching</mat-card-title>

                                        <mat-card-content class="sliderContents">
                                            <div class="card_content" (click)="gotocc()">
                                                <p class="para"><strong class="strongColor">{{ccData.label}}</strong></p>  <p class="para"><strong class="strongColor">{{ccData.cnt}}</strong></p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-4 padding0Below400">

                <div class="newList" *ngIf="newslistFlag">
                    <div class="header">
                        <h1>News & Announcement</h1>
                    </div>
                    <div class="scroll_container">
                        <div class="newsDiv" *ngFor="let item of newslist; let i = index">
                            <h2 title="{{item.nameText}}">{{item.nameText}}</h2>

                            <ngx-read-more id="{{i}}" [text]="item.details" [maxLength]="90"></ngx-read-more>

                        </div>
                    </div>

                </div>
                <!-- <mat-tab-group>
                     <mat-tab label="Department" >
                        <div class="newsDiv" *ngFor="let item of newslist">
                           <h2>{{item.title |  slice:0:80}}...</h2>
                           <h4><i class="fas fa-clock"></i>{{item.date}}</h4>
                           <p>{{item.discription |  slice:0:40}}...</p>
                           <a><i class="fas fa-download"></i></a>
                        </div>
                     </mat-tab>
                     <mat-tab [label]="tenantName" >
                        <div class="newsDiv" *ngFor="let item of newslist">
                           <h2>{{item.title |  slice:0:80}}...</h2>
                           <h4>{{item.date}}</h4>
                           <p>{{item.discription |  slice:0:40}}...</p>
                           <a><i class="fas fa-download"></i></a>
                        </div>
                     </mat-tab>
                  </mat-tab-group> -->
                <!-- </div> -->
                <div class="dashboard-container-div-2">
                    <ngx-leader-board></ngx-leader-board>
                </div>

            </div>
        </div>
    </div>

    <!-- <div class="bgHide" id="Hide" (click)="closeNav()"></div>
<button (click)="openNav()" class="buttonClick" *ngIf="dontShowSide"><i class="fa fa-podcast" ></i></button>
  <div id="mySidenav" class="sidenav">
    <span class="closebtn" (click)="closeNav()" ><i class="fa fa-arrow-right"></i></span>
    <p (click)="gotocc()"  *ngIf="callIcon"><i class="fas fa-headset icon"></i>Call Coaching</p>
    <p (click)="gotopopup('ttt')" *ngIf="tttworkFlowIcon"><i class="fas fa-users icon"></i>TTT Workflow</p>
    <p (click)="gotopopup('eep')"  *ngIf="eepIcon"><i class="fas fa-user-graduate icon"></i>EEP</p>
    <p (click)="gotopopup('tools')" *ngIf="toolsIcon"><i class="fas fa-toolbox icon"></i>Tools</p>
  </div> -->

    <div [hidden]="!hideback" class="fade tttpopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{title}}
                        <button type="button" class="closebtn" (click)="closepop()">&times;</button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="tttDiv" *ngIf="ttee">
                        <div class="tttcard" (click)="gotoworkflow(item)" *ngFor="let item of ttee;let i = index">
                            <h2>{{item.instanceName}}<a>{{item.sdate}}</a></h2>

                            <p>{{item.description}}</p>
                        </div>
                        <div class="messsage" *ngIf="ttee.length == 0">
                            <p>You have no {{title}} Assigned</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
