
<div class="session_container">
    <div class="header" >
        <button class="back" (click)="back()"><i class="fas fa-chevron-left"></i></button>
        <h3 class="headtitle">Sections</h3>
    </div>

    
      
    
      <div class="card_container" *ngIf='!noSectionFound'>
        
          <div class="container_1">
  
            <div class="card" *ngFor="let item of section">
              <div class="singel_card " *ngIf="item.sectionIcon" (click)="gotoContent(item)">
                <i class=" {{ item.sectionIcon }} fa-7x fa-positions" aria-hidden="true" [spin]="true" [styles]="{'stroke': 'red', 'color': 'red'}" > </i>
              </div>
              <div class="title" (click)="gotoContent(item)">
                  <div class="" title="{{item.sectionName}}" *ngIf="item.sectionName.length <= 10">
                    {{item.sectionName}}</div>
                  <div class="" title="{{item.sectionName}}" *ngIf="item.sectionName.length > 10">
                    {{item.sectionName.substring(0,10)}}...</div>
              </div>
            </div>
            
          </div>

          <!-- <div class="container">
              <div class="row">
               
                <div class="col-3" *ngFor="let item of section">
                  <div class="card">
                    <div class="singel_card " *ngIf="item.sectionIcon" (click)="gotoContent(item)">
                      <i class=" {{ item.sectionIcon }} fa-7x fa-positions" aria-hidden="true" [spin]="true" [styles]="{'stroke': 'red', 'color': 'red'}" > </i>
                    </div>
                    <div class="title" (click)="gotoContent(item)">
                        <div class="" title="{{item.sectionName}}" *ngIf="item.sectionName.length <= 10">
                          {{item.sectionName}}</div>
                        <div class="" title="{{item.Name}}" *ngIf="item.sectionName.length > 10">
                          {{item.sectionName.substring(0,10)}}...</div>
                    </div>
                  </div>
                </div>
              </div>
          </div> -->
        
      </div>

      <div *ngIf='noSectionFound' class="noFound">
        <p>No section found</p>
      </div>
</div>