.fa-positions {
    // color: #507BFC;
    color: var(--colorIcons);
    padding-top: 25px;
}

.icon-frame {
    margin-top: 14px;
    padding-bottom: 23px;
    border-bottom: 1px solid lightgrey;
}




.session_container{
    // .container::before{
    //     content: '';
    // }
    .header{
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-column-gap: 20px;
        margin-bottom: 24px;
        align-items: center;
        background: #ffffff;
        padding: 12px;
        border-radius: 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.12);
        .back{
            font-size: 18px;
            background: #ffffff;
            border: 1px solid var(--colorIcons);
            color: var(--colorIcons);
            height: 40px;
            width: 40px;
            text-align: center;
            border-radius: 6px;
            cursor: pointer;
        }
        .headtitle{
            font-size: 24px;
            margin: 0;
        }
    }

    .avatar{
        width: calc(100% + 32px) !important;
        margin: -16px -16px 0px -16px !important;
        height: 150px;
        font-size: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #507BFC;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .card_title{
        text-align: center;
        // margin-top: 12px;
        font-size: 19px;
        font-weight: 400;
    }
    
    .card_description{
        text-align: center;
    }
}


.card_container{
  //  background:$background_for_card_container;
    margin: 20px auto;
    // width: 95%;
    // margin: auto;
    .container_1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .card{
            position: relative;
            background: #fff;
            text-align: center;
            // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
            border: 0.5px solid rgba(0, 0, 0, 0.12) !important;
            border-radius: 10px;
            cursor: pointer;
            .overlay_hidden{
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                height: 100%;
                width: 100%;
                display: grid;
                align-items: center;
                font-size: 30px;
                color: #fff;
                border-radius: 10px;
                i{
                    cursor: pointer;
                }
            }
           
            .singel_card{
               border-top-left-radius: 10px ;
               border-top-right-radius: 10px;
               height: 150px;
               width: 100%;
               background-position: center;
               background-size: cover;
            }
            .title{
                padding: 10px;
                color: #000;
                width: 100%;
                border-top: 0.5px solid rgba(0, 0, 0, 0.12);
            }
            .card_subtitle{
                font-size: 14px;
                padding: 10px   ;
               
                border-bottom: 1px solid ;
                color: #000;
            }
          
            .user-icon{
                display: grid;
                grid-template-columns: auto auto;
                height: 40px;
                align-items: center;

                .icons-enable-disable{
                    border-right: 1px solid;
                   
                    font-size: 20px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .content-icons{
                text-align: center;
                border-bottom: 1px solid;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }

            .para_margin_0{
                margin: 0;
            }
           
        }
       


    }
}

.noFound {
    background: white;
    height: 70vh;
    position: relative;
    border-radius: 10px;
    p {
        position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    }
}