<!-- <p>
  dynamic-link-learn works!
</p> -->
<div class="title_container">
    <!-- <div class="col-sm-1"> -->

    <div class="rocket" *ngIf="this.queryParams['indentifier'] !== 'activity'">
        <i class="fas fa-chevron-left" (click)="goBack()"></i>
    </div>

    <!-- <div class="rocket">
      <i class="fas fa-rocket"></i>
  </div> -->
    <!-- </div> -->
    <!--
  <div class="heading123">
      <h3 class="title123">{{ courseTitle }}</h3>
      <h3 class="title123">Quiz Assessment for <a href="#" class="link">{{ courseTitle }}</a></h3>
  </div> -->

    <!-- <div class="col-sm-2">
    </div> -->

</div>
<div *ngIf="flagData?.eFlag == 1">
    <div>
        <div class="grid_container" *ngIf="this.queryParams['indentifier'] === 'course'">
            <div *ngFor="let item of dataArray">
                <div class="workflow_name">{{item?.wname}}</div>
                <!-- <ngx-course-card [data]="item" (getEvent)="preformAction($event)" ></ngx-course-card> -->
                <ngx-course-card-v2 [cardsData]="item" [config]=" item?.compStatus === 'OPEN' ? openConfig: courseCardConfig" (getEvent)="preformAction($event)"></ngx-course-card-v2>
            </div>

        </div>
        <div class="grid_container" *ngIf="this.queryParams['indentifier'] === 'workflow'">
            <div *ngFor="let item of dataArray">
                <!-- <ngx-workflow-card [data]="item"   (getEvent)="preformAction($event)"></ngx-workflow-card> -->
                <ngx-course-card-v2 [cardsData]="item" [config]="pathwayCardConfig" (getEvent)="preformAction($event)"></ngx-course-card-v2>
            </div>
        </div>

    </div>
    <div *ngIf="this.queryParams['indentifier'] === 'activity' && featureConfig?.activity.standardui">
        <div class="grid">
            <div class="item1">
                <img class="course-detail-icon" src='assets/images/orangeLearn.svg' />
            </div>
            <div class="item2">
                <div class="header">
                    <h2 class="header-heading">{{ currentCourseData?.courseTitle }}</h2>
                </div>
                <div class="course-completion">
                    <p>Course Completion: {{ currentCourseData?.endDate }}</p>
                    <p>{{ currentCourseData?.courseDesc }}</p>
                </div>
            </div>
            <div class="item3">

                <div class='cancel' (click)='goBack()'>
                    <i class="fa fa-times cancelIcon" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div>
            <div class="tabs-new-updated">
                <div class="tabs_single" *ngFor="let tab of dataArray" [ngClass]="{'tabs_single_active': ActiveTab?.id == i }" (click)='tabChanged(tab)'>
                    <p>{{ tab.moduleName}}</p>

                </div>
            </div>
            <div class="pt-2 pb-2" *ngFor="let activity of activityCardList">
                <ngx-activity-card [data]="activity" [disabledAction]="disabledActivityFlag" (getEvent)="preformActionOnAcitivty($event)"></ngx-activity-card>
            </div>
        </div>

    </div>
    <div *ngIf="this.queryParams['indentifier'] === 'activity'  && featureConfig?.activity.modernui">
        <ngx-module-activity-container [activityModuleList]="activityModuleList"></ngx-module-activity-container>
    </div>
</div>
<div *ngIf="flagData?.eFlag == 0" class="disabled_div">
    {{flagData?.msg}}
</div>

<div class="addSelfBackdrop2" *ngIf="passCheck">
    <div class="addSelfDemoModal2">
        <h1 class="modalheader"> Enter password to access quiz</h1>

        <form [formGroup]="resetPwdForm" class="formR">
            <mat-form-field class="matblock">
                <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" passwordToggle />
                <mat-error *ngIf="submitted && f.password.errors">
                    <mat-error *ngIf="f.password.errors.required"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</mat-error>
                    <mat-error *ngIf="f.password.errors.minlength"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters</mat-error>
                </mat-error>
            </mat-form-field>
            <div *ngIf="submitted">
                <div *ngIf="passWrong" class='passWrong'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Password is wrong
                </div>
            </div>
        </form>

        <div class="butns">
            <button class="cancel" (click)="close()">Cancel</button>
            <button type="submit" class="change" (click)="onSubmit()">Submit</button>
        </div>

    </div>
</div>


<div class="addSelfBackdrop2" *ngIf="displayInstructions">
    <div class="addSelfDemoModal2">
        <h1 class="modalheader"> Instructions </h1>

        <p *ngIf='checkResponse'> {{ checkResponse.instructions }} </p>

        <div class="butns">
            <button class="cancel" (click)="closeInstrction()">Cancel</button>
            <button type="submit" class="change" (click)="onSubmit1()">Submit</button>
        </div>

    </div>
</div>
