$white: #ffffff;
$black: #000000;
$gray: #343434;

@mixin button($color, $bg) {
  outline: none;
  color: $color;
  background: $bg;
  font-size: 14px;
  padding: 3px 6px;
  margin: 0 3px 4px;
  border-radius: 3px;
  position: relative;
  border: 1px solid $color;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $bg;
    background: $color;
    border: 1px solid $bg;
  }
}

// filter
.course-filter {
  // padding: 12px;
  background: #ffffff;
  .filter-tag {
    border-bottom: 0.5px solid rgba(50, 49, 49, 0.29);
    &:last-child {
      border: none;
    }
    .tag-name {
      padding: 10px 0;
      font-size: 14px;
      font-weight: 700;
      color: #000000;
    }
    .arrow {
      font-size: 12px;
      padding: 12px 0;
      color: #707070;
    }
    ul {
      list-style: none;
      .custom-control-input {
        z-index: 1;
      }
      .inner-name {
        font-size: 14px;
        color: $gray;
        vertical-align: super;
      }
    }
    .price-section {
      select {
        padding: 4px 0;
        font-size: 12px;
        border-radius: 4px;
        color: $gray;
        border: 0.5px solid lightgrey;
      }
    }
  }
}

//  checkbox -- line-height exta / mixin
.act-check {
  line-height: 1;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
  .checkmark {
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #aab5cc;
    &::after {
      top: 2px;
      left: 5px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: #f1f1f1;
  }
  input:checked ~ .checkmark {
    border-color: var(--colorCommon);
    background-color: var(--colorCommon);
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
}

//  tags
.tags-section {
  .tag-name {
    font-size: 14px;
    font-weight: 700;
  }
  .innertag {
    margin: 4px;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 8px;
    color: #353535;
    border: 0.5px solid;
    border-radius: 25px;
    text-transform: capitalize;
    &:hover {
      color: $white;
      background: #1282ce;
    }
  }
  .selectInnertag {
    color: $white;
    background: #1282ce;
  }
  // checkbox
  .checkboxDiv {
    display: block;
    position: relative;
    min-height: 1.3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkboxDiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 17px;
    width: 17px;
    z-index: 1;
    left: 0;
  }
}

// .btnsetalign{
//   position: fixed;
//   bottom: 32px;
//   // background: #fff;
//   // width: 16.5%;
//   // padding-bottom: 7px;
//   // padding-top: 7px;
//   background: #dfdfdf;
//   width: 18%;
//   padding: 7px;
//   button{
//     width: 80%;
//   }
// }

.bottom-btn {
  width: 18%;
  bottom: 14px;
  box-shadow: 0px 0px 10px 0px #d9d8d8;
  button {
    border: none;
    padding: 8px;
    &:first-child {
      color: $black;
      background: $white;
    }
    &:last-child {
      color: $white;
      background: $black;
    }
  }
  @media only screen and (min-width: 1281px) {
    width: 16%;
  }
}
