<div class="course-filter">
    <!-- <span class="search-result">500 results</span> -->
    <div class="px-3 pb-5">
        <div class="filter-tag" *ngFor="let item of filtersData;let i = index">
            <div class="cursor-p d-flex justify-content-between align-items-center" (click)="showdiv(i, item)">
                <label class="tag-name cursor-p m-0">{{item.name}}</label>
                <span class="arrow" *ngIf="!item.show">
                  <i class="fas fa-chevron-down"></i>
              </span>
                <span class="arrow" *ngIf="item.show">
                  <i class="fas fa-chevron-up"></i>
              </span>
            </div>
    
            <div class="price-section" *ngIf="item.id == 1 && item.show">
                <select class="mb-2 w-100 cursor-p" [(ngModel)]="selectedFilters" (change)="onPriceSelected($event, i, item.innerTag)">
                  <option value="" selected disabled hidden>Choose here</option>
                  <option *ngFor="let inner of item.innerTag" [value]="inner.id">{{inner.name}}</option>
                </select>
                <!-- <nb-select placeholder="Select filter" status="basic" [(ngModel)]="selectedFilters" (selectedChange)="onPriceSelected($event)">
                    <nb-option *ngFor="let inner of item.innerTag" [value]="inner.id">
                        {{inner.name}}
                    </nb-option>
                </nb-select> -->
            </div>
    
            <ul class="p-0 m-0" *ngIf="item.id == 2 && item.show || item.id == 3 && item.show">
                <li class="pb-2" *ngFor="let inner of item.innerTag">
                    <div *ngIf="i !== 2 || i !== 3" class="act-check d-inline-block align-top" (click)="checkChange(inner)">
                        <span class="inner-name text-capitalize">{{inner.name}}</span>
                        <input type="checkbox" [checked]="inner.checked">
                        <span class="checkmark"></span>
                    </div>
                </li>
            </ul>
    
            <ul class="p-0" *ngIf="item.id == 4 && item.show">
                <li *ngFor="let inner of item.innerTag">
                    <label class="act-check pl-0" (click)="fireEvent('subCat', inner)">
                    <span class="inner-name text-capitalize">{{inner.name}}</span>
                  </label>
                </li>
            </ul>
    
            <div class="tags-section" *ngIf="item.id == 5 && item.show">
                <div class="d-inline-block checkboxDiv" *ngFor="let tag of item.innerTag;">
                    <label class="innertag" [ngClass]="{'selectInnertag': tag.checked}">{{ tag.name }}
                    <input type="checkbox" (click)="checkChange(tag)" [checked]="tag.checked">
                </label>
                </div>
            </div>
    
        </div>
    </div>
    <!-- <div class="btnsetalign d-flex justify-content-between">
        <button mat-raised-button (click)="clearFilters()">Clear filter</button>
        <button class="ml-1" mat-raised-button (click)="makeFilterDataReady()">Apply filter</button>
    </div> -->
    <div class="bottom-btn d-flex position-fixed">
        <button class="w-100 cursor-p" (click)="clearFilters()">Clear Filter</button>
        <button class="w-100 cursor-p" (click)="makeFilterDataReady()">Apply Filter</button>
    </div>
</div>