 <!-- *ngIf="!noParticipants" -->
<div >
    <mat-card class="mycrd4" *ngIf="!noParticipants">
        <!-- <div class="row header167">
            <div class="col-12">
                <input type="text" class="searchin" placeholder="&#xf002;   Search" [(ngModel)]="person">
            </div>
        </div> -->
        <table mat-table [dataSource]="participants" class="participants-table">
    
          <ng-container matColumnDef="employeeId">
            <th mat-header-cell *matHeaderCellDef> EMP Code. </th>
            <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Participant Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef> Contact No. </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
          </ng-container>
      
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email Id </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
          <ng-container matColumnDef="designation">
              <th mat-header-cell *matHeaderCellDef> Designation </th>
              <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
    </mat-card>
</div>

<div *ngIf="noParticipants">
    <div class="NoDataDiv">
      <p>  No Participants Found.</p>
      
    </div>
</div>
