<nb-layout [center]="layout.id === 'center-column'" windowMode>
    <nb-layout-header fixed>
        <ngx-header [position]="sidebar.id === 'start' ? 'normal': 'inverse'"></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive state="compacted" [end]="sidebar.id === 'end'"
        *ngIf="showSidebar">
        <div class="sidebar d-flex justify-content-between flex-column h-100">
            <ul class="menu-links">
                <!-- [routerLink]="menu_item.link"  routerLinkActive="active" -->
                <li class="menu-list" *ngFor="let menu_item of sidebarMenu; let i = index;"
                    (click)="changeMenu(menu_item, i)">
                    <div class="parent-menu" [ngClass]="{'active-link': menu_item.active}">
                        <i [class]="menu_item.icon"></i>
                        <span class="menu-text">{{menu_item.title}}</span>
                    </div>
                    <div class="pt-2 children" *ngIf="menu_item.isShow">
                        <div class="sub-menu text-center" (click)="changeSubMenu(menu_item, i, item, j)"
                            *ngFor="let item of menu_item.children; let j = index;"
                            [ngClass]="{'active-child': item.active}">
                            <i [class]="item.icon"></i>
                            <span>{{item.title}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sidebar-bottom">
                <div class="sidebar-bottom--inner cursor-p" (click)="gotoHelp()">
                    <i class="fas fa-question-circle svg-icon fntsz"></i>
                    <span class="menu-text formatmenutxt">Help</span>
                </div>
                <div class="sidebar-bottom--inner cursor-p" (click)="gotoFeedback()">
                    <i class="fas fa-comment-alt svg-icon fntsz"></i>
                    <span class="menu-text formatmenutxt">Feedback</span>
                </div>
                <div class="sidebar-bottom--inner cursor-p" routerLink="../logout">
                    <i class="fas fa-sign-out-alt svg-icon fntsz"></i>
                    <span class="menu-text formatmenutxt">Logout</span>
                </div>
            </div>
        </div>
    </nb-sidebar>

    <nb-layout-column class="main-content">
        <ng-content select="router-outlet">

        </ng-content>
        <div class="faq_div" *ngIf="showfaqs">
            <div class="header_title">
                <div>
                    Help
                </div>
                <div class="close_div" (click)="closeFaq()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <ngx-faq></ngx-faq>
        </div>

        <div class="feedback_div" *ngIf="showSendFeedback">
            <div class="inside_content">
                <div class="header_title">
                    <div>
                        Send Feedback
                    </div>
                    <div class="close_div" (click)="closeSendFeedback()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
                <ngx-send-feedback (feedBackSent)="sendFeedback($event)" [screencapture]="imageSrc"></ngx-send-feedback>
            </div>
        </div>

    </nb-layout-column>

    <nb-layout-footer fixed *ngIf="featureConfig?.footer?.other">
        <ngx-footer></ngx-footer>
    </nb-layout-footer>

</nb-layout>