@import "../../styles/themes";
@import "../../styles/variable.scss";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
// .nb-theme-default nb-layout .layout nb-layout-header nav {
//     -webkit-box-shadow: 0 2px 12px 0 #dfe3eb !important;
//     box-shadow: 0 2px 12px 0 #dfe3eb !important;
//     height: 4.75rem !important;
//     padding: 0rem !important;
//     background: #ffffff !important;
//     color: #2a2a2a !important;
// }

@include nb-install-component() {
    nb-layout-header nav {
        padding: 0px !important;
    }
    nb-layout-column {
        padding: 0 !important;
    }
    nb-layout-column.small {
        flex: 0.15 !important;
    }
    .menu-title {
        color: black !important;
        text-decoration: none !important;
        display: block;
        position: absolute;
    }
    .logoutImg {
        height: 50px;
        width: 30px;
        background-repeat: no-repeat;
    }
    .logA {
        justify-content: center;
        position: relative;
        height: 90px;
    }
    nb-sidebar.settings-sidebar {
        $sidebar-width: 19rem;
        transition: transform 0.3s ease;
        width: $sidebar-width;
        overflow: hidden;
        @include nb-ltr(transform, translateX(100%));
        @include nb-rtl(transform, translateX(-100%));
        &.start {
            @include nb-ltr(transform, translateX(-100%));
            @include nb-rtl(transform, translateX(100%));
        }
        &.expanded,
        &.expanded.start {
            transform: translateX(0);
        }
        /deep/ .scrollable {
            width: $sidebar-width;
            padding: 3.4rem 0.25rem;
        }
        /deep/ .main-container {
            width: $sidebar-width;
            background: nb-theme(color-bg);
            transition: width 0.3s ease;
            overflow: hidden;
            .scrollable {
                width: $sidebar-width;
            }
            @include nb-for-theme(cosmic) {
                background: nb-theme(layout-bg);
            }
        }
    }
    nb-sidebar.menu-sidebar {
        border-right: 1px solid #f0efef;
        margin-top: nb-theme(sidebar-header-gap);
        @include nb-for-theme(corporate) {
            margin-top: 0;
        }
        /deep/ .main-container {
            height: calc( #{nb-theme(sidebar-height)} - #{nb-theme(header-height)} - #{nb-theme(sidebaar-bottom)}) !important;
            // @include nb-ltr(border-top-right-radius, nb-theme(radius));
            @include nb-rtl(border-top-left-radius,
            nb-theme(radius));
            border-right: 0.5px solid #f0efef;
            @include nb-for-theme(corporate) {
                border: 1px solid nb-theme(separator);
                height: calc( #{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
            }
        ::-webkit-scrollbar {
            width: 0 !important
        }
    }
    /deep/ .scrollable {
        @include nb-for-theme(corporate) {
            padding-top: 0;
            .menu-item:first-child {
                border-top: none;
            }
        }
    }
    /deep/ nb-sidebar-header {
        padding-bottom: 0.5rem;
        text-align: center;
    }
    // background: transparent;
    .main-btn {
        padding: 0.75rem 2.5rem;
        margin-top: -2rem;
        font-weight: bold;
        transition: padding 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);
        @include nb-for-theme(corporate) {
            border-radius: nb-theme(radius);
        }
        i {
            font-size: 2rem;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
        span {
            @include nb-ltr(padding-left,
            0.25rem);
            @include nb-rtl(padding-right,
            0.25rem);
        }
        i,
        span {
            vertical-align: middle;
        }
    }
    /deep/ nb-menu {
        // & > .menu-items {
        //   & > .menu-item:first-child {
        //     .menu-title {
        //       &::after {
        //         content: 'new';
        //         color: nb-theme(color-white);
        //         margin-left: 1rem;
        //         background: nb-theme(color-danger);
        //         padding: 0 0.5rem;
        //         border-radius: nb-theme(radius);
        //         font-size: nb-theme(font-size-sm);
        //       }
        //     }
        //   }
        // }
        .nb-e-commerce {
            font-size: 2rem;
        }
    }
    &.compacted {
        /deep/ nb-sidebar-header {
            padding-left: 0;
            padding-right: 0;
        }
        .main-btn {
            width: 46px;
            height: 44px;
            padding: 0.375rem;
            border-radius: 5px;
            transition: none;
            span {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .main-content {
        padding: 0.75rem !important;
    }
}

@include media-breakpoint-down(sm) {
    nb-sidebar.menu-sidebar {
        margin-top: 0;
        /deep/ .main-container {
            height: calc( #{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
            @include nb-ltr(border-top-right-radius,
            0);
            @include nb-rtl(border-top-left-radius,
            0);
            .scrollable {
                padding-top: 0;
            }
        }
    }
    .main-btn {
        display: none;
    }
}


}
nb-sidebar {
    ul {
        padding: 0;
    }

    .menu-links {
        list-style-type: none;
        padding: 0px;
    }

    li:focus {
        outline: none;
    }

    .menu-list {
        cursor: pointer;
        margin-bottom: 8px;
        .parent-menu {
            padding: 8px 0;
        }
        i {
            font-size: 22px;
            display: flex;
            text-align: center;
            justify-content: center;
            color: var(--colorIcons);
        }
        .menu-text {
            display: block;
            margin-top: 8px;
            font-size: 11px;
            text-align: center;
        }
    }

    .children {
        border-bottom: 1px solid #eff0f1;
        // transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);
        animation: fadeInDown .3s forwards;
        .sub-menu {
            padding: 10px 0;
            i {
                font-size: 18px !important;
                padding-bottom: 4px !important;
            }
            span {
                font-size: 9px;
            }
        }
    }

    @keyframes fadeInDown {
        0% {
            height: 0;
            opacity: 0;
            -webkit-transform: translate3d(0, -18%, 0);
            transform: translate3d(0, -18%, 0);
        }
        40% {
            opacity: 1;
            height: 50%;
        }
        100% {
            height: 100%;
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .animate__fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    // .active {
    //   border-left: 3px solid var(--colorCommon);
    //   // background-color: #f8f8f8;
    // }
    .active-link {
        background: #eff0f1;
        .menu-text {
            font-weight: 600;
            color: var(--colorIcons) !important;
        }
    }

    .active-child {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 4px;
            height: 42px;
            background: var(--colorIcons);
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .menu-icon {
        display: block;
        text-align: center;
        font-size: 20px;
        color: #507bfc;
    }

    .svg-icon {
        display: block;
        margin: 0 auto;
        height: 25px;
        width: auto;
        font-size: 28px;
        text-align: center;
        color: var(--colorIcons);
    }
    .sidebar-bottom {
        &--inner {
            padding: 6px;
        }
    }
    
    // nb-sidebar-footer {
        // padding: 6px !important;
        // height: 4.2rem !important;
    // }
}

.faq_div {
    position: absolute;
    background: #ffffff;
    width: 500px;
    height: 500px;
    top: 90px;
    left: 81px;
    z-index: 2;
    overflow: hidden;
    border-radius: 7px;
    // box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.188235);
    .header_title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--colorCommon);
        height: 40px;
        align-items: center;
        color: #fff;
        padding: 0 20px 0 20px;
        .close_div {
            text-align: right;
            font-size: 18px;
        }
    }
}

.formatmenutxt{
    width: 100%;
    display: flex;
    font-size: 11px;
    margin-top: 8px;
    justify-content: center;
}

.feedback_div {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    // border-radius: 10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1040;
    .inside_content {
        width: 400px;
        height: 400px;
        background: #fff;
        padding-bottom: 10px;
        overflow: hidden;
        border-radius: 7px;
        margin: 0 auto;
        display: grid;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.188235);
        .header_title {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: var(--colorCommon);
            color: #ffffff;
            height: 40px;
            align-items: center;
            color: var(--white-color);
            padding: 0 20px 0 20px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            .close_div {
                text-align: right;
                font-size: 18px;
            }
        }
    }
}

.fntsz{
    font-size: 22px !important;
}

// .scrollable {
//   background: #ffffff;
// }
@media screen and (max-width: 575px) {
    ngx-header {
        display: block !important;
    }
}
