
<div class='mainDiv'>
<div class="containerdiv">
  <div class="row ro100">
    <mat-card class="matForm">
      <div class="form-group">
        <label class="labelsize">Give your folder a name</label>
        <mat-form-field class="inputText" floatLabel="never">
            <mat-label>I want to call it</mat-label>
            <input matInput>
        </mat-form-field>
      </div>
    </mat-card>
  </div>




  <div class="row marginTOp">
      <div class="col-md-8">
        <div class="row ">
          <div class="col-md-6 mTB15" *ngFor="let items of bookmarkitems" >
              <mat-card class="matCardSize" [ngClass]="{'matSelect': items.isSelected}">

                  <button  [ngClass]="items.isSelected==true ? 'checkmark' : 'radiobtn'" (click)="radiofn(items)">
                      <i class="fas fa-check"></i>
                  </button>
                  <div  [ngClass]="{'imgblockSize': !items.isMandatory , 'imgblockSizeSmall' :items.isMandatory }">
                    <div class="mandatoryLabel" *ngIf="items.isMandatory">Mandatory</div>
                    <img mat-card-image src="{{ items.cardImg }}" class="avatar1" *ngIf="!items.isMandatory">
                    <img mat-card-image src="{{ items.cardImg }}" class="avatar2" *ngIf="items.isMandatory">
                </div>
                  <mat-card-title>
                      <div class="row content2">
                          <p class="col-sm-11 padding0">{{ items.content }}</p>
                          <i class="fas fa-bookmark col-sm-1 padding0 bookmark"  [ngClass]="{'active' : items.save}" (click)="togglesave(items)"></i>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>{{items.description}}</mat-card-subtitle>

                  <mat-card-content>
                      {{ items.stages }}
                  </mat-card-content>

              </mat-card>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
              <h1 class="sectionRightTitle ">Recently Viewed Bookmarks</h1>
            </div>
            <div class="col-md-12">
              <mat-card class="mat">
                  <ul class="padding0">
                      <li *ngFor="let hashlist of hashtagArray" class="listOfHashTag">
                        <img src="./assets/images/Group_16.png" class="squareimg">
                        <div class="blockhashname">
                          <h4 class="name">#{{hashlist.name}}</h4>
                          <p class="noOfPosts">{{hashlist.time}} ago</p>
                        </div>
                        <button class="roundarrow2"><i class="fas fa-chevron-right"></i></button>
                
                      </li>
                  </ul>
              </mat-card>
            </div>
        </div>
      </div>
    </div>
  </div>

<div class="stickydiv" *ngIf="selectedCount > 0 ">
  <div class="row">
    <div class="selected">
      {{ selectedCount }}
    </div>
    <div class="div123 col-md-8">
      <h3 class="header3">Posts selected</h3>
    </div>
    <div class="col-md-3">
      <button class="roundedbtn" >Create</button>
    </div>
  </div>
</div>
</div>
