ngx-eep-profile {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin: 15px 0;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .image-picker {
    text-align: center;
    align-self: center;
  }

  .profile-info-container {
    display: grid;
    grid-template-columns: 4fr 8fr 4fr;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .profile-image {
    text-align: center;
    position: relative;
    img {
      width: 100%;
      max-width: 170px;
      height: 100%;
      max-height: 200px;
      -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }
  }
  .mandatoryQues {
    color: #e43232;
  }
  .mat-form-field-required-marker {
    color: #e43232;
  }
  mat-radio-button {
    margin-right: 10px;
  }
  .mat-radio-inner-circle {
    background-color: #507bfc !important;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #507bfc !important;
  }
  .matbtn {
    background-color: #008eff;
    color: #fff;
    font-size: 16px;
  }

  .card2 {
    // margin-top: 35px;
    padding: 40px;
  }

  .column2 {
    align-self: center;
  }

  .uploadImage {
    // top: 50%;
    // transform: translateY(30%);
  }

  .actionbtns {
    width: 135px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-top: 15px;
  }

  .grid-content {
    font-size: 20px;
    font-family: "roboto";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .labelWeight {
    font-weight: 300;
  }

  .fieldWeight {
    font-weight: 100 !important;
    font-size: 18px;
  }

  .employee-detail {
    padding: 40px 0;
  }

  .gridWidth {
    width: 80%;
    margin: auto;
  }

  .columnPadding {
    padding: 20px 0;
  }

  .example-full-width {
    width: 100%;
    font-family: "open sans" !important;
    font-size: 18px;
  }

  .trainerOrNot {
    display: grid;
    // margin-top: 50px;
    font-size: 18px;
    width: 100%;
    // padding: 0 20px;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
  }

  .statement {
    margin: 0;
    line-height: 25px;
    text-align: left;
  }

  .radiobtn {
    margin-right: 15px;
    font-size: 18px;
  }

  .stickyRow {
    position: sticky;
    background-color: #fff;
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    // margin-top: 35px;
  }

  .submitbtn {
    // background: #008eff;
    // color: #fff;
    background: var(--colorBgbtn);
    color: var(--colorBtnTxt);
    border: 1px solid var(--colorBtnTxt);
    height: 50px;
    padding: 0 70px;
    font-size: 18px;
    border-radius: 25px;
  }

  .cardPadding0 {
    padding: 0;
  }
  .card_container {
    // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    padding: 0 0 18px;
    // border-bottom: 1px solid #eee;
    color: #000;
  }
  .profileTable {
    width: 100%;
    border: 1px solid #eee;
  }

  .profileTableRow {
    height: 40px;
  }

  .profileTableRow:nth-child(odd) {
    background: #f5f5f5;
  }

  .profileTableHeader {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
  }

  .profileTableData {
    font-size: 16px;
    padding: 7px;
  }

  .courseIcon-upload {
    width: 275px;
    align-self: center;
    margin: auto;
    .courseIcon-edit {
      // position: absolute;
      // // right: 12px;
      // z-index: 1;
      // // top: 10px;
      // left: 13px;
      // bottom: 8px;
      input {
        display: none;
        + label {
          display: inline-block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          margin-bottom: 0;
          border-radius: 100%;
          background: #2196f3;
          border: 1px solid transparent;
          -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px 0px rgba(33, 150, 243, 0.55);
          cursor: pointer;
          font-weight: normal;
          -webkit-transition: all 0.2s ease-in-out;
          /* transition: all .2s ease-in-out; */
          &:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
            color: #757575;
          }
          &:after {
            content: "\f040";
            font-family: "FontAwesome";
            color: #ffffff;
            /* position: absolute; */
            /* top: 10px; */
            /* left: 0; */
            line-height: 30px;
            font-size: 22px;
            /* right: 0; */
            text-align: center;
            margin: auto;
          }
        }
      }
    }

    .courseIcon-preview {
      width: 100%;
      height: 250px;
      position: relative;
      border: 6px solid #f8f8f8;
      border-radius: 100%;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      > img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .font_size_ratio{
      font-size: 14px;
    }
    .courseIcon-delete {
      // position: absolute;
      // // right: 12px;
      // z-index: 1;
      // // bottom: 10px;
      // right: 13px;
      // bottom: 8px;
      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #2196f3;
        border: 1px solid transparent;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 2px 4px 0px #2196f38c;
        cursor: pointer;
        font-weight: normal;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          content: "\f2ed";
          font-family: "FontAwesome";
          color: #ffffff;
          font-size: 22px;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 20px;
    }

    .trainerOrNot {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
    }

    .grid-container2 {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
    }
  }

  .image-crop-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1503;
    background-color: rgba(0, 0, 0, 0.6);
    .image-crop-popup-content {
      width: 40%;
      margin: auto;
      background-color: #fff;
      border-radius: 5px;
      // margin-top: 5%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // transform: translateX(-50%);
      padding: 20px;
      text-align: center;
    }
    .margin20 {
      margin-top: 10px;
    }
    .wrap-content {
      padding: 0;
    }
    .qrbtn {
      text-align: center;
      background: #507bfc;
      padding: 0;
      border: none;
      height: 40px;
      max-width: 200px;
      width: 100%;
      border-radius: 25px;
      color: #fff;
      cursor: pointer;
    }
  }
}
