<!-- <mat-card class="employee-detail">

        <div class="gridWidth">
        <div class="grid-container">
            <div class="grid-content">

              <label class="labelWeight">ECN Number :</label>
              <p class="fieldWeight">{{ employeeDetail.employeeId }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Employee Name :</label>
                <p class="fieldWeight">{{ employeeDetail.employeeName }}</p>

            </div>
        </div>

        <div class="grid-container">
            <div class="grid-content">
                <label class="labelWeight">Contact :</label>
                <p class="fieldWeight">{{ employeeDetail.contact }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Email :</label>
                <p class="fieldWeight">{{ employeeDetail.email }}</p>

            </div>
        </div>

        <div class="grid-container">
            <div class="grid-content">
                <label class="labelWeight">Band :</label>
                <p class="fieldWeight">{{ employeeDetail.band }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Business :</label>
                <p class="fieldWeight">{{ employeeDetail.business }}</p>

            </div>
        </div>

        <div class="grid-container">
            <div class="grid-content">
                <label class="labelWeight">Sub Department :</label>
                <p class="fieldWeight">{{ employeeDetail.subDepartment }}</p>

            </div>
            <div class="grid-content">
                <label class="labelWeight">Reporting Manager :</label>
                <p class="fieldWeight">{{ employeeDetail.reportingManager }}</p>

            </div>
        </div>


        </div>
  </mat-card> -->

  <div class="card_container">
      <table class="profileTable">
        <tr class="profileTableRow">
          <th class="profileTableHeader">ECN Number</th>
          <td class="profileTableData">{{ employeeDetail.ecn }}</td>
          <th class="profileTableHeader">Employee Name</th>
          <td class="profileTableData">{{ employeeDetail.employeeName }}</td>
        </tr>

        <tr class="profileTableRow">
          <th class="profileTableHeader">Contact</th>
          <td class="profileTableData">{{ employeeDetail.contact }}</td>
          <th class="profileTableHeader">Email</th>
          <td class="profileTableData">{{ employeeDetail.email }}</td>
        </tr>

        <tr class="profileTableRow">
          <th class="profileTableHeader">Band</th>
          <td class="profileTableData">{{ employeeDetail.band }}</td>
          <th class="profileTableHeader">Business</th>
          <td class="profileTableData">{{ employeeDetail.business }}</td>
        </tr>

        <tr class="profileTableRow">
          <th class="profileTableHeader">Sub Department</th>
          <td class="profileTableData">{{ employeeDetail.subDepartment }}</td>
          <th class="profileTableHeader">Reporting Manager</th>
          <td class="profileTableData">{{ employeeDetail.reportingManager }}</td>
        </tr>

      </table>
    </div>


    <mat-card class="card2">
      <div class="">

          <div class="profile-image">
              <div *ngIf="!intialImage">
                <img *ngIf= "profileForm.picRef" src={{profileForm.picRef}}>
                <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="fileChangeEvent($event)"
                style="display:none" accept="image/*">
                <div class="coinbtn roundbtn" (click)="fileUpload.click()"><i class="fa fa-camera"
                  aria-hidden="true"></i>
                </div>
              </div>
              <div *ngIf="intialImage">
                  <img [src]="croppedImage">
                  <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="fileChangeEvent($event)" style="display:none"
                  accept="image/*">
                  <div class="coinbtn roundbtn" (click)="fileUpload.click()"><i class="fa fa-camera" aria-hidden="true"></i></div>
              </div>
              <p>Upload Formal Photo<span class="mandatoryQues" ></span></p>
                <!-- &nbsp;* -->
              <!-- <p class="font_size_ratio">Resolution Should be (160px * 160px)</p> -->
            </div>

          <!-- <div class="column2">
            <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel" class="example-full-width">
                <input type="tel" maxlength="10" matInput placeholder="Whatsapp Number" [(ngModel)]="profileForm.contact"  #budgetAlloc="ngModel"
                oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;" required>
                <mat-hint>Contact No. must be 10 digits</mat-hint>
                <mat-error *ngIf="budgetAlloc.hasError('required')">
                           Contact No. is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="trainerOrNot">
                <p class="statement">Have you appeared for any EEP Program before?<span class="mandatoryQues" >&nbsp;*</span></p>
                    <div class="radio_buttons_div">
                      <mat-radio-group name="opList"  [(ngModel)]="chosenItem" >
                        <mat-radio-button *ngFor="let item of itemsList" [value]="item.value" name="opList" (change)="onItemChange(item)">{{ item.name}}</mat-radio-button>
                      </mat-radio-group>
                    </div>
            </div>
          </div> -->
        </div>
    </mat-card>

    <div class="stickyRow" *ngIf ="response_data.status !== 1">
          <button mat-button class="submitbtn" (click)="update(profileForm)">Save Profile</button>

          <!-- <button mat-button class="submitbtn" (click)="updateProfile(profileForm)">Save Profile</button> -->
    </div>

    <div class="image-crop-popup" [hidden]="!selectImage">
        <div class="image-crop-popup-content">
            <div class="wrap-content">
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [resizeToWidth]="500"
                [cropperMinWidth]="500"
                [onlyScaleDown]="true"
                [roundCropper]="true"
                format="png"
                outputType="base64"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"

                [style.display]="showCropper ? null : 'none'">
              </image-cropper>
              <!--   (loadImageFailed)="loadImageFailed()" -->
            </div>
            <button class="qrbtn margin20" (click)="dissmissImageCropPopModal(1)">Upload</button>
            <!-- <button class="qrbtn margin20" (click)="dissmissImageCropPopModal(2)">Delete</button> -->
            <button class="qrbtn margin20" (click)="dissmissImageCropPopModal(3)">Cancel</button>
        </div>


    </div>
