.attendanceCard{
    // padding: 2.25rem 2.25rem 0.75rem !important;
    // background: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // .attendance-content{
    //     display: grid;
    //     grid-template-columns: 2fr 1fr;
    //     align-items: center;
    //     .title-content{
    //         h4{
    //             text-transform: capitalize;
    //             font-size: 20px;
    //             padding: 0;
    //         }
    //     }
    // }
    // .close{
    //     height: 56px;
    //     width: 56px;
    //     background-color: #FFFFFF;
    //     box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    //     border-radius:50%;
    //     text-align: center;
    //     cursor: pointer;
    //     margin-left: auto;
    // }
    // .closeIcon{
    //     margin-top: 31%;
    //     font-size: 25px;
    //     color: #507bfc;
    // }

    // .attendancebtn{
    //     margin: auto;
    //     width: 300px;
    //     height: 45px;
    //     padding: 0;
    //     font-size: 16px;
    //     background: var(--colorBgbtn);
    // color: var(--colorBtnTxt);
    //     border: none;
    //     cursor: pointer;
    //     border-radius: 35px;
    //     box-shadow: 2px 3px 8px #b9d1e8;
    //     outline: none !important;
    // }

    // .attendance-content-div{
    //     max-width: 800px;
    //     width: 100%;
    //     height: 200px;
    //     display: table;
    //     text-align: center;
    //     margin: 0 auto;
    // }
.content-center{
  width: 100%;
  background: #FFF;
  margin: 10px;
  /* border-radius: 10px; */
  border-radius: 6px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
    .innerContent{
        display: table-cell;
        vertical-align: middle;
    }

    .dispmsg{
        margin: 0;
        font-size: 20px;
    }

   @media only screen and (max-width: 650px) {
            .close {
                height: 45px;
                width: 45px;
                .closeIcon{
                    margin-top: 27%;
                    font-size: 20px;
                }
            }


    }

   @media only screen and (max-width: 650px) {
         padding: 0 !important;
        .attendance-content{
            padding: 10px 10px 0;
            align-items: baseline;
        }
        .close{
            height: 20px;
            width: 20px;
            background-color: #FFFFFF;
            -webkit-box-shadow:none;
            box-shadow:none;
            border-radius: 0%;
            text-align: center;
            cursor: pointer;
            margin-left: auto;
            .closeIcon{
                font-size: 21px;
                color: #507bfc;

            }
        }
        .dispmsg{
            font-size: 14px;
        }

        // .attendancebtn{
        //     width: 200px;
        //     height: 35px;
        // }
     }
}

.bodyMidButton {
  height: 40px;
  width: 228px;
  border-radius: 10px;
  // background-color: #008EFF;
  // -webkit-box-shadow: 0 5px 8px 0px #4ca6ff70;
  // box-shadow: 0 5px 8px 0px #4ca6ff70;
  // margin-right: 20px;
  cursor: pointer;
  // color: white;
  font-size: 15px;
  border: none;
  background: var(--colorBgbtn);
  color: var(--colorBtnTxt);
  border: 1px solid var(--colorBtnTxt);
}
