<ngx-quiz *ngIf="showContainer === 'quiz'"  [courseDataContentInput]="courseDataContentInput" [courseDataSummaryInput]="courseDataSummaryInput"  (componentData)="performActionOnChildComponentData($event)"></ngx-quiz>
<ngx-quiz-review  *ngIf="showContainer === 'quiz-review'" [quizSubmitResponse]="quizSubmitResponse" [courseDataContentInput]="courseDataContentInput" [courseDataSummaryInput]="courseDataSummaryInput"  (componentData)="performActionOnChildComponentData($event)"></ngx-quiz-review>

